ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.calendar_style {
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 10px !important;
}
