<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/cb-choose-consumer']"></ion-icon>
          <ion-label>Pick a Date & Time</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-row  color="none">
    <ion-card class="calendar_style" >
      <ion-calendar [(ngModel)]="date" (change)="onChange($event)" [format]="'yyyy-MM-DD'" step="30">
      </ion-calendar>
    </ion-card>
  </ion-row>

  <ion-item lines="none" color="none" class="ts-availability">

    <ion-label>

      Available starting times for

      <span>{{date | dateformat: 'dddd, DD MMMM , yyyy'}}</span>

    </ion-label>

  </ion-item>

  <ion-chip class="cb-select-duration">

    <ion-label>Duration : </ion-label>
    <ion-select interface="action-sheet" okText="Okay" cancelText="Dismiss" [(ngModel)]="duration" (ionChange)="selectDuration()">

      <ion-select-option value="30">30 Minutes</ion-select-option>
      <ion-select-option value="60">60 Minutes</ion-select-option>
    </ion-select>

  </ion-chip>

  <ion-grid>

    <ion-row>




      <ion-col size-sm="4" size-md="3" size-lg="3" size="4" *ngFor="let item of slot">

        <ion-chip class="ts-green" [class.disable]="item.disable" [class.selected_slot]="sel_slot==item.slot" (click)="bookcall(item)">
          <ion-label>{{item.slot}}</ion-label>
        </ion-chip>
      
      </ion-col>

      <!-- <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green" [routerLink]="['/confirm-callbooking']">
          <ion-label>8.30 AM</ion-label>
        </ion-chip>

      </ion-col>

      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green" [routerLink]="['/confirm-callbooking']">
          <ion-label>9.00 AM</ion-label>
        </ion-chip>

      </ion-col>




      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green" [routerLink]="['/confirm-callbooking']">
          <ion-label>9.30 AM</ion-label>
        </ion-chip>

      </ion-col>

      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green" [routerLink]="['/confirm-callbooking']">
          <ion-label>10.00 AM</ion-label>
        </ion-chip>

      </ion-col>

      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green" [routerLink]="['/confirm-callbooking']">
          <ion-label>10.30 AM</ion-label>
        </ion-chip>

      </ion-col>




      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>11.00 AM</ion-label>
        </ion-chip>

      </ion-col>

      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>11.30 AM</ion-label>
        </ion-chip>

      </ion-col>

      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>12.00 PM</ion-label>
        </ion-chip>

      </ion-col>




      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>12.30 PM</ion-label>
        </ion-chip>

      </ion-col>

      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>1.00 PM</ion-label>
        </ion-chip>

      </ion-col>

      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>1.30 PM</ion-label>
        </ion-chip>

      </ion-col>



      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>2.00 PM</ion-label>
        </ion-chip>

      </ion-col>

      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>2.30 PM</ion-label>
        </ion-chip>

      </ion-col>

      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>3.00 PM</ion-label>
        </ion-chip>

      </ion-col>




      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>3.30 PM</ion-label>
        </ion-chip>

      </ion-col>

      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>4.00 PM</ion-label>
        </ion-chip>

      </ion-col>

      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>4.30 PM</ion-label>
        </ion-chip>

      </ion-col>




      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>5.00 PM</ion-label>
        </ion-chip>

      </ion-col>

      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>5.30 PM</ion-label>
        </ion-chip>

      </ion-col>

      <ion-col size-sm="4" size-md="3" size-lg="3" size="4">

        <ion-chip class="ts-green">
          <ion-label>6.00 PM</ion-label>
        </ion-chip>

      </ion-col> -->


    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar (click)="continue()">
    <ion-button class="publish-btn" expand="block">Continue</ion-button>
  </ion-toolbar>
</ion-footer>