ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background: #eee;
}

.calendar_style {
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border: 1px solid #dfdfdf;
    border-radius: 10px !important;
    box-shadow: none !important;
}

ion-footer {
    border-top: 1px solid #e5e5e5;

    .publish-btn {
        max-width: fit-content;
        font-family: "Open Sans", sans-serif;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width:768px) {
    .calendar_style {
        max-width: 45%;
    }
}