<ion-header mode="md" class="ion-header-inner">

  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-label>Contact Info</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end page-close" (click)="dismiss()">
          <ion-icon name="close-circle"></ion-icon>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="data">

  <div class="rv-contact-more-info-sec">

    <div class="contact-info-item">

      <ion-text class="contact-name">{{data.user_details.name}}</ion-text>

      <!----------------------- Contact type clinical --------------------------->

      <!-- <span class="clinical">ABC Clinic</span> -->

      <!----------------------- Contact type clinical --------------------------->

      <!----------------------- Primary representative --------------------------->

      <span class="primary-rep" *ngIf="data.is_primary"><i class="las la-crown"></i> Primary</span>

      <!----------------------- Primary representative --------------------------->



    </div>

    <div class="contact-info-item" *ngIf="data.user_details&&data.user_details.phone">

      <ion-label>Mobile</ion-label>

      <span>{{data.user_details.phone.substring(0,2)==61?data.user_details.phone.slice(2):data.user_details.phone}}</span>

    </div>

    <div class="contact-info-item" *ngIf="data.user_details&&data.user_details.mobile">

      <ion-label>Phone</ion-label>

      <span>{{data.user_details.mobile.substring(0,2)==61?data.user_details.mobile.slice(2):data.user_details.mobile}}</span>

    </div>

    <div class="contact-info-item"
      *ngIf="data.user_details.email&& data.user_details.email.indexOf('centrimlife.com.au') === -1">

      <ion-label>Email</ion-label>

      <span>{{data.user_details.email}}</span>

    </div>

    <div class="contact-info-item" *ngIf="data.address||data.suburb||data.postcode||data.state">

      <ion-label>Address</ion-label>

      <div class="contact-address-box">

        <span *ngIf="data.address">{{data.address}}</span>
        <span *ngIf="data.suburb">{{data.suburb}}</span>
        <span *ngIf="data.postcode">{{data.postcode}}</span>
        <span *ngIf="data.state">{{data.state}}</span>

      </div>
      
    </div>

    <div class="contact-info-item" *ngIf="data.contact_purpose">

      <ion-label>Contact type</ion-label>

      <div class="ct-chip-box">

        <ion-chip class="ct-chip" *ngFor="let type of getContactTypes(data.contact_purpose)">{{type}}</ion-chip>

        <!-- <ion-chip class="ct-chip">Emergency</ion-chip>

        <ion-chip class="ct-chip">Billing</ion-chip>

        <ion-chip class="ct-chip">Clinical</ion-chip>

        <ion-chip class="ct-chip">Legal</ion-chip>

        <ion-chip class="ct-chip">Funeral</ion-chip> -->

      </div>

    </div>

    <div class="contact-info-item" *ngIf="data.contact_role">

      <ion-label>Contact role</ion-label>

      <div class="ct-chip-box">

        <ion-chip class="ct-chip" *ngFor="let type of getContactTypes(data.contact_role)">{{type}}</ion-chip>

        <!-- <ion-chip class="ct-chip">EPOA (Financial)</ion-chip>

        <ion-chip class="ct-chip">EPOA (Medical)</ion-chip>

        <ion-chip class="ct-chip">Supporting Power of Attorney</ion-chip>

        <ion-chip class="ct-chip">Financial power of Attorney</ion-chip>

        <ion-chip class="ct-chip">Public trustee</ion-chip>

        <ion-chip class="ct-chip">VCAT guardianship</ion-chip>

        <ion-chip class="ct-chip">Executor</ion-chip> -->

      </div>

    </div>

    <div class="contact-info-item" *ngIf="data.enduring_powerof_attorney==1||
                                          data.supportive_powerof_attorney==1||
                                          data.financial_powerof_attorney==1||
                                          data.enduring_powerof_atorney_medical==1||
                                          data.enduring_powerof_guardianship==1||
                                          data.public_trustee==1||
                                          data.vcat_guardianship_order==1||
                                          data.executor==1">

      <ion-label>Approved for</ion-label>

      <div class="ct-chip-box">

        <ion-chip class="ct-chip" *ngIf="data.enduring_powerof_attorney==1">Enduring Power of Attorney
          (Personal/Financial) </ion-chip>

        <ion-chip class="ct-chip" *ngIf="data.supportive_powerof_attorney==1">Supportive Power of Attorney</ion-chip>

        <ion-chip class="ct-chip" *ngIf="data.financial_powerof_attorney==1">Financial Power of Attorney</ion-chip>

        <ion-chip class="ct-chip" *ngIf="data.enduring_powerof_atorney_medical==1">Enduring Power of Attorney (Medical
          treatment)</ion-chip>

        <ion-chip class="ct-chip" *ngIf="data.enduring_powerof_guardianship==1">Enduring Power of
          Guardianship</ion-chip>

        <ion-chip class="ct-chip" *ngIf="data.public_trustee==1">Public trustee</ion-chip>

        <ion-chip class="ct-chip" *ngIf="data.vcat_guardianship_order==1">VCAT guardianship order</ion-chip>

        <ion-chip class="ct-chip" *ngIf="data.executor==1">Executor</ion-chip>

      </div>

    </div>

  </div>

</ion-content>