.ion-header-inner {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px 30px 0 0;
    min-height: 70px;

    ion-toolbar {
        --min-height:auto;
    }
}

ion-content {
    --padding-start: 25px;
    --padding-end: 25px;
    --padding-top: 25px;
    --padding-bottom: 25px;
}

.header-ios {
    padding-top: 0 !important;
    padding-bottom: 5px !important;
    --padding-top: 0px !important;
    min-height: unset !important;
}