ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

.time {
    font-size: 12px;
    color: #a6a6a6;
    text-align: right;
    margin-inline-start: 0px;
    max-width: fit-content;
}

.unread {
    font-weight: bold;
}

ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --min-height: auto;
}

.notif_sep {
    border-bottom: 1px dashed #d1d1d1;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.clear-all {
    width: 100%;
    color: #0077b5;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    justify-content: flex-end;
}
