<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" color="none" style="width: 100%;margin-bottom: 10px;">
    <ion-row style="width: 100%; color: #0077b5; font-size: 12px; justify-content: flex-end;" (click)="readAllAlert()">
      Clear All</ion-row>
  </ion-item>

  <ion-item lines="none">
    <ion-grid>
      <div *ngFor="let item of notification ; let idx=index">
        <ion-row class="notif_sep" [class.unread]="item.readstatus==0">
          <ion-item color="none" lines="none" no-padding style="width: 100%;">
            <ion-col class="col_fit" size="2">

              <ion-avatar class="notif_avatar_icon">
                <img [src]="item.notification_icon">
              </ion-avatar>

            </ion-col>

            <ion-col class="col_fit" size="8" (click)="gotoDetails(item,idx)">

              <ion-label text-wrap class="notif_details">{{item.payload}}
                <!-- <b>Michael John</b>  added a story Birthday celebration of Amelia -->
                <span>{{item.created_at}}</span>
              </ion-label>

            </ion-col>

            <ion-col size="1" slot="end" class="time">
              <ion-icon name="close-outline" style="font-size: 20px;" (click)="readItem(item.id,idx)"></ion-icon>
            </ion-col>
          </ion-item>
        </ion-row>
      </div>
    </ion-grid>
  </ion-item>

  <div *ngIf="notification.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-notification-found.svg">
    </ion-thumbnail>

    <ion-item lines="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Notifications Found.</ion-label>
    </ion-item>
  </div>



</ion-content>