<ion-content>

  <div class="din-alertmodal-container">

    <ion-button class="modal-close-btn" (click)="dismiss(1)">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>


    <img class="allergic-info-icon" src="/assets/dining/allergic-info-icon.svg">

    <!-- <p class="allergic-info-sec din-no-border">
      Amelia johnson is on a <span>Diabetic diet</span> but this item is incompatible for this diet type
    </p> -->

    <p class="allergic-info-sec">
      This item contains allergens - <span class="allergic-fi">{{allergic}}</span> to which <span class="din-consumer-name">{{consumer}}</span> is allergic to.
    </p>

    <div class="din-notes">
      <!-- <ion-label>PN: </ion-label> -->
      <ion-label class="ml-5">
         Would you like to override these alerts and still make the selection ?
      </ion-label>
    </div>

    <div class="din-modal-btn-box">

      <ion-button class="din-modal-continue-btn" (click)="dismiss(2)"> YES </ion-button>

      <ion-button class="din-modal-cancel-btn" (click)="dismiss(1)"> NO </ion-button>

    </div>


  </div>

</ion-content>