ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 0px;
}

.din-alertmodal-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    .allergic-info-icon {
        width: 128px;
        height: 128px;
    }

    .allergic-info-sec {
        color: #222;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #d9d9d9;

        span {
            color: #F96700;
        }

        .allergic-fi {
            color: #FF0000;
            white-space: pre-wrap;
            word-break: break-word;
        }

        .din-consumer-name {
            font-weight: 600;
            color: #222;
        }
    }

    .din-no-border {
        border: none !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    .din-notes {
        font-size: 16px;
        line-height: 20px;
        display: flex;
    }
}