ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-button {
  width: 110px;
  height: 40px;
  --border-radius: 50px;
  --box-shadow: none;
  text-transform: none;
  font-weight: normal;
  font-size: 16px;
}

ion-input {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  height: 50px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-textarea {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  min-height: 150px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
}

.header-close-btn {
  font-size: 32px;
  color: #fff;
}
