<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <!-- <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon> -->
          <ion-label>Attended Feedback</ion-label>
        </ion-col>

        <ion-col class="col-fit">

          <ion-icon class="header-close-btn" name="close-circle" (click)="cancel()"></ion-icon>

        </ion-col>

      </ion-row>

    </ion-grid>



  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-radio-group value="visible-to">

      <ion-item class="item-container" color="none" lines="none" (click)="select('Enjoyed activity')">
        <ion-label>Enjoyed activity</ion-label>
        <ion-radio mode='md' slot="start" value="enjoyed-activity"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select('Participated actively')">
        <ion-label>Participated actively</ion-label>
        <ion-radio mode='md' slot="start" value="participated-actively"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none"
        (click)="select('Participated with prompting and encouragement')">
        <ion-label>Participated with prompting and encouragement</ion-label>
        <ion-radio mode='md' slot="start" value="pwith-prompt-encrg"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select('Happy to observe')">
        <ion-label>Happy to observe</ion-label>
        <ion-radio mode='md' slot="start" value="happy-to-observe"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select('Verbally disruptive')">
        <ion-label>Verbally disruptive</ion-label>
        <ion-radio mode='md' slot="start" value="verbally-disruptive"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select('Minimal or no response')">
        <ion-label>Minimal or no response</ion-label>
        <ion-radio mode='md' slot="start" value="min-no-resp"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select('Distracted or unsettled')">
        <ion-label>Distracted or unsettled</ion-label>
        <ion-radio mode='md' slot="start" value="distract-unsettled"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select('No interest')">
        <ion-label>No interest</ion-label>
        <ion-radio mode='md' slot="start" value="no-interest"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select('Other')">
        <ion-label>Other</ion-label>
        <ion-radio mode='md' slot="start" value="other"></ion-radio>
      </ion-item>

    </ion-radio-group>
    <ion-row *ngIf="show_reason">

      <ion-col class="opt-label" size="12">

        <ion-label>Enter feedback</ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input [(ngModel)]="other"></ion-input>

      </ion-col>

    </ion-row>
  </ion-list>

</ion-content>

<ion-footer>

  <ion-row>
    <ion-col size="12">
      <ion-button (click)="dismiss()">Done</ion-button>
      <ion-button class="cancel-btn" (click)="cancel()">Cancel </ion-button>
    </ion-col>
  </ion-row>

</ion-footer>