<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/resident-profile',{id:cid,flag:flag}]">
          </ion-icon>
          <ion-label>{{name}}'s Overview</ion-label>
        </ion-col>
        <ion-buttons slot="end" style="padding-inline-end: 15px;">

          <!-- <ion-col>
            <ion-button class="header_btn_bg" (click)="openCalendar()">
              <ion-icon name="calendar-outline" style="color: white;"></ion-icon>
            </ion-button>
          </ion-col> -->
          </ion-buttons>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

 

  <!-- <div class="ro-select-date-sec">

    <div class="ro-date-sec">

      <ion-icon name="chevron-back-outline"></ion-icon>

      <ion-label>24 March 2022</ion-label>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </div>

    <ion-button class="ro-month-select-sec-btn">

      <i class="las la-calendar"></i>

    </ion-button>

  </div>


  <ion-row>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

      <ion-card class="overview-item-card">

        <ion-card-header class="overview-type ot-activity">

          <ion-label>
            <ion-icon name="time-outline"></ion-icon>
            09 AM-10 AM
          </ion-label>

          <ion-label>
            <ion-icon name="pulse-outline"></ion-icon>
            Activity
          </ion-label>

        </ion-card-header>

        <ion-card-content>

          <div class="mc-box">

            <ion-label>
              John Abraham's 100th Birthday
              celebration
            </ion-label>

          </div>

          <div class="act-details-box">

            <ion-chip class="activity-type act-social">
              <i class="las la-glass-martini-alt"></i>
              <ion-label>Social</ion-label>
            </ion-chip>

            <ion-label class="act-status as-declined">
              <ion-icon name="close-circle-sharp"></ion-icon>
              Declined
            </ion-label>

          </div>

          <div class="activity-comment">

            <ion-label>
              Lorem ipsum dolor sit amet consectetur,
              adipisicing elit.
            </ion-label>

          </div>

        </ion-card-content>


      </ion-card>

    </ion-col>

   

    <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

      <ion-card class="overview-item-card">

        <ion-card-header class="overview-type ot-dining">

          <ion-label>
            <ion-icon name="time-outline"></ion-icon>
            01 PM-2 PM
          </ion-label>

          <ion-label>
            <i class="las la-utensils"></i>
            Dining
          </ion-label>

        </ion-card-header>

        <ion-card-content>

          <div class="mc-box">

            <ion-label>
              Lunch
            </ion-label>

            <ion-label class="din-dishes">
              Chicken fried rice, Ice cream, Tea, Juice <span class="more-count">+5 More</span>
            </ion-label>

          </div>

          <div class="din-refused-ib">

            <ion-label class="din-refused-reason">
              Too unwell to eat
            </ion-label>

            <ion-label class="din-status din-declined">
              <ion-icon name="close-circle-sharp"></ion-icon>
              Declined
            </ion-label>

          </div>

        </ion-card-content>


      </ion-card>

    </ion-col>

    <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

      <ion-card class="overview-item-card">

        <ion-card-header class="overview-type ot-visitor">

          <ion-label>
            <i class="las la-clone"></i>
            Visitor
          </ion-label>

        </ion-card-header>

        <ion-card-content>

          <div class="mc-box-v">

            <div class="checkin-time-sec">

              <ion-label>Checkin</ion-label>

              <ion-label class="checkin-time">

                <ion-icon name="time-outline"></ion-icon>
                04 PM

              </ion-label>

            </div>

            <div class="checkout-time-sec">

              <ion-label>Checkout</ion-label>

              <ion-label class="checkout-time">

                <ion-icon name="time-outline"></ion-icon>
                5 PM

              </ion-label>

            </div>

          </div>


          <div class="visitor-details-box">

            <ion-label class="visitors-name-sec">
              Adrian Mayo
            </ion-label>

            <ion-label class="visitors-name-sec">
              John Doe
            </ion-label>

            <span class="more-count">+2 More</span>

          </div>

        </ion-card-content>


      </ion-card>

    </ion-col>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

      <ion-card class="overview-item-card">

        <ion-card-header class="overview-type ot-visit-booking">

          <ion-label>
            <ion-icon name="time-outline"></ion-icon>
            10 AM-11 AM
          </ion-label>

          <ion-label>
            <i class="las la-calendar-plus"></i>
            Visitor
          </ion-label>

        </ion-card-header>

        <ion-card-content>

          <div class="mc-box-v">

           

            <div class="vb-info-box">
              <ion-label class="vb-title">Booking</ion-label>
            </div>

          </div>


          <div class="visitor-details-box">

            <ion-label class="visitors-name-sec">
              Adrian Mayo
            </ion-label>

            <ion-label class="visitors-name-sec">
              John Doe
            </ion-label>

            <span class="more-count">+2 More</span>

          </div>

        </ion-card-content>

      </ion-card>

    </ion-col>

  </ion-row> -->



  <!-- <ion-calendar [(ngModel)]="date" (change)="onChange($event)" [format]="'DD MMM YYYY'" step="30" [options]="options"
    *ngIf="calendarView">
  </ion-calendar> 
  <ion-item lines="none" color="none" *ngIf="!calendarView">
    <ion-label class="activity_date_head">
      {{date|dateformat:'MMMM'}} <span>{{date|dateformat:'YYYY'}}</span></ion-label>
  </ion-item>
  <ion-item style="margin: 5px 0 15px;" lines="none" color="none" ion-no-padding *ngIf="!calendarView&&this.week.length">
    <ion-icon class="left_arrow" slot="start" ion-no-padding (click)="slidePrev(sliderOne,slideWithNav)"
      [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
  <ion-row text-center ion-no-padding class="mlr_auto week_container">
    <ion-col ion-no-padding style="align-content: center; display: flex;">
      <ion-slides [options]="slideOptsOne" #slideWithNav (ionSlidesDidLoad)="slidesLoaded($event)" (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
        <ion-slide *ngFor="let item of sliderOne.week; let idx = index" style="width: fit-content;">
          <ion-card [class.date_card]="idx != currentDate" ion-no-padding (click)="setDate(item,idx)"
            [class.current_date]="idx === currentDate">
            <ion-item lines="none" color="none">
              <ion-label class="activity_date">
                
                {{item|dateformat:'ddd'}}
                <span>
                  
                  {{item|dateformat:'DD'}}
                </span>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-icon class="right_arrow" slot="end" ion-no-padding (click)="slideNext(sliderOne,slideWithNav)"
  [class.disabled]="sliderOne.isEndSlide"></ion-icon>

</ion-item> -->

<div class="profile-details-box">

  <ion-avatar>

    <img [src]="img">

  </ion-avatar>

  <ion-label class="consumer-name">{{name}}</ion-label>

  <!-- <ion-label class="agedcare-name">ABC Agedcare</ion-label>

  <ion-label class="room-wingname">220 B, Apple Blossom</ion-label> -->

  <ion-label class="rw-sec"> <i class="las la-building"></i> {{room}}, {{wing}} </ion-label>

  <ion-label class="loc"> <i class="las la-map-marker"></i> {{branch}} </ion-label>

  <!-- <ion-button class="reset-password-btn" [routerLink]="['/resetpassword',{flag:2,id:id,user_id:cid}]" *ngIf="edit">Reset password</ion-button> -->

</div>


<div class="ro-select-date-sec">

  <div class="ro-date-sec">

    <ion-icon name="chevron-back-outline" (click)="previous()"></ion-icon>

    <ion-label>{{date | dateformat:'DD MMMM YYYY'}}</ion-label>

    <ion-icon name="chevron-forward-outline" (click)="next()"></ion-icon>

  </div>

  <ion-button class="ro-month-select-sec-btn" (click)="openCalendar()">

    <i class="las la-calendar"></i>

  </ion-button>

</div>

<ion-calendar [(ngModel)]="date" (change)="onChange($event)" [format]="'DD MMM YYYY'" step="30" [options]="options"
    *ngIf="calendarView">
  </ion-calendar>

  <ion-row>

    <ng-container *ngIf="activity&&activity.length">

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="category-title-sec">
        <ion-label class="category-title">Activity</ion-label>
      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngFor="let item of activity">

        <ion-card class="overview-item-card" (click)="showDetails(item)">

          <ion-card-header class="overview-type ot-activity">

            <ion-label>
              <ion-icon name="time-outline"></ion-icon>
              {{item.start_time}}-{{item.end_time}}
            </ion-label>

            <ion-label>
              <ion-icon name="pulse-outline"></ion-icon>
              <!-- Activity -->
            </ion-label>

          </ion-card-header>

          <ion-card-content>

            <div class="mc-box">

              <ion-label>
                {{item.title}}
              </ion-label>

            </div>

            <div class="act-details-box">

              <ion-chip class="activity-type" [class.act-social]="item.type.type_name=='Social'"
                [class.act-physical]="item.type.type_name=='Physical'"
                [class.act-spiritual]="item.type.type_name=='Spiritual'"
                [class.act-emotional]="item.type.type_name=='Emotional'"
                [class.act-cognitive]="item.type.type_name=='Cognitive'" [class.act-trip]="item.type.type_name=='Trip'"
                [class.act-entertainment]="item.type.type_name=='Entertainment'"
                [class.act-event]="item.type.type_name=='Event'" [class.act-meeting]="item.type.type_name=='Meeting'"
                [class.act-other]="item.type.type_name=='Other'">
                <i class="{{item.type.icon}}"></i>
                <link rel="stylesheet"
                  href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
                <ion-label>{{item.type.type_name}}</ion-label>
              </ion-chip>

              <ion-label class="act-status as-declined" *ngIf="item.assigned_residents[0].action==2">
                <ion-icon name="close-circle-sharp"></ion-icon>
                Declined
              </ion-label>

              <ion-label class="act-status as-attended" *ngIf="item.assigned_residents[0].action==1">
                <ion-icon name="checkmark-circle"></ion-icon>
                Attended
              </ion-label>

              <ion-label class="act-status assigned-label" *ngIf="!item.assigned_residents[0].action">
                <ion-icon name="ellipse" class="assigned-icon"></ion-icon>
                Assigned
              </ion-label>

            </div>

            <div class="activity-comment">

              <ion-label>
                {{item.activity_info}}
              </ion-label>

            </div>

          </ion-card-content>


        </ion-card>

      </ion-col>

    </ng-container>
    <ng-container *ngIf="dining&&dining.length">
      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="category-title-sec">
        <ion-label class="category-title">Dining</ion-label>
      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngFor="let item of dining">

        <ion-card class="overview-item-card" (click)="showDiningDetails(item)">

          <ion-card-header class="overview-type ot-dining">

            <ion-label *ngIf="item.servingtime">
              <ion-icon name="time-outline"></ion-icon>
              {{item.serve_date+' '+item.servingtime.start_time |dateformat:'hh:mm A'}} -
              {{item.serve_date+' '+item.servingtime.end_time|dateformat:'hh:mm A'}}
            </ion-label>

            <ion-label>
              <i class="las la-utensils"></i>
              Dining
            </ion-label>

          </ion-card-header>

          <ion-card-content>

            <div class="mc-box">

              <ion-label>
                {{item.servingtime.servingtime}}
              </ion-label>

              <ion-label class="din-dishes">
                {{showDiningItems(item)}}
                <span class="more-count" *ngIf="getItemCount(item)">+{{getItemCount(item)}} More</span>
              </ion-label>

            </div>

            <div class="din-refused-ib" *ngIf="item.refuse_status==1">

              <div class="din-rr-box">

                <ion-label class="din-refused-reason">
                  {{item.refuse_reason}}
                </ion-label>
                <ion-label class="din-refused-reason">
                  {{item.refuse_comment}}
                </ion-label>

              </div>

              <ion-label class="din-status din-declined">
                <ion-icon name="close-circle-sharp"></ion-icon>
                Declined
              </ion-label>

            </div>

            <div class="din-refused-ib" *ngIf="item.skipped==1">



              <ion-label class="din-status din-declined">
                <ion-icon name="close-circle-sharp"></ion-icon>
                Skipped
              </ion-label>

            </div>

            <div class="din-refused-ib" *ngIf="served(item)">

              <ion-label class="din-status din-served">
                <ion-icon name="checkmark-outline"></ion-icon>
                Served
              </ion-label>

            </div>

          </ion-card-content>


        </ion-card>

      </ion-col>
    </ng-container>
    <ng-container *ngIf="visitors&&visitors.length">
      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="category-title-sec">
        <ion-label class="category-title">Visitor</ion-label>
      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngFor="let item of visitors">

        <ion-card class="overview-item-card">

          <ion-card-header class="overview-type ot-visitor">

            <ion-label>
              <i class="las la-clone"></i>
              Visitor
            </ion-label>

          </ion-card-header>

          <ion-card-content>

            <div class="mc-box-v">

              <div class="checkin-time-sec">

                <ion-label>Checkin</ion-label>

                <ion-label class="checkin-time">

                  <ion-icon name="time-outline"></ion-icon>
                  {{item.checkin_time|dateformat:'hh:mm A'}}

                </ion-label>

              </div>

              <div class="checkout-time-sec">

                <ion-label>Checkout</ion-label>

                <ion-label class="checkout-time">

                  <ion-icon name="time-outline"></ion-icon>
                  <ng-container *ngIf="item.checkout_time">
                    {{item.checkout_time|dateformat:'hh:mm A'}}
                  </ng-container>
                </ion-label>

              </div>

            </div>


            <div class="visitor-details-box">

              <ion-label class="visitors-name-sec">
                {{item.name}}
              </ion-label>


              <span class="more-count" *ngIf="item.child_visitors&&item.child_visitors.length"
                (click)="showVisitors(item.child_visitors)">+{{item.child_visitors.length}} More</span>

            </div>

          </ion-card-content>


        </ion-card>

      </ion-col>
    </ng-container>
    <ng-container *ngIf="booking&&booking.length">
      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="category-title-sec">
        <ion-label class="category-title">Booking</ion-label>
      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of booking">

        <ion-card class="overview-item-card">

          <ion-card-header class="overview-type ot-visit-booking">

            <ion-label>
              <ion-icon name="time-outline"></ion-icon>
              {{item.start_time|dateformat:'hh:mm A'}} - {{item.end_time|dateformat:'hh:mm A'}}
            </ion-label>

            <ion-label>
              <i class="las la-calendar-plus"></i>
              Visitor
            </ion-label>

          </ion-card-header>

          <ion-card-content>

            <div class="mc-box-v">
            </div>

            <ion-label class="act-status visit-label" *ngIf="item.type==1">
              Person visit
            </ion-label>

            <ion-label class="act-status visit-label" *ngIf="item.type==0">
              Window visit
            </ion-label>

            <div class="visitor-details-box" *ngIf="item.family&&item.family.length">
              
              <ion-label class="visitors-name-sec" *ngFor="let vis of item.family">
                {{vis.contact.user_details.name}}
              </ion-label>
              
              <!-- <ion-label class="visitors-name-sec">
              John Doe
            </ion-label> -->

              <span class="more-count" *ngIf="item.other_visitor_list&&item.other_visitor_list.length"
                (click)="showOtherVisitors(item.other_visitor_list,1)">+{{item.other_visitor_list.length}} More</span>

            </div>


            <div class="visitor-details-box" *ngIf="(!item.family||!item.family.length)&&item.other_visitor_list">
              
              <ion-label class="visitors-name-sec">
                {{item.other_visitor_list[0].visitor_name}}
              </ion-label>
              
              <!-- <ion-label class="visitors-name-sec">
              John Doe
            </ion-label> -->

              <span class="more-count" *ngIf="item.other_visitor_list&&item.other_visitor_list.length>1"
                (click)="showOtherVisitors(item.other_visitor_list,2)">+{{item.other_visitor_list.length-1}} More</span>

            </div>

          </ion-card-content>

        </ion-card>

      </ion-col>
    </ng-container>




  </ion-row>

  <div *ngIf="activity.length==0 && dining.length==0 && visitors.length==0 && booking.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-data-icon.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Data Found</ion-label>
    </ion-item>
  </div>


</ion-content>