// ion-header {
//     padding: 45px 25px 0px;

//     ion-icon {
//         font-size: 25px;
//         color: #0077B5;
//     }
// }

// .ion-header-inner {
//     // background: transparent;
//     min-height: 90px;
//     padding: 15px 15px 0;
//     color: #222;
//     align-self: center;
//     align-items: center;
//     align-content: center;
//     display: flex;
//     box-shadow: none;
// }

ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --background: #eee;

    .back-arrow {
        font-size: 25px;
        color: #0077b5;
        margin-top: 30px;
    }

    .profile-details-box {
        background: #0077b5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 120px;
        padding: 15px 20px;
        color: #fff;
        border-radius: 15px;
        text-align: center;
        margin-top: 45px;
        margin-bottom: 10px;

        ion-avatar {
            width: 100px;
            height: 100px;
            border: 5px solid #fff;
            position: absolute;
            top: 10px;
        }

        .consumer-name {
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            display: block;
            margin-top: 45px;
        }

        .agedcare-name {
            font-size: 14px;
            color: #fff;
            display: block;
            margin-top: 2px;
        }

        .room-wingname {
            font-size: 14px;
            color: #fff;
            display: block;
            margin-top: 2px;
        }

        .profile-switch-box {
            position: absolute;
            right: 30px;
            top: 95px;

            .profile-switch-btn {
                width: 35px;
                height: 35px;
                margin-left: auto;
                margin-bottom: 0;
                color: #0077b5;
                font-size: 25px;
                --background: #fff;
                --border-radius: 50px;
                --padding-start: 5px;
                --padding-end: 5px;
                display: block;
            }

            ion-label {
                font-size: 10px;
                color: #fff;
                opacity: 0.6;
            }
        }

        .reset-password-btn {
            --background: #a9e1ff;
            --box-shadow: none;
            --border-radius: 50px;
            text-transform: none;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: normal;
            color: #0077b5;
            margin-top: 10px;
        }
    }

    .overview-count-card {
        height: 100%;
        margin: 5px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
            width: 60px;
            height: 60px;
        }

        .oc-info-sec {
            height: 100%;
            display: flex;
            flex-direction: column;

            .overview-count {
                color: #707070;
                font-size: 20px;
                font-weight: 600;
                margin-top: 15px;
            }

            .label-ah {
                color: #0daf9f;
            }

            .label-mr {
                color: #ffb604;
            }

            .label-visitors {
                color: #e81b66;
            }

            .overview-info {
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                color: #707070;
                margin-top: 5px;
            }
        }
    }

    .ro-segment {
        color: #707070;
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 2px solid #d8d8d8;

        ion-segment-button {
            text-transform: none;
            font-size: 16px;
            letter-spacing: normal;
            --color-checked: #0077b5;
            --indicator-color: #0077b5;
            --indicator-height: 3px;
        }
    }

    .ro-select-date-sec {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

        .ro-date-sec {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-icon {
                font-size: 25px;
                color: #707070;
            }

            ion-label {
                font-size: 18px;
                font-weight: 600;
                color: #707070;
                margin: 0 25px;
            }
        }

        .ro-month-select-sec-btn {
            width: 35px;
            height: 35px;
            margin-left: 10px;
            margin-bottom: 0;
            color: #707070;
            --background: #efefef;
            --border-radius: 50px;
            --box-shadow: none;
            --padding-start: 5px;
            --padding-end: 5px;

            i {
                font-size: 25px;
                color: #707070;
            }
        }
    }

    .overview-item-card {
        box-shadow: none !important;
        border: 1px solid #dfdfdf;
        margin-bottom: 5px !important;

        ion-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #efefef;
            padding: 10px 15px;

            ion-icon {
                font-size: 22px;
                margin-right: 5px;
                vertical-align: middle;
            }

            i {
                font-size: 22px;
                margin-right: 5px;
                vertical-align: middle;
            }

            ion-label {
                font-size: 16px;
                display: flex;
                align-items: center;
            }
        }

        .ot-activity {
            background: #cfefec;

            ion-icon,
            i,
            ion-label {
                //     color: #646464;
                color: #646464;
            }
        }

        .ot-dining {
            background: #fef1ce;

            ion-icon,
            i,
            ion-label {
                color: #ffab04;
            }
        }

        .ot-visitor {
            background: #fcdee9;

            ion-icon,
            i,
            ion-label {
                color: #cc3e71;
            }
        }

        .ot-visit-booking {
            background: #dfffe2;

            ion-icon,
            i,
            ion-label {
                color: #55955b;
            }
        }

        ion-card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;

            .mc-box {
                display: block;
                width: 100%;

                ion-label {
                    font-size: 17px;
                    font-weight: 500;
                    color: #222;
                    line-height: 20px;
                }

                .din-dishes {
                    font-size: 15px;
                    font-weight: normal;
                    color: #707070;
                    display: block;
                    margin-top: 10px;

                    .more-count {
                        display: block;
                        color: #0077b5;
                        background: #daf2ff;
                        max-width: fit-content;
                        padding: 2px 10px;
                        border-radius: 50px;
                        font-size: 13px;
                        margin-top: 6px;
                    }
                }
            }

            .mc-box-v {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .checkin-time-sec {
                    ion-label {
                        display: block;
                        font-size: 15px;
                        color: #707070;
                        margin-bottom: 5px;
                    }

                    .checkin-time {
                        color: #222;
                        font-size: 15px;

                        ion-icon {
                            font-size: 22px;
                            vertical-align: middle;
                            color: #707070;
                            margin-right: 5px;
                        }
                    }
                }

                .checkout-time-sec {
                    ion-label {
                        display: block;
                        font-size: 15px;
                        color: #707070;
                        margin-bottom: 5px;
                    }

                    .checkout-time {
                        color: #222;
                        font-size: 15px;

                        ion-icon {
                            font-size: 22px;
                            vertical-align: middle;
                            color: #707070;
                            margin-right: 5px;
                        }
                    }
                }

                .vb-info-box {
                    .vb-title {
                        color: #222;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }

            .act-details-box {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                ion-chip {
                    padding: 10px 12px;
                    color: #707070;
                    margin: 0;
                    height: 30px;

                    i {
                        font-size: 18px;
                        vertical-align: middle;
                    }

                    ion-label {
                        font-family: "Open Sans", sans-serif;
                        font-size: 13px;
                        margin-left: 5px;
                    }
                }

                .act-status {
                    color: #707070;
                    font-family: "Open Sans", sans-serif;
                    font-size: 14px;

                    ion-icon {
                        font-size: 22px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }

                    .assigned-icon {
                        font-size: 8px;
                        color: #2ac940;
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                }

                .act-social {
                    background: #fbddf9;
                    color: #a20082;
                }

                .act-physical {
                    background: #ffd6db;
                    color: #e2001e;
                }

                .act-spiritual {
                    background: #aeffd5;
                    color: #187a57;
                }

                .act-emotional {
                    background: #ffe5d8;
                    color: #e25900;
                }

                .act-cognitive {
                    background: #dfecff;
                    color: #0965a1;
                }

                .act-trip {
                    background: #fff1bc;
                    color: #725a00;
                }

                .act-entertainment {
                    background: #b1ffff;
                    color: #006064;
                }

                .act-event {
                    background: #ffd1d1;
                    color: #610000;
                }

                .act-meeting {
                    background: #e7e4fd;
                    color: #0f00a2;
                }

                .act-other {
                    background: #ffd8f6;
                    color: #f300d3;
                }

                .as-declined {
                    color: #222;

                    ion-icon {
                        color: #ff0000;
                    }
                }

                .as-attended {
                    color: #222;

                    ion-icon {
                        color: #1cb300;
                    }
                }
            }

            .activity-comment {
                border-top: 1px dashed #c7c7c7;
                margin-top: 15px;
                padding-top: 10px;
                width: 100%;

                ion-label {
                    font-family: "Open Sans", sans-serif;
                    font-size: 15px;
                    color: #707070;
                    line-height: 18px;
                    text-align: justify;
                }
            }

            .din-refused-ib {
                border-top: 1px dashed #c7c7c7;
                margin-top: 10px;
                padding-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .din-refused-reason {
                    font-size: 15px;
                    color: #ff5100;
                    max-width: 65%;
                }

                .din-status {
                    color: #707070;
                    font-size: 14px;
                    max-width: 33%;

                    ion-icon {
                        font-size: 22px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                }
            }

            .visitor-info-box {
                background: #f5f5f5;
                border-radius: 10px;
                padding: 10px;
                display: flex;
                align-items: center;
                width: 100%;
                margin-top: 10px;

                ion-avatar {
                    width: 35px;
                    height: 35px;
                    background: #e8e8e8;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 25px;
                        color: #707070;
                    }
                }

                ion-label {
                    font-size: 16px;
                    color: #222;
                    margin-left: 15px;
                }

                .more-visitors {
                    color: #673ab7;
                    background: #e7daff;
                    padding: 5px;
                    border-radius: 26px;
                    position: absolute;
                    right: 5px;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    font-weight: 600;
                }
            }

            .visitor-details-box {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                align-items: center;

                .visitors-name-sec {
                    font-size: 15px;
                    font-weight: normal;
                    color: #707070;
                    // display: block;
                    // margin-top: 10px;
                    margin: 10px 5px 5px;
                    border: 1px solid #e2e2e2;
                    padding: 5px 10px;
                    border-radius: 6px;
                }

                .more-count {
                    // display: block;
                    color: #0077b5;
                    background: #daf2ff;
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    padding: 2px 10px;
                    border-radius: 50px;
                    font-size: 13px;
                    margin-top: 6px;
                    margin-left: 5px;
                }
            }
        }
    }

    @media only screen and (min-width: 320px) and (max-width: 767px) {
        .overview-item-card {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;

            .act-details-box {
                .activity-type {
                    display: none;
                }
            }

            .activity-comment {
                display: none;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .overview-item-card {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 5px !important;
            margin-right: 5px !important;
            padding: 0px !important;
            height: 100%;

            ion-card-header {
                padding: 15px;
            }

            ion-card-content {
                .activity-comment {
                    ion-label {
                        font-size: 16px;
                    }
                }

                .mc-box {
                    .din-dishes {
                        font-size: 16px;
                    }
                }
            }
        }

        .overview-count-card {
            height: 100%;
            margin: 10px !important;
            padding: 30px !important;

            img {
                width: 80px;
                height: 80px;
            }

            .overview-count {
                font-size: 25px !important;
            }

            .overview-info {
                font-size: 18px !important;
            }
        }

        .ro-segment {
            margin-top: 20px;

            ion-segment-button {
                font-size: 20px;
            }
        }

        .ro-select-date-sec {
            margin-top: 20px;
        }

        .no_padding_inline ion-row,
        ion-col {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.category-title-sec {
    margin-top: 5px;
    margin-bottom: 15px;

    .category-title {
        font-size: 18px;
        font-weight: 500;
        color: #464855;
    }
}

.visit-label {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    margin-right: auto;
}

.week_container {
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
    overflow-y: hidden;
    overflow-x: scroll !important;

    ::-webkit-scrollbar {
        display: none !important;
    }
}

.inner-header-1.ios.header-ios.header-collapse-none.hydrated {
    padding-top: 45px !important;
}

.date_card ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
}

.activity_date_head {
    padding-top: 0;
}

.current_date {
    --ion-background-color: #0077b5 !important;
    --background: #0077b5;
    background-color: #0077b5 !important;
    box-shadow: none !important;
    margin: 3px !important;
    border-radius: 10px !important;
    width: 80px;
    position: relative;
    padding: 0px !important;
    height: 75px;

    .activity_date {
        color: #fff !important;
        white-space: pre-line !important;

        span {
            color: #fff !important;
        }
    }

    span {
        color: #fff !important;
    }

    ion-item {
        --inner-padding-end: 10px;
        --padding-start: 10px;
        --background: #0077b5 !important;
    }
}

.date_card {
    --ion-background-color: #f0f0f0;
    --background: #f0f0f0 !important;
    background-color: #f0f0f0 !important;
    box-shadow: none !important;
    margin: 3px;
    border-radius: 10px !important;
    width: 80px;
    height: 75px;
    position: relative;

    ion-item {
        background-color: #f0f0f0 !important;
        --background: #f0f0f0 !important;
        background: #f0f0f0 !important;
    }
}

.activity_date {
    font-size: 16px !important;
    font-weight: normal !important;
    text-align: center !important;
    color: #858585 !important;
    display: block !important;

    span {
        font-size: 20px !important;
        // font-weight: bold !important;
        font-weight: 500 !important;
        text-align: center !important;
        color: #6c6c6c !important;
        display: block !important;
    }
}

.activity_card {
    margin-top: 0px;
    width: 85%;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 10px;
    padding: 10px !important;
}

.mlr_auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.activity_date_head {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #484848;
}

.rw-sec {
    font-family: "Roboto", sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.loc {
    font-family: "Roboto", sans-serif;
}