ion-item {
    width: 100%;
    --min-height: 30px;
    --padding-start: 15px;
    --inner-padding-end: 40px;
    --padding-top: 10px;
    --padding-bottom: 5px;

    &:nth-child(2) {
        --padding-top: 0px;
        --padding-bottom: 10px;
    }

    ion-label {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: normal;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
        align-self: center;
        padding: 0px !important;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-inline-end: 0px;
    }
}
