<ion-item lines="none" color="none">
  <ion-label (click)="dismiss(1)">Edit</ion-label>
</ion-item>

<ion-item lines="none" color="none">
  <ion-label (click)="dismiss(2)">Delete</ion-label>
</ion-item>