<ion-content>

  <ion-item color="none" lines="none" (click)="select(6)">
    <ion-label class="act_filter">All</ion-label>
  </ion-item>

  <ion-item color="none" lines="none" (click)="select(1)">
    <ion-label class="act_filter">Today</ion-label>
  </ion-item>

  <ion-item color="none" lines="none" (click)="select(2)">
    <ion-label class="act_filter">Tomorrow</ion-label>
  </ion-item>

  <ion-item color="none" lines="none" (click)="select(3)">
    <ion-label class="act_filter">This week</ion-label>
  </ion-item>

  <ion-item color="none" lines="none" (click)="select(4)">
    <ion-label class="act_filter">This month</ion-label>
  </ion-item>

  <ion-item color="none" lines="none" (click)="select(5)">
    <ion-label class="act_filter">Next month</ion-label>
  </ion-item>

</ion-content>