ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.header-buttons ion-icon {
  background-color: #0077B5;
  border-radius: 50px;
  max-width: 50px;
  max-height: 50px;
  padding: 7px;
  font-size: 23px !important;
  margin-left: 8px;
  vertical-align: middle;
}

.ion-header-inner ion-col {
  margin: 5px 0px;
}

.week_container {
  flex-wrap: nowrap !important;
  white-space: nowrap !important;
  overflow-y: hidden;
  overflow-x: scroll !important;
}

.week_container ::-webkit-scrollbar {
  display: none !important;
}

ion-card-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

ion-card-content ion-chip {
  margin: 0px;
}

ion-calendar {
  height: 90px;
}

ion-calendar div:title {
  font-weight: bold;
  color: #a32d2d;
}

ion-calendar :host(.button-clear) {
  --background-activated: #000;
}

.wing_change_select {
  background-color: #0077B5;
  border-radius: 30px;
  padding: 10px 15px 10px 45px;
  color: #fff;
  font-size: 16px;
  --placeholder-opacity: 1;
}

.staff_change_select {
  background-color: #0077B5;
  border-radius: 30px;
  padding: 10px 15px 10px 45px;
  color: #fff;
  font-size: 16px;
  --placeholder-opacity: 1;
  margin-left: 8px;
  max-width: fit-content;
}

.act_calendar {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 100% !important;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.act_calendar ion-grid {
  padding-inline-start: 0px !important;
  padding-inline-end: 0px !important;
}

.act_calendar ion-grid ion-row ion-col {
  padding-inline-start: 0px !important;
  padding-inline-end: 0px !important;
}

@media screen and (max-width: 767px) {
  .dis-none {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .activity_description ion-col:first-child {
    justify-content: center;
    align-self: center;
  }
  .activity_description ion-col:first-child ion-label {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 18px;
  }
}

.wing-icon1 {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 7px;
  left: 9px;
  z-index: 99999;
}

.staff-icon1 {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 7px;
  left: 20px;
  z-index: 99999;
}

@media only screen and (min-width: 768px) {
  .act-head-col-sec {
    max-width: 150px;
  }
}

.dflex-flexend {
  display: flex;
  justify-content: flex-end;
}
