ion-header {
    .act-head-col-sec {
        position: relative;
        max-width: fit-content;

        .wing_change_select {
            background-color: #2d95cb;
            border-radius: 30px;
            padding: 6px 15px 6px 45px;
            color: #fff;
            font-size: 16px;
            --placeholder-opacity: 1;
        }

        .wing-icon1 {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 6px;
            left: 7px;
            z-index: 99999;
        }

        .staff-icon1 {
            width: 40px;
            height: 40px;
            position: unset;
            z-index: 99999;
            margin: 0 12px 0 20px;
            display: block;
        }
    }
}

.header-buttons {
    ion-icon, i {
        background-color: #2d95cb;
        border-radius: 50px;
        max-width: 50px;
        max-height: 50px;
        padding: 7px;
        font-size: 23px !important;
        margin-left: 8px;
        vertical-align: middle;
    }
}

.ion-header-inner {
    ion-col {
        margin: 5px 0px;
        padding: 0px !important;
        align-self: center !important;
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 75px;
    --padding-bottom: 20px;
    --background: #eee;
}

.fixed-top-sec {
    padding: 15px;
    min-width: 100%;
    background: #fff;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    top: 0;
    right: 0;

    ion-item {
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --min-height: auto;
        width: 100%;

        ion-checkbox {
            width: 22px;
            height: 22px;
            margin-top: 0;
            margin-bottom: 0;
            vertical-align: middle;
            --border-color: #ababab;
            --background-checked: #0077b5;
            --border-color-checked: #0077b5;
        }

        ion-label {
            margin-left: 5px;
            margin-top: 0;
            margin-bottom: 0;
            vertical-align: middle;
            color: #222;
            font-size: 16px;
            font-family: "Roboto", sans-serif;
        }

        ion-toggle {
            float: left;
            width: 50px;
            height: 25px;
            padding-inline: 0;
            border-radius: 50px;
            margin-right: 0;
            margin-bottom: 0;
            padding: 0;
            --background: #c8cfda;
            --background-checked: #c9edff;
            --handle-background-checked: #0077b5;
            --handle-width: 20px;
            --handle-height: 20px;
            --handle-background: #fff;
            --ion-color-base: #0077b5 !important;
            --handle-spacing: 3px;
        }
    }
}

.week_container {
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
    overflow-y: hidden;
    overflow-x: scroll !important;

    ::-webkit-scrollbar {
        display: none !important;
    }
}

ion-calendar {
    height: 90px;

    div:title {
        font-weight: bold;
        color: rgb(163, 45, 45);
    }

    :host(.button-clear) {
        --background-activated: #000;
    }
}

.act_calendar {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100% !important;
    // border-bottom: 1px solid #c8c8c8;
    padding-bottom: 5px;
    margin-top: 55px;
    margin-bottom: 15px;

    ion-grid {
        padding-inline-start: 0px !important;
        padding-inline-end: 0px !important;

        ion-row {
            ion-col {
                padding-inline-start: 0px !important;
                padding-inline-end: 0px !important;
            }
        }
    }
}

.dflex-flexend {
    display: flex;
    justify-content: flex-end;
}

.activity-card-1 {
    position: relative;
    padding: 0px 15px 0 20px;
    // box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;
    margin: 0;

    .activity-color-strip {
        width: 7px !important;
        height: 50px !important;
        background: #858585;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        left: 0;
        align-self: center;
        vertical-align: middle;
        display: flex;
        opacity: 0.8;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    ion-card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Open Sans", sans-serif;
        padding-left: 0;
        padding-right: 0;
        padding-top: 15px;
        padding-bottom: 10px;

        .activity-time-box {
            ion-icon {
                font-size: 18px;
                color: #545454;
                vertical-align: middle;
            }

            ion-label {
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                color: #545454;
                margin-left: 5px;
                vertical-align: middle;
            }
        }

        .activity-type-box {
            ion-chip {
                margin: 0;
                // font-family: "Open Sans", sans-serif;
                font-family: "Roboto", sans-serif;
                font-size: 13px !important;
                height: 22px !important;
                color: #545454;
                padding: 5px 10px;
                opacity: 0.8;
            }

            .social_icon {
                background: rgb(251, 221, 249) !important;
                color: #a20082 !important;
                width: fit-content;
                height: 26px;
            }

            .physical_icon {
                background: rgb(255, 214, 219) !important;
                color: #e2001e !important;
                width: fit-content;
                height: 26px;
            }

            .trip_icon {
                background: rgb(255, 241, 188) !important;
                color: #725a00 !important;
                width: fit-content;
                height: 26px;
            }

            .meeting_icon {
                background: rgb(231, 228, 253) !important;
                color: #0f00a2 !important;
                width: fit-content;
                height: 26px;
            }

            .event_icon {
                background: rgb(255, 209, 209) !important;
                color: #610000 !important;
                width: fit-content;
                height: 26px;
            }

            .spiritual_icon {
                background: rgb(174, 255, 213) !important;
                color: #187a57 !important;
                width: fit-content;
                height: 26px;
            }

            .emotional_icon {
                background: rgb(255, 229, 216) !important;
                color: #e25900 !important;
                width: fit-content;
                height: 26px;
            }

            .cognitive_icon {
                background: rgb(223, 236, 255) !important;
                color: #0965a1 !important;
                width: fit-content;
                height: 26px;
            }

            .entertainment_icon {
                background: rgb(177, 255, 255) !important;
                color: #006064 !important;
                width: fit-content;
                height: 26px;
                font-size: 15px;
            }

            .other_icon {
                background: rgb(255, 216, 246) !important;
                color: #f300d3 !important;
                width: fit-content;
                height: 26px;
            }
        }
    }

    ion-card-content {
        padding-left: 0;
        padding-right: 0;

        .activity-title {
            font-size: 17px;
            font-weight: 600;
            color: #222;
        }

        .activity-venue {
            margin-top: 10px;
            display: flex;
            align-items: center;

            ion-icon {
                font-size: 20px;
                color: #545454;
                vertical-align: middle;
            }

            ion-label {
                // font-family: "Open Sans", sans-serif;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                color: #545454;
                margin-left: 5px;
            }
        }

        .activity-slot-availability-box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px dashed #c8c8c8;

            .sa-box {
                ion-icon,
                i {
                    font-size: 22px;
                    color: #0077b5;
                    vertical-align: middle;
                }

                ion-label {
                    // font-family: "Open Sans", sans-serif;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    // font-weight: 600;
                    color: #0077b5;
                    margin-left: 5px;
                }
            }

            .activity-cost {
                ion-icon,
                i {
                    font-size: 22px;
                    color: #545454;
                    vertical-align: middle;
                }

                ion-label {
                    // font-family: "Open Sans", sans-serif;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: 600;
                    color: #545454;
                    margin-left: 5px;
                }
            }
        }
    }
}

.create-activity-button {
    --background: #0077b5;
    --color: #fff;

    ion-icon {
        font-size: 22px;
    }
}

@media only screen and (min-width: 768px) {
    .activity-card-1 {
        height: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
    ion-content {
        --padding-start: 8px !important;
        --padding-end: 8px !important;
    }

    .act-info {
        --padding-start: 5px !important;
        --inner-padding-end: 5px !important;
    }

    .activity-card-1 {
        ion-card-header {
            .activity-time-box {
                ion-label {
                    font-size: 15px !important;
                }
            }

            .activity-type-box {
                .entertainment_icon {
                    font-size: 12px !important;
                }
            }
        }
    }
}
