<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="dflex-flexend">

        <ion-col class="ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/menu']"></ion-icon>
          <!-- <ion-label>Activities</ion-label> -->
        </ion-col>

        <ion-col class="act-head-col-sec">

          <ion-select mode="md" interface="action-sheet" [interfaceOptions]="customPopoverOptions" placeholder="All" class="wing_change_select"
            [(ngModel)]="wing" (ionChange)="changeWing(wing)">
            <ion-select-option value="{{item.id}}" *ngFor="let item of wingArray">{{item.wing}}</ion-select-option>

          </ion-select>
          <img class="wing-icon1" src="/assets/wing-icon.svg">

        </ion-col>
        <ion-col class="act-head-col-sec " (click)="staffFilter($event)" *ngIf="utype==1||utype==2">


          <img class="staff-icon1" src="/assets/staff-icon.svg">

        </ion-col>

        <ion-col class="col-fit header-buttons ion-align-self-end" (click)="filter($event)">

          <!-- <ion-icon name="funnel-outline"></ion-icon> -->
          <i class="las la-filter"></i>

        </ion-col>
      </ion-row>

    </ion-grid>


    <!-- <ion-buttons slot="end" style="padding-inline-end: 15px;">
      <ion-col class="col_fit">
  
        <ion-select placeholder="All facilities" class="wing_change_select" [(ngModel)]="wing" (ionChange)="changeWing(wing)">
          <ion-select-option value="{{item.id}}" *ngFor="let item of wingArray">{{item.wing}}</ion-select-option>
          
        </ion-select>

      </ion-col>
      <ion-col>
        <ion-button class="header-buttons" color="primary" (click)="calendarView()">
          <ion-icon name="calendar-outline" style="color: white;"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="header-buttons" color="primary" (click)="filter($event)">
          <ion-icon name="funnel-outline" style="color: white;"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-buttons> -->
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <!-- <ion-item color="none" lines="none">
      <ion-checkbox mode="ios" [(ngModel)]="res_activity" (ionChange)="includeResidentActivity()"></ion-checkbox>
      <ion-label>Include individual activities </ion-label>
    </ion-item> -->

    <ion-item color="none" lines="none">
      <ion-label>Include individual activities</ion-label>
      <ion-toggle mode="ios" [(ngModel)]="res_activity" (ionChange)="includeResidentActivity()" slot="end"></ion-toggle>
    </ion-item>

  </ion-fab>

  <ion-row color="none">
    <ion-card class="calendar_card" [ngStyle]="contentStyle">
      <ion-calendar [(ngModel)]="date" (change)="onChange($event)" [format]="'DD/MM/yyyy'" step="30"
        [options]="options">
      </ion-calendar>
    </ion-card>
  </ion-row>


  <!-- <div *ngIf="act" class="act_calendar">


    <ion-item color="none" lines="none" class="act-info">
      <ion-label class="">{{date |dateformat:'DD MMMM yyyy' }}</ion-label>
      <ion-label>{{numAct}}{{" "}} Activities</ion-label>
    </ion-item>

    <ion-grid class="act-grid">

      <ion-row>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of activity"
          (click)="gotoDetails(item.id)">

          <ion-card class="activity-card">

            <div class="activity-color-strip" [class.physical_icon]="item.type.type_name=='Physical'"
              [class.social_icon]="item.type.type_name=='Social'" [class.trip_icon]="item.type.type_name=='Trip'"
              [class.meeting_icon]="item.type.type_name=='Meeting'" [class.event_icon]="item.type.type_name=='Event'"
              [class.spiritual_icon]="item.type.type_name=='Spiritual'"
              [class.cognitive_icon]="item.type.type_name=='Cognitive'"
              [class.entertainment_icon]="item.type.type_name=='Entertainment'"
              [class.emotional_icon]="item.type.type_name=='Emotional'"
              [class.other_icon]="item.type.type_name=='Other'"></div>

            <ion-card-header>

              <ion-grid>

                <ion-row>

                  <ion-col size="11">

                    <ion-icon name="time-outline"></ion-icon>

                    <ion-label>
                      {{item.start_time}}{{"-"}}{{item.end_time}}
                    </ion-label>

                  </ion-col>

                  <ion-col size="1">
                    <ion-chip class="social_icon" *ngIf="item.type.type_name=='Social'">

                      <ion-label>{{item.type.type_name}}</ion-label>
                    </ion-chip>
                    <ion-chip class="physical_icon" *ngIf="item.type.type_name=='Physical'">

                      <ion-label>{{item.type.type_name}}</ion-label>
                    </ion-chip>
                    <ion-chip class="trip_icon" *ngIf="item.type.type_name=='Trip'">

                      <ion-label>{{item.type.type_name}}</ion-label>
                    </ion-chip>
                    <ion-chip class="meeting_icon" *ngIf="item.type.type_name=='Meeting'">

                      <ion-label>{{item.type.type_name}}</ion-label>
                    </ion-chip>
                    <ion-chip class="event_icon" *ngIf="item.type.type_name=='Event'">

                      <ion-label>{{item.type.type_name}}</ion-label>
                    </ion-chip>
                    <ion-chip class="spiritual_icon" *ngIf="item.type.type_name=='Spiritual'">

                      <ion-label>{{item.type.type_name}}</ion-label>
                    </ion-chip>
                    <ion-chip class="cognitive_icon" *ngIf="item.type.type_name=='Cognitive'">

                      <ion-label>{{item.type.type_name}}</ion-label>
                    </ion-chip>
                    <ion-chip class="entertainment_icon" *ngIf="item.type.type_name=='Entertainment'">

                      <ion-label>{{item.type.type_name}}</ion-label>
                    </ion-chip>
                    <ion-chip class="emotional_icon" *ngIf="item.type.type_name=='Emotional'">

                      <ion-label>{{item.type.type_name}}</ion-label>
                    </ion-chip>
                    <ion-chip class="other_icon" *ngIf="item.type.type_name=='Other'">

                      <ion-label>{{item.type.type_name}}</ion-label>
                    </ion-chip>
                  </ion-col>

                </ion-row>

              </ion-grid>

            </ion-card-header>

            <ion-card-content>



              <ion-label class="activity">
                {{item.title}}
              </ion-label>

           
            </ion-card-content>

            <ion-grid class="location-info" *ngIf="item.venue!=null">

              <ion-row>

                <ion-col size="12">
                  <ion-icon name="location-outline"></ion-icon>
                  <ion-label>{{item.venue}}</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>


            <ion-row class="d-none">

              <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">
                <ng-container *ngIf="item.rv_details&&rvsettings==1">
                  <div class="activity-seat-status">

                    <div class="seat-availability sa">
                      <i class="las la-chair"></i>
                      <ion-label *ngIf="item.rv_details.slot_limit-item.signedup_users_count>0">
                        {{item.rv_details.slot_limit-item.signedup_users_count}} slots available</ion-label>
                      <ion-label *ngIf="item.rv_details.slot_limit-item.signedup_users_count<=0">Booked out</ion-label>
                    </div>

                    <span class="others-attending" *ngIf="item.signedup_users_count">
                      <ion-label>{{item.signedup_users_count}} others attending</ion-label>
                    </span>

                  </div>

                  <div class="activity-cost-sec" *ngIf="item.rv_details&&item.rv_details.paid_activity==1">

                    <div class="activity-cost">
                      <i class="las la-money-bill"></i>
                      <ion-label>${{item.rv_details.cost}}</ion-label>
                    </div>

                  </div> -->

  <!-- <div class="act-booking-options-sec" *ngIf="!item.signup_status&&item.rv_details.slot_limit-item.signedup_users_count>0&&!item.signup_list.length">
                  <ion-button class="signup-button" (click)="signup(item)">Sign up <ion-icon name="arrow-forward-outline"></ion-icon>
                  </ion-button>
                </div>
                <div class="act-booking-options-sec" *ngIf="item.signup_list&&item.signup_list.length&&item.signup_list[0].action==0">
                  <ion-label class="wl">You are in waiting list</ion-label>
                </div> -->
  <!-- </ng-container>
              </ion-col>

            </ion-row>


          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid> -->



  <!-- <ion-card class="activity_card" *ngFor="let item of activity" (click)="gotoDetails(item.id)"
      [class.act-social-card]="item.type.type_name=='Social'"
      [class.act-physical-card]="item.type.type_name=='Physical'" [class.act-trip-card]="item.type.type_name=='Trip'"
      [class.act-meeting-card]="item.type.type_name=='Meeting'" [class.act-event-card]="item.type.type_name=='Event'"
      [class.act-spiritual-card]="item.type.type_name=='Spiritual'"
      [class.act-cognitive-card]="item.type.type_name=='Cognitive'"
      [class.act-entertainment-card]="item.type.type_name=='Entertainment'"
      [class.act-emotional-card]="item.type.type_name=='Emotional'"
      [class.act-other-card]="item.type.type_name=='Other'">

      <ion-row style="width: 100%;margin-left: 0px;margin-top: 8px;">
        <ion-col>
          <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
          <ion-label class="activity-time">{{item.start_time}}{{"-"}}{{item.end_time}}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
          <ion-label class="line-clamp-act">{{item.title}}</ion-label>
          <div class="activity-location-block" *ngIf="item.venue!=null">
            <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
            <ion-label class="activity_location">{{item.venue}}</ion-label>
          </div>
        </ion-col>

        <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none">

          <img class="activity-image" src="/assets/activity-type-images/social.png"
            *ngIf="item.type.type_name=='Social'">
          <img class="activity-image" src="/assets/activity-type-images/physical.png"
            *ngIf="item.type.type_name=='Physical'">
          <img class="activity-image" src="/assets/activity-type-images/trip.png" *ngIf="item.type.type_name=='Trip'">
          <img class="activity-image" src="/assets/activity-type-images/meeting.png"
            *ngIf="item.type.type_name=='Meeting'">
          <img class="activity-image" src="/assets/activity-type-images/event.png" *ngIf="item.type.type_name=='Event'">
          <img class="activity-image" src="/assets/activity-type-images/spiritual.png"
            *ngIf="item.type.type_name=='Spiritual'">
          <img class="activity-image" src="/assets/activity-type-images/emotional.png"
            *ngIf="item.type.type_name=='Emotional'">
          <img class="activity-image" src="/assets/activity-type-images/cognitive.png"
            *ngIf="item.type.type_name=='Cognitive'">
          <img class="activity-image" src="/assets/activity-type-images/entertainment.png"
            *ngIf="item.type.type_name=='Entertainment'">
          <img class="activity-image" src="/assets/activity-type-images/other.png" *ngIf="item.type.type_name=='Other'">
        </ion-col>

        <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">
          <ng-container *ngIf="item.rv_details&&rvsettings==1">
            <div class="activity-seat-status">

              <div class="seat-availability sa">
                <i class="las la-chair"></i>
                <ion-label *ngIf="item.rv_details.slot_limit-item.signedup_users_count>0">
                  {{item.rv_details.slot_limit-item.signedup_users_count}} slots available</ion-label>
                <ion-label *ngIf="item.rv_details.slot_limit-item.signedup_users_count<=0">Booked out</ion-label>
              </div>

              <span class="others-attending" *ngIf="item.signedup_users_count">
                <ion-label>{{item.signedup_users_count}} others attending</ion-label>
              </span>

            </div>

            <div class="activity-cost-sec" *ngIf="item.rv_details&&item.rv_details.paid_activity==1">

              <div class="activity-cost">
                <i class="las la-money-bill"></i>
                <ion-label>${{item.rv_details.cost}}</ion-label>
              </div>

            </div> -->

  <!-- <div class="act-booking-options-sec" *ngIf="!item.signup_status&&item.rv_details.slot_limit-item.signedup_users_count>0&&!item.signup_list.length">
            <ion-button class="signup-button" (click)="signup(item)">Sign up <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </div>
          <div class="act-booking-options-sec" *ngIf="item.signup_list&&item.signup_list.length&&item.signup_list[0].action==0">
            <ion-label class="wl">You are in waiting list</ion-label>
          </div> -->
  <!-- </ng-container>
        </ion-col>

      </ion-row>

    </ion-card>


  </div>
  <div *ngIf="!act" class="act_calendar">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no_activities_found_img.svg">
    </ion-thumbnail>

    <ion-item lines="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: bold;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Activities Found</ion-label>
    </ion-item>
  </div> -->

  <!-- <ion-card class="activity_card act-social-card">

    <ion-row style="width: 100%;margin-left: 0px;margin-top: 8px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">10:00 AM - 10:30 AM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none">
        <img class="activity-image" src="/assets/activity-type-images/social.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <div class="activity-seat-status">

          <div class="seat-availability sa">
            <i class="las la-chair"></i>
            <ion-label>05 slots available</ion-label>
          </div>

          <span class="others-attending">
            <ion-label>25 others attending</ion-label>
          </span>

        </div>

        <div class="activity-cost-sec">

          <div class="activity-cost">
            <i class="las la-money-bill"></i>
            <ion-label>$40</ion-label>
          </div>

        </div>

        <div class="act-booking-options-sec">
          <ion-button class="signup-button">Sign up <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-physical-card">

    <ion-row>
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">10:30 AM - 11:00 AM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none">
        <img class="activity-image" src="/assets/activity-type-images/physical.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <div class="activity-seat-status">

          <div class="seat-availability">
            <i class="las la-chair"></i>
            <ion-label>Booked out</ion-label>
          </div>

          <span class="others-attending">
            <ion-label>30 others attending</ion-label>
          </span>

        </div>

        <div class="activity-cost-sec">

          <div class="activity-cost">
            <i class="las la-money-bill"></i>
            <ion-label>$40</ion-label>
          </div>

        </div>

        <div class="act-booking-options-sec">
          <ion-button class="awl-button">Add to waiting list <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-trip-card">

    <ion-row style="width: 100%;margin-left: 0px;margin-top: 8px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">11:30 AM - 12:00 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none">
        <img class="activity-image" src="/assets/activity-type-images/trip.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <div class="activity-seat-status">

          <div class="seat-availability">
            <i class="las la-chair"></i>
            <ion-label>Booked out</ion-label>
          </div>

          <span class="others-attending">
            <ion-label>30 others attending</ion-label>
          </span>

        </div>

        <div class="activity-cost-sec">

          <div class="activity-cost">
            <i class="las la-money-bill"></i>
            <ion-label>$40</ion-label>
          </div>

        </div>

        <div class="act-booking-options-sec">
          <ion-label class="wl">You are in waiting list</ion-label>
        </div>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-meeting-card">

    <ion-row style="width: 100%;margin-left: 0px;margin-top: 8px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">12:30 PM - 01:00 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>

        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>

      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none">
        <img class="activity-image" src="/assets/activity-type-images/meeting.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <div class="activity-seat-status">

          <div class="seat-availability sa">
            <i class="las la-chair"></i>
            <ion-label>05 slots available</ion-label>
          </div>

          <span class="others-attending">
            <ion-label>25 others attending</ion-label>
          </span>

        </div>

        <div class="activity-cost-sec">

          <div class="activity-cost">
            <i class="las la-money-bill"></i>
            <ion-label>$40</ion-label>
          </div>

        </div>

        <div class="act-booking-options-sec">
          <ion-label class="signed-up">Signed up</ion-label>
        </div>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-event-card">

    <ion-row style="width: 100%;margin-left: 0px;margin-top: 8px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">02:00 PM - 02:30 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none ml-auto">
        <img class="activity-image" src="/assets/activity-type-images/event.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <span class="assigned-tag-1">

          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Assigned</ion-label>

        </span>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-spiritual-card">

    <ion-row style="width: 100%;margin-left: 0px;margin-top: 8px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">02:30 PM - 03:00 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none ml-auto">
        <img class="activity-image" src="/assets/activity-type-images/spiritual.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <span class="assigned-tag-1">

          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Assigned</ion-label>

        </span>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-emotional-card">

    <ion-row style="width: 100%;margin-left:0px;margin-top: 8px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">03:00 PM - 03:30 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none ml-auto">
        <img class="activity-image" src="/assets/activity-type-images/emotional.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <span class="assigned-tag-1">

          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Assigned</ion-label>

        </span>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-cognitive-card">

    <ion-row style="width: 100%;margin-left: 0px;margin-top: 8px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">03:30 PM - 04:00 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row style="width: 100% !important;">

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none ml-auto">
        <img class="activity-image" src="/assets/activity-type-images/cognitive.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <span class="assigned-tag-1">

          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Assigned</ion-label>

        </span>

      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card class="activity_card act-entertainment-card">

    <ion-row style="width: 100%;margin-left: 0px;margin-top: 8px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">04:00 PM - 04:30 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row style="width: 100% !important;">

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none ml-auto">
        <img class="activity-image" src="/assets/activity-type-images/entertainment.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <span class="assigned-tag-1">

          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Assigned</ion-label>

        </span>

      </ion-col>

    </ion-row>


  </ion-card>

  <ion-card class="activity_card act-other-card">

    <ion-row style="width: 100%;margin-left: 0px;margin-top: 8px;">
      <ion-col>
        <ion-icon class="activity-time-icon" name="time-outline"></ion-icon>
        <ion-label class="activity-time">04:00 PM - 04:30 PM</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" size-md="6" size-lg="7" size-sm="12" class="content-pos">
        <ion-label class="line-clamp-act">Lorem ipsum dolor sit amet ipsum dolor ipsum dolor sit.</ion-label>
        <div class="activity-location-block">
          <ion-icon class="activity-location-icon" name="location-outline"></ion-icon>
          <ion-label class="activity_location">Victoria conference hall</ion-label>
        </div>
      </ion-col>

      <ion-col size="12" size-md="2" size-lg="2" size-sm="12" class="dis-none ml-auto">
        <img class="activity-image" src="/assets/activity-type-images/other.png">
      </ion-col>

      <ion-col size="12" size-md="4" size-lg="3" size-sm="12" class="act-more-infoblock">

        <span class="assigned-tag-1">

          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Assigned</ion-label>

        </span>

      </ion-col>

    </ion-row>

  </ion-card> -->


  <div *ngIf="!act" class="act_calendar">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 295px;width: 250px;">
      <img src="assets/no-activity.png">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: bold;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Activities Found</ion-label>
    </ion-item>
  </div>


  <ng-container *ngIf="act">

    <ion-item color="none" lines="none" class="act-info mt-10">
      <ion-label class="">{{date |dateformat:'DD MMMM yyyy' }}</ion-label>
      <ion-label>{{numAct}}{{" "}} Activities</ion-label>
    </ion-item>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-10" *ngFor="let item of activity"
        (click)="gotoDetails(item.id)">

        <ion-card class="activity-card-1">

          <span class="activity-color-strip" [class.physical_icon]="item.type.type_name=='Physical'"
            [class.social_icon]="item.type.type_name=='Social'" [class.trip_icon]="item.type.type_name=='Trip'"
            [class.meeting_icon]="item.type.type_name=='Meeting'" [class.event_icon]="item.type.type_name=='Event'"
            [class.spiritual_icon]="item.type.type_name=='Spiritual'"
            [class.cognitive_icon]="item.type.type_name=='Cognitive'"
            [class.entertainment_icon]="item.type.type_name=='Entertainment'"
            [class.emotional_icon]="item.type.type_name=='Emotional'"
            [class.other_icon]="item.type.type_name=='Other'"></span>

          <ion-card-header>

            <div class="activity-time-box">
              <ion-icon name="time-outline"></ion-icon>
              <ion-label>{{item.start_time}}{{"-"}}{{item.end_time}}</ion-label>
            </div>

            <div class="activity-type-box">

              <ion-chip [class.physical_icon]="item.type.type_name=='Physical'"
                [class.social_icon]="item.type.type_name=='Social'" [class.trip_icon]="item.type.type_name=='Trip'"
                [class.meeting_icon]="item.type.type_name=='Meeting'" [class.event_icon]="item.type.type_name=='Event'"
                [class.spiritual_icon]="item.type.type_name=='Spiritual'"
                [class.cognitive_icon]="item.type.type_name=='Cognitive'"
                [class.entertainment_icon]="item.type.type_name=='Entertainment'"
                [class.emotional_icon]="item.type.type_name=='Emotional'"
                [class.other_icon]="item.type.type_name=='Other'">
                <ion-label>{{item.type.type_name}}</ion-label>
              </ion-chip>

            </div>

          </ion-card-header>

          <ion-card-content>

            <ion-label class="activity-title">{{item.title}}</ion-label>

            <div class="activity-venue" *ngIf="item.venue!=null">
              <ion-icon name="location-outline"></ion-icon>
              <ion-label>{{item.venue}}</ion-label>
            </div>

            <div class="activity-slot-availability-box" *ngIf="item.rv_details&&rvsettings==1"
              [class.doNotShow]="item.rv_details.paid_activity==0&&item.rv_details.slot_limit==0">

              <div class="sa-box" *ngIf="limit_required==1">

                <i class="las la-chair"></i>

                <ion-label *ngIf="item.rv_details.slot_limit-item.signedup_users_count>0">
                  {{item.rv_details.slot_limit-item.signedup_users_count}} slots available</ion-label>
                <ion-label *ngIf="item.rv_details.slot_limit-item.signedup_users_count<=0">Booked out</ion-label>

              </div>

              <div class="activity-cost" *ngIf="item.rv_details&&item.rv_details.paid_activity==1&&payment_required==1">
                <i class="las la-money-bill"></i>
                <ion-label>${{item.rv_details.cost}}</ion-label>
              </div>

            </div>

          </ion-card-content>

        </ion-card>

      </ion-col>

    </ion-row>

  </ng-container>

</ion-content>




<ion-footer *ngIf="create">

  <ion-fab vertical="bottom" horizontal="end" class="bottom-align" [routerLink]="['/create-activity',{flag:1}]">
    <ion-fab-button class="create-activity-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-footer>