.sub_filter {
  margin-left: 20px;
  margin-top: 10px !important;
  margin-bottom: 0px !important;
  margin-inline-end: 0px !important;
  --padding-start: 10px !important;
  --inner-padding-end: 0px !important;
  --min-height: auto !important;
  color: #727272;
  font-weight: normal;
  display: flex;
}

.sub_filter::before {
  content: "\2192";
  display: inline-flex;
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;

  ion-item {
    --min-height: auto;
    --padding-start: 0;
    --inner-padding-end: 0;
    margin: 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
    }
  }
}
