<ion-content>

  <ion-item lines="none" color="none" (click)="closeModal(0)">
    <ion-label class="act_filter">All</ion-label>
  </ion-item>


  <ion-item lines="none" color="none" (click)="closeModal(1)">
    <ion-label class="act_filter">Activity</ion-label>
  </ion-item>


  <ion-item lines="none" color="none" (click)="closeModal(8)">
    <ion-label class="act_filter">Event</ion-label>
  </ion-item>


  <ion-item lines="none" color="none" (click)="closeModal(9)">
    <ion-label class="act_filter">Meeting</ion-label>
  </ion-item>


  <ion-item lines="none" color="none" (click)="closeModal(10)">
    <ion-label class="act_filter">Inactive</ion-label>
  </ion-item>


  <ion-item lines="none" color="none" (click)="closeModal(11)">
    <ion-label class="act_filter">One to one session</ion-label>
  </ion-item>

</ion-content>

<!-- <hr class="filter_sep">

<ion-item style="margin-top: -5px;margin-bottom: 10px;" lines="none" (click)="expand()">
  <ion-label class="act_filter">Staff</ion-label>
</ion-item>
<ion-list lines="none" *ngIf="sel_index">

  <ion-item lines="none" style="margin-top: 15px;width: 100%;" class="sub_filter" *ngFor="let item of staff"
    (click)="selectStaff(item)">
    {{item.name}}
  </ion-item>


</ion-list> -->