.ion-header-inner {
    background: #0077b5 !important;
}

ion-content {
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 80px;
    --padding-bottom: 20px;
}

.fixed-top-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 20px;

    .fts-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ion-icon {
            font-size: 25px;
            color: #707070;
        }

        .date-label {
            font-size: 18px;
            font-weight: 600;
            vertical-align: middle;
            color: #0077b5;
            align-self: center;
            margin: 0px 15px;
        }
    }

    .dt-change-btn {
        --background: transparent;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 0;
        --padding-end: 0;
        height: 42px;
        margin: 0;
    }
}

.din-consumer-info-card {
    padding: 5px;
    margin: 0;
    display: flex;

    ion-grid {
        ion-row {
            // border-top: 1px dashed #E1E1E1;
            // border-bottom: 1px dashed #E1E1E1;

            ion-col {
                &:nth-child(2) {
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .back-icon {
        font-size: 25px;
        vertical-align: middle;
    }

    .consumer-pic {
        width: 60px;
        height: 60px;
    }

    .c-name {
        font-size: 16px;
        font-weight: 600;
        color: #707070;
        // margin-left: 10px;

        .room-no {
            font-size: 14px;
            font-weight: normal;
            display: block;
            // margin-left: 10px;
        }
    }

    .chevron-down {
        font-size: 25px;
        background: #ededed;
        color: #9b9b9b;
        border-radius: 50px;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .diet-info-box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-top: 1px dashed #c9c9c9;
        // border-bottom: 1px dashed #c9c9c9;
        padding-top: 10px;
        // padding-bottom: 10px;

        .di-item {
            font-size: 13px;
            color: #ffff;
            background: #707070;
            text-align: center;
            border-radius: 50px;
            padding: 2px 9px;
            margin: 4px;
        }

        .diabetic {
            background: #0fbbf3 !important;
        }

        .regular {
            background: #232323 !important;
        }

        .mildly-thicky {
            background: #bf1c62 !important;
        }

        .msm {
            background: #757fff !important;
        }

        .food-ft {
            background: #ff5b49 !important;

            i {
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }

    .vmore-btn {
        --background: transparent;
        --box-shadow: none;
        --ripple-color: #c9c9c9;
        color: #0077b5;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        text-transform: none;
        letter-spacing: normal;
        margin: 10px auto 0;
        display: block;
    }
}

.ind-order-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px;
    padding: 0 5px;

    .date-range-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;

        ion-icon {
            font-size: 25px;
            color: #707070;
        }

        ion-label {
            font-size: 16px;
            font-weight: 500;
            color: #222;
            margin: 0px 15px;
        }
    }

    .din-skipped-tag-1 {
        font-size: 12px;
        font-weight: normal;
        padding: 2px 9px;
        border-radius: 50px;
        background: #ff7216;
        color: #ffff;
        margin-left: 35px;
        margin-right: auto;
        // margin-bottom: 10px;
        display: flex;
        max-width: fit-content;
        // margin-top: -15px;
        // position: absolute;
        // top: 30px;
        margin-top: 5px;
    }

    .din-controls {
        display: flex;

        ion-button {
            --background: transparent;
            --box-shadow: none;
            --padding-start: 0;
            --padding-end: 0;
            --ripple-color: #232323;
            --border-radius: 50px;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(2) {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

.din-item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

    .din-item {
        font-size: 18px;
        font-weight: 500;
        color: #222;
        line-height: 22px;

        .din-timing {
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: normal;
            color: #6c6c6c;
            display: block;
        }
    }

    .din-skipped-tag {
        font-size: 12px;
        padding: 2px 9px;
        border-radius: 50px;
        background: #ff7216;
        color: #ffff;
        margin-left: auto;
        margin-right: 15px;
    }

    .din-more-options {
        font-size: 25px;
        color: #858585;
        vertical-align: middle;
    }
}

.fi-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
    // margin-bottom: 15px;

    .din-fi-sec {
        width: 100%;

        .din-fi {
            width: initial;

            .fi-card {
                // border-radius: 20px !important;
                // padding: 10px;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // margin: 5px 0px;
                // min-height: 160px;
                // width: 100%;

                border-radius: 15px !important;
                padding: 0 10px 0px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px 0px;
                min-height: 135px;
                width: 100%;
                border: 1px solid #d7d7d7;
                box-shadow: none !important;
                background: #fff;

                .fi-img-block {
                    display: flex;
                    width: 35.54%;
                    position: relative;

                    .fi-img {
                        // width: 145px;
                        width: 100%;
                        height: 135px;
                        border-radius: 10px 0 0;
                        object-fit: cover;
                    }

                    .continentalbreakfast-icon {
                        position: absolute;
                        width: 28px;
                        right: 0px;
                        background-color: #0077b5;
                        padding: 5px;
                        border-bottom-left-radius: 6px;
                        border-top-right-radius: 0px;
                    }
                }

                .fi-info-block {
                    width: 65%;
                    padding-left: 20px;

                    .fi-name {
                        font-family: "Roboto", sans-serif;
                        font-size: 18px;
                        color: #252525;
                        line-height: 20px;
                    }

                    .fi-more-options {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 25px;

                        .fim-div-1 {
                            display: flex;

                            .fi-meal-size {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 4px;
                                padding: 4px 8px;
                                background: #d2fffb;
                                width: 30px;
                                height: 30px;
                                margin-right: 10px;

                                ion-label {
                                    font-size: 15px;
                                    color: #47aba2;
                                    text-align: center;
                                }
                            }

                            .fi-quantity {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 4px;
                                padding: 4px 8px;
                                background: #f3def9;
                                width: 30px;
                                height: 30px;

                                ion-label {
                                    font-size: 15px;
                                    color: #601576;
                                    text-align: center;
                                }
                            }
                        }

                        .fim-div-2 {
                            ion-button {
                                --background: #f4f4f4;
                                --box-shadow: none;
                                --border-radius: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 35px;
                                height: 35px;
                                position: absolute;
                                right: 10px;
                                bottom: 10px;
                                z-index: 99999;

                                i {
                                    font-size: 20px;
                                    color: #707070;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .allergic-fi {
        border: 1px solid #ff5b49;
        position: relative;

        .allergic-alert-icon {
            color: #ff0000;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .fi-selectable {
        width: 100%;
        // background: #F4F4F4;
        // background: rgb(244 244 244 / 85%);
        background: #edecec;
        border-radius: 25px;

        .fi-selectable-box {
            .fi-card {
                // background: transparent !important;
                // box-shadow: none !important;
                flex-grow: 1;

                .fi-info-block {
                    .fi-more-options {
                        .fim-div-2 {
                            ion-button {
                                --background: #f4f4f4;
                                // position: absolute;
                                // z-index: 999999;
                                // right: 10px;
                            }
                        }
                    }
                }
            }

            .fi-or-label {
                color: #ffffff;
                text-align: center;
                display: flex;
                background: #959595;
                max-width: fit-content;
                margin: 10px auto;
                padding: 10px;
                font-size: 18px;
                font-weight: 600;
                border-radius: 50px;
                min-height: 50px;
                min-width: 50px;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.fi-box-optional {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
    margin-bottom: 15px;

    .fi-card {
        // border-radius: 20px !important;
        // padding: 10px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // margin: 5px 0px;
        // min-height: 160px;
        // width: 100%;

        padding: 0 10px 0px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0px;
        min-height: 135px;
        width: 100%;
        box-shadow: none !important;
        border: 1px solid #d7d7d7;
        border-radius: 15px !important;

        .fi-img-block {
            display: flex;
            width: 35.54%;
            position: relative;

            .continentalbreakfast-icon {
                position: absolute;
                width: 28px;
                right: 0px;
                background-color: #0077b5;
                padding: 5px;
                border-bottom-left-radius: 6px;
            }

            .fi-img {
                // width: 145px;
                width: 100%;
                height: 135px;
                border-radius: 10px 0 0;
                object-fit: cover;
            }
        }

        .fi-info-block {
            width: 65%;
            padding-left: 20px;

            .fi-name {
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                color: #252525;
                line-height: 20px;
            }

            .fi-more-options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 25px;

                .fim-div-1 {
                    display: flex;

                    .fi-meal-size {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #d2fffb;
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;

                        ion-label {
                            font-size: 15px;
                            color: #47aba2;
                            text-align: center;
                        }
                    }

                    .fi-quantity {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #f3def9;
                        width: 30px;
                        height: 30px;

                        ion-label {
                            font-size: 15px;
                            color: #601576;
                            text-align: center;
                        }
                    }
                }

                .fim-div-2 {
                    ion-button {
                        --background: #f4f4f4;
                        --box-shadow: none;
                        --border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35px;
                        height: 35px;
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        z-index: 99999;

                        i {
                            font-size: 20px;
                            color: #707070;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .allergic-fi {
        border: 1px solid #ff5b49;
        position: relative;

        .allergic-alert-icon {
            color: #ff0000;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .fi-selectable {
        width: 100%;
        background: #edecec;
        // border-radius: 25px;
        border-radius: 15px;

        .fi-selectable-box {
            .fi-card {
                flex-grow: 1;

                .fi-info-block {
                    .fi-more-options {
                        .fim-div-2 {
                            ion-button {
                                --background: #f4f4f4;
                            }
                        }
                    }
                }
            }

            .fi-or-label {
                color: #ffffff;
                text-align: center;
                display: flex;
                background: #959595;
                max-width: fit-content;
                margin: 10px auto;
                padding: 10px;
                font-size: 18px;
                font-weight: 600;
                border-radius: 50px;
                min-height: 50px;
                min-width: 50px;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .din-skipped-tag-1 {
        margin-left: auto !important;
        margin-right: 8px !important;
    }

    .din-fi-sec-optional {
        width: 100%;

        .fi-box-optional {
            padding: 0;

            .fi-selectable {
                margin: 5px 0px;
                padding: 0px 5px;
            }
        }
    }

    .ind-order-header {
        .din-controls {
            display: flex;
            margin-left: auto;
        }
    }
}

@media only screen and (min-width: 768px) {
    .ind-order-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px 10px;
        padding: 0 5px;

        .date-range-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;

            ion-icon {
                font-size: 25px;
                color: #707070;
            }

            ion-label {
                font-size: 20px;
                font-weight: 500;
                color: #222;
                margin: 0px 15px;
            }
        }
    }

    .fi-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .din-fi-sec {
            // width: 49%;
            width: 32.4%;
            margin: 5px;

            .din-fi {
                width: initial;

                .fi-card {
                    width: 100%;
                    // width: auto;
                    // margin: 5px;
                    margin: 0px;
                    min-height: unset;

                    .fi-img-block {
                        .fi-img {
                            width: 220px;
                            // height: 220px;
                            height: 130px;
                        }
                    }

                    .fi-info-block {
                        .fi-more-options {
                            margin-top: 15px !important;
                        }
                    }
                }
            }
        }

        .din-fi-sec-optional {
            width: 100%;
            // width: 66.66%;

            .fi-selectable {
                display: inline-flex;
                flex-grow: 1;
                width: auto;
                margin-left: 5px;

                .fi-selectable-box {
                    .fi-card {
                        // margin: unset;
                        width: auto;

                        .fi-img-block {
                            // width: auto;
                            display: flex;

                            &:nth-child(odd) {
                                width: 64%;
                            }

                            .fi-img {
                                width: 220px;
                                // height: 220px;
                                height: 130px;
                            }
                        }

                        .fi-info-block {
                            // width: auto;
                            display: flex;
                            flex-direction: column;

                            .fi-name {
                                min-width: 133px;
                                max-width: 130px;
                            }
                        }
                    }

                    .fi-or-label {
                        height: 50px;
                        min-width: 50px;
                        // margin: 0px 0px 0px 10px;
                        margin: 0;
                        justify-content: center;
                        align-items: center;
                        align-self: center;
                    }
                }
            }

            .fi-box-optional {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .fi-selectable {
                    .fi-selectable-box {
                        display: flex;
                        // width: 49%;
                        width: 33.2%;
                        // flex: 1;

                        &:last-child {
                            width: 28.5%;
                        }

                        .fi-card {
                            width: 32%;
                            margin: 5px;
                            min-height: unset;

                            .fi-info-block {
                                .fi-more-options {
                                    margin-top: 15px !important;
                                }
                            }
                        }
                    }
                }

                .fi-selectable {
                    display: inline-flex;
                    flex-grow: 1;
                    flex-wrap: wrap;
                    width: auto;
                    margin-left: 5px;

                    .fi-selectable-box {
                        .fi-card {
                            // margin: unset;
                            width: auto;

                            .fi-img-block {
                                // width: auto;
                                display: flex;
                            }

                            .fi-info-block {
                                // width: auto;
                                display: flex;
                                flex-direction: column;

                                .fi-name {
                                    min-width: 133px;
                                    max-width: 130px;
                                }
                            }
                        }

                        .fi-or-label {
                            height: 50px;
                            min-width: 50px;
                            // margin: 0px 0px 0px 10px;
                            margin: 0;
                            justify-content: center;
                            align-items: center;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 834px) and (max-width: 834px) {
    .fi-box {
        .fi-card {
            width: 48%;
            margin: 10px 5px;
        }
    }

    .fi-box-optional {
        .fi-card {
            width: 48%;
            margin: 10px 5px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .fi-box {
        .fi-card {
            width: 48%;
        }
    }

    .fi-box-optional {
        .fi-selectable {
            margin: 5px;
        }
    }
}

.no-items {
    background: #fff1f1;
    color: #f11818;
    width: 98%;
    display: flex;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px auto;
    flex-direction: column;
    border-left: 10px solid #f11818;
}

ion-footer {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &::before {
        background: none;
    }

    .confirm-order-btn {
        --background: #1aab4a;
        --box-shadow: none;
        --border-radius: 50px;
        text-align: center;
        text-transform: none;
        font-weight: 300;
        font-size: 18px;
        height: 45px;
        margin: 0 auto;
        display: flex;
        max-width: fit-content;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .fi-box {
        .din-fi-sec {
            width: 48.6%;
        }

        .din-fi-sec-optional {
            .fi-box-optional {
                .fi-selectable {
                    .fi-selectable-box {
                        display: flex;
                        width: 49.5%;

                        &:last-child {
                            width: 42.5%;
                        }
                    }
                }
            }
        }
    }
}
