<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Menu</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <div class="fts-box">

      <ion-label class="date-label">{{date}}</ion-label>

    </div>

    <ion-button class="dt-change-btn" (click)="chooseDate()">

      <img src="/assets/dining/date-icon-custom.svg">

    </ion-button>

  </ion-fab>


  <div class="fi-box" *ngFor="let menu of menuItems">

    <div class="din-item-box">

      <ion-label class="din-item">{{menu.servingtime}}
        <span class="din-timing">
          ({{menu.serving_date+' '+menu.start_time|dateformat:'hh:mm A'}}-{{menu.serving_date+' '+menu.end_time|dateformat:'hh:mm A'}})
        </span>
      </ion-label>

    </div>

    <ion-label class="no-items" *ngIf="menu.coloumns.length==0">No items</ion-label>

    <div class="din-fi-sec" *ngFor="let item of menu.coloumns">

      <div class="din-fi" *ngIf="item.item&&item.item.length==1">

        <ion-card class="fi-card" *ngFor="let i of item.item" [class.doNotShow]="!i.itemdetailsall">

          <div class="fi-img-block">

            <img class="fi-img" [src]="i.itemdetailsall.image" *ngIf="i.itemdetailsall">

          </div>

          <div class="fi-info-block" *ngIf="i.itemdetailsall">

            <ion-label class="fi-name">{{i.itemdetailsall.item_name}}</ion-label>

          </div>

        </ion-card>

      </div>

    </div>

    <div class="din-fi-sec-optional" *ngFor="let item of menu.coloumns">

      <div class="fi-box-optional">

        <div class="fi-selectable" *ngIf="item.item&&item.item.length>1">

          <div class="fi-selectable-box" *ngFor="let i of item.item;let in=index" [class.doNotShow]="!i.itemdetailsall">

            <ion-card class="fi-card">

              <div class="fi-img-block">

                <img class="fi-img" [src]="i.itemdetailsall.image" *ngIf="i.itemdetailsall">

              </div>

              <div class="fi-info-block" *ngIf="i.itemdetailsall">

                <ion-label class="fi-name">{{i.itemdetailsall.item_name}}</ion-label>

              </div>

            </ion-card>

            <ion-label class="fi-or-label" *ngIf="item.item&&item.item.length>1&&in<item.item.length-1">Or</ion-label>

          </div>


          <!-- <ion-card class="fi-card">
  
          <div class="fi-img-block">
  
            <img class="fi-img" src="/assets/dining/food-items/coffee.png">
  
          </div>
  
          <div class="fi-info-block">
  
            <ion-label class="fi-name">Coffee</ion-label>
  
          </div>
  
        </ion-card> -->

        </div>

      </div>



    </div>

  </div>
  <!-- <div class="din-item-box">

    <ion-label class="din-item">Morning Tea <span class="din-timing">(10:00 AM - 11:00 AM)</span></ion-label>

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/fruit-plater.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Fruit Platter</ion-label>

      </div>

    </ion-card>

  </div>

  <div class="din-item-box">

    <ion-label class="din-item">Lunch <span class="din-timing">(12:00 PM - 02:00 PM)</span></ion-label>

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/curried-sausage.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Curried sausages</ion-label>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/salad.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Salad of the day</ion-label>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/starchy-veg.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Starchy vegetable</ion-label>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/fruit-pie.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Fruit Pie</ion-label>

      </div>

    </ion-card>

  </div>

  <div class="din-item-box">

    <ion-label class="din-item">Afternoon Tea <span class="din-timing">(03:00 PM - 04:00 PM)</span></ion-label>

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/tim-tam-biscuits.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Tim tam biscuits</ion-label>

      </div>

    </ion-card>

    <div class="fi-selectable">

      <ion-card class="fi-card">

        <div class="fi-img-block">

          <img class="fi-img" src="/assets/dining/food-items/tea.png">

        </div>

        <div class="fi-info-block">

          <ion-label class="fi-name">Tea</ion-label>

        </div>

      </ion-card>

      <ion-label class="fi-or-label">Or</ion-label>

      <ion-card class="fi-card">

        <div class="fi-img-block">

          <img class="fi-img" src="/assets/dining/food-items/coffee.png">

        </div>

        <div class="fi-info-block">

          <ion-label class="fi-name">Coffee</ion-label>

        </div>

      </ion-card>

    </div>

  </div>

  <div class="din-item-box">

    <ion-label class="din-item">Dinner <span class="din-timing">(07:00 PM - 09:00 PM)</span></ion-label>

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/soup.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          Soup of the Day displayed on menu board
        </ion-label>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/fried-rice.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Special fried rice</ion-label>

      </div>

    </ion-card>

    <div class="fi-selectable">

      <ion-card class="fi-card">

        <div class="fi-img-block">

          <img class="fi-img" src="/assets/dining/food-items/rosted-chicken-salad.png">

        </div>

        <div class="fi-info-block">

          <ion-label class="fi-name">Roasted chicken salad</ion-label>

        </div>

      </ion-card>

      <ion-label class="fi-or-label">Or</ion-label>

      <ion-card class="fi-card">

        <div class="fi-img-block">

          <img class="fi-img" src="/assets/dining/food-items/assorted-sandwiches.png">

        </div>

        <div class="fi-info-block">

          <ion-label class="fi-name">Assorted sandwiches</ion-label>

        </div>

      </ion-card>

    </div>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/dessert.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          Dessert of the Day displayed on menu board
        </ion-label>

      </div>

    </ion-card>

  </div>

  <div class="din-item-box">

    <ion-label class="din-item">Supper <span class="din-timing">(09:00 PM - 10:00 PM)</span></ion-label>

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/tea.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          Tea
        </ion-label>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/coffee.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          Coffee
        </ion-label>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/milo.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          Milo
        </ion-label>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/orange-juice.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          Orange juice
        </ion-label>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/s-d-biscuits.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          Sweet & dry biscuits
        </ion-label>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/sandwich.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          Sandwiches
        </ion-label>

      </div>

    </ion-card>

  </div> -->

</ion-content>

<!-- <ion-footer>

  <ion-button class="confirm-order-btn">

    <ion-label>Confirm Order</ion-label>

  </ion-button>

</ion-footer> -->