

<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label *ngIf="menu">{{menu.menu_name}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <div class="fts-box">

      <ion-icon name="chevron-back-outline" (click)="previous()"></ion-icon>

     <ion-label class="date-label">{{date}}</ion-label>

     <ion-icon name="chevron-forward-outline" (click)="next()"></ion-icon>

   </div>

    <ion-button class="dt-change-btn" (click)="chooseDate()">

      <img src="/assets/dining/date-icon-custom.svg">

    </ion-button>

  </ion-fab>


  <div class="fi-box" *ngFor="let menu of menuItems">

    <div class="din-item-box">

      <ion-label class="din-item">{{menu.servingtime}}
        <span class="din-timing">
          ({{menu.serving_date+' '+menu.start_time|dateformat:'hh:mm A'}}-{{menu.serving_date+' '+menu.end_time|dateformat:'hh:mm A'}})
        </span>

      </ion-label>

      <ion-icon class="din-more-options" name="ellipsis-vertical-sharp" *ngIf="showOption(menu)"
          (click)="options($event,menu.serving_time_id)" >
        </ion-icon>
    </div>

    <ion-label class="no-items" *ngIf="checkNoItems(menu)">No items</ion-label>
    <ng-container *ngFor="let item of menu.coloumns">
    <div class="din-fi-sec" *ngIf="item.item&&item.item.length==1" [class.doNotShow]="item.item[0].visibility==0">

      <div class="din-fi" *ngIf="item.item&&item.item.length==1">

        <ion-card class="fi-card" *ngFor="let i of item.item" [class.doNotShow]="!i.itemdetailsall" (click)="showDetails(i,menu.servingtime,menu.serving_time_id,1)">

          <div class="fi-img-block">
            <img class="continentalbreakfast-icon" src="/assets/dining/continentalbreakfast-icon.svg" *ngIf="i.subitem">

            <img class="fi-img" [src]="i.itemdetailsall.image" *ngIf="i.itemdetailsall">

          </div>

          <div class="fi-info-block" *ngIf="i.itemdetailsall">

            <ion-label class="fi-name">{{i.itemdetailsall.item_name}}</ion-label>

          </div>

        </ion-card>

      </div>

    </div>
</ng-container>
    <div class="din-fi-sec-optional" *ngFor="let item of menu.coloumns" [class.doNotShow]="item.item&&item.item.length<=1">

      <div class="fi-box-optional">

        <div class="fi-selectable" *ngIf="item.item&&item.item.length>1">

          <div class="fi-selectable-box" *ngFor="let i of item.item;let in=index" [class.doNotShow]="!i.itemdetailsall||i.visibility==0">

            <ion-card class="fi-card" (click)="showDetails(i,menu.servingtime,menu.serving_time_id,1)">

              <div class="fi-img-block">
                <img class="continentalbreakfast-icon" src="/assets/dining/continentalbreakfast-icon.svg" *ngIf="i.subitem">
                <img class="fi-img" [src]="i.itemdetailsall.image" *ngIf="i.itemdetailsall">

              </div>

              <div class="fi-info-block" *ngIf="i.itemdetailsall">

                <ion-label class="fi-name">{{i.itemdetailsall.item_name}}</ion-label>

              </div>

            </ion-card>

            <ion-label class="fi-or-label" *ngIf="item.item&&item.item.length>1&&in<item.item.length-1">Or</ion-label>

          </div>


        </div>

      </div>



    </div>


    <ng-container *ngFor="let item of additional_by_ser_time">
    <ng-container *ngIf="item.ser_time==menu.serving_time_id&&item.item&&item.item.length>0&&item.show">
      <div class="din-fi-sec" *ngFor="let i of item.item"  >
  
        <div class="din-fi" >
  
          <ion-card class="fi-card"  (click)="showDetails(i,menu.servingtime,menu.serving_time_id,2)">
  
            <div class="fi-img-block">
              <!-- <img class="continentalbreakfast-icon" src="/assets/dining/continentalbreakfast-icon.svg" *ngIf="i.subitem"> -->
  
              <img class="fi-img" [src]="i.image" >
  
            </div>
  
            <div class="fi-info-block" >
  
              <ion-label class="fi-name">{{i.item_name}}</ion-label>
  
            </div>
  
          </ion-card>
  
        </div>
  
      </div>
    </ng-container>
  </ng-container>

  </div>
  </ion-content>



