<ion-content>

  <div class="feedback-bg-blue">


    <span class="alternate-header first-sec-title">

      <ion-buttons mode="md" slot="start" (click)="back()">
        <ion-back-button text=""></ion-back-button>
        <ion-label>Feedback</ion-label>
      </ion-buttons>
    </span>

    <span class="feedback-white-box fwb-1 mt-zero" *ngIf="show==2">

      <ion-item lines="none" color="none">
        <ion-label class="give-us-feedback">Whom are you leaving the feedback for</ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="12" size-md="6" size-lg="6" (click)="setRole(1)">
            <ion-item lines="none" color="none" class="feedback-choose-resident" [class.fdbk_selected]="role==1">

              <ion-label style="color:#1c1c1c">
                Myself
              </ion-label>

            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="12" size-md="6" size-lg="6" (click)="setRole(2)">
            <ion-item lines="none" color="none" class="feedback-choose-resident" [class.fdbk_selected]="role==2">

              <ion-label style="color:#1c1c1c">
                Someone else
              </ion-label>

            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </span>
    <span class="feedback-white-box mt-zero sec-align" *ngIf="show==0">
      <ion-item lines="none" color="none">
        <ion-label class="give-us-feedback">Please choose from below</ion-label>
      </ion-item>

      <ion-grid>

        <ion-row>

          <ion-col size="12" size-sm="12" size-md="4" size-lg="4" (click)="next(3)" class="align_center">

            <div class="fdbk-box" [class.fdbk_selected]="type==3">

              <img src="assets/clap.png">

              <ion-label style="color:#1c1c1c">Compliment</ion-label>

            </div>

          </ion-col>

          <ion-col size="12" size-sm="12" size-md="4" size-lg="4" (click)="next(1)" class="align_center">

            <div class="fdbk-box" [class.fdbk_selected]="type==1">

              <img src="assets/unlike.png">

              <ion-label style="color:#1c1c1c">Complaint</ion-label>

            </div>

          </ion-col>

          <ion-col size="12" size-sm="12" size-md="4" size-lg="4" (click)="next(2)" class="align_center">

            <div class="fdbk-box" [class.fdbk_selected]="type==2">

              <img src="assets/bulb.png">

              <ion-label style="color:#1c1c1c">Suggestion</ion-label>

            </div>

          </ion-col>

        </ion-row>

      </ion-grid>

    </span>

    <span class="feedback-white-box cat-fwb mt-zero sec-align" *ngIf="show==1">

      <ion-item lines="none" color="none">
        <ion-label class="give-us-feedback">Pick a category</ion-label>
      </ion-item>

      <ion-grid id="cat">

        <ion-row class="fb-category-row">

          <ion-col size="6" size-sm="6" size-md="3" size-lg="4" *ngFor="let cat of category">

            <span class="feedback-card" (click)="gotoFeedback(cat)" [class.fdbk_selected]="cat_id==cat.id">

              <img src="/assets/feedback/categories/care.svg" *ngIf="cat.id==1">
              <img src="/assets/feedback/categories/lifestyle.svg" *ngIf="cat.id==2">
              <img src="/assets/feedback/categories/food.svg" *ngIf="cat.id==3">
              <img src="/assets/feedback/categories/environment.svg" *ngIf="cat.id==4">
              <img src="/assets/feedback/categories/staff.svg" *ngIf="cat.id==5">
              <img src="/assets/feedback/categories/others.svg" *ngIf="cat.id==6">

              <ion-label style="color:#1c1c1c">{{cat.name}}</ion-label>

            </span>

          </ion-col>
        </ion-row>

      </ion-grid>

    </span>

    <!-- <span class="feedback-white-box mt-zero" style="padding:5px 15px !important; width: 100%;" *ngIf="show==2">

      <ion-item lines="none" color="none">
        <ion-label class="give-us-feedback">Enter your feedback</ion-label>
      </ion-item>

      <form (ngSubmit)="continue()">
        <span class="padding-20" id="feed">

          <ion-textarea rows="20" name="feedback" class="fdbk-textarea" [(ngModel)]="feedback">

          </ion-textarea>

          <div class="fdbk-add-image" (click)="selectImage()" *ngIf="imageResponse.length<5">
            <ion-row>
              <ion-col size="2" class="col_fit">
                <ion-icon name="attach"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-label>Would you like to add any attachments?</ion-label>
              </ion-col>
            </ion-row>





          </div>
          <ion-row class="uploaded-images-container" *ngIf="imageResponse.length>0">

            <ion-col size="3" class="col_fit" *ngFor="let item of imageResponse;let i=index">

              <ion-thumbnail class="uploaded-image" (click)="viewImage()">
                <img src="{{item}}">
                <ion-icon name="close-circle-outline" class="remove-img" (click)="removeImg(i)"></ion-icon>
              </ion-thumbnail>

            </ion-col>

          </ion-row>

        </span>
        <button type="submit" style="visibility: hidden;width: 1px;height: 1px;padding: 0;margin: 0;"></button>
      </form>

    </span>
    <span class="feedback-white-box mt-zero about-sec" *ngIf="show==4">

      <ion-item lines="none" color="none">
        <ion-label class="sec-title">A bit about you</ion-label>
      </ion-item>

      <ion-row>
        <ion-col size="12">

          <ion-input [(ngModel)]="name" placeholder="Please enter your name"></ion-input>

        </ion-col>
        <ion-col size="12">

          <ion-input [(ngModel)]="email" placeholder="Please enter your email address"></ion-input>

        </ion-col>
        <ion-col size="12">

          <ion-input [(ngModel)]="phone" type="tel" placeholder="Please enter your phone number"></ion-input>

        </ion-col>

        <ion-col size="12" class="sbtn-container">

          <ion-button class="fdbk-continue-btn" (click)="submit()" *ngIf="show==4">Submit</ion-button>

        </ion-col>
      </ion-row>


    </span> -->

    <!-- <ion-button fill="clear"  style="color:#fff;text-transform: none; font-weight: normal;" *ngIf="show!=0" (click)="previous()">Previous</ion-button> -->

    <div class="no-feedback-sec" *ngIf="show==5">
      <ion-thumbnail>
        <img src="assets/no-feedback.png">
      </ion-thumbnail>

      <ion-text class="no-feedback-text">No Feedback Found</ion-text>

    </div>



  </div>


  <!-- </div> -->

</ion-content>

<!-- <ion-footer class="ion-no-border feedback-footer" no-border *ngIf="show!=2">
  <ion-toolbar>

    <ion-button class="fdbk-previous-btn" *ngIf="show!=2" (click)="previous()">

      <ion-icon name="arrow-back-outline"></ion-icon> Previous

    </ion-button>

   
  </ion-toolbar>
</ion-footer> -->

<ion-footer color="none" no-border class="feedback-footer" *ngIf="show!=2&&show!==5">

  <span style="float: left; display: flex; align-items: center; color: #0077B5;" (click)="previous()">
    <ion-icon name="arrow-back-outline"></ion-icon> &nbsp; Previous
  </span>



</ion-footer>