// ion-content {
//     padding-inline-start: 20px;
//     padding-inline-end: 20px;
//     --padding-start: 20px;
//     --padding-end: 20px;
//     --padding-top: 20px;
//     --padding-bottom: 20px;
// }

.alternate-header {
    ion-back-button {
        color: #fff;
        --padding-start: 10px;
        display: flex;
    }

    ion-label {
        color: #fff !important;
        font-size: 20px !important;
        font-weight: 400 !important;
    }
}

.give-us-feedback {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    width: 100%;
    color: #1c1c1c;
    margin-bottom: 15px;
}

.feedback-bg-blue {
    display: flex !important;
    // min-height: auto !important;
    // height: 100vh !important;
    padding: 10px !important;
}

.fdbk-previous-btn {
    --background: transparent;
    --border-radius: 50px;
    --box-shadow: none;
    --color: #8e8e8e;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    max-width: 140px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    text-transform: none;

    ion-icon {
        margin-right: 5px;
        display: inline-table;
    }
}

.fdbk-continue-btn {
    display: inline-flex !important;
    float: right;
}

ion-footer {
    ion-toolbar {
        // max-width: fit-content;
        // margin-left: auto;
        // margin-right: auto;

        ion-button {
            margin: 0px 5px !important;
            letter-spacing: normal !important;
        }
    }
}

.feedback-choose-resident {
    ion-label {
        padding-left: 0 !important;
        font-family: "Roboto", sans-serif !important;
    }
}

@media only screen and (max-width: 767px) {
    .feedback-choose-resident {
        text-align: center;
    }

    .feedback-bg-blue {
        display: flex !important;
        flex-direction: column;
        // justify-content: center;
        justify-content: flex-start;
        padding: 10px !important;
    }

    .alternate-header {
        // position: absolute;
        // top: 10px;
        // top: 30px;
        margin-top: 45px;
    }

    .give-us-feedback {
        margin-bottom: 5px !important;
        font-size: 18px;
    }

    .feedback-white-box {
        padding: 10px !important;
        // margin: 10px auto !important;
        margin: 15px auto !important;
    }

    .fdbk-box {
        border-radius: 10px !important;
        background-color: #fff !important;
        box-shadow: none !important;
        padding: 10px 15px;
        margin: 5px;
        border: 1px solid #e6e6e6;
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        min-width: 160px;

        img {
            width: 75px;
            display: flex;
            vertical-align: middle;
        }

        ion-label {
            font-size: 16px;
            color: #1c1c1c;
            text-align: center;
            display: flex;
            margin-top: 20px;
            margin-left: 0;
            vertical-align: middle;
            align-self: center;
        }
    }

    .fdbk-textarea {
        border: 1px solid #c8c8c8;
        border-radius: 8px;
        max-height: 170px !important;
        overflow-y: scroll;
        height: auto;
    }

    .fdbk-add-image {
        ion-col:nth-child(2) {
            padding-left: 10px;
        }

        ion-label {
            font-size: 16px;
            color: #828282;
            margin-left: 0;
        }
    }

    .feedback-card {
        background: rgb(236 236 236 / 50%);
        border-color: rgb(236 236 236 / 50%);
        display: flex;
        flex-direction: column;
        // border-radius: 100%;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        padding: 35px;
        height: 145px;
        width: 145px;
        // margin: 0px;
        margin: 10px auto;

        // &:last-child {
        //     margin-top: 30px;
        // }

        img {
            height: 50px;
            display: flex;
            margin-bottom: 10px;
        }
    }

    .fdbk-continue-btn {
        --background: #0077b5;
        --border-radius: 50px;
        --box-shadow: none;
        color: #fff;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        max-width: 130px;
        height: 45px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        text-transform: none;
    }

    .feedback-footer {
        padding: 5px 20px;
    }

    .feedback-choose-resident {
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

@media only screen and (min-width: 750px) and (max-width: 753px) {
    .feedback-white-box {
        max-width: fit-content;
    }

    span.feedback-white-box.cat-fwb.mt-zero.sec-align {
        max-width: 80% !important;
    }
}

@media only screen and (min-width: 768px) {
    .feedback-choose-resident {
        border: 1px solid #cecece;
        padding: 5px;
        border-radius: 10px;
        margin: 5px;
        --padding-start: 0;
        --inner-padding-end: 0;
        min-width: 165px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feedback-bg-blue {
        .feedback-white-box {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            display: block;
            // margin: 10px auto;
            margin-top: 90px !important;
            width: fit-content;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            align-self: center;

            .fdbk-box {
                padding: 25px 50px;
            }
        }
    }

    .feedback-card {
        background: rgb(236 236 236 / 50%);
        border-color: rgb(236 236 236 / 50%);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        padding: 35px;
        height: 145px;
        width: 145px;
        margin: 15px;

        img {
            height: 50px;
            display: flex;
            margin-bottom: 10px;
        }
    }

    .feedback-bg-blue {
        padding: 10px 40px !important;
        display: flex !important;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
    }

    .alternate-header {
        position: absolute;
        // top: 30px;
        top: 45px;
    }

    .fdbk-textarea {
        border: 1px solid #c8c8c8;
        border-radius: 8px;
        max-height: 200px !important;
        overflow-y: scroll;
    }

    .feedback-footer {
        padding: 10px 20px;
    }

    .category-box {
        display: flex;
        justify-content: center;

        ion-col {
            max-width: fit-content !important;
        }
    }

    .fb-category-row {
        align-items: center;
        justify-content: center;

        ion-col {
            max-width: fit-content !important;
            padding: 15px;

            .feedback-card {
                margin: 0;
            }
        }
    }
}

ion-footer {
    ion-toolbar {
        --background: transparent !important;
    }
}

.fdbk_selected {
    border: 2px solid #0077b5 !important;
}

.feedback-choose-resident {
    border: 1px solid #cecece;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;

    ion-label {
        padding-left: 10px;
    }
}

.remove-img {
    top: 0px !important;
    position: absolute;
    right: -7px;
    font-size: 22px;
    color: #fff;
    background-color: #040404;
    border-radius: 50px;
}

.uploaded-images-container {
    ion-col {
        padding: 0px 10px;

        .uploaded-image {
            position: relative;
            top: 10px;

            img {
                border-radius: 6px;
            }
        }
    }
}

.align_center {
    display: flex !important;
    justify-content: center !important;
}

.input-box {
    margin-top: 15px;
    border: #8e8e8e solid 1px;
}

.sec-align {
    position: relative;
    top: 15px;
}

ion-input {
    border: 1px solid #c8c8c8;
    border-radius: 6px;
    min-height: 45px;
}

.about-sec {
    padding: 10px 15px;
    width: 100%;

    .sec-title {
        font-size: 18px;
        margin: 0px !important;
        text-align: center;
    }
}

.sbtn-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.fdbk-continue-btn {
    --background: #0077b5;
    --border-radius: 50px;
    --box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    max-width: 158px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-transform: none;
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
    .feedback-card {
        margin: 3px auto;
    }
}

@media only screen and (min-width: 360px) and (max-width: 360px) and (max-height: 524px) {
    .sec-align {
        top: 0px !important;
    }

    .first-sec-title {
        position: relative !important;
        top: 0px !important;
    }

    .feedback-card {
        margin: 3px auto;
    }
}

@media only screen and (min-width: 360px) and (max-width: 360px) and (max-height: 598px) {
    .sec-align {
        top: 0px !important;
    }

    .first-sec-title {
        position: relative !important;
        top: 0px !important;
    }
}

@media only screen and (min-width: 393px) and (max-width: 393px) and (max-height: 694px) {
    .sec-align {
        top: 15px !important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 360px) and (max-height: 640px) {
    .sec-align {
        top: 15px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .fwb-1 {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .feedback-white-box {
        ion-item {
            .give-us-feedback {
                white-space: pre-line;
                // text-align: left;
                line-height: 25px;
            }
        }
    }

    .sec-align {
        position: relative;
        // top: 0px;
        top: 15px;

        ion-grid {
            margin: 0;
            padding-inline-start: 0;
            padding-inline-end: 0;
        }
    }
}

ion-footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fff;
}

.feedback-footer {
    padding: 20px 20px !important;
}

@media only screen and (min-width: 375px) and (max-width: 428px) {
    .alternate-header {
        // top: 70px !important;
        top: 20px !important;
    }
}

.fdbk-box {
    ion-label {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif !important;
    }
}

.feedback-white-box {
    .feedback-card {
        ion-label {
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif !important;
            font-size: 15px;
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 375px) and (orientation: portrait) {
    .sec-align {
        top: 0px;
    }
}

.ios.button.back-button-has-icon-only.ion-activatable.ion-focusable.hydrated {
    margin-right: 10px !important;
}
