<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/rv-res-list']"></ion-icon>
          <ion-label>Add resident</ion-label>
        </ion-col>

       

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content >

  


  <ion-card class="blue_card acc-card" (click)="expandSettings(1)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Perosnal Information</ion-label>
      </ion-col>

      <ion-col class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box pb-zero" *ngIf="expand1">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Title</ion-label>

        <ion-radio-group [(ngModel)]="title" >

          <ion-item lines="none" color="none">
            <ion-radio value="0" class=""></ion-radio>
            <ion-label>Mr</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-radio value="1" class=""></ion-radio>
            <ion-label>Mrs</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-radio value="2" class=""></ion-radio>
            <ion-label>Ms</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-radio value="3" class=""></ion-radio>
            <ion-label>Dr</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-radio value="4" class=""></ion-radio>
            <ion-label>Others</ion-label>
          </ion-item>

        </ion-radio-group>

        

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">First Name <span class="asterisk" >*</span></ion-label>

        <ion-input [(ngModel)]="fname" ></ion-input>

       

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Last Name <span class="asterisk" >*</span></ion-label>

        <ion-input [ngModel]="lname" ></ion-input>

       

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Mobile No.</ion-label>

        <div class="profile-dt-box" >

          <ion-input class="contact-phone-input" [(ngModel)]="mobile"></ion-input>

          <span class="country-code">
            +61
          </span>

        </div>

       

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Phone No. <span class="asterisk" >*</span></ion-label>

        <ion-input [(ngModel)]="phone" ></ion-input>

       
      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Email <span class="asterisk" >*</span></ion-label>

        <ion-input [(ngModel)]="email" ></ion-input>

       

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Username <span class="asterisk">*</span></ion-label>

        <ion-input [(ngModel)]="uname"></ion-input>

      </ion-col> -->

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Status</ion-label>

        <!-- <ion-input></ion-input> -->
        <ion-select class="text_color" [(ngModel)]="status" interface="action-sheet">

          <ion-select-option value="1">Active</ion-select-option>
          <ion-select-option value="0">Inactive</ion-select-option>
          <ion-select-option value="2">No contract</ion-select-option>

        </ion-select>

       

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Community Position</ion-label>

        <ion-select class="text_color" [(ngModel)]="position" interface="action-sheet">

          <ion-select-option value="1">Committee Member</ion-select-option>
          <ion-select-option value="2">Ambassador</ion-select-option>
          <ion-select-option value="3">Weekend Ambassador</ion-select-option>
          <ion-select-option value="0">N/A</ion-select-option>

        </ion-select>

       
      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-label class="profile-item-name">Description/ Personal History</ion-label>

        <ion-textarea rows="5" [(ngModel)]="description" ></ion-textarea>

    
      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10">

        <ion-toggle class="profile-toggle-switch" [(ngModel)]="share_photo" ></ion-toggle>
        <ion-label class="profile-item-name mt-zero"> Do not share photos publicly</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-toggle class="profile-toggle-switch" [(ngModel)]="share_dob" ></ion-toggle>
        <ion-label class="profile-item-name mt-zero"> Do not share DOB</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-toggle class="profile-toggle-switch" [(ngModel)]="share_phone" ></ion-toggle>
        <ion-label class="profile-item-name mt-zero"> Do not share phone number</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-toggle class="profile-toggle-switch" [(ngModel)]="share_email" ></ion-toggle>
        <ion-label class="profile-item-name mt-zero"> Do not share email</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-toggle class="profile-toggle-switch" [(ngModel)]="share_details"></ion-toggle>
        <ion-label class="profile-item-name mt-zero"> Do not share details to contacts</ion-label>

      </ion-col>

    </ion-row>

  </div>

  <ion-card class="blue_card acc-card" (click)="expandSettings(2)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Additional Information</ion-label>
      </ion-col>

      <ion-col class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box pb-zero" *ngIf="expand2">

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="profile-ai-sec mb-zero pb-zero">

        <!-- <ion-label class="profile-item-head mt-20">Additional information </ion-label> -->

        <ion-row>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name mt-zero">Dirth of Birth <span class="asterisk" >*</span>
            </ion-label>

            <span class="profile-dt-box" >

              <ion-datetime value="2020-10-31T15:43:40.394Z" displayFormat=" DD MMM YYYY" [(ngModel)]="dob">
              </ion-datetime>

              <ion-icon class="consumer-about-calendar-icon" name="calendar-clear-outline"></ion-icon>

            </span>

          

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Gender</ion-label>

            <ion-radio-group [(ngModel)]="gender" >

              <ion-item lines="none" color="none">
                <ion-radio value="0" class=""></ion-radio>
                <ion-label>Male</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="1" class=""></ion-radio>
                <ion-label>Female</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="2" class=""></ion-radio>
                <ion-label>Other</ion-label>
              </ion-item>

            </ion-radio-group>

          
          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Marital status</ion-label>

            <ion-select class="text_color" [(ngModel)]="marital_status" interface="action-sheet">

              <ion-select-option value="0">Married</ion-select-option>
              <ion-select-option value="1">Single</ion-select-option>
              <ion-select-option value="2">De facto</ion-select-option>
              <ion-select-option value="3">Other</ion-select-option>

            </ion-select>

         

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Contry of birth</ion-label>

            <ion-select class="text_color" [(ngModel)]="birth_country" interface="action-sheet">

              <ion-select-option value="{{item.id}}" *ngFor="let item of countries">{{item.name}}</ion-select-option>

            </ion-select>

            <!-- <span class="pi-ans">Australia</span> -->

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="8" size="12">

            <ion-label class="profile-item-name">Languages spoken</ion-label>

            <ion-select class="text_color" [(ngModel)]="languages" multiple="true" interface="action-sheet">

              <ion-select-option value="English">English</ion-select-option>
              <ion-select-option value="Italian">Italian</ion-select-option>
              <ion-select-option value="Spanish">Spanish</ion-select-option>
              <ion-select-option value="Greek">Greek</ion-select-option>
              <ion-select-option value="Macedonian">Macedonian</ion-select-option>
              <ion-select-option value="French">French</ion-select-option>
              <ion-select-option value="Welsh">Welsh</ion-select-option>
              <ion-select-option value="Arabic">Arabic</ion-select-option>
              <ion-select-option value="Persian">Persian</ion-select-option>
              <ion-select-option value="Turkish">Turkish</ion-select-option>
              <ion-select-option value="Japanese">Japanese</ion-select-option>
              <ion-select-option value="Vietnamese">Vietnamese</ion-select-option>
              <ion-select-option value="Mandarin">Mandarin</ion-select-option>
              <ion-select-option value="Hindi">Hindi</ion-select-option>
              <ion-select-option value="Filipino">Filipino</ion-select-option>
              <ion-select-option value="Tamil">Tamil</ion-select-option>

            </ion-select>

           

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Religion</ion-label>

            <ion-select class="text_color" [(ngModel)]="religion" interface="action-sheet">

              <ion-select-option value="1">Christ</ion-select-option>
              <ion-select-option value="2">Budhist</ion-select-option>
              <ion-select-option value="3">Hindu</ion-select-option>
              <ion-select-option value="4">Muslim</ion-select-option>
              <ion-select-option value="5">Sikh</ion-select-option>
              <ion-select-option value="6">Atheist</ion-select-option>
              <ion-select-option value="0">Others</ion-select-option>

            </ion-select>

          

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="pb-zero">

            <ion-label class="profile-item-name">Interpreter Required</ion-label>

            <ion-radio-group [(ngModel)]="interpreter" >

              <ion-item lines="none" color="none">
                <ion-radio value="1" class=""></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="0" class=""></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>

            </ion-radio-group>

           

          </ion-col>

        </ion-row>

        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

          <ion-row class="profile-ldin-sec">

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

              <ion-label class="profile-item-name">Likes</ion-label>



             

              <ng-container >

                <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-20"
                  *ngFor="let item of likes;let idx=index">

                  <div class="add-new-item-block">

                    <ion-input [(ngModel)]="likes[idx].value"></ion-input>

                    <ion-icon class="remove-option-btn" name="close-outline"
                      (click)="removeLikeItem(item,idx)"></ion-icon>

                  </div>

                </ion-col>

                <ion-col>

                  <ion-button class="add-new-item-button" (click)="addLikeItem()">
                    <ion-icon name="add-outline"></ion-icon>
                    <ion-label>Add new item</ion-label>
                  </ion-button>

                </ion-col>

              </ng-container>

            </ion-col>

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

              <ion-label class="profile-item-name">Dislikes</ion-label>



             

              <ng-container >

                <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-20"
                  *ngFor="let item of dislikes;let idx=index">

                  <div class="add-new-item-block">

                    <ion-input [(ngModel)]="dislikes[idx].value"></ion-input>
                    <ion-icon class="remove-option-btn" name="close-outline"
                      (click)="removeDislikeItem(item,idx)"></ion-icon>

                  </div>

                </ion-col>

                <ion-col>

                  <ion-button class="add-new-item-button" (click)="addDislikeItem()">
                    <ion-icon name="add-outline"></ion-icon>
                    <ion-label>Add new item</ion-label>
                  </ion-button>

                </ion-col>

              </ng-container>

            </ion-col>

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

              <ion-label class="profile-item-name">Interests</ion-label>

             

              <ng-container >
                <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-20"
                  *ngFor="let item of interests;let idx=index">

                  <div class="add-new-item-block">

                    <ion-input [(ngModel)]="interests[idx].value"></ion-input>
                    <ion-icon class="remove-option-btn" name="close-outline"
                      (click)="removeInterestsItem(item,idx)"></ion-icon>

                  </div>

                </ion-col>

                <ion-col>

                  <ion-button class="add-new-item-button" (click)="addInterestsItem()">
                    <ion-icon name="add-outline"></ion-icon>
                    <ion-label>Add new item</ion-label>
                  </ion-button>

                </ion-col>

              </ng-container>

            </ion-col>

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

              <ion-label class="profile-item-name">Needs</ion-label>

             

              <ng-container >

                <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-20"
                  *ngFor="let item of needs;let idx=index">

                  <div class="add-new-item-block">

                    <ion-input [(ngModel)]="needs[idx].value"></ion-input>
                    <ion-icon class="remove-option-btn" name="close-outline"
                      (click)="removeNeedsItem(item,idx)"></ion-icon>

                  </div>

                </ion-col>

                <ion-col>

                  <ion-button class="add-new-item-button" (click)="addNeedsItem()">
                    <ion-icon name="add-outline"></ion-icon>
                    <ion-label>Add new item</ion-label>
                  </ion-button>

                </ion-col>

              </ng-container>

            </ion-col>

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

              <ion-label class="profile-item-name">Groups</ion-label>

              <ion-select class="text_color" [(ngModel)]="group" multiple="true" interface="action-sheet">

                <ion-select-option value="{{item.id}}" *ngFor="let item of groups">{{item.name}}</ion-select-option>

              </ion-select>

             

            </ion-col>

          </ion-row>

        </ion-col>

        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

          <ion-row class="profile-moreinfo-sec">

            <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

              <ion-label class="profile-item-name">Car registration No.</ion-label>

              <ion-input [(ngModel)]="car_registration" ></ion-input>

             

            </ion-col>

            <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

              <ion-label class="profile-item-name">Electronic Door/Gate No.</ion-label>

              <ion-input [(ngModel)]="gate_no" ></ion-input>

             
            </ion-col>

            <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

              <ion-label class="profile-item-name">Key tag</ion-label>

              <ion-input [(ngModel)]="key_tag" ></ion-input>

             

            </ion-col>

            <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

              <ion-label class="profile-item-name">Key safe</ion-label>

              <ion-input [(ngModel)]="key_safe" ></ion-input>

           
            </ion-col>

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

              <ion-label class="profile-item-name">Additional Notes</ion-label>

              <ion-textarea rows="5" [(ngModel)]="additional_notes" ></ion-textarea>

             

            </ion-col>

          </ion-row>

        </ion-col>

      </ion-col>

    </ion-row>

  </div>

  

 

  <ion-card class="blue_card acc-card" (click)="expandSettings(5)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Healthcare Info</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand5">

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

        <!-- <ion-label class="profile-item-head">Healthcare Info </ion-label> -->

        <ion-row class="profile-moreinfo-sec">

          <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-label class="profile-item-name mt-zero">Medical conditions</ion-label>

            <ion-select class="text_color" [(ngModel)]="medical_conditions" interface="action-sheet">

              <ion-select-option value="2">Dehydration</ion-select-option>
              <ion-select-option value="3">Diabetes</ion-select-option>
              <ion-select-option value="4">High blood pressure</ion-select-option>

            </ion-select>

           

          </ion-col>


          <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-label class="profile-item-name">Medical history</ion-label>

            <ion-textarea rows="5" [(ngModel)]="medical_history" ></ion-textarea>

          

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Medicare No.</ion-label>

            <ion-input [(ngModel)]="medicare_number" ></ion-input>

          

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Individual Reference No</ion-label>

            <ion-input [(ngModel)]="ind_ref_no" ></ion-input>

           

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Card Expiry</ion-label>

            <!-- <ion-input></ion-input> -->

            <span class="profile-dt-box" >

              <ion-datetime value="2020-10-31T15:43:40.394Z" displayFormat=" DD MMM YYYY"
                [(ngModel)]="medical_card_expiry">
              </ion-datetime>

              <ion-icon class="consumer-about-calendar-icon" name="calendar-clear-outline"></ion-icon>

            </span>

            <!-- <ion-datetime value="" displayFormat=" DD MMM YYYY" display-timezone="utc"
              [(ngModel)]="medical_card_expiry" >
            </ion-datetime> -->

          

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Private Insurance Provider</ion-label>

            <ion-input [(ngModel)]="insurance_provider" ></ion-input>

         

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Membership No</ion-label>

            <ion-input [(ngModel)]="membership_no" ></ion-input>

           
          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Ambulance Cover</ion-label>

            <ion-input [(ngModel)]="ambulance_cover" ></ion-input>

           

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">HCP</ion-label>

            <ion-radio-group [(ngModel)]="hcp" >

              <ion-item lines="none" color="none">
                <ion-radio value="1" class=""></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="0" class=""></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>

            </ion-radio-group>

           

          </ion-col>

          <ion-col size-sm="12" size-md="12" size-lg="4" size="12" *ngIf="hcp==1">

            <ion-label class="profile-item-name">Select HCP Level</ion-label>

            <ion-select class="text_color" [(ngModel)]="hcp_level" interface="action-sheet">

              <ion-select-option value="1">Level 1</ion-select-option>
              <ion-select-option value="2">Level 2</ion-select-option>
              <ion-select-option value="3">Level 3</ion-select-option>
              <ion-select-option value="4">Level 4</ion-select-option>

            </ion-select>

           

          </ion-col>

          <ion-col size-sm="12" size-md="12" size-lg="4" size="12" *ngIf="hcp==1">

            <ion-label class="profile-item-name">HCP Provider</ion-label>

            <ion-select class="text_color" [(ngModel)]="hcp_provider" interface="action-sheet">

              <ion-select-option value="0">Internal</ion-select-option>
              <ion-select-option value="1">External</ion-select-option>

            </ion-select>

          

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="12" size="12">

            <ion-label class="profile-item-name">Provider name</ion-label>

            <ion-input [(ngModel)]="provider_name" ></ion-input>

          

          </ion-col>

          <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

            <ion-label class="profile-item-name">Additional health notes</ion-label>

            <ion-textarea rows="5" [(ngModel)]="additional_health_note" ></ion-textarea>

           

          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

  </div>

  <ion-card class="blue_card acc-card" (click)="expandSettings(6)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Pension & DVA</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand6">

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

        <!-- <ion-label class="profile-item-head">Pension & DVA </ion-label> -->

        <ion-row class="profile-moreinfo-sec mb-zero">

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name mt-zero">Pension</ion-label>

            <ion-input [(ngModel)]="pension" ></ion-input>

           

          </ion-col>


          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Type of pension</ion-label>

            <ion-input [(ngModel)]="pension_type" ></ion-input>

           

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Card expiry date </ion-label>

            <span class="profile-dt-box" >

              <ion-datetime value="2020-10-31T15:43:40.394Z" displayFormat=" DD MMM YYYY" display-timezone="utc"
                [(ngModel)]="pension_card_expiry">
              </ion-datetime>

              <ion-icon class="consumer-about-calendar-icon" name="calendar-clear-outline"></ion-icon>

            </span>

           

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">DVA</ion-label>

            <ion-input [(ngModel)]="DVA" ></ion-input>

          

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">DVA card type</ion-label>

            <ion-input [(ngModel)]="DVA_card" ></ion-input>

          

          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

  </div>

  <ion-card class="blue_card acc-card" (click)="expandSettings(7)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Other address</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand7">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name mt-zero">Street No.</ion-label>

        <ion-input [(ngModel)]="street_no" ></ion-input>

     

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Street Name</ion-label>

        <ion-input [(ngModel)]="street_name" ></ion-input>

      

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Suburb</ion-label>

        <ion-input [(ngModel)]="suburb" ></ion-input>

       
      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Postcode</ion-label>

        <ion-input [(ngModel)]="postcode" ></ion-input>

       

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">State/Territories</ion-label>

        <ion-select class="text_color" [(ngModel)]="state" interface="action-sheet">

          <ion-select-option value="ACT">ACT</ion-select-option>
          <ion-select-option value="NSW">NSW</ion-select-option>
          <ion-select-option value="NT">NT</ion-select-option>
          <ion-select-option value="SA">SA</ion-select-option>
          <ion-select-option value="TAS">TAS</ion-select-option>
          <ion-select-option value="VIC">VIC</ion-select-option>
          <ion-select-option value="WA">WA</ion-select-option>

        </ion-select>

      

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Country</ion-label>

        <ion-select class="text_color" [(ngModel)]="country" interface="action-sheet">

          <ion-select-option value="1">Australia</ion-select-option>

        </ion-select>

        
      </ion-col>


    </ion-row>

  </div>

  <ion-card class="blue_card acc-card" (click)="expandSettings(4)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Property Access Notes</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand4">

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

        <!-- <ion-label class="profile-item-head">Property Access Notes </ion-label> -->

        <ion-row class="profile-moreinfo-sec">

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name mt-zero">Permission to enter</ion-label>

            <ion-radio-group [(ngModel)]="permission_to_enter" >

              <ion-item lines="none" color="none">
                <ion-radio value="1" class=""></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="0" class=""></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>

            </ion-radio-group>

            

          </ion-col>


          <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

            <ion-label class="profile-item-name">Other notes</ion-label>

            <ion-textarea rows="5" [(ngModel)]="property_note" ></ion-textarea>

           
          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

  </div>


  <ion-card class="blue_card acc-card" (click)="expandSettings(3)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Pet</ion-label>
      </ion-col>

      <ion-col class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand3">

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

        <!-- <ion-label class="profile-item-head">Pet </ion-label> -->

        <ion-row class="profile-moreinfo-sec">

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name mt-zero">Pet</ion-label>

            <ion-radio-group [(ngModel)]="have_pet" >

              <ion-item lines="none" color="none">
                <ion-radio value="1" class=""></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="0" class=""></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>

            </ion-radio-group>

          

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Pet type</ion-label>

            <ion-select class="text_color" [(ngModel)]="pet" interface="action-sheet">

              <ion-select-option value="Fish"> Fish</ion-select-option>
              <ion-select-option value="Bird">Bird</ion-select-option>
              <ion-select-option value="Cat">Cat</ion-select-option>
              <ion-select-option value="Dog">Dog</ion-select-option>
              <ion-select-option value="Other">Other</ion-select-option>

            </ion-select>

          

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Pet policy provided</ion-label>

            <ion-radio-group [(ngModel)]="pet_policy" >

              <ion-item lines="none" color="none">
                <ion-radio value="1" class=""></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="0" class=""></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>

            </ion-radio-group>

            
          </ion-col>

          <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

            <ion-label class="profile-item-name">Pet photos</ion-label>


          

            <ion-label  (click)="addPetImage()">Add photos</ion-label>

            <ng-container >
              <ion-col *ngFor="let img of petImages;let i=index">
                <ion-thumbnail>
                  <img [src]="img">
                  <ion-icon name="close-circle-outline" (click)="removePetImg(i)"></ion-icon>
                </ion-thumbnail>
              </ion-col>
            </ng-container>
          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

  </div>


  

  

</ion-content>

<ion-footer >
  <ion-toolbar>
    <ion-button class="publish-btn" (click)="save()">
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer>