<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" [routerLink]="['/create-story']"></ion-icon>
          <ion-label>Visible to</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>



  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    
    <ion-radio-group value="visible-to">

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Public</ion-label>
        <ion-radio slot="start" value="public"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>All residents & family</ion-label>
        <ion-radio slot="start" value="all-c-f"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Specific residents & family</ion-label>
        <ion-radio slot="start" value="specific-c-f"></ion-radio>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Specific residents</ion-label>
        <ion-radio slot="start" value="specific-c"></ion-radio>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>

    </ion-radio-group>

  </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block">Continue &nbsp; <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>