<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Lunch on 11 Oct 2021</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="fi-detail-img">

          <img src="/assets/dining/food-items/soup-large.png">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">Soup <span>(2865 KJ)</span></ion-label>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="borderline-bottom">

        <ion-label class="dining-fi-title">Soup of the day</ion-label>

        <p class="fi-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, reiciendis aliquid?
          Temporibus optio quis pariatur, atque ipsum vel dignissimos itaque magnam, cupiditate reiciendis voluptates
          sed?</p>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10">

        <div class="din-fi-title-box">

          <ion-label class="dining-inner-title">Ingredients</ion-label>
          <ion-icon class="dining-inner-title-arrow-down " name="chevron-down-outline"></ion-icon>

        </div>

        <ul class="din-menu-ul">

          <li>Water</li>
          <li>Tea powder</li>
          <li>Milk</li>
          <li>fresh ginger, minced</li>
          <li>red pepper flakes</li>
          <li>wide strips tangerine zest</li>
          <li>fresh tangerine juice</li>
          <li>coarse salt</li>
          <li>potato or tapioca starch</li>
          <li>soy-less sauce</li>
          <li>rice vinegar gluten free</li>
          <li>honey or agave</li>
          <li>cooking oil rice, for serving</li>

        </ul>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="borderline-top">

        <ion-label class="dining-inner-title">Allergies</ion-label>

        <div class="allergies-block">

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

        </div>

      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>

<!-- <ion-footer>

  <ion-button class="apply-btn">
    <ion-icon name="checkmark-circle"></ion-icon>
    <ion-label>Apply</ion-label>
  </ion-button>

</ion-footer> -->