<!-- <ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
          <ion-label>{{servingtime}} on {{date}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="din-continental-img-block">

        <div class="fi-detail-img">

          <img [src]="item.itemdetails.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">{{item.itemdetails.item_name}}</ion-label>

        <ion-row>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

            <ion-label class="dining-inner-title">Quantity</ion-label>

            <ion-item lines="none" color="none" class="plus-minus">

              <ion-icon class="minus-icon" name="remove-outline"  item-right (click)="decrement()"></ion-icon>

              <ion-input type="number" min="1"  readonly [(ngModel)]="quantity"></ion-input>

              <ion-icon class="plus-icon" name="add-outline"  item-right (click)="increment()"></ion-icon>

            </ion-item>

          </ion-col>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6" *ngIf="item.itemdetails.servingquantity&&item.itemdetails.servingquantity.length">

            <ion-label class="dining-inner-title">Size</ion-label>

            <ion-segment  class="fi-size-segment-btn" [(ngModel)]="ml_sz_id" mode="md">


              <ion-segment-button value="{{mz.meal_size.id}}" *ngFor="let mz of item.itemdetails.servingquantity" (click)="setMealSize(mz.meal_size.id)" [class.segment-selected]="ml_sz_id==mz.meal_size.id" mode="md">
                <ion-label *ngIf="mz.meal_size.id==1">S</ion-label>
                <ion-label *ngIf="mz.meal_size.id==2">M</ion-label>
                <ion-label *ngIf="mz.meal_size.id==3">L</ion-label>
                <ion-label *ngIf="mz.meal_size.id==4">N</ion-label>
              </ion-segment-button>
             

            </ion-segment>


          </ion-col>

         

        </ion-row>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 borderline-top-bottom" *ngIf="item.itemdetails.options&&item.itemdetails.options.length">

       

    
        <ion-label class="dining-inner-title mt-20">Options</ion-label>

        <ng-container *ngFor="let opt of item.itemdetails.options;let i=index">
        <span class="dining-inner-title-1">{{opt.option.option_name}}</span>

        <div class="fi-options-block">

          <ion-label class="fi-options" [class.fi-options-selected]="selectedVal[i].val==val.valuename.id" 
          *ngFor="let val of opt.valuess" (click)="selectOptions(opt.option.id,val.valuename.id)">
          {{val.valuename.option_value}}</ion-label>

         

        </div>
      </ng-container>
       

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10" *ngIf="item.itemdetails.alergies&&item.itemdetails.alergies.length">

        <ion-label class="dining-inner-title">Allergies</ion-label>

        <div class="allergies-block">

          <ion-chip class="allergy" *ngFor="let i of item.itemdetails.alergies">
            <i class="al-other" [class.al-celery]="i.alergy.alergy=='Celery'"
                      [class.al-crustaceans]="i.alergy.alergy=='Crustaceans'"
                      [class.al-glutten]="i.alergy.alergy=='Gluten'"
                      [class.al-lupin]="i.alergy.alergy=='Lupin'"
                      [class.al-molluscs]="i.alergy.alergy=='Molluscs'"
                      [class.al-mustard]="i.alergy.alergy=='Mustard'"
                      [class.al-peanut]="i.alergy.alergy=='Peanuts'"
                      [class.al-sesame]="i.alergy.alergy=='Sesame'"
                      [class.al-soy]="i.alergy.alergy=='Soya'"
                      [class.al-sulphite]="i.alergy.alergy=='Sulphites'"
                      [class.al-treenut]="i.alergy.alergy=='Treenuts'"
                      [class.al-wheat]="i.alergy.alergy=='Wheat'"></i>
            <ion-label>{{i.alergy.alergy}}</ion-label>
          </ion-chip>

          

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="din-sec-title" *ngIf="item.itemdetails.ingrediants&&item.itemdetails.ingrediants.length">

        <ion-label class="dining-inner-title">More information</ion-label>

        <ion-icon name="chevron-down-outline"></ion-icon>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="mt-10" *ngIf="item.itemdetails.ingrediants&&item.itemdetails.ingrediants.length">

        <div class="ingredients-box">

          <span class="ib-title">Ingredients</span>

         <ng-container *ngFor="let ing of item.itemdetails.ingrediants">
          <ion-label *ngIf="ing.ingredient">{{ing.ingredient.name}}
          </ion-label>
        </ng-container>
         

        </div>

      </ion-col>

      

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20">

        <ion-label class="dining-inner-title">Comments</ion-label>

        <ion-textarea class="fi-comments" rows="5" [(ngModel)]="comments" placeholder="Please enter the comment, if any"> </ion-textarea>
        <ion-label class="dining-inner-title" *ngIf="item.itemdetails.description">Description</ion-label>
        <p class="fi-description">{{item.itemdetails.description}}</p>
      
      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>

<ion-footer>

  <ion-button class="save-btn" (click)="save()">Save</ion-button>

  <ion-button class="cancel-btn" (click)="dismiss()">Cancel</ion-button>

</ion-footer> -->




<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
          <ion-label>{{servingtime}} on {{date}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="din-continental-img-block">

        <div class="fi-detail-img" (click)="openImg(item.itemdetails.image)">

          <img [src]="item.itemdetails.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">{{item.itemdetails.item_name}}</ion-label>

        <ion-row>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

            <ion-label class="dining-inner-title">Quantity</ion-label>

            <ion-item lines="none" color="none" class="plus-minus">

              <ion-icon class="minus-icon" name="remove-outline"  item-right (click)="decrement()"></ion-icon>

              <ion-input type="number" min="1"  readonly [(ngModel)]="quantity"></ion-input>

              <ion-icon class="plus-icon" name="add-outline"  item-right (click)="increment()"></ion-icon>

            </ion-item>

          </ion-col>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6" *ngIf="item.itemdetails.servingquantity&&item.itemdetails.servingquantity.length">

            <ion-label class="dining-inner-title">Size</ion-label>

            <ion-segment  class="fi-size-segment-btn" [(ngModel)]="ml_sz_id" mode="md">


              <ion-segment-button value="{{mz.meal_size.id}}" *ngFor="let mz of item.itemdetails.servingquantity" (click)="setMealSize(mz.meal_size.id)" [class.segment-selected]="ml_sz_id==mz.meal_size.id" mode="md">
                <ion-label *ngIf="mz.meal_size.id==1">S</ion-label>
                <ion-label *ngIf="mz.meal_size.id==2">M</ion-label>
                <ion-label *ngIf="mz.meal_size.id==3">L</ion-label>
                <ion-label *ngIf="mz.meal_size.id==4">N</ion-label>
              </ion-segment-button>
           

            </ion-segment>


          </ion-col>

       

        </ion-row>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 borderline-top-bottom" *ngIf="item.itemdetails.options&&item.itemdetails.options.length">

       

    
        <ion-label class="dining-inner-title mt-20">Options</ion-label>

        <ng-container *ngFor="let opt of item.itemdetails.options;let i=index">
        <span class="dining-inner-title-1">{{opt.option.option_name}}</span>

        <div class="fi-options-block" *ngIf="selectedVal&&selectedVal.length">

          <ion-label class="fi-options" [class.fi-options-selected]="selectedVal[i].val==val.id" 
          *ngFor="let val of opt.valuess" (click)="selectOptions(opt.id,val.id)">
          {{val.valuename.option_value}}</ion-label>

         

        </div>
      </ng-container>
      

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10" *ngIf="item.itemdetails.alergies&&item.itemdetails.alergies.length">

        <ion-label class="dining-inner-title">Allergies</ion-label>

        <div class="allergies-block">

          <ion-chip class="allergy" *ngFor="let i of item.itemdetails.alergies">
            <i class="al-other" [class.al-celery]="i.alergy.alergy=='Celery'"
                      [class.al-crustaceans]="i.alergy.alergy=='Crustaceans'"
                      [class.al-glutten]="i.alergy.alergy=='Gluten'"
                      [class.al-lupin]="i.alergy.alergy=='Lupin'"
                      [class.al-molluscs]="i.alergy.alergy=='Molluscs'"
                      [class.al-mustard]="i.alergy.alergy=='Mustard'"
                      [class.al-peanut]="i.alergy.alergy=='Peanuts'"
                      [class.al-sesame]="i.alergy.alergy=='Sesame'"
                      [class.al-soy]="i.alergy.alergy=='Soya'"
                      [class.al-sulphite]="i.alergy.alergy=='Sulphites'"
                      [class.al-treenut]="i.alergy.alergy=='Treenuts'"
                      [class.al-wheat]="i.alergy.alergy=='Wheat'"></i>
            <ion-label>{{i.alergy.alergy}}</ion-label>
          </ion-chip>

         

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="din-sec-title" *ngIf="item.itemdetails.ingrediants&&item.itemdetails.ingrediants.length">

        <ion-label class="dining-inner-title">More information</ion-label>

        <ion-icon name="chevron-down-outline"></ion-icon>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="mt-10" *ngIf="item.itemdetails.ingrediants&&item.itemdetails.ingrediants.length">

        <div class="ingredients-box">

          <span class="ib-title">Ingredients</span>

         <ng-container *ngFor="let ing of item.itemdetails.ingrediants">
          <ion-label *ngIf="ing.ingredient">{{ing.ingredient.name}}
          </ion-label>
        </ng-container>
        

        </div>

      </ion-col>

     

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20">

        <ion-label class="dining-inner-title">Comments</ion-label>

        <ion-textarea class="fi-comments" rows="5" [(ngModel)]="comments" > </ion-textarea>
        <ion-label class="dining-inner-title" *ngIf="item.itemdetails.description">Description</ion-label>
        <p class="fi-description">{{item.itemdetails.description}}</p>
      
      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>

<ion-footer>

  <ion-button class="save-btn" (click)="save()">Save</ion-button>

  <ion-button class="cancel-btn" (click)="dismiss()">Cancel</ion-button>

</ion-footer>