ion-label {
    font-size: 15px !important;
    color: #222;
    white-space: pre-wrap !important;
    margin-left: 10px;
}

ion-icon {
    font-size: 20px;
    color: #666;
    margin-inline-end: 0px !important;
}
