
<div *ngIf="type==1">

<ion-item lines="none" color="none" (click)="edit()">
  
  <ion-icon name="create-outline" slot="start" ></ion-icon>
 
    <ion-label >Edit contact</ion-label>
  
</ion-item>

<ion-item lines="none" color="none" (click)="remove()" *ngIf="data.user_details.status==1">
  
  <ion-icon name="trash-outline" slot="start" ></ion-icon>
 
    <ion-label >Remove</ion-label>
  
</ion-item>
<ion-item lines="none" color="none" (click)="activate()" *ngIf="data.user_details.status==0">
  
  <ion-icon name="repeat-outline" slot="start"></ion-icon>
 
    <ion-label >Activate</ion-label>
  
</ion-item>

</div>


<div *ngIf="type==2">
<ion-item lines="none" color="none" (click)="approve()">
  
  <ion-icon name="checkmark-done-outline" slot="start" ></ion-icon>
 
    <ion-label >Approve invitation</ion-label>
  
</ion-item>

<ion-item lines="none" color="none" (click)="resend()">
  
  <ion-icon name="paper-plane-outline" slot="start" ></ion-icon>
 
    <ion-label >Resend invitation</ion-label>
  
</ion-item>

<ion-item lines="none" color="none" (click)="removeInvitation()">
  
  <ion-icon name="trash-outline" slot="start" ></ion-icon>
 
    <ion-label >Remove </ion-label>
  
</ion-item>

</div>