ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --background: #eee;
}

.rv-res-doc-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 2px;
    min-height: 180px;
    position: relative;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;

    .optional-tag {
        position: absolute;
        top: 8px;
        left: 8px;
        padding: 2px 10px;
        background: #ccc;
        display: flex;
        font-size: 12px;
        border-radius: 50px;
        color: #222;
        height: 25px;
    }

    .res-more-options {
        font-size: 19px;
        color: #9b9b9b;
        margin-left: auto;
        position: absolute;
        top: 15px;
        right: 10px;
    }

    .shared {
        background: #ffe4fa;
        color: #930077;
    }

    .rv-res-doc-icon {
        width: 45px;
    }

    .rv-res-doc-name {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #545454;
        text-align: center;
        margin-top: 10px;
    }

    .rv-res-doc-download {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        background: #e5f3ff;
        color: #2e83ad;
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        height: 25px;
        margin-top: 10px;

        ion-icon {
            font-size: 19px;
            color: #2e83ad;
            margin-left: 5px;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .rv-res-doc-card {
        .optional-tag {
            top: 4px;
            left: 4px;
            padding: 2px 8px;
            font-family: "Roboto", sans-serif;
            font-size: 11px;
            height: 18px;
        }
    } 
}
