<ion-header class="ion-header-inner-2">
  <ion-label>
    Food options
  </ion-label>
</ion-header>

<ion-content *ngIf="data&&flag!=1">

  <div class="fo-box" *ngFor="let item of data">
    <ion-label class="fo-title">{{item.option_name.option_name}}</ion-label>
    <ion-label class="fo">{{item.value_name.option_value}}</ion-label>
  </div>
</ion-content>

<ion-content *ngIf="data&&flag==1">

  <div class="fo-box" *ngFor="let item of data">
    <ion-label class="fo-title">{{item.menu_item_option.option_detail.option_name}}</ion-label>
    <ion-label class="fo">{{item.menu_item_value.value_detail.option_value}}</ion-label>
  </div>
</ion-content>