.ion-header-inner-2 {
    background: #0077B5;
    padding: 15px;
    color: #fff;
    align-self: center;
    align-items: center;
    align-content: center;
    display: flex;
    min-height: auto;

    ion-label {
        font-size: 16px;
    }
}

ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;

    .fo-box {
        display: flex;
        flex-direction: column;

        .fo-title {
            font-size: 16px;
            font-weight: 500;
            color: #0077b5;
        }

        .fo {
            font-size: 15px;
            color: #222;
        }
    }
}