ion-header {
    .create-task-btn {
        --background: rgba(135, 181, 255, 0.3) !important;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 0;
        --padding-end: 0;
        width: 45px;
        height: 45px;
    }

    .filter-task-btn {
        --background: rgba(135, 181, 255, 0.3) !important;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 0;
        --padding-end: 0;
        width: 45px;
        height: 45px;
        margin-left: 15px;

        ion-icon,
        i {
            font-size: 25px;
        }
    }

    .hdr-task-searchbar {
        color: #232323 !important;
        background-color: #fff;
        border-radius: 6px;
        margin-top: 10px;
        padding: 15px !important;
        height: 45px !important;
        --box-shadow: none !important;
    }
}

ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 70px;
    --padding-bottom: 20px;
    // --background: #eee;
    --background:#f4f5fa;
}

.fixed-top-sec {
    padding: 0 10px 0;
    box-shadow: none;
    justify-content: center;
    border: 1px solid #e7e7e7;

    .fts-segment {
        font-family: "Roboto", sans-serif;

        .seg-total-tasks {
            min-width: 125px;
            max-width: fit-content;
            --color-checked: #7d00db;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 0px;

            ion-label {
                font-size: 16px;
                font-weight: 500;
                color: #7d00db;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .total-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #f0dcff;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }

        .seg-pending-tasks {
            // min-width: 125px;
            min-width: 65px;
            max-width: fit-content;
            --color-checked: #ff8c00;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 0px;

            ion-label {
                font-size: 16px;
                font-weight: 500;
                color: #ff8c00;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .ptc {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: rgb(255 140 0 / 15%);
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }

        .seg-ip-tasks {
            // min-width: 150px;
            min-width: 90px;
            max-width: fit-content;
            --color-checked: #00a1ff;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 0px;
            // margin-left: 10px;
            margin-left: 30px;

            ion-label {
                font-size: 16px;
                font-weight: 500;
                color: #00a1ff;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .iptc {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: rgb(0 161 255 / 15%);
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }
    }

    .seg-overdue-tasks {
        min-width: 125px;
        max-width: fit-content;
        --color-checked: #fd0800;
        --indicator-height: 3px;
        --padding-start: 0;
        --padding-end: 0;
        padding-bottom: 0px;
        margin-left: 10px;

        ion-label {
            font-size: 16px;
            font-weight: 500;
            color: #fd0800;
            letter-spacing: normal;
            margin-top: 0;
            margin-bottom: 0;

            .otc {
                min-width: 35px;
                min-height: 35px;
                font-size: 16px;
                padding: 5px;
                background-color: rgb(253 8 0 / 10%);
                border-radius: 50px;
                margin-left: 5px;
                /* position: absolute; */
                /* top: 0; */
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
            }
        }
    }

    .seg-completed-tasks {
        // min-width: 148px;
        min-width: 85px;
        max-width: fit-content;
        --color-checked: #00ad00;
        --indicator-height: 3px;
        --padding-start: 0;
        --padding-end: 0;
        padding-bottom: 0px;
        // margin-left: 10px;
        margin-left: 30px;

        ion-label {
            font-size: 16px;
            font-weight: 500;
            color: #00ad00;
            letter-spacing: normal;
            margin-top: 0;
            margin-bottom: 0;

            .ctc {
                min-width: 35px;
                min-height: 35px;
                font-size: 16px;
                padding: 5px;
                background-color: rgb(0 173 0 / 15%);
                border-radius: 50px;
                margin-left: 5px;
                /* position: absolute; */
                /* top: 0; */
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
            }
        }
    }
}

.task-list-card {
    margin: 0;
    box-shadow: none !important;
    position: relative;
    background-color: #ffffff !important;
    // border: 1px solid #dfdfdf;
    border: 1px solid #e7e7e7;

    .tlc-header {
        width: 100%;
        // padding: 20px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-top: 5px;
        background: #fff;

        .tlc-label {
            font-size: 18px;
            font-weight: 500;
            color: #222;
            line-height: 20px;
            margin-right: 20px;
            display: flex;
            flex-direction: column;

            .task-due-date {
                // font-family: "Open Sans", sans-serif;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                font-weight: normal;
                color: #646464;
                margin-top: 5px;

                b {
                    font-size: 14px;
                    font-weight: 500;
                }

                .tdd-red {
                    color: #ff0000 !important;
                }
            }
        }

        .tlc-hdr-option-block {
            display: flex;
            align-items: center;
            align-self: end;

            ion-icon {
                font-size: 18px;
                color: #9b9b9b;
                background: #e8e8e8;
                padding: 5px;
                border-radius: 50px;

                // &:nth-child(2) {
                //     margin-left: 15px;
                //     background: #e5e5e5;
                //     padding: 5px;
                //     border-radius: 50px;
                // }
            }
        }
    }

    .overdue-ribbon {
        background: #ff0000;
        color: #fff;
        padding: 2px 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        border-radius: 0 12px;
        position: absolute;
        right: 0;
        font-size: 12px;
        z-index: 999;
    }

    ion-card-content {
        // padding-top: 10px;
        // border-top: 1px solid #e5e5e5;
        background: #fff;
        position: relative;

        ion-row {
            ion-col {
                border-bottom: 1px dashed #dfdfdf;
                padding-bottom: 10px;
                margin-bottom: 5px;

                &:last-child {
                    border: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }

        .tlc-mo-icon {
            font-size: 18px;
            color: #545454;
            position: absolute;
            right: 12px;
            top: 12px;
            z-index: 99999;
        }

        .tlc-options-label {
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            color: #707070;
            text-align: left;
            display: flex;
            flex-direction: column;

            .tlc-res-info-box {
                display: flex;
                align-items: center;

                .tlc-res-prop-name {
                    font-family: "Poppins", sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    color: #222;
                    margin-top: 2px;
                    display: flex;
                    flex-direction: column;

                    .rv-property-name {
                        font-family: "Roboto", sans-serif;
                        font-size: 13px;
                        font-weight: normal;
                        color: #707070;
                        display: block;
                    }
                }

                .tlc-more-resident-count {
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    background: #daebff;
                    padding: 10px;
                    border-radius: 21px;
                    color: #006dea;
                    line-height: initial;
                    font-family: "Roboto", sans-serif;
                    font-size: 13px;
                    font-weight: 600;
                    margin: 0 0 0 10px;
                    min-width: 32px;
                    min-height: 32px;
                    max-width: 32px;
                    max-height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            span {
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 500;
                color: #222;
                margin-top: 2px;
            }

            .priority-low {
                color: #00dcff;
            }

            .priority-medium {
                // color: #008eff;
                color: #ff8c00;
            }

            .priority-high {
                color: #ff0000;
            }

            .tlc-assignees-box {
                display: flex;
                align-items: center;
                position: relative;
                margin-top: 10px;

                ion-avatar {
                    width: 40px;
                    height: 40px;
                    --border-radius: 50px;

                    &:nth-child(2) {
                        position: absolute;
                        left: 25px;
                    }
                }

                .more-assignees {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #daebff;
                    position: absolute;
                    left: 50px;

                    ion-label {
                        font-size: 16px;
                        color: #006dea;
                    }
                }

                .no-assignees-label {
                    font-size: 16px;
                    color: #f44336;
                    height: 40px;
                }
            }

            .st-ti-status-box {
                ion-select {
                    color: #222;
                    background: #f3f3f3;
                    width: 100%;
                    margin-top: 10px;
                    border-radius: 10px;
                    --padding-start: 15px;
                    --padding-end: 15px;

                    .st-ti-sb-pending {
                        color: #00a1ff !important;
                    }

                    .st-ti-sb-ip {
                        color: #ff8c00 !important;
                    }

                    .st-ti-sb-completed {
                        color: #00ad00 !important;
                    }
                }
            }
        }

        .task-description {
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            line-height: 22px;
            color: #545454;
            margin-top: 5px;
        }
    }

    .d-none {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .task-list-card {
        .overdue-ribbon {
            border-radius: 12px 0px !important;
            left: 0;
            right: unset !important;
        }
    }
}

.ml-auto {
    margin-left: auto;
    display: contents;
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 5px solid #2980b9;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 2px 0;
    background-color: #ff0000;
    color: #fff;
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-align: center;
}

/* top right*/
.ribbon-top-right {
    top: -10px;
    right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}

.ribbon-top-right::before {
    top: 0;
    left: 0;
}

.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}

.ribbon-top-right span {
    left: 8px;
    top: 21px;
    transform: rotate(45deg);
    z-index: 999;
}
