<div #expandWrapper1 class='expand-wrapper' [class.collapsed]="expanded">
  <ng-content></ng-content>
</div>
<!-- <div class='expand-wrapper' [class.collapsed]="!expanded2">
  <ng-content></ng-content>
</div>
<div class='expand-wrapper' [class.collapsed]="!expanded3">
  <ng-content></ng-content>
</div> -->