<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="dismiss(menu.id)"></ion-icon>
          <ion-label>{{serving_time}} on {{date}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="menu">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="col-fit">

        <div class="fi-detail-img" (click)="openImg(menu.image)">

          <img [src]="menu.image" >

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">{{menu.item_name}} <span
            *ngIf="menu.energy_joules">({{menu.energy_joules}} KJ)</span></ion-label>

        <ion-row>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

            <ion-label class="dining-inner-title">Quantity</ion-label>

            <ion-item lines="none" color="none" class="plus-minus">

              <ion-icon class="minus-icon" name="remove-outline" (click)="decrement()" item-right></ion-icon>

              <ion-input type="number" min="1" [(ngModel)]="quantity" readonly></ion-input>

              <ion-icon class="plus-icon" name="add-outline" (click)="increment()" item-right></ion-icon>

            </ion-item>

          </ion-col>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6"
            *ngIf="menu.servingquantity&&menu.servingquantity.length">

            <ion-label class="dining-inner-title">Size</ion-label>

            <ion-segment class="fi-size-segment-btn" [(ngModel)]="ml_sz_id" mode="md">

              <ion-segment-button value="{{mz.meal_size.id}}" *ngFor="let mz of menu.servingquantity"
                (click)="setMealSize(mz.meal_size.id)" [class.segment-selected]="ml_sz_id==mz.meal_size.id">
                <ion-label *ngIf="mz.meal_size.id==1">S</ion-label>
                <ion-label *ngIf="mz.meal_size.id==2">M</ion-label>
                <ion-label *ngIf="mz.meal_size.id==3">L</ion-label>
                <ion-label *ngIf="mz.meal_size.id==4">N</ion-label>
              </ion-segment-button>

             

            </ion-segment>


          </ion-col>

         

        </ion-row>

      </ion-col>

    </ion-row>

    <ion-row>




      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 borderline-top-bottom"
        *ngIf="menu.options&&menu.options.length">

        <ion-label class="dining-inner-title">Options</ion-label>

        <div *ngFor="let opt of menu.options;let i=index">

          <span class="dining-inner-title-1">{{opt.option.option_name}}</span>

          <div class="fi-options-block">

            <ion-label class="fi-options" [class.fi-options-selected]="selectedVal[i].val==val.id"
              *ngFor="let val of opt.valuess" (click)="selectOptions(opt.id,val.id)">
              {{val.valuename.option_value}}</ion-label>

           

          </div>
        </div>
       

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 borderline-bottom">

        <ion-label class="dining-inner-title">Comments</ion-label>

        <ion-textarea class="fi-comments" rows="5" [(ngModel)]="comments"  >
        </ion-textarea>

        <p class="fi-description">{{menu.description}}</p>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10"
        *ngIf="menu.ingrediants&&menu.ingrediants.length">

        <ion-label class="dining-inner-title">Ingredients</ion-label>

        <ng-container *ngFor="let ing of menu.ingrediants">
          <ion-label class="din-ingredients-list" *ngIf="ing.ingredient"><ion-icon name="ellipse-outline"></ion-icon> {{ing.ingredient.name}}
          </ion-label>
        </ng-container>
      </ion-col>


      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10"
        *ngIf="menu.alergies&&menu.alergies.length">

        <ion-label class="dining-inner-title">Allergies</ion-label>

        <div class="allergies-block">

          <ion-chip class="allergy" *ngFor="let item of menu.alergies">
            <i class="al-other" [class.al-celery]="item.alergy.alergy=='Celery'"
              [class.al-crustaceans]="item.alergy.alergy=='Crustaceans'"
              [class.al-glutten]="item.alergy.alergy=='Gluten'" [class.al-lupin]="item.alergy.alergy=='Lupin'"
              [class.al-molluscs]="item.alergy.alergy=='Molluscs'" [class.al-mustard]="item.alergy.alergy=='Mustard'"
              [class.al-peanut]="item.alergy.alergy=='Peanuts'" [class.al-sesame]="item.alergy.alergy=='Sesame'"
              [class.al-soy]="item.alergy.alergy=='Soya'" [class.al-sulphite]="item.alergy.alergy=='Sulphites'"
              [class.al-treenut]="item.alergy.alergy=='Treenuts'" [class.al-wheat]="item.alergy.alergy=='Wheat'"></i>
            <ion-label>{{item.alergy.alergy}}</ion-label>
          </ion-chip>

         

        </div>



      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>




<!-- <ion-content *ngIf="flag==1">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="fi-detail-img">

          <img [src]="menu.itemdetails.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">{{menu.itemdetails.item_name}} <span
            *ngIf="menu.itemdetails.energy_joules">({{menu.itemdetails.energy_joules}} KJ)</span></ion-label>

        <ion-row>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

            <ion-label class="dining-inner-title">Quantity</ion-label>

            <ion-item lines="none" color="none" class="plus-minus">

              <ion-icon class="minus-icon" name="remove-outline" (click)="decrement()" item-right></ion-icon>

              <ion-input type="number" min="1" [(ngModel)]="quantity" readonly></ion-input>

              <ion-icon class="plus-icon" name="add-outline" (click)="increment()" item-right></ion-icon>

            </ion-item>

          </ion-col>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6"
            *ngIf="menu.itemdetails.servingquantity&&menu.itemdetails.servingquantity.length">

            <ion-label class="dining-inner-title">Size</ion-label>

            <ion-segment class="fi-size-segment-btn" [(ngModel)]="ml_sz_id" mode="md">

              <ion-segment-button value="{{mz.meal_size.id}}" *ngFor="let mz of menu.itemdetails.servingquantity"
                (click)="setMealSize(mz.meal_size.id)" [class.segment-selected]="ml_sz_id==mz.meal_size.id">
                <ion-label *ngIf="mz.meal_size.id==1">S</ion-label>
                <ion-label *ngIf="mz.meal_size.id==2">M</ion-label>
                <ion-label *ngIf="mz.meal_size.id==3">L</ion-label>
                <ion-label *ngIf="mz.meal_size.id==4">N</ion-label>
              </ion-segment-button>

           

            </ion-segment>


          </ion-col>

         

        </ion-row>

      </ion-col>

    </ion-row>

    <ion-row>




      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 borderline-top-bottom"
        *ngIf="menu.itemdetails.options&&menu.itemdetails.options.length">

        <ion-label class="dining-inner-title">Options</ion-label>

        <div *ngFor="let opt of menu.itemdetails.options;let i=index">

          <span class="dining-inner-title-1">{{opt.option.option_name}}</span>

          <div class="fi-options-block">

            <ion-label class="fi-options" [class.fi-options-selected]="selectedVal[i].val==val.valuename.id"
              *ngFor="let val of opt.valuess" (click)="selectOptions(opt.option.id,val.valuename.id)">
              {{val.valuename.option_value}}</ion-label>

            

          </div>
        </div>
      

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 borderline-bottom">

        <ion-label class="dining-inner-title">Comments</ion-label>

        <ion-textarea class="fi-comments" rows="5" [(ngModel)]="comments" placeholder="Enter the comment">
        </ion-textarea>

        <p class="fi-description">{{menu.itemdetails.description}}</p>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10"
        *ngIf="menu.itemdetails.ingrediants&&menu.itemdetails.ingrediants.length">

        <ion-label class="dining-inner-title">Ingredients</ion-label>

        <ng-container *ngFor="let ing of menu.itemdetails.ingrediants">
          <ion-label class="din-ingredients-list" *ngIf="ing.ingredient"><ion-icon name="ellipse-outline"></ion-icon> {{ing.ingredient.name}}
          </ion-label>
        </ng-container>
      </ion-col>


      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10"
        *ngIf="menu.itemdetails.alergies&&menu.itemdetails.alergies.length">

        <ion-label class="dining-inner-title">Allergies</ion-label>

        <div class="allergies-block">

          <ion-chip class="allergy" *ngFor="let item of menu.itemdetails.alergies">
            <i class="al-other" [class.al-celery]="item.alergy.alergy=='Celery'"
              [class.al-crustaceans]="item.alergy.alergy=='Crustaceans'"
              [class.al-glutten]="item.alergy.alergy=='Gluten'" [class.al-lupin]="item.alergy.alergy=='Lupin'"
              [class.al-molluscs]="item.alergy.alergy=='Molluscs'" [class.al-mustard]="item.alergy.alergy=='Mustard'"
              [class.al-peanut]="item.alergy.alergy=='Peanuts'" [class.al-sesame]="item.alergy.alergy=='Sesame'"
              [class.al-soy]="item.alergy.alergy=='Soya'" [class.al-sulphite]="item.alergy.alergy=='Sulphites'"
              [class.al-treenut]="item.alergy.alergy=='Treenuts'" [class.al-wheat]="item.alergy.alergy=='Wheat'"></i>
            <ion-label>{{item.alergy.alergy}}</ion-label>
          </ion-chip>

        

        </div>



      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content> -->






<ion-footer>

  <ion-button class="apply-btn" (click)="apply()">
    <ion-label>Save</ion-label>
  </ion-button>

</ion-footer>