ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --background: #f1f1f1;
}

.note-type-card {
    background: #fff;
    box-shadow: none !important;
    border-radius: 15px !important;
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 0;

    .ntc-icon-box {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background: #d8d8d8;
        display: flex;
        align-items: center;
        justify-content: center;

        i,
        ion-icon {
            font-size: 22px;
            color: #252525;
        }
    }

    .ntc-label {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #252525;
        margin-left: 15px;
    }

    .ntc-icon-box-1 {
        background: #dfccff !important;

        i,
        ion-icon {
            color: #673ab7 !important;
        }
    }

    .ntc-icon-box-2 {
        background: #cfeff3 !important;

        i,
        ion-icon {
            color: #0e8999 !important;
        }
    }

    .ntc-icon-box-3 {
        background: #ffe0f7 !important;

        i,
        ion-icon {
            color: #ca4fa9 !important;
        }
    }

    .ntc-icon-box-4 {
        background: #ffe1e5 !important;

        i,
        ion-icon {
            color: #ef0b0b !important;
        }
    }

    .ntc-icon-box-5 {
        background: #f0e9ce !important;

        i,
        ion-icon {
            color: #b38e00 !important;
        }
    }

    .ntc-icon-box-6 {
        background: #d8efd3 !important;

        i,
        ion-icon {
            color: #29ad0d !important;
        }
    }

    .ntc-icon-box-7 {
        background: #ffe3da !important;

        i,
        ion-icon {
            color: #e15c34 !important;
        }
    }
}
