<ion-content>

  <ion-row>

    <ion-col size="12">

      <ion-card class="note-type-card" (click)="setNoteType(1)">

        <div class="ntc-icon-box ntc-icon-box-1">
          <ion-icon name="create-outline"></ion-icon>
        </div>

        <ion-label class="ntc-label">Note</ion-label>

      </ion-card>

    </ion-col>

    <ion-col size="12">

      <ion-card class="note-type-card" (click)="setNoteType(2)">

        <div class="ntc-icon-box ntc-icon-box-2">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <ion-label class="ntc-label">Email</ion-label>

      </ion-card>

    </ion-col>

    <ion-col size="12">

      <ion-card class="note-type-card" (click)="setNoteType(3)">

        <div class="ntc-icon-box ntc-icon-box-3">
          <ion-icon name="call-outline"></ion-icon>
        </div>

        <ion-label class="ntc-label">Call</ion-label>

      </ion-card>

    </ion-col>

    <ion-col size="12">

      <ion-card class="note-type-card" (click)="setNoteType(4)" [class.selected-note-type]="note-type==4">

        <div class="ntc-icon-box ntc-icon-box-4">
          <i class="las la-notes-medical"></i>
        </div>

        <ion-label class="ntc-label">Health note</ion-label>

      </ion-card>

    </ion-col>

    <ion-col size="12">

      <ion-card class="note-type-card" (click)="setNoteType(5)" [class.selected-note-type]="note-type==5">

        <div class="ntc-icon-box ntc-icon-box-5">
          <ion-icon name="document-text-outline"></ion-icon>
        </div>

        <ion-label class="ntc-label">Observation note</ion-label>

      </ion-card>

    </ion-col>

  </ion-row>

</ion-content>

<!-- <ion-row>

  <ion-col class="opt-label" size="12">
    <ion-label>Choose an option</ion-label>
  </ion-col>

  <ion-col size="12" class="note-type-sec">

    <ion-chip class="general-note" (click)="setNoteType(1)">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Note</ion-label>
    </ion-chip>

    <ion-chip class="email-note" (click)="setNoteYype(2)">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Email</ion-label>
    </ion-chip>

    <ion-chip class="call-note" (click)="setNoteType(3)">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Call</ion-label>
    </ion-chip>

    <ion-chip class="health-note" (click)="setNoteType(4)" [class.selected-note-type]="note-type==4">
      <ion-icon name="document-outline"></ion-icon>
      <ion-icon class="health-plus-icon" name="add-outline"></ion-icon>
      <ion-label>Health Note</ion-label>
    </ion-chip>

    <ion-chip class="observation-note" (click)="setNoteType(5)" [class.selected-note-type]="note-type==5">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Observation Note</ion-label>
    </ion-chip>

  </ion-col> -->