.ion-header-inner {
    background: #0077b5 !important;

    ion-label {
        span {
            display: block;
            color: #c7eafb;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
        }
    }

    .hdr-btn {
        --background: #c7eafb;
        --border-radius: 50px;
        --padding-start: 8px;
        --padding-end: 8px;
        --box-shadow: none;
        color: #0077b5;
        width: 40px;
        height: 40px;
    }

    .hdr-btn-nc {
        --background: transparent;
        --border-radius: 0;
        --padding-start: 0;
        --padding-end: 0;
        --box-shadow: none;
        color: #c7eafb;

        ion-icon {
            font-size: 25px;
        }
    }
}

ion-content {
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 65px;
    --padding-bottom: 5px;
    --background: #eee;
}

.fixed-top-sec {
    padding: 10px 10px 0;

    .fts-segment {
        .seg-total {
            min-width: 125px;
            max-width: fit-content;
            --color-checked: #7d00db;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                color: #7d00db;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .total-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #f0dcff;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }

        .seg-to-serve {
            min-width: 125px;
            max-width: fit-content;
            --color-checked: #ff7216;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                color: #ff7216;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .to-serve-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #ffe9db;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }

        .seg-served {
            min-width: 150px;
            max-width: fit-content;
            --color-checked: #0077b5;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;
            margin-left: 10px;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                color: #0077b5;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .served-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #d2e0ff;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }
    }

    .seg-refused {
        min-width: 125px;
        max-width: fit-content;
        --color-checked: #ff1635;
        --indicator-height: 3px;
        --padding-start: 0;
        --padding-end: 0;
        padding-bottom: 5px;
        margin-left: 10px;

        ion-label {
            font-size: 18px;
            font-weight: 500;
            color: #ff1635;
            letter-spacing: normal;
            margin-top: 0;
            margin-bottom: 0;

            .refused-count {
                min-width: 35px;
                min-height: 35px;
                font-size: 16px;
                padding: 5px;
                background-color: #ffd9de;
                border-radius: 50px;
                margin-left: 5px;
                /* position: absolute; */
                /* top: 0; */
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
            }
        }
    }

    .seg-leave {
        min-width: 125px;
        max-width: fit-content;
        --color-checked: #ffcc00;
        --indicator-height: 3px;
        --padding-start: 0;
        --padding-end: 0;
        padding-bottom: 5px;
        margin-left: 10px;

        ion-label {
            font-size: 18px;
            font-weight: 500;
            color: #ffcc00;
            letter-spacing: normal;
            margin-top: 0;
            margin-bottom: 0;

            .leave-count {
                min-width: 35px;
                min-height: 35px;
                font-size: 16px;
                padding: 5px;
                background-color: #fff1bb;
                border-radius: 50px;
                margin-left: 5px;
                /* position: absolute; */
                /* top: 0; */
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
            }
        }
    }

    .seg-order-pending {
        min-width: 180px;
        max-width: fit-content;
        --color-checked: #ff7300;
        --indicator-height: 3px;
        --padding-start: 0;
        --padding-end: 0;
        padding-bottom: 5px;
        margin-left: 10px;

        ion-label {
            font-size: 18px;
            font-weight: 500;
            color: #ff7300;
            letter-spacing: normal;
            margin-top: 0;
            margin-bottom: 0;

            .order-pending-count {
                min-width: 35px;
                min-height: 35px;
                font-size: 16px;
                padding: 5px;
                background-color: rgb(255 115 0 / 12%);
                border-radius: 50px;
                margin-left: 5px;
                /* position: absolute; */
                /* top: 0; */
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
            }
        }
    }
}

.din-search-result {
    font-size: 18px;
    font-weight: 500;
    color: #707070;
    text-align: center;
    display: block;
    margin: 15px 0px;
}

.din-consumer-info-card {
    padding: 5px;
    margin: 0;
    display: flex;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;

    ion-grid {
        ion-row {
            // border-top: 1px dashed #E1E1E1;
            // border-bottom: 1px dashed #E1E1E1;

            ion-col {
                &:nth-child(2) {
                    padding-left: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }

    // .back-icon {
    //     font-size: 25px;
    //     vertical-align: middle;
    // }

    .consumer-pic {
        width: 60px;
        height: 60px;
        margin-left: 0px;
    }

    .c-name {
        font-size: 16px;
        font-weight: 600;
        color: #252525;
        margin-left: 10px;
        display: inline-flex;
        flex-direction: column;
        align-self: center;
        vertical-align: middle;

        .room-no {
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: normal;
            display: block;
            color: #808080;
            // margin-left: 10px;
        }
    }

    .icons-block {
        float: right;
        display: flex;

        .other-info-icon {
            font-size: 25px;
            background: #d4f1ff;
            color: #68b1d4;
            border-radius: 50px;
            padding: 2px;
            justify-content: center;
            align-items: center;
            align-self: center;
        }

        .chevron-down {
            font-size: 25px;
            background: #ededed;
            color: #9b9b9b;
            border-radius: 50px;
            padding: 2px;
            justify-content: center;
            align-items: center;
            align-self: center;
            margin-left: 12px;
        }
    }

    .diet-info-box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-top: 1px dashed #c9c9c9;
        border-bottom: 1px dashed #c9c9c9;
        // border-bottom: 1px dashed #c9c9c9;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0px;

        .di-item {
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #ffff;
            background: #707070;
            text-align: center;
            border-radius: 50px;
            padding: 2px 9px;
            margin: 4px;
        }

        .diabetic {
            background: #0fbbf3 !important;
        }

        .regular {
            background: #232323 !important;
        }

        .mildly-thicky {
            background: #bf1c62 !important;
        }

        .msm {
            background: #757fff !important;
        }

        .food-ft {
            background: #ff5b49 !important;

            i {
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }

    .vmore-btn {
        --background: transparent;
        --box-shadow: none;
        --ripple-color: #c9c9c9;
        color: #0077b5;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        text-transform: none;
        letter-spacing: normal;
        margin: 10px auto 0;
        display: block;
    }

    .dietary-preference-sec {
        display: flex;
        color: #0177b4;
        border-bottom: 1px dashed #c9c9c9;
        padding-bottom: 10px;
        margin-bottom: 0px;

        ion-icon {
            font-size: 32px;
        }

        ion-label {
            font-size: 15px;
            margin-left: 10px;
            align-self: center;
        }
    }

    .serving-area-sec {
        display: flex;
        padding-bottom: 5px;
        // border-bottom: 1px dashed #c9c9c9;
        // margin-bottom: 5px;

        ion-label {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            align-self: center;
            color: #6c6c6c;

            span {
                font-weight: 600;
            }
        }
    }

    .din-other-info-box {
        background: #ecf9ff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .sec-title {
            --padding-start: 0px;
            --inner-padding-end: 0px;
            --min-height: auto;
            margin-bottom: 10px;
            display: contents;

            ion-label {
                color: #0077b5;
                margin: 0;
            }

            ion-icon {
                color: #0077b5;
                margin: 0;
                vertical-align: middle;
            }
        }

        .din-other-info {
            font-size: 15px;
            color: #656565;
            border-bottom: 1px dashed #c9c9c9;
            padding-bottom: 10px;
            margin-bottom: 5px;

            &:last-child {
                border: none;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }

            span {
                display: block;
                font-weight: 600;
            }
        }
    }

    .din-inner-control-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;

        ion-label {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: #707070;
        }

        .din-btn-box {
            .select-all-item-btn {
                --background: #1cac4b;

                ion-icon {
                    font-size: 25px;
                    color: #fff;
                }
            }

            .more-option-btn {
                --background: #e7e7e7;

                ion-icon {
                    color: #707070;
                    font-size: 18px;
                }
            }

            .din-add-item-btn {
                --background: #0077b5;

                ion-icon {
                    font-size: 25px;
                    color: #fff;
                }
            }

            ion-button {
                --border-radius: 50px;
                --box-shadow: none;
                --background: transparent;
                --padding-start: 0;
                --padding-end: 0;
                width: 40px;
                height: 40px;
                margin: 0px 0px 0px 15px;

                &:first-child {
                    margin-left: 0px;
                }
            }
        }

        .order-now-btn {
            --background: #1aab4a;
            --border-radius: 50px;
            --padding-start: 20px;
            --padding-end: 20px;
            --box-shadow: none;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            text-transform: none;
        }
    }

    .din-order-box {
        border: 1px solid #d6d6d6;
        border-radius: 10px;
        display: flex;
        align-items: center;
        height: 100%;

        .served-status-tag {
            background: #c0ffff;
            color: #005360;
            border: 1px solid #a6ebeb;
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 11px;
            padding: 2px 8px;
            border-radius: 10px 0px 10px 0px;
            z-index: 999;
        }

        .consumed-status-tag {
            background: #c8ffc4;
            color: #005608;
            border: 1px solid #b3ebaf;
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 11px;
            padding: 2px 8px;
            border-radius: 10px 0px 10px 0px;
            z-index: 999;
        }

        .fi-color-strip {
            display: flex;
            width: 8px;
            height: 50px;
            background: #d8d8d8;
            position: absolute;
            left: -2px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .mild-thick {
            background-color: #ea4e96;
        }

        .regular-texture {
            background-color: #000;
        }

        .din-o-fi-img {
            width: 65px;
            height: 65px;
            border-radius: 10px;
            object-fit: cover;
            display: flex;
        }

        .din-o-fi-name {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: #252525;
            line-height: 20px;
            display: flex;
            align-self: start;
        }

        .din-o-fi-food-options {
            display: flex;
            flex-wrap: wrap;
            margin-top: 5px;
            margin-right: auto;

            .food-options {
                background: #feefe5;
                color: #ff7216;
                font-family: "Roboto", sans-serif;
                font-size: 12px;
                font-weight: 300;
                text-align: center;
                border-radius: 4px;
                padding: 2px 6px;
                margin: 4px;

                &:first-child {
                    margin-left: 0px;
                }
            }
        }

        .din-o-fi-other-options {
            display: flex;
            // justify-content: space-between;
            width: 100%;

            .din-o-fi-quantity {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                padding: 4px 8px;
                margin-top: 10px;
                background: #f3def9;
                color: #bf55df;
                min-width: 30px;
                height: 30px;
                font-family: "Roboto", sans-serif;
            }

            .din-o-fi-meal-size {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                padding: 4px 8px;
                margin-top: 10px;
                margin-left: 10px;
                color: #05b9a9;
                background: #d2fffb;
                width: 30px;
                height: 30px;
                font-family: "Roboto", sans-serif;
            }

            .din-o-fi-meal-option {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                padding: 4px 8px;
                margin-top: 10px;
                margin-left: 10px;
                background: #f1ecff;
                width: 30px;
                height: 30px;

                i {
                    font-size: 20px;
                    text-align: center;
                    margin: 0px;
                }
            }

            .din-serving-comment-icon {
                --background: transparent;
                --box-shadow: none;
                --padding-start: 0;
                --padding-end: 0;
                width: 35px;
                height: 35px;
                margin-top: 5px;
                position: absolute;
                // right: 0px;
                right: 50px;
                bottom: 0;
                z-index: 99999999;

                img {
                    height: 35px;
                }
            }
        }

        .din-o-fi-comments {
            display: flex;
            margin-top: 10px;

            ion-label {
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                color: #6c6c6c;
                line-height: 18px;
            }
        }

        .din-checkbox {
            position: absolute;
            right: 12px;
            --border-width: 0;
            --background: #e7e7e7;
            --border-radius: 50px;
            --background-checked: #0077b5;
            --checkmark-width: 1.5px;
            width: 25px;
            height: 25px;
        }

        .fim-div-2 {
            ion-button {
                --background: #f4f4f4;
                --box-shadow: none;
                --border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                position: absolute;
                right: 10px;
                bottom: 10px;
                z-index: 99999;

                i {
                    font-size: 20px;
                    color: #707070;
                    text-align: center;
                }
            }
        }
    }

    .din-order-box-selected {
        border: 2px solid #0077b5;

        .fi-color-strip {
            background: #0077b5 !important;
        }
    }

    .din-o-button-controls-sec {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        ion-button {
            --background: transparent;
            --box-shadow: none;
            --border-radius: 50px;
            border-radius: 50px;
            border: 1px solid #222;
            color: #222;
            text-transform: none;
            font-weight: normal;
            font-size: 16px;
            margin: 0px 5px;
        }

        .served-btn {
            border: 1px solid #41c357 !important;
            color: #41c357 !important;
            --background-activated: #41c357 !important;
            --color-activated: #fff !important;
            margin-left: 0;
        }

        .refused-btn {
            border: 1px solid #707070 !important;
            color: #707070 !important;
            --background-activated: #707070 !important;
            --color-activated: #fff !important;
        }

        .leave-btn {
            border: 1px solid #ff7216 !important;
            color: #ff7216 !important;
            --background-activated: #ff7216 !important;
            --color-activated: #fff !important;
            margin-right: 0;
        }
    }
}

.justify-sb {
    justify-content: space-between;
}

.din-leave {
    pointer-events: none;
    opacity: 0.4;
    filter: grayscale(1);
}

.wing-sec {
    // margin-top: 20px;
    // margin-bottom: 10px;
    // padding: 0px 10px;
    // display: flex;
    // justify-content: space-between;

    // margin-top: 10px;
    // margin-bottom: 10px;
    // background: #f1f1f1;
    // padding: 10px 15px;
    // border-radius: 10px;
    // display: flex;
    // justify-content: space-between;

    margin-top: 10px;
    margin-bottom: 10px;
    background: #d9d9d9;
    border: 1px solid #cfcfcf;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    // &:first-child {
    //     margin-top: 65px;
    // }

    ion-label {
        color: #656565;
        font-size: 18px;
        font-weight: 500;
    }

    ion-icon {
        font-size: 25px;
        color: #656565;
        vertical-align: middle;
        align-self: center;
    }
}

.din-serving-remarks {
    background: #ffeef0;
    color: #ff0000;
    padding: 5px 10px;
    margin: 10px 10px 0px;
    display: block;
    border-radius: 6px;
    font-size: 16px;

    ion-icon {
        font-size: 20px;
        vertical-align: middle;
    }
}

.din-serving-comments {
    background: #fffad0;
    color: #b3a000;
    padding: 5px 10px;
    margin: 10px 10px 0px;
    display: block;
    border-radius: 6px;
    font-size: 16px;

    ion-icon {
        font-size: 20px;
        vertical-align: middle;
    }
}

.fc-info {
    background: #e7ffea;
    color: #0e911f;
    padding: 5px 10px;
    margin: 10px 10px 0px;
    display: block;
    border-radius: 6px;
    font-size: 16px;

    ion-icon {
        font-size: 20px;
        vertical-align: middle;
    }
}

.din-leave {
    pointer-events: none;
    opacity: 0.4;
    filter: grayscale(1);
}

.ribbon-served:before {
    content: "";
    width: 60px;
    display: block;
    position: absolute;
    top: 14px;
    left: -28px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #0077b5;
    height: 0;
    z-index: 999;
}

.ribbon-served:after {
    content: "Served";
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    text-transform: none;
    text-align: center;
    line-height: 30px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    width: 60px;
    display: block;
    position: absolute;
    top: 14px;
    left: 2px;
    height: 30px;
    z-index: 9999;
}
.ribbon-consumed:before {
    content: "";
    width: 60px;
    display: block;
    position: absolute;
    top: 14px;
    left: -28px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #41c357;
    height: 0;
    z-index: 999;
}

.ribbon-consumed:after {
    // content: "Consumed";
    // font-size: 12px;
    // font-weight: normal;
    // color: #FFF;
    // text-transform: none;
    // text-align: center;
    // line-height: 30px;
    // transform: rotate(315deg);
    // -webkit-transform: rotate(315deg);
    // width: 60px;
    // display: block;
    // position: absolute;
    // top: 14px;
    // left: 2px;
    // height: 30px;
    // z-index: 9999;
    content: "Consumed";
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    text-transform: none;
    text-align: center;
    line-height: 30px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    width: 68px;
    display: block;
    position: absolute;
    top: 16px;
    left: -4px;
    height: 30px;
    z-index: 9999;
}

.ribbon-refused:before {
    content: "";
    width: 60px;
    display: block;
    position: absolute;
    top: 14px;
    left: -28px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #ff1635;
    height: 0;
    z-index: 999;
}

.ribbon-refused:after {
    content: "Refused";
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    text-transform: none;
    text-align: center;
    line-height: 30px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    width: 60px;
    display: block;
    position: absolute;
    top: 14px;
    left: 2px;
    height: 30px;
    z-index: 9999;
}

.ribbon-leave:before {
    content: "";
    width: 60px;
    display: block;
    position: absolute;
    top: 14px;
    left: -28px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #ffcc00;
    height: 0;
    z-index: 999;
}

.ribbon-leave:after {
    content: "Leave";
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    text-transform: none;
    text-align: center;
    line-height: 30px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    width: 60px;
    display: block;
    position: absolute;
    top: 14px;
    left: 2px;
    height: 30px;
    z-index: 9999;
}

.flexwrap-wrap {
    flex-wrap: wrap;
}

.allergy-sec {
    display: flex;
    flex-wrap: wrap;
}

.dflex {
    display: flex;
}

.al-celery {
    background: url(/assets/dining/allergy-icons/celery.svg) no-repeat center center !important;
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 2px;
}

.al-crustaceans {
    background: url(/assets/dining/allergy-icons/crustaceans.svg) no-repeat center center !important;
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 2px;
}

.al-glutten {
    background: url(/assets/dining/allergy-icons/gluten.svg) no-repeat center center !important;
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 2px;
}

.al-lupin {
    background: url(/assets/dining/allergy-icons/lupin.svg) no-repeat center center !important;
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 2px;
}

.al-molluscs {
    background: url(/assets/dining/allergy-icons/molluscs.svg) no-repeat center center !important;
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 2px;
}

.al-mustard {
    background: url(/assets/dining/allergy-icons/mustard.svg) no-repeat center center !important;
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 2px;
}

.al-peanut {
    background: url(/assets/dining/allergy-icons/peanut.svg) no-repeat center center !important;
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 2px;
}

.al-sesame {
    background: url(/assets/dining/allergy-icons/sesame.svg) no-repeat center center !important;
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 2px;
}

.al-soy {
    background: url(/assets/dining/allergy-icons/soy.svg) no-repeat center center !important;
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 2px;
}

.al-sulphite {
    background: url(/assets/dining/allergy-icons/sulphite.svg) no-repeat center center !important;
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 2px;
}

.al-treenut {
    background: url(/assets/dining/allergy-icons/treenut.svg) no-repeat center center !important;
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 2px;
}

.al-wheat {
    background: url(/assets/dining/allergy-icons/wheat.svg) no-repeat center center !important;
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 2px;
}

.al-other {
    background: url(/assets/dining/allergy-icons/other-allergy.svg) no-repeat center center;
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 2px;
}

@media only screen and (min-width: 332px) and (max-width: 332px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 45%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 50%;
            line-height: 20px;
        }

        .din-o-button-controls-sec {
            ion-button {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 375px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 52%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 390px) and (max-width: 390px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 54%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 393px) and (max-width: 393px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 54%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 412px) and (max-width: 412px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 58%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 414px) and (max-width: 414px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 58%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 690px) and (max-width: 690px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 75%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 712px) and (max-width: 712px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 76%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 753px) and (max-width: 753px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 78%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 78%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 820px) and (max-width: 820px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 80%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 833px) and (max-width: 833px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 80%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 834px) and (max-width: 834px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 80%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 970px) and (max-width: 970px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 83%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 84%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 1080px) and (max-width: 1080px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 85%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 1112px) and (max-width: 1112px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 85%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 1180px) and (max-width: 1180px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 86%;
            line-height: 20px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .justify-sb {
        justify-content: unset;
    }
}

.no-result {
    margin-top: 20px;
    width: -webkit-fill-available;
    text-align: center;
    font-size: 18px;
    color: #000;
}

@media only screen and (min-width: 320px) and (max-width: 320px) {
    .din-consumer-info-card {
        .c-name {
            max-width: 42%;
        }

        .din-o-button-controls-sec {
            ion-button {
                font-size: 12px !important;
            }
        }

        .din-inner-control-sec {
            flex-direction: column;

            ion-label {
                margin-bottom: 15px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .fixed-top-sec {
        .fts-segment {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
}

@media only screen and (min-width: 1001px) {
    .fixed-top-sec {
        .fts-segment {
            width: 100%;
            justify-content: unset;

            ion-segment-button {
                margin: 0 25px;
            }

            .seg-total {
                margin-left: 0;
            }
        }
    }
}

@media only screen and (min-width: 750px) {
    .ion-header-inner {
        ion-grid {
            ion-row {
                ion-col {
                    &:nth-child(2) {
                        margin-left: auto;
                        padding-right: 15px !important;
                    }
                }
            }
        }
    }
}
