<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="ion-align-self-start page-name" size-sm="8" size-md="10" size-lg="10" size="8">

          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>

          <ion-label>In room dining
            <span>{{servetime}} on {{date|dateformat:'DD MMM YYYY'}}</span>
          </ion-label>

        </ion-col>

        <ion-col class="col-fit ion-align-self-start page-name" size-sm="2" size-md="1" size-lg="1" size="2"
          *ngIf="hide" (click)="search()">
          <ion-button class="hdr-btn">
            <ion-icon name="search-sharp"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- <ion-col class="col-fit ion-align-self-start page-name" size-sm="2" size-md="1" size-lg="1" size="2">
          <ion-button class="hdr-btn">
            <ion-icon name="funnel-outline"></ion-icon>
          </ion-button>
        </ion-col> -->

        <ion-col class="col-fit ion-align-self-start page-name" size-sm="2" size-md="1" size-lg="1" size="2"
          *ngIf="status=='1'&&count.to_consume!=0&&edit">
          <ion-button class="hdr-btn-nc" (click)="markasserved($event)">
            <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

      <ion-row *ngIf="!hide">

        <ion-col>

          <ion-searchbar class="clife-search-bar" placeholder="Search residents" (ionClear)="cancel()"
            [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="details">

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec" *ngIf="count">

    <ion-segment class="fts-segment" scrollable [(ngModel)]="status" mode="md"
      (ionChange)="segmentChanged($event,status)">

      <ion-segment-button class="seg-total" value="1">

        <ion-label>Total
          <span class="total-count">{{count.total}}</span>
        </ion-label>

      </ion-segment-button>

      <!-- <ion-segment-button class="seg-pending" value="7">

        <ion-label>Pending
          <span class="pending-count">{{count.to_consume}}</span>
        </ion-label>

      </ion-segment-button> -->
      <ion-segment-button class="seg-to-serve" value="2">

        <ion-label>To serve
          <span class="to-serve-count">{{count.to_consume}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-served" value="3">

        <ion-label>Served
          <span class="served-count">{{count.served}}</span>
        </ion-label>

      </ion-segment-button>



      <!-- <ion-segment-button class="seg-consumed" value="6">

        <ion-label>Consumed
          <span class="consumed-count">{{count.consumed}}</span>
        </ion-label>

      </ion-segment-button> -->

      <ion-segment-button class="seg-refused" value="4">

        <ion-label>Refused
          <span class="refused-count">{{count.refused}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-leave" value="5">

        <ion-label>Leave
          <span class="leave-count">{{count.leave}}</span>
        </ion-label>

      </ion-segment-button>

      <!-- <ion-segment-button class="seg-to-serve" value="2">

        <ion-label>To serve
          <span class="to-serve-count">{{count.toserved}}</span>
        </ion-label>

      </ion-segment-button> -->




      <ion-segment-button class="seg-order-pending" value="8">

        <ion-label>Order pending
          <span class="order-pending-count">{{count.pending}}</span>
        </ion-label>

      </ion-segment-button>


    </ion-segment>

  </ion-fab>


  <div>

    <ion-grid>



      <ion-row>

        <ng-container *ngFor="let item of details | diningResidents : terms;let i=index">









          <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-card class="din-consumer-info-card" [class.ribbon-leave]="item.res.isleave==1"
              [class.ribbon-served]="item.res.tag_status=='served'"
              [class.ribbon-refused]="item.res.tag_status=='refused'"
              [class.ribbon-consumed]="item.res.tag_status=='consumed'">

              <ion-grid>

                <ion-row class="justify-sb">

                  <ion-col size-sm="12" size-md="12" size-lg="12" size="12" (click)="expandProfile(item)">


                    <ion-avatar class="consumer-pic">

                      <img [src]="item.res.user.profile_pic">

                    </ion-avatar>

                    <ion-label class="c-name">

                      {{item.res.user.name}}

                      <p class="room-no">{{item.res.room}} </p>

                    </ion-label>

                    <div class="icons-block">

                      <ion-icon class="other-info-icon" name="information-sharp" *ngIf="item.res.profile"
                        (click)="dietaryPreference(item.res.profile); $event.stopPropagation()"></ion-icon>

                      <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>

                    </div>

                  </ion-col>


                  <ng-container *ngIf="item.expanded">
                    <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.res.profile">

                      <div class="diet-info-box">


                        <span class="dflex flexwrap-wrap"
                          *ngIf="item.res.profile.diet_type&&item.res.profile.diet_type.length"><span
                            class="di-item diabetic"
                            *ngFor="let dt of item.res.profile.diet_type">{{dt.diet_details.diet_type_name}}
                            diet</span></span>
                        <span class="di-item regular"
                          *ngIf="item.res.profile&&item.res.profile.food_texture">{{item.res.profile.food_texture.food_texture}}</span>

                        <span class="di-item mildly-thick"
                          *ngIf="item.res.profile&&item.res.profile.fluid_texture">{{item.res.profile.fluid_texture.food_texture}}</span>

                        <span class="di-item msm"
                          *ngIf="item.res.profile&&item.res.profile.meal_size">{{item.res.profile.meal_size.meal_size}}
                          sized meal</span>

                        <span class="allergy-sec" *ngIf="item.res.profile.allergies">

                          <span class="di-item food-ft"
                            *ngFor="let allergy of setAllergies(item.res.profile.allergies)">
                            <i class="al-other" [class.al-celery]="allergy=='Celery'"
                              [class.al-crustaceans]="allergy=='Crustaceans'" [class.al-glutten]="allergy=='Gluten'"
                              [class.al-lupin]="allergy=='Lupin'" [class.al-molluscs]="allergy=='Molluscs'"
                              [class.al-mustard]="allergy=='Mustard'" [class.al-peanut]="allergy=='Peanuts'"
                              [class.al-sesame]="allergy=='Sesame'" [class.al-soy]="allergy=='Soya'"
                              [class.al-sulphite]="allergy=='Sulphites'" [class.al-treenut]="allergy=='Treenuts'"
                              [class.al-wheat]="allergy=='Wheat'"></i>
                            {{allergy}}</span>
                        </span>
                      </div>


                    </ion-col>



                    <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.res.profile">

                      <div class="serving-area-sec">
                        <ion-label>Serving area : <span>In room</span></ion-label>
                      </div>

                    </ion-col>



                    <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                      *ngIf="item.res.order&&item.res.order.order_items&&item.res.order.order_items.length||item.res.additional_order&&item.res.additional_order.length">

                      <div class="din-inner-control-sec">


                        <ion-label>Order details</ion-label>

                        <div class="din-btn-box" *ngIf="edit">

                          <ion-button class="select-all-item-btn" (click)="serveAll(item,i)"
                            *ngIf="item.res.tag_status=='default'">

                            <ion-icon name="checkmark-done"></ion-icon>

                          </ion-button>

                          <ion-button (click)="addItems(item.res)"
                            *ngIf="serving_order==1&&order&&item.res.tag_status!=='refused'">

                            <img src="/assets/dining/dining-edit-icon.svg">

                          </ion-button>

                          <ion-button class="more-option-btn" (click)="undoRefuse(item,$event,i)"
                            *ngIf="item.res.tag_status=='refused'">
                            <ion-icon name="ellipsis-vertical"></ion-icon>
                          </ion-button>
                          <ion-button class="more-option-btn" (click)="unserve(item,$event,i)"
                            *ngIf="item.res.tag_status=='served'">
                            <ion-icon name="ellipsis-vertical"></ion-icon>
                          </ion-button>

                        </div>


                      </div>

                    </ion-col>

                    <ng-container *ngIf="item.res.order">
                      <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                        *ngFor="let order of item.res.order.order_items;let in=index">

                        <div class="din-order-box"
                          [class.din-order-box-selected]="showSelectedItems(order.id)||order.serving_status==1||selected.includes(order.id)"
                          (click)="selectItems(item,order.id,order.order_id,1,order,i,in)">

                          <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                          <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>

                          <div class="fi-color-strip mild-thick">

                          </div>

                          <ion-grid>

                            <ion-row>

                              <ion-col size="3" class="col-fit">

                                <img class="din-o-fi-img" [src]="order.menu_meta.itemdetails.image">

                              </ion-col>

                              <ion-col size="9">

                                <ion-label class="din-o-fi-name">
                                  {{order.menu_meta.itemdetails.item_name}}
                                </ion-label>

                                <div class="din-o-fi-other-options">

                                  <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                    (click)="changeCount(item,order,i,in,1,$event); $event.stopPropagation()">
                                    {{order.served_quantity}}
                                  </span>

                                  <span class="din-o-fi-meal-size" *ngIf="order.size">
                                    {{order.size.meal_size.substring(0,1)}}
                                  </span>

                                  <!-- <span  class="din-o-fi-meal-option" *ngIf="item.options&&item.options.length"
                                  (click)="showOptions(item.options,$event)">
                                  <i class="las la-clipboard-list"></i>
                                  </span> -->
                                  <span class="din-o-fi-meal-option"
                                    *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                    (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                    <i class="las la-clipboard-list"></i>
                                  </span>
                                  <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                    (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                    <img src="/assets/dining/dining-comments-icon.svg">

                                  </ion-button>

                                </div>



                              </ion-col>

                              <!-- <div class="fim-div-2" >

                                  <ion-button style="z-index:999">
                                    <i class="las la-pen"></i>
                                  </ion-button>
                
                                </div> -->

                            </ion-row>

                          </ion-grid>

                        </div>

                      </ion-col>

                    </ng-container>




                    <ng-container *ngIf="item.res.additional_order&&item.res.additional_order.length">
                      <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                        *ngFor="let order of item.res.additional_order;let in=index">

                        <div class="din-order-box"
                          [class.din-order-box-selected]="showSelectedItems(order.item.id)||order.serving_status==1||selected.includes(order.item.id)"
                          (click)="selectItems(item,order.id,order.order_id,2,order,i,in)">

                          <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                          <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>

                          <div class="fi-color-strip mild-thick">

                          </div>

                          <ion-grid>

                            <ion-row>

                              <ion-col size="3">

                                <img class="din-o-fi-img" [src]="order.item.image">

                              </ion-col>

                              <ion-col size="9">

                                <ion-label class="din-o-fi-name">
                                  {{order.item.item_name}}
                                </ion-label>

                                <div class="din-o-fi-other-options">

                                  <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                    (click)="changeCount(item,order,i,in,2,$event); $event.stopPropagation()">
                                    {{order.served_quantity}}
                                  </span>

                                  <span class="din-o-fi-meal-size" *ngIf="order.size">
                                    {{order.size.meal_size.substring(0,1)}}
                                  </span>


                                  <span class="din-o-fi-meal-option"
                                    *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                    (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                    <i class="las la-clipboard-list"></i>
                                  </span>

                                  <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                    (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                    <img src="/assets/dining/dining-comments-icon.svg">

                                  </ion-button>

                                </div>



                              </ion-col>
                              <!-- <div class="fim-div-2" >

                                  <ion-button style="z-index:999">
                                    <i class="las la-pen"></i>
                                  </ion-button>
                
                                </div> -->
                            </ion-row>

                          </ion-grid>

                        </div>

                      </ion-col>

                    </ng-container>

                  </ng-container>
                </ion-row>



                <ng-container *ngIf="item.expanded">
                  <ion-label class="din-serving-remarks"
                    *ngIf="item.res.tag_status=='refused'&&item.res.order&&item.res.order.refuse_reason">
                    <ion-icon name="close-circle-outline"></ion-icon> {{item.res.order.refuse_reason}}
                  </ion-label>
                  <ion-label class="din-serving-comments"
                    *ngIf="item.res.tag_status=='refused'&&item.res.order&&item.res.order.refuse_comment">
                    <ion-icon name="close-circle-outline"></ion-icon> {{item.res.order.refuse_comment}}
                  </ion-label>
                  <ion-label class="din-serving-remarks fc-info"
                    *ngIf="(item.res.order&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==1)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==1)">
                    <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed full meal
                  </ion-label>
                  <ion-label class="din-serving-remarks fc-info"
                    *ngIf="(item.res.order&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==2)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==2)">
                    <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed most of the meal
                  </ion-label>
                  <ion-label class="din-serving-remarks fc-info"
                    *ngIf="(item.res.order&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==3)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==3)">
                    <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed half of the meal
                  </ion-label>
                  <ion-label class="din-serving-remarks fc-info"
                    *ngIf="(item.res.order&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==4)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==4)">
                    <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed little of the meal
                  </ion-label>

                  <ion-row [class.doNotShow]="item.res.isleave==1||(item.res.order&&item.res.order.refuse_status==1)"
                    *ngIf="(item.res.tag_status=='default'||item.res.tag_status=='')&&(((item.res.order)||(item.res.additional_order&&item.res.additional_order.length))&&(selectedItem[0].Resident==0&&selectedAdd[0].Resident==0))&&edit">

                    <ion-col size="12" class="din-o-button-controls-sec">

                      <ion-button class="served-btn" (click)="serve(item,i)">Served</ion-button>
                      <!-- <ion-button class="served-btn" (click)="consumed(item,i)">Consumed</ion-button> -->
                      <ion-button class="refused-btn" (click)="refuse(item,i)">Refused</ion-button>

                      <ion-button class="leave-btn" (click)="leave(item,i)">Leave</ion-button>

                    </ion-col>


                  </ion-row>

                  <ion-row
                    [class.doNotShow]="item.res.tag_status=='refused'||item.res.isleave==1||(item.res.order&&item.res.order.refuse_status==1)"
                    *ngIf="(item.res.tag_status=='served'&&(selectedItem[0].Resident!=0||selectedAdd[0].Resident!=0))&&edit">

                    <ion-col size="12" class="din-o-button-controls-sec">

                      <ion-button class="served-btn" (click)="serve(item,i)">Served</ion-button>

                    </ion-col>

                  </ion-row>

                  <ion-row>
                    <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                          *ngIf="(!item.res.order||item.res.order.length==0||item.res.order.order_items.length==0)&&(!item.res.additional_order||item.res.additional_order.length==0)&&item.res.isleave==0&&serving_order==1"> -->
                    <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                      *ngIf="(!item.res.order||item.res.order.order_items&&item.res.order.order_items.length==0)&&(!item.res.additional_order||item.res.additional_order.length==0)&&item.res.is_leave==0&&serving_order==1">
                      <div class="din-inner-control-sec">
                        <ion-label>Order not confirmed !</ion-label>
                        <ion-button (click)="addItems(item.res)" class="order-now-btn" *ngIf="order">Order
                          now</ion-button>
                      </div>
                    </ion-col>
                  </ion-row>
                </ng-container>
              </ion-grid>

            </ion-card>

          </ion-col>






          <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                *ngIf="item.res.tag_status=='default'&&status=='1'">

                <ion-card class="din-consumer-info-card" [class.ribbon-leave]="item.res.isleave==1"
                  [class.ribbon-served]="item.res.tag_status=='served'"
                  [class.ribbon-refused]="item.res.tag_status=='refused'"
                  [class.ribbon-consumed]="item.res.tag_status=='consumed'">

                  <ion-grid>

                    <ion-row class="justify-sb">

                      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" (click)="expandProfile(item)">

                       

                        <ion-avatar class="consumer-pic">

                          <img [src]="item.res.user.profile_pic">

                        </ion-avatar>

                        <ion-label class="c-name">

                          {{item.res.user.name}}

                          <p class="room-no">{{item.res.room}} </p>

                        </ion-label>

                        <div class="icons-block">

                          <ion-icon class="other-info-icon" name="information-sharp" *ngIf="item.res.profile"
                            (click)="dietaryPreference(item.res.profile); $event.stopPropagation()"></ion-icon>

                          <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>

                        </div>

                      </ion-col>

                     
                      <ng-container *ngIf="item.expanded">
                        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.res.profile">

                          <div class="diet-info-box">

                           
                            <span class="dflex flexwrap-wrap"
                              *ngIf="item.res.profile.diet_type&&item.res.profile.diet_type.length"><span
                                class="di-item diabetic"
                                *ngFor="let dt of item.res.profile.diet_type">{{dt.diet_details.diet_type_name}}
                                diet</span></span>
                            <span class="di-item regular"
                              *ngIf="item.res.profile&&item.res.profile.food_texture">{{item.res.profile.food_texture.food_texture}}</span>

                            <span class="di-item mildly-thick"
                              *ngIf="item.res.profile&&item.res.profile.fluid_texture">{{item.res.profile.fluid_texture.food_texture}}</span>

                            <span class="di-item msm"
                              *ngIf="item.res.profile&&item.res.profile.meal_size">{{item.res.profile.meal_size.meal_size}}
                              sized meal</span>

                            <span class="allergy-sec" *ngIf="item.res.profile.allergies">

                              <span class="di-item food-ft"
                                *ngFor="let allergy of setAllergies(item.res.profile.allergies)">
                                <i class="al-other" [class.al-celery]="allergy=='Celery'"
                                  [class.al-crustaceans]="allergy=='Crustaceans'" [class.al-glutten]="allergy=='Gluten'"
                                  [class.al-lupin]="allergy=='Lupin'" [class.al-molluscs]="allergy=='Molluscs'"
                                  [class.al-mustard]="allergy=='Mustard'" [class.al-peanut]="allergy=='Peanuts'"
                                  [class.al-sesame]="allergy=='Sesame'" [class.al-soy]="allergy=='Soya'"
                                  [class.al-sulphite]="allergy=='Sulphites'" [class.al-treenut]="allergy=='Treenuts'"
                                  [class.al-wheat]="allergy=='Wheat'"></i>
                                {{allergy}}</span>
                            </span>
                          </div>

                        
                        </ion-col>

                       

                        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.res.profile">

                          <div class="serving-area-sec">
                            <ion-label>Serving area : <span>In room</span></ion-label>
                          </div>

                        </ion-col>

                      

                        <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                          *ngIf="item.res.order&&item.res.order.length&&item.res.order.order_items.length||item.res.additional_order&&item.res.additional_order.length">

                          <div class="din-inner-control-sec">


                            <ion-label>Order details</ion-label>

                            <div class="din-btn-box" *ngIf="edit">

                             

                              <ion-button class="select-all-item-btn" (click)="serveAll(item,i)" *ngIf="item.res.tag_status=='default'">

                                <ion-icon name="checkmark-done"></ion-icon>

                              </ion-button>

                              <ion-button (click)="addItems(item.res)" *ngIf="serving_order==1&&order&&item.res.tag_status!=='refused'">

                                <img src="/assets/dining/dining-edit-icon.svg">

                              </ion-button>
                              <ion-button class="more-option-btn" (click)="undoRefuse(item,$event,i)" *ngIf="item.res.tag_status=='refused'">
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                              </ion-button>
                              <ion-button class="more-option-btn" (click)="unserve(item,$event,i)" *ngIf="item.res.tag_status=='served'">
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                              </ion-button>

                            </div>


                          </div>

                        </ion-col>

                        <ng-container *ngIf="item.res.order&&item.res.order.length">
                          <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                            *ngFor="let order of item.res.order.order_items;let in=index">

                            <div class="din-order-box"
                              [class.din-order-box-selected]="showSelectedItems(order.id)||order.serving_status==1||selected.includes(order.id)"
                              (click)="selectItems(item,order.id,order.order_id,1,order,i,in)">

                              <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                              <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>

                              <div class="fi-color-strip mild-thick">

                              </div>

                              <ion-grid>

                                <ion-row>

                                  <ion-col size="3">

                                    <img class="din-o-fi-img" [src]="order.menu_meta.itemdetails.image">

                                  </ion-col>

                                  <ion-col size="9">

                                    <ion-label class="din-o-fi-name">
                                      {{order.menu_meta.itemdetails.item_name}}
                                    </ion-label>

                                    <div class="din-o-fi-other-options">

                                      <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                        (click)="changeCount(item,order,i,in,1,$event); $event.stopPropagation()">
                                        {{order.served_quantity}}
                                      </span>

                                      <span class="din-o-fi-meal-size" *ngIf="order.size">
                                        {{order.size.meal_size.substring(0,1)}}
                                      </span>

                                     
                                      <span class="din-o-fi-meal-option"
                                        *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                        (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                        <i class="las la-clipboard-list"></i>
                                      </span>

                                      <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                        (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                        <img src="/assets/dining/dining-comments-icon.svg">

                                      </ion-button>

                                    </div>

                                  
                                  </ion-col>
                                 
                                </ion-row>

                              </ion-grid>

                            </div>

                          </ion-col>

                        </ng-container>
                      
                        <ng-container *ngIf="item.res.additional_order&&item.res.additional_order.length">
                          <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                            *ngFor="let order of item.res.additional_order;let in=index">

                            <div class="din-order-box"
                              [class.din-order-box-selected]="showSelectedItems(order.item.id)||order.serving_status==1||selected.includes(order.item.id)"
                              (click)="selectItems(item,order.id,order.order_id,2,order,i,in)">

                              <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                              <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>

                              <div class="fi-color-strip mild-thick">

                              </div>

                              <ion-grid>

                                <ion-row>

                                  <ion-col size="3">

                                    <img class="din-o-fi-img" [src]="order.item.image">

                                  </ion-col>

                                  <ion-col size="9">

                                    <ion-label class="din-o-fi-name">
                                      {{order.item.item_name}}
                                    </ion-label>

                                    <div class="din-o-fi-other-options">

                                      <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                        (click)="changeCount(item,order,i,in,2,$event); $event.stopPropagation()">
                                        {{order.served_quantity}}
                                      </span>

                                      <span class="din-o-fi-meal-size" *ngIf="order.size">
                                        {{order.size.meal_size.substring(0,1)}}
                                      </span>

                                      <span class="din-o-fi-meal-option"
                                        *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                        (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                        <i class="las la-clipboard-list"></i>
                                      </span>

                                      <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                        (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                        <img src="/assets/dining/dining-comments-icon.svg">

                                      </ion-button>

                                    </div>



                                  </ion-col>
                                 
                                </ion-row>

                              </ion-grid>

                            </div>

                          </ion-col>

                        </ng-container>



                      </ng-container>
                    </ion-row>



                    <ng-container *ngIf="item.expanded">
                      <ion-label class="din-serving-remarks"
                        *ngIf="item.res.tag_status=='refused'&&item.res.order&&item.res.order.length&&item.res.order.refuse_reason">
                        <ion-icon name="close-circle-outline"></ion-icon> {{item.res.order.refuse_reason}}
                      </ion-label>
                      <ion-label class="din-serving-comments"
                        *ngIf="item.res.tag_status=='refused'&&item.res.order&&item.res.order.length&&item.res.order.refuse_comment">
                        <ion-icon name="close-circle-outline"></ion-icon> {{item.res.order.refuse_comment}}
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==1)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==1)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed full meal
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==2)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==2)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed most of the meal
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==3)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==3)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed half of the meal
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==4)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==4)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed little of the meal
                      </ion-label>

                      <ion-row [class.doNotShow]="item.res.tag_status!='default'||item.res.isleave==1||(item.res.order.length&&item.res.order.refuse_status==1)"
                        *ngIf="(((item.res.order&&item.res.order.length)||(item.res.additional_order&&item.res.additional_order.length))&&(selectedItem[0].Resident==0&&selectedAdd[0].Resident==0))&&edit">

                        <ion-col size="12" class="din-o-button-controls-sec">

                          <ion-button class="served-btn" (click)="serve(item,i)">Served</ion-button>

                         
                          <ion-button class="refused-btn" (click)="refuse(item,i)">Refused</ion-button>

                          <ion-button class="leave-btn" (click)="leave(item,i)">Leave</ion-button>

                        </ion-col>


                      </ion-row>
                      <ion-row [class.doNotShow]="item.res.tag_status=='refused'||item.res.isleave==1||(item.res.order.length&&item.res.order.refuse_status==1)"
                      *ngIf="(item.res.tag_status=='served'&&(selectedItem[0].Resident!=0||selectedAdd[0].Resident!=0))&&edit">

             <ion-col size="12" class="din-o-button-controls-sec">

               <ion-button class="served-btn" (click)="serve(item,i)">Served</ion-button>
             
             </ion-col>

           </ion-row>
                      <ion-row>
                       
                          <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                          *ngIf="(!item.res.order||item.res.order.length==0||item.res.order.order_items.length==0)&&(!item.res.additional_order||item.res.additional_order.length==0)&&item.res.is_leave==0&&serving_order==1">
                          <div class="din-inner-control-sec">
                            <ion-label>Order not confirmed !</ion-label>
                            <ion-button (click)="addItems(item.res)" class="order-now-btn" *ngIf="order">Order now</ion-button>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ng-container>
                  </ion-grid>

                </ion-card>

              </ion-col>






              <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                *ngIf="item.res.tag_status=='served'&&status=='2'">

                <ion-card class="din-consumer-info-card" [class.ribbon-leave]="item.res.isleave==1"
                  [class.ribbon-served]="item.res.tag_status=='served'"
                  [class.ribbon-refused]="item.res.tag_status=='refused'"
                  [class.ribbon-consumed]="item.res.tag_status=='consumed'">

                  <ion-grid>

                    <ion-row class="justify-sb">

                      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" (click)="expandProfile(item)">


                        <ion-avatar class="consumer-pic">

                          <img [src]="item.res.user.profile_pic">

                        </ion-avatar>

                        <ion-label class="c-name">

                          {{item.res.user.name}}

                          <p class="room-no">{{item.res.room}} </p>

                        </ion-label>

                        <div class="icons-block">

                          <ion-icon class="other-info-icon" name="information-sharp" *ngIf="item.res.profile"
                            (click)="dietaryPreference(item.res.profile); $event.stopPropagation()"></ion-icon>

                          <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>

                        </div>

                      </ion-col>


                      <ng-container *ngIf="item.expanded">
                        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.res.profile">

                          <div class="diet-info-box">


                            <span class="dflex flexwrap-wrap"
                              *ngIf="item.res.profile.diet_type&&item.res.profile.diet_type.length"><span
                                class="di-item diabetic"
                                *ngFor="let dt of item.res.profile.diet_type">{{dt.diet_details.diet_type_name}}
                                diet</span></span>
                            <span class="di-item regular"
                              *ngIf="item.res.profile&&item.res.profile.food_texture">{{item.res.profile.food_texture.food_texture}}</span>

                            <span class="di-item mildly-thick"
                              *ngIf="item.res.profile&&item.res.profile.fluid_texture">{{item.res.profile.fluid_texture.food_texture}}</span>

                            <span class="di-item msm"
                              *ngIf="item.res.profile&&item.res.profile.meal_size">{{item.res.profile.meal_size.meal_size}}
                              sized meal</span>

                            <span class="allergy-sec" *ngIf="item.res.profile.allergies">

                              <span class="di-item food-ft"
                                *ngFor="let allergy of setAllergies(item.res.profile.allergies)">
                                <i class="al-other" [class.al-celery]="allergy=='Celery'"
                                  [class.al-crustaceans]="allergy=='Crustaceans'" [class.al-glutten]="allergy=='Gluten'"
                                  [class.al-lupin]="allergy=='Lupin'" [class.al-molluscs]="allergy=='Molluscs'"
                                  [class.al-mustard]="allergy=='Mustard'" [class.al-peanut]="allergy=='Peanuts'"
                                  [class.al-sesame]="allergy=='Sesame'" [class.al-soy]="allergy=='Soya'"
                                  [class.al-sulphite]="allergy=='Sulphites'" [class.al-treenut]="allergy=='Treenuts'"
                                  [class.al-wheat]="allergy=='Wheat'"></i>
                                {{allergy}}</span>
                            </span>
                          </div>


                        </ion-col>



                        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.res.profile">

                          <div class="serving-area-sec">
                            <ion-label>Serving area : <span>In room</span></ion-label>
                          </div>

                        </ion-col>



                        <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                          *ngIf="item.res.order&&item.res.order.length&&item.res.order.order_items.length||item.res.additional_order&&item.res.additional_order.length">

                          <div class="din-inner-control-sec">


                            <ion-label>Order details</ion-label>

                            <div class="din-btn-box" *ngIf="edit">



                              <ion-button class="select-all-item-btn" (click)="serveAll(item,i)" *ngIf="item.res.tag_status=='default'">

                                <ion-icon name="checkmark-done"></ion-icon>

                              </ion-button>

                              <ion-button (click)="addItems(item.res)" *ngIf="serving_order==1&&order&&item.res.tag_status!=='refused'">

                                <img src="/assets/dining/dining-edit-icon.svg">

                              </ion-button>
                              <ion-button class="more-option-btn" (click)="undoRefuse(item,$event,i)" *ngIf="item.res.tag_status=='refused'">
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                              </ion-button>
                              <ion-button class="more-option-btn" (click)="unserve(item,$event,i)" *ngIf="item.res.tag_status=='served'">
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                              </ion-button>

                            </div>


                          </div>

                        </ion-col>

                        <ng-container *ngIf="item.res.order&&item.res.order.length">
                          <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                            *ngFor="let order of item.res.order.order_items;let in=index">

                            <div class="din-order-box"
                              [class.din-order-box-selected]="showSelectedItems(order.id)||order.serving_status==1||selected.includes(order.id)"
                              (click)="selectItems(item,order.id,order.order_id,1,order,i,in)">

                              <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                              <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>

                              <div class="fi-color-strip mild-thick">

                              </div>

                              <ion-grid>

                                <ion-row>

                                  <ion-col size="3">

                                    <img class="din-o-fi-img" [src]="order.menu_meta.itemdetails.image">

                                  </ion-col>

                                  <ion-col size="9">

                                    <ion-label class="din-o-fi-name">
                                      {{order.menu_meta.itemdetails.item_name}}
                                    </ion-label>

                                    <div class="din-o-fi-other-options">

                                      <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                        (click)="changeCount(item,order,i,in,1,$event); $event.stopPropagation()">
                                        {{order.served_quantity}}
                                      </span>

                                      <span class="din-o-fi-meal-size" *ngIf="order.size">
                                        {{order.size.meal_size.substring(0,1)}}
                                      </span>

                                      <span class="din-o-fi-meal-option"
                                        *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                        (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                        <i class="las la-clipboard-list"></i>
                                      </span>

                                      <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                        (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                        <img src="/assets/dining/dining-comments-icon.svg">

                                      </ion-button>

                                    </div>



                                  </ion-col>
                                
                                </ion-row>

                              </ion-grid>

                            </div>

                          </ion-col>

                        </ng-container>

                        <ng-container *ngIf="item.res.additional_order&&item.res.additional_order.length">
                          <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                            *ngFor="let order of item.res.additional_order;let in=index">

                            <div class="din-order-box"
                              [class.din-order-box-selected]="showSelectedItems(order.item.id)||order.serving_status==1||selected.includes(order.item.id)"
                              (click)="selectItems(item,order.id,order.order_id,2,order,i,in)">

                              <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                              <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>

                              <div class="fi-color-strip mild-thick">

                              </div>

                              <ion-grid>

                                <ion-row>

                                  <ion-col size="3">

                                    <img class="din-o-fi-img" [src]="order.item.image">

                                  </ion-col>

                                  <ion-col size="9">

                                    <ion-label class="din-o-fi-name">
                                      {{order.item.item_name}}
                                    </ion-label>

                                    <div class="din-o-fi-other-options">

                                      <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                        (click)="changeCount(item,order,i,in,2,$event); $event.stopPropagation()">
                                        {{order.served_quantity}}
                                      </span>

                                      <span class="din-o-fi-meal-size" *ngIf="order.size">
                                        {{order.size.meal_size.substring(0,1)}}
                                      </span>

                                      <span class="din-o-fi-meal-option"
                                        *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                        (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                        <i class="las la-clipboard-list"></i>
                                      </span>

                                      <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                        (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                        <img src="/assets/dining/dining-comments-icon.svg">

                                      </ion-button>

                                    </div>



                                  </ion-col>
                                
                                </ion-row>

                              </ion-grid>

                            </div>

                          </ion-col>

                        </ng-container>

                      </ng-container>
                    </ion-row>



                    <ng-container *ngIf="item.expanded">
                      <ion-label class="din-serving-remarks"
                        *ngIf="item.res.tag_status=='refused'&&item.res.order&&item.res.order.length&&item.res.order.refuse_reason">
                        <ion-icon name="close-circle-outline"></ion-icon> {{item.res.order.refuse_reason}}
                      </ion-label>
                      <ion-label class="din-serving-comments"
                        *ngIf="item.res.tag_status=='refused'&&item.res.order&&item.res.order.length&&item.res.order.refuse_comment">
                        <ion-icon name="close-circle-outline"></ion-icon> {{item.res.order.refuse_comment}}
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==1)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==1)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed full meal
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==2)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==2)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed most of the meal
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==3)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==3)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed half of the meal
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==4)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==4)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed little of the meal
                      </ion-label>

                      <ion-row [class.doNotShow]="item.res.tag_status!='default'||item.res.isleave==1||(item.res.order.length&&item.res.order.refuse_status==1)"
                        *ngIf="(((item.res.order&&item.res.order.length)||(item.res.additional_order&&item.res.additional_order.length))&&(selectedItem[0].Resident==0&&selectedAdd[0].Resident==0))&&edit">

                        <ion-col size="12" class="din-o-button-controls-sec">

                          <ion-button class="served-btn" (click)="serve(item,i)">Served</ion-button>
                        
                          <ion-button class="refused-btn" (click)="refuse(item,i)">Refused</ion-button>

                          <ion-button class="leave-btn" (click)="leave(item,i)">Leave</ion-button>

                        </ion-col>


                      </ion-row>
                      <ion-row [class.doNotShow]="item.res.tag_status=='refused'||item.res.isleave==1||(item.res.order.length&&item.res.order.refuse_status==1)"
                      *ngIf="(item.res.tag_status=='served'&&(selectedItem[0].Resident!=0||selectedAdd[0].Resident!=0))&&edit">

             <ion-col size="12" class="din-o-button-controls-sec">

               <ion-button class="served-btn" (click)="serve(item,i)">Served</ion-button>
             
             </ion-col>

           </ion-row>
                      <ion-row>
                       
                          <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                          *ngIf="(!item.res.order||item.res.order.length==0||item.res.order.order_items.length==0)&&(!item.res.additional_order||item.res.additional_order.length==0)&&item.res.is_leave==0&&serving_order==1">
                          <div class="din-inner-control-sec">
                            <ion-label>Order not confirmed !</ion-label>
                            <ion-button (click)="addItems(item.res)" class="order-now-btn" *ngIf="order">Order now</ion-button>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ng-container>
                  </ion-grid>

                </ion-card>

              </ion-col>





              <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                *ngIf="item.res.tag_status=='refused'&&status=='3'">

                <ion-card class="din-consumer-info-card" [class.ribbon-leave]="item.res.isleave==1"
                  [class.ribbon-served]="item.res.tag_status=='served'"
                  [class.ribbon-refused]="item.res.tag_status=='refused'"
                  [class.ribbon-consumed]="item.res.tag_status=='consumed'">

                  <ion-grid>

                    <ion-row class="justify-sb">

                      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" (click)="expandProfile(item)">



                        <ion-avatar class="consumer-pic">

                          <img [src]="item.res.user.profile_pic">

                        </ion-avatar>

                        <ion-label class="c-name">

                          {{item.res.user.name}}

                          <p class="room-no">{{item.res.room}} </p>

                        </ion-label>

                        <div class="icons-block">

                          <ion-icon class="other-info-icon" name="information-sharp" *ngIf="item.res.profile"
                            (click)="dietaryPreference(item.res.profile); $event.stopPropagation()"></ion-icon>

                          <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>

                        </div>

                      </ion-col>


                      <ng-container *ngIf="item.expanded">
                        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.res.profile">

                          <div class="diet-info-box">


                            <span class="dflex flexwrap-wrap"
                              *ngIf="item.res.profile.diet_type&&item.res.profile.diet_type.length"><span
                                class="di-item diabetic"
                                *ngFor="let dt of item.res.profile.diet_type">{{dt.diet_details.diet_type_name}}
                                diet</span></span>
                            <span class="di-item regular"
                              *ngIf="item.res.profile&&item.res.profile.food_texture">{{item.res.profile.food_texture.food_texture}}</span>

                            <span class="di-item mildly-thick"
                              *ngIf="item.res.profile&&item.res.profile.fluid_texture">{{item.res.profile.fluid_texture.food_texture}}</span>

                            <span class="di-item msm"
                              *ngIf="item.res.profile&&item.res.profile.meal_size">{{item.res.profile.meal_size.meal_size}}
                              sized meal</span>

                            <span class="allergy-sec" *ngIf="item.res.profile.allergies">

                              <span class="di-item food-ft"
                                *ngFor="let allergy of setAllergies(item.res.profile.allergies)">
                                <i class="al-other" [class.al-celery]="allergy=='Celery'"
                                  [class.al-crustaceans]="allergy=='Crustaceans'" [class.al-glutten]="allergy=='Gluten'"
                                  [class.al-lupin]="allergy=='Lupin'" [class.al-molluscs]="allergy=='Molluscs'"
                                  [class.al-mustard]="allergy=='Mustard'" [class.al-peanut]="allergy=='Peanuts'"
                                  [class.al-sesame]="allergy=='Sesame'" [class.al-soy]="allergy=='Soya'"
                                  [class.al-sulphite]="allergy=='Sulphites'" [class.al-treenut]="allergy=='Treenuts'"
                                  [class.al-wheat]="allergy=='Wheat'"></i>
                                {{allergy}}</span>
                            </span>
                          </div>



                        </ion-col>



                        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.res.profile">

                          <div class="serving-area-sec">
                            <ion-label>Serving area : <span>In room</span></ion-label>
                          </div>

                        </ion-col>



                        <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                          *ngIf="item.res.order&&item.res.order.length&&item.res.order.order_items.length||item.res.additional_order&&item.res.additional_order.length">

                          <div class="din-inner-control-sec">


                            <ion-label>Order details</ion-label>

                            <div class="din-btn-box" *ngIf="edit">

                              <ion-button class="select-all-item-btn" (click)="serveAll(item,i)" *ngIf="item.res.tag_status=='default'">

                                <ion-icon name="checkmark-done"></ion-icon>

                              </ion-button>

                              <ion-button (click)="addItems(item.res)" *ngIf="serving_order==1&&order&&item.res.tag_status!=='refused'">

                                <img src="/assets/dining/dining-edit-icon.svg">

                              </ion-button>
                              <ion-button class="more-option-btn" (click)="undoRefuse(item,$event,i)" *ngIf="item.res.tag_status=='refused'">
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                              </ion-button>
                              <ion-button class="more-option-btn" (click)="unserve(item,$event,i)" *ngIf="item.res.tag_status=='served'">
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                              </ion-button>

                            </div>


                          </div>

                        </ion-col>

                        <ng-container *ngIf="item.res.order&&item.res.order.length">
                          <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                            *ngFor="let order of item.res.order.order_items;let in=index">

                            <div class="din-order-box"
                              [class.din-order-box-selected]="showSelectedItems(order.id)||order.serving_status==1||selected.includes(order.id)"
                              (click)="selectItems(item,order.id,order.order_id,1,order,i,in)">

                              <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                              <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>

                              <div class="fi-color-strip mild-thick">

                              </div>

                              <ion-grid>

                                <ion-row>

                                  <ion-col size="3">

                                    <img class="din-o-fi-img" [src]="order.menu_meta.itemdetails.image">

                                  </ion-col>

                                  <ion-col size="9">

                                    <ion-label class="din-o-fi-name">
                                      {{order.menu_meta.itemdetails.item_name}}
                                    </ion-label>

                                    <div class="din-o-fi-other-options">

                                      <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                        (click)="changeCount(item,order,i,in,1,$event); $event.stopPropagation()">
                                        {{order.served_quantity}}
                                      </span>

                                      <span class="din-o-fi-meal-size" *ngIf="order.size">
                                        {{order.size.meal_size.substring(0,1)}}
                                      </span>

                                      <span class="din-o-fi-meal-option"
                                        *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                        (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                        <i class="las la-clipboard-list"></i>
                                      </span>

                                      <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                        (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                        <img src="/assets/dining/dining-comments-icon.svg">

                                      </ion-button>

                                    </div>



                                  </ion-col>
                                 
                                </ion-row>

                              </ion-grid>

                            </div>

                          </ion-col>

                        </ng-container>


                        <ng-container *ngIf="item.res.additional_order&&item.res.additional_order.length">
                          <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                            *ngFor="let order of item.res.additional_order;let in=index">

                            <div class="din-order-box"
                              [class.din-order-box-selected]="showSelectedItems(order.item.id)||order.serving_status==1||selected.includes(order.item.id)"
                              (click)="selectItems(item,order.id,order.order_id,2,order,i,in)">

                              <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                              <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>

                              <div class="fi-color-strip mild-thick">

                              </div>

                              <ion-grid>

                                <ion-row>

                                  <ion-col size="3">

                                    <img class="din-o-fi-img" [src]="order.item.image">

                                  </ion-col>

                                  <ion-col size="9">

                                    <ion-label class="din-o-fi-name">
                                      {{order.item.item_name}}
                                    </ion-label>

                                    <div class="din-o-fi-other-options">

                                      <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                        (click)="changeCount(item,order,i,in,2,$event); $event.stopPropagation()">
                                        {{order.served_quantity}}
                                      </span>

                                      <span class="din-o-fi-meal-size" *ngIf="order.size">
                                        {{order.size.meal_size.substring(0,1)}}
                                      </span>

                                      <span class="din-o-fi-meal-option"
                                        *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                        (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                        <i class="las la-clipboard-list"></i>
                                      </span>

                                      <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                        (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                        <img src="/assets/dining/dining-comments-icon.svg">

                                      </ion-button>

                                    </div>



                                  </ion-col>
                                 
                                </ion-row>

                              </ion-grid>

                            </div>

                          </ion-col>

                        </ng-container>

                      </ng-container>
                    </ion-row>



                    <ng-container *ngIf="item.expanded">
                      <ion-label class="din-serving-remarks"
                        *ngIf="item.res.tag_status=='refused'&&item.res.order&&item.res.order.length&&item.res.order.refuse_reason">
                        <ion-icon name="close-circle-outline"></ion-icon> {{item.res.order.refuse_reason}}
                      </ion-label>
                      <ion-label class="din-serving-comments"
                        *ngIf="item.res.tag_status=='refused'&&item.res.order&&item.res.order.length&&item.res.order.refuse_comment">
                        <ion-icon name="close-circle-outline"></ion-icon> {{item.res.order.refuse_comment}}
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==1)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==1)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed full meal
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==2)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==2)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed most of the meal
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==3)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==3)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed half of the meal
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==4)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==4)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed little of the meal
                      </ion-label>

                      <ion-row [class.doNotShow]="item.res.tag_status!='default'||item.res.isleave==1||(item.res.order.length&&item.res.order.refuse_status==1)"
                        *ngIf="(((item.res.order&&item.res.order.length)||(item.res.additional_order&&item.res.additional_order.length))&&(selectedItem[0].Resident==0&&selectedAdd[0].Resident==0))&&edit">

                        <ion-col size="12" class="din-o-button-controls-sec">

                          <ion-button class="served-btn" (click)="serve(item,i)">Served</ion-button>
                         
                          <ion-button class="refused-btn" (click)="refuse(item,i)">Refused</ion-button>

                          <ion-button class="leave-btn" (click)="leave(item,i)">Leave</ion-button>

                        </ion-col>


                      </ion-row>
                      <ion-row [class.doNotShow]="item.res.tag_status=='refused'||item.res.isleave==1||(item.res.order.length&&item.res.order.refuse_status==1)"
                      *ngIf="(item.res.tag_status=='served'&&(selectedItem[0].Resident!=0||selectedAdd[0].Resident!=0))&&edit">

             <ion-col size="12" class="din-o-button-controls-sec">

               <ion-button class="served-btn" (click)="serve(item,i)">Served</ion-button>
             
             </ion-col>

           </ion-row>
                      <ion-row>
                        
                          <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                          *ngIf="(!item.res.order||item.res.order.length==0||item.res.order.order_items.length==0)&&(!item.res.additional_order||item.res.additional_order.length==0)&&item.res.is_leave==0&&serving_order==1">
                          <div class="din-inner-control-sec">
                            <ion-label>Order not confirmed !</ion-label>
                            <ion-button (click)="addItems(item.res)" class="order-now-btn" *ngIf="order">Order now</ion-button>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ng-container>
                  </ion-grid>

                </ion-card>

              </ion-col>


              <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.res.isleave==1&&status=='4'">

                <ion-card class="din-consumer-info-card" [class.ribbon-leave]="item.res.isleave==1"
                  [class.ribbon-served]="item.res.tag_status=='served'"
                  [class.ribbon-refused]="item.res.tag_status=='refused'"
                  [class.ribbon-consumed]="item.res.tag_status=='consumed'">

                  <ion-grid>

                    <ion-row class="justify-sb">

                      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" (click)="expandProfile(item)">



                        <ion-avatar class="consumer-pic">

                          <img [src]="item.res.user.profile_pic">

                        </ion-avatar>

                        <ion-label class="c-name">

                          {{item.res.user.name}}

                          <p class="room-no">{{item.res.room}} </p>

                        </ion-label>

                        <div class="icons-block">

                          <ion-icon class="other-info-icon" name="information-sharp" *ngIf="item.res.profile"
                            (click)="dietaryPreference(item.res.profile); $event.stopPropagation()"></ion-icon>

                          <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>

                        </div>

                      </ion-col>


                      <ng-container *ngIf="item.expanded">
                        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.res.profile">

                          <div class="diet-info-box">


                            <span class="dflex flexwrap-wrap"
                              *ngIf="item.res.profile.diet_type&&item.res.profile.diet_type.length"><span
                                class="di-item diabetic"
                                *ngFor="let dt of item.res.profile.diet_type">{{dt.diet_details.diet_type_name}}
                                diet</span></span>
                            <span class="di-item regular"
                              *ngIf="item.res.profile&&item.res.profile.food_texture">{{item.res.profile.food_texture.food_texture}}</span>

                            <span class="di-item mildly-thick"
                              *ngIf="item.res.profile&&item.res.profile.fluid_texture">{{item.res.profile.fluid_texture.food_texture}}</span>

                            <span class="di-item msm"
                              *ngIf="item.res.profile&&item.res.profile.meal_size">{{item.res.profile.meal_size.meal_size}}
                              sized meal</span>

                            <span class="allergy-sec" *ngIf="item.res.profile.allergies">

                              <span class="di-item food-ft"
                                *ngFor="let allergy of setAllergies(item.res.profile.allergies)">
                                <i class="al-other" [class.al-celery]="allergy=='Celery'"
                                  [class.al-crustaceans]="allergy=='Crustaceans'" [class.al-glutten]="allergy=='Gluten'"
                                  [class.al-lupin]="allergy=='Lupin'" [class.al-molluscs]="allergy=='Molluscs'"
                                  [class.al-mustard]="allergy=='Mustard'" [class.al-peanut]="allergy=='Peanuts'"
                                  [class.al-sesame]="allergy=='Sesame'" [class.al-soy]="allergy=='Soya'"
                                  [class.al-sulphite]="allergy=='Sulphites'" [class.al-treenut]="allergy=='Treenuts'"
                                  [class.al-wheat]="allergy=='Wheat'"></i>
                                {{allergy}}</span>
                            </span>
                          </div>



                        </ion-col>



                        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.res.profile">

                          <div class="serving-area-sec">
                            <ion-label>Serving area : <span>In room</span></ion-label>
                          </div>

                        </ion-col>



                        <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                          *ngIf="item.res.order&&item.res.order.length&&item.res.order.order_items.length||item.res.additional_order&&item.res.additional_order.length">

                          <div class="din-inner-control-sec">


                            <ion-label>Order details</ion-label>

                            <div class="din-btn-box" *ngIf="edit">

                              <ion-button class="select-all-item-btn" (click)="serveAll(item,i)" *ngIf="item.res.tag_status=='default'">

                                <ion-icon name="checkmark-done"></ion-icon>

                              </ion-button>

                              <ion-button (click)="addItems(item.res)" *ngIf="serving_order==1&&order&&item.res.tag_status!=='refused'">

                                <img src="/assets/dining/dining-edit-icon.svg">

                              </ion-button>
                              <ion-button class="more-option-btn" (click)="undoRefuse(item,$event,i)" *ngIf="item.res.tag_status=='refused'">
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                              </ion-button>
                              <ion-button class="more-option-btn" (click)="unserve(item,$event,i)" *ngIf="item.res.tag_status=='served'">
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                              </ion-button>

                            </div>


                          </div>

                        </ion-col>

                        <ng-container *ngIf="item.res.order&&item.res.order.length">
                          <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                            *ngFor="let order of item.res.order.order_items;let in=index">

                            <div class="din-order-box"
                              [class.din-order-box-selected]="showSelectedItems(order.id)||order.serving_status==1||selected.includes(order.id)"
                              (click)="selectItems(item,order.id,order.order_id,1,order,i,in)">

                              <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                              <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>

                              <div class="fi-color-strip mild-thick">

                              </div>

                              <ion-grid>

                                <ion-row>

                                  <ion-col size="3">

                                    <img class="din-o-fi-img" [src]="order.menu_meta.itemdetails.image">

                                  </ion-col>

                                  <ion-col size="9">

                                    <ion-label class="din-o-fi-name">
                                      {{order.menu_meta.itemdetails.item_name}}
                                    </ion-label>

                                    <div class="din-o-fi-other-options">

                                      <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                        (click)="changeCount(item,order,i,in,1,$event); $event.stopPropagation()">
                                        {{order.served_quantity}}
                                      </span>

                                      <span class="din-o-fi-meal-size" *ngIf="order.size">
                                        {{order.size.meal_size.substring(0,1)}}
                                      </span>

                                      <span class="din-o-fi-meal-option"
                                        *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                        (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                        <i class="las la-clipboard-list"></i>
                                      </span>

                                      <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                        (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                        <img src="/assets/dining/dining-comments-icon.svg">

                                      </ion-button>

                                    </div>



                                  </ion-col>
                                  
                                </ion-row>

                              </ion-grid>

                            </div>

                          </ion-col>

                        </ng-container>


                        <ng-container *ngIf="item.res.additional_order&&item.res.additional_order.length">
                          <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                            *ngFor="let order of item.res.additional_order;let in=index">

                            <div class="din-order-box"
                              [class.din-order-box-selected]="showSelectedItems(order.item.id)||order.serving_status==1||selected.includes(order.item.id)"
                              (click)="selectItems(item,order.id,order.order_id,2,order,i,in)">

                              <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                              <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>

                              <div class="fi-color-strip mild-thick">

                              </div>

                              <ion-grid>

                                <ion-row>

                                  <ion-col size="3">

                                    <img class="din-o-fi-img" [src]="order.item.image">

                                  </ion-col>

                                  <ion-col size="9">

                                    <ion-label class="din-o-fi-name">
                                      {{order.item.item_name}}
                                    </ion-label>

                                    <div class="din-o-fi-other-options">

                                      <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                        (click)="changeCount(item,order,i,in,2,$event); $event.stopPropagation()">
                                        {{order.served_quantity}}
                                      </span>

                                      <span class="din-o-fi-meal-size" *ngIf="order.size">
                                        {{order.size.meal_size.substring(0,1)}}
                                      </span>

                                      <span class="din-o-fi-meal-option"
                                        *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                        (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                        <i class="las la-clipboard-list"></i>
                                      </span>

                                      <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                        (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                        <img src="/assets/dining/dining-comments-icon.svg">

                                      </ion-button>

                                    </div>



                                  </ion-col>
                                  
                                </ion-row>

                              </ion-grid>

                            </div>

                          </ion-col>

                        </ng-container>

                      </ng-container>
                    </ion-row>



                    <ng-container *ngIf="item.expanded">
                      <ion-label class="din-serving-remarks"
                        *ngIf="item.res.tag_status=='refused'&&item.res.order&&item.res.order.length&&item.res.order.refuse_reason">
                        <ion-icon name="close-circle-outline"></ion-icon> {{item.res.order.refuse_reason}}
                      </ion-label>
                      <ion-label class="din-serving-comments"
                        *ngIf="item.res.tag_status=='refused'&&item.res.order&&item.res.order.length&&item.res.order.refuse_comment">
                        <ion-icon name="close-circle-outline"></ion-icon> {{item.res.order.refuse_comment}}
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==1)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==1)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed full meal
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==2)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==2)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed most of the meal
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==3)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==3)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed half of the meal
                      </ion-label>
                      <ion-label class="din-serving-remarks fc-info"
                        *ngIf="(item.res.order&&item.res.order.length&&item.res.order.order_items&&item.res.order.order_items.length&&item.res.tag_status=='consumed'&&item.res.order.order_items[0].served_portion==4)
                                ||(item.res.additional_order&&item.res.additional_order.length&&item.res.tag_status=='consumed'&&item.res.additional_order[0].served_portion==4)">
                        <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed little of the meal
                      </ion-label>

                      <ion-row [class.doNotShow]="item.res.tag_status!='default'||item.res.isleave==1||(item.res.order.length&&item.res.order.refuse_status==1)"
                        *ngIf="(((item.res.order&&item.res.order.length)||(item.res.additional_order&&item.res.additional_order.length))&&(selectedItem[0].Resident==0&&selectedAdd[0].Resident==0))&&edit">

                        <ion-col size="12" class="din-o-button-controls-sec">

                          <ion-button class="served-btn" (click)="serve(item,i)">Served</ion-button>
                         
                          <ion-button class="refused-btn" (click)="refuse(item,i)">Refused</ion-button>

                          <ion-button class="leave-btn" (click)="leave(item,i)">Leave</ion-button>

                        </ion-col>


                      </ion-row>
                      <ion-row [class.doNotShow]="item.res.tag_status=='refused'||item.res.isleave==1||(item.res.order.length&&item.res.order.refuse_status==1)"
                      *ngIf="(item.res.tag_status=='served'&&(selectedItem[0].Resident!=0||selectedAdd[0].Resident!=0))&&edit">

             <ion-col size="12" class="din-o-button-controls-sec">

               <ion-button class="served-btn" (click)="serve(item,i)">Served</ion-button>
             
             </ion-col>

           </ion-row>
                      <ion-row>
                       
                          <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                          *ngIf="(!item.res.order||item.res.order.length==0||item.res.order.order_items.length==0)&&(!item.res.additional_order||item.res.additional_order.length==0)&&item.res.is_leave==0&&serving_order==1">
                          <div class="din-inner-control-sec">
                            <ion-label>Order not confirmed !</ion-label>
                            <ion-button (click)="addItems(item.res)" class="order-now-btn" *ngIf="order">Order now</ion-button>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ng-container>
                  </ion-grid>

                </ion-card>

              </ion-col> -->








        </ng-container>

        <ion-label class="no-result" *ngIf="details.length==0&&!loading">No residents found</ion-label>
        <ion-spinner class="no-result" color="primary" *ngIf="details.length==0&&loading"></ion-spinner>

      </ion-row>

    </ion-grid>

  </div>
</ion-content>