ion-item {
    ion-label {
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        align-self: center;
        font-size: 16px;
        padding: 5px 8px !important;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-inline-end: 0px;
    }
}
