.branch-option-box {
    --min-height: auto;
    --padding-start: 0;
    --inner-padding-end: 0;
    margin: 5px 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;

    ion-radio {
        background: #d1d1d1;
        --border-width: 0px;
        --color-checked: #0077b5;
        border-radius: 50px;
        margin-top: 0;
        margin-bottom: 0;
    }

    ion-label {
        margin-left: 15px;
        white-space: pre-line !important;
        // font-family: 'Open Sans', sans-serif;
        font-family: "Roboto", sans-serif;
        line-height: 18px;
        color: #222;
        overflow: unset !important;
        margin-top: 0;
        margin-bottom: 0;
    }
}

ion-radio-group {
    max-height: 420px;
    overflow-y: scroll;

    ion-row {
        ion-col {
            &:last-child {
                .branch-option-box {
                    border: none;
                }
            }
        }
    }
}
