<ion-radio-group (ionChange)="setPosition($event)" [(ngModel)]="position" *ngIf="community_position&&community_position.length">

  <ion-row>
      <ion-col size="12" *ngFor="let item of community_position">
        <ion-item lines="none" color="none" class="branch-option-box">
          <ion-radio mode="md" value="{{item.id}}" name=""></ion-radio>
          <ion-label>{{item.name}}</ion-label>
        </ion-item>
      </ion-col>
  </ion-row>
    
</ion-radio-group>