<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Edit Activity</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-item color="none" lines="none" class="opt-label">

    <ion-label>Select Wellness dimension<span class="asterisk">*</span></ion-label>

  </ion-item>
  <ion-item lines="none" color="none">
    <ion-select placeholder="Select Wellness dimension" [(ngModel)]="typeId" interface="action-sheet" (ionChange)="setType(typeId)">
      <ion-select-option value="{{item.id}}" *ngFor="let item of types">{{item.type_name}}
      </ion-select-option>
    </ion-select>
  </ion-item> -->

  <!-- <div class="activity-category-sec">

    


    <ion-chip class="chip-announcement social-selected"  *ngFor="let item of types" [class.social-selected]="typeId==item.id&&typeId==1"
    [class.physical-selected]="typeId==item.id&&typeId==2"
    [class.spiritual-selected]="typeId==item.id&&typeId==3"
    [class.emotional-selected]="typeId==item.id&&typeId==4"
    [class.cognitive-selected]="typeId==item.id&&typeId==5"
    [class.entertainment-selected]="typeId==item.id&&typeId==6"
    [class.trip-selected]="typeId==item.id&&typeId==7"
    [class.event-selected]="typeId==item.id&&typeId==8"
    [class.meeting-selected]="typeId==item.id&&typeId==9"
    [class.other-selected]="typeId==item.id&&typeId==10"  (click)="setType(item.id)">
      <i class="{{item.icon}}" ></i>
      <ion-label >{{item.type_name}}</ion-label>
      </ion-chip>

  </div> -->

  <!-- <ion-grid class="mb-15">

    <ion-row class="actvity-type-container">


      <ion-radio-group [(ngModel)]="typeId" (ionChange)="setType(typeId)">
        <ion-row>
          <ion-col class="activity-type-button" *ngFor="let item of types" [class.social1]="item.id==1"
            [class.physical1]="item.id==2" [class.spiritual1]="item.id==3" [class.emotional1]="item.id==4"
            [class.cognitive1]="item.id==5" [class.entertainment1]="item.id==6" [class.trip1]="item.id==7"
            [class.event1]="item.id==8" [class.meeting1]="item.id==9" [class.other1]="item.id==10">
            <ion-item lines="none" color="none" class="col-fit">
              <ion-radio mode="md" name="" value="{{item.id}}"></ion-radio>
              <i class="{{item.icon}}"></i>
              <ion-label>{{item.type_name}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </ion-row>

  </ion-grid> -->


  <ion-grid class="story-creation-form mt-10">

    <ion-row>

      <ion-col class="opt-label" size="12">

        <ion-label>Select Wellness dimension <span class="asterisk">*</span></ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-select class="select-wellness-dimension" placeholder="Select" [(ngModel)]="typeId" interface="action-sheet"
          (ionChange)="setType(typeId)" *ngIf="types&&types.length">
          <ion-select-option value="{{item.id}}" *ngFor="let item of types">{{item.type_name}}
          </ion-select-option>
        </ion-select>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col class="opt-label" size="12">

        <ion-label>Title <span class="asterisk">*</span></ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input [(ngModel)]="title"></ion-input>

      </ion-col>

      <!-- <ion-col size="12" class="opt-label">
        <ion-item lines="none" color="none">
          <ion-checkbox (ionChange)="addCalendar($event)" [(ngModel)]="cal" [checked]="cal!=0"></ion-checkbox>
          <ion-label>This is 1:1 session</ion-label>
        </ion-item>
      </ion-col> -->

    </ion-row>

    <ion-row class="mt-20" >

      <ion-col size="12" class="opt-label">
        <ion-item lines="none" color="none">
          <ion-checkbox class="mr-15" mode="ios" [(ngModel)]="one_to_one"></ion-checkbox>
          <ion-label style="color:#1c1c1c" class="ml-5">This is a 1:1 session</ion-label>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col class="opt-label" size="12">

        <ion-label>Description</ion-label>

      </ion-col>

      <ion-col size="12">
        <!-- <rich-text [formControlItem]="description"></rich-text> -->
        <!-- <ion-textarea [(ngModel)]="description"></ion-textarea> -->
        <div id="summernote3"></div>

      </ion-col>
      <ion-col size="12" *ngIf="callLink">
        <ion-button class="gen-vcl-btn" (click)="generate()">Generate video call link</ion-button>
      </ion-col>

    </ion-row>

    <ion-row class="upload-files">
      <ion-col class="opt-label" size="12">

        <ion-button class="ufile-btn" (click)="presentActionSheet()">
          <ion-icon name="add-circle-sharp"></ion-icon> Upload Files
          <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
        </ion-button>

      </ion-col>
      <!-- <ion-col class="opt-label mb-15" size="12" *ngIf="imageResponse.length<5">

        <ion-label>Upload Files</ion-label>

      </ion-col>

      <ion-col size="3" *ngIf="imageResponse.length<5">

        <div class="ion-activatable ripple-parent uf-container" (click)="selectImage()">
          <img src="assets/image-icon.svg">
          <ion-label>Image</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>

      </ion-col>
    
      <ion-col size="3" *ngIf="docs.length<5">


        <div class="ion-activatable ripple-parent uf-container" (click)="selectDoc()">
          <img src="assets/document-icon.svg">
          <ion-label>Document</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>


      </ion-col> -->

    </ion-row>
    <ion-row class="uploaded-images-container" *ngIf="imageResponse.length>0">

      <ion-col size="3" class="col_fit uploaded-data" *ngFor="let item of imageResponse;let i=index">

        <ion-thumbnail class="uploaded-image">
          <img src="{{item}}" (click)="viewImage()">
          <ion-icon name="close-circle-outline" class="remove-img" (click)="removeImg(i)"></ion-icon>
        </ion-thumbnail>



      </ion-col>
    </ion-row>
    <ion-row class="uploaded-images-container uploaded-doc-container" style="width:100%" *ngIf="docResponse.length>0">

      <ion-col size="12" class="col_fit-1" *ngFor="let item of docResponse;let i=index">

        <!-- <ion-thumbnail class="uploaded-image"> -->
        <!-- <iframe  class="uploaded-image" src="{{item}}"></iframe> -->
        <!-- </ion-thumbnail> -->
        <ion-label><i class="las la-file-alt"></i> {{item.name}}</ion-label>
        <span>
          <ion-icon name="close-circle-outline" class="remove-file" (click)="removeDoc(i)"></ion-icon>
        </span>

      </ion-col>
    </ion-row>

    <div class="ca-box">

      <ion-row class="activity-date-picker mb-20">

        <ion-col>

          <ion-label>Activity Date <span class="asterisk">*</span></ion-label>
          <ion-datetime mode="md" value="2020-10-31T15:43:40.394Z" [min]="minDate" displayFormat="DD MMM YYYY"
            display-timezone="utc" [(ngModel)]="date">
          </ion-datetime>

          <i class="las la-calendar mr-cal"></i>

        </ion-col>

      </ion-row>

      <ion-row class="activity-time-picker-1 mb-zero">

        <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

          <ion-label>Start Time <span class="asterisk">*</span></ion-label>
          <ion-datetime mode="md" displayFormat="hh:mm a" [(ngModel)]="start"></ion-datetime>
          <i class="las la-clock mr-time"></i>

        </ion-col>

        <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

          <ion-label>End Time <span class="asterisk">*</span></ion-label>
          <ion-datetime mode="md" displayFormat="hh:mm a" [(ngModel)]="end"></ion-datetime>
          <i class="las la-clock mr-time"></i>

        </ion-col>


      </ion-row>

    </div>

    <ion-row>

      <ion-col class="opt-label" size="12">

        <ion-label>Venue</ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input [(ngModel)]="venue"></ion-input>

      </ion-col>

    </ion-row>

    <ng-container *ngIf="rvsettings==1&&activity.individual_activity==0">

      <ion-row class="mt-20" *ngIf="limit_required==1">
  
        <ion-col class="opt-label" size="12">
  
          <ion-label>Total slots <span class="asterisk">*</span></ion-label>
  
        </ion-col>
  
        <ion-col size="12">
  
          <ion-input [(ngModel)]="slot" type="number"></ion-input>
  
        </ion-col>
  
      </ion-row>
  
      <ion-row class="mt-20" >
  
        <ion-col size="12" class="opt-label" *ngIf="limit_required==1">
          <ion-item lines="none" color="none">
            <ion-checkbox class="mr-15" mode="ios" [(ngModel)]="waiting"></ion-checkbox>
            <ion-label style="color:#1c1c1c" class="ml-5">Waiting list required?</ion-label>
          </ion-item>
        </ion-col>
  
        <ion-col size="12" class="opt-label" *ngIf="payment_required==1">
          <ion-item lines="none" color="none">
            <ion-checkbox class="mr-15" mode="ios" [(ngModel)]="paid"></ion-checkbox>
            <ion-label style="color:#1c1c1c" class="ml-5">Paid activity?</ion-label>
          </ion-item>
        </ion-col>
  
      </ion-row>
  
      <ion-row class="mt-20" *ngIf="paid&&payment_required==1">
  
        <ion-col class="opt-label" size="12">
  
          <ion-label>Cost</ion-label>
  
        </ion-col>
  
        <ion-col size="12">
  
          <ion-input [(ngModel)]="cost" type="number"></ion-input>
  
        </ion-col>
  
      </ion-row>
    </ng-container>

    <!-- <ion-row class="tag-consumers" *ngIf="activity.individual_activity==0">

      <ion-col class="col-fit col-start d-none" (click)="addAttendees()">

        <ion-icon class="ca-add-attendees-icon" src="assets/add-attendees-icon.svg"></ion-icon>

      </ion-col>

      <ion-col class="col-middle" (click)="addAttendees()">

        <ion-label class="cblack">Add Attendees</ion-label>

        <span class="vsc-link" *ngIf="attendees.length>0" (click)="viewAttendees()">View selected
          <ion-badge class="vs-count" >{{attendees.length}}</ion-badge> 
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </span>

      </ion-col>

      <ion-col class="col-fit col-start" (click)="addAttendees()">

        <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon>

      </ion-col>
      <ion-col size="12">
        <span class="vsc-link" *ngIf="attendees.length>0" (click)="viewAttendees()">View selected attendees
          <ion-badge class="vs-count">{{attendees.length}}</ion-badge>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </span>
      </ion-col>

    </ion-row> -->

    <ion-row *ngIf="activity.individual_activity==0">

      <ion-col size="12">

        <div class="add-attendees-sec">

          <ion-label class="aas-label" (click)="addAttendees()"><i class="las la-user-friends"></i> Add attendees</ion-label>
    
          <ion-label class="view-selected-label" *ngIf="attendees.length>0" (click)="viewAttendees()">
            View selected <ion-badge class="vs-count">{{attendees.length}}</ion-badge>
          </ion-label>
    
          <ion-icon name="chevron-forward-outline" (click)="addAttendees()"></ion-icon>
    
        </div>

      </ion-col>

    </ion-row>


    <!-- <ion-row class="act-conducted-by" >

      <ion-col class="opt-label" size="12">

        <ion-label style="color:#1c1c1c">Conducted by</ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-item lines="none" color="none" *ngIf="staffArray&&staffArray.length">


          <ion-select placeholder="Select staff" [(ngModel)]="staff" multiple="true" *ngIf="staffArray&&staffArray.length"
            (ionChange)="selectStaff($event,staff)">
            <ion-select-option value="{{item.user_id}}" *ngFor="let item of staffArray">{{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>

      </ion-col>

    </ion-row> -->



    <!-- <ion-row class="tag-consumers" >

      
      <ion-col class="col-fit col-start" (click)="addStaff(0)">

        <ion-icon class="ca-add-attendees-icon" src="assets/add-attendees-icon.svg"></ion-icon>

      </ion-col>

      <ion-col class="col-middle" (click)="addStaff(0)">

        <ion-label class="cblack">Conducted by</ion-label>

      

      </ion-col>

      <ion-col class="col-fit col-start" (click)="addStaff(0)">

        <ion-icon class="arrow-icon" name="chevron-forward-outline"></ion-icon>

      </ion-col>
    
      <ion-col size="12" (click)="addStaff(1)">
        <span class="vsc-link" *ngIf="staff.length>0" >View selected staffs
          <ion-badge class="vs-count">{{staff.length}}</ion-badge>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </span>
      </ion-col>

    </ion-row> -->

    <ion-row class="mb-zero" (click)="addStaff(0)">

      <ion-col size="12">

        <div class="conducted-by-sec">

          <ion-label class="cbs-label" ><i class="las la-user-tie"></i> Conducted by</ion-label>
    
          <ion-label class="view-selected-label" *ngIf="staff.length>0" (click)="addStaff(1); $event.stopPropagation()">
            View selected <ion-badge class="vs-count">{{staff.length}}</ion-badge>
          </ion-label>
    
          <ion-icon name="chevron-forward-outline"></ion-icon>
    
        </div>

      </ion-col>

    </ion-row>



    <ion-row class="mb-zero">

      <ion-col class="opt-label" size="12">

        <ion-label style="color:#1c1c1c">Status <span class="asterisk">*</span></ion-label>

        <ion-toggle class="ca-toggle-switch" [checked]="status==1" (ionChange)="select($event)">
        </ion-toggle>

      </ion-col>

    </ion-row>
  </ion-grid>



  <ion-item color="none" lines="none" class="consumer-about-info" style="margin-top: 10px;">

    <div class="tabs">

      <div class="tab">

        <input type="checkbox" id="chck1">

        <label class="tab-label" for="chck1">Additional Information</label>

        <div class="tab-content">

          <ion-grid class="consumer-about-form">

            <ion-row class="act-select-category">

              <ion-col class="opt-label" size="12">

                <ion-label style="color:#1c1c1c">Category</ion-label>

              </ion-col>

              <ion-col size="12">

                <ion-item lines="none" color="none" *ngIf="loaded">
                  <ion-select mode="ios" placeholder="Select Category" [interfaceOptions]="categoryOptions" [(ngModel)]="category" multiple="true"
                    *ngIf="categories&&categories.length>0" interface="action-sheet">
                    <ion-select-option value="{{item.id}}" *ngFor="let item of categories">{{item.category_name}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>

              </ion-col>

            </ion-row>

            <ion-row class="act-select-category">

              <ion-col class="opt-label" size="12">

                <ion-label style="color:#1c1c1c">Facilities <span class="asterisk">*</span></ion-label>

              </ion-col>

              <ion-col size="12">

                <ion-item lines="none" color="none" *ngIf="utype!==1&&branch&&branch.length&&loaded">
                  <ion-select placeholder="Select Facilities" [(ngModel)]="facility" multiple="true"
                    (ionChange)="selectBranch($event,facility)" disabled style="opacity: 1;">
                    <ion-select-option value="{{item.id}}" *ngFor="let item of branch">{{item.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none" color="none" 
                *ngIf="utype==1&&loaded&&branch&&branch.length>0" >
                  <!-- <ion-select placeholder="Select Facilities" [(ngModel)]="facility" multiple="true"
                    (ionChange)="selectBranch($event,facility)">
                    <ion-select-option value="{{item.id}}" *ngFor="let item of branch">{{item.name}}</ion-select-option>
                  </ion-select> -->
                  <ion-select placeholder="Select Facilities" #selector2 style="pointer-events: none"
                    [interfaceOptions]="customAlertOptions" [(ngModel)]="facility" multiple="true" >
                    <ion-select-option value="{{item.id}}" *ngFor="let item of branch">{{item.name}}</ion-select-option>
                  </ion-select>
                </ion-item>

              </ion-col>

            </ion-row>


          </ion-grid>

        </div>

      </div>

    </div>

  </ion-item>

  <ion-row class="ca-add-to-additional-cal">

    <ion-col size="12" class="opt-label">
      <ion-checkbox mode="ios" (ionChange)="addCalendar($event)" [checked]="calendar_type&&calendar_type.length>0"></ion-checkbox>
      <ion-label style="color:#1c1c1c">Add to custom calendar?</ion-label>
    </ion-col>
    <ion-col size="12" *ngIf="!hide">
      <ion-item lines="none" color="none">
        <ion-select mode="ios" *ngIf="calendar&&calendar.length" placeholder="Select calendar type" [interfaceOptions]="customOptions" [(ngModel)]="calendar_type" multiple="true">
          <ion-select-option value="{{item.id}}" *ngFor="let item of calendar">{{item.name}}</ion-select-option>

        </ion-select>
      </ion-item>
    </ion-col>

  </ion-row>


  <!-- </ion-grid> -->

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-button class="publish-btn" expand="block" *ngIf="status==1">
      <ion-icon src="assets/sent-icon.svg"></ion-icon> Publish
    </ion-button> -->
    <ion-button class="publish-btn" expand="block" [disabled]="disable" (click)="confirm()">
       Save
    </ion-button>
  </ion-toolbar>
</ion-footer>