ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    // --background: #eee;
    font-family: "Open Sans", sans-serif;
}

.activity-category-sec {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    display: flex;
    flex-wrap: wrap;

    ion-chip {
        padding: 10px 18px;
        height: 40px;
        background: #f3f3f3;
        border-radius: 50px;
        margin-left: 12px;
        margin-bottom: 12px;

        ion-icon {
            font-size: 25px;
            color: #707070;
        }

        i {
            font-size: 25px;
            color: #707070;
        }

        ion-label {
            font-size: 16px;
            color: #707070;
            white-space: pre-line;
            word-break: break-word;
            margin-left: 10px;
        }
    }

    .social-selected {
        background: #fbddf9;

        i {
            color: #a20082 !important;
        }

        ion-label {
            color: #a20082 !important;
        }
    }

    .physical-selected {
        background: #ffd6db !important;

        i {
            color: #e2001e !important;
        }

        ion-label {
            color: #e2001e !important;
        }
    }

    .spiritual-selected {
        background: #aeffd5 !important;

        i {
            color: #187a57 !important;
        }

        ion-label {
            color: #187a57 !important;
        }
    }

    .emotional-selected {
        background: #ffe5d8 !important;

        i {
            color: #e25900 !important;
        }

        ion-label {
            color: #e25900 !important;
        }
    }

    .cognitive-selected {
        background: #dfecff !important;
        color: #0965a1 !important;

        i {
            color: #0965a1 !important;
        }

        ion-label {
            color: #0965a1 !important;
        }
    }

    .entertainment-selected {
        background: #b1ffff !important;
        color: #006064 !important;

        i {
            color: #006064 !important;
        }

        ion-label {
            color: #006064 !important;
        }
    }

    .trip-selected {
        background: #fff1bc !important;
        color: #725a00 !important;

        i {
            color: #725a00 !important;
        }

        ion-label {
            color: #725a00 !important;
        }
    }

    .event-selected {
        background: #ffd1d1 !important;
        color: #610000 !important;

        i {
            color: #610000 !important;
        }

        ion-label {
            color: #610000 !important;
        }
    }

    .meeting-selected {
        background: #e7e4fd !important;
        color: #0f00a2 !important;

        i {
            color: #0f00a2 !important;
        }

        ion-label {
            color: #0f00a2 !important;
        }
    }

    .other-selected {
        background: #ffd8f6 !important;
        color: #f300d3 !important;

        i {
            color: #f300d3 !important;
        }

        ion-label {
            color: #f300d3 !important;
        }
    }
}

.uploaded-images-container {
    // margin-top: 20px;
    margin-top: 5px;

    ion-col {
        margin-right: 15px;
        margin-bottom: 20px;
        margin-right: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border-radius: 8px;
        border: 1px solid #d9e3f1;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;

        ion-label {
            color: #000;
        }
    }
}

.uploaded-image {
    width: 80px;
    height: 80px;

    img {
        border-radius: 4px;
    }
}

.uploaded-data {
    margin: 10px;

    .uploaded-image {
        width: 50px;
        height: 50px;

        ion-icon {
            font-size: 25px;
            color: #9a9a9a;
        }
    }
}

.remove-img {
    // width: 23px;
    // height: 23px;
    // position: absolute;
    // top: 0px;
    // left: 48px;
    // z-index: 999;
    width: 23px;
    height: 23px;
    position: absolute;
    background: #ffff;
    border-radius: 50px;
    top: -5px;
    right: -5px;
    z-index: 99999;
}

.remove-file {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 5px;
    z-index: 999;
    color: #808080;
}

.uploaded-data {
    margin: 10px;

    .uploaded-image {
        width: 50px;
        height: 50px;

        ion-icon {
            font-size: 25px;
            // color: #9a9a9a;
            color: #c00009;
        }
    }
}

.upload-files {
    margin-bottom: 15px !important;
    margin-top: 0px;
}

.uploaded-doc-container {
    margin-top: 15px;
    width: 100%;

    ion-col {
        margin-right: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border-radius: 8px;
        border: 1px solid #d9e3f1;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;

        ion-label {
            font-size: 15px;
            color: #000;

            i {
                font-size: 18px;
                margin-right: 5px;
            }
        }

        span {
            display: flex;

            .remove-file {
                position: unset !important;
            }
        }
    }
}

.ufile-btn {
    --box-shadow: none;
    --background: #e5f6ff;
    --border-radius: 50px;
    --background-activated: #95daff;
    --padding-start: 8px;
    --padding-end: 12px;
    color: #5888a1;
    text-transform: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    margin: 0;
    max-width: initial;

    ion-icon {
        font-size: 28px;
        // margin: 0px 5px;
        margin: 0 3px 0 0px;
    }
}

.select-calendar-type {
    background: #f3f3f3;
    border-radius: 10px;
    border: none;
    color: #222;
    height: 50px;
    --placeholder-opacity: 0.6;
    --padding-start: 15px;
    --padding-end: 15px;
    margin-top: 2px;
    width: 100%;
}

.stat-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-radio-group {
    ion-item {
        --min-height: auto;
        --inner-padding-end: 0;
        --padding-start: 0;
        display: inline-flex;
    }
}

.activity-time-picker {
    ion-col:nth-child(2) {
        padding-left: 15px;
        margin-left: 0px;
    }
}

.social1 {
    background-color: #fbddf9;
    --background: #fbddf9;
    color: #a20082;

    // ion-radio-group{
    ion-item {
        ion-radio {
            margin: 0;
            --color-checked: #a20082;
            // filter: hue-rotate(-648deg);
            width: 20px;
            height: 18px;
        }

        i {
            color: #a20082;
        }

        ion-label {
            color: #a20082;
        }
    }

    // }
}

.physical1 {
    background-color: #ffd6db;
    --background: #ffd6db;
    color: #e2001e;

    // ion-radio-group{
    ion-item {
        ion-radio {
            margin: 0;
            --color-checked: #e2001e;
            // filter: hue-rotate(-199deg);
            width: 20px;
            height: 18px;
        }

        i {
            color: #e2001e;
        }

        ion-label {
            color: #e2001e;
        }
    }

    // }
}

.spiritual1 {
    background-color: #aeffd5;
    --background: #aeffd5;
    color: #187a57;

    // ion-radio-group{
    ion-item {
        ion-radio {
            margin: 0;
            --color-checked: #187a57;
            // filter: hue-rotate(-50deg);
            width: 20px;
            height: 18px;
        }

        i {
            color: #187a57;
        }

        ion-label {
            color: #187a57;
        }
    }

    // }
}

.trip1 {
    background-color: #fff1bc;
    --background: #fff1bc;
    color: #725a00;

    // ion-radio-group{
    ion-item {
        ion-radio {
            margin: 0;
            --color-checked: #725a00;
            // filter: sepia(1);
            width: 20px;
            height: 18px;
        }

        i {
            color: #725a00;
        }

        ion-label {
            color: #725a00;
        }
    }

    // }
}

.other1 {
    background-color: #ffd8f6;
    --background: #ffd8f6;
    color: #f300d3;

    // ion-radio-group{
    ion-item {
        ion-radio {
            margin: 0;
            --color-checked: #f300d3;
            // filter: hue-rotate(-270deg);
            width: 20px;
            height: 18px;
        }

        i {
            color: #f300d3;
        }

        ion-label {
            color: #f300d3;
        }
    }

    // }
}

.cognitive1 {
    background-color: #dfecff;
    --background: #dfecff;
    color: #0965a1;

    // ion-radio-group{
    ion-item {
        ion-radio {
            margin: 0;
            --color-checked: #0965a1 !important;
            // filter: hue-rotate(-25deg);
            width: 20px;
            height: 18px;
        }

        i {
            color: #0965a1;
        }

        ion-label {
            color: #0965a1;
        }
    }

    // }
}

.emotional1 {
    background-color: #ffe5d8;
    --background: #ffe5d8;
    color: #e25900;

    // ion-radio-group{
    ion-item {
        ion-radio {
            margin: 0;
            --color-checked: #e25900 !important;
            // filter: hue-rotate(180deg);
            width: 20px;
            height: 18px;
        }

        i {
            color: #e25900;
        }

        ion-label {
            color: #e25900;
        }
    }

    // }
}

.entertainment1 {
    background-color: #b1ffff;
    --background: #b1ffff;
    color: #006064;

    // ion-radio-group{
    ion-item {
        ion-radio {
            margin: 0;
            --color-checked: #006064;
            // filter: hue-rotate(-395deg);
            width: 20px;
            height: 18px;
        }

        i {
            color: #006064;
        }

        ion-label {
            color: #006064;
        }
    }

    // }
}

.event1 {
    background-color: #ffd1d1;
    --background: #ffd1d1;
    color: #610000;

    // ion-radio-group{
    ion-item {
        ion-radio {
            margin: 0;
            --color-checked: #610000;
            // filter: hue-rotate(-175deg);
            width: 20px;
            height: 18px;
        }

        i {
            color: #610000;
        }

        ion-label {
            color: #610000;
        }
    }

    // }
}

.meeting1 {
    background-color: #e7e4fd;
    --background: #e7e4fd;
    color: #0f00a2;

    // ion-radio-group{
    ion-item {
        ion-radio {
            margin: 0;
            --color-checked: #0f00a2;
            // filter: hue-rotate(-345deg);
            width: 20px;
            height: 18px;
        }

        i {
            color: #0f00a2;
        }

        ion-label {
            color: #0f00a2;
        }
    }

    // }
}

.consumer-about-info {
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
}

// Layout
.row {
    display: flex;

    .col {
        flex: 1;

        &:last-child {
            margin-left: 0;
        }
    }
}

/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;

    &-label {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        // background: $light-grey;
        font-size: 18px;
        font-weight: normal;
        cursor: pointer;
        color: #707070;

        /* Icon */
        &:hover {
            background: transparent;
        }

        &::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all 0.35s;
            color: #9a9a9a;
        }
    }

    &-content {
        max-height: 0;
        padding: 0 1em;
        color: #ececec;
        background: white;
        transition: all 0.35s;
    }

    &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: #ececec;
        cursor: pointer;

        &:hover {
            background: darken(#ececec, 10%);
        }
    }
}

// :checked
input:checked {
    + .tab-label {
        background: transparent;

        &::after {
            transform: rotate(90deg);
        }
    }

    ~ .tab-content {
        max-height: 100vh;
        padding: 0em 1em;
    }
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
    .remove-img {
        width: 23px;
        height: 23px;
        position: absolute;
        background: #ffff;
        border-radius: 50px;
        top: -5px;
        right: -20px;
        z-index: 999;
    }
}

.vsc-link {
    margin-top: 0px;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    font-size: 13px;
    color: #707070;
    margin-left: -5px;

    ion-icon {
        font-size: 18px;
        margin-left: 5px;
    }
}

.col-start {
    align-self: flex-start;
    padding-inline-start: 0;
}

.ca-box {
    padding: 20px;
    background-color: #f3f3f3;
    margin-top: 10px;

    .activity-time-picker-1 {
        .mr-time {
            top: 52px !important;
        }
    }

    .activity-date-picker {
        ion-label {
            color: #222;
        }

        ion-datetime {
            font-family: "Open Sans", sans-serif;
            color: #222;
            background: #e6e6e6;
            border: none;
            border-radius: 10px;
            height: 50px;
            display: flex;
            align-items: center;
            --padding-start: 15px;
            --padding-end: 15px;
            margin-top: 15px;
        }

        .mr-cal {
            font-size: 25px;
            color: #707070;
            position: absolute;
            right: 15px;
            top: 58px;
            z-index: 9999;
        }
    }

    .activity-time-picker-1 {
        ion-label {
            color: #222;
        }

        ion-datetime {
            font-family: "Open Sans", sans-serif;
            color: #222;
            border: none !important;
            background: #e6e6e6 !important;
            border-radius: 10px;
            margin-top: 10px;
            height: 50px;
            display: flex;
            align-items: center;
            --padding-start: 10px;
            --padding-end: 10px;
        }

        .mr-time {
            font-size: 22px;
            color: #707070;
            position: absolute;
            right: 15px;
            top: 56px;
            z-index: 9999;
        }
    }

    .make-recurring-btn {
        --background: #cee8f7;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 12px;
        --padding-end: 15px;
        border-radius: 50px;
        color: #4c809b;
        text-transform: none;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: normal;
        height: 40px;
        margin: 0 auto;
        display: block;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin-top: 10px;
    }
}

.activity-time-picker {
    ion-col {
        &:nth-child(2) {
            padding-left: 10px;
            margin-left: 0px;
        }
    }
}

.activity-date-picker {
    ion-col {
        &:nth-child(2) {
            margin-left: 5px;
        }
    }
}

@media only screen and (min-width: 1112px) and (max-width: 1112px) {
    .activity-time-picker .act-start-time {
        width: 49%;
    }

    .activity-time-picker .act-end-time {
        width: 49%;
    }
}

@media only screen and (min-width: 1080px) and (max-width: 1080px) {
    .activity-time-picker .act-start-time {
        width: 49%;
    }

    .activity-time-picker .act-end-time {
        width: 49%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .activity-time-picker .act-start-time {
        width: 49%;
    }

    .activity-time-picker .act-end-time {
        width: 49%;
    }
}

@media only screen and (min-width: 834px) and (max-width: 834px) {
    .activity-time-picker .act-start-time {
        width: 48.5%;
    }

    .activity-time-picker .act-end-time {
        width: 48.5%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .activity-time-picker .act-start-time {
        width: 48.5%;
    }

    .activity-time-picker .act-end-time {
        width: 48.5%;
    }
}

@media only screen and (min-width: 690px) and (max-width: 690px) {
    .activity-time-picker .act-start-time {
        width: 48.5%;
    }

    .activity-time-picker .act-end-time {
        width: 48.5%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .ca-box {
        .activity-time-picker {
            .act-start-time {
                display: inline-block;
                width: 100%;
            }

            .act-end-time {
                display: inline-block;
                width: 100%;
            }
        }
    }
}

.add-attendees-sec {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .add-attendees-btn {
        i {
            font-size: 25px;
            margin-right: 5px;
        }

        --box-shadow: none;
        --background: #e5f6ff;
        --border-radius: 50px;
        --padding-start: 15px;
        --padding-end: 15px;
        color: #5888a1;
        text-transform: none;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: normal;
        height: 40px;
        margin-right: 10px;
        margin-bottom: 5px;

        ion-icon {
            font-size: 28px;
            margin: 0px 5px;
        }
    }

    .view-selected-label {
        font-size: 16px;
        color: #707070;
        align-items: center;
        display: flex;
        margin-left: 6px;
        margin-top: 5px;
        margin-bottom: 5px;

        ion-icon {
            font-size: 20px;
            color: #707070;
        }
    }
}

.act-conducted-by {
    margin-top: 10px;

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;

        ion-select {
            background: #f3f3f3;
            border-radius: 10px;
            border: none;
            color: #222;
            height: 50px;
            --placeholder-opacity: 0.6;
            --padding-start: 15px;
            --padding-end: 15px;
            margin-top: 2px;
            width: 100%;
        }
    }
}

.consumer-about-info {
    // box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    box-shadow: none;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;

    .consumer-about-form {
        ion-datetime {
            color: #222;
            background: #f3f3f3;
            border: none;
            border-radius: 10px;
            color: #1c1c1c !important;
            --padding-start: 15px;
            --padding-end: 15px;
            margin-top: 0;
        }

        .act-select-category {
            .opt-label {
                ion-label {
                    font-family: "Open Sans", sans-serif;
                    color: #222;
                }
            }

            ion-item {
                ion-select {
                    font-family: "Open Sans", sans-serif;
                    background: #f3f3f3;
                    border-radius: 10px;
                    border: none;
                    color: #222;
                    height: 50px;
                    --placeholder-opacity: 0.6;
                    --padding-start: 15px;
                    --padding-end: 15px;
                    margin-top: 2px;
                    width: 100%;
                }
            }
        }
    }
}

ion-footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fff;

    .publish-btn {
        text-transform: capitalize;
        --border-radius: 50px;
        --background: #0077b5;
        --box-shadow: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        width: auto;
        height: 55px;
        max-width: 95%;
    }
}

ion-toggle {
    --background: #c8cfda;
    --background-checked: #dcf3ff;
    --handle-background-checked: #0077b5;
    --handle-width: 20px;
    --handle-height: 20px;
    --handle-spacing: 3px;
    --handle-background: #ffffff;
    padding: 0;
}

.ca-toggle-switch {
    float: right;
    width: 55px;
    height: 25px;
    padding-inline: 0;
}

.ca-add-to-additional-cal {
    ion-checkbox {
        vertical-align: middle;
        --border-radius: 6px;
        --border-color: #fff;
        --background: #e6e6e6;
        --background-checked: #0077b5;
        --border-color-checked: #0077b5;
        width: 28px;
        height: 28px;
    }

    ion-select {
        background: #f3f3f3;
        border-radius: 10px;
        border: none;
        color: #222;
        width: 100%;
        height: 50px;
        margin-top: 2px;
        --placeholder-opacity: 0.6;
        --padding-start: 15px;
        --padding-end: 15px;
    }
}

ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

.vs-count {
    margin: 0px 0px 0px 10px;
    --padding-top: 5px;
    --padding-end: 5px;
    --padding-bottom: 5px;
    --padding-start: 5px;
    --background: rgb(255 0 85 / 15%);
    color: #e91e63;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 600;
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-wellness-dimension {
    color: #222;
    background: #f3f3f3;
    width: 100%;
    border-radius: 10px;
    --padding-start: 15px;
    --padding-end: 15px;
}

.rec-details {
    color: #0077b5;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.opt-label {
    ion-item {
        --min-height: auto;
        margin-top: 2px;
        margin-bottom: 0px;

        ion-checkbox {
            vertical-align: middle;
            --border-radius: 6px;
            --border-color: #fff;
            --background: #e6e6e6;
            --background-checked: #0077b5;
            --border-color-checked: #0077b5;
            --checkmark-width: 1px;
            width: 28px;
            height: 28px;
            margin-right: 10px;
            margin-top: 0;
            margin-bottom: 0;
        }

        ion-label {
            font-family: "Open Sans", sans-serif;
            margin-top: 0;
            margin-bottom: 0;
            color: #222;
        }
    }
}

.mr-15 {
    margin-right: 15px;
}

.ml-5 {
    margin-left: 5px;
}

@media only screen and (min-width: 768px) {
    .uploaded-doc-container {
        ion-col {
            max-width: fit-content !important;
            margin: 5px !important;
        }
    }

    ion-footer {
        .publish-btn {
            max-width: 12%;
            height: 50px;
        }
    }
}

.add-attendees-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dfdfdf;
    // border-bottom: 1px solid #dfdfdf;
    margin-top: 0px;
    // margin-bottom: 15px;
    padding-top: 12px;
    // padding-bottom: 12px;

    .aas-label {
        font-family: "Roboto", sans-serif !important;
        font-size: 16px !important;
        color: #1c1c1c;
        display: flex;
        align-items: center;

        i {
            font-size: 25px;
            color: #8b8b8b;
            margin-right: 8px;
        }
    }

    .view-selected-label {
        font-family: "Roboto", sans-serif !important;
        font-size: 13px;
        color: #707070;
        align-items: center;
        display: flex;
        margin-left: auto;
        padding-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;

        ion-icon {
            font-size: 20px;
            color: #707070;
        }
    }

    ion-icon {
        font-size: 20px;
        color: #707070;
    }
}

.conducted-by-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    margin-top: -15px;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 12px;

    .cbs-label {
        font-family: "Roboto", sans-serif !important;
        font-size: 16px !important;
        color: #1c1c1c;
        display: flex;
        align-items: center;

        i {
            font-size: 25px;
            color: #8b8b8b;
            margin-right: 8px;
        }
    }

    .view-selected-label {
        font-family: "Roboto", sans-serif !important;
        font-size: 13px;
        color: #707070;
        align-items: center;
        display: flex;
        margin-left: auto;
        padding-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;

        ion-icon {
            font-size: 20px;
            color: #707070;
        }
    }

    ion-icon {
        font-size: 20px;
        color: #707070;
    }
}

.d-none {
    display: none;
}

.footer-ios {
    padding-bottom: 0 !important;
}