ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.uploaded-images-container {
  margin-top: 20px;
}

.uploaded-images-container ion-col {
  margin-right: 15px;
  margin-bottom: 20px;
}

.uploaded-image {
  width: 80px;
  height: 80px;
}

.uploaded-image img {
  border-radius: 4px;
}

.uploaded-data {
  margin: 10px;
}

.uploaded-data .uploaded-image {
  width: 50px;
  height: 50px;
}

.uploaded-data .uploaded-image ion-icon {
  font-size: 25px;
  color: #9a9a9a;
}

.remove-img {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0px;
  left: 48px;
  z-index: 999;
}

.remove-file {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0px;
  z-index: 999;
}

.ufile-btn {
  --box-shadow: none;
  --background: #80a7d4;
  --border-radius: 50px;
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
  height: 40px;
  margin: 0;
  max-width: 170px;
}

.ufile-btn ion-icon {
  font-size: 28px;
}

.select-calendar-type {
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  padding: 10px 15px;
  width: 100%;
}

.stat-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
