<!-- <ion-content>

  <ion-item lines="none" color="none">
    <ion-select placeholder="Select reason" [(ngModel)]="reason" >
      <ion-select-option value="Not specified" >Not specified</ion-select-option>
      <ion-select-option value="Not hungry" >Not hungry</ion-select-option>
      <ion-select-option value="Wrong order" >Wrong order</ion-select-option>
      <ion-select-option value="Does not like the look" >Does not like the look</ion-select-option>
      <ion-select-option value="Too unwell to eat" >Too unwell to eat</ion-select-option>
      <ion-select-option value="Other" >Other</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-textarea rows="'4" placeholder="Enter the reason" [(ngModel)]="otherReason"></ion-textarea>


  <div class="din-modal-btn-box">

    <ion-button class="din-modal-continue-btn" (click)="dismiss(1)"> Continue </ion-button>

    <ion-button class="din-modal-cancel-btn" (click)="dismiss(2)"> Cancel </ion-button>

  </div>

</ion-content> -->


<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="dismiss(2)"></ion-icon>
          <ion-label>Refused reason</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class="din-rr-box">

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15">

        <ion-label>Reason <span class="asterisk">*</span></ion-label>

        <div class="din-rreason-box">
          <ion-chip (click)="setReason('Not specified')" [class.chip-selected]="reason=='Not specified'">Not specified</ion-chip>
          <ion-chip (click)="setReason('Not hungry')" [class.chip-selected]="reason=='Not hungry'">Not hungry</ion-chip>
          <ion-chip (click)="setReason('Wrong order')" [class.chip-selected]="reason=='Wrong order'">Wrong order</ion-chip>
          <ion-chip (click)="setReason('Does not like the look')" [class.chip-selected]="reason=='Does not like the look'">Does not like the look</ion-chip>
          <ion-chip (click)="setReason('Too unwell to eat')" [class.chip-selected]="reason=='Too unwell to eat'">Too unwell to eat</ion-chip>
          <ion-chip (click)="setReason('Other')" [class.chip-selected]="reason=='Other'">Other</ion-chip>
        </div>

      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15" *ngIf="reason=='Other'">

        <ion-label>Enter reason </ion-label>

        <ion-textarea rows="5"   [(ngModel)]="otherReason"></ion-textarea>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>


<ion-footer>

  <ion-button class="continue-btn" (click)="dismiss(1)">Continue</ion-button>

  <ion-button class="cancel-btn" (click)="dismiss(2)">Cancel</ion-button>

</ion-footer>