<ion-content>

  <div class="din-alertmodal-container">

    <!-- <ion-button class="modal-close-btn" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button> -->
  
  
    <img class="din-confirm-icon" src="/assets/dining/no-food-items-assigned.svg">
  
    <ion-label class="modal-title">There are no items chosen for {{date}}.</ion-label>
  
    <p class="confirm-info-block">
      Would you like to override these alerts and still place order?
    </p>
  
    <div class="din-modal-btn-box">
  
      <ion-button class="din-modal-continue-btn" (click)="confirm()"> Yes </ion-button>
  
      <ion-button class="din-modal-cancel-btn" (click)="dismiss()"> No </ion-button>
  
    </div>
  
  
  </div>

</ion-content>