.header-buttons {

    ion-icon:first-child {
        padding: 10px;
        font-size: 18px;
    }

    ion-icon:nth-child(2) {
        font-size: 30px !important;
        padding: 4px;
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 40px;
    --padding-bottom: 20px;
    --background:#eee;
}


.calendar_style {
    width: 100% !important;
    margin-top: 80px;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 10px !important;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;
}

.sc-ion-popover-md-h {
    --width: 100% !important;
}

@media only screen and (min-width:360px) and (max-width:360px) {

    .header-buttons ion-icon:first-child {
        padding: 10px;
        font-size: 18px !important;
    }

    .header-buttons ion-icon:nth-child(2) {
        font-size: 30px !important;
        padding: 4px;
    }

}

.canceled {
    background-color: #afadad !important;

    ion-item {
        ion-label {
            background-color: grey;
            color: black;
        }

        ion-icon {
            color: dimgray
        }
    }

    ion-grid {
        ion-row {
            ion-col {
                img {
                    -webkit-filter: grayscale(100%);
                    /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                }
            }
        }
    }

    ion-button {
        --background: grey;
    }

    .cb-call-info {
        ion-label {
            background-color: grey;
            color: black;
            min-width: 35px;
            min-height: 35px;
        }
    }
}

.cancel-tag {
    position: absolute;
    top: 0px;
    left: 0px;
    background: red;
    color: #fff;
    font-size: 13px;
    padding: 0px 20px 0px;
    line-height: normal;
    font-family: sans-serif;
    -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
}


.canceled {

    ion-item {
        --padding-start: 0px;
        --inner-padding-end: 0px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

}

ion-fab {
    background: #ffffff;
    width: 100%;
    top: 0px;
    left: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;

    ion-grid {
        padding-inline-start: 0px !important;
        padding-inline-end: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;

        ion-row {
            padding-inline-start: 0px !important;
            padding-inline-end: 0px !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;

            ion-col {
                padding-inline-start: 0px !important;
                padding-inline-end: 0px !important;
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                align-self: center;

                ion-searchbar {
                    // width: 97%;
                    width: 100%;
                    color: #222;
                    --background: #ededed;
                    border-radius: 6px;
                    padding-inline-end: 0px;
                    padding-top: 10px;
                }
            }
        }
    }
}

.inner-filter-options1 {
    padding: 10px;

    ion-select {
        background-color: #ededed;
        color: #777777;
        padding: 10px 12px;
        border-radius: 6px;
        height: 45px;
        width: 100%;
        margin: 10px auto 0px;
    }
}

@media only screen and (min-width:768px) {
    .calendar_style {
        margin-top: 30px;
        max-width: 45%;
    }

    .inner-filter-options1 {
        padding: 10px;

        ion-searchbar {
            width: 97%;
        }

        ion-select {
            width: 97%;
            margin: 0px auto 0px !important;
            height: 42px;
            float: right;
        }
    }
}

.call-list-card {
    .cb-timeslot {
        background-color: #FDDF79;
        color: #695105;
        font-size: 15px;
        margin: 0px;
        border-radius: 50px;
        padding: 5px 12px;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}