ion-content {
    // --padding-start:20px;
    // --padding-end:20px;
    // --padding-top:20px;
    // --padding-bottom:20px;
    position: relative;
}

.ob-sec {
    background: url(/assets/mnsp-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;

    &::before {
        background: url(/assets/ob-bg.svg);
        background-size: cover;
        background-position: top left;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -39vh;
        right: -13vw;
    }

    &::after {
        background: url(/assets/ob-circle-bg.svg);
        background-size: cover;
        background-position: top left;
        content: "";
        width: 144px;
        height: 144px;
        position: absolute;
        top: -2vh;
        left: -12vw;
    }

    .ob-img-block {
        min-width: 350px;
        min-height: 415px;
        height: auto;
        display: flex;

        img {
            position: absolute;
            right: -48px;
            top: 40px;
        }
    }

    .ob-other-det-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        position: relative;

        .ob-company-logo-box {
            img {
                min-width: 225px;
            }
        }

        .ob-welcome-label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: "Open Sans", sans-serif;
            font-size: 30px;
            font-weight: 700;
            color: #222;
            margin-top: 10px;
            margin-bottom: 10px;

            span {
                font-size: 25px;
                font-weight: normal;
                margin-top: 0;
                color: #222;
            }
        }

        .ob-description {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            color: #545454;
            margin-top: 20px;
            max-width: 80%;
            text-align: center;
        }

        .ob-get-started-btn {
            --background: #625df5;
            --background: linear-gradient(90deg, #625df5 35%, rgb(0 109 234) 100%);
            --box-shadow: none;
            --border-radius: 50px;
            color: #fff;
            text-transform: none;
            letter-spacing: normal;
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            min-height: 55px;
            width: 100%;
            max-width: 80%;
            margin-top: 25px;
            margin-bottom: 80px;
        }

        .ob-sec-title {
            font-family: "Open Sans", sans-serif;
            font-size: 22px;
            font-weight: 600;
            margin-top: 0;
            color: #222;
        }

        .form-info-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px;
            margin-top: 35px;
            border-radius: 15px;
            // border: 1px solid #d9d9d9;
            background: #fff;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            width: 85%;

            .fib-row-2 {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                .fib-label {
                    font-family: "Open Sans", sans-serif;
                    font-size: 16px;
                    color: #545454;
                    margin-bottom: 10px;
                }

                .fib-input {
                    background: #efefef;
                    border-radius: 6px;
                    color: #555;
                    font-size: 16px;
                    font-family: "Open Sans", sans-serif;
                    min-height: 45px;
                    max-height: 45px;
                    --padding-top: 10px !important;
                    --padding-end: 15px !important;
                    --padding-bottom: 10px !important;
                    --padding-start: 15px !important;
                }

                .password-strenth-suggestions-list {
                    list-style: none;
                    padding-left: 0;
                    font-family: "Open Sans", sans-serif;

                    li {
                        line-height: 35px;
                        color: #545454;
                        font-size: 15px;
                        display: flex;
                        align-items: center;

                        ion-icon {
                            color: #ffa74d;
                            font-size: 14px;
                            margin-right: 5px;
                        }
                    }
                }

                .ob-user-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding: 20px;
                    margin: 0 0 15px 0;
                    border-radius: 15px;
                    font-family: "Open Sans", sans-serif;
                    box-shadow: none;
                    border: 1px solid #dfdfdf;
                    position: relative;

                    &:last-child {
                        margin-bottom: 10px !important;
                    }

                    .obuc-company-logo {
                        max-width: 150px;
                    }

                    .obuc-avatar {
                        width: 60px;
                        height: 60px;
                        margin-top: 15px;
                    }

                    .obuc-name {
                        font-size: 18px;
                        font-weight: 600;
                        color: #545454;
                        margin-top: 10px;
                        display: block;
                    }

                    .obuc-relation {
                        font-size: 15px;
                        color: #545454;
                        margin-top: 5px;
                        display: block;
                    }
                }

                .ob-selected-user {
                    position: relative;
                    border: 1px solid #0dce00;

                    .ob-selected-checkmark {
                        font-size: 28px;
                        color: #0dce00;
                        position: absolute;
                        top: 5px;
                        right: 5px;
                    }
                }
            }

            .fib-grid {
                display: flex;
                flex-direction: column;
                width: 100%;

                .fib-row-1 {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .fib-label {
                        font-family: "Open Sans", sans-serif;
                        font-size: 16px;
                        color: #545454;
                        margin-bottom: 10px;
                    }

                    .fib-input {
                        background: #efefef;
                        border-radius: 6px;
                        color: #555;
                        font-size: 16px;
                        font-family: "Open Sans", sans-serif;
                        min-height: 45px;
                        max-height: 45px;
                        --padding-top: 10px !important;
                        --padding-end: 15px !important;
                        --padding-bottom: 10px !important;
                        --padding-start: 15px !important;
                    }
                }
            }

            .ob-proceed-btn {
                --background: #625df5;
                --background: linear-gradient(90deg, #625df5 35%, rgb(0 109 234) 100%);
                --box-shadow: none;
                --border-radius: 50px;
                color: #fff;
                text-transform: none;
                letter-spacing: normal;
                font-size: 18px;
                font-weight: normal;
                font-family: "Open Sans", sans-serif;
                height: 50px;
                width: 100%;
                margin-top: 0px;

                ion-icon {
                    font-size: 25px;
                    color: #fff;
                    margin-left: 5px;
                }
            }
        }
    }

    .ob-powered-by {
        // position: absolute;
        // bottom: 1vh;
        // left: 0;
        // right: 0;
        // position: absolute;
        // right: 0;
        // left: 0;
        // top: calc(100vh - 80px);
        color: #a4a4a4;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        text-align: center;
        margin-top: 10px;
        padding-bottom: 100px;
        display: block;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .ob-sec {
        background-position: 28%;

        &::after {
            display: none;
        }

        &::before {
            display: none;
        }

        .ob-img-block {
            display: none;
        }
    }
}

@media only screen and (min-width: 768px) {
    .ob-sec {
        justify-content: center;

        &::after {
            display: none;
        }

        &::before {
            // top: -59vh;
            // right: -33vw;
            // transform: rotate(265deg);
            display: none;
        }

        .ob-img-block {
            display: none;

            img {
                position: absolute;
                right: -48px;
                top: 40px;
                height: 450px;
            }
        }

        .ob-other-det-block {
            margin-top: -20px;

            .form-info-block {
                max-width: 75%;

                .fib-grid {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .fib-row-1 {
                        display: flex;
                        flex-direction: column;
                        width: 48%;
                        margin-bottom: 20px;
                    }
                }
            }

            .form-info-block {
                padding: 45px;

                .fib-row-2 {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .fib-label {
                        font-size: 18px;
                    }

                    .ob-user-card {
                        width: 48%;
                        padding: 20px;
                        margin: 0 0 30px 0 !important;

                        .obuc-avatar {
                            width: 60px;
                            height: 60px;
                            margin-top: 20px;
                        }

                        .obuc-name {
                            margin-top: 15px;
                        }
                    }
                }

                .fib-row-1 {
                    margin-bottom: 30px;
                }
            }

            .ob-proceed-btn {
                max-width: 35%;
                height: 55px !important;
                --padding-end: 0;
                --padding-start: 10px;
            }
        }
    }
}

ion-tab-bar {
    display: none !important;
}
