<ion-content>
  <div class="ob-sec">
    <div class="ob-img-block">
      <img src="/assets/ob-thumb.svg" />
    </div>

    <div class="ob-other-det-block">
      <ion-label class="ob-sec-title">Please select a user.</ion-label>

      <div class="form-info-block">

        <div class="fib-grid">

          <div class="fib-row-2">

            <ion-card class="ob-user-card ob-selected-user">
  
              <ion-icon class="ob-selected-checkmark" name="checkmark-circle"></ion-icon>
  
              <img class="obuc-company-logo" src="assets/centrimlife-logo-inner.svg" />
  
              <ion-avatar class="obuc-avatar">
                <img src="https://www.ecaret.com.au/projects/centrimlife/assets/img/user/1.png"/>
              </ion-avatar>
  
              <ion-label class="obuc-name">Amelia Johnson</ion-label>
  
              <span class="obuc-relation">Mother</span>
  
            </ion-card>
  
            <ion-card class="ob-user-card">
  
              <img class="obuc-company-logo" src="assets/centrimlife-logo-inner.svg" />
  
              <ion-avatar class="obuc-avatar">
                <img src="https://www.ecaret.com.au/projects/centrimlife/assets/img/user/4.png">
              </ion-avatar>
  
              <ion-label class="obuc-name">Albert Johnson</ion-label>
  
              <span class="obuc-relation">Father</span>
  
            </ion-card>
  
            <ion-card class="ob-user-card">
  
              <img class="obuc-company-logo" src="assets/centrimlife-logo-inner.svg" />
  
              <ion-avatar class="obuc-avatar">
                <img src="https://www.ecaret.com.au/projects/centrimlife/assets/img/user/2.png"/>
              </ion-avatar>
  
              <ion-label class="obuc-name">Joaquina Weisenborn</ion-label>
  
              <span class="obuc-relation">Family friend</span>
  
            </ion-card>
  
          </div>

        </div>

        <ion-button class="ob-proceed-btn mt-20" [routerLink]="['/onboarding-p4']">
          Proceed to next step
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>

    </div>

    <!-- <p class="ob-powered-by">Powered by Centrim Life</p> -->
  </div>
</ion-content>
