<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" [routerLink]="['/menu']"></ion-icon>
          <ion-label>My profile</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="rel-details-card" [routerLink]="['/edit-profile',{flag:1}]">

    <!-- <ion-grid>
      
      <ion-row>

        <ion-col size="2" style="align-self: center;">
          
          <ion-avatar class="profile_avatar">
            <img [src]="img">
          </ion-avatar>

        </ion-col>

        <ion-col size="8" class="user_info">
          <ion-label>{{name}}</ion-label>
          <ion-label>{{email}}</ion-label>
        </ion-col>

        <ion-col style="align-self: center; display: flex; justify-content: center;">
          <ion-icon class="edit_profile_icon"></ion-icon>
        </ion-col>

      </ion-row>

    </ion-grid> -->

    <div class="rdc-info-box">

      <div class="rdc-avatar-name-box">
        <ion-avatar class="profile-avatar">
          <img [src]="img">
        </ion-avatar>

        <div class="rdc-anb-ne-box">

          <ion-label class="rdc-name">{{name}}</ion-label>
          <ion-label class="rdc-email">{{email}}</ion-label>

        </div>

      </div>

      <ion-icon class="edit-profile-icon"></ion-icon>

    </div>

  </ion-card>

  <ion-card class="notification_card">
    <ion-item lines="none" color="none" style="--min-height:auto;">
      <ion-label class="notification_head">Notification Settings</ion-label>
    </ion-item>

    <ion-item class="toggle_container" lines="none" color="none" style="--min-height:auto;">
      
      <ion-label class="notify-toggle-label" *ngIf="user_type!=4">
        Notify me for the selected
      </ion-label>
      <ion-label class="notify-toggle-label" *ngIf="user_type==4">
        Notify me the updates
      </ion-label>

      <ion-toggle slot="end" [checked]="notifyAll" (ionChange)="select($event)"></ion-toggle>

    </ion-item>

    <ion-label class="view-selected" *ngIf="my_comment==1||message==1||call==1" (click)="shownotificationsettings()">
      <ion-icon class="eye-icon" name="eye-outline"></ion-icon>
      View selected options
      <ion-icon class="down-arrow" name="chevron-down-outline"></ion-icon>
    </ion-label>

    <!-- <ion-card-content style="padding-left: 15px; padding-right: 15px; display: inherit;" *ngIf="user_type!=4">
      <app-notificationcard expandHeight="700px" [expanded]="expanded">
     


      <ion-grid class="notify_options" >

       
  
        
  
        <ion-row>
  
          <ion-col size="2">
            <ion-checkbox [(ngModel)]="my_comment" [checked]="my_comment==1" (ionChange)="commentStatus($event)"></ion-checkbox>
          </ion-col>
  
          <ion-col  size="10">
            <ion-label class="not_label">New comment </ion-label>
          </ion-col>
  
        </ion-row>
  
        <ion-row>
  
          <ion-col size="2">
            <ion-checkbox [(ngModel)]="message" [checked]="message==1" (ionChange)="messageStatus($event)"></ion-checkbox>
          </ion-col>
  
          <ion-col  size="10">
            <ion-label class="not_label">New message</ion-label>
          </ion-col>
        
        </ion-row>
  
        <ion-row>
  
          <ion-col size="2">
            <ion-checkbox [(ngModel)]="call" [checked]="call==1" (ionChange)="callStatus($event)"></ion-checkbox>
          </ion-col>
  
          <ion-col  size="10">
            <ion-label class="not_label">Video call</ion-label>
          </ion-col>
  
        </ion-row>

       
  
  
      </ion-grid>

      </app-notificationcard>
    </ion-card-content> -->


  </ion-card>

  <ion-card class="settings_card">

    <ion-item style="padding: 0px 20px;" lines="none" color="none" (click)="reset()">
      <ion-icon class="reset_pswd_icon"></ion-icon>
      <ion-label style="color:#1c1c1c">Reset password</ion-label>
      <ion-icon class="chevron_forward_icon"></ion-icon>
    </ion-item>

    <ion-item style="padding: 0px 20px; --min-height: auto !important;" lines="none" color="none">
      <hr class="settings_sep">
    </ion-item>

    <ion-item style="padding: 0px 20px;" lines="none" color="none" (click)="logOut()">
      <ion-icon class="logout_icon"></ion-icon>
      <ion-label style="color:#1c1c1c">Logout</ion-label>
      <ion-icon class="chevron_forward_icon"></ion-icon>
    </ion-item>
  </ion-card>




</ion-content>


<ion-footer lines="none" color="none">
  <div class="tc-pp-sec">

    <ion-label><a (click)="openTerms()">Terms and conditions</a></ion-label>
    <span class="separator">|</span>
    <ion-label><a (click)="openTerms()">Privacy policy</a></ion-label>

  </div>
</ion-footer>