ion-content {
    --padding-start: 12px;
    --padding-end: 12px;
    --background: #eee;
}

ion-card {
    margin-top: 25px;
}

ion-col.ios.hydrated {
    max-width: fit-content;
}

.not_label {
    white-space: pre-line !important;
    color: #fff;
}

.profile_avatar {
    width: 40px;
    height: 40px;
}
.settings_card {
    ion-item {
        padding: 0px 0px !important;
        --padding-start: 0 !important;
        --padding-end: 0 !important;
        --inner-padding-end: 0 !important;
    }
}

.notification_head {
    margin: 0;
}

.tc-pp-sec {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;

    .separator {
        font-size: 14px;
        color: #696969;
        margin: 0px 10px;
    }

    ion-label {
        a {
            font-size: 12px;
            color: #696969;
        }
    }
}

.notification_card {
    margin-left: 12px !important;
    margin-right: 12px !important;

    ion-item {
        --min-height: auto;

        .notification_head {
            margin: 0px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 18px !important;
        }
    }

    ion-card-content {
        display: inherit;
    }

    .toggle_container {
        width: 100%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        --padding-start: 0;
        --inner-padding-end: 0;

        .notify-toggle-label {
            color: #fff;
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            white-space: pre-line;
        }

        ion-toggle {
            --handle-width: 18px;
            --handle-height: 18px;
            --handle-spacing: 3px;
            --background: #00496f;
            --handle-background-checked: #fff;
            --background-checked: #77b1d0;
            --ion-color-base: #7ab6d6 !important;
            width: 48px;
            height: 25px;
            padding: 0 0 0 0;
        }
    }

    .view-selected {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #8ac2e1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #7ab5d5;

        .eye-icon {
            font-size: 22px;
            vertical-align: middle;
            margin-right: 10px;
        }

        .down-arrow {
            font-size: 22px;
            vertical-align: middle;
            margin-left: 5px;
        }

        .forward-arrow {
            font-size: 22px;
            vertical-align: middle;
            margin-left: 10px;
        }
    }

    ion-card-content {
        display: none;
    }
}

.rel-details-card {
    border: 1px solid #dcdcdc;
    box-shadow: none !important;
    padding: 15px;

    .rdc-info-box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .rdc-avatar-name-box {
            display: flex;
            align-items: center;

            .profile-avatar {
                width: 50px;
                min-width: 50px;
                max-width: 50px;
                height: 50px;
            }

            .rdc-anb-ne-box {
                margin-left: 10px;
                display: flex;
                flex-direction: column;

                .rdc-name {
                    font-size: 17px;
                    font-weight: 600;
                    color: #252525;
                }

                .rdc-email {
                    // font-family: "Open Sans", sans-serif;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    color: #808080;
                    white-space: pre-wrap;
                    word-break: break-word;
                    margin-right: 10px;
                }
            }
        }

        .edit-profile-icon {
            background-image: url(/assets/edit_profile_icon.svg);
            background-repeat: no-repeat;
            width: 18px;
            height: 18px;
            margin-left: auto;
            padding-right: 4px;
        }
    }
}
