ion-card {
  margin-top: 25px;
}

ion-col.ios.hydrated {
  max-width: fit-content;
}

.not_label {
  white-space: pre-line !important;
  color: #fff;
}

.profile_avatar {
  width: 40px;
  height: 40px;
}

.settings_card ion-item {
  padding: 0px 0px !important;
  --padding-start: 0 !important;
  --padding-end: 0 !important;
  --inner-padding-end: 0 !important;
}
