ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.task-creation-form {
    .task-form-label {
        // font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #646464;
    }

    ion-radio-group {
        display: flex;
        align-items: center;

        ion-item {
            --padding-start: 0;
            --inner-padding-end: 0;
            --min-height: auto;
            margin: 0 15px;

            &:first-child {
                margin-left: 0;
            }

            ion-radio {
                margin-right: 10px;
                --border-width: 1px;
                --color-checked: #0077b5;
            }

            ion-label {
                color: #222;
                font-size: 16px;
            }
        }
    }

    .task-dt-box {
        position: relative;
        width: 100%;
        display: flex;

        ion-datetime {
            --padding-start: 15px;
            --padding-end: 15px;
            color: #222;
            background: #efefef;
            border: none;
            border-radius: 10px;
            height: 50px;
            display: flex;
            align-items: center;
            margin-top: 15px;
            width: 100%;
        }

        i {
            font-size: 25px;
            color: #707070;
            position: absolute;
            right: 15px;
            top: 30px;
            z-index: 9999;
        }
    }

    ion-input {
        --padding-start: 15px;
        --padding-end: 15px;
        color: #222;
        background: #f3f3f3;
        border-radius: 10px;
        height: 50px;
        margin-top: 15px;
    }

    ion-textarea {
        color: #222;
        background: #f3f3f3;
        border-radius: 10px;
        min-height: 150px;
        margin-top: 15px;
        --padding-start: 15px;
        --padding-end: 15px;
    }

    ion-select {
        --padding-start: 15px;
        --padding-end: 15px;
        color: #222;
        background: #efefef !important;
        border-radius: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    .task-select-resident-btn {
        display: flex;
        max-width: fit-content;
        --background: transparent;
        --box-shadow: none;
        --padding-start: 0;
        color: #0077b5;
        text-transform: none;
        font-size: 16px;
        margin-top: 10px;

        ion-icon {
            font-size: 22px;
            margin-right: 10px;
        }
    }

    .task-sres-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        .tsres-box {
            max-width: 70%;

            ion-label {
                font-size: 16px;
                font-weight: 500;
                color: #222;
            }

            .tsres-mc {
                background: #d7e3f9;
                color: #4e70b1;
                min-width: 32px;
                min-height: 25px;
                font-size: 14px;
                border-radius: 50px;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: fit-content;
            }
        }

        .tsres-controls-box {
            width: 12%;
            display: flex;
            align-items: center;

            .tsres-cb-edit-btn {
                --background: rgb(204 237 255);
                --border-radius: 50px;
                --box-shadow: none;
                --padding-start: 0;
                --padding-end: 0;
                color: #0077b5;
                min-width: 42px;
                max-width: 42px;
                height: 42px;
                font-size: 22px;
            }

            .tsres-cb-remove-btn {
                --background: rgb(204 237 255);
                --border-radius: 50px;
                --box-shadow: none;
                --padding-start: 0;
                --padding-end: 0;
                color: #0077b5;
                width: 42px;
                height: 42px;
                font-size: 22px;
            }
        }
    }
}

ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;

        .task-save-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #0077b5;
            color: #fff;
            text-transform: none;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }

        .task-cancel-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #8b8b8b;
            color: #fff;
            text-transform: none;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .task-creation-form {
        ion-col {
            padding: 10px;
        }
    }
}
