<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()">
          </ion-icon>
          <ion-label>Maintenance</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end">
          <!-- <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button> -->
          <ion-button class="filter-task-btn" (click)="filter()">
            <ion-icon name="funnel-outline"></ion-icon>
          </ion-button>
          <!-- <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button> -->
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12">

          <ion-searchbar class="hdr-task-searchbar" (ionCancel)="cancel()" [(ngModel)]="terms"
          (ionChange)="search()"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let item of maintenance">
  <div class="ro-select-date-sec">

    <div class="ro-date-sec">

      <!-- <ion-icon name="chevron-back-outline"></ion-icon> -->

      <ion-label>{{item.date|dateformat:'DD MMM YYYY'}}</ion-label>

      <!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->

    </div>

    <!-- <ion-button class="ro-month-select-sec-btn">

      <i class="las la-calendar"></i>

    </ion-button> -->

  </div>

  <ion-row>

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngFor="let request of item.maintenance">

      <ion-card class="st-item-card">

        <ion-card-header class="s-stype st-maintenance">

          <ion-label>
            <i class="las la-tools"></i>
            Maintenance
          </ion-label>

          <ion-label class="job-id">#{{request.reference_id}}</ion-label>

        </ion-card-header>

        <ion-card-content>

          <div class="mc-box">

            <ion-label>
              {{request.request_title}}
            </ion-label>

          </div>

          <div class="st-card-inner-row">

            <div class="st-status-sec">

              <ion-label class="st-ir-label">Status</ion-label>

              <div class="stss-box">

                <ion-label class="open" *ngIf="request.status==0">Open</ion-label>
                <ion-label class="ip" *ngIf="request.status==1">In progress</ion-label>
                <ion-label class="tp" *ngIf="request.status==2">With third party</ion-label>
                <ion-label class="closed" *ngIf="request.status==3">Closed</ion-label>

              </div>

            </div>

            <div class="st-priority-sec">

              <ion-label class="st-ir-label">Priority</ion-label>

              <div class="stps-box">

                <ion-label class="low" *ngIf="request.priority==0">Low</ion-label>
                <ion-label class="medium" *ngIf="request.priority==1">Medium</ion-label>
                <ion-label class="urgent" *ngIf="request.priority==2">Urgent</ion-label>

              </div>

            </div>

          </div>



          <div class="st-card-inner-row" *ngIf="request.status==3&&request.closed_date">

            <div class="st-assigned-sec">

              <ion-label class="st-ir-label">Closed on</ion-label>

              

              <div>
                <ion-label>{{request.closed_date|dateformat:'DD MMM, YYYY'}}</ion-label>
              </div>

            </div>

          </div>

          <div class="st-card-inner-row">

            <div class="st-assigned-sec">

              <ion-label class="st-ir-label" *ngIf="request.assignee&&request.assignee.length">Assigned</ion-label>

              <div class="st-assignees-box" *ngIf="request.assignee&&request.assignee.length" (click)="assigned(request.assignee)">

                <ion-avatar>
                  <img [src]="request.assignee[0].technician.profile_pic">
                </ion-avatar>

                <ion-avatar *ngIf="request.assignee.length>1">
                  <img [src]="request.assignee[1].technician.profile_pic">
                </ion-avatar>

                <div class="more-assignees" *ngIf="request.assignee.length>2">
                  <ion-label>+{{request.assignee.length-2}}</ion-label>
                </div>

              </div>

              <div *ngIf="!request.assignee||!request.assignee.length">
                <ion-label>No assignees for this job</ion-label>
              </div>

            </div>

          </div>

        </ion-card-content>


      </ion-card>

    </ion-col>

 

  </ion-row>




</ng-container>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="maintenance.length">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

<div *ngIf="maintenance.length==0">
  <ion-thumbnail
    style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
    <img src="assets/no-data-icon.svg">
  </ion-thumbnail>

  <ion-item lines="none" color="none" style="margin-top: 25px;">
    <ion-label
      style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
      No Data Found</ion-label>
  </ion-item>
</div>

</ion-content>