ion-content {
    --padding-start: 12px;
    --padding-end: 12px;
    --padding-top: 12px;
    --padding-bottom: 12px;

    ion-grid {
        padding: 0px;
    }


    .din-rr-box {
        ion-label {
            color: #222;
            font-size: 18px;
        }

        ion-textarea {
            background: #f3f3f3;
            border: none;
            border-radius: 10px;
            color: #1c1c1c !important;
            --padding-start: 15px;
            --padding-end: 15px;
            margin-top: 15px;
            min-height: 150px;
        }


        .din-rreason-box {
            display: flex;
            flex-wrap: wrap;
            margin-top: 15px;

            ion-chip {
                background: #EEF9FF;
                color: #0077B5;
                font-size: 16px;
                padding: 10px 20px;
                height: 40px;
                border-radius: 50px;
            }

            .chip-selected {
                background: #0077B5 !important;
                color: #fff !important;
            }
        }

    }
}

ion-footer {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;

    &::before {
        background: none;
    }

    .continue-btn {
        --background: #0077B5;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 30px;
        --padding-end: 30px;
        text-align: center;
        text-transform: none;
        font-weight: normal;
        font-size: 18px;
        height: 45px;
        display: flex;
        max-width: fit-content;
    }

    .cancel-btn {
        --background: #E6E4E4;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 30px;
        --padding-end: 30px;
        color: #808080;
        text-align: center;
        text-transform: none;
        font-weight: normal;
        font-size: 18px;
        height: 45px;
        margin-left: 20px;
        display: flex;
        max-width: fit-content;
    }
}