<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" ></ion-icon>
          <ion-label>Refused reason</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class="din-rr-box">

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15">

        <ion-label>Reason <span class="asterisk">*</span></ion-label>
 
         <div class="din-rreason-box">
           <ion-chip>Not specified</ion-chip>
           <ion-chip>Not hungry</ion-chip>
           <ion-chip>Wrong order</ion-chip>
           <ion-chip>Does not like the look</ion-chip>
           <ion-chip>Too unwell to eat</ion-chip>
           <ion-chip class="chip-selected">Other</ion-chip>
         </div>
 
       </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15">

        <ion-label>Enter reason <span class="asterisk">*</span></ion-label>
        
        <ion-textarea rows="5"></ion-textarea>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>


<ion-footer>

  <ion-button class="continue-btn">Continue</ion-button>

  <ion-button class="cancel-btn">Cancel</ion-button>

</ion-footer>