<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="10">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <!-- <ion-label>Dietary Preference</ion-label> -->
          <ion-label *ngIf="name">{{name}}</ion-label>
        </ion-col>

        <!-- <ion-col class="col-fit ion-align-self-start page-name" size="10">
          <ion-button class="hdr-btn" (click)="markLeave()">
            <ion-icon name="checkmark-done-outline"></ion-icon>
          </ion-button>
        </ion-col> -->

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec" *ngIf="details">

    <ion-segment [(ngModel)]="selectedList" class="fts-segment" mode="md">

      <ion-segment-button class="seg-basic-preference" value="1" (click)="changeView(1)">

        <ion-label>Basic preference</ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-meal-preference" value="2" (click)="changeView(1)">

        <ion-label>Meal preference</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-fab>

  <div class="din-last-updated-sec" *ngIf="details&&!hide&&details.editor">

    <ion-label>
      Last updated by {{details.editor.name}}
      on {{last_updated_at}}
    </ion-label>

    <ion-icon name="close-circle-sharp" (click)="hideBanner()"></ion-icon>

  </div>

  <div class="din-leave-list-box" *ngIf="leaveList&&leaveList.length">

    <div class="din-llb-title" (click)="expand=!expand">
      <ion-label>Leave list</ion-label>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>

    <ng-container *ngIf="expand">
    <div class="din-llb-item" *ngFor="let item of leaveList">

      <i class="las la-calendar"></i>

      <ion-label>{{item.start|dateformat:'DD MMM YYYY'}}</ion-label>

      <i class="las la-trash-alt din-llb-item-remove-icon" (click)="presentAlertConfirm(item)"></i>

    </div>
  </ng-container>
    <!-- <div class="din-llb-item">

      <i class="las la-calendar"></i>

      <ion-label>01 Nov 2021 - 05 Nov 2021</ion-label>

      <i class="las la-trash-alt din-llb-item-remove-icon"></i>

    </div> -->

    <!-- <div class="din-llb-item">

      <i class="las la-calendar"></i>

      <ion-label>01 Nov 2021 - 05 Nov 2021</ion-label>

      <i class="las la-trash-alt din-llb-item-remove-icon"></i>

    </div>

    <div class="din-llb-item">

      <i class="las la-calendar"></i>

      <ion-label>01 Nov 2021 - 05 Nov 2021</ion-label>

      <i class="las la-trash-alt din-llb-item-remove-icon"></i>

    </div> -->


  </div>

  <!------------------------- Basic preference starts here ---------------------->
  <div *ngIf="selectedList=='1'&&details">
    <div class="din-dietary-pref-item" *ngIf="details&&details.package_detail">

      <ion-label >
        Package
        <span>{{details.package_detail.planname}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="selected_diets">

      <ion-label>
        Type of diet
        <span class="din-diet-diabetic">{{selected_diets}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.meal_size">

      <ion-label>
        Meal size
        <span class="din-meal-size-msm">{{details.meal_size.meal_size}} sized meal</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.food_texture">

      <ion-label>
        Food Texture
        <span [class.din-ft-regular]="details.food_texture.id==1"
        [class.din-ft-soft-bite]="details.food_texture.id==2"
        [class.din-ft-m-and-m]="details.food_texture.id==3"
        [class.din-ft-pureed]="details.food_texture.id==4"
        [class.din-ft-liquid]="details.food_texture.id==5"
        [class.din-ft-easy-chew]="details.food_texture.id==12">{{details.food_texture.food_texture}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.fluid_texture">

      <ion-label>
        Fluid Consistency
        <span [class.din-fc-m-t]="details.fluid_texture.id==10"
        [class.din-fc-xtreme-thick]="details.fluid_texture.id==6"
        [class.din-fc-moderate-thick]="details.fluid_texture.id==7"
        [class.din-fc-slight-thick]="details.fluid_texture.id==9"
        [class.din-fc-mild-thick]="details.fluid_texture.id==8">{{details.fluid_texture.food_texture}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.allergies">

      <ion-label>
        Allergies
        <span>{{details.allergies}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.diet_restriction">

      <ion-label>
        Diet restrictions
        <span>{{details.diet_restriction.name}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.intolerances">

      <ion-label>
        Intolerence
        <span>{{details.intolerances}}
        </span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.diabetes">

      <ion-label>
        Diabetes
        <span>{{details.diabetes.name}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.likes">

      <ion-label>
        Likes
        <span>{{details.likes}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.dislikes">

      <ion-label>
        Dislikes
        <span>{{details.dislikes}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.preferences">

      <ion-label>
        Preferences
        <span>{{details.preferences}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.readiness_assistance">

      <ion-label>
        Assistance for readiness to eat/drink
        <span>{{details.readiness_assistance}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.eating_assistance">

      <ion-label>
        Assistance with food
        <span>{{details.eating_assistance}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.fluid_assistance">

      <ion-label>
        Assistance with fluids
        <span>{{details.fluid_assistance}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.eating_aids">

      <ion-label>
        Eating Aids required
        <span>{{details.eating_aids}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.fluid_watch">

      <ion-label>
        Fluid Watch
        <span *ngIf="details&&details.fluid_watch=='Yes'">Fluid target: {{details.fluid_watch_target}} ml</span>
        <span *ngIf="details&&details.fluid_watch=='No'">No</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.fluid_cap">

      <ion-label>
        Fluid cap
        <span *ngIf="details&&details.fluid_cap=='Yes'">Fluid cap: {{details.fluid_cap_target}} ml</span>
        <span *ngIf="details&&details.fluid_cap=='No'">No</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.water_jug">

      <ion-label>
        Water jug
        <span>{{details.water_jug}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.nutrition_watch">

      <ion-label>
        Nutrition watch
        <span>{{details.nutrition_watch}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.bmi">

      <ion-label>
        BMI
        <span>{{details.bmi}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.special_requests">

      <ion-label>
        Special requests
        <span>{{details.special_requests}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.other_info">

      <ion-label>
        Other info
        <span>{{details.other_info}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.swallowing_diff">

      <ion-label>
        Swallowing difficulties
        <span>{{details.swallowing_diff}}</span>
      </ion-label>

    </div>

    <div class="din-dietary-pref-item" *ngIf="details&&details.alcohol_allowed">

      <ion-label>
        Alcohol allowed
        <span>{{details.alcohol_allowed}}</span>
      </ion-label>

    </div>

  </div>

  <!------------------------- Basic preference ends here ---------------------->

  <!------------------------ Meal preference starts here --------------------->
  <div *ngIf="selectedList=='2'&&details">
    <div class="din-serving-area-sec"
      *ngIf="details&&details.consumer_serve_areas&&details.consumer_serve_areas.length">

      <ion-label class="din-serve-area-title">
        Serving area
      </ion-label>


      <ion-label class="din-serve-area" *ngFor="let item of details.consumer_serve_areas">
        {{item.serving_time.servingtime}}
        <span *ngIf="item.serve_area!=0">{{item.serving_area.serving_area}}</span>
        <span *ngIf="item.serve_area==0">In room</span>
      </ion-label>

      <!-- <ion-label class="din-serve-area">
      Morning tea
      <span>Dining area</span>
    </ion-label>

    <ion-label class="din-serve-area">
      Lunch
      <span>Dining area</span>
    </ion-label>

    <ion-label class="din-serve-area">
      Afternoon tea
      <span>Dining area</span>
    </ion-label>

    <ion-label class="din-serve-area">
      Dining
      <span>Dining area</span>
    </ion-label>

    <ion-label class="din-serve-area">
      Supper
      <span>Dining area</span>
    </ion-label> -->

      <div class="din-ts-box">

        <div class="din-table-number" *ngIf="details&&details.table_detail">

          <ion-label>
            Table no.
            <span>{{details.table_detail.name}}</span>
          </ion-label>

        </div>

        <div class="din-seat-number" *ngIf="details&&details.seat_detail">

          <ion-label>
            Seat no.
            <span>{{details.seat_detail.name}}</span>
          </ion-label>

        </div>

      </div>

    </div>

    <div class="din-supplements-sec" *ngIf="details&&details.suppliments&&details.suppliments.length">

      <ion-label class="din-supplements-title">
        Suppliments
      </ion-label>

      <ion-label class="din-supplements" *ngFor="let item of details.suppliments">
        {{item.serving_time.servingtime}}
        <span>{{item.suppliment.item_name}}<span *ngIf="item.quantity"> {{item.quantity}} ml</span></span>
      </ion-label>

      <!-- <ion-label class="din-supplements">
      Morning tea
      <span>Food suppliement 180 ml</span>
    </ion-label>

    <ion-label class="din-supplements">
      Lunch
      <span>Food suppliement 80 ml</span>
    </ion-label>

    <ion-label class="din-supplements">
      Afternoon tea
      <span>Food suppliement 80 ml</span>
    </ion-label>

    <ion-label class="din-supplements">
      Dining
      <span>Food suppliement 100 ml</span>
    </ion-label>

    <ion-label class="din-supplements">
      Supper
      <span>Food suppliement 80 ml</span>
    </ion-label> -->

    </div>

    <!-- <div class="din-dietary-pref-item">

    <ion-label>
      Cereals
      <span>Porridge</span>
    </ion-label>

  </div>

  <div class="din-dietary-pref-item">

    <ion-label>
      Milk preference
      <span>Normal milk</span>
    </ion-label>

  </div>

  <div class="din-dietary-pref-item">

    <ion-label>
      Fruit preference
      <span>Like prunes</span>
    </ion-label>

  </div>

  <div class="din-dietary-pref-item">

    <ion-label>
      Bread preference
      <span>Bread</span>
    </ion-label>

  </div> -->


    <div class="din-dietary-pref-item-1" *ngFor="let meal of meal_preference">

      <ion-label>{{meal.servingtime}} preference </ion-label>
      <p class="no-pref-set" *ngIf="!meal.consumer_preference||meal.consumer_preference.length==0">No preferences have
        been set for this time</p>
      <ion-row *ngIf="meal.consumer_preference||meal.consumer_preference.length">

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of meal.consumer_preference">

          <div class="fi-box">

            <ion-card class="fi-card">

              <div class="fi-img-block">

                <img class="fi-img" [src]="item.item.image">

              </div>

              <div class="fi-info-block">

                <ion-label class="fi-name">{{item.item.item_name}}</ion-label>

                <div class="fi-more-options">

                  <div class="fim-div-1">

                    <div class="fi-meal-size" *ngIf="item.meal_size">
                      <ion-label *ngIf="item.meal_size.id==1">S</ion-label>
                      <ion-label *ngIf="item.meal_size.id==2">M</ion-label>
                      <ion-label *ngIf="item.meal_size.id==3">L</ion-label>
                      <ion-label *ngIf="item.meal_size.id==4">N</ion-label>
                    </div>

                    <div class="fi-quantity" *ngIf="item.quantity">
                      <ion-label>{{item.quantity}}</ion-label>
                    </div>

                    <div class="din-food-options" *ngIf="item.options&&item.options.length"
                      (click)="showOptions(item.options,$event)">
                      <i class="las la-clipboard-list"></i>
                    </div>

                    <div class="din-food-options" *ngIf="item.comment"
                      (click)="showComment(item.comment,$event)">
                      <i class="las la-comment"></i>
                    </div>

                  </div>

                </div>

              </div>

            </ion-card>

          </div>

        </ion-col>

        <!-- <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <div class="fi-box">

          <ion-card class="fi-card">

            <div class="fi-img-block">

              <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/tea.png">

            </div>

            <div class="fi-info-block">

              <ion-label class="fi-name">Tea</ion-label>

              <div class="fi-more-options">

                <div class="fim-div-1">

                  <div class="fi-meal-size">
                    <ion-label>M</ion-label>
                  </div>

                  <div class="fi-quantity">
                    <ion-label>1</ion-label>
                  </div>

                  <div class="din-food-options">
                    <i class="las la-clipboard-list"></i>
                  </div>

                </div>

              </div>

            </div>

          </ion-card>

        </div>

      </ion-col> -->

      </ion-row>

    </div>

    <!-- <div class="din-dietary-pref-item">

    <ion-label>
      <ion-label>Morning tea preference</ion-label>
      <p class="no-pref-set">No preferences have been set for this time</p>
    </ion-label>

  </div>

  <div class="din-dietary-pref-item-1">

    <ion-label>Lunch preference</ion-label>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <div class="fi-box">

          <ion-card class="fi-card">

            <div class="fi-img-block">

              <img class="fi-img"
                src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/curried-sausage.png">

            </div>

            <div class="fi-info-block">

              <ion-label class="fi-name">Curried sausages</ion-label>

              <div class="fi-more-options">

                <div class="fim-div-1">

                  <div class="fi-meal-size">
                    <ion-label>M</ion-label>
                  </div>

                  <div class="fi-quantity">
                    <ion-label>1</ion-label>
                  </div>

                  <div class="din-food-options">
                    <i class="las la-clipboard-list"></i>
                  </div>

                </div>

              </div>

            </div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <div class="fi-box">

          <ion-card class="fi-card">

            <div class="fi-img-block">

              <img class="fi-img"
                src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/starchy-vegetable.png">

            </div>

            <div class="fi-info-block">

              <ion-label class="fi-name">Starchy vegetable</ion-label>

              <div class="fi-more-options">

                <div class="fim-div-1">

                  <div class="fi-meal-size">
                    <ion-label>M</ion-label>
                  </div>

                  <div class="fi-quantity">
                    <ion-label>1</ion-label>
                  </div>

                  <div class="din-food-options">
                    <i class="las la-clipboard-list"></i>
                  </div>

                </div>

              </div>

            </div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <div class="fi-box">

          <ion-card class="fi-card">

            <div class="fi-img-block">

              <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/fruit-pie.png">

            </div>

            <div class="fi-info-block">

              <ion-label class="fi-name">Fruit pie</ion-label>

              <div class="fi-more-options">

                <div class="fim-div-1">

                  <div class="fi-meal-size">
                    <ion-label>M</ion-label>
                  </div>

                  <div class="fi-quantity">
                    <ion-label>1</ion-label>
                  </div>

                  <div class="din-food-options">
                    <i class="las la-clipboard-list"></i>
                  </div>

                </div>

              </div>

            </div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <div class="fi-box">

          <ion-card class="fi-card">

            <div class="fi-img-block">

              <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/fruit-pie.png">

            </div>

            <div class="fi-info-block">

              <ion-label class="fi-name">Fruit pie</ion-label>

              <div class="fi-more-options">

                <div class="fim-div-1">

                  <div class="fi-meal-size">
                    <ion-label>M</ion-label>
                  </div>

                  <div class="fi-quantity">
                    <ion-label>1</ion-label>
                  </div>

                  <div class="din-food-options">
                    <i class="las la-clipboard-list"></i>
                  </div>

                </div>

              </div>

            </div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <div class="fi-box">

          <ion-card class="fi-card">

            <div class="fi-img-block">

              <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/fruit-pie.png">

            </div>

            <div class="fi-info-block">

              <ion-label class="fi-name">Fruit pie</ion-label>

              <div class="fi-more-options">

                <div class="fim-div-1">

                  <div class="fi-meal-size">
                    <ion-label>M</ion-label>
                  </div>

                  <div class="fi-quantity">
                    <ion-label>1</ion-label>
                  </div>

                  <div class="din-food-options">
                    <i class="las la-clipboard-list"></i>
                  </div>

                </div>

              </div>

            </div>

          </ion-card>

        </div>

      </ion-col>

    </ion-row>

  </div>

  <div class="din-dietary-pref-item">

    <ion-label>

      <ion-label>Dinner preference</ion-label>

      <p class="no-pref-set">No preferences have been set for this time</p>

    </ion-label>

  </div>

  <div class="din-dietary-pref-item">

    <ion-label>
      <ion-label>Supper preference</ion-label>
      <p class="no-pref-set">No preferences have been set for this time</p>
    </ion-label>

  </div> -->
  </div>
  <!------------------------- Meal preference ends here ---------------------->

  <div *ngIf="!details" class="dda-sec">
    <ion-label class="din-dprofile-alert">
      Dietary profile not set for this resident
    </ion-label>
  </div>

</ion-content>


<!-- <ion-content *ngIf="!details">
  <ion-label class="din-dprofile-alert">
    Dietary profile not set for this resident 
  </ion-label>
</ion-content> -->