.ion-header-inner {
    background: #0077b5 !important;

    .hdr-btn {
        --background: #c7eafb;
        --border-radius: 50px;
        --padding-start: 8px;
        --padding-end: 8px;
        --box-shadow: none;
        color: #0077b5;
        width: 40px;
        height: 40px;
    }
}

ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 65px;
    --padding-bottom: 15px;
    --background: #eee;
}

.fixed-top-sec {
    padding: 10px 10px 0;

    .fts-segment {
        font-family: "Roboto", sans-serif;

        .seg-basic-preference {
            min-width: 125px;
            max-width: fit-content;
            --color-checked: #0077b5;
            --color: #1c1c1c;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;
                // color:#1c1c1c
            }
        }

        .seg-meal-preference {
            min-width: 150px;
            max-width: fit-content;
            --color-checked: #0077b5;
            --color: #1c1c1c;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;
            margin-left: 20px;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

.din-last-updated-sec {
    background: #e2f5ff;
    color: #0478b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cbe0eb;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin-top: 10px;

    ion-label {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 22px;
    }

    ion-icon {
        // font-size: 42px;
        font-size: 30px;
    }
}

.din-leave-list-box {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px 0px;

    .din-llb-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        ion-label {
            font-size: 16px;
            font-weight: 500;
            color: #5a5a5a;
        }

        ion-icon {
            font-size: 20px;
            color: #707070;
            vertical-align: middle;
        }
    }

    .din-llb-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #c8c6c6;

        &:first-child {
            margin-top: 10px;
        }

        &:last-child {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border: none;
        }

        ion-label {
            font-size: 16px;
            color: #707070;
            vertical-align: middle;
            margin-left: 10px;
        }

        i {
            font-size: 25px;
            color: #8f8f8f;
            vertical-align: middle;
        }

        .din-llb-item-remove-icon {
            color: #ff1635;
            margin-left: auto;
        }
    }

    .mark-leave-btn {
        --border-radius: 50px;
        --box-shadow: none;
        --background: #0077b4;
        text-transform: none;
        font-size: 16px;
        font-weight: normal;
        max-width: fit-content;
        margin: 10px auto 0px;
    }
}

.din-dietary-pref-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #e5e5e5;
    padding: 15px;
    margin: 10px 0px;

    ion-label {
        color: #6c6c6c;
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        display: flex;
        flex-direction: column;

        .bold-txt {
            color: #7e7e7e;
            font-weight: 600;
        }

        span {
            color: #252525;
            // font-family: "Poppins", sans-serif !important;
            font-family: "Roboto", sans-serif !important;
            font-size: 17px;
            font-weight: 500;
        }

        .thin-dark-txt {
            color: #444242;
        }

        .din-diet-diabetic {
            color: #0fbbf3;
        }

        .din-meal-size-msm {
            color: #757fff;
        }

        .din-ft-regular {
            color: #000;
        }

        .din-ft-easy-chew {
            color: #000;
        }

        .din-ft-soft-bite {
            color: #0067b2;
        }

        .din-ft-m-and-m {
            color: #ff6600;
        }

        .din-ft-pureed {
            color: #75b643;
        }

        .din-ft-liquid {
            color: #faeb59;
        }

        .din-fc-xtreme-thick {
            color: #75b643;
        }

        .din-fc-moderate-thick {
            color: #faeb59;
        }

        .din-fc-mild-thick {
            color: #ea4e96;
        }

        .din-fc-slight-thick {
            color: #666;
        }

        .din-fc-thin {
            background: #fff;
            border: 1px solid #949494;
            color: #000;
        }

        .din-fc-m-t {
            color: #f3ca15;
        }
    }

    .no-pref-set {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        margin: 10px 0px 0px;
        background: #b7f4f9;
        border-radius: 10px;
        font-size: 15px;
    }
}

.din-serving-area-sec {
    background: #fff;
    box-shadow: none;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 15px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;

    .din-serve-area-title {
        font-size: 16px;
        font-weight: 500;
        color: #707070;
        margin-bottom: 10px;
    }

    .din-serve-area {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        color: #6c6c6c;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #c8c6c6;

        span {
            color: #252525;
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            font-weight: 500;
        }
    }

    .din-ts-box {
        display: flex;

        .din-table-number {
            display: flex;
            flex-direction: column;
            background-color: #ebebeb;
            padding: 25px;
            border-radius: 10px;
            margin: 10px 10px 10px 0px;

            ion-label {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                color: #6c6c6c;
                line-height: 25px;
                display: flex;
                flex-direction: column;

                span {
                    color: #252525;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }

        .din-seat-number {
            display: flex;
            flex-direction: column;
            background-color: #ebebeb;
            padding: 25px;
            border-radius: 10px;
            margin: 10px;

            ion-label {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                color: #6c6c6c;
                line-height: 25px;
                display: flex;
                flex-direction: column;

                span {
                    color: #252525;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }
}

.din-supplements-sec {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .din-supplements-title {
        font-size: 16px;
        font-weight: 500;
        color: #707070;
        margin-bottom: 10px;
    }

    .din-supplements {
        font-size: 16px;
        color: #707070;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #c8c6c6;

        &:last-child {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border: none;
        }

        span {
            color: #d96400;
            font-size: 17px;
            font-weight: 500;
        }
    }
}

.fi-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-bottom: 0px;

    .fi-card {
        border-radius: 15px !important;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        min-height: 160px;
        width: 100%;
        box-shadow: none;
        border: 1px solid #e5e5e5;

        .fi-img-block {
            display: flex;
            width: 45%;

            .fi-img {
                width: 145px;
                height: 135px;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        .fi-info-block {
            width: 65%;
            padding-left: 15px;

            .fi-name {
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                color: #252525;
                line-height: 20px;
                margin-left: 0;
            }

            .fi-more-options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 25px;

                .fim-div-1 {
                    display: flex;

                    .fi-meal-size {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #d2fffb;
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;

                        ion-label {
                            font-family: "Roboto", sans-serif;
                            font-size: 15px;
                            color: #47aba2;
                            text-align: center;
                            margin: 0px;
                        }
                    }

                    .fi-quantity {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #f3def9;
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;

                        ion-label {
                            font-family: "Roboto", sans-serif;
                            font-size: 15px;
                            color: #601576;
                            text-align: center;
                            margin: 0px;
                        }
                    }

                    .din-food-options {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        margin-right: 10px;
                        background: #f1ecff;
                        width: 30px;
                        height: 30px;

                        i {
                            font-size: 20px;
                            text-align: center;
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }

    .allergic-fi {
        border: 1px solid #ff5b49;
        position: relative;

        .allergic-alert-icon {
            color: #ff0000;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}

.din-dietary-pref-item-1 {
    background-color: #f8f8f8;
    box-shadow: none;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 10px 0px;

    ion-label {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: normal;
        color: #6c6c6c;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        display: block;
    }
}

.din-dprofile-alert {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    align-items: center;
    border: 1px solid #ffe8c8;
    background: #fff7ec;
    color: #f39101;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 40px auto;
}

.no-pref-set {
    // color: #222;
    // margin-left: 10px;
    // margin-top: 0;
    // margin-bottom: 0;
    // font-family: "Poppins", sans-serif;
    // font-size: 16px;
    // font-weight: 500;

    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 10px 10px 0;
    color: #117f89;
    background: #e6fdff;
    border: 1px solid #caeef1;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.dda-sec {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}
