<!-- 

<ion-content *ngIf="details">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-card class="din-consumer-info-card" *ngIf="consumer">

          <ion-grid>

            <ion-row>

              <ion-col class="col-fit">

                <ion-icon class="back-icon" name="arrow-back-outline" (click)="back()"></ion-icon>

                <ion-avatar class="consumer-pic">

                  <img [src]="consumer.user.profile_pic">

                </ion-avatar>

              </ion-col>

              <ion-col class="col-fit">

                <ion-label class="c-name">

                  {{consumer.user.name}}

                  <p class="room-no">{{consumer.room}}, <span class="wing-name">{{wing}}</span></p>

                </ion-label>

              </ion-col>

              <ion-col class="col-fit" (click)="dietaryPreference()">
                <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>
              </ion-col>

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

                <div class="diet-info-box" *ngIf="details">

                  <span  *ngIf="diet_type.length>0"><span class="di-item diabetic" *ngFor="let item of diet_type" >{{item}} diet</span></span>

                  <span class="di-item regular" *ngIf="details&&details.food_texture">{{details.food_texture.food_texture}}</span>

                  <span class="di-item mildly-thick" *ngIf="details&&details.fluid_texture">{{details.fluid_texture.food_texture}}</span>

                  <span class="di-item msm" *ngIf="details&&details.meal_size">{{details.meal_size.meal_size}} sized meal</span>

                  <span class="di-item fluid-cap" *ngIf="details&&details.fluid_cap_target">FR : {{fluid_cap_target}} ml</span>

                  <span  *ngIf="allergies.length>0"><span  class="di-item food-ft" *ngFor="let item of allergies">
                  
                    {{item}}</span></span>

                

                </div>

               

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <div class="ind-order-header">

    <div class="date-range-box">

      <ion-icon name="chevron-back-outline"></ion-icon>

      <ion-label>{{date}}</ion-label>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </div>

    <ion-label class="din-skipped-tag-1">Skipped</ion-label>

    <div class="din-controls">

      <ion-button (click)="copy()">
        <img src="/assets/dining/copy-previous-icon.svg">
      </ion-button>

      <ion-button (click)="chooseDate()">
        <img src="/assets/dining/date-icon-custom.svg">
      </ion-button>

      <ion-button >
        <img src="/assets/dining/more-icon-custom.svg">
      </ion-button>

    </div>

  </div>

  

  <div *ngFor="let menu of menuItems">

  <div class="din-item-box">

    <ion-label class="din-item">{{menu.servingtime}}<span class="din-timing">({{menu.serving_date+' '+menu.start_time|dateformat:'hh:mm A'}}-{{menu.serving_date+' '+menu.end_time|dateformat:'hh:mm A'}})</span></ion-label>

    <ion-label class="din-skipped-tag">Skipped</ion-label>

    <ion-icon class="din-more-options" name="ellipsis-vertical-sharp" (click)="options($event,menu.serving_time_id,menu.servingtime)"></ion-icon>


  </div>

  <div *ngIf="cutoffTime(menu)">
    <ion-label  class="no-items" >Oh sorry! Ordering time has expired.</ion-label>
    </div>

  <div *ngIf="!cutoffTime(menu)">
  <ion-label  class="no-items" *ngIf="menu.coloumns.length==0">No items</ion-label>
  
  <div *ngFor="let item of menu.coloumns" >
  <div class="fi-box" *ngIf="item.item&&item.item.length==1">

    <ion-card class="fi-card" *ngFor="let i of item.item" [class.doNotShow]="!i.itemdetailsall">
      <img src="/assets/dining/alergic-alert-icon.svg" class="allergic-alert-icon" *ngIf="allergicIcon(i)" (click)="allergicAlert()">
      <div class="fi-img-block">

        <img class="fi-img" [src]="i.itemdetailsall.image" *ngIf="i.itemdetailsall">

      </div>

      <div class="fi-info-block" *ngIf="i.itemdetailsall">

        <ion-label class="fi-name">{{i.itemdetailsall.item_name}}</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size">
              <ion-label>{{setMealSize(i)}}</ion-label>
            </div>

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

          <div class="fim-div-2">

            <ion-button [routerLink]="['/din-continental-breakfast']">
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div>

      </div>

    </ion-card>
    </div>

    <div class="fi-selectable" *ngIf="item.item&&item.item.length>1">

      <div *ngFor="let i of item.item;let in=index">

      <ion-card class="fi-card allergic-fi"  [class.doNotShow]="!i.itemdetailsall">

        <img src="/assets/dining/alergic-alert-icon.svg" class="allergic-alert-icon" *ngIf="allergicIcon(i)" (click)="allergicAlert()">

        <div class="fi-img-block">

          <img class="fi-img" [src]="i.itemdetailsall.image" *ngIf="i.itemdetailsall">

        </div>

        <div class="fi-info-block" *ngIf="i.itemdetailsall">

          <ion-label class="fi-name">{{i.itemdetailsall.item_name}}</ion-label>

          <div class="fi-more-options">

            <div class="fim-div-1">

              <div class="fi-meal-size">
                <ion-label>{{setMealSize(i)}}</ion-label>
              </div>
              <div class="fi-quantity">
                <ion-label>1</ion-label>
              </div>

            </div>

            <div class="fim-div-2">

              <ion-button [routerLink]="['/dining-fi-details']">
                <i class="las la-pen"></i>
              </ion-button>

            </div>

          </div>

        </div>

      </ion-card>

      <ion-label class="fi-or-label" *ngIf="item.item&&item.item.length>1&&in<item.item.length-1">Or</ion-label>
    </div>
      

    </div>

  
  </div>
  </div>

</div>
 

</ion-content>


<ion-content *ngIf="!details">
  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-card class="din-consumer-info-card" *ngIf="consumer">

          <ion-grid>

            <ion-row>

              <ion-col class="col-fit">

                <ion-icon class="back-icon" name="arrow-back-outline" (click)="back()"></ion-icon>

                <ion-avatar class="consumer-pic">

                  <img [src]="consumer.user.profile_pic">

                </ion-avatar>

              </ion-col>

              <ion-col class="col-fit">

                <ion-label class="c-name">

                  {{consumer.user.name}}

                  <p class="room-no">{{consumer.room}}, <span class="wing-name">{{wing}}</span></p>

                </ion-label>

              </ion-col>

              <ion-col class="col-fit" (click)="dietaryPreference()">
                <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>
              </ion-col>

              

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-label>
    Please set the dietary profile for the resident before order can be placed
  </ion-label>
</ion-content>

<ion-footer *ngIf="details">

  <ion-button class="confirm-order-btn" (click)="confirm()">

    <ion-icon name="checkmark-outline"></ion-icon>
    
    <ion-label>
      Confirm Order for the day
    </ion-label>

  </ion-button>

</ion-footer> -->







<!-- <ion-header>

  <ion-toolbar>

    <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>

    

  </ion-toolbar>

</ion-header>
<ion-content *ngIf="details">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-card class="din-consumer-info-card" *ngIf="consumer">

          <ion-grid>

            <ion-row>

              <ion-col class="col-fit dflex-aic">

                <ion-icon class="back-icon" name="arrow-back-outline" (click)="back()"></ion-icon>

                <ion-avatar class="consumer-pic">

                  <img [src]="consumer.user.profile_pic">

                </ion-avatar>

              </ion-col>

              <ion-col class="col-fit">

                <ion-label class="c-name">

                  {{consumer.user.name}}

                  <p class="room-no">{{consumer.room}}, <span class="wing-name">{{wing}}</span></p>

                </ion-label>

              </ion-col>

              <ion-col class="hdr-dib">

                <div class="diet-info-box-1" *ngIf="details">

                  <span class="dflex flexwrap-wrap" *ngIf="diet_type.length>0"><span class="di-item diabetic"
                      *ngFor="let item of diet_type">{{item}} diet</span></span>

                  <span class="di-item regular"
                    *ngIf="details&&details.food_texture">{{details.food_texture.food_texture}}</span>

                  <span class="di-item mildly-thick"
                    *ngIf="details&&details.fluid_texture">{{details.fluid_texture.food_texture}}</span>

                  <span class="di-item msm" *ngIf="details&&details.meal_size">{{details.meal_size.meal_size}} sized
                    meal</span>

                  <span class="di-item fluid-cap" *ngIf="details&&details.fluid_cap_target">FR : {{fluid_cap_target}}
                    ml</span>

                  <span class="allergy-sec" *ngIf="allergies.length>0">

                    <span class="di-item food-ft" *ngFor="let item of allergies">
                     
                      <i class="al-other" [class.al-celery]="item=='Celery'"
                        [class.al-crustaceans]="item=='Crustaceans'" [class.al-glutten]="item=='Gluten'"
                        [class.al-lupin]="item=='Lupin'" [class.al-molluscs]="item=='Molluscs'"
                        [class.al-mustard]="item=='Mustard'" [class.al-peanut]="item=='Peanuts'"
                        [class.al-sesame]="item=='Sesame'" [class.al-soy]="item=='Soya'"
                        [class.al-sulphite]="item=='Sulphites'" [class.al-treenut]="item=='Treenuts'"
                        [class.al-wheat]="item=='Wheat'"></i>

                      {{item}}
                    </span>

                  </span>

                

                </div>

               

              </ion-col>

              <ion-col class="col-fit ml-auto" (click)="dietaryPreference()">
                <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>
              </ion-col>

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

                <div class="diet-info-box" *ngIf="details">

                  <span class="dflex flexwrap-wrap" *ngIf="diet_type.length>0"><span class="di-item diabetic"
                      *ngFor="let item of diet_type">{{item}} diet</span></span>

                  <span class="di-item regular"
                    *ngIf="details&&details.food_texture">{{details.food_texture.food_texture}}</span>

                  <span class="di-item mildly-thick"
                    *ngIf="details&&details.fluid_texture">{{details.fluid_texture.food_texture}}</span>

                  <span class="di-item msm" *ngIf="details&&details.meal_size">{{details.meal_size.meal_size}} sized
                    meal</span>

                  <span class="di-item fluid-cap" *ngIf="details&&details.fluid_cap_target">FR : {{fluid_cap_target}}
                    ml</span>

                  <span class="allergy-sec" *ngIf="allergies.length>0">

                    <span class="di-item food-ft" *ngFor="let item of allergies">
                    
                      <i class="al-other" [class.al-celery]="item=='Celery'"
                        [class.al-crustaceans]="item=='Crustaceans'" [class.al-glutten]="item=='Gluten'"
                        [class.al-lupin]="item=='Lupin'" [class.al-molluscs]="item=='Molluscs'"
                        [class.al-mustard]="item=='Mustard'" [class.al-peanut]="item=='Peanuts'"
                        [class.al-sesame]="item=='Sesame'" [class.al-soy]="item=='Soya'"
                        [class.al-sulphite]="item=='Sulphites'" [class.al-treenut]="item=='Treenuts'"
                        [class.al-wheat]="item=='Wheat'"></i>

                      {{item}}
                    </span>

                  </span>

                 

                </div>

               

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <div class="ind-order-header">

    <div class="date-range-box">

      <ion-icon name="chevron-back-outline" (click)="previous()"></ion-icon>

      <ion-label>{{date}}</ion-label>

      <ion-icon name="chevron-forward-outline" (click)="next()"></ion-icon>

      <ion-button (click)="chooseDate()">
        <img src="/assets/dining/date-icon-custom.svg">
      </ion-button>

    </div>

   

    <div class="din-controls">

     

      <ion-button (click)="markLeave($event)">
        <img src="/assets/dining/more-icon-custom.svg">
      </ion-button>

    </div>

  </div>

  

  <div *ngIf="!leaveMarked">

    <div class="fi-box" *ngFor="let menu of menuItems" >

      <div class="din-item-box">

        <ion-label class="din-item"  >{{menu.servingtime}}<span
            class="din-timing">({{menu.serving_date+' '+menu.start_time|dateformat:'hh:mm A'}}-{{menu.serving_date+' '+menu.end_time|dateformat:'hh:mm A'}})</span>
        </ion-label>
        
        <ion-label class="din-skipped-tag" *ngIf="skippedMeal(menu.serving_time_id)">Skipped</ion-label>

        <ion-icon class="din-more-options" name="ellipsis-vertical-sharp"
          (click)="options($event,menu.serving_time_id,menu.servingtime)" *ngIf="!cutoffTime(menu)&&!editOrder">
        </ion-icon>

      </div>

      <ion-label class="no-items"
        *ngIf="menu.coloumns.length==0&&!cutoffTime(menu)&&!skippedMeal(menu.serving_time_id)">No items</ion-label>
      
      <ion-label class="din-time-expired" *ngIf="cutoffTime(menu)&&!skippedMeal(menu.serving_time_id)">Oh sorry!
        Ordering time has expired</ion-label>
      <ion-label class="din-skipped" *ngIf="skippedMeal(menu.serving_time_id)">{{menu.servingtime}} skipped on this day
      </ion-label>

      <div class="din-fi-sec" *ngFor="let item of menu.coloumns"
        [class.doNotShow]="incompatable(item,menu.serving_time_id)||(item.item&&item.item.length>1)">

        <div class="din-fi" *ngIf="item.item&&item.item.length==1">

          <ion-card class="fi-card" *ngFor="let i of item.item" [class.doNotShow]="!i.itemdetailsall"
            (click)="preSavingItem(i,menu.serving_time_id,1,item,menu)" [class.selected]="selected.includes(i.id)"
            [class.notAvailable]="cutoffTime(menu)||skippedMeal(menu.serving_time_id)||!availableItem(i)" [class.allergic-fi-card]="allergicIcon(i)">
            <ion-icon class="selected-icon" name="checkmark-circle" *ngIf="selected.includes(i.id)"></ion-icon>
            
            <ion-icon class="allergic-alert-icon-1" name="alert-circle" *ngIf="allergicIcon(i)">
            </ion-icon>
            <div class="fi-img-block">

              <img class="continentalbreakfast-icon" src="/assets/dining/continentalbreakfast-icon.svg"
                *ngIf="i.subitem">

              <div class="order-restr-info" *ngIf="!availableItem(i)">
                <p>You can not order this item</p>
              </div>

              <img class="fi-img" [src]="i.itemdetailsall.image" *ngIf="i.itemdetailsall">

            </div>

            <div class="fi-info-block" *ngIf="i.itemdetailsall">

              <ion-label class="fi-name">{{i.itemdetailsall.item_name}}</ion-label>

              <div class="fi-more-options">

                <div class="fim-div-1">

                  <div class="fi-meal-size" *ngIf="setMealSize(i,menu.serving_time_id)">
                    <ion-label>{{setMealSize(i,menu.serving_time_id)}}</ion-label>
                  </div>

                  <div class="fi-quantity" *ngIf="setQuantity(i,menu.serving_time_id)">
                    <ion-label>{{setQuantity(i,menu.serving_time_id)}}</ion-label>
                  </div>

                 

                </div>

                <div class="fim-div-2" *ngIf="!editOrder&&!cutoffTime(menu)">

                  <ion-button
                    (click)="showItemdetails(i,menu.servingtime,menu.serving_time_id); $event.stopPropagation()"
                    style="z-index:999">
                    <i class="las la-pen"></i>
                  </ion-button>

                </div>

              </div>

            </div>

          </ion-card>

        </div>

      </div>

      <div class="din-fi-sec-optional" *ngFor="let item of menu.coloumns"
        [class.doNotShow]="item.item&&item.item.length<=1||incompatable(item,menu.serving_time_id)||(item.item&&item.item.length==1)">

        <div class="fi-box-optional">

          <div class="fi-selectable" *ngIf="item.item&&item.item.length>1">

            <div class="fi-selectable-box" *ngFor="let i of item.item;let in=index">

              <ion-card class="fi-card" [class.doNotShow]="!i.itemdetailsall"
                (click)="preSavingItem(i,menu.serving_time_id,2,item,menu)" [class.selected]="selected.includes(i.id)"
                [class.notAvailable]="cutoffTime(menu)||!availableItem(i)||skippedMeal(menu.serving_time_id)" [class.allergic-fi-card]="allergicIcon(i)">
                <ion-icon class="selected-icon" name="checkmark-circle" *ngIf="selected.includes(i.id)"></ion-icon>
              

                <ion-icon class="allergic-alert-icon-1" name="alert-circle" *ngIf="allergicIcon(i)"></ion-icon>

                <div class="fi-img-block">

                

                  <div class="order-restr-info" *ngIf="!availableItem(i)">
                    <p>You can not order this item</p>
                  </div>

                  <img class="fi-img" [src]="i.itemdetailsall.image" *ngIf="i.itemdetailsall">

                </div>

                <div class="fi-info-block" *ngIf="i.itemdetailsall">

                  <ion-label class="fi-name">{{i.itemdetailsall.item_name}}</ion-label>

                  <div class="fi-more-options">

                    <div class="fim-div-1">

                      <div class="fi-meal-size" *ngIf="setMealSize(i,menu.serving_time_id)">
                        <ion-label>{{setMealSize(i,menu.serving_time_id)}}</ion-label>
                      </div>
                      <div class="fi-quantity" *ngIf="setQuantity(i,menu.serving_time_id)">
                        <ion-label>{{setQuantity(i,menu.serving_time_id)}}</ion-label>
                      </div>

                    </div>

                    <div class="fim-div-2" *ngIf="!editOrder&&!cutoffTime(menu)">

                      <ion-button
                        (click)="showItemdetails(i,menu.servingtime,menu.serving_time_id); $event.stopPropagation()"
                        style="z-index:999">
                        <i class="las la-pen"></i>
                      </ion-button>

                    </div>

                  </div>

                </div>

              </ion-card>

              <ion-label class="fi-or-label" *ngIf="item.item&&item.item.length>1&&in<item.item.length-1">Or</ion-label>

            </div>
          

          </div>

        </div>

      </div>






<ng-container *ngFor="let item of additional_by_ser_time">
      <div class="din-fi-sec" *ngIf="(item.ser_time==menu.serving_time_id&&item.item&&item.item.length>0&&item.show)">

      <div class="din-fi" >

        <ion-card class="fi-card" [class.selected]="sel_additional_item.includes(i.id)" *ngFor="let i of item.item" id="{{menu.servingtime}}" (click)="selectAdditionalItem(i,item.ser_time,menu)">
          <ion-icon class="selected-icon" name="checkmark-circle" *ngIf="sel_additional_item.includes(i.id)"></ion-icon>
        
          
          <div class="fi-img-block">


            

            <img class="fi-img" [src]="i.image" >

          </div>

          <div class="fi-info-block">

            <ion-label class="fi-name">{{i.item_name}}</ion-label>

            <div class="fi-more-options">

              <div class="fim-div-1">

                

              </div>

              <div class="fim-div-2" *ngIf="!editOrder">

                <ion-button
                  (click)="showItemdetails(i,menu.servingtime,menu.serving_time_id); $event.stopPropagation()"
                  style="z-index:999">
                  <i class="las la-pen"></i>
                </ion-button>

              </div>

            </div>

          </div>

        </ion-card>

      </div>

    </div>

  </ng-container>




    </div>

  </div>

  <div *ngIf="leaveMarked">
    <ion-label class="din-dprofile-alert">
      {{consumer.user.name}} is on leave this day
    </ion-label>

    <div class="dprofile-btns">

      <ion-button class="din-view-profile-btn" (click)="unmarkLeave()">Unmark leave</ion-button>



    </div>
  </div>
  

</ion-content>


<ion-content *ngIf="!details&&!leaveMarked">
  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-card class="din-consumer-info-card" *ngIf="consumer">

          <ion-grid>

            <ion-row>

              <ion-col class="col-fit">

                <ion-icon class="back-icon" name="arrow-back-outline" (click)="back()"></ion-icon>

                <ion-avatar class="consumer-pic">

                  <img [src]="consumer.user.profile_pic">

                </ion-avatar>

              </ion-col>

              <ion-col class="col-fit">

                <ion-label class="c-name">

                  {{consumer.user.name}}

                  <p class="room-no">{{consumer.room}}, <span class="wing-name">{{wing}}</span></p>

                </ion-label>

              </ion-col>

             


            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-label class="din-dprofile-alert">
    Please set the dietary profile for the resident before order can be placed
  </ion-label>

  <div class="dprofile-btns">

   

    <ion-button class="din-reslist-btn" (click)="back()">Resident list</ion-button>

  </div>


</ion-content>

<ion-footer *ngIf="details&&!hide_footer">

  <ion-button class="confirm-order-btn" *ngIf="!editOrder" (click)="confirm()">

    <ion-icon name="checkmark-outline"></ion-icon>

    <ion-label>
      Place Order
    </ion-label>



  </ion-button>

  <ion-button class="confirm-order-btn" *ngIf="editOrder" (click)="edit()">

    <i class="las la-pen"></i>

   <ion-label>
     Edit Order
   </ion-label>

 </ion-button>
</ion-footer> -->






<ion-header>

  <ion-toolbar>

    <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>

    

  </ion-toolbar>

</ion-header>
<ion-content *ngIf="details">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-card class="din-consumer-info-card" *ngIf="consumer">

          <ion-grid>

            <ion-row>

              <ion-col class="col-fit dflex-aic">

                <ion-icon class="back-icon" name="arrow-back-outline" (click)="back()"></ion-icon>

                <ion-avatar class="consumer-pic">

                  <img [src]="consumer.user.profile_pic">

                </ion-avatar>

              </ion-col>

              <ion-col class="col-fit">

                <ion-label class="c-name">

                  {{consumer.user.name}}

                  <p class="room-no">{{consumer.room}}, <span class="wing-name">{{wing}}</span></p>

                </ion-label>

              </ion-col>

              <ion-col class="hdr-dib">

                <div class="diet-info-box-1" *ngIf="details">

                  <span class="dflex flexwrap-wrap" *ngIf="diet_type.length>0"><span class="di-item diabetic"
                      *ngFor="let item of diet_type">{{item}} diet</span></span>

                  <span class="di-item regular"
                    *ngIf="details&&details.food_texture">{{details.food_texture.food_texture}}</span>

                  <span class="di-item mildly-thick"
                    *ngIf="details&&details.fluid_texture">{{details.fluid_texture.food_texture}}</span>

                  <span class="di-item msm" *ngIf="details&&details.meal_size">{{details.meal_size.meal_size}} sized
                    meal</span>

                  <span class="di-item fluid-cap" *ngIf="details&&details.fluid_cap_target">FR : {{fluid_cap_target}}
                    ml</span>

                  <span class="allergy-sec" *ngIf="allergies.length>0">

                    <span class="di-item food-ft" *ngFor="let item of allergies">
                     
                      <i class="al-other" [class.al-celery]="item=='Celery'"
                        [class.al-crustaceans]="item=='Crustaceans'" [class.al-glutten]="item=='Gluten'"
                        [class.al-lupin]="item=='Lupin'" [class.al-molluscs]="item=='Molluscs'"
                        [class.al-mustard]="item=='Mustard'" [class.al-peanut]="item=='Peanuts'"
                        [class.al-sesame]="item=='Sesame'" [class.al-soy]="item=='Soya'"
                        [class.al-sulphite]="item=='Sulphites'" [class.al-treenut]="item=='Treenuts'"
                        [class.al-wheat]="item=='Wheat'"></i>

                      {{item}}
                    </span>

                  </span>

               

                </div>

               

              </ion-col>

              <ion-col class="col-fit ml-auto" (click)="dietaryPreference()">
                <!-- <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon> -->
                <ion-icon class="din-more-info-icon" name="information-sharp"></ion-icon>

              </ion-col>

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

                <div class="diet-info-box" *ngIf="details">

                  <span class="dflex flexwrap-wrap" *ngIf="diet_type.length>0"><span class="di-item diabetic"
                      *ngFor="let item of diet_type">{{item}} diet</span></span>

                  <span class="di-item regular"
                    *ngIf="details&&details.food_texture">{{details.food_texture.food_texture}}</span>

                  <span class="di-item mildly-thick"
                    *ngIf="details&&details.fluid_texture">{{details.fluid_texture.food_texture}}</span>

                  <span class="di-item msm" *ngIf="details&&details.meal_size">{{details.meal_size.meal_size}} sized
                    meal</span>

                  <span class="di-item fluid-cap" *ngIf="details&&details.fluid_cap_target">FR : {{fluid_cap_target}}
                    ml</span>

                  <span class="allergy-sec" *ngIf="allergies.length>0">

                    <span class="di-item food-ft" *ngFor="let item of allergies">
                     
                      <i class="al-other" [class.al-celery]="item=='Celery'"
                        [class.al-crustaceans]="item=='Crustaceans'" [class.al-glutten]="item=='Gluten'"
                        [class.al-lupin]="item=='Lupin'" [class.al-molluscs]="item=='Molluscs'"
                        [class.al-mustard]="item=='Mustard'" [class.al-peanut]="item=='Peanuts'"
                        [class.al-sesame]="item=='Sesame'" [class.al-soy]="item=='Soya'"
                        [class.al-sulphite]="item=='Sulphites'" [class.al-treenut]="item=='Treenuts'"
                        [class.al-wheat]="item=='Wheat'"></i>

                      {{item}}
                    </span>

                  </span>

                 

                </div>

                

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <div class="ind-order-header">

    <div class="date-range-box">

      <ion-icon name="chevron-back-outline" (click)="previous()"></ion-icon>

      <ion-label>{{date}}</ion-label>

      <ion-icon name="chevron-forward-outline" (click)="next()"></ion-icon>

      <ion-button (click)="chooseDate()">
        <img src="/assets/dining/date-icon-custom.svg">
      </ion-button>

    </div>

    

    <div class="din-controls">

     

      <ion-button (click)="markLeave($event)">
        <img src="/assets/dining/more-icon-custom.svg">
      </ion-button>

    </div>

  </div>

 

  





  <div *ngIf="!leaveMarked">

    <div class="fi-box" *ngFor="let menu of menuItems" >

      <div class="din-item-box">

        <ion-label class="din-item"  >{{menu.servingtime}}<span
            class="din-timing">({{menu.serving_date+' '+menu.start_time|dateformat:'hh:mm A'}}-{{menu.serving_date+' '+menu.end_time|dateformat:'hh:mm A'}})</span>
        </ion-label>
        
        <ion-label class="din-skipped-tag" *ngIf="menu.is_skipped">Skipped</ion-label>

        <ion-icon class="din-more-options" name="ellipsis-vertical-sharp"
          (click)="options($event,menu)" *ngIf="!cutoffTime(menu)&&!editOrder">
        </ion-icon>
        

      </div>

      <ion-label class="no-items"
        *ngIf="!checkNoItems(menu)&&!cutoffTime(menu)&&!menu.is_skipped">No items</ion-label>
      
      <ion-label class="din-time-expired" *ngIf="cutoffTime(menu)&&!menu.is_skipped">Oh sorry!
        Ordering time has expired</ion-label>
      <ion-label class="din-skipped" *ngIf="menu.is_skipped">{{menu.servingtime}} skipped on this day
      </ion-label>

      <div class="din-fi-sec" *ngFor="let item of menu.all_coloumns"
        [class.doNotShow]="incompatable(item,menu.serving_time_id)||(item.items&&item.items.length>1)">

        <div class="din-fi" *ngIf="item.items&&item.items.length==1">

          <ion-card class="fi-card" *ngFor="let i of item.items" [class.doNotShow]="!i.itemdetails" appDebounce  [debounceTime]="700"
            (debounceClick)="preSavingItem(i,menu.serving_time_id,1,item,menu)" [class.selected]="selected.includes(i.id)"
            [class.notAvailable]="cutoffTime(menu)||menu.is_skipped||!availableItem(i)||i.visibility==0" [class.allergic-fi-card]="allergicIcon(i)">
            <ion-icon class="selected-icon" name="checkmark-circle" *ngIf="selected.includes(i.id)"></ion-icon>
           
            <ion-icon class="allergic-alert-icon-1" name="alert-circle" *ngIf="allergicIcon(i)">
            </ion-icon>
            <div class="fi-img-block">

              <img class="continentalbreakfast-icon" src="/assets/dining/continentalbreakfast-icon.svg"
                *ngIf="i.subitem">

              <div class="order-restr-info" *ngIf="!availableItem(i)">
                <p>You can't order this item</p>
              </div>

              <img class="fi-img" [src]="i.itemdetails.image" *ngIf="i.itemdetails">

            </div>

            <div class="fi-info-block" *ngIf="i.itemdetails">

              <ion-label class="fi-name">{{i.itemdetails.item_name}}</ion-label>

              <div class="fi-more-options">

                <div class="fim-div-1">

                  <div class="fi-meal-size" *ngIf="setMealSize(i,menu.serving_time_id)">
                    <ion-label>{{setMealSize(i,menu.serving_time_id)}}</ion-label>
                  </div>

                  <div class="fi-quantity" *ngIf="setQuantity(i,menu.serving_time_id)">
                    <ion-label>{{setQuantity(i,menu.serving_time_id)}}</ion-label>
                  </div>

                  

                </div>

                <div class="fim-div-2" *ngIf="!editOrder&&!cutoffTime(menu)">

                  <ion-button
                    (click)="showItemdetails(i,menu.servingtime,menu.serving_time_id,menu); $event.stopPropagation()"
                    style="z-index:999">
                    <i class="las la-pen"></i>
                  </ion-button>

                </div>

              </div>

            </div>

          </ion-card>

        </div>

      </div>

      <div class="din-fi-sec-optional" *ngFor="let item of menu.all_coloumns"
        [class.doNotShow]="item.items&&item.items.length<=1||incompatable(item,menu.serving_time_id)||(item.items&&item.items.length==1)">

        <div class="fi-box-optional">

          <div class="fi-selectable" *ngIf="item.items&&item.items.length>1">

            <ng-container *ngFor="let i of item.items;let in=index">
            <div class="fi-selectable-box" >

              <ion-card class="fi-card" [class.doNotShow]="!i.itemdetails" appDebounce  [debounceTime]="700"
              (debounceClick)="preSavingItem(i,menu.serving_time_id,2,item,menu)" [class.selected]="selected.includes(i.id)"
                [class.notAvailable]="cutoffTime(menu)||!availableItem(i)||menu.is_skipped||i.visibility==0" [class.allergic-fi-card]="allergicIcon(i)">
                <ion-icon class="selected-icon" name="checkmark-circle" *ngIf="selected.includes(i.id)"></ion-icon>
               

                <ion-icon class="allergic-alert-icon-1" name="alert-circle" *ngIf="allergicIcon(i)"></ion-icon>

                <div class="fi-img-block">

                  <img class="continentalbreakfast-icon" src="/assets/dining/continentalbreakfast-icon.svg"
                  *ngIf="i.subitem">

                  <div class="order-restr-info" *ngIf="!availableItem(i)">
                    <p>You can't order this item</p>
                  </div>

                  <img class="fi-img" [src]="i.itemdetails.image" *ngIf="i.itemdetails">

                </div>

                <div class="fi-info-block" *ngIf="i.itemdetails">

                  <ion-label class="fi-name">{{i.itemdetails.item_name}}</ion-label>

                  <div class="fi-more-options">

                    <div class="fim-div-1">

                      <div class="fi-meal-size" *ngIf="setMealSize(i,menu.serving_time_id)">
                        <ion-label>{{setMealSize(i,menu.serving_time_id)}}</ion-label>
                      </div>
                      <div class="fi-quantity" *ngIf="setQuantity(i,menu.serving_time_id)">
                        <ion-label>{{setQuantity(i,menu.serving_time_id)}}</ion-label>
                      </div>

                    </div>

                    <div class="fim-div-2" *ngIf="!editOrder&&!cutoffTime(menu)">

                      <ion-button
                        (click)="showItemdetails(i,menu.servingtime,menu.serving_time_id,menu); $event.stopPropagation()"
                        style="z-index:999">
                        <i class="las la-pen"></i>
                      </ion-button>

                    </div>

                  </div>

                </div>

              </ion-card>

              

            </div>
            <ion-label class="fi-or-label" *ngIf="item.items&&item.items.length>1&&in<item.items.length-1">Or</ion-label>
          </ng-container>

          </div>

        </div>

      </div>






<ng-container *ngFor="let item of additional_by_ser_time">
  <ng-container *ngIf="(item.ser_time==menu.serving_time_id&&item.item&&item.item.length>0&&item.show)">
      <div class="din-fi-sec" *ngFor="let i of item.item">

      <div class="din-fi" >

        <ion-card class="fi-card" [class.selected]="i.is_ordered||sel_additional_item.includes(i.item.id)"  id="{{menu.servingtime}}" appDebounce  [debounceTime]="700"
        (debounceClick)="selectAdditionalItem(i,item,menu)">
          <ion-icon class="selected-icon" name="checkmark-circle" *ngIf="i.is_ordered||sel_additional_item.includes(i.item.id)"></ion-icon>
        
         
          <div class="fi-img-block">


          

            <img class="fi-img" [src]="i.item.image" >

          </div>

          <div class="fi-info-block">

            <ion-label class="fi-name">{{i.item.item_name}}</ion-label>

            <div class="fi-more-options">

              <div class="fim-div-1" *ngIf="i.selected_data">

                <div class="fi-meal-size" *ngIf="i.selected_data&&i.selected_data.quantity">
                  <ion-label>{{i.selected_data.quantity}}</ion-label>
                </div>

                <div class="fi-quantity" *ngIf="i.selected_data&&i.selected_data.size">
                  <ion-label>{{i.selected_data.size.meal_size.substring(0,1)}}</ion-label>
                </div>

                <!-- <div class="din-food-options" *ngIf="i.selected_data&&i.selected_data.items_selected_options">
                  <i class="las la-clipboard-list"></i>
                </div> -->

              </div>

              <div class="fim-div-2" *ngIf="!editOrder">

                <ion-button
                  (click)="showAdditionalItemdetails(i,menu.servingtime,menu.serving_time_id,menu); $event.stopPropagation()"
                  style="z-index:999">
                  <i class="las la-pen"></i>
                </ion-button>

              </div>

            </div>

          </div>

        </ion-card>

      </div>

    </div>
  </ng-container>
  </ng-container>




    </div>

  </div>



















  <div *ngIf="leaveMarked">
    <ion-label class="din-dprofile-alert">
      {{consumer.user.name}} is on leave this day
    </ion-label>

    <div class="dprofile-btns">

      <ion-button class="din-view-profile-btn" (click)="unmarkLeave()">Unmark leave</ion-button>



    </div>
  </div>
  

</ion-content>


<ion-content *ngIf="!details&&!leaveMarked">
  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-card class="din-consumer-info-card" *ngIf="consumer">

          <ion-grid>

            <ion-row>

              <ion-col class="col-fit">

                <ion-icon class="back-icon" name="arrow-back-outline" (click)="back()"></ion-icon>

                <ion-avatar class="consumer-pic">

                  <img [src]="consumer.user.profile_pic">

                </ion-avatar>

              </ion-col>

              <ion-col class="col-fit">

                <ion-label class="c-name">

                  {{consumer.user.name}}

                  <p class="room-no">{{consumer.room}}, <span class="wing-name">{{wing}}</span></p>

                </ion-label>

              </ion-col>

            

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-label class="din-dprofile-alert">
    Please set the dietary profile for the resident before order can be placed
  </ion-label>

  <div class="dprofile-btns">

   

    <ion-button class="din-reslist-btn" (click)="back()">Resident list</ion-button>

  </div>


</ion-content>

<ion-footer *ngIf="details&&!hide_footer">

  <ion-button class="confirm-order-btn" *ngIf="!editOrder" (click)="confirm()">

    <ion-icon name="checkmark-outline"></ion-icon>

    <ion-label>
      Place Order
    </ion-label>



  </ion-button>

  <ion-button class="confirm-order-btn" *ngIf="editOrder" (click)="edit()">

    <i class="las la-pen"></i>

   <ion-label>
     Edit Order
   </ion-label>

 </ion-button>
</ion-footer>