ion-header {
    ion-toolbar {
        // padding-left: 20px;
        // padding-top: 25px;
        // --min-height: 44px;
        padding-left: 20px;
        padding-top: 20px;
        --min-height: 0px;

        ion-icon {
            font-size: 25px;
            color: #707070;
            vertical-align: middle;
            display: none;
        }

        ion-label {
            font-size: 18px;
            font-weight: 500;
            margin-left: 15px;
            color: #707070;
            display: none;
        }
    }
}

ion-content {
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 5px;
    --padding-bottom: 5px;
}

.din-consumer-info-card {
    padding: 5px;
    margin: 0;
    display: flex;

    ion-grid {
        ion-row {
            // border-top: 1px dashed #E1E1E1;
            // border-bottom: 1px dashed #E1E1E1;

            ion-col {
                &:nth-child(2) {
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                    margin-right: auto;
                }
            }
        }
    }

    .back-icon {
        font-size: 25px;
        vertical-align: middle;
        // display: none;
    }

    .consumer-pic {
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }

    .c-name {
        font-size: 16px;
        font-weight: 600;
        color: #252525;
        // margin-left: 10px;

        .room-no {
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: normal;
            color: #6c6c6c;
            display: block;
            // margin-left: 10px;
        }
    }

    .chevron-down {
        font-size: 25px;
        background: #ededed;
        color: #9b9b9b;
        border-radius: 50px;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .din-more-info-icon {
        font-size: 25px;
        background: #d4f1ff;
        color: #68b1d4;
        border-radius: 50px;
        padding: 2px;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .diet-info-box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-top: 1px dashed #c9c9c9;
        // border-bottom: 1px dashed #c9c9c9;
        padding-top: 10px;
        // padding-bottom: 10px;

        .di-item {
            font-family: "Roboto", sans-serif;
            font-size: 13px;
            color: #ffff;
            background: #707070;
            text-align: center;
            border-radius: 50px;
            padding: 2px 9px;
            margin: 4px;
        }

        .diabetic {
            background: #0fbbf3 !important;
        }

        .regular {
            background: #232323 !important;
        }

        .mildly-thicky {
            background: #bf1c62 !important;
        }

        .msm {
            background: #757fff !important;
        }

        .fluid-cap {
            background: #ff7216 !important;
        }

        .food-ft {
            background: #ff5b49 !important;

            i {
                font-size: 20px;
                vertical-align: middle;
            }

            .al-celery {
                background: url(/assets/dining/allergy-icons/celery.svg) no-repeat center center !important;
                width: 15px;
                height: 15px;
                display: inline-flex;
                margin-right: 2px;
            }

            .al-crustaceans {
                background: url(/assets/dining/allergy-icons/crustaceans.svg) no-repeat center center !important;
                width: 15px;
                height: 15px;
                display: inline-flex;
                margin-right: 2px;
            }

            .al-glutten {
                background: url(/assets/dining/allergy-icons/gluten.svg) no-repeat center center !important;
                width: 15px;
                height: 15px;
                display: inline-flex;
                margin-right: 2px;
            }

            .al-lupin {
                background: url(/assets/dining/allergy-icons/lupin.svg) no-repeat center center !important;
                width: 15px;
                height: 15px;
                display: inline-flex;
                margin-right: 2px;
            }

            .al-molluscs {
                background: url(/assets/dining/allergy-icons/molluscs.svg) no-repeat center center !important;
                width: 15px;
                height: 15px;
                display: inline-flex;
                margin-right: 2px;
            }

            .al-mustard {
                background: url(/assets/dining/allergy-icons/mustard.svg) no-repeat center center !important;
                width: 15px;
                height: 15px;
                display: inline-flex;
                margin-right: 2px;
            }

            .al-peanut {
                background: url(/assets/dining/allergy-icons/peanut.svg) no-repeat center center !important;
                width: 15px;
                height: 15px;
                display: inline-flex;
                margin-right: 2px;
            }

            .al-sesame {
                background: url(/assets/dining/allergy-icons/sesame.svg) no-repeat center center !important;
                width: 15px;
                height: 15px;
                display: inline-flex;
                margin-right: 2px;
            }

            .al-soy {
                background: url(/assets/dining/allergy-icons/soy.svg) no-repeat center center !important;
                width: 15px;
                height: 15px;
                display: inline-flex;
                margin-right: 2px;
            }

            .al-sulphite {
                background: url(/assets/dining/allergy-icons/sulphite.svg) no-repeat center center !important;
                width: 15px;
                height: 15px;
                display: inline-flex;
                margin-right: 2px;
            }

            .al-treenut {
                background: url(/assets/dining/allergy-icons/treenut.svg) no-repeat center center !important;
                width: 15px;
                height: 15px;
                display: inline-flex;
                margin-right: 2px;
            }

            .al-wheat {
                background: url(/assets/dining/allergy-icons/wheat.svg) no-repeat center center !important;
                width: 15px;
                height: 15px;
                display: inline-flex;
                margin-right: 2px;
            }

            .al-other {
                background: url(/assets/dining/allergy-icons/other-allergy.svg) no-repeat center center;
                width: 15px;
                height: 15px;
                display: inline-flex;
                margin-right: 2px;
            }
        }
    }

    .vmore-btn {
        --background: transparent;
        --box-shadow: none;
        --ripple-color: #c9c9c9;
        color: #0077b5;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        text-transform: none;
        letter-spacing: normal;
        margin: 10px auto 0;
        display: block;
    }
}

.ind-order-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px;
    padding: 0 5px;

    .date-range-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: relative;

        ion-icon {
            font-size: 25px;
            color: #707070;
        }

        ion-label {
            // font-size: 16px;
            // font-weight: 500;
            // color: #222;
            // margin: 0px 15px;
            font-size: 18px;
            font-weight: 600;
            color: #0077b5;
            margin: 0px 15px;
        }

        ion-button {
            --background: transparent;
            --box-shadow: none;
            --padding-start: 0;
            --padding-end: 0;
            --ripple-color: #232323;
            --border-radius: 50px;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
        }
    }

    .din-skipped-tag-1 {
        font-size: 12px;
        font-weight: normal;
        padding: 2px 9px;
        border-radius: 50px;
        background: #ff7216;
        color: #ffff;
        margin-left: 35px;
        margin-right: auto;
        // margin-bottom: 10px;
        display: flex;
        max-width: fit-content;
        // margin-top: -15px;
        // position: absolute;
        // top: 30px;
        margin-top: 5px;
    }

    .din-controls {
        display: flex;

        ion-button {
            --background: transparent;
            --box-shadow: none;
            --padding-start: 0;
            --padding-end: 0;
            --ripple-color: #232323;
            --border-radius: 50px;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(2) {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

.din-item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 10px;
    margin-bottom: 10px;
    width: 100%;

    .din-item {
        font-size: 18px;
        font-weight: 500;
        color: #222;
        line-height: 22px;

        .din-timing {
            font-family: "Roboto", sans-serif !important;
            font-size: 15px;
            font-weight: normal;
            color: #6c6c6c;
            display: block;
        }
    }

    .din-skipped-tag {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        padding: 2px 9px;
        border-radius: 50px;
        background: #ff7216;
        color: #ffff;
        margin-left: auto;
        margin-right: 15px;
    }

    .din-more-options {
        font-size: 25px;
        color: #858585;
        vertical-align: middle;
    }
}

.fi-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
    margin-bottom: 15px;

    .din-fi-sec {
        width: 100%;

        .din-fi {
            width: initial;

            .fi-card {
                // border-radius: 20px !important;
                // padding: 10px;
                // display: flex;
                // justify-content: center;
                // margin: 5px 0px;
                // min-height: 160px;
                // width: 100%;

                border-radius: 15px !important;
                padding: 0 10px 0px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px 0px;
                min-height: 135px;
                width: 100%;
                border: 1px solid #d7d7d7;
                box-shadow: none !important;
                background: #fff;
                position: relative;

                .fi-type-chip {
                    position: absolute;
                    top: 50px;
                    left: 0;
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    width: 20px;
                    height: auto;
                    border-radius: 5px 0px 0px 5px;
                    font-family: "Roboto", sans-serif !important;
                    font-size: 12px;
                    padding: 8px;
                    margin: 0;
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    transform: rotate(180deg) translateY(50%);
                    top: 50%;
                    z-index: 999;
                }

                .main {
                    color: #fff;
                    background: #335aff;
                }

                .beverages {
                    color: #fff;
                    background: #ef1bcb;
                }

                .side {
                    color: #fff;
                    background: #ff6100;
                }

                .starter {
                    color: #fff;
                    background: #00b3ff;
                }

                .selected-icon {
                    display: none;
                }

                // ion-grid {
                //     margin: 0;
                //     padding: 0;

                //     ion-row {
                //         ion-col {
                //             display: flex;

                //             &:nth-child(2) {
                //                 padding-left: 10px;
                //                 display: flex;
                //                 flex-direction: column;
                //                 justify-content: center;
                //             }
                //         }
                //     }
                // }

                .fi-img-block {
                    display: flex;
                    // width: 45%;
                    width: 35.54%;
                    position: relative;

                    .continentalbreakfast-icon {
                        position: absolute;
                        width: 28px;
                        right: 0px;
                        background-color: #0077b5;
                        padding: 5px;
                        border-bottom-left-radius: 6px;
                        // border-top-right-radius: 6px;
                    }

                    .order-restr-info {
                        width: 100%;
                        text-align: center;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        padding: 5px;
                        background: rgba(0, 0, 0, 0.7);
                        color: #fff;
                    }

                    .fi-img {
                        // width: 145px;
                        width: 100%;
                        height: 135px;
                        border-radius: 15px 0 0;
                        object-fit: cover;
                    }
                }

                .fi-info-block {
                    width: 65%;
                    //padding-left: 15px;
                    padding-left: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .fi-name {
                        font-family: "Roboto", sans-serif;
                        font-size: 18px;
                        color: #252525;
                        line-height: 20px;
                        padding-right: 20px;
                    }

                    .fi-more-options {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 25px;

                        .fim-div-1 {
                            display: flex;

                            .fi-meal-size {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 4px;
                                padding: 4px 8px;
                                background: #d2fffb;
                                width: 30px;
                                height: 30px;
                                margin-right: 10px;

                                ion-label {
                                    font-family: "Roboto", sans-serif;
                                    font-size: 15px;
                                    color: #47aba2;
                                    text-align: center;
                                }
                            }

                            .fi-quantity {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 4px;
                                padding: 4px 8px;
                                background: #f3def9;
                                width: 30px;
                                height: 30px;
                                margin-right: 10px;

                                ion-label {
                                    font-family: "Roboto", sans-serif;
                                    font-size: 15px;
                                    color: #601576;
                                    text-align: center;
                                }
                            }

                            .din-food-options {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 4px;
                                padding: 4px 8px;
                                background: #f1ecff;
                                width: 30px;
                                height: 30px;

                                i {
                                    font-size: 20px;
                                    text-align: center;
                                    margin: 0px;
                                }
                            }
                        }

                        .fim-div-2 {
                            ion-button {
                                --background: #f4f4f4;
                                --box-shadow: none;
                                --border-radius: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 35px;
                                height: 35px;
                                position: absolute;
                                // right: 10px;
                                // bottom: 10px;
                                right: 5px;
                                bottom: 3px;
                                z-index: 99999;

                                i {
                                    font-size: 20px;
                                    color: #707070;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .allergic-fi {
        border: 1px solid #ff5b49;
        position: relative;

        .allergic-alert-icon {
            color: #ff0000;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .fi-selectable {
        width: 100%;
        // background: #F4F4F4;
        // background: rgb(244 244 244 / 85%);
        background: #edecec;
        border-radius: 25px;
        position: relative;

        .fi-card {
            // background: transparent !important;
            // box-shadow: none !important;
            flex-grow: 1;

            .fi-type-chip {
                position: absolute;
                top: 50px;
                left: 0;
                max-width: -webkit-fit-content;
                max-width: -moz-fit-content;
                max-width: fit-content;
                width: 20px;
                height: auto;
                border-radius: 5px 0px 0px 5px;
                font-family: "Roboto", sans-serif !important;
                font-size: 12px;
                padding: 8px;
                margin: 0;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                transform: rotate(180deg) translateY(50%);
                top: 50%;
                z-index: 999;
            }

            .main {
                color: #fff;
                background: #335aff;
            }

            .beverages {
                color: #fff;
                background: #ef1bcb;
            }

            .side {
                color: #fff;
                background: #ff6100;
            }

            .starter {
                color: #fff;
                background: #00b3ff;
            }

            .fi-info-block {
                .fi-more-options {
                    .fim-div-2 {
                        ion-button {
                            --background: #f4f4f4;
                            // position: absolute;
                            // z-index: 999999;
                            // right: 10px;
                        }
                    }
                }
            }
        }

        .fi-or-label {
            // color: #ffffff;
            // text-align: center;
            // display: flex;
            // background: #959595;
            // max-width: fit-content;
            // margin: 10px auto;
            // padding: 10px;
            // font-size: 18px;
            // font-weight: 600;
            // border-radius: 50px;
            // min-height: 50px;
            // min-width: 50px;
            // justify-content: center;
            // align-items: center;

            color: #666;
            text-align: center;
            display: flex;
            /* background: #959595; */
            max-width: -webkit-fit-content;
            max-width: -moz-fit-content;
            max-width: fit-content;
            margin: 10px auto;
            padding: 10px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 50px;
            /* min-height: 50px; */
            /* min-width: 50px; */
            justify-content: center;
            align-items: center;

            &:before {
                border: 1px solid #959595;
                content: "";
                position: absolute;
                width: 20%;
                left: 88px;
            }

            &:after {
                border: 1px solid #959595;
                content: "";
                position: absolute;
                width: 20%;
                right: 88px;
            }
        }
    }
}

.fi-box-optional {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
    margin-bottom: 15px;

    .fi-card {
        padding: 0 10px 0px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0px;
        min-height: 135px;
        width: 100%;
        box-shadow: none !important;
        border: 1px solid #d7d7d7;
        border-radius: 15px !important;

        .fi-img-block {
            display: flex;
            width: 35.54%;
            position: relative;

            .continentalbreakfast-icon {
                position: absolute;
                width: 28px;
                right: 0px;
                background-color: #0077b5;
                padding: 5px;
                border-bottom-left-radius: 6px;
            }

            .order-restr-info {
                width: 100%;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                padding: 5px;
                background: rgba(0, 0, 0, 0.7);
                color: #fff;
            }

            .fi-img {
                width: 145px;
                height: 135px;
                border-radius: 10px 0 0;
                object-fit: cover;
            }
        }

        .fi-info-block {
            width: 65%;
            padding-left: 20px;

            .fi-name {
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                color: #232323;
                line-height: 20px;
            }

            .fi-more-options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 25px;

                .fim-div-1 {
                    display: flex;

                    .fi-meal-size {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #d2fffb;
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;

                        ion-label {
                            font-family: "Roboto", sans-serif;
                            font-size: 15px;
                            color: #47aba2;
                            text-align: center;
                        }
                    }

                    .fi-quantity {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #f3def9;
                        width: 30px;
                        height: 30px;

                        ion-label {
                            font-family: "Roboto", sans-serif;
                            font-size: 15px;
                            color: #601576;
                            text-align: center;
                        }
                    }
                }

                .fim-div-2 {
                    ion-button {
                        --background: #f4f4f4;
                        --box-shadow: none;
                        --border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35px;
                        height: 35px;
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        z-index: 99999;

                        i {
                            font-size: 20px;
                            color: #707070;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .allergic-fi {
        border: 1px solid #ff5b49;
        position: relative;

        .allergic-alert-icon {
            color: #ff0000;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .fi-selectable {
        width: 100%;
        background: #edecec;
        // border-radius: 25px;
        border-radius: 15px;

        .fi-selectable-box {
            .fi-card {
                flex-grow: 1;

                .fi-info-block {
                    .fi-more-options {
                        .fim-div-2 {
                            ion-button {
                                --background: #f4f4f4;
                            }
                        }
                    }
                }
            }

            .fi-or-label {
                color: #ffffff;
                text-align: center;
                display: flex;
                background: #959595;
                max-width: fit-content;
                margin: 10px auto;
                padding: 10px;
                font-size: 18px;
                font-weight: 600;
                border-radius: 50px;
                min-height: 50px;
                min-width: 50px;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .fi-box {
        .fi-selectable {
            .fi-or-label {
                &:before {
                    left: 75px !important;
                }

                &:after {
                    right: 75px !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .hdr-dib {
        display: none;
    }

    .diet-info-box-1 {
        display: none;
    }

    .din-skipped-tag-1 {
        margin-left: auto !important;
        margin-right: 8px !important;
    }

    // .fi-box {
    //     .fi-selectable {
    //         margin: 5px 0px;
    //         padding: 0px 5px;
    //     }
    // }

    .din-fi-sec-optional {
        width: 100%;

        .fi-box-optional {
            padding: 0px;

            .fi-selectable {
                margin: 5px 0px;
                padding: 0px 5px;
            }
        }
    }

    .ind-order-header {
        .din-controls {
            display: flex;
            margin-left: auto;
        }
    }
}

@media only screen and (min-width: 768px) {
    .ind-order-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px 10px;
        padding: 0 5px;

        .date-range-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;

            ion-icon {
                font-size: 25px;
                color: #707070;
            }

            ion-label {
                font-size: 20px;
                font-weight: 500;
                color: #0077b5;
                margin: 0px 15px;
            }
        }
    }

    .din-consumer-info-card {
        .dflex-aic {
            display: flex;
            align-items: center;
        }

        .diet-info-box {
            display: none;
        }

        .hdr-dib {
            align-items: center;
            display: flex;
            padding-left: 15px;

            .diet-info-box-1 {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                border-left: 1px dashed #c9c9c9;
                padding-left: 15px;

                .di-item {
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    color: #ffff;
                    background: #707070;
                    text-align: center;
                    border-radius: 50px;
                    padding: 5px 10px;
                    margin: 4px;
                }

                .diabetic {
                    background: #0fbbf3 !important;
                }

                .regular {
                    background: #232323 !important;
                }

                .mildly-thicky {
                    background: #bf1c62 !important;
                }

                .msm {
                    background: #757fff !important;
                }

                .fluid-cap {
                    background: #ff7216 !important;
                }

                .food-ft {
                    background: #ff5b49 !important;

                    i {
                        font-size: 20px;
                        vertical-align: middle;
                    }

                    .al-celery {
                        background: url(/assets/dining/allergy-icons/celery.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-crustaceans {
                        background: url(/assets/dining/allergy-icons/crustaceans.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-glutten {
                        background: url(/assets/dining/allergy-icons/gluten.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-lupin {
                        background: url(/assets/dining/allergy-icons/lupin.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-molluscs {
                        background: url(/assets/dining/allergy-icons/molluscs.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-mustard {
                        background: url(/assets/dining/allergy-icons/mustard.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-peanut {
                        background: url(/assets/dining/allergy-icons/peanut.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-sesame {
                        background: url(/assets/dining/allergy-icons/sesame.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-soy {
                        background: url(/assets/dining/allergy-icons/soy.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-sulphite {
                        background: url(/assets/dining/allergy-icons/sulphite.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-treenut {
                        background: url(/assets/dining/allergy-icons/treenut.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-wheat {
                        background: url(/assets/dining/allergy-icons/wheat.svg) no-repeat center center !important;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }

                    .al-other {
                        background: url(/assets/dining/allergy-icons/other-allergy.svg) no-repeat center center;
                        width: 15px;
                        height: 15px;
                        display: inline-flex;
                        margin-right: 2px;
                    }
                }
            }
        }
    }

    .fi-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .din-fi-sec {
            width: 49%;
            margin: 5px;

            .din-fi {
                width: initial;

                .fi-card {
                    width: 100%;
                    // width: auto;
                    margin: 5px;
                    min-height: unset;

                    .fi-img-block {
                        .fi-img {
                            width: 220px;
                            height: 220px;
                        }
                    }

                    .fi-info-block {
                        .fi-more-options {
                            margin-top: 15px !important;
                        }
                    }
                }
            }
        }

        .din-fi-sec-optional {
            // width: 66.66%;
            width: 100%;

            .fi-selectable {
                display: inline-flex;
                flex-grow: 1;
                width: auto;
                margin-left: 5px;
                align-items: center;

                .fi-selectable-box {
                    .fi-card {
                        // margin: unset;
                        width: auto;

                        .fi-img-block {
                            // width: auto;
                            display: flex;

                            &:nth-child(odd) {
                                width: 64%;
                            }

                            .fi-img {
                                width: 220px;
                                height: 130px;
                            }
                        }

                        .fi-info-block {
                            // width: auto;
                            display: flex;
                            flex-direction: column;

                            .fi-name {
                                min-width: 133px;
                                max-width: 130px;
                            }
                        }
                    }

                    .fi-or-label {
                        height: 50px;
                        min-width: 50px;
                        // margin: 0px 0px 0px 10px;
                        margin: 0;
                        justify-content: center;
                        align-items: center;
                        align-self: center;
                    }
                }
            }

            .fi-box-optional {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .fi-selectable {
                    .fi-selectable-box {
                        display: flex;
                        width: 33.33%;
                        // flex: 1;

                        // &:nth-child(even) {
                        //     .fi-or-label {
                        //         display: none;
                        //     }
                        // }

                        &:last-child {
                            width: 28.5%;
                        }

                        .fi-card {
                            width: 32%;
                            margin: 5px;
                            min-height: unset;

                            .fi-info-block {
                                .fi-more-options {
                                    margin-top: 15px !important;
                                }
                            }
                        }
                    }
                }

                .fi-selectable {
                    display: inline-flex;
                    flex-wrap: wrap;
                    flex-grow: 1;
                    width: auto;
                    margin-left: 5px;

                    .fi-selectable-box {
                        .fi-card {
                            // margin: unset;
                            width: auto;

                            .fi-img-block {
                                // width: auto;
                                display: flex;
                            }

                            .fi-info-block {
                                // width: auto;
                                display: flex;
                                flex-direction: column;

                                .fi-name {
                                    min-width: 133px;
                                    max-width: 130px;
                                }
                            }
                        }

                        .fi-or-label {
                            height: 50px;
                            min-width: 50px;
                            // margin: 0px 0px 0px 10px;
                            margin: 0;
                            justify-content: center;
                            align-items: center;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }

    .din-dprofile-alert {
        padding: 15px 30px !important;
        width: 100% !important;
    }

    .fi-or-label {
        position: relative;

        &:before {
            width: 40% !important;
            left: -33.75% !important;
        }

        &:after {
            width: 40% !important;
            right: -33.75% !important;
        }
    }
}

@media only screen and (min-width: 834px) and (max-width: 834px) {
    .fi-box {
        .fi-card {
            width: 48%;
            margin: 10px 5px;
        }
    }

    .fi-box-optional {
        .fi-card {
            width: 48%;
            margin: 10px 5px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .fi-box {
        .fi-card {
            width: 48%;
        }

        .fi-selectable {
            margin: 5px;
        }
    }

    .fi-box-optional {
        .fi-selectable {
            margin: 5px;
        }
    }
}

ion-footer {
    padding: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &::before {
        background: none;
    }

    .confirm-order-btn {
        --background: #1aab4a;
        --box-shadow: none;
        --border-radius: 50px;
        text-align: center;
        text-transform: none;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: normal;
        height: 45px;
        margin: 0 auto;
        display: flex;
        max-width: fit-content;

        ion-icon {
            font-size: 25px;
            display: none;
        }

        i {
            font-size: 25px;
        }

        ion-label {
            margin-left: 5px;
        }
    }
}

.no-items {
    font-family: "Roboto", sans-serif;
    background: #fff1f1;
    color: #f11818;
    width: 98%;
    display: flex;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px auto;
    flex-direction: column;
    border-left: 10px solid #f11818;
}

.din-time-expired {
    font-family: "Roboto", sans-serif;
    background: #fff1dd;
    color: #d38108;
    width: 98%;
    display: flex;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px auto;
    flex-direction: column;
    border-left: 10px solid #d38108;
}

.din-skipped {
    font-family: "Roboto", sans-serif;
    background: #fff3eb;
    color: #ff7216;
    width: 98%;
    display: flex;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px auto;
    flex-direction: column;
    border-left: 10px solid #ff7216;
}

.ml-auto {
    margin-left: auto;
}

.allergy-sec {
    display: flex;
    flex-wrap: wrap;
}

.dflex {
    display: flex;
}

.allergic-alert-icon-1 {
    // position: absolute;
    // left: 17px;
    // top: 17px;
    // background: #f00;
    // color: #fff;
    // border-radius: 50px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 5px;
    // font-size: 35px;

    position: absolute;
    left: 10px;
    top: 10px;
    background: #f00;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 32px;
    z-index: 999;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    .fi-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .din-fi-sec {
            width: 32.4%;
            margin: 5px;

            .din-fi {
                .fi-card {
                    .fi-img-block {
                        .fi-img {
                            height: 130px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .fi-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .din-fi-sec {
            // width: 48.7%;
            width: 48.66%;
            margin: 5px;

            .din-fi {
                width: initial;

                .fi-card {
                    width: 100%;
                    // width: auto;
                    margin: 5px;
                    min-height: unset;

                    &:first-child {
                        margin-left: 0 !important;
                    }

                    .fi-img-block {
                        .fi-img {
                            width: 220px;
                            height: 130px;
                        }
                    }

                    .fi-info-block {
                        .fi-more-options {
                            margin-top: 15px !important;
                        }
                    }
                }
            }
        }

        .din-fi-sec-optional {
            width: 100%;

            .fi-selectable {
                display: inline-flex;
                flex-grow: 1;
                width: auto;
                margin-left: 5px;

                .fi-selectable-box {
                    .fi-card {
                        // margin: unset;
                        width: auto;

                        .fi-img-block {
                            // width: auto;
                            display: flex;

                            &:nth-child(odd) {
                                // width: 47%;
                                width: 35.54%;
                            }

                            .fi-img {
                                width: 320px;
                                height: 130px;
                            }
                        }

                        .fi-info-block {
                            // width: auto;
                            display: flex;
                            flex-direction: column;

                            .fi-name {
                                min-width: 133px;
                                max-width: 130px;
                            }
                        }
                    }

                    .fi-or-label {
                        height: 50px;
                        min-width: 50px;
                        // margin: 0px 0px 0px 10px;
                        margin: 0;
                        justify-content: center;
                        align-items: center;
                        align-self: center;
                    }
                }
            }

            .fi-box-optional {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .fi-selectable {
                    .fi-selectable-box {
                        display: flex;
                        // width: 100%;
                        // width: 50%;
                        width: 42.5%;
                        // flex-direction: column;

                        &:nth-child(even) {
                            .fi-or-label {
                                display: block;
                            }
                        }

                        .fi-card {
                            width: 32%;
                            margin: 5px;
                            min-height: unset;

                            .fi-info-block {
                                .fi-more-options {
                                    margin-top: 15px !important;
                                }
                            }
                        }
                    }
                }

                .fi-selectable {
                    display: inline-flex;
                    flex-wrap: wrap;
                    flex-grow: 1;
                    width: auto;
                    // margin-left: 5px;
                    margin-left: 0px;

                    .fi-selectable-box {
                        .fi-card {
                            // margin: unset;
                            width: auto;

                            .fi-img-block {
                                // width: auto;
                                display: flex;
                            }

                            .fi-info-block {
                                // width: auto;
                                display: flex;
                                flex-direction: column;

                                .fi-name {
                                    min-width: 133px;
                                    max-width: 130px;
                                }
                            }
                        }

                        .fi-or-label {
                            height: 50px;
                            min-width: 50px;
                            // margin: 0px 0px 0px 10px;
                            margin: 0;
                            justify-content: center;
                            align-items: center;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
}

.din-dprofile-alert {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    text-align: center;
    align-items: center;
    background: #fff7ec;
    color: #f39100;
    padding: 15px;
    border: 1px solid #ffe3bb;
    border-radius: 10px;
    width: 90%;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 20px auto;
}

.dprofile-btns {
    display: flex;
    justify-content: center;
    align-items: center;

    .din-view-profile-btn {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 20px;
        --padding-end: 20px;
        color: #fff;
        text-transform: none;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: normal;
        height: 45px;
    }

    .din-reslist-btn {
        --background: #ededed;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 20px;
        --padding-end: 20px;
        color: #707070;
        text-transform: none;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: normal;
        margin-left: 10px;
        height: 45px;
    }
}

.selected {
    border: 2px solid #1aab4a !important;

    .selected-icon {
        display: block !important;
        font-size: 35px;
        background: #fff;
        color: #1aab4a;
        padding: 0px;
        border-radius: 50px;
        position: absolute;
        // right: 8px;
        // top: 7px;
        right: -2px;
        top: -2px;
    }
}

.flexwrap-wrap {
    flex-wrap: wrap;
}

.notAvailable {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.allergic-fi-card {
    background: #ff5b493b !important;

    .fi-name {
        color: #ff0000 !important;
    }

    .fi-quantity {
        border: 1px solid #dac1e1;
    }

    .fi-meal-size {
        border: 1px solid #a3e1db;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .fi-box {
        .din-fi-sec-optional {
            .fi-box-optional {
                .fi-selectable {
                    .fi-selectable-box {
                        &:last-child {
                            width: 43.7% !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .fi-box {
        .din-fi-sec-optional {
            .fi-box-optional {
                .fi-selectable {
                    .fi-selectable-box {
                        &:last-child {
                            width: 33.33%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1112px) and (max-width: 1112px) {
    .fi-box {
        .din-fi-sec-optional {
            .fi-box-optional {
                .fi-selectable {
                    .fi-selectable-box {
                        &:last-child {
                            width: 33.33%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1180px) and (max-width: 1180px) {
    .fi-box {
        .din-fi-sec-optional {
            .fi-box-optional {
                .fi-selectable {
                    .fi-selectable-box {
                        &:last-child {
                            width: 33.33%;
                        }
                    }
                }
            }
        }
    }
}

.header-ios {
    height: 45px !important;
    background: #fff;
}
