<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="dismiss(2)"></ion-icon>
          <ion-label>{{serving_time}} on {{date}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="flag!=1">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="fi-detail-img">

          <img [src]="menu.itemdetailsall.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">{{menu.itemdetailsall.item_name}}</ion-label>

        <!-- <span class="puree">P</span>

        <span class="liquid">L</span> -->
      

      </ion-col>
      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info" *ngIf="menu.itemdetailsall.description">

        <ion-label class="fi-name">Description</ion-label>

        <p class="din-description" >{{menu.itemdetailsall.description}}</p>

      </ion-col>

    </ion-row>

  </ion-grid>

  <div class="fi-box" *ngIf="details">

    <ion-card class="fi-card " *ngFor="let item of details" [class.fi-selected]="selected.includes(item.itemdetails.id)" [class.notAvailable]="!availableItem(item)" (click)="selectitem(item)">

      <ion-icon class="din-selected-icon" name="checkmark-circle" *ngIf="selected.includes(item.itemdetails.id)"></ion-icon>
      <ion-icon class="allergic-alert-icon-1" name="alert-circle" *ngIf="allergicIcon(item)"></ion-icon>
      <div class="fi-img-block">

        <img class="fi-img" [src]="item.itemdetails.image">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">{{item.itemdetails.item_name}}</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size" *ngIf="setMealSize(item)">
              <ion-label>{{setMealSize(item)}}</ion-label>
            </div>

            <div class="fi-quantity" *ngIf="setQuantity(item)">
              <ion-label>{{setQuantity(item)}}</ion-label>
            </div>

          </div>

          <div class="fim-div-2">

            <ion-button (click)="selectoptions(item); $event.stopPropagation()">
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div>

      </div>

    </ion-card>

    <!-- <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/2.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Item 1</ion-label>

      

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/3.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Item 2</ion-label>

       

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/3.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Item 2</ion-label>

      

      </div>

    </ion-card> -->

  </div>



</ion-content>



<ion-content *ngIf="flag==1">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="fi-detail-img">

          <img [src]="menu.itemdetails.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">{{menu.itemdetails.item_name}}</ion-label>

        <!-- <span class="puree">P</span>

        <span class="liquid">L</span> -->
      

      </ion-col>
      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info" *ngIf="menu.itemdetails.description">

        <ion-label class="fi-name">Description</ion-label>

        <p class="din-description" >{{menu.itemdetails.description}}</p>

      </ion-col>

    </ion-row>

  </ion-grid>

  <div class="fi-box" *ngIf="details">

    <ion-card class="fi-card " *ngFor="let item of details" [class.fi-selected]="selected.includes(item.itemdetails.id)" [class.notAvailable]="!availableItem(item)" (click)="selectitem(item)">

      <ion-icon class="din-selected-icon" name="checkmark-circle" *ngIf="selected.includes(item.itemdetails.id)"></ion-icon>
      <ion-icon class="allergic-alert-icon-1" name="alert-circle" *ngIf="allergicIcon(item)"></ion-icon>
      <div class="fi-img-block">

        <img class="fi-img" [src]="item.itemdetails.image">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">{{item.itemdetails.item_name}}</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size" *ngIf="setMealSize(item)">
              <ion-label>{{setMealSize(item)}}</ion-label>
            </div>

            <div class="fi-quantity" *ngIf="setQuantity(item)">
              <ion-label>{{setQuantity(item)}}</ion-label>
            </div>

          </div>

          <div class="fim-div-2">

            <ion-button (click)="selectoptions(item); $event.stopPropagation()">
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div>

      </div>

    </ion-card>

    <!-- <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/2.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Item 1</ion-label>

      

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/3.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Item 2</ion-label>

       

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/3.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Item 2</ion-label>

      

      </div>

    </ion-card> -->

  </div>



</ion-content>





<ion-footer>

  <ion-button class="continue-btn" (click)="dismiss(1)">Apply</ion-button>

  <!-- <ion-button class="cancel-btn" (click)="dismiss()">Cancel</ion-button> -->

</ion-footer>