<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" [routerLink]="['/menu']"></ion-icon>
          <ion-label>Maintenance overview</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content class="ion_maintenance_overview_content">
  <ion-label class="book_maintenance-btn" (click)="createReq()" >
    <ion-icon class="newmaintenance-icon"></ion-icon> &nbsp; New Request
  </ion-label>
  <ion-grid>

    <ion-row>

      <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <ion-card class="count-all-border-bottom" (click)="gotoDetails()">

          <span class="count-all">{{request.incomplete_count}}</span>

          <ion-label>All incomplete</ion-label>

        </ion-card>

      </ion-col>

      <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <ion-card class="count-urgent-border-bottom" (click)="gotoDetailsByPriority(2)">

          <span class="count-urgent">{{request.urgent_count}}</span>

          <ion-label>Urgent</ion-label>

        </ion-card>

      </ion-col>



      <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <ion-card class="count-pending-border-bottom" (click)="gotoDetailsByStatus(0)">

          <span class="count-pending">{{request.pending_count}}</span>

          <ion-label>Pending</ion-label>

        </ion-card>

      </ion-col>

      <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <ion-card class="count-inprogress-border-bottom" (click)="gotoDetailsByStatus(1)">

          <span class="count-inprogress">{{request.in_progress_count}}</span>

          <ion-label>In Progress</ion-label>

        </ion-card>

      </ion-col>



      <!-- <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <ion-card class="count-overdue-border-bottom" [routerLink]="['/maintenance-list']">

          <span class="count-overdue">20</span>

          <ion-label>Overdue</ion-label>
          
        </ion-card>

      </ion-col> -->

      <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <ion-card class="count-wtp-border-bottom" (click)="gotoDetailsByStatus(2)">

          <span class="count-wtp">{{request.with_third_party_count}}</span>

          <ion-label>With third party</ion-label>

        </ion-card>

      </ion-col>

      <ion-col size-sm="6" size-md="4" size-lg="4" size="6">

        <!-- <ion-card class="count-alljobs-border-bottom" [routerLink]="['/maintenance-list']">

          <span class="count-all-jobs">{{</span>

          <ion-label>All Jobs</ion-label>
          
        </ion-card> -->

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
