.uploaded-images-container {
    margin-top: 15px;

    ion-col {
        margin-right: 15px;
        margin-bottom: 20px;
        padding: 4px;
    }
}

.uploaded-image {
    width: 72px;
    height: 72px;
    border-radius: 6px;
    outline: 1px solid #d9e3f1;
    position: relative;

    img {
        border-radius: 4px;
    }
}

.uploaded-image-name {
    margin-top: 10px;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 80px;
}

.form-submit-btn {
    padding: 10px 30px !important;
}

.description {
    // border-style: solid;
    // border-width: 0.6px;
    // border-color: dimgray;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    min-height: 90px;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    padding-right: 10px;
    padding-inline-end: 10px;
}

.ion_create_maintenance_content {
    ion-input {
        border-radius: 10px;
        --padding-start: 15px;
        --padding-end: 15px !important;
        --background: #efefef;
        color: #525252;
        height: 45px;
    }

    .assign-location-btn {
        background: #efefef;
        // color: #858585;
        color: #525252;
        box-shadow: none;
        border-radius: 6px;
        text-transform: none;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        min-height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        margin-top: 10px;
    }

    ion-select {
        background: #efefef;
        color: #525252;
        border-radius: 6px;
        --padding-top: 10px;
        --padding-end: 10px;
        --padding-bottom: 10px;
        --padding-start: 15px;
        font-size: 16px;
        height: 45px;
        margin-top: 10px;
    }

    ion-textarea {
        background: #efefef;
        color: #525252;
        border-radius: 6px;
        --padding-top: 10px;
        --padding-end: 15px;
        --padding-bottom: 10px;
        --padding-start: 15px;
        font-size: 16px;
        min-height: 150px;
        margin-top: 10px;
        border: none;
    }
}

.input-custom {
    border: 1px solid #d6d6d6;
    color: #525252;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.remove-img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: -10px;
    right: -8px;
    z-index: 999;
    font-size: 25px;
    color: #c90000;
    background: #fff;
    border-radius: 50px;
}

@media (min-width: 768px) {
    .description {
        min-height: 150px;
        --padding-start: 5px;
        --padding-end: 5px;
        --padding-top: 10px;
    }
}

.remove-location-label {
    font-size: 15px;
    color: #c90000;
    vertical-align: middle;
    margin-top: 10px;
    width: fit-content;

    ion-icon {
        font-size: 22px;
        color: #c90000;
        vertical-align: middle;
        margin-right: 5px;
    }
}

.remove-location {
    color: #c90000;
    margin-top: 5px;
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: fit-content;

    ion-icon {
        font-size: 20px;
        vertical-align: middle;
        margin-right: 5px;
    }
}

.form-label {
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 16px !important;
    font-weight: 400;
}

.custom-input1 {
    margin-top: 10px !important;
}

.assign-location-label {
    display: flex;
    align-items: center;
    line-height: 18px;

    p {
        margin-left: 5px;
    }
}

.create_maintenance_card {
    box-shadow: none !important;

    .pdt-box {
        position: relative;
    }

    ion-datetime {
        font-size: 16px;
        border-radius: 10px;
        --padding-start: 15px;
        --padding-end: 15px !important;
        background: #efefef;
        color: #525252;
        height: 45px;
        align-items: center;
        margin-top: 10px;
    }

    i {
        position: absolute;
        font-size: 25px;
        color: #838383;
        top: 45px;
        right: 10px;
        z-index: 999;
    }
}

.attach-images {
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 16px !important;
    color: #838383;
}

.form-submit-btn {
    // font-family: "Open Sans", sans-serif !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 16px !important;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-ios {
        padding-top: 15px;
    }
}

ion-footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fff;
    padding: 10px;

    .create-maintenance-btn {
        --border-radius: 50px;
        --background: #0077b5;
        --background-activated: #058acf;
        --background-hover: #058acf;
        --box-shadow: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-transform: none;
        width: 100%;
        height: 55px;
    }
}

@media only screen and (min-width: 700px) {
    ion-footer {
        display: flex;
        align-items: center;
        justify-content: center;

        .create-maintenance-btn {
            max-width: fit-content;
            min-width: 150px;
        }
    }
}
