<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Raise Maintenance Request</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content class="ion_create_maintenance_content">

  <ion-card class="create_maintenance_card">

    <div class="mb-25">

      <ion-label position="stacked" class="form-label">Request title <span class="red-asterisk">*</span></ion-label>
      <ion-input class="custom-input1" [(ngModel)]="title" id="req"></ion-input>

    </div>

    

    <div class="mb-25" *ngIf="priority_status">

      <ion-label position="stacked" class="form-label">Priority
      </ion-label>
      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="priority">
        <ion-select-option value="0">Low</ion-select-option>
        <ion-select-option value="1">Medium</ion-select-option>
        <ion-select-option value="2">Urgent</ion-select-option>
      </ion-select>
      <!-- <ion-radio-group>
        <div class="display_inline_flex mt-10">
          <div class="custom-control custom-radio mr-2">
            <input type="radio" name="" id="" value="2" [(ngModel)]="priority">
            <label class="radio_label label-urgent" for="radio1">Urgent</label>
          </div>
         
          <div class="custom-control custom-radio mr-2">
            <input type="radio" name="" id="" value="1" [(ngModel)]="priority">
            <label class="radio_label label-medium" for="radio3">Medium</label>
          </div>
          <div class="custom-control custom-radio text-info">
            <input type="radio" name="" id="" value="0" [(ngModel)]="priority">
            <label class="radio_label label-low" for="radio4">Low</label>
          </div>
        </div>
      </ion-radio-group> -->
    </div>

    <div class="mb-25">

      <ion-label class="form-label">Type <span class="red-asterisk">*</span></ion-label>
      <ion-select okText="Ok" cancelText="Cancel" [(ngModel)]="type" interface="action-sheet">
        <ion-select-option value="{{item.id}}" *ngFor="let item of typeArray">{{item.type}}</ion-select-option>
        <!-- <ion-select-option value="plumbing">Plumbing</ion-select-option>
        <ion-select-option value="garden">Garden</ion-select-option> -->
      </ion-select>
      <!-- <ion-input *ngIf="type==0" placeholder="Enter the type" [(ngModel)]="other_type"></ion-input> -->
    </div>



    <div class="mb-25" *ngIf="risk_status">

      <ion-label class="form-label">Risk Rating</ion-label>
      <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="risk" interface="action-sheet">
        <ion-select-option value="0">Low</ion-select-option>
        <ion-select-option value="1">Medium</ion-select-option>
        <ion-select-option value="2">High</ion-select-option>
        <ion-select-option value="3">N/A</ion-select-option>
      </ion-select>

    </div>



    <div class="mb-25" *ngIf="hazard_status">

      <ion-label class="form-label">Hazard</ion-label>
      <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="hazard" interface="action-sheet">
        <ion-select-option value="1">Yes</ion-select-option>
        <ion-select-option value="0">No</ion-select-option>
      </ion-select>

    </div>



    <div class="mb-25" *ngIf="out_of_order_status">

      <ion-label class="form-label">Out of order Tag</ion-label>
      <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="out_of_order" interface="action-sheet">
        <ion-select-option value="1">Yes</ion-select-option>
        <ion-select-option value="0">No</ion-select-option>
      </ion-select>

    </div>

    <div class="mb-25" *ngIf="rv_branch==1">

      <ion-label position="stacked" class="form-label">Resident </ion-label>
      <div (click)="openResident()" class="assign-location-btn">
        <ion-label *ngIf="!resident">Select resident</ion-label>
        <ion-label class="assign-location-label" *ngIf="resident">{{resident_name}}
        </ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div class="remove-location" *ngIf="flag!=='1'">
        <ion-label class="remove-location remove-location-label" *ngIf="resident" (click)="removeResident()">
          <ion-icon name="close-circle-sharp">
          </ion-icon>
          Remove
        </ion-label>
      </div>
    </div>

    <div class="mb-25">

      <ion-label position="stacked" class="form-label">Location </ion-label>
      <!-- <ion-input [(ngModel)]="location" id="loc" placeholder="eg: Room12, Wing A"></ion-input> -->
      <div (click)="openLocation()" class="assign-location-btn">
        <ion-label *ngIf="location==undefined">Assign location</ion-label>
        <ion-label class="assign-location-label" *ngIf="location!==undefined">{{location}}
          <p *ngIf="parent">({{parent}})</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div class="remove-location" >
        <ion-label class="remove-location remove-location-label" *ngIf="location" (click)="removeLoc()">
          <ion-icon name="close-circle-sharp">
          </ion-icon>
          Remove
        </ion-label>
      </div>
    </div>


    <div class="mb-25">

      <ion-label position="stacked" class="form-label">Describe the
        request</ion-label>
      <ion-textarea rows="6" class="mt-10" id="des" class="description" [(ngModel)]="description"
        placeholder="Type here..."></ion-textarea>
    </div>

    <div class="mb-25 pdt-box" *ngIf="preferred_status&&preferred_date">
      <ion-label class="form-label">Preferred date & time </ion-label>

      <ion-datetime displayFormat="DD/MM/YYYY hh:mm A" [max]="2040" [(ngModel)]="preferred_date">
      </ion-datetime>

      <i class="las la-calendar"></i>
      
    </div>

    <div class="mb-25" *ngIf="entry_permission">

      <ion-label class="form-label">Permission to enter</ion-label>
      <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="permission" interface="action-sheet">
        <ion-select-option value="1">Yes</ion-select-option>
        <ion-select-option value="0">No</ion-select-option>
        
      </ion-select>

    </div>

    <!-- <app-multi-file-upload></app-multi-file-upload> -->
    <ng-container *ngIf="photo_status">
    <ion-row style="margin-top: 20px;">
      <!-- <ion-col *ngFor="let item of imageResponse">
        <ion-thumbnail style="height:90px;width:90px">
          <img src="{{item}}" alt="" srcset="">
        </ion-thumbnail>
      </ion-col> -->
      <ion-col *ngIf="imageResponse.length<5" (click)="selectImage()">

        <ion-icon name="attach-outline"
          style="color: #0077b5; transform: rotate(35deg); font-size: 30px; vertical-align: middle;" role="img"
          class="ios hydrated" aria-label="attach outline"></ion-icon>
        <span class="attach-images">Attach Images</span>
      </ion-col>
    </ion-row>



    <ion-row class="uploaded-images-container">

      <ion-col size="3" class="col_fit" *ngFor="let item of imageResponse;let i=index">

        <ion-thumbnail class="uploaded-image">
          <img src="{{item}}" (click)="viewImage()">
          <ion-icon name="close-circle-outline" class="remove-img" (click)="removeImg(i)"></ion-icon>
        </ion-thumbnail>

      </ion-col>

    </ion-row>
  </ng-container>
    <!-- <ion-row class="uploaded-images-container">

      <ion-col size="3" class="col_fit">

        <ion-thumbnail class="uploaded-image">
          <img src="https://images.pexels.com/photos/10542808/pexels-photo-10542808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" (click)="viewImage()">
          <ion-icon name="close-circle-outline" class="remove-img" (click)="removeImg(i)"></ion-icon>
        </ion-thumbnail>

      </ion-col>

    </ion-row> -->


    <ion-item color="none" lines="none" class="mb-25 ">

      <span class="form-btn-alignment">

        <!-- <ion-label class="form-submit-btn" (click)="submit()">Submit</ion-label> -->
        <!-- <ion-label class="form-cancel-btn">Cancel</ion-label> -->

      </span>

    </ion-item>

  </ion-card>
  <!-- <ion-item [ngStyle]="keyboardStyle" color="none" lines="none"></ion-item> -->
</ion-content>

<ion-footer>

  <ion-button class="create-maintenance-btn" (click)="submit()">Submit</ion-button>

</ion-footer>