.uploaded-images-container {
  margin-top: 20px;
}

.uploaded-images-container ion-col {
  margin-right: 15px;
  margin-bottom: 20px;
}

.uploaded-image {
  width: 80px;
  height: 80px;
}

.uploaded-image img {
  border-radius: 4px;
}

.uploaded-image-name {
  margin-top: 10px;
  display: flex;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 80px;
}

.form-submit-btn {
  padding: 10px 30px !important;
}

.description {
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  min-height: 90px;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  padding-right: 10px;
  padding-inline-end: 10px;
}

.ion_create_maintenance_content ion-input {
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  --padding-start: 15px;
  --padding-end: 15px !important;
}

.input-custom {
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.remove-img {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 2px;
  left: 57px;
  z-index: 999;
}

@media (min-width: 768px) {
  .description {
    min-height: 150px;
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 10px;
  }
}
