<ion-item lines="none" color="none" (click)="reschedule()">
  
  <ion-icon name="time-outline" slot="start" ></ion-icon>
 
    <ion-label >Reschedule</ion-label>
  
</ion-item>

<ion-item lines="none" color="none" (click)="reassign()">
  
  <ion-icon name="person-outline" slot="start" ></ion-icon>
  
    <ion-label >Reassign</ion-label>
  
</ion-item>

<ion-item lines="none" color="none" (click)="cancel()">
  
  <ion-icon name="close-circle-outline" slot="start"></ion-icon>

  <ion-label >Cancel</ion-label>

</ion-item>

<ion-item lines="none" color="none" (click)="resend()">

  <ion-icon name="paper-plane-outline" slot="start"></ion-icon>

  <ion-label >Resend invitation</ion-label>

</ion-item>