.ion-header-inner-2 {
   min-height: 80px;
}

ion-content {
   --padding-start: 20px;
   --padding-end: 20px;
   --padding-top: 20px;
   --padding-bottom: 20px;
}

.week {
   background-color: #d4d1d1;
   border-radius: 50px;
   text-align: center;
   padding: 10px;
   margin: 0 4px 10px 4px;
   display: flex;
   justify-content: center;
   align-self: center;
   max-width: 35px;
   height: 35px;
}

.selectedWeek {
   background-color: #0077b5 !important;
   color: #fff;
}

.date {
   border: none;
}

ion-datetime {
   color: #222;
   border: 1px solid #dcdcdc;
   border-radius: 6px;
   height: 50px;
   margin-bottom: 15px;
   margin-top: 15px;
}

.controls {
   input[type="radio"] {
      display: inline-flex;
   }

   ion-label {
      display: inline-flex;
      margin-left: 10px;
   }
}

ion-button {
   width: 110px;
   --border-radius: 50px;
   --box-shadow: none;
   --background: #0077b5;
   text-transform: none;
   font-size: 16px;
   font-weight: normal;
}

.rec-after {
   display: flex;
   align-items: center;
   align-self: center;
   vertical-align: middle;
   padding-top: 15px;
   margin-left: 0px;

   ion-item {
      // margin-top: 15px;

      ion-input {
         text-align: center;
      }
   }

   ion-label {
      font-size: 16px;
      color: #000;
      margin-left: 20px;
   }
}

.rec-buttons {
   max-width: fit-content;
   margin-left: auto;
   margin-right: auto;
   display: flex;
}

.minus-icon {
   color: #ff1100;
   margin-right: 8px;
}

.plus-icon {
   color: #12e21a;
   margin-left: 8px;
}

.act-select-category {
   ion-item {
      ion-input {
         text-align: center;
         color: #222;
         border-left: 1px solid #e6e6e6;
         border-right: 1px solid #e6e6e6;
         --padding-start: 10px;
         --padding-end: 10px;
      }
   }
}

.btn-cancel {
   --background: #c7c7c7 !important;
   margin-left: 15px;
}

.ar-border {
   border: 1px solid #e6e6e6;
   border-radius: 6px;
   --padding-start: 10px;
   --padding-end: 10px;
   margin-top: 2px;
   width: 100%;
   max-width: 140px;
}

// @media only screen and (min-width:768px) {
//    ion-datetime {
//       margin-top: 14px;
//    }
// }

ion-select {
   color: #222;
}

.or-label {
   font-size: 18px;
   font-weight: 600;
   color: #000;
}

ion-footer {
   background: #fff;
   min-height: 65px;
   padding: 10px;
}

.footer-ios {
   padding-bottom: 15px !important;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
   .opt-label {
      ion-label {
         font-size: 15px !important;
      }
   }
}
