ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.week {
  background-color: #d4d1d1;
  border-radius: 50px;
  text-align: center;
}

.selectedWeek {
  background-color: #0077B5
 !important;
  color: #fff;
}

.date {
  border: none;
}

ion-datetime {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.controls input[type=radio] {
  display: inline-flex;
}

.controls ion-label {
  display: inline-flex;
  margin-left: 10px;
}

ion-button {
  width: 110px;
  --border-radius: 50px;
}

.rec-after {
  display: flex;
  align-self: center;
  vertical-align: middle;
  margin-left: 15px;
}

.rec-after ion-item {
  margin-top: 15px;
}

.rec-after ion-item ion-input {
  text-align: center;
}

.rec-buttons {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.minus-icon {
  color: #ff1100;
}

.plus-icon {
  color: #12e21a;
}

.act-select-category ion-item ion-input {
  text-align: center;
}
