<ion-header class="ion-header-inner-2">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="dismiss(1)"></ion-icon>
          <ion-label>Recurring</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row>

    <ion-col>


      <ion-row class="act-select-category">

        <ion-col class="opt-label" size="12">

          <ion-label>Repeat</ion-label>

        </ion-col>

        <ion-col size="12">

          <ion-item lines="none" color="none">
            <ion-select [(ngModel)]="repeat" interface="action-sheet">
              <ion-select-option value="1">Daily</ion-select-option>
              <ion-select-option value="2">Weekly</ion-select-option>
              <ion-select-option value="3">Monthly</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>

      </ion-row>

    </ion-col>

    <ion-col>

      <ion-row class="act-select-category" *ngIf="repeat==1">

        <ion-col class="opt-label" size="12">

          <ion-label>Repeat every (Daily)</ion-label>

        </ion-col>

        <ion-col size="12">

          <ion-item lines="none" color="none" class="ar-border">
            <ion-icon class="minus-icon" name="remove-outline" (click)="decrement()" item-right></ion-icon>
            <ion-input type="number" [min]=1 [max]="100" [(ngModel)]="daily" (ionChange)="limitDailyInput()"></ion-input>
            <ion-icon class="plus-icon" name="add-outline" (click)="increment()" item-right></ion-icon>
          </ion-item>

        </ion-col>

      </ion-row>


      <ion-row class="act-select-category" *ngIf="repeat==2">

        <ion-col class="opt-label" size="12">

          <ion-label>Repeat on(weekly)</ion-label>

        </ion-col>

        <ion-col size="12">

          <ion-item>
            <ion-label class="week" (click)="setWeek(1)" [class.selectedWeek]="week.indexOf(1)>=0">S</ion-label>
            <ion-label class="week" (click)="setWeek(2)" [class.selectedWeek]="week.indexOf(2)>=0">M</ion-label>
            <ion-label class="week" (click)="setWeek(3)" [class.selectedWeek]="week.indexOf(3)>=0">T</ion-label>
            <ion-label class="week" (click)="setWeek(4)" [class.selectedWeek]="week.indexOf(4)>=0">W</ion-label>
            <ion-label class="week" (click)="setWeek(5)" [class.selectedWeek]="week.indexOf(5)>=0">T</ion-label>
            <ion-label class="week" (click)="setWeek(6)" [class.selectedWeek]="week.indexOf(6)>=0">F</ion-label>
            <ion-label class="week" (click)="setWeek(7)" [class.selectedWeek]="week.indexOf(7)>=0">S</ion-label>
          </ion-item>

        </ion-col>

      </ion-row>


      <ion-row class="act-select-category" *ngIf="repeat==3">

        <ion-col class="opt-label" size="12">

          <ion-label>Repeat on(Monthly)</ion-label>

        </ion-col>

        <ion-col size="12">



          <ion-item lines="none" color="none">
            <ion-select [(ngModel)]="monthly" [selectedText]="monthly" interface="action-sheet">
              <ion-select-option>Monthly on day {{c_day}}</ion-select-option>
            </ion-select>
          </ion-item>



        </ion-col>

      </ion-row>

    </ion-col>

  </ion-row>






  <ion-row class="act-select-category mt-20">

    <ion-col class="opt-label" size="12">

      <ion-label>Ends</ion-label>

    </ion-col>

    <ion-col size="12">

      <ion-item lines="none" color="none">

        <ion-radio-group style="display: contents;" [(ngModel)]="end" (ionChange)="setEnd(end)">

          <ion-grid>

            <ion-row>

              <ion-col size="6">
                <ion-item lines="none" color="none">
                  <ion-radio value="on" mode="md"></ion-radio>
                  <!-- <ion-label> &nbsp; On</ion-label> -->
                  <ion-label> &nbsp; End Date</ion-label>
                </ion-item>
                <span class="date">
                  <ion-datetime mode="md" placeholder="Choose a date" [min]="minDate" [max]="2040"
                    [readonly]="end!='on'" displayFormat=" DD MMM YYYY"  [(ngModel)]="date"
                    (click)="setDate(date)"></ion-datetime>
                </span>

              </ion-col>

              <ion-col size="12">
                <ion-item lines="none" color="none">
                  <ion-label class="or-label"> OR </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size="12">

                <ion-item lines="none" color="none">
                  <ion-radio value="After" mode="md"></ion-radio>
                  <ion-label> &nbsp; After</ion-label>
                </ion-item>

                <span class="rec-after">

                  <ion-item lines="none" color="none" class="ar-border">
                    <ion-icon class="minus-icon" name="remove-outline" (click)="decrementOccurance()" item-right>
                    </ion-icon>
                    <ion-input type="number" min="1" [(ngModel)]="occurance" [readonly]="end!='After'"></ion-input>
                    <ion-icon class="plus-icon" name="add-outline" (click)="incrementOccurance()" item-right></ion-icon>
                  </ion-item>

                  <ion-label>Occurences</ion-label>

                </span>

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-radio-group>

      </ion-item>

    </ion-col>

  </ion-row>
  <!-- <ion-row class="rec-buttons">
    <ion-col size="12">
      <ion-button (click)="dismiss(2)">Done</ion-button>
      <ion-button class="btn-cancel" (click)="cancel()">Cancel </ion-button>
    </ion-col>
  </ion-row> -->
</ion-content>

<ion-footer>

  <ion-row class="rec-buttons">
    <ion-col size="12">
      <ion-button (click)="dismiss(2)">Done</ion-button>
      <ion-button class="btn-cancel" (click)="cancel()">Cancel </ion-button>
    </ion-col>
  </ion-row>

</ion-footer>