ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .choose-pcash-entry-type ion-segment-button {
    --padding-start: 0;
    --padding-end: 0;
    --color-checked: #fff;
    text-transform: capitalize;
  }
}
