ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}


@media only screen and (min-width: 768px) {

    .choose-pcash-entry-type {

       ion-segment-button {

           --padding-start: 0;
           --padding-end: 0;
           --color-checked: #fff;
           text-transform: capitalize;

       }

   }

}

ion-segment-button {
    ion-label {
       margin-top: 0px;
       margin-bottom: 0px;
   }
}

.cblack {
    color: #222;
    font-family: "Roboto", sans-serif;
}

ion-footer {
    ion-button {
        font-family: "Roboto", sans-serif;
        width: 90%;
        
        ion-icon {
            display: none;
        }
    }
}