<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Create Story</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item color="none" lines="none" class="opt-label">

    <ion-label>Select Type</ion-label>

  </ion-item>

  <ion-item color="none" lines="none" class="post-category-sec">

    <ion-chip class="chip-story" [class.story-selected]="type==1" (click)="setType(1)">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label>Story</ion-label>
    </ion-chip>

    <ion-chip class="chip-announcement" [class.annoucement-selected]="type==2" (click)="setType(2)">
      <i class="las la-bullhorn"></i>
      <ion-label>Announcement</ion-label>
    </ion-chip>

  </ion-item>

  <!-- <ion-list>
    
    <ion-radio-group value="Select Type">
      <ion-list-header>
        <ion-label>Select Type</ion-label>
      </ion-list-header>

      <ion-item color="none" lines="none" class="story-button">
        <ion-icon name="earth-outline"></ion-icon>
        <ion-label>Story</ion-label>
        <ion-radio slot="start" value="story"></ion-radio>
      </ion-item>

      <ion-item color="none" lines="none" class="announcement-button">
        <ion-icon name="megaphone-outline"></ion-icon>
        <ion-label>Announcement</ion-label>
        <ion-radio slot="start" value="announcement"></ion-radio>
      </ion-item>

    </ion-radio-group>

  </ion-list> -->

  <!-- <ion-grid class="mb-15">

    <ion-row>

      <ion-radio-group (ionChange)="setType(type)" [(ngModel)]="type">
        <ion-row>
          
          <ion-col class="story-button1">
            <ion-item lines="none" color="none">
             
              <ion-radio mode="md" [value]="1"></ion-radio>
              
              <ion-label>Story</ion-label>
            </ion-item>
   
          </ion-col>
          
          <ion-col class="announcement">
            <ion-item lines="none" color="none">
              <ion-radio mode="md" [value]="2"></ion-radio>
              
              <ion-label>Announcement</ion-label>
            </ion-item>
          </ion-col>
          
        </ion-row>
      </ion-radio-group>

    </ion-row>

  </ion-grid> -->

  <ion-grid class="story-creation-form mt-10">

    <ion-row>

      <ion-col class="opt-label" size="12">

        <ion-label>Title <span class="asterisk">*</span></ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input [(ngModel)]="title"></ion-input>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col class="opt-label" size="12">

        <ion-label>Description</ion-label>

      </ion-col>

      <ion-col size="12">
        <!-- <ckeditor [editor]="Editor" [(ngModel)]="model.editorData"></ckeditor> -->
        <!-- <ion-textarea [(ngModel)]="description"></ion-textarea> -->
        <!-- <ng2-summernote [(ngModel)]="description" height="500" ></ng2-summernote> -->
        <div id="summernote1"></div>
      </ion-col>

    </ion-row>

    <ion-row class="upload-files">
      <ion-col class="opt-label mb-15" size="12">

        <ion-button class="ufile-btn" (click)="presentActionSheet()">
          <ion-icon name="add-circle-sharp"></ion-icon> Upload Files
          <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
        </ion-button>

      </ion-col>
      <!-- <ion-col class="opt-label mb-15" size="12">

        <ion-label>Upload Files</ion-label>

      </ion-col> -->

      <!-- <ion-col size="3" *ngIf="imageResponse.length<5">

        <div class="ion-activatable ripple-parent uf-container" (click)="selectImage()">
          <img src="assets/image-icon.svg">
          <ion-label>Image</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>

      </ion-col>

      <ion-col size="3" *ngIf="vdoResponse.length<5">

        <div class="ion-activatable ripple-parent uf-container" (click)="selectVdo()">
          <img src="assets/video-icon.svg">
          <ion-label>Video</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>

      </ion-col>

      <ion-col size="3">

        <div class="ion-activatable ripple-parent uf-container" (click)="videoUrl()">
          <img src="assets/link-icon.svg">
          <ion-label>Video url</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>

      </ion-col>

      <ion-col size="3" *ngIf="docResponse.length<5">


        <div class="ion-activatable ripple-parent uf-container" (click)="selectDoc()">
          <img src="assets/document-icon.svg">
          <ion-label>Document</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </div>


      </ion-col> -->

    </ion-row>

    <ion-grid *ngIf="hasAttach">


      <ion-row class="uploaded-images-container" *ngIf="imageResponse.length>0 && isImg">

        <ion-col size="3" class="col_fit uploaded-data" *ngFor="let item of imageResponse;let i=index">

          <ion-thumbnail class="uploaded-image">
            <img src="{{item}}" (click)="viewImage()">
            <ion-icon name="close-circle" class="remove-img" (click)="removeImg(i)"></ion-icon>
          </ion-thumbnail>



        </ion-col>
      </ion-row>

      <ion-row class="uploaded-images-container uvc" style="width:100%" *ngIf="vdoResponse.length>0 && isVdo">

        <ion-col size="12" class="col_fit-1" *ngFor="let item of vdoResponse;let i=index">

          <ion-label>{{item.name}}</ion-label>
          <span>
            <ion-icon name="close-circle" class="remove-file" (click)="removeVdo(i)"></ion-icon>
          </span>

        </ion-col>
      </ion-row>

      <ion-row class="uploaded-images-container uploaded-doc-container" style="width:100%"
        *ngIf="docResponse.length>0 && isDoc">

        <ion-col size="12" class="col_fit-1" *ngFor="let item of docResponse;let i=index">

          <ion-label><i class="las la-file-alt"></i> {{item.name}}</ion-label>
          <span>
            <ion-icon name="close-circle" class="remove-file" (click)="removeDoc(i)"></ion-icon>
          </span>

        </ion-col>
      </ion-row>

      <ion-row style="width: 100%;">

        <ion-col size="12">

          <ion-input [(ngModel)]="vdoUrl" *ngIf="isUrl" placeholder="Please enter the url here"></ion-input>

        </ion-col>

      </ion-row>



    </ion-grid>


    <ion-row class="tag-consumers" (click)="taggedConsumer()">

      <ion-col size="12">

        <!-- <ion-icon class="tag-icon" name="pricetag-outline"></ion-icon> -->
        <i class="thumb-icon las la-tag tag-icon"></i>

        <ion-label>Tag Residents</ion-label>

        <!-- <ion-item color="none" lines="none" class="tagged-consumers-container" *ngIf="tags.length>=1">
          <ion-label>{{tags[0].name}}</ion-label>
          <ion-label *ngIf="tags.length>=2">{{tags[1].name}}</ion-label>
          

       

          <ion-label *ngIf="tags.length>2">
            +{{tags.length - 2}}
          </ion-label>

        </ion-item> -->

        <ion-icon class="forward-arrow" name="chevron-forward-outline"></ion-icon>

      </ion-col>

    </ion-row>

    <ion-row (click)="taggedConsumer()" *ngIf="tags&&tags.length">

      <ion-col>
        <ion-label class="vtc">View tagged residents <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-label>
      </ion-col>

    </ion-row>

    <div class="sep-border"></div>

    <ion-row class="tag-consumers" (click)="visibleto()">

      <ion-col size="12">

        <!-- <ion-icon class="tag-icon" name="eye-outline"></ion-icon> -->
        <i class="thumb-icon las la-eye tag-icon"></i>

        <ion-label>Visible to <span class="asterisk">*</span></ion-label>

        <!-- <span class="vsc-link">View selected cosnumers</span> -->

        <ion-icon class="forward-arrow" name="chevron-forward-outline"></ion-icon>

      </ion-col>

    </ion-row>

    <ion-row class="s-option-row" (click)="visibleto()">

      <ion-col>
        <ion-label class="vtc">
          <ng-container *ngIf="visible_type==1">Public</ng-container>
          <ng-container *ngIf="visible_type==2">All residents and family </ng-container>
          <ng-container *ngIf="visible_type==4">Specific residents and family </ng-container>
          <ng-container *ngIf="visible_type==3">Specific residents </ng-container>
          <ion-badge class="vs-count"
            *ngIf="visible_type==3||visible_type==4">{{attendees.length}}</ion-badge></ion-label>
      </ion-col>

    </ion-row>

    <!-- <ion-row (click)="visibleto()" *ngIf="attendees&&attendees.length">

      <ion-col >
        <ion-label class="vtc">View selected <ion-badge class="vs-count" *ngIf="visible_type==3||visible_type==4">{{attendees.length}}</ion-badge> <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-label>
      </ion-col>

    </ion-row> -->

    <!-- <ion-row class="activity-date-picker mb-20">

      <ion-col class="col-fit col-start">

        <ion-icon name="calendar-clear-outline" class="ca-calendar-icon"></ion-icon>

      </ion-col>

      <ion-col>

        <ion-label>Active Date <span class="asterisk">*</span></ion-label>
        <ion-datetime value="2020-10-31T15:43:40.394Z" [min]="minDate" displayFormat=" DD/MMM/YYYY hh:mm: a"
          display-timezone="utc" [(ngModel)]="date">
        </ion-datetime>

      </ion-col>

    </ion-row> -->


    <ion-row class="mt-20 mb-zero" *ngIf="publish_status">

      <ion-col class="opt-label" size="12">

        <ion-label class="label-black display-inline-block">Status</ion-label>

        <ion-toggle class="ca-toggle-switch display-inline-block" (ionChange)="select($event)" [(ngModel)]="status"
          [checked]="status==1"></ion-toggle>

      </ion-col>

    </ion-row>


    <ion-row class="mt-20 mb-zero">

      <ion-col class="opt-label" size="12">

        <ion-label class="label-black display-inline-block">Disable comments</ion-label>

        <ion-toggle class="ca-toggle-switch display-inline-block" (ionChange)="hideComment($event)"
          [(ngModel)]="hide_comments" [checked]="hide_comments==1"></ion-toggle>

      </ion-col>

    </ion-row>



  </ion-grid>




  <ion-item color="none" lines="none" class="consumer-about-info">

    <div class="tabs">

      <div class="tab">

        <input type="checkbox" id="chck1">

        <label class="tab-label" for="chck1">Additional Information</label>

        <div class="tab-content">

          <ion-grid class="consumer-about-form">

            <ion-row class="act-select-category">

              <ion-col class="opt-label" size="12">

                <ion-label>Category</ion-label>

              </ion-col>

              <ion-col size="12">

                <ion-item lines="none" color="none">
                  <ion-select mode="ios" placeholder="Select Category" [interfaceOptions]="customOptions"
                    interface="action-sheet" [(ngModel)]="category" multiple="true">
                    <ion-select-option value="{{item.id}}" *ngFor="let item of categories">{{item.category_name}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>

              </ion-col>

            </ion-row>

            <ion-row class="act-select-category">

              <ion-col class="opt-label" size="12">

                <ion-label>Sites <span class="asterisk">*</span></ion-label>

              </ion-col>

              <ion-col size="12">

                <!-- <ion-item lines="none" color="none"  *ngIf="utype==1">
                 
                  <ion-select placeholder="Select Facilities" #selector style="pointer-events: none;opacity:1" [interfaceOptions]="customAlertOptions" [(ngModel)]="facility" disabled>
                    <ion-select-option value="{{item.id}}" *ngFor="let item of branch">{{item.name}}</ion-select-option>
                  </ion-select>
                  
                </ion-item> -->

                <ion-item lines="none" color="none">
                  <ion-select placeholder="Select sites" [(ngModel)]="facility" disabled
                    (ionChange)="selectBranch($event,facility)" style="opacity:1" interface="action-sheet">
                    <ion-select-option value="{{item.id}}" *ngFor="let item of branch">{{item.name}}</ion-select-option>
                  </ion-select>


                </ion-item>

              </ion-col>

            </ion-row>


            <ion-row class="act-select-category">

              <ion-col class="opt-label" size="12">

                <ion-label>Active Date <span class="asterisk">*</span></ion-label>

              </ion-col>

              <ion-col>

                <ion-datetime mode="md" value="2020-10-31T15:43:40.394Z" [max]="2040" [min]="minDate"
                  displayFormat=" DD/MMM/YYYY hh:mm: a" display-timezone="utc" [(ngModel)]="date">
                </ion-datetime>

              </ion-col>

            </ion-row>





          </ion-grid>

        </div>

      </div>

    </div>

  </ion-item>




</ion-content>

<!-- <ion-footer class="ion-no-border" >
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" *ngIf="status==1" [disabled]="disable" (click)="confirm()">
      <ion-icon src="assets/sent-icon.svg"></ion-icon> Publish
    </ion-button>
    <ion-button class="publish-btn" expand="block" *ngIf="status==0" [disabled]="disable" (click)="confirm()">
      <ion-icon src="assets/sent-icon.svg"></ion-icon> Save as draft
    </ion-button>
    <ion-button class="publish-btn" expand="block" *ngIf="!publish_status&&status==2" [disabled]="disable" (click)="confirm()">
      <ion-icon src="assets/sent-icon.svg"></ion-icon> Send for approval
    </ion-button>
  </ion-toolbar>
</ion-footer> -->

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" *ngIf="status==1" [disabled]="disable" (click)="confirm(1)">
      Publish
    </ion-button>
    <ion-button class="publish-btn" expand="block" *ngIf="status==0" [disabled]="disable" (click)="confirm(2)">
      Save as draft
    </ion-button>
    <ion-button class="publish-btn" expand="block" *ngIf="!publish_status&&status==2" [disabled]="disable"
      (click)="confirm(3)">
      Send for approval
    </ion-button>
  </ion-toolbar>
</ion-footer>