<ion-header mode="ios" class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <!-- <ion-icon name="arrow-back-outline" (click)="dismiss()">
          </ion-icon> -->
          <ion-label>Edit folder</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end" (click)="dismiss()">
          <ion-button class="hdr-close-btn">
            <ion-icon name="close-circle-sharp"></ion-icon>
          </ion-button>
        </ion-col>


      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="rv-doc-edit-form">

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15">

      <ion-label class="rvde-form-label"> Folder name <span class="asterisk">*</span></ion-label>

      <ion-input [(ngModel)]="name"></ion-input>

    </ion-col>

  </ion-row>

</ion-content>

<ion-footer>

  <ion-item lines="none" color="none">

    <ion-button class="rvde-save-btn" (click)="save()">Save</ion-button>

    <ion-button class="rvde-cancel-btn" (click)="dismiss()">Cancel</ion-button>

  </ion-item>

</ion-footer>