ion-header {
    min-height: 65px !important;

    ion-toolbar {
        --min-height: auto;

        .hdr-close-btn {
            --background: transparent;
            --box-shadow: none;
            --padding-end: 0;
            --padding-start: 0;
            --border-radius: 50px;

            ion-icon {
                color: #fff;
                font-size: 32px;
            }
        }
    }
}
ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.rv-doc-edit-form {
    .rvde-form-label {
        // font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #646464;
    }

    ion-input {
        --padding-start: 15px;
        --padding-end: 15px;
        color: #222;
        background: #f3f3f3;
        border-radius: 10px;
        height: 50px;
        margin-top: 15px;
    }

    ion-textarea {
        color: #222;
        background: #f3f3f3;
        border-radius: 10px;
        min-height: 150px;
        --padding-start: 15px;
        --padding-end: 15px;
    }
}

ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;

        .rvde-save-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #0077b5;
            color: #fff;
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }

        .rvde-cancel-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #8b8b8b;
            color: #fff;
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .rv-doc-edit-form {
        ion-col {
            padding: 10px;
        }
    }
}

.header-ios {
    padding-top: 0 !important;
    padding-bottom: 5px !important;
    min-height: unset !important;
}
