ion-content {
    --padding-top: 30px !important;
    --padding-bottom: 30px !important;
    --padding-start: 30px !important;
    --padding-end: 30px !important;
}

.add-comments-label {
    width: 100%;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    // font-weight: 500;
    margin-bottom: 10px;
    color: #222;
}

.comments {
    flex-wrap: wrap;
    display: flex;
    min-width: 100%;
    line-height: 20px;
    color: #222;
    background: #efefef;
    border-radius: 10px;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    font-size: 16px;
    min-height: 150px;
    overflow-y: scroll;
    white-space: break-spaces;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.uploaded-images-container {
    margin-top: 20px;

    ion-col {
        margin-right: 15px;
        margin-bottom: 20px;
    }
}

.uploaded-image {
    width: 80px;
    height: 80px;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    position: relative;

    img {
        border-radius: 4px;
    }
}

.uploaded-image-name {
    margin-top: 10px;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 80px;
}

.form-submit-btn {
    padding: 10px 30px !important;
}

.remove-img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: -10px;
    right: -8px;
    z-index: 999;
    color: #c33939;
    background: #fff;
    border-radius: 50px;
}

@media (min-width: 768px) {
    .comments {
        min-height: 150px;
    }
}

.attach-icon {
    color: #0077b5;
    transform: rotate(35deg);
    font-size: 30px;
    vertical-align: middle;
    margin-left: -5px;
}

.attach-images {
    color: #222;
    font-family: "Roboto", sans-serif;
    margin-left: 5px;
}

ion-item {
    --min-height: auto;
    --padding-start: 0;
    --inner-padding-end: 0;

    ion-label {
        margin: 0;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #383030;
    }

    ion-toggle {
        --handle-width: 22px;
        --handle-height: 22px;
        --handle-spacing: 2px;
        --background: #9c9c9c;
        --handle-background-checked: #0077b5;
        --background-checked: #b4defb;
        width: 56px;
        height: 28px;
        padding: 0;
        margin-right: 1px;
    }
}

.ac-note {
    background: hsl(11deg 68% 95%);
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    color: #f36a49;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;

    ion-icon {
        font-size: 20px;
        margin-right: 2px;
        vertical-align: sub;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-ios {
        padding-top: 15px;
    }
}

ion-footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fff;
    padding: 10px;

    .comment-submit-btn {
        --border-radius: 50px;
        --background: #0077b5;
        --background-activated: #058acf;
        --background-hover: #058acf;
        --box-shadow: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-transform: none;
        width: 100%;
        height: 55px;
    }
}

@media only screen and (min-width:700px) {
    ion-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .comment-submit-btn {
            max-width: fit-content;
            min-width: 150px;
        }
    } 
}