<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Add Comment</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="width: 100%;" class="mb-10">
    <ion-label class="add-comments-label">Comments<span class="red-asterisk">*</span></ion-label>
    <ion-textarea class="comments" rows="6" clearOnEdit="true" auto-grow="true" name="comment"
      placeholder="Enter your comments" [(ngModel)]="comment"></ion-textarea>
  </div>




  <!-- <app-multi-file-upload></app-multi-file-upload> -->

  <ion-row class="mb-10">
    <!-- <ion-col *ngFor="let item of img">
      <ion-thumbnail style="height:90px;width:90px">
        <img [src]="item">
      </ion-thumbnail>
    </ion-col> -->

    <ion-col *ngIf="imageResponse.length<5" (click)="selectImage()">
      <ion-icon class="attach-icon" name="attach-outline"></ion-icon>
      <span class="attach-images">Attach Images</span>
    </ion-col>
  </ion-row>


  <!-- <ion-row class="uploaded-images-container" *ngIf="imageResponse.length>0">

    <ion-col size="3" class="col_fit" *ngFor="let item of imageResponse ;let i=index">

      <ion-thumbnail class="uploaded-image">
        <img src="{{item}}" (click)="viewImage()">
        <ion-icon name="close-circle-outline" class="remove-img" (click)="removeImg(i)"></ion-icon>
      </ion-thumbnail>

    </ion-col>

  </ion-row> -->

  

  <ion-row class="uploaded-images-container" *ngIf="imageResponse.length>0">

    <ion-col size="3" class="col_fit" *ngFor="let item of imageResponse ;let i=index">

      <ion-thumbnail class="uploaded-image">
        <img src="{{item}}" (click)="viewImage()">
        <ion-icon name="close-circle-sharp" class="remove-img" (click)="removeImg(i)"></ion-icon>
      </ion-thumbnail>

    </ion-col>

  </ion-row>


  <ion-row>

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

      <ion-item lines="none" color="none" class="mb-20">

        <ion-label>
          Visible to public
        </ion-label>

        <ion-toggle slot="end" [(ngModel)]="visibility"></ion-toggle>

      </ion-item>

      <p class="ac-note">
        <ion-icon name="alert-circle-sharp"></ion-icon>
        Please tick visible to public, if the person who created the request or associated Resident/Family should be
        able to see this comment.
      </p>

    </ion-col>

  </ion-row>


  <!-- <ion-item color="none" lines="none" class="mb_20">

    <span class="form-btn-alignment">

      <ion-label class="form-submit-btn" (click)="submit()">Submit</ion-label>

    </span>

  </ion-item> -->

</ion-content>

 <ion-footer>

  <ion-button class="comment-submit-btn" (click)="submit()">Submit</ion-button>

</ion-footer>