
<ion-content>
<ion-item style="margin-top: 15px;" lines="none" (click)="select(1)">
  <ion-label class="act_filter">Today</ion-label>
</ion-item>

<hr class="filter_sep">

<ion-item lines="none" style="margin-top: -5px;" (click)="select(2)">
  <ion-label class="act_filter">Yesterday</ion-label>
</ion-item>

<hr class="filter_sep">

<ion-item lines="none" style="margin-top: -5px;" (click)="select(3)">
  <ion-label class="act_filter">Last 7 days</ion-label>
</ion-item>

<hr class="filter_sep">

<ion-item lines="none" style="margin-top: -5px;" (click)="select(4)">
  <ion-label class="act_filter">Last 30 days</ion-label>
</ion-item>

<hr class="filter_sep">

<ion-item lines="none" style="margin-top: -5px; margin-bottom: 20px;" (click)="select(5)">
  <ion-label class="act_filter">Custom range</ion-label>
</ion-item>

<div *ngIf="custom">

<ion-row class="activity-date-picker mb-20">

 

  <ion-col>

    <ion-label>Start Date <span class="asterisk">*</span></ion-label>
    <ion-datetime value="2020-10-31T15:43:40.394Z" [max]="minDate" displayFormat=" DD MMM YYYY" display-timezone="utc" [(ngModel)]="startdate">
    </ion-datetime>

  </ion-col>

</ion-row>

<ion-row class="activity-date-picker mb-20">



  <ion-col>

    <ion-label>End Date <span class="asterisk">*</span></ion-label>
    <ion-datetime value="2020-10-310.394Z" [max]="minDate" displayFormat=" DD MMM YYYY" display-timezone="utc" [(ngModel)]="enddate">
    </ion-datetime>

  </ion-col>

</ion-row>
<div style="text-align: center;">
<ion-button  [disabled]="startdate==undefined || enddate==undefined" (click)="apply()">Apply</ion-button>
</div>
</div>
</ion-content>
