ion-popover-view.fit {
    height: auto !important;
  }
  
  ion-popover-view.fit ion-content {
    position: relative !important;
  }
  
  .platform-android ion-popover-view.fit {
    margin-bottom: 10px !important;
  }