ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;

    ion-grid {
        padding-left: 0;
        padding-right: 0;
    }
}

.birthdays-container {
    // font-size: 18px;
    // font-weight: 500;
    // color: #232323;
    width: 100%;
    padding: 6px 15px 5px;
    margin: 0;
    background: #eff8fd;
    border-radius: 4px;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #003879;
    margin-bottom: 0;

    .birthday-count {
        font-size: 15px;
        color: #9C27B0;
        font-weight: 500;
        display: none;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 767px) {

    .room-no {
        min-width: 180px;
    }

}



@media only screen and (min-width: 768px) {

    .consumer-info-container {

        ion-avatar {
            width: 60px;
            height: 60px;
        }

        ion-col {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            // justify-content: center;

            &:nth-child(2) {
                margin-left: 0px !important;
                margin-top: 0px;
                padding-left: 0px !important;
            }
        }



    }
}

.room-no {
    color: #545556;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.wing-name {
    color: #545556;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

.dob {
    color: #ffc107;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

.header-buttons ion-icon, i {
    font-size: 22px !important;
}

.header-buttons i {
    background-color: #2d95cb;
        border-radius: 50px;
        max-width: 40px;
        max-height: 40px;
        padding: 9px;
        font-size: 20px;
}

.consumer-info-container {
    border: 1px solid #eaeaea;
    padding: 10px;
    border-radius: 10px;
    height: 100%;

    ion-avatar {
        width: 50px;
        height: 50px;
    }

    ion-label {
        line-height: 20px;
        text-align: left;

        span {
            margin-top: 0;
        }
    }

    ion-col:nth-child(2) {
        padding-left: 15px !important;
    }

    .bdm-box {
        padding: 8px;
        background: #f4f5fa;
        border-radius: 6px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-left: auto;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000;

        span {
            margin-bottom: 0;
            font-family: "Roboto", sans-serif;
            font-size: 13px;
            font-weight: normal;
            line-height: normal;
            color: #000;
        }
    }
}

.bd-year-box {
    margin: 5px auto 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    ion-icon {
        font-size: 25px;
        color: #7e7e7e;
    }

    ion-label {
        font-size: 22px;
        font-weight: 600;
        color: #0077B5;
        margin: 0 35px;
    }
}

.ml-auto {
    margin-left: auto;
}

.clife-search-bar {
    margin-top: 5px;
}

.pl-20 {
    padding-left: 20px;
}