<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Birthdays</ion-label>
        </ion-col>

        <ion-col class="col-fit header-buttons ion-align-self-end" size="4" (click)="filter($event)">

          <!-- <ion-icon name="funnel-outline"></ion-icon> -->
          <i class="las la-filter"></i>

        </ion-col>

      </ion-row>
      <ion-row>

        <ion-col>

          <ion-searchbar class="clife-search-bar" placeholder="Search residents" (ionCancel)="cancel()"
            [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bd-year-box">

    <!-- <ion-icon name="chevron-back-outline" *ngIf="year!=current_year" (click)="changeYear(1)"></ion-icon> -->

    <ion-label>{{year}}</ion-label>

    <!-- <ion-icon name="chevron-forward-outline" *ngIf="year==current_year" (click)="changeYear(2)"></ion-icon> -->

  </div>

  <div *ngIf="bdy.length>0">

    <ion-grid>

      <ion-row>

        <ion-col size="12">

          <ion-label class="birthdays-container" *ngIf="bdyFilter==1&&terms==''">

            Today
            <span class="birthday-count">{{bdy.length}} Birthdays today</span>

          </ion-label>
          <ion-label class="birthdays-container" *ngIf="bdyFilter==2&&terms==''">

            Tomorrow
            <span class="birthday-count">{{bdy.length}} Birthdays tomorrow</span>

          </ion-label>
          <ion-label class="birthdays-container" *ngIf="bdyFilter==3&&terms==''">

            This week
            <span class="birthday-count">{{bdy.length}} Birthdays this week</span>

          </ion-label>
          <ion-label class="birthdays-container" *ngIf="bdyFilter==4&&terms==''">

            This month
            <span class="birthday-count">{{bdy.length}} Birthdays this month</span>

          </ion-label>
          <ion-label class="birthdays-container" *ngIf="bdyFilter==5&&terms==''">

            Next month
            <span class="birthday-count">{{bdy.length}} Birthdays next month</span>

          </ion-label>

        </ion-col>

      </ion-row>

    </ion-grid>

    <ion-grid>

      <ion-row *ngIf="bdy.length>0 && ( bdy | consumersearch : terms) as result">

        <ion-col size-sm="12" size-md="4" size-lg="4" size="12"
          *ngFor="let item of bdy| consumersearch : terms;let i=index">

          <ion-row class="consumer-info-container" (click)="showProfile(item)">

            <ion-col class="col-fit">

              <ion-avatar>
                <img src="{{item.user.profile_pic}}">
              </ion-avatar>

            </ion-col>

            <ion-col size-sm="6" size-md="6" size-lg="8" size="6">

              <ion-label style="color:#1c1c1c">
                {{item.user.name}}

                <span  class="room-no" *ngIf="item.dob">({{calculateAge(item.dob)}} years)</span>

                <span class="room-no" *ngIf="item.room">
                  {{item.room}}
                </span>

                <!-- <span class="wing-name">
                {{item.wing.name}}
              </span> -->

                <!-- <span class="dob">
                  {{getDOB(item.dob)}}
                </span> -->

                <span class="wing-name" *ngIf="item.wing&&rv!==1">
                  {{item.wing.name}}
                </span>

                <span class="wing-name" *ngIf="item.property_details&&item.property_details.contract_details&&item.property_details.contract_details.property&&item.property_details.contract_details.property.location&&rv==1">
                  {{item.property_details.contract_details.property.location.name}}
                </span>

              </ion-label>

            </ion-col>

            <ion-col class="col-fit ml-auto">

              <p class="bdm-box">
                {{item.dob| dateformat:'DD'}}
                <span>{{item.dob| dateformat:'MMM'}}</span>
              </p>

            </ion-col>

          </ion-row>

        </ion-col>


        <div *ngIf="result.length==0" style="width: -webkit-fill-available;">
          <ion-thumbnail
            style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
            <img src="assets/no-birthdays.png">
          </ion-thumbnail>
      
          <ion-item lines="none" style="margin-top: 25px;">
            <ion-label
              style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
              No Birthdays {{message}}</ion-label>
          </ion-item>
        </div>

      </ion-row>

    </ion-grid>

  </div>

  <div *ngIf="yearView" >

    
    <div *ngFor="let item of all_list">
    <ion-grid *ngIf="!terms">

      <ion-row>

        <ion-col size="12">

          <ion-label class="birthdays-container" >

            {{item.month}}
            <!-- <span class="birthday-count">{{bdy.length}} Birthdays today</span> -->

          </ion-label>
          

        </ion-col>

      </ion-row>

    </ion-grid>

    <ion-grid *ngIf="item.bdy&&item.bdy.length>0">

      <ion-row>

        <ion-col size-sm="12" size-md="4" size-lg="4" size="12"
          *ngFor="let bdy of item.bdy| consumersearch : terms;let i=index">

          <ion-row class="consumer-info-container" (click)="showProfile(bdy)">

            <ion-col class="col-fit">

              <ion-avatar>
                <img src="{{bdy.user.profile_pic}}">
              </ion-avatar>

            </ion-col>

            <ion-col size-sm="6" size-md="6" size-lg="8" size="6">

              <ion-label>
                {{bdy.user.name}}
                <span  class="room-no" *ngIf="bdy.dob">({{calculateAge(bdy.dob)}} years)</span>
                <span class="room-no" *ngIf="bdy.room">
                 {{bdy.room}}
                </span>

                <!-- <span class="wing-name">
                {{item.wing.name}}
              </span> -->

                <!-- <span class="dob">
                  {{getDOB(item.dob)}}
                </span> -->

                <span class="wing-name" *ngIf="bdy.wing&&rv!==1">
                  {{bdy.wing.name}}
                </span>
                <span class="wing-name" *ngIf="bdy.property_details&&bdy.property_details.contract_details&&bdy.property_details.contract_details.property&&bdy.property_details.contract_details.property.location&&rv==1">
                  {{bdy.property_details.contract_details.property.location.name}}
                </span>

              </ion-label>

            </ion-col>

            <ion-col class="col-fit ml-auto">

              <p class="bdm-box">
                {{bdy.dob| dateformat:'DD'}}
                <span>{{bdy.dob| dateformat:'MMM'}}</span>
              </p>

            </ion-col>

          </ion-row>

        </ion-col>

       
        
      </ion-row>

    </ion-grid>

    <ion-label class="cblack pl-20" *ngIf="item.bdy.length==0&&!terms">No Birthdays</ion-label>
  </div>


 
  </div>

  


  <div *ngIf="bdy.length==0&&!yearView">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-birthdays.png">
    </ion-thumbnail>

    <ion-item lines="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Birthdays {{message}}</ion-label>
    </ion-item>
  </div>

  <!-- <div *ngIf="tomorrow.length>0">

  <ion-grid>

    <ion-row>

      <ion-col size="12">

        <ion-label class="birthdays-container">
          
          Tomorrow
          <span class="birthday-count">{{tomorrow.length}} Birthdays tomorrow</span>

        </ion-label>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="3" size-lg="3" size="12" *ngFor="let item of tomorrow | consumersearch : terms">

        <ion-row class="consumer-info-container">

          <ion-col class="col-fit">

            <ion-avatar>
              <img src="{{item.user.profile_pic}}">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              {{item.user.name}}

              <span class="room-no">
                Room No : {{item.room}}
              </span>

              <span class="wing-name">
                {{item.wing.name}}
              </span>

            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

  </ion-grid>

</div> -->

</ion-content>