ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.birthdays-container {
  font-size: 18px;
  font-weight: 500;
  color: #232323;
}

.birthdays-container .birthday-count {
  font-size: 15px;
  color: #9C27B0;
  font-weight: 500;
  display: block;
  margin-top: 5px;
}

@media only screen and (max-width: 767px) {
  .room-no {
    min-width: 180px;
  }
}

@media only screen and (min-width: 768px) {
  .consumer-info-container ion-avatar {
    width: 60px;
    height: 60px;
  }
  .consumer-info-container ion-col {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
  }
  .consumer-info-container ion-col:nth-child(2) {
    margin-left: 0px !important;
    margin-top: 15px;
    padding-left: 0px !important;
  }
}

.room-no {
  color: #545556;
  font-size: 15px;
}

.wing-name {
  color: #909090;
  font-size: 13px;
}

.dob {
  color: #ffc107;
  font-size: 13px;
}

.header-buttons ion-icon {
  font-size: 22px !important;
}
