ion-header {
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    position: relative;
    padding: 10px 10px 10px;

    ion-grid {
        ion-row {
            position: relative;

            .page_title {
                font-family: "Roboto", sans-serif !important;
                font-size: 18px !important;
                // font-weight: 500 !important;

                ion-icon {
                    vertical-align: middle;
                    font-size: 25px;
                }

                ion-text {
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }

            .page-close-btn {
                font-size: 32px;
                color: #fff;
                vertical-align: middle;
                position: absolute;
                right: 5px;
                top: -4px;
            }
        }
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    // --background: #eee;
    font-family: "Poppins", sans-serif !important;
}

.inner-content {
    background: #fff;
}

.main-content-wrapper {
    .cb-box {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px dashed #dbdbdb;

        &:last-child {
            border: none;
        }

        ion-item {
            --padding-start: 0;
            --inner-padding-end: 0;
            --min-height: auto;

            ion-checkbox {
                width: 25px;
                height: 25px;
                --border-radius: 5px;
                --border-color: #bdbdbd;
                --background: transparent;
                --border-width: 1px;
                --background-checked: #0077b5;
                --border-color-checked: #0077b5;
                --checkmark-color: #fff;
                margin: 0;
            }

            ion-label {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                color: #222;
                margin: 0 0 0 15px;
            }
        }
    }
}

ion-footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .continue-btn1 {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        height: 40px;
        font-size: 16px;
        margin: 0;
        display: block;
        max-width: fit-content;
        min-width: 92px;
    }
}

.footer-ios {
    padding-bottom: 15px !important;
}