<ion-header mode="md" class="ion-header-inner">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <!-- <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon> -->

        <ion-text>Notify me for the selected</ion-text>

      </ion-col>

      <ion-icon class="page-close-btn" name="close-circle-sharp" (click)="dismiss()"></ion-icon>

    </ion-row>

  </ion-grid>

</ion-header>

<div class="inner-content">

  <div class="main-content-wrapper">

    <div class="cb-box">
      <ion-item lines="none" color="none">
      <ion-checkbox mode="ios" [(ngModel)]="my_comment" [checked]="my_comment==1" (ionChange)="commentStatus($event)">
      </ion-checkbox>

      <ion-label class="not_label">New comment </ion-label>
    </ion-item>
    </div>

    <div class="cb-box">
      <ion-item lines="none" color="none">
      <ion-checkbox mode="ios" [(ngModel)]="message" [checked]="message==1" (ionChange)="messageStatus($event)">
      </ion-checkbox>

      <ion-label class="not_label">New message</ion-label>
    </ion-item>
    </div>

    <div class="cb-box">
      <ion-item lines="none" color="none">
      <ion-checkbox mode="ios" [(ngModel)]="call" [checked]="call==1" (ionChange)="callStatus($event)"></ion-checkbox>

      <ion-label class="not_label">Video call</ion-label>
    </ion-item>
    </div>

    

  </div>

</div>

<ion-footer>

  <ion-button class="continue-btn1" (click)="continue()">Continue</ion-button>

</ion-footer>