


<ion-content>
<ion-grid>
  <ion-row>

    <ion-col class="opt-label" size="12">
  
      <ion-label>Name <span class="asterisk">*</span></ion-label>
  
    </ion-col>
  
    <ion-col size="12">
  
      <ion-input class="custom-input" [(ngModel)]="name"></ion-input>
  
    </ion-col>
  
  </ion-row>


  <ion-row>

    <ion-col class="opt-label" size="12">
  
      <ion-label>Relation <span class="asterisk">*</span></ion-label>
  
    </ion-col>
  
    <ion-col size="12">
  
      <ion-input [(ngModel)]="relation"></ion-input>
  
    </ion-col>
  
  </ion-row>

  <ion-row>

    <ion-col class="opt-label" size="12">
  
      <ion-label>Email address <span class="asterisk">*</span></ion-label>
  
    </ion-col>
  
    <ion-col size="12">
  
      <ion-input [(ngModel)]="email"></ion-input>
  
    </ion-col>
  
  </ion-row>

  <ion-row>

    <ion-col class="opt-label" size="12">
  
      <ion-label>Username <span class="asterisk">*</span></ion-label>
  
    </ion-col>
  
    <ion-col size="12">
  
      <ion-input class="custom-input" [(ngModel)]="user_name"></ion-input>
  
    </ion-col>
  
  </ion-row>

  <ion-row>

    <ion-col size="12">

      <ion-icon name="call-outline" class="form-icon"></ion-icon>

      <ion-label class="label-black display-inline-block ml-10">Mobile number</ion-label>

    </ion-col>

    <ion-col size="12">

      <ion-input style="--padding-start:55px;" [(ngModel)]="phone" type="tel"></ion-input>

      <span class="country-code">+61</span>

    </ion-col>

  </ion-row>




  <ion-row>

    <ion-col size="12" style="margin-bottom: 10px; margin-top: 10px;">

      <ion-item lines="none" color="none">
      <ion-checkbox class="primary-rep-checkbox" mode="ios" (ionChange)="primaryCheck($event)" [(ngModel)]="is_primary" style="vertical-align: middle;"></ion-checkbox>
      <ion-label style="margin-left: 10px; vertical-align: middle;">Primary representative</ion-label>
    </ion-item>
    </ion-col>


  </ion-row>



  <ion-row>

    <ion-col class="opt-label" size="12">
  
      <ion-label>Home phone number</ion-label>
  
    </ion-col>
  
    <ion-col size="12">
  
      <ion-input [(ngModel)]="home" type="tel"></ion-input>
  
    </ion-col>
  
  </ion-row>


  <ion-row>

    <ion-col class="opt-label" size="12">
  
      <ion-label>Work phone number</ion-label>
  
    </ion-col>
  
    <ion-col size="12">
  
      <ion-input [(ngModel)]="work" type="tel"></ion-input>
  
    </ion-col>
  
  </ion-row>


  
</ion-grid>


<div class="cb-footer-btns">

  <ion-button class="cb-continue-btn" (click)="confirm()" >Update</ion-button>

<ion-button class="cb-cancel-btn" (click)="cancel()">Cancel</ion-button>

</div>

</ion-content>