ion-header {
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    position: relative;
    padding: 10px 10px 10px;

    ion-grid {
        ion-row {
            position: relative;

            .page_title {
                font-family: "Roboto", sans-serif !important;
                font-size: 18px !important;
                // font-weight: 500 !important;

                ion-icon {
                    vertical-align: middle;
                    font-size: 25px;
                }

                ion-text {
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }

            .page-close-btn {
                font-size: 32px;
                color: #fff;
                vertical-align: middle;
                position: absolute;
                right: 5px;
                top: -4px;
            }
        }
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    // --offset-bottom: 0 !important;
    overflow-y: scroll !important;
}

.ionic-content {
    --offset-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.scroll-content {
    padding-bottom: 0 !important;
}

ion-input {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    --padding-start: 15px;
    --padding-end: 15px;
    margin-top: 10px;
    color: #1c1c1c !important;
}

.country-code {
    font-size: 16px;
    color: #828282 !important;
    border-right: 1px solid #c8c8c8;
    padding-right: 10px;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

ion-col {
    // margin-bottom: 5px;
    margin-bottom: -10px;
}

.pr-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --min-height: auto;

    .primary-rep-checkbox {
        width: 25px;
        height: 25px;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
        --border-radius: 4px;
        --border-color: #c5c5c5;
        --background: #fff;
        --background-checked: #0077b5;
        --border-color-checked: #0077b5;
        --border-width: 1px;
        --checkmark-width: 2px;
    }

    .pr-label {
        font-family: "Roboto", sans-serif !important;
        font-size: 16px !important;
        color: #1c1c1c;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
    }
}

ion-footer {
    background: #fff;
    padding: 5px;

    .cb-footer-btns {
        ion-button {
            text-transform: capitalize !important;
            font-weight: normal !important;
        }
    }
}
