ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --offset-bottom: 0 !important;
  overflow-y: scroll !important;
}

.ionic-content {
  --offset-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.scroll-content {
  padding-bottom: 0 !important;
}

ion-input {
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  --padding-start: 15px;
  --padding-end: 15px;
  margin-top: 10px;
  color: #1c1c1c !important;
}

.country-code {
  font-size: 16px;
  color: #828282 !important;
  border-right: 1px solid #c8c8c8;
  padding-right: 10px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

ion-col {
  margin-bottom: 5px;
}

.cb-footer-btns ion-button {
  text-transform: capitalize !important;
  font-weight: normal !important;
}
