<ion-header class="inner-header-1">
  <ion-label style="color:#fff">
    Food options
  </ion-label>
</ion-header>



<ion-content *ngIf="data">

  <div class="fo-box" *ngFor="let item of data">
    <ion-label class="fo-title">{{item.menu_item_option.option_detail.option_name}}</ion-label>
    <ion-label class="fo">{{item.menu_item_value.value_detail.option_value}}</ion-label>
  </div>
</ion-content>