.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.6);
}

.close_icon {
  position: absolute;
  top: 0px;
  font-size: 40px !important;
  width: 100%;
  text-align: right;
  z-index: 9999;
}
