.myOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 200;
    bottom: 0px;
    opacity: 0.2;
    background: rgba(0,0,0,0.6);
  
    // color: #fff;
  
  }


  .close_icon {
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 40px !important;
    width: 100%;
    text-align: right;
    //   margin-left: auto;
    //   margin-right: 0px;
    color: #fff;
    z-index: 9999;
  
    ion-icon {
      background-color: rgb(0 0 0 / 80%);
      border-radius: 50px;
    }
  }
  
  .pop {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
    background: #000;
  
    img {
      object-fit: contain;
      height: 100vh;
      width: 100%;
    }
  }