<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline"></ion-icon>
          <ion-label>Attended Reason</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>



  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-radio-group value="visible-to">

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Enjoyed activity</ion-label>
        <ion-radio slot="start" value="enjoyed-activity"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Participated actively</ion-label>
        <ion-radio slot="start" value="participated-actively"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Participated with prompting and encouragement</ion-label>
        <ion-radio slot="start" value="pwith-prompt-encrg"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Happy to observe</ion-label>
        <ion-radio slot="start" value="happy-to-observe"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Verbally disruptive</ion-label>
        <ion-radio slot="start" value="verbally-disruptive"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Minimal or no response</ion-label>
        <ion-radio slot="start" value="min-no-resp"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Distracted or unsettled</ion-label>
        <ion-radio slot="start" value="distract-unsettled"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>No interest</ion-label>
        <ion-radio slot="start" value="no-interest"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Other</ion-label>
        <ion-radio slot="start" value="other"></ion-radio>
      </ion-item>

    </ion-radio-group>

  </ion-list>

</ion-content>