<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Edit Profile</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-card class="rel_details_card">
    <ion-item lines="none" style="margin-top: 25px;">
      <ion-avatar class="custom_avtar" *ngIf="img">
        <img [src]="img">
          <ion-icon class="edit_profile_circle_icon" (click)="selectImage()"></ion-icon>
      </ion-avatar>
      <ion-avatar class="custom_avtar bg-green bg-lighten-4" *ngIf="!img">
        <ion-label style="margin-left: 60px;margin-top: 50px;font-size: 35px; font-weight: bold;">{{p_name}}</ion-label>
          <ion-icon class="edit_profile_circle_icon" (click)="selectImage()"></ion-icon>
      </ion-avatar>
      
    </ion-item>
    <ion-item lines="none">
      <ion-label class="edit_username">{{name}}</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="edit_email">{{email}}</ion-label>
    </ion-item>
    
  </ion-card>
  <!-- <ion-item color="none" lines="none" *ngIf="flag==2">
    <ion-button  fill="clear" (click)="skip()" class="skip-button">
      skip
    </ion-button>
  
  </ion-item> -->
</ion-content>