ion-content {
    --background: #eee;
}

.rel_details_card {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px 15px;
    border: 1px solid #dcdcdc;
    box-shadow: none !important;
}

.custom_avtar {
    width: 130px !important;
    height: 130px !important;
}

.edit_profile_circle_icon {
    top: 80px;
    left: 105px;
}

.edit_username {
    font-size: 18px !important;
    margin-top: 10px !important;
}

ion-item {
    --min-height: auto;
}

.edit_email {
    font-family: "Roboto", sans-serif !important;
    font-size: 15px !important;
    color: #6c6c6c !important;
    margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
    .rel_details_card {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        max-width: 30%;
    }
}
