<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="cancel()"></ion-icon>
          <ion-label>Confirm Video Call Booking</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" color="none" class="confirm-vcall-icon">

    <img src="assets/confirm-video-call.svg">

  </ion-item>

  <ion-item color="none" lines="none" class="confirm-text">

    <ion-label>
      Are you sure you would like to book a video call with <span>{{name}}</span> ?
    </ion-label>

  </ion-item>


  <ion-item color="none" lines="none" class="cb-dt-info">

    <ion-label>
      {{date | dateformat:'DD MMMM yyyy'}} <span>{{slot}}</span>
    </ion-label>

  </ion-item>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-10">

        <ion-label class="call-participants-title">
          Participants
        </ion-label>

      </ion-col>

      

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="consumer-info-sec">

        <ion-row class="consumer-info-container">

          <ion-col class="col-fit">

            <ion-avatar>
              <img [src]="rec_pic">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              {{name}}
            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>


      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of family" class="consumer-info-sec">

        <ion-row class="consumer-info-container">

          <ion-col class="col-fit">

            <ion-avatar>
              <img [src]="item.pic">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              {{item.name}}
            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

  </ion-grid>



  <ion-grid>

    <ion-row>

      <ion-col size="12" class="cb-comments-sec">

        <ion-label>
          Comments
        </ion-label>

        <ion-textarea placeholder="Enter your comments" rows="6" cols="20" [(ngModel)]="comment"></ion-textarea>

      </ion-col>

    </ion-row>

  </ion-grid>


</ion-content>

<ion-footer>
  
  <ion-toolbar>
    
    <div class="cb-footer-btns">

      <ion-button class="cb-continue-btn" (click)="confirm()" >Continue</ion-button>

    <ion-button class="cb-cancel-btn" (click)="cancel()"> <ion-label>Cancel</ion-label></ion-button>

    </div>
    
  </ion-toolbar>

</ion-footer>