ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background: #eee;
}

.consumer-info-sec {
    margin-bottom: 10px;

    .consumer-info-container {
        ion-col:nth-child(2) {
            align-self: center;
        }
    }
}

.cb-cancel-btn {
    ion-label {
        color: #868686;
    }
}

.cb-comments-sec {
    ion-textarea {
        background: #fff;
        border: 1px solid #e1e1e1 !important;
    }
}

@media only screen and (min-width: 768px) {
    .consumer-info-sec {
        margin-bottom: 0px;
        padding: 10px;
    }
}
