ion-header {
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    position: relative;
    padding: 10px 10px 10px;

    ion-grid {
        ion-row {
            position: relative;

            .page_title {
                font-family: "Roboto", sans-serif !important;
                font-size: 18px !important;
                // font-weight: 500 !important;

                ion-icon {
                    vertical-align: middle;
                    font-size: 25px;
                }

                ion-text {
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }

            .page-close-btn {
                font-size: 32px;
                color: #fff;
                vertical-align: middle;
                position: absolute;
                right: 5px;
                top: -4px;
            }
        }
    }
}

.inner-content {
    padding: 20px;
    background: #fff;
}

ion-content {
    --padding-start:20px;
    --padding-end:20px;
    --padding-top:20px;
    --padding-bottom:20px;
}