<ion-header mode="md" class="ion-header-inner">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <ion-text >Pet details</ion-text>

      </ion-col>

      <ion-icon class="page-close-btn" name="close-circle-sharp" (click)="dismiss()"></ion-icon>

    </ion-row>

  </ion-grid>

</ion-header>

<div class="inner-content" *ngIf="pet">

  <div class="pet-details-sec">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Pets type</ion-label>

          <div class="pds-item-ans-block">

            <ion-text>{{pet.pettype.name}}</ion-text>

          </div>

        </div>

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Other type</ion-label>

          <div class="pds-item-ans-block">

            <ion-text>Dog</ion-text>

          </div>

        </div>

      </ion-col> -->

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Pet name</ion-label>

          <div class="pds-item-ans-block">

            <ion-text>{{pet.name}}</ion-text>

          </div>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Breed</ion-label>

          <div class="pds-item-ans-block">

            <ion-text>{{pet.breed}}</ion-text>

          </div>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Colour</ion-label>

          <div class="pds-item-ans-block">

            <ion-text>{{pet.colour}}</ion-text>

          </div>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Pet sitting required</ion-label>

          <div class="pds-item-ans-block">

            <ion-text *ngIf="pet.pet_sit==1">Yes</ion-text>
            <ion-text *ngIf="pet.pet_sit==0">No</ion-text>

          </div>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Description</ion-label>

          <div class="pds-item-ans-block">

            <p>{{pet.description}}</p>

          </div>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="pet.petimages&&pet.petimages.length">

        <div class="pds-item">

          <ion-label class="pds-label">Pet images</ion-label>

          <div class="pet-images-holder">

            <div class="single-pet-photo-holder" *ngFor="let img of pet.petimages">

              <ion-avatar class="single-pet-avatar"  (click)="viewPetImages(img.images)">
                <img [src]="img.images" *ngIf="!img.images.includes('.pdf')">
                <img class="rvp-pdf-icon" src="assets/pdf_icon.svg" *ngIf="img.images.includes('.pdf')">
              </ion-avatar>

            </div>

            

          </div>

        </div>

      </ion-col>

      <div class="section-separator" (click)="hideSection(1)">

        <ion-label class="section-name">Emergency information for pets</ion-label>
        <ion-icon class="section-expand-icon" name="chevron-down" ></ion-icon>

      </div>

      <ng-container *ngIf="emergency_section">

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Emergency info</ion-label>

          <div class="pds-item-ans-block">

            <p>{{pet.emergency_info}}</p>

          </div>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Name</ion-label>

          <div class="pds-item-ans-block">

            <ion-text>{{pet.emergency_name}}</ion-text>

          </div>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Phone</ion-label>

          <div class="pds-item-ans-block">

            <ion-text>{{pet.emergency_phone}}</ion-text>

            <ion-button class="rvpd-call-btn" *ngIf="pet.emergency_phone" (click)="makeCall(pet.emergency_phone)">
              <i class="las la-phone"></i>
            </ion-button>

          </div>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Email</ion-label>

          <div class="pds-item-ans-block pdsiab-no-border">

            <ion-text>{{pet.emergency_email}}</ion-text>

          </div>

        </div>

      </ion-col>
    </ng-container>

      <div class="section-separator" (click)="hideSection(2)">

        <ion-label class="section-name">Vet details</ion-label>
        <ion-icon class="section-expand-icon" name="chevron-down"></ion-icon>

      </div>

      <ng-container *ngIf="vet_section">

      
      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Clinic</ion-label>

          <div class="pds-item-ans-block">

            <ion-text>{{pet.clinic}}</ion-text>

          </div>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Doctor</ion-label>

          <div class="pds-item-ans-block">

            <ion-text>{{pet.doctor}}</ion-text>

          </div>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Phone</ion-label>

          <div class="pds-item-ans-block">

            <ion-text>{{pet.phone}}</ion-text>

            <ion-button class="rvpd-call-btn" *ngIf="pet.phone" (click)="makeCall(pet.phone)">
              <i class="las la-phone"></i>
            </ion-button>

          </div>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <div class="pds-item">

          <ion-label class="pds-label">Additional info</ion-label>

          <div class="pds-item-ans-block">

            <p>{{pet.additional_info}}</p>

          </div>

        </div>

      </ion-col>

    </ng-container>

    </ion-row>

  </div>

</div>
