<iframe id="ytplayer" type="text/html" width="100%" height="100%"
  [src]="data"
  frameborder="0"></iframe>
  <ion-icon class="pop-close-btn" name="close-circle-outline" (click)="dismiss()"></ion-icon>