.pop-close-btn {
    display: flex;
    position: absolute;
    z-index: 999;
    left: 22px;
    top: 22px;
    font-size: 30px;
    color: #fff;
    background-color: #000000;
    border-radius: 50px;
   }