<!-- <ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Choose a date</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  


  <ion-item lines="none" color="none" class="dm-date-range">

    <ion-label *ngIf="menu">{{menu.start_date | dateformat:'DD MMM YYYY'}} - {{menu.enddate | dateformat:'DD MMM YYYY'}}</ion-label>

  </ion-item>

  <ion-grid *ngIf="dates&&dates.length">

    <ion-row>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3" *ngFor="let item of dates">

        <div class="dt-box">
         
          <ion-card class="dt-card" [class.dt-card-current-date]="item==currentDate" (click)="order(item)">

            <ion-label class="dt-label">

              <span>
                {{item|dateformat:'ddd'}}
              </span>

              {{item|dateformat:'DD'}}

              <span>
                {{item|dateformat:'MMM'}}
              </span>

            </ion-label>

            <div class="indicator-line iline-selected"></div>

          </ion-card>

        </div>

      </ion-col>

      

    </ion-row>

  </ion-grid>

</ion-content> -->


<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Choose a date</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">

  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec" *ngIf="!hide">

    <div class="fts-box">

      <div class="fts-inner-box">
        <ion-icon class="icon-pending" name="ellipse-sharp"></ion-icon>
        <ion-label>Pending</ion-label>
      </div>

      <div class="fts-inner-box">
        <ion-icon class="icon-selected" name="ellipse-sharp"></ion-icon>
        <ion-label>Selected</ion-label>
      </div>

      <div class="fts-inner-box">
        <ion-icon class="icon-skipped" name="ellipse-sharp"></ion-icon>
        <ion-label>Skipped</ion-label>
      </div>

    </div>

    <ion-icon class="close-strip-icon" name="close-circle-sharp" (click)="hideBanner()"></ion-icon>

  </ion-fab> -->


  <div class="dm-date-range">

    <div class="msn-block" *ngIf="menu">
      <ion-label class="season-label">{{menu.menu_name}}</ion-label>
    </div>

    <ion-label *ngIf="menu">{{menu.start_date | dateformat:'DD MMM YYYY'}} - {{menu.enddate | dateformat:'DD MMM YYYY'}}
    </ion-label>

  </div>

  <ion-grid *ngIf="dates&&dates.length">

    <ion-row class="din-date-row">

      <ion-col size-sm="3" size-md="2" size-lg="2" size="3" *ngFor="let item of dates;let i=index" [id]="item">

        <div class="dt-box">
          <!-- <img class="cut-off-icon" src="assets/dining/cut-off-icon.svg"> -->
          <ion-card class="dt-card"  [class.dt-card-current-date]="item==currentDate" (click)="order(item)">

            <ion-label class="dt-label">

              <span>
                {{item|dateformat:'ddd'}}
              </span>

              {{item|dateformat:'DD'}}

              <span>
                {{item|dateformat:'MMM'}}
              </span>

            </ion-label>

            <div class="indicator-line " [class.iline-selected]="setIndicatorLine(item)"></div>

          </ion-card>

        </div>

      </ion-col>

      <!-- <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Sat
              </span>

              2

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-pending"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Sun
              </span>

              3

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-skipped"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Mon
              </span>

              4

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-skipped"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Tue
              </span>

              5

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-pending"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Wed
              </span>

              6

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-selected"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Thu
              </span>

              7

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-skipped"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Fri
              </span>

              8

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-selected"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Sat
              </span>

              9

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-skipped"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Sun
              </span>

              10

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-pending"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card dt-card-current-date" [routerLink]="['/dining-select-choice']">

            <ion-label class="dt-label">

              <span>
                Mon
              </span>

              11

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-selected"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <img class="cut-off-icon" src="assets/dining/cut-off-icon.svg">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Tue
              </span>

              12

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-skipped"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Wed
              </span>

              13

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-skipped"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Thu
              </span>

              14

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-skipped"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Fri
              </span>

              15

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-pending"></div>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Tue
              </span>

              16

              <span>
                Oct
              </span>

            </ion-label>

            <div class="indicator-line iline-skipped"></div>

          </ion-card>

        </div>

      </ion-col> -->

    </ion-row>

  </ion-grid>

</ion-content>