<ion-content>

  <ion-item color="none" lines="none" (click)="active()">
    <ion-label class="act_filter">Active residents</ion-label>
  </ion-item>

  <ion-item color="none" lines="none" (click)="inactive()">
    <ion-label class="act_filter">Inactive residents</ion-label>
  </ion-item>

  <ion-item color="none" lines="none" (click)="noContract()" *ngIf="rv==1">
    <ion-label class="act_filter">No contract residents</ion-label>
  </ion-item>

  <ion-item color="none" lines="none" (click)="movingIn()" *ngIf="rv==1">
    <ion-label class="act_filter">Moving in soon</ion-label>
  </ion-item>

 

</ion-content>


