<ion-header mode="md" class="ion-header-inner">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <ion-text>Filter</ion-text>

      </ion-col>

      <ion-icon class="page-close-btn" name="close-circle-sharp" (click)="closeModal()"></ion-icon>

    </ion-row>

  </ion-grid>

</ion-header>

<div class="inner-content">

  <ion-item class="d-none" color="none" lines="none" (click)="active()">
    <ion-label class="act_filter">Active residents</ion-label>
  </ion-item>

  <ion-item class="d-none" color="none" lines="none" (click)="inactive()">
    <ion-label class="act_filter">Inactive residents</ion-label>
  </ion-item>

  <ion-item class="d-none" color="none" lines="none" (click)="noContract()" *ngIf="rv==1">
    <ion-label class="act_filter">No contract residents</ion-label>
  </ion-item>

  <ion-item class="d-none" color="none" lines="none" (click)="movingIn()" *ngIf="rv==1">
    <ion-label class="act_filter">Moving in soon</ion-label>
  </ion-item>


  <div class="resident-filter-sec">

    <div class="rfs-item">

      <ion-text class="rfs-item-label">Status</ion-text>

      <ion-select mode="md" interface="action-sheet" placeholder="Select status" [(ngModel)]="status">
        <ion-select-option value="1">Active residents</ion-select-option>
        <ion-select-option value="2">Inactive residents</ion-select-option>
        <ion-select-option value="3" *ngIf="rv==1">No contract residents</ion-select-option>
        <ion-select-option value="4" *ngIf="rv==1">Moving in soon</ion-select-option>
      </ion-select>

    </div>

    <div class="rfs-item" *ngIf="rv==1">

      <ion-text class="rfs-item-label">Property type</ion-text>

      <ion-select mode="md" interface="action-sheet" placeholder="Select property type" [(ngModel)]="type">
        <ion-select-option value="2">Rental</ion-select-option>
        <ion-select-option value="1">Purchased</ion-select-option>
      </ion-select>

    </div>

  </div>

 

</div>


