ion-header {
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    position: relative;
    padding: 10px 10px 10px;

    ion-grid {
        ion-row {
            position: relative;

            .page_title {
                font-family: "Roboto", sans-serif !important;
                font-size: 18px !important;
                // font-weight: 500 !important;

                ion-icon {
                    vertical-align: middle;
                    font-size: 25px;
                }

                ion-text {
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }

            .page-close-btn {
                font-size: 32px;
                color: #fff;
                vertical-align: middle;
                position: absolute;
                right: 5px;
                top: -4px;
            }
        }
    }
}

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;

    ion-item {
        --min-height: auto;
        --padding-start: 0;
        --inner-padding-end: 0;
        margin: 10px 0px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ebebeb;
        font-size: 15px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border: none;
        }
    }
}
