<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Add items</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <ion-row class="fts-info-box">

      <ion-col size="1">
        <ion-icon name="alert-circle-sharp"></ion-icon>
      </ion-col>

      <ion-col size="11" class="pl-15">
        <ion-label>
          if you choose an additional items,
          you may not be able to select a main item
        </ion-label>
      </ion-col>

    </ion-row>

  </ion-fab>

  <div class="din-item-box">

    <ion-label class="din-item">Lunch on 11 Oct 2021</ion-label>

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/soup.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          Soup of the Day
        </ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <!-- <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div> -->

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

          <div class="fim-div-2">

            <ion-button [routerLink]="['/din-ir-fi-details',{flag:flag}]">
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div>

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/fried-rice.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Special fried rice</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <!-- <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div> -->

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

          <div class="fim-div-2">

            <ion-button>
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div>

      </div>

    </ion-card>

  </div>

  <div class="din-item-box">

    <ion-label class="din-item">Additional items</ion-label>

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/soup.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          Main item name
        </ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <!-- <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div> -->

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

          <div class="fim-div-2">

            <ion-button>
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div>

      </div>

    </ion-card>

  </div>

</ion-content>

<ion-footer>

  <ion-button class="add-btn">Add</ion-button>

  <ion-button class="cancel-btn" (click)="back()">Cancel</ion-button>

</ion-footer>