ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.aa-note-form {
    .aan-form-label {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #646464;
    }

    ion-textarea {
        color: #222;
        background: #f3f3f3;
        border-radius: 10px;
        min-height: 150px;
        --padding-start: 15px;
        --padding-end: 15px;
    }
}

ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;

        .aan-save-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #0077b5;
            color: #fff;
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }

        .aan-cancel-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #8b8b8b;
            color: #fff;
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .mark-away-form {
        ion-col {
            padding: 10px;
        }
    }
}

.aan-add-images {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: #646464;
    margin-top: 10px;

    ion-icon {
        font-size: 25px;
        color: #646464;
        transform: rotate(45deg);
        margin-right: 5px;
    }
}

.aan-attached-images-block {
    display: flex;
    align-items: center;
    margin-top: 5px;

    .aan-aib-img-holder {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 6px;
        margin: 5px;

        img {
            width: 80px;
            height: 80px;
            border-radius: 6px;
            // margin: 5px;
            object-fit: cover;
        }

        ion-icon {
            font-size: 22px;
            position: absolute;
            top: -10px;
            right: -5px;
            color: #f00;
            background: #fff;
            border-radius: 50px;
            padding: 1px;
        }
    }

    .additional-attachment-count-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        background: #dbedf7;
        border-radius: 6px;
        position: relative;
        margin: 5px;

        img {
            width: 80px;
            height: 80px;
            border-radius: 6px;
            margin: 0;
        }

        p {
            font-family: "Roboto", sans-serif !important;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: #ffffff;
            position: absolute;
            width: 100%;
            height: 100%;
            background: hsl(0deg 0% 12.6% / 80%);
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
        }
    }
}