<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="dismiss()">
          </ion-icon>
          <ion-label>Add additional note</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="aa-note-form">

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12">

      <ion-label class="aan-form-label">Enter your note <span class="asterisk">*</span></ion-label>
      
      <ion-textarea class="mt-10" rows="5" [(ngModel)]="note"></ion-textarea>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" (click)="selectImage()" *ngIf="imageResponse.length<5">

      <ion-label class="aan-add-images"><ion-icon name="attach-outline"></ion-icon> Add images </ion-label>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" *ngIf="imageResponse.length">

      <div class="aan-attached-images-block">

        <!-- <img *ngFor="let img of imageResponse;let i=index" [src]="img"> -->

        <div class="aan-aib-img-holder" *ngFor="let img of imageResponse;let i=index">

          <img  [src]="img">

          <ion-icon name="close-circle" (click)="removeImg(i)"></ion-icon>

        </div>

        
        

        <!-- <div class="additional-attachment-count-box">
          <img src="https://images.pexels.com/photos/15903178/pexels-photo-15903178.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load">
          <p>+5</p>
        </div> -->

      </div>

    </ion-col>


  </ion-row>

</ion-content>

<ion-footer>

  <ion-item lines="none" color="none">

    <ion-button class="aan-save-btn" (click)="addNote()">Save</ion-button>

    <ion-button class="aan-cancel-btn" (click)="dismiss()">Cancel</ion-button>

  </ion-item>

</ion-footer>