<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="dismiss()">
          </ion-icon>
          <ion-label>Add additional note</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="aa-note-form">

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12">

      <ion-label class="aan-form-label">Enter your note </ion-label>
      
      <ion-textarea rows="5" [(ngModel)]="note"></ion-textarea>

    </ion-col>


  </ion-row>

</ion-content>

<ion-footer>

  <ion-item lines="none" color="none">

    <ion-button class="aan-save-btn" (click)="addNote()">Save</ion-button>

    <ion-button class="aan-cancel-btn" (click)="dismiss()">Cancel</ion-button>

  </ion-item>

</ion-footer>