<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/consumer-profile',{id:cid,flag:flag}]"></ion-icon>
          <ion-label>Wellness dimension Reports</ion-label>
        </ion-col>
        <ion-col class="col-fit header-buttons ion-align-self-end" size="4" (click)="datefilter($event)">

        

          <ion-icon name="funnel-outline"></ion-icon>

        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
<canvas #barCanvas style="position: relative; height:10vh; width:20vw; min-height:250px"></canvas>

    <ion-radio-group value="1">
      <ion-row>
        <ion-col (click)="setFilter(1)">
          <ion-item lines="none" color="none">
          <ion-radio value="1" mode="md" color="success" checked ></ion-radio>
          <ion-label style="margin-left:10px">Attended</ion-label>
        </ion-item>
        </ion-col>
        <ion-col (click)="setFilter(2)">
          <ion-item lines="none" color="none">
          <ion-radio value="2" mode="md" color="danger" ></ion-radio>
          <ion-label style="margin-left:10px">Declined</ion-label>
        </ion-item>
        </ion-col>

      </ion-row>
    </ion-radio-group>


  <ion-item color="none" lines="none" *ngFor="let item of items | slice:repostart:repoend " >

    <!-- <div > -->

      <!-- <div  > -->
        <ion-card (click)="expandItem(item)">
          <label class="label">{{item.head.activity_date | dateformat:'DD MMM yyyy'}}
            <span style="float: right;">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </span>
          </label>
          <ion-card-content [class.card_content]="!item.expanded">
          <app-consumer-activity expandHeight="700px" [expanded]="item.expanded">
      

        <div >

          <ion-grid class="consumer-report-details">

            <ion-row class="split-multiple-activity">

              <ion-col class="opt-label mt-zero" size="12" size-sm="12" size-md="12" size-lg="12">

                <!-- <ion-label class="label-grey">Activity Name</ion-label> -->

                <p>{{item.head.activity_name}} </p>

              </ion-col>

              <ion-col class="opt-label" size="6" size-sm="6" size-md="6" size-lg="6">

                <!-- <ion-label class="label-grey">Wellness dimension</ion-label> -->

                <ion-item colors="none" lines="none" class="act-type-btn" 
                [class.social]="item.head.activity_type=='Social'"
                [class.physical]="item.head.activity_type=='Physical'"
                [class.spiritual]="item.head.activity_type=='Spiritual'"
                [class.emotional]="item.head.activity_type=='Emotional'"
                [class.cognitive]="item.head.activity_type=='Cognitive'"
                [class.entertainment]="item.head.activity_type=='Entertainment'"
                [class.trip]="item.head.activity_type=='Trip'"
                [class.event]="item.head.activity_type=='Event'"
                [class.meeting]="item.head.activity_type=='Meeting'"
                [class.other]="item.head.activity_type=='Other'">
                  <i class="{{item.head.activity_type_icon}}"></i>
                  <ion-label>{{item.head.activity_type}}</ion-label>
                </ion-item>

              </ion-col>

              <ion-col class="opt-label" size="6" size-sm="6" size-md="6" size-lg="6">

                <!-- <ion-label class="label-grey">Attendance</ion-label> -->

                <span class="cr-attended" *ngIf="item.head.attendance==1">Attended</span>

              
                <span class="cr-declined" *ngIf="item.head.attendance==2">Declined</span>
              </ion-col>

              <ion-col class="opt-label" size="12" size-sm="12" size-md="12" size-lg="12">

                <!-- <ion-label class="label-grey">Feedback</ion-label> -->

                <p *ngIf="item.head.feedback!='Other'">{{item.head.feedback}}</p>
                <p *ngIf="item.head.feedback=='Other'&&item.head.other_reason">{{item.head.other_reason}}</p>

              </ion-col>

            </ion-row>

          </ion-grid>

        </div>
      </app-consumer-activity>
    </ion-card-content>
      </ion-card>
      <!-- </div> -->


      <!-- <div class="tab" *ngFor="let item of activity">

        <input type="checkbox" id="chck2">

        <label class="tab-label" for="chck2">{{item.activity_date | dateformat:'DD MMM yyyy'}}</label>

        <div class="tab-content">

          <ion-grid class="consumer-report-details">

            <ion-row>

              <ion-col class="opt-label" size="12" size-sm="3" size-md="3" size-lg="3">

                <ion-label class="label-grey">Activity Name</ion-label>

                <p>{{item.activity_name}} </p>

              </ion-col>

              <ion-col class="opt-label" size="12" size-sm="3" size-md="3" size-lg="3">

                <ion-label class="label-grey">Activity Type</ion-label>

                <ion-item colors="none" lines="none" class="act-type-btn entertainment">
                  <i class="la la-video"></i>
                  <ion-label>Entertainment</ion-label>
                </ion-item>

              </ion-col>

              <ion-col class="opt-label" size="12" size-sm="3" size-md="3" size-lg="3">

                <ion-label class="label-grey">Attendance</ion-label>

                <span class="cr-attended">Attended</span>

               

              </ion-col>

              <ion-col class="opt-label" size="12" size-sm="3" size-md="3" size-lg="3">

                <ion-label class="label-grey">Feedback</ion-label>

                <p>Happy to observe</p>

              </ion-col>

            </ion-row>

          </ion-grid>

        </div>

      </div> -->

    <!-- </div> -->

  </ion-item>

  <ion-item lines="none" color="none">
      <ion-label style="width: 100%;text-align: center;" (click)="viewMore()" *ngIf="items.length>20 && repoend<items.length">View more</ion-label>
  </ion-item>
  <div *ngIf="items.length==0" class="act_calendar">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no_activities_found_img.svg">
    </ion-thumbnail>
  
    <ion-item lines="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: bold;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Data Available</ion-label>
    </ion-item>
  </div>
  

</ion-content>