ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
}

.row .col {
  flex: 1;
}

.row .col:last-child {
  margin-left: 0;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  border-radius: 6px;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  color: #9a9a9a;
  /* Icon */
}

.tab-label:hover {
  background: transparent;
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
  color: #656565;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #ececec;
  background: #f9f9f9;
  transition: all .35s;
  border-radius: 10px;
  border-top: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #ececec;
  cursor: pointer;
}

.tab-close:hover {
  background: lightgray;
}

input:checked + .tab-label {
  background: #ececec;
  color: #656565;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 0em 1em;
}

.label {
  background: #ececec;
  color: #656565;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  color: #9a9a9a;
}

.card_content {
  height: 0px;
  padding: 0px;
}

canvas {
  width: 100% !important;
}

@media only screen and (min-width: 768px) {
  ion-card {
    border-radius: 10px !important;
    background-color: #FFF !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
    width: -webkit-fill-available;
    margin: 8px 15px;
  }
}
