ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-card-content {
    padding-top: 0px;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
}

ion-radio-group {
    ion-radio {
        vertical-align: middle;
    }
}


$light-grey: #ececec;
$clouds: #ecf0f1;


input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

// Layout
.row {
    display: flex;

    .col {
        flex: 1;

        &:last-child {
            margin-left: 0;
        }
    }
}

/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    // border-top-left-radius: 6px;
    // border-top-right-radius: 6px;
    border-radius: 6px;

    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        // background: $light-grey;
        font-size: 18px;
        font-weight: normal;
        cursor: pointer;
        color: #9a9a9a;

        /* Icon */
        &:hover {
            background: transparent;
        }

        &::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all .35s;
            color: #656565;
        }
    }

    &-content {
        max-height: 0;
        padding: 0 1em;
        color: $light-grey;
        background: #f9f9f9;
        transition: all .35s;
        // border: 1px solid #c5edff;
        border-radius: 10px;
        border-top: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: $light-grey;
        cursor: pointer;

        &:hover {
            background: darken($light-grey, 10%);
        }
    }
}

// :checked
input:checked {
    +.tab-label {
        background: #ececec;
        color: #656565;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        &::after {
            transform: rotate(90deg);
        }
    }

    ~.tab-content {
        max-height: 100vh;
        padding: 0em 1em;
    }
}

.label {
    // background: #ececec;
    color: #656565;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    // background: $light-grey;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    color: #707070;
    letter-spacing: normal;
}

.card_content {
    height: 0px;
    padding: 0px;
}

canvas {
    width: 100% !important;
}

@media only screen and (min-width: 768px) {

    ion-card {
        border-radius: 10px !important;
        background-color: #FFF !important;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
        width: -webkit-fill-available;
        margin: 8px 15px;
    }

}

ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

.act-type-btn {
    padding: 0px 15px;
}

.consumer-report-details {
    ion-row {
        ion-col {
            margin-bottom: 0px;
            border-bottom: 0px;
            padding-bottom: 0px;

            ion-item {
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .cr-attended {
                margin-top: 15px;
                float: right;
            }

            .cr-declined {
                margin-top: 15px;
                float: right;
            }
        }
    }

    .split-multiple-activity {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px dashed #b5b5b5;
    }
}