.ion-header-inner {
    background: #0077B5 !important;

    .hdr-btn {
        --background: #C7EAFB;
        --border-radius: 50px;
        --padding-start: 8px;
        --padding-end: 8px;
        --box-shadow: none;
        color: #0077b5;
        width: 40px;
        height: 40px;
    }
}

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 20px;
    --background:#eee;
}

.wing-sec {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;

    &:first-child {
        margin-top: 10px;
    }

    ion-label {
        color: #707070;
        font-size: 18px;
        font-weight: 500;

        .wing-member-count {
            min-width: 35px;
            min-height: 35px;
            padding: 5px;
            background-color: #E6E6E6;
            border-radius: 50px;
            margin-left: 10px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            font-size: 16px;
        }
    }

    ion-icon {
        font-size: 25px;
        color: #707070;
        vertical-align: middle;
        align-self: center;
    }
}

ion-grid {
    padding: 0;
}

.dc-info-card {
    display: flex;
    padding: 15px;
    margin: 0;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;

    .dc-info-box {
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;

        .dc-pic {
            width: 87px;
            height: 87px;
            --border-radius: 10px;
            margin-top: 0;
            margin-bottom: 0;
        }

        .dc-info {
            margin-left: 20px;
            display: flex;
            flex-direction: column;

            .dc-name {
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 600;
                color: #252525;
                line-height: 22px;

                span {
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: normal;
                    display: block;
                    color: #6c6c6c;
                }
            }

            .dm-user-status {
                display: flex;
                margin-top: 5px;

                .dm-us {
                    padding: 0 7px;
                    position: relative;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 7px 0 0;
                    color: #1c1c20;

                    &:first-child {
                        padding-left: 0px;
                    }

                    &:last-child {
                        padding-right: 0px;
                    }

                    .s-completed {
                        background: #15b100 !important;
                    }

                    .s-skipped {
                        background: #fd8000 !important;
                    }

                    .s-pending {
                        background: #d1d1d1 !important;
                    }

                    .dm-us-ind {
                        width: 20px !important;
                        height: 5px;
                        background: #ccc;
                        display: inline-block;
                        border-radius: 4px;
                        margin: 0 0 5px;
                    }

                    ion-label {
                        line-height: 16px;
                        display: block;
                        font-size: 14px;
                    }

                }
            }
        }
    }
}

.no-result {
    margin-top: 20px;
    width: -webkit-fill-available;
    text-align: center;
    font-size: 18px;
}