<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Create new status</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label class="stat-que">How is <span>{{name}}</span> feeling today ?</ion-label>

  <ion-grid>

    <ion-row class="status-smiley-container">

      <ion-col size="4" class="col-fit" (click)="select('upset',3)">

        <img src="assets/status/bad.png" [class.selected_feeling]="post_type==3">

        <ion-label class="status-label">Upset</ion-label>

      </ion-col>

      <ion-col size="4" class="col-fit" (click)="select('happy',4)">

        <img src="assets/status/very-good.png" [class.selected_feeling]="post_type==4">

        <ion-label class="status-label">Happy</ion-label>

      </ion-col>

      <ion-col size="4" class="col-fit" (click)="select('great',5)">

        <img src="assets/status/excellent.png" [class.selected_feeling]="post_type==5">

        <ion-label class="status-label">Great</ion-label>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="12">

        <ion-textarea placeholder="Write notes here" class="stat-note" rows="6" [(ngModel)]="description"></ion-textarea>

        <ion-label class="mt-20 d-block cblack" *ngIf="media.length==0" (click)="selectImage()">
          <ion-icon class="upload-img-icon" name="image-outline"></ion-icon>
          Upload an image
        </ion-label>
       


          <ion-row class="uploaded-images-container" *ngIf="media.length>0">
    
            <ion-col  class="col_fit uploaded-data" >
              
              <ion-thumbnail class="uploaded-image">
                <img src="{{image}}" (click)="viewImage()">
                <ion-icon name="close-circle-outline" class="remove-img" (click)="removeImg()"></ion-icon>
              </ion-thumbnail>
        
              
        
            </ion-col>
            </ion-row>

        <!-- <ion-button class="post-status-btn">
          
          <ion-icon class="post-btn" src="assets/sent-icon.svg"></ion-icon>

          Post Status
        
        </ion-button> -->

      </ion-col>

    </ion-row>


  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar (click)="publish()">
    <ion-button class="publish-btn" expand="block" [disabled]="post_type==0">
      <ion-icon src="assets/sent-icon.svg"></ion-icon> Publish
    </ion-button>
  </ion-toolbar>
</ion-footer>