ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;

    ion-grid {

        ion-row {

            ion-col {
                padding-inline-start: 0px;
                padding-inline-end: 0px;
            }

        }

    }
}

.stat-que {
    font-size: 20px;
    color: #0077B5
;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.status-smiley-container {
    border: 1px solid #e4e4e4;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;

    ion-col {
        margin: 10px;

        img {
            width: 60px;
            height: 60px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .status-label {
            text-align: center;
            font-size: 18px;
            display: block;
            margin-top: 15px;
            color: #222;
        }

    }
}

@media screen and (min-width:768px) {

    .status-smiley-container {

        ion-col {
            margin: 25px;
        }

    }
}

@media screen and (min-width: 1024px) {

    .status-smiley-container {

        ion-col {
            margin: 50px;

            img {
                width: 80px;
                height: 80px;
            }

            .status-label {
                font-size: 20px;
            }
        }

    }

}

@media screen and (min-width: 1366px) {

    .status-smiley-container {

        ion-col {
            margin: 100px;

            img {
                width: 100px;
                height: 100px;
            }

            .status-label {
                font-size: 20px;
            }
        }

    }

}

.stat-note {
    min-height: 100px;
    border: 1px solid #e4e4e4;
    color: #222;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.upload-img-icon {
    font-size: 20px;
    color: #0077B5;
    margin-right: 10px;
    vertical-align: middle;
}

.d-block {
    display: block;
}

.post-status-btn {
    --background: #0077B5;
    --box-shadow: none;
    height: 50px;
    text-transform: capitalize;
    --border-radius: 50px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 40px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    .post-btn {
        margin-right: 10px;
    }
}

.uploaded-images-container {
    margin-top: 20px;

    ion-col {
        margin-right: 15px;
        margin-bottom: 20px;
    }
}

.uploaded-image {
    width: 80px;
    height: 80px;
    
    img {
        border-radius: 4px;
    }
}


.selected_feeling{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
}

.remove-img{
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    left: 48px;
    z-index: 999;
}