<ion-header class="ion-header-inner-2">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Choose</ion-label>
        </ion-col>


      </ion-row>

      <ion-row>

        <ion-col>

          <ion-searchbar class="clife-search-bar" placeholder="Search residents"(ionCancel)="cancel()" 
          (ionChange)="search()"  [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>


    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label class="cb-sel-contact">Select Contact</ion-label>

  <ion-grid>

    <ion-row class="cbcc-sec">

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of consumers">

        <ion-row class="consumer-info-container" (click)="openModel(item)" >

          <ion-col size-sm="2" size-md="12" size-lg="3" size="2" class="col-fit">

            <ion-avatar>
              <img [src]="item.photo">
            </ion-avatar>

          </ion-col>

          <ion-col size-sm="10" size-md="12" size-lg="3" size="10">

            <ion-label>
              {{item.name}}

              <span *ngIf="rv!=1">
               {{item.room}}
              </span>
              <span *ngIf="item.wing_name&&rv!==1">
                {{item.wing_name}}
              </span>
              <span  *ngIf="rv==1&&item.property_name">{{item.property_name}}
              </span>
            </ion-label>

          </ion-col>

        </ion-row>
<!-- <ion-label *ngIf="results.length==0">No results found</ion-label> -->
      </ion-col>

      

    </ion-row>


  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  <div *ngIf="consumers.length==0">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-consumers-found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Data Found</ion-label>
    </ion-item>
  </div>


</ion-content>

<!-- <ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block">Continue &nbsp; <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer> -->