ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --background: #f1f1f1;
}

@media only screen and (min-width: 768px) {
    .cbcc-sec {
        ion-col {
            margin-bottom: 0px !important;
            padding: 10px;

            .consumer-info-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                ion-avatar {
                    width: 60px;
                    height: 60px;
                }

                ion-col {
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    justify-content: center;

                    &:nth-child(2) {
                        margin-left: 0px !important;
                        margin-top: 15px;
                        margin-right: 0;
                        min-width: 100% !important;
                        margin-top: 40px;
                        padding-left: 0px !important;
                    }
                }
            }
        }
    }
}

.consumer-info-container {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: #fff;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;
}

.cb-sel-contact {
    margin-bottom: 5px;
}

.cbcc-sec {
    ion-col {
        margin-bottom: 10px;
    }
}
