ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .consumer-info-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .consumer-info-container ion-avatar {
    width: 60px;
    height: 60px;
  }
  .consumer-info-container ion-col {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
  }
  .consumer-info-container ion-col:nth-child(2) {
    margin-left: 0px !important;
    margin-top: 15px;
    margin-right: 0;
    min-width: 100% !important;
    margin-top: 40px;
    padding-left: 0px !important;
  }
}
