<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Groups</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class="group-list-row">

      <ion-col size-sm="6" size-md="4" size-lg="4" size="6" *ngFor="let item of group">
        <ion-card class="group_card" [routerLink]="['/group-members',{id:item.id,flag:flag}]">
          <img src="/assets/group-2.svg">
          <ion-label>{{item.name}}</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="group.length==0">

    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-group-found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Group Found</ion-label>
    </ion-item>

  </div>

</ion-content>