ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --background:#eee;
}

.group-list-row {

  ion-col {
    padding: 10px;

    .group_card {
      margin-top: 0px;
      margin-bottom: 0px;
      -webkit-margin-start: 0px;
      margin-inline-start: 0px;
      -webkit-margin-end: 0px;
      margin-inline-end: 0px;
      padding: 20px;
      height: 100%;
      border: 1px solid #dfdfdf;
      box-shadow: none !important;
    
      img {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    
      ion-label {
        margin-top: 5px;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: normal !important;
        color: #1c1c1c !important;
        text-align: center;
        display: block;
      }
    }
  }
}

