ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.group_card {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 10px;
}

.group_card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.group_card ion-label {
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: normal !important;
  color: #1c1c1c !important;
  text-align: center;
  display: block;
}