ion-select {
    border: 1px solid #dcdcdc;
    height: 50px;
    border-radius: 6px;
    color: #222;
    padding-right: 10px;
}

.cb-cancel-btn {
    ion-label {
        color: #868686;
        font-family: "Roboto", sans-serif;
    }
}

.cblack {
    font-family: "Roboto", sans-serif;
}