<!-- <ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
         
          <ion-label>Reassign</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>



  </ion-toolbar>
</ion-header> -->


<ion-content>
  <ion-row>

    <ion-col size="12">

      <ion-label class="label-black cblack">Assigned to</ion-label>

    </ion-col>

    <ion-col size="12">

      <ion-select interface="action-sheet" okText="Okay" cancelText="Dismiss" class="branch" [(ngModel)]="staff" [selectedText]="staff"  (ionChange)="setstaff($event)">
        <ion-select-option value="{{item.name}}" *ngFor="let item of staffArray">{{item.name}}</ion-select-option>
        
      </ion-select>

    </ion-col>

  </ion-row>
 
</ion-content>


<ion-footer>
  
  <ion-toolbar>
    
    <div class="cb-footer-btns">

      <ion-button class="cb-continue-btn" (click)="confirm()" >Save</ion-button>

    <ion-button class="cb-cancel-btn" (click)="cancel()"> <ion-label>Cancel</ion-label></ion-button>

    </div>
    
  </ion-toolbar>

</ion-footer>