<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="dismiss()">
          </ion-icon>
          <ion-label>Activity details</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="activity">

  <ion-card class="act-detail-card">

    <div class="card-header-block">

      <ion-row>

        <ion-col class="col_fit">
          <div class="activity-date-block">
            <ion-label class="adb-date"> {{activity.activity_start_date | dateformat:'DD'}} </ion-label>
            <ion-label class="adb-my-sec">
              <span class="adb-month">{{activity.activity_start_date | dateformat:'MMM'}}</span>
              <span class="adb-year">{{activity.activity_start_date | dateformat:'YYYY'}}</span>
            </ion-label>
          </div>
        </ion-col>

        <ion-col>
          <div class="act-other-info">
            <ion-label class="act-time-sec">
              <ion-icon class="at-icon" name="time-outline"></ion-icon>{{activity.start_time}} - {{activity.end_time}}
            </ion-label>

            <!-- <div class="aoi-sub-sec">

              <span class="assigned-tag-1">
                <ion-icon name="ellipse"></ion-icon>
                <ion-label>Assigned</ion-label>
              </span>

              <span class="activity-cost">$50</span>

            </div> -->

          </div>
        </ion-col>

      </ion-row>

    </div>

    <div class="card-content-block">

      <ion-row class="mt-20">

        <ion-col size="12">
          <ion-label class="activity-name">{{activity.title}}</ion-label>
        </ion-col>

      </ion-row>

      <ion-row class="dflex-ai-c bb-seperator-line" *ngIf="activity.venue||activity.type">
        <ion-col size="7" *ngIf="activity.venue">
          <ion-label class="al-label" >
            <ion-icon class="al-icon" name="location-outline"></ion-icon>
            {{activity.venue}}
          </ion-label>
        </ion-col>
        <ion-col size="5" class="col_fit">
          <ion-chip  *ngIf="activity.type" [class.social-icon]="activity.type.type_name=='Social'"
          [class.physical-icon]="activity.type.type_name=='Physical'"
          [class.trip-icon]="activity.type.type_name=='Trip'"
          [class.meeting-icon]="activity.type.type_name=='Meeting'"
          [class.event-icon]="activity.type.type_name=='Event'"
          [class.spiritual-icon]="activity.type.type_name=='Spiritual'"
          [class.cognitive-icon]="activity.type.type_name=='Cognitive'"
          [class.entertainment-icon]="activity.type.type_name=='Entertainment'"
          [class.emotional-icon]="activity.type.type_name=='Emotional'"
          [class.other-icon]="activity.type.type_name=='Other'">
            <ion-label>{{activity.type.type_name}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>

      <!-- <ion-row class="dflex-ai-c mt-10">

        <ion-col size="6">
          <ion-label class="participant-limit">
            Participant limit
            <span class="pl-count">30</span>
          </ion-label>
        </ion-col>

        <ion-col size="6">
          <ion-label class="assigned-label">
            Assigned
            <span class="assigned-count">30</span>
          </ion-label>
        </ion-col>

        <ion-col size="6">
          <ion-label class="waiting-list">
            Waiting list
            <span class="wl-count">2</span>
          </ion-label>
        </ion-col>

      </ion-row> -->

      <ion-row class="bb-seperator-line">
        <ion-col size="12">
          <span class="attended-mark" *ngIf="data.assigned_residents[0].action==1">
            <ion-icon name="checkmark-circle"></ion-icon>
            <ion-label>Attended</ion-label>
          </span>

          <span class="declined-mark" *ngIf="data.assigned_residents[0].action==2">
            <ion-icon name="close-circle"></ion-icon>
            <ion-label>Declined</ion-label>
          </span>

          <span class="attended-mark" *ngIf="!data.assigned_residents[0].action">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>Assigned</ion-label>
          </span>

          <p class="attended-declined-reason" *ngIf="data.assigned_residents[0].reason">{{data.assigned_residents[0].reason}}</p>
          <p class="attended-declined-reason" *ngIf="data.assigned_residents[0].other_reason">{{data.assigned_residents[0].other_reason}}</p>

        </ion-col>

        <ion-col size="12" *ngIf="!data.assigned_residents[0].action">

          <ion-row class="mt-10">
            <ion-col size="12">
              <ion-button (click)="add()" class="act-attended-btn">
                <ion-icon name="checkmark-circle"></ion-icon>
                Attended
              </ion-button>

              <ion-button (click)="decline()" class="act-declined-btn">
                <ion-icon name="close-circle"></ion-icon>
                Declined
              </ion-button>
            </ion-col>

          </ion-row>
          
        </ion-col>

      </ion-row>

   

      <div class="activity_description" [innerHTML]="activity.activity_info">

    </div>


    <!-- <ion-item color="none" lines="none" class="act-image" (click)="showImages($event,1)" *ngIf="image.length>0">

      <ion-row class="smc-sec">
        <ion-row class="story-media-container" *ngIf="image.length==1">
          <img [src]="image[0].activity_image" style="width: 100%;" *ngIf="image && image.length ">
        </ion-row>


        <ion-row class="story-media-container smc-1" *ngIf="image.length>1">
          <ion-col>
            <img [src]="image[0].activity_image" style="width: 100%;" *ngIf="image &&image.length">
          </ion-col>
        </ion-row>

        <ion-row class="story-media-container smc-2" *ngIf="image.length>1">
          <ion-col *ngIf="image.length>=2">
            <img [src]="image[1].activity_image" *ngIf="image && image.length">
          </ion-col>
          <ion-col *ngIf="image.length>=3">
            <img [src]="image[2].activity_image" *ngIf="image && image.length">
          </ion-col>
          <ion-col *ngIf="image.length>=4">
            <img [src]="image[3].activity_image" *ngIf="image && image.length">
            <div class="myOverlay" *ngIf="image.length>4"></div>
            <div class="num_badge" *ngIf="image.length>4">+{{image.length-4}}</div>
          </ion-col>
        </ion-row>

      </ion-row>

    </ion-item>
    <ion-item lines="none" color="none" *ngFor="let item of doc" (click)="openDoc(item)">
      <ion-icon class="input_paperclip"></ion-icon>
      <ion-label class="act_attachment_name">{{item.title}}</ion-label>
    </ion-item>

    <ion-label class="activity-more-images-title" *ngIf="photos.length>0">Photos</ion-label>

    <ion-row class="activity-more-images-block" (click)="showImages($event,2)" *ngIf="photos.length>0">

      <ion-col size="6" size-sm="6" size-md="3" size-lg="3" *ngIf="photos.length>=1">
        <img [src]="photos[0].image">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="3" size-lg="3" *ngIf="photos.length>=2">
        <img [src]="photos[1].image">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="3" size-lg="3" *ngIf="photos.length>=3">
        <img [src]="photos[2].image">
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="3" size-lg="3" *ngIf="photos.length>=4">
        <img [src]="photos[3].image">
        <div class="act-more-img-overlay" *ngIf="photos.length>41">+{{photos.length-4}}</div>
      </ion-col>

    </ion-row> -->

    </div>

  </ion-card>

</ion-content>