ion-header {
    .page-close-btn {
        font-size: 32px;
        color: #fff;
        vertical-align: middle;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

ion-card-content {
    padding-top: 5px;
    padding-bottom: 5px;
}

ion-content {
    // position: absolute;
    // z-index: 9999;
    // top: 75px;
    margin-left: auto !important;
    margin-right: auto !important;
    --background:#fff;
}

@media screen and (min-width: 768px) {
    .detail_act_time {
        justify-content: left;
    }

    .act-detail-card {
        margin: 0 0 !important;

        .card-content-block {
            .activity-thumb-img {
                max-height: 200px !important;
            }
        }
    }
}

.act-image {
    img {
        max-height: 120px;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 10px;
    }
}

.story-media-container {
    display: flex;
    justify-content: start;
}

@media screen and (min-width: 768px) {
    .act-image {
        img {
            max-height: 260px;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

.popover-content {
    background: transparent !important;
    --width: 100% !important;
    --height: 100% !important;
}

.image_pop .popover-content.sc-ion-popover-ios {
    border-radius: 0px !important;
    background-color: transparent !important;
    top: 0px !important;
    left: 0px !important;
    transform-origin: center center !important;
}

// .assigned {
//     position: absolute !important;
//     top: 15px !important;
//     right: 15px !important;
// }

.assigned-tag {
    color: #28ba62;
    display: flex;

    ion-icon {
        font-size: 12px;
        align-self: center;
    }

    ion-label {
        font-size: 15px;
        margin-left: 10px;
    }
}

.no-padding {
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.detail_act_grid ion-row {
    margin-bottom: 15px !important;
}

@media screen and (min-width: 768px) {
    .top-right-pos {
        position: absolute;
        top: 50px;
        right: 40px;
    }

    .detail_act_card {
        width: 95%;
        border-radius: 10px;
        padding: 20px;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 25px;
    }

    .detail_act_grid {
        .item_two {
            display: flex;
            padding: 21px 0px 0px !important;

            .assigned-tag {
                position: absolute;
                right: 0;
            }
        }
    }

    .detail_act_month_year {
        width: 100px;

        span {
            display: inline-flex !important;
            white-space: pre-line;
            word-break: break-word;
            margin-left: 5px;
        }
    }

    .activity_description {
        margin-bottom: 15px;
    }

    .activity-more-images-block {
        img {
            height: 180px !important;
        }
    }
}

.smc-1 {
    img {
        max-width: 100% !important;
    }
}

.smc-sec {
    display: block;
    width: 100%;
}

.smc-2 {
    ion-col {
        padding: 2px;
    }
}

.myOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 200;
    bottom: 0px;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.6);

    // color: #fff;
}

.num_badge {
    position: absolute;
    left: 0;
    right: 0;
    top: 28%;
    font-size: 20px;
    width: 100%;
    // margin-left: 40%;
    // margin-right: 40%;
    color: #fff;
    align-self: center;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .assigned-tag {
        color: #28ba62;
        margin: 5px 25px 0px;
    }

    .activity_description {
        margin-bottom: 15px;
    }
}

.activity-more-images-title {
    font-size: 18px;
    font-weight: 500;
    color: #222;
    /* border-bottom: 1px dashed #b7b7b7; */
    margin-bottom: 10px;
    padding-bottom: 0;
    display: block;
}

.activity-more-images-block {
    img {
        border-radius: 15px;
        height: 130px;
        width: 90%;
        -o-object-fit: cover;
        object-fit: cover;
        padding: 2px;
        margin: 5px auto;

        &:first-child {
            margin-left: 0;
        }
    }

    ion-col {
        position: relative;
        display: flex;
        align-self: center;
    }

    .act-more-img-overlay {
        width: 100%;
        height: 130px;
        border-radius: 10px;
        background: rgb(0 0 0 / 50%);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.act-social-card {
    background-color: rgb(251 221 249 / 35%) !important;
    box-shadow: none;
}

.act-physical-card {
    background-color: rgb(255 214 219 / 35%) !important;
    box-shadow: none;
}

.act-trip-card {
    background-color: rgb(255 241 188 / 35%) !important;
    box-shadow: none;
}

.act-meeting-card {
    background-color: rgb(231 228 253 / 35%) !important;
    box-shadow: none;
}

.act-event-card {
    background-color: rgb(255 209 209 / 35%) !important;
    box-shadow: none;
}

.act-spiritual-card {
    background-color: rgb(174 255 213 / 35%) !important;
    box-shadow: none;
}

.act-emotional-card {
    background-color: rgb(255 229 216 / 35%) !important;
    box-shadow: none;
}

.act-cognitive-card {
    background-color: rgb(223 236 255 / 35%) !important;
    box-shadow: none;
}

.act-entertainment-card {
    background-color: rgb(177 255 255 / 35%) !important;
    box-shadow: none;
}

.act-other-card {
    background-color: rgb(255 216 246 / 35%) !important;
    box-shadow: none;
}

.act-detail-card {
    padding: 0 10px;
    box-shadow: none !important;
    // border: 1px solid #e5e5e5;

    .card-header-block {
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 10px;
        margin-bottom: 10px;

        .activity-date-block {
            display: flex;
            align-items: center;
            border-right: 1px solid #d9d9d9;
            padding-right: 10px;

            .adb-date {
                color: #222;
                font-size: 40px;
                font-weight: 600;
            }

            .adb-my-sec {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 5px;

                .adb-month {
                    font-size: 17px;
                    color: #222;
                }

                .adb-year {
                    font-size: 17px;
                    color: #222;
                }
            }
        }

        .act-other-info {
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            .act-time-sec {
                font-size: 18px;
                color: #222;
                margin-right: auto;

                .at-icon {
                    color: #222;
                    font-size: 18px;
                    margin-right: 5px;
                    vertical-align: middle;
                }
            }

            .aoi-sub-sec {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                justify-content: space-between;
                margin-top: 5px;

                .activity-cost {
                    font-size: 20px;
                    font-weight: 600;
                    color: #0077b5;
                }

                .assigned-tag-1 {
                    color: #28ba62;
                    margin: 0px 3px 0px;
                    margin-right: auto;
                    display: flex;
                    align-items: center;

                    ion-label {
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .card-content-block {
        .al-label {
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            color: #222;

            .al-icon {
                font-size: 18px;
                color: #222;
                vertical-align: middle;
                margin-right: 2px;
            }
        }

        ion-chip {
            margin-left: 0;
            display: flex;
            font-family: "Roboto", sans-serif;
            font-size: 13px;
        }

        .social-icon {
            background: rgb(251, 221, 249) !important;
            color: #a20082;
            width: fit-content;
            height: 26px;
        }

        .physical-icon {
            background: rgb(255, 214, 219) !important;
            color: #e2001e;
            width: fit-content;
            height: 26px;
        }

        .trip-icon {
            background: rgb(255, 241, 188) !important;
            color: #725a00;
            width: fit-content;
            height: 26px;
        }

        .meeting-icon {
            background: rgb(231, 228, 253) !important;
            color: #0f00a2;
            width: fit-content;
            height: 26px;
        }

        .event-icon {
            background: rgb(255, 209, 209) !important;
            color: #610000;
            width: fit-content;
            height: 26px;
        }

        .spiritual-icon {
            background: rgb(174, 255, 213) !important;
            color: #187a57;
            width: fit-content;
            height: 26px;
        }

        .emotional-icon {
            background: rgb(255, 229, 216) !important;
            color: #e25900;
            width: fit-content;
            height: 26px;
        }

        .cognitive-icon {
            background: rgb(223, 236, 255) !important;
            color: #0965a1;
            width: fit-content;
            height: 26px;
        }

        .entertainment-icon {
            background: rgb(177, 255, 255) !important;
            color: #006064;
            width: fit-content;
            height: 26px;
            font-size: 15px;
        }

        .other-icon {
            background: rgb(255, 216, 246) !important;
            color: #f300d3;
            width: fit-content;
            height: 26px;
        }

        .activity-name {
            font-size: 16px;
            font-weight: 600;
            color: #222;
            line-height: 20px;
        }

        .participant-limit {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            color: #6e6e6e;
            line-height: 28px;

            .pl-count {
                font-size: 20px;
                font-weight: 600;
                color: #222;
            }
        }

        .assigned-label {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            color: #6e6e6e;
            line-height: 28px;

            .assigned-count {
                font-size: 20px;
                font-weight: 600;
                color: #00b30f;
            }
        }

        .waiting-list {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            color: #6e6e6e;
            margin-top: 10px;
            line-height: 28px;

            .wl-count {
                font-size: 20px;
                font-weight: 600;
                color: #ff8100;
            }
        }

        .available-slots {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            color: #6e6e6e;
            line-height: 28px;

            .as-count {
                font-size: 20px;
                font-weight: 600;
                color: #006dea;

                span {
                    color: #222;
                    font-size: 13px;
                    font-weight: normal;
                    display: block;
                    margin-top: -4px;
                }
            }
        }

        .cost-sec {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            color: #6e6e6e;

            .cost {
                font-size: 20px;
                font-weight: 600;
                color: #00b30f;
                line-height: 28px;

                span {
                    font-size: 16px;
                    font-weight: normal;
                }
            }
        }

        .signup-btn {
            --background: #00b30f;
            --box-shadow: none;
            --color: #fff;
            --border-radius: 50px;
            text-transform: none;
            font-size: 17px;
            font-weight: normal;
            margin-top: 15px;
            height: 40px;
        }

        .awl-btn {
            --background: #fd7500;
            --border-radius: 50px;
            --padding-start: 20px;
            --padding-end: 15px;

            font-size: 15px;
            font-weight: normal;
            color: #fff;
            height: 40px;
            margin-top: 15px;
            margin-left: auto;
            margin-right: 5px;
        }

        .wl {
            color: #fd7500;
            font-size: 15px;
            margin-left: auto;
            margin-right: 10px;
            margin-top: 15px;
            margin-bottom: 5px;
            display: block;
        }

        .signed-up {
            color: #00b930;
            font-size: 16px;
            margin-left: auto;
            margin-right: 10px;
            margin-top: 15px;
            margin-bottom: 5px;
            display: block;
        }

        .activity-thumb-img {
            width: 33%;
            max-height: 110px;
            border-radius: 10px;
            -o-object-fit: cover;
            object-fit: cover;
            overflow: hidden;
            margin-top: 15px;
        }
    }
}

.dflex-ai-c {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1024px) {
    ion-card {
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 40px;
        margin-top: 20px;
    }
}

.attended-mark {
    display: flex;
    align-items: center;

    ion-icon {
        font-size: 15px;
        color: #1cb300;
        vertical-align: middle;
    }

    ion-label {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        vertical-align: middle;
        color: #222;
        margin-left: 5px;
    }
}

.declined-mark {
    display: flex;
    align-items: center;

    ion-icon {
        font-size: 22px;
        color: #ff0000;
        vertical-align: middle;
    }

    ion-label {
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        vertical-align: middle;
        color: #222;
        margin-left: 10px;
    }
}

.attended-declined-reason {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #525252;
    line-height: 25px;
    margin: 10px 0 0;

    &:nth-child(2) {
        margin-top: 5px !important;
    }
}

.bb-seperator-line {
    border-bottom: 1px dashed #b7b7b7;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: block;

    ion-col {
        padding: 0;
    }
}

.act-attended-btn {
    --background: #d3fdcf;
    --border-radius: 50px;
    --box-shadow: none;
    --padding-start: 12px;
    --padding-end: 15px;
    color: #15b100;
    text-transform: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 38px;

    ion-icon {
        margin-right: 5px;
    }
}

.act-declined-btn {
    --background: #ffe5e4;
    --border-radius: 50px;
    --box-shadow: none;
    --padding-start: 12px;
    --padding-end: 15px;
    color: #ff5657;
    text-transform: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-left: 20px;
    height: 38px;

    ion-icon {
        margin-right: 5px;
    }
}

.activity_description {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 22px;
}
