

sc-ion-popover-ios {
    border-radius: 10px;
    width: 25% !important;
}

.popover-arrow.sc-ion-popover-ios::after {
    display: none;
}

.participant-container {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 15px;
    padding-bottom: 10px;

    &:last-of-type {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border: none;
    }

    .relation {
        font-family: "Open Sans", sans-serif;
        margin-left: 0px;
        margin-top: 0;
    }
}

.cp-info-container {
    ion-col {
        ion-icon {
            font-size: 22px;
            color: #4c4c4c;
        }

        p {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            color: #232323;
        }
    }

    ion-col:first-of-type {
        align-self: center;
    }

    ion-col:nth-of-type(2) {
        padding-left: 10px;
    }
}
.rel_details_card {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    flex-grow: 1;
    overflow-y: scroll !important;
    box-shadow: none !important;
    border: 1px solid #dfdfdf;
}
.close-modal {
    display: flex;
    color: #c5c5c5;
    font-size: 20px;
    float: right;
    margin: 60px 15px 15px;
    height: auto;
    --background: transparent;
    --box-shadow: none;
    --border-radius: 50px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
}

.close-modal-btn {
    --background: #fff;
    --box-shadow: none;
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --border-radius: 50px;
    color: #0077b5;
    width: 28px;
    height: 28px;

    ion-icon {
        font-size: 25px;
    }
}
