<ion-header class="ion-header-inner">
  
  <ion-toolbar color="none" lines="none" class="no-border">
    
    <ion-grid>
      
      <ion-row class="display-space-between">
        
        <ion-col class="col-fit ion-align-self-start page-name">
          
          <ion-label >Assignees</ion-label>
          
         

        </ion-col>

        <ion-col class="col-fit ion-align-self-start page-name">

          <ion-button class="close-modal-btn" (click)="cancel()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>

</ion-header>

<ion-content>
 

<ion-card class="rel_details_card">
  <ion-grid *ngIf="data.length>0">
    <div *ngFor="let item of data" class="participant-container">
      <ion-row *ngIf="flag!==1">
        <ion-col style="max-width: fit-content !important;">
          <ion-avatar style="width:42px; height: 42px;">
            <img [src]="item.profile_pic">
          </ion-avatar>
        </ion-col>
        <ion-col style="align-self: center !important;">
          <ion-label class="relprofile_consumer_name1">{{item.name}}</ion-label>
          <!-- <p class="relation">{{item.contact.relation}}</p> -->
        </ion-col>
      </ion-row>

      <ion-row *ngIf="flag==1">
        <ion-col style="max-width: fit-content !important;">
          <ion-avatar style="width:42px; height: 42px;">
            <img [src]="item.technician.profile_pic">
          </ion-avatar>
        </ion-col>
        <ion-col style="align-self: center !important;">
          <ion-label class="relprofile_consumer_name1">{{item.technician.name}}</ion-label>
          <!-- <p class="relation">{{item.contact.relation}}</p> -->
        </ion-col>
      </ion-row>
      

    </div>
  </ion-grid>


 
</ion-card>

</ion-content>