ion-header {
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    position: relative;
    padding: 10px 10px 10px;

    ion-grid {
        ion-row {
            position: relative;

            .page_title {
                font-family: "Roboto", sans-serif !important;
                font-size: 18px !important;
                // font-weight: 500 !important;

                ion-icon {
                    vertical-align: middle;
                    font-size: 25px;
                }

                ion-text {
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }

            .page-close-btn {
                font-size: 32px;
                color: #fff;
                vertical-align: middle;
                position: absolute;
                right: 5px;
                top: -4px;
            }
        }
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.inner-content {
    padding: 20px;
    background: #efefef;

    .staff-item-card {
        display: flex;
        align-items: center;
        padding: 15px;
        margin: 0 0 20px;
        box-shadow: none !important;
        min-height: 55px;

        p {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: normal;
            color: #000;
            margin: 0;
        }
    }

    .selected {
        position: relative;
        border: 1px solid #0077b5;

        &:after {
            content: url("/assets/selected-checkmark.svg");
            position: absolute;
            top: 16px;
            right: 10px;
        }
    }
}

ion-select {
    background-color: #ededed;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #777777;
    padding: 10px 12px;
    border-radius: 6px;
    height: 35px;
    width: 95%;
    margin: 5px auto;
}

ion-button {
    margin-left: auto;
    margin-right: auto;
    --background: #0077b5;
    --border-radius: 15px;
    --box-shadow: none;
    text-transform: none;
    min-width: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: normal;
}

.d-none {
    display: none;
}
