<ion-header mode="md" class="ion-header-inner">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <ion-text>Assigned to</ion-text>

      </ion-col>

      <ion-icon class="page-close-btn" name="close-circle-sharp" (click)="dismiss()"></ion-icon>

    </ion-row>

  </ion-grid>

</ion-header>

<div class="inner-content">

  <ion-card class="staff-item-card" *ngFor="let item of staff" (click)="setStaff(item)" [class.selected]="item.user_id==sel_id">

    <p>{{item.name}}</p>

  </ion-card>


</div>