<ion-item color="none" lines="none">
  <ion-label >Assigned to</ion-label>
</ion-item>


<ion-item color="none" lines="none" class="inner-filter-options1" >

   

  <ion-select interface="action-sheet" okText="Okay" cancelText="Dismiss" class="branch" [(ngModel)]="sel_staff" [selectedText]="sel_staff"  (ionChange)="setStaff($event)">
    <ion-select-option value="{{item.name}}" *ngFor="let item of staff">{{item.name}}</ion-select-option>
    
  </ion-select>

</ion-item>

<ion-item color="none" lines="none">
  <ion-button (click)="dismiss()">Done</ion-button>
</ion-item>