ion-header {
    ion-icon {
        min-width: 30px;
    }
}

ion-content {
    --padding-start: 12px;
    --padding-end: 12px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --background: #eee;
}

.resource-folder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;
    padding: 10px;
    min-height: 130px;
    height: 100%;
    margin: 0px;

    .resources-thumb-icon {
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
    }

    ion-label {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        // font-family: "Open Sans", sans-serif;
    }
}

.resource-details-list-card {
    padding: 15px 20px;
    margin-left: 3px !important;
    margin-right: 3px !important;
    margin-top: 5px;
    margin-bottom: 0px !important;
    background: #fff;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;

    ion-item {
        --padding-start: 0px;
        --inner-padding-end: 16px;
        --min-height: auto;
        width: 100%;

        img {
            width: 25px;
            height: 25px;
        }

        ion-label {
            font-family: "Roboto", sans-serif;
            margin-left: 10px;
            margin-top: 0px;
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width:768px) {
    .resource-folder {
        min-height: 180px;
        height: 100%;
        margin: 0px;

        .resources-thumb-icon {
            width: 80px;
            height: 80px;
            margin-bottom: 5px;
        }

        ion-label {
            font-size: 18px;
        }
    }
}

.rd-sec {
    ion-col {
        padding: 8px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-ios {
        padding-top: 15px;
    }
}
