<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label >Choose a date</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <div class="fts-box">

      <div class="fts-inner-box">
        <ion-icon class="icon-pending" name="ellipse-sharp"></ion-icon>
        <ion-label>Pending</ion-label>
      </div>

      <div class="fts-inner-box">
        <ion-icon class="icon-selected" name="ellipse-sharp"></ion-icon>
        <ion-label>Selected</ion-label>
      </div>

      <div class="fts-inner-box">
        <ion-icon class="icon-skipped" name="ellipse-sharp"></ion-icon>
        <ion-label>Skipped</ion-label>
      </div>

    </div>

    <ion-icon class="close-strip-icon" name="close-circle-sharp"></ion-icon>

  </ion-fab> -->


  <div class="dm-date-range">

    <div class="msn-block" *ngIf="menu">
      <ion-label class="season-label" >{{menu.menu_name}}</ion-label>
    </div>

    <ion-label *ngIf="menu">{{menu.start_date | dateformat:'DD MMM YYYY'}} - {{menu.enddate | dateformat:'DD MMM YYYY'}}</ion-label>

  </div>

  <ion-grid *ngIf="dates&&dates.length">

    <ion-row class="din-date-row">

      <ion-col size-sm="3" size-md="2" size-lg="2" size="3" *ngFor="let item of dates" [id]="item">

        <div class="dt-box" (click)="gotoListing(item)">

          <ion-card class="dt-card" [class.dt-card-current-date]="item==currentDate" >

            <ion-label class="dt-label">

              <span>
                {{item|dateformat:'ddd'}}
              </span>

              {{item|dateformat:'DD'}}

              <span>
                {{item|dateformat:'MMM'}}
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <!-- <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Sat
              </span>

              2

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Sun
              </span>

              3

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Mon
              </span>

              4

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Tue
              </span>

              5

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Wed
              </span>

              6

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Thu
              </span>

              7

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Fri
              </span>

              8

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Sat
              </span>

              9

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Sun
              </span>

              10

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card dt-card-current-date">

            <ion-label class="dt-label">

              <span>
                Mon
              </span>

              11

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Tue
              </span>

              12

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Wed
              </span>

              13

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Thu
              </span>

              14

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Fri
              </span>

              15

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col>

      <ion-col size-sm="3" size-md="3" size-lg="2" size="3">

        <div class="dt-box">

          <ion-card class="dt-card">

            <ion-label class="dt-label">

              <span>
                Tue
              </span>

              16

              <span>
                Oct
              </span>

            </ion-label>

          </ion-card>

        </div>

      </ion-col> -->

    </ion-row>

  </ion-grid>

</ion-content>