.ion-header-inner {
    background: #0077B5 !important;
}

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

.fixed-top-sec {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    right: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;

    .fts-box {
        display: flex;
        justify-content: space-between;

        .fts-inner-box {
            display: flex;

            ion-icon {
                font-size: 22px;
                color: #B9B9B9;
                vertical-align: middle;
                align-self: center;
            }

            ion-label {
                font-size: 15px;
                vertical-align: middle;
                color: #222222;
                align-self: center;
                margin-left: 8px;
                margin-right: 10px;
            }

            .icon-pending {
                color: #B9B9B9;
            }

            .icon-selected {
                color: #15B100;
            }

            .icon-skipped {
                color: #FD8000;
            }
        }
    }

    .close-strip-icon {
        font-size: 30px;
        color: #0077B5;
    }
}

.dm-date-range {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

    .msn-block {
        .season-label {
            color: #0077b5;
        }
    }

    ion-label {
        font-size: 18px;
        font-weight: 500;
        color: #222;
    }
}

.dt-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .dt-card {
        box-shadow: none !important;
        background-color: #F4F4F4 !important;
        padding: 10px;
        margin: 0;
        width: 70px;

        .dt-label {
            color: #707070;
            font-size: 22px;
            font-weight: 600;
            line-height: 24px;
            text-align: center;
            display: flex;
            flex-direction: column;

            span {
                display: block;
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}

@media only screen and (min-width:393px) and (max-width:767px) {

    .dt-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .dt-card {
            box-shadow: none !important;
            background-color: #F4F4F4 !important;
            padding: 10px;
            margin: 0;
            width: 85px;

            .dt-label {
                color: #707070;
                font-size: 22px;
                font-weight: 600;
                line-height: 24px;
                text-align: center;
                display: flex;
                flex-direction: column;

                span {
                    display: block;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }
    }

}

@media only screen and (min-width:768px) {
    .dt-box {
        .dt-card {
            box-shadow: none !important;
            background-color: #F4F4F4 !important;
            padding: 10px;
            margin: 0;
            width: 100%;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items: center;

            .dt-label {
                color: #707070;
                font-size: 28px;
                font-weight: 600;
                line-height: 30px;
                text-align: center;
                display: flex;
                flex-direction: column;

                span {
                    display: block;
                    font-size: 17px;
                    font-weight: 400;
                }
            }
        }

        .dt-card-current-date {
            .indicator-line {
                width: 95% !important;
            }
        }
    }
}

.indicator-line {
    width: 100% !important;
    height: 6px !important;
    background: #cccccc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    align-self: center;
    vertical-align: middle;
    display: flex;
}

.iline-pending {
    background: #B9B9B9;
}

.iline-selected {
    background: #15B100;
}

.iline-skipped {
    background: #FD8000;
}

.dt-card-current-date {
    border: 2px solid #0077b5;
    background-color: #fff !important;

    .dt-label {
        color: #0077b5 !important;
    }

    .indicator-line {
        width: 90% !important;
        height: 6px !important;
        position: absolute;
        bottom: 0px;
        align-self: center;
        vertical-align: middle;
        display: flex;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        transform: translate(-50%, -50%);
        left: 50%;
    }
}

.cut-off-icon {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 999;
}

@media only screen and (min-width:712px) and (max-width:712px) {
    .dt-box {
        .dt-card {
            width: 165px;
            height: 135px;
            display: flex;
            justify-content: center;
            align-items: center;

            .dt-label {
                font-size: 25px;

                span {
                    font-size: 16px;
                    margin-bottom: 5px;

                    &:last-child {
                        margin-top: 5px;
                        margin-bottom: 0px !important;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:750px) and (max-width:753px) {
    .din-date-row {
        justify-content: space-evenly;
        
        ion-col {
            max-width: fit-content !important;
        }
    }
}