ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.task-creation-form {

    ion-col {
        &+ion-col {
            .uploaded-images-container {
                margin-top: 0;
            }
        }
    }

    .task-form-label {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #646464;
    }

    .rvct-radio-list {
        background: transparent !important;
        margin-top: 10px;

        ion-radio-group {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            ion-item {
                --padding-start: 0;
                --inner-padding-end: 0;
                --min-height: auto;
                margin: 0 15px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-left: 0;
                }

                ion-radio {
                    margin-right: 10px;
                    --border-width: 1px;
                    --color-checked: #0077b5;
                }

                ion-label {
                    color: #222;
                    font-size: 16px;
                }
            }
        }
    }

    .task-dt-box {
        position: relative;
        width: 100%;
        display: inline-block;

        ion-datetime {
            --padding-start: 15px;
            --padding-end: 15px;
            color: #222;
            background: #efefef !important;
            border-radius: 10px;
            height: 50px;
            display: flex;
            align-items: center;
            margin-top: 15px;
        }

        i {
            font-size: 25px;
            color: #707070;
            position: absolute;
            right: 15px;
            top: 30px;
            z-index: 9999;
        }
    }

    ion-input {
        --padding-start: 15px;
        --padding-end: 15px;
        color: #222;
        background: #efefef !important;
        border-radius: 10px;
        height: 50px;
        margin-top: 15px;
    }

    ion-textarea {
        color: #222;
        background: #efefef !important;
        border-radius: 10px;
        min-height: 150px;
        --padding-start: 15px;
        --padding-end: 15px;
    }

    ion-select {
        background: #efefef;
        color: #252525;
        border-radius: 10px;
        min-height: 50px;
        margin-top: 15px;
        padding: 10px 20px 10px 15px;
    }

    .task-select-resident-btn {
        display: flex;
        max-width: fit-content;
        --background: transparent;
        --background-activated: rgb(208 239 255 / 20%);
        --box-shadow: none;
        --padding-start: 0;
        color: #0077b5;
        text-transform: none;
        font-size: 16px;
        margin-top: 10px;

        ion-icon {
            font-size: 22px;
            margin-right: 10px;
        }
    }

    .task-sres-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        .tsres-box {
            max-width: 70%;

            ion-label {
                font-size: 16px;
                font-weight: 500;
                color: #222;
            }

            .tsres-mc {
                background: #d7e3f9;
                color: #4e70b1;
                min-width: 25px;
                min-height: 25px;
                font-size: 14px;
                border-radius: 50px;
                padding: 8px;
            }
        }

        .tsres-controls-box {
            width: 12%;
            display: flex;
            align-items: center;

            .tsres-cb-edit-btn {
                --background: rgb(204 237 255);
                --border-radius: 50px;
                --box-shadow: none;
                --padding-start: 0;
                --padding-end: 0;
                color: #0077b5;
                width: 42px;
                min-width: 42px;
                max-width: 42px;
                height: 42px;
                font-size: 22px;
            }

            .tsres-cb-remove-btn {
                --background: rgb(204 237 255);
                --border-radius: 50px;
                --box-shadow: none;
                --padding-start: 0;
                --padding-end: 0;
                color: #0077b5;
                width: 42px;
                height: 42px;
                font-size: 22px;
            }
        }
    }
}

.uploaded-images-container {
    margin-top: 20px;

    ion-col {
        margin-right: 5px;
        margin-bottom: 20px;
    }
}

.uploaded-data {
    margin: 10px;

    .uploaded-image {
        width: 72px;
        height: 72px;
        position: relative;

        img {
            border: 1px solid #e6e6e6;
            border-radius: 6px;
        }

        .remove-img {
            position: absolute;
            top: -10px;
            right: -10px;
            z-index: 999;
            font-size: 25px;
            color: #ff0000;
            background: #fff;
            border-radius: 50px;
        }
    }
}

.add-img-icon {
    float: left;
    font-size: 28px;
    color: #0077b5;
    vertical-align: middle;
    transform: rotate(45deg);
}

.add-img-label {
    float: left;
    margin-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #222;
}

ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;

        .task-save-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #0077b5;
            color: #fff;
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }

        .task-cancel-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #8b8b8b;
            color: #fff;
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .task-creation-form {
        ion-col {
            padding: 10px;
        }
    }
}
