<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()">
          </ion-icon>
          <ion-label>Add feedback</ion-label>
        </ion-col>

        <!-- <ion-col class="col-fit ion-align-self-end">
          <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button>
          <ion-button class="filter-task-btn">
            <ion-icon name="funnel-outline"></ion-icon>
          </ion-button>
        </ion-col> -->

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-row class="task-creation-form">


    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="task-form-label">Type <span class="asterisk">*</span></ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="type">
        <ion-select-option value="2">Complaint</ion-select-option>
        <ion-select-option value="3">Suggestion</ion-select-option>
        <ion-select-option value="1">Compliment</ion-select-option>
      </ion-select>

      <!-- <ion-list color="none" class="rvct-radio-list">

        <ion-radio-group [(ngModel)]="type">

          <ion-item lines="none" color="none">
            <ion-radio value="2" mode="md"></ion-radio>
            <ion-label>Complaint</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-radio value="3" mode="md"></ion-radio>
            <ion-label>Suggestion</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-radio value="1" mode="md"></ion-radio>
            <ion-label>Compliment</ion-label>
          </ion-item>

        </ion-radio-group>

      </ion-list> -->

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="task-form-label">Category <span class="asterisk">*</span></ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="category">
        <ion-select-option value="{{item.id}}" *ngFor="let item of categories">{{item.name}}</ion-select-option>
       
      </ion-select>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15">

      <ion-label class="task-form-label">Enter feedback <span class="asterisk">*</span> </ion-label>

      <ion-textarea class="mt-15" rows="5" [(ngModel)]="feedback"></ion-textarea>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-10" *ngIf="images.length<5" (click)="selectImage()">

      <ion-icon name="attach-outline" class="add-img-icon"></ion-icon>

      <ion-label class="add-img-label">Add images</ion-label>

    </ion-col>


    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" *ngIf="images.length">


      <ion-row class="uploaded-images-container">

        <ion-col size="3" class="col_fit uploaded-data" *ngFor="let img of images;let i=index">
    
          <ion-thumbnail class="uploaded-image" >
            <img [src]="img">
            <ion-icon name="close-circle" class="remove-img" (click)="removeImg(i)"></ion-icon>
          </ion-thumbnail>
    
        </ion-col>
    
      </ion-row>


    </ion-col>


    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="task-form-label">Date<span class="asterisk">*</span></ion-label>

      <span class="task-dt-box">

        <ion-datetime mode="md"  displayFormat=" DD MMM YYYY, hh: mm A" [min]="date" [max]="2040"
           [(ngModel)]="date">
        </ion-datetime>

        <i class="las la-calendar"></i>

      </span>

    </ion-col>


    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="task-form-label">Status <span class="asterisk">*</span></ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="status">
        <ion-select-option value="1">New</ion-select-option>
        <ion-select-option value="2">In progress</ion-select-option>
        <ion-select-option value="3">Closed</ion-select-option>
      </ion-select>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="task-form-label">Select Resident <span class="asterisk">*</span></ion-label>

      <!-- <ion-button class="task-select-resident-btn">
        <ion-icon name="add-outline"></ion-icon> Select
      </ion-button> -->

      <div class="task-sres-block">

        <div class="tsres-box">
          <ion-label> {{consumer}} 
            <!-- <ion-chip class="tsres-mc">+10</ion-chip> -->
          </ion-label>
        </div>

        <!-- <div class="tsres-controls-box">

          <ion-button class="tsres-cb-edit-btn"><i class="las la-edit"></i></ion-button>

        </div> -->

      </div>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="task-form-label">Assigned to</ion-label>

      <!-- <ion-input></ion-input> -->

      <ion-button class="task-select-resident-btn" *ngIf="!assignedTo.length" (click)="openAssignedTo()">
        <ion-icon name="add-outline"></ion-icon> Select Assignees
      </ion-button>

      <div class="task-sres-block" *ngIf="assignedTo.length" (click)="openAssignedTo()">

        <div class="tsres-box">
          <ion-label> {{staff}}
            <ion-chip class="tsres-mc" *ngIf="assignedTo.length>2">+{{assignedTo.length-2}}</ion-chip>
          </ion-label>
        </div>

        <div class="tsres-controls-box">

          <ion-button class="tsres-cb-edit-btn"><i class="las la-edit"></i></ion-button>

        </div>

      </div>

    </ion-col>


  </ion-row>


 


</ion-content>

<ion-footer>

  <ion-item lines="none" color="none">

    <ion-button class="task-save-btn" (click)="save()">Save</ion-button>

    <ion-button class="task-cancel-btn" (click)="back()">Cancel</ion-button>

  </ion-item>

</ion-footer>