ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 0px;
}

.din-alertmodal-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    .din-confirm-icon {
        width: 128px;
        height: 128px;
    }

    .modal-title {
        font-size: 20px;
        font-weight: 600;
        color: #0378B4;
        margin-top: 20px;
    }

    .confirm-info-block {
        color: #222;
        font-size: 17px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 0px;
    }

}