<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Resident Profile</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar class="cp-pic-container">


    <img [src]="img">


    <!-- <ion-icon name="create-outline"></ion-icon> -->


  </ion-avatar>


  <ion-item lines="none" color="none" class="cp-info-sec mb-20">

    <ion-label class="cp-name">

      {{name}}

      <span class="cp-room">{{room}}, {{wing}}</span>

      <span class="cp-location">{{branch}}</span>

      <span class="cp-reset-password" [routerLink]="['/resetpassword',{flag:2,id:id,user_id:user_id}]">Reset Password</span>

    </ion-label>


  </ion-item>

  <ion-item class="cp-option-container" color="none" lines="none"  (click)="overview()">
    <img src="assets/feeds-icon.svg" slot="start">
    <ion-label style="color:#1c1c1c">Resident Feeds</ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>


  <ion-item class="cp-option-container" color="none" lines="none"  (click)="about()">
    <img src="assets/about-icon.svg" slot="start">
    <ion-label style="color:#1c1c1c">About</ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item class="cp-option-container" color="none" lines="none" (click)="contacts()">
    <img src="assets/contact-icon.svg" slot="start">
    <ion-label style="color:#1c1c1c">Contacts</ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item class="cp-option-container" color="none" lines="none" (click)="pettycash()">
    <img src="assets/pettycash-icon.svg" slot="start">
    <ion-label style="color:#1c1c1c">Petty Cash</ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item class="cp-option-container" color="none" lines="none"  (click)="gallery()">
    <img src="assets/gallery-icon.svg" slot="start">
    <ion-label style="color:#1c1c1c">Gallery</ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item class="cp-option-container" color="none" lines="none" (click)="report()">
    <img src="assets/reports-icon.svg" slot="start">
    <ion-label style="color:#1c1c1c">Activity Reports</ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <ion-item color="none" lines="none" class="cp-quick-links">
    <ion-label>Quick Links</ion-label>
  </ion-item>


  <div class="cp-qlinks-container" [routerLink]="['/create-story',{flag:2,id:id,user_id:user_id,name:name,pic:img,from:flag}]">

    <img src="assets/stories-icon.svg">

    <ion-label>New Story</ion-label>

  </div>

  <div class="cp-qlinks-container" (click)="newStatus()">

    <img src="assets/new-status-icon.svg">

    <ion-label>New Status</ion-label>

  </div>

  <div class="cp-qlinks-container" [routerLink]="['/chatbox',{flag:2,user_two:user_id,pic:img,name:name,id:id,room:room,wing:wing,fam:null,from:flag}]">

    <img src="assets/messaging-icon.svg">

    <ion-label>New Message</ion-label>

  </div>

  <div class="cp-qlinks-container" [routerLink]="['/add-activity',{flag:2,id:user_id,cid:id,name:name,branch:branch_id,from:flag}]">

    <img src="assets/activities-icon.svg">

    <ion-label>Add Activity</ion-label>

  </div>





</ion-content>