<!-- <span class="filter-container">

  <div *ngFor="let item of filters;let i =index">
    <ion-item style="margin-top: 15px;" lines="none" *ngIf="item.sub==null" (click)="selected(item,0)">
      <ion-label class="filter">{{item.filter}}</ion-label>
    </ion-item>
    <ion-item style="margin-top: 15px;" lines="none" (click)="expand(item,i)" *ngIf="item.sub!=null">
      <ion-label class="filter">{{item.filter}}</ion-label>
      <ion-icon name="chevron-down-outline" size="small"></ion-icon>
    </ion-item>

    <ion-list lines="none" *ngIf="sel_index==i">

      <ion-item lines="none" style="margin-top: 15px;width: 100%;" class="sub_filter" *ngFor="let sub of item.sub"
        (click)="selected(item,sub.id)">
        {{sub.status}}
      </ion-item>


    </ion-list>
    <hr class="seperator" *ngIf="i!=(filters.length-1)">
  </div>
  <div *ngIf="custom">

    <ion-row class="activity-date-picker mb-20">
    
     
    
      <ion-col>
    
        <ion-label>Start Date <span class="asterisk">*</span></ion-label>
        <ion-datetime value="2020-10-31T15:43:40.394Z" [max]="minDate" displayFormat=" DD MMM YYYY" display-timezone="utc" [(ngModel)]="startDate">
        </ion-datetime>
    
      </ion-col>
    
    </ion-row>
    
    <ion-row class="activity-date-picker mb-20">
    
    
    
      <ion-col>
    
        <ion-label>End Date <span class="asterisk">*</span></ion-label>
        <ion-datetime value="2020-10-310.394Z" [max]="minDate" displayFormat=" DD MMM YYYY" display-timezone="utc" [(ngModel)]="endDate">
        </ion-datetime>
    
      </ion-col>
    
    </ion-row>
    <div style="text-align: center;">
    <ion-button  [disabled]="startDate==undefined || endDate==undefined" (click)="apply()">Apply</ion-button>
    </div>
    </div>
</span> -->

<ion-header class="ion-header-inner">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="10" size-lg="10" size="12" class="page_title">

        <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>

        <ion-label>Maintenance filter</ion-label>

      </ion-col>



    </ion-row>

  </ion-grid>

</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="mf-card mb-10" *ngIf="utype!==4">

          <ion-grid>

            <ion-row>

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12">
                <div class="cc-box" (click)="openList(1)">
                  <ion-label class="filter-label">
                    <span>Assignees</span>
                    <ion-icon name="chevron-down-outline" class="collapse-arrow"></ion-icon>
                  </ion-label>
                </div>
                <ion-card-content *ngIf="expanded1">
                  <app-collapse-filter [expanded1]="expanded1">
                    <ion-select mode="md" interface="action-sheet" placeholder="Select technician"
                      [(ngModel)]="technician">
                      <ion-select-option value="{{item.user_id}}" *ngFor="let item of tec">{{item.name}}
                      </ion-select-option>
                    </ion-select>
                  </app-collapse-filter>
                </ion-card-content>

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="mf-card mb-10">

          <ion-grid>

            <ion-row>

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12">
                <div class="cc-box" (click)="openList(2)">
                  <ion-label class="filter-label">
                    <span>Status</span>
                    <ion-icon name="chevron-down-outline" class="collapse-arrow"></ion-icon>
                  </ion-label>
                </div>
                <ion-card-content *ngIf="expanded2">
                  <app-collapse-filter [expanded2]="expanded2">
                    <ion-select mode="ios" interface="action-sheet" placeholder="Select status" [(ngModel)]="status">
                      <ion-select-option value="all">All</ion-select-option>
                      <ion-select-option value="unresolved">All unresolved</ion-select-option>
                      <ion-select-option value="0">Open</ion-select-option>
                      <ion-select-option value="1">In Progress</ion-select-option>
                      <ion-select-option value="2">With third party</ion-select-option>
                      <ion-select-option value="3">Closed</ion-select-option>
                      <!-- <ion-select-option value="4">Overdue</ion-select-option> -->
                    </ion-select>
                  </app-collapse-filter>
                </ion-card-content>

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="mf-card mb-10">

          <ion-grid>

            <ion-row>

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12">
                <div class="cc-box" (click)="openList(5)">
                  <ion-label class="filter-label">
                    <span>Priority</span>
                    <ion-icon name="chevron-down-outline" class="collapse-arrow"></ion-icon>
                  </ion-label>
                </div>
                <ion-card-content *ngIf="expanded5">
                  <app-collapse-filter [expanded5]="expanded5">
                    <ion-select mode="ios" interface="action-sheet" placeholder="Select priority"
                      [(ngModel)]="priority">
                      <ion-select-option value="all">All</ion-select-option>
                      <ion-select-option value="2">Urgent</ion-select-option>
                      <ion-select-option value="1">Medium</ion-select-option>
                      <ion-select-option value="0">Low</ion-select-option>
                    </ion-select>
                  </app-collapse-filter>
                </ion-card-content>

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="mf-card mb-10">

          <ion-grid>

            <ion-row>

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12">
                <div class="cc-box" (click)="openList(6)">
                  <ion-label class="filter-label">
                    <span>Risk rating</span>
                    <ion-icon name="chevron-down-outline" class="collapse-arrow"></ion-icon>
                  </ion-label>
                </div>
                <ion-card-content *ngIf="expanded6">
                  <app-collapse-filter [expanded6]="expanded6">
                    <ion-select mode="ios" interface="action-sheet" placeholder="Select risk rating" [(ngModel)]="risk">
                      <ion-select-option value="all">All</ion-select-option>
                      <ion-select-option value="2">High</ion-select-option>
                      <ion-select-option value="1">Medium</ion-select-option>
                      <ion-select-option value="0">Low</ion-select-option>
                    </ion-select>
                  </app-collapse-filter>
                </ion-card-content>

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="mf-card mb-10">

          <ion-grid>

            <ion-row>

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12">
                <div class="cc-box" (click)="openList(7)">
                  <ion-label class="filter-label">
                    <span>Category</span>
                    <ion-icon name="chevron-down-outline" class="collapse-arrow"></ion-icon>
                  </ion-label>
                </div>
                <ion-card-content *ngIf="expanded7">
                  <app-collapse-filter [expanded7]="expanded7">
                    <ion-select mode="ios" interface="action-sheet" placeholder="Select type" [(ngModel)]="reqType">
                      <ion-select-option value="all">All</ion-select-option>
                      <ion-select-option value="0">Corrective</ion-select-option>
                      <ion-select-option value="1">Preventive</ion-select-option>
                    </ion-select>
                  </app-collapse-filter>
                </ion-card-content>

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="mf-card mb-10">

          <ion-grid>

            <ion-row>

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12">
                <div class="cc-box" (click)="openList(4)">
                  <ion-label class="filter-label">
                    <span>Type</span>
                    <ion-icon name="chevron-down-outline" class="collapse-arrow"></ion-icon>
                  </ion-label>
                </div>
                <ion-card-content *ngIf="expanded4">
                  <app-collapse-filter [expanded1]="expanded4">

                    <ion-select mode="md" interface="action-sheet" [(ngModel)]="selected_type"  placeholder="Select a type">
                      <ion-select-option class="selected-type" value="{{t.id}}" *ngFor="let t of type">{{t.type}} </ion-select-option>
                    </ion-select>

                  </app-collapse-filter>
                </ion-card-content>

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="mf-card mb-10">

          <ion-grid>

            <ion-row>

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12">
                <div class="cc-box" (click)="openList(3)">
                  <ion-label class="filter-label">
                    <span>Created Date</span>
                    <ion-icon name="chevron-down-outline" class="collapse-arrow"></ion-icon>
                  </ion-label>

                </div>
                <ion-card-content *ngIf="expanded3">
                  <app-collapse-filter [expanded3]="expanded3">
                    <ion-select mode="ios" interface="action-sheet" placeholder="Select" [(ngModel)]="crdatefil">
                      <ion-select-option value="all">All Time</ion-select-option>
                      <ion-select-option value="0">Today</ion-select-option>
                      <ion-select-option value="1">Yesterday</ion-select-option>
                      <ion-select-option value="2">Last 7 days</ion-select-option>
                      <ion-select-option value="3">Last 30 days</ion-select-option>
                      <ion-select-option value="5">This month</ion-select-option>
                      <ion-select-option value="6">Last month</ion-select-option>
                      <ion-select-option value="4">Custom Range</ion-select-option>
                    </ion-select>
                    <div class="dt-filter" *ngIf="crdatefil==4">
                      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">
                        <ion-label class="filter-label">
                          <span>Start date</span>
                          <!-- <ion-icon name="chevron-down-outline" class="collapse-arrow"></ion-icon> -->
                        </ion-label>


                        <ion-datetime value="2021-06-24T15:43:40.394Z" display-timezone="utc"
                          displayFormat="DD MMMM, YYYY" [max]="minDate" [(ngModel)]="crstartDate">
                        </ion-datetime>

                        <!-- <ion-icon class="custom-calendar-icon"></ion-icon> -->
                      </ion-col>
                      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">
                        <ion-label class="filter-label">
                          <span>End date</span>
                          <!-- <ion-icon name="chevron-down-outline" class="collapse-arrow"></ion-icon> -->
                        </ion-label>


                        <ion-datetime value="2021-06-24T15:43:40.394Z" display-timezone="utc"
                          displayFormat="DD MMMM, YYYY" [max]="minDate" [(ngModel)]="crendDate">
                        </ion-datetime>

                        <!-- <ion-icon class="custom-calendar-icon"></ion-icon> -->
                      </ion-col>
                    </div>
                  </app-collapse-filter>
                </ion-card-content>

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="mf-card mb-10">

          <ion-grid>

            <ion-row>

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12">
                <div class="cc-box" (click)="openList(8)">
                  <ion-label class="filter-label">
                    <span>Due Date</span>
                    <ion-icon name="chevron-down-outline" class="collapse-arrow"></ion-icon>
                  </ion-label>
                </div>
                <ion-card-content *ngIf="expanded8">
                  <app-collapse-filter [expanded8]="expanded8">
                    <ion-select mode="ios" interface="action-sheet" placeholder="Select" [(ngModel)]="datefil">
                      <ion-select-option value="all">All time</ion-select-option>
                      <ion-select-option value="0">Today</ion-select-option>
                      <ion-select-option value="1">Tomorrow</ion-select-option>
                      <!-- <ion-select-option value="1">Yesterday</ion-select-option> -->
                      <ion-select-option value="2">Next 7 days</ion-select-option>
                      <ion-select-option value="3">Next 30 days</ion-select-option>
                      <ion-select-option value="5">This month</ion-select-option>
                      <ion-select-option value="6">Next month</ion-select-option>
                      <ion-select-option value="4">Custom Range</ion-select-option>
                    </ion-select>
                    <div class="dt-filter" *ngIf="datefil==4">
                      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">
                        <ion-label class="filter-label">
                          <span>Start date</span>
                          <!-- <ion-icon name="chevron-down-outline" class="collapse-arrow"></ion-icon> -->
                        </ion-label>


                        <ion-datetime display-timezone="utc" displayFormat="DD MMMM, YYYY" [(ngModel)]="startDate">
                        </ion-datetime>

                        <!-- <ion-icon class="custom-calendar-icon"></ion-icon> -->
                      </ion-col>
                      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">
                        <ion-label class="filter-label">
                          <span>End date</span>
                          <!-- <ion-icon name="chevron-down-outline" class="collapse-arrow"></ion-icon> -->
                        </ion-label>


                        <ion-datetime value="2021-06-24T15:43:40.394Z" display-timezone="utc"
                          displayFormat="DD MMMM, YYYY" [(ngModel)]="endDate">
                        </ion-datetime>

                        <!-- <ion-icon class="custom-calendar-icon"></ion-icon> -->
                      </ion-col>
                    </div>
                  </app-collapse-filter>
                </ion-card-content>

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  
  <ion-grid>
    
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="6" class="col-fit">
        <ion-button class="apply-filter-btn" (click)="apply()">
          <ion-icon name="checkmark"></ion-icon>
          <ion-label>Apply</ion-label>
        </ion-button>
      </ion-col>

      <ion-col size="6" class="col-fit">
        <ion-button class="reset-filter-btn" (click)="reset()">
          <ion-icon name="refresh-outline"></ion-icon>
          <ion-label>Reset</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-footer>