.ion-header-inner {
  padding: 15px 15px 0 !important;

  ion-grid {
    ion-row {
      ion-col {
        // padding: 20px 0px 20px !important;

        align-self: center !important;

        ion-icon {
          font-size: 30px;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
    }
  }
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --background: #eee;
}

.filter {
  text-align: left !important;
  color: #1c1c1c !important;
  font-size: 15px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-inline-end: 0px !important;
  --padding-start: 0px !important;
  --inner-padding-end: 0px !important;
  --min-height: auto !important;
}

.sub_filter {
  margin-left: 20px;
  margin-top: 10px !important;
  margin-bottom: 0px !important;
  margin-inline-end: 0px !important;
  --padding-start: 10px !important;
  --inner-padding-end: 0px !important;
  --min-height: auto !important;
  color: #727272;
  font-weight: normal;
  display: flex;
}

.sub_filter::before {
  content: "\2192";
  display: inline-flex;
}

.seperator {
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  color: #f1f1f1 !important;
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.filter-container {
  padding-bottom: 15px;
  display: block;
}

.mf-card {
  // display: flex;
  padding: 5px 10px;
  margin: 0;
  box-shadow: none !important;
  background: #fff;
  border: 1px solid #dfdfdf;

  .cc-box {
    width: 100%;
    display: flex;
    justify-content: space-between;

    ion-label {
      font-size: 16px;
      color: #838383;
      display: contents;
    }

    ion-icon {
      font-size: 22px;
      vertical-align: middle;
      color: #afafaf;
    }
  }

  ion-card-content {
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
    padding-bottom: 0px;

    ion-select {
      background: #efefef;
      border-radius: 10px;
      white-space:nowrap;
    
    }
  }
}

ion-footer {
  .apply-filter-btn {
    --background: #0077b5;
    --border-radius: 50px;
    --box-shadow: none;
    text-transform: none;
    font-weight: normal;
  }

  .reset-filter-btn {
    --background: #b8b8b8;
    --border-radius: 50px;
    --box-shadow: none;
    text-transform: none;
    font-weight: normal;
  }
}

.dt-filter {
  margin-top: 10px;

  ion-label {
    font-size: 16px;
  }

  ion-datetime {
    font-size: 16px;
    background: #efefef;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 700px) {
  .mf-card {
    .cc-box {
      min-height: 27px;
    }
  }
}
