<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline"></ion-icon>
          <ion-label>Declined Reason</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>



  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-radio-group value="visible-to">

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Out of community</ion-label>
        <ion-radio slot="start" value="out-of-community"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Had appointment</ion-label>
        <ion-radio slot="start" value="had-appointment"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Sleeping or napping</ion-label>
        <ion-radio slot="start" value="sleeping-or-napping"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Had visitors</ion-label>
        <ion-radio slot="start" value="had-visitors"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Not interested</ion-label>
        <ion-radio slot="start" value="not-interested"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Not feeling well</ion-label>
        <ion-radio slot="start" value="not-feeling-well"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none">
        <ion-label>Other</ion-label>
        <ion-radio slot="start" value="other"></ion-radio>
      </ion-item>

    </ion-radio-group>

  </ion-list>

</ion-content>