<ion-header class="ion-header-inner">

  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row>
  
        <ion-col size-sm="12" size-md="10" size-lg="10" size="12" class="page_title">
  
          <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
  
          <ion-label>Locations</ion-label>
  
        </ion-col>
  
        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-5">
  
          <ion-searchbar  placeholder="Search location" (ionCancel)="cancel()" [(ngModel)]="terms">
          </ion-searchbar>
  
        </ion-col>
        <!-- <ion-col size-sm="2" size-md="2" size-lg="2" size="2">
   
          <ion-button>
   
            <ion-icon name="checkmark"></ion-icon>
   
          </ion-button>
   
        </ion-col> -->
  
      </ion-row>
  
    </ion-grid>

  </ion-toolbar>

</ion-header>

<ion-content class="custom-ion-content">

  <ion-grid *ngIf="items.length>0 && ( items | locationsearch : terms) as result">
    <ion-row>
      <ion-col size="12">

        <ion-card class="location-card" *ngFor="let item of items|locationsearch : terms">
          
          <ion-card-header  [class.selected]="data==item.data.id">
            <ion-item lines="none" color="none"
              (click)="select(item.data.id,item.data.name,item.data.sub_locations.length,'',1)">
              <!-- <ion-checkbox *ngIf="item.data.sub_locations.length==0" (ionChange)="select(item.data.id,item.data.name)" [checked]="data==item.data.id"></ion-checkbox> -->
              <img src="/assets/location-icon.svg">
              <ion-label class="location-label">{{item.data.name}}
                <p class="sublocation-count" *ngIf="item.data.sub_locations.length>0">{{item.data.sub_locations.length}} Sublocations</p>
              </ion-label>

            </ion-item>

            <ion-icon name="chevron-down-outline" class="collapse-arrow" *ngIf="item.data.sub_locations.length>0" (click)="expandItem(item)">
            </ion-icon>
          </ion-card-header>

          <ion-card-content *ngIf="item.data.sub_locations.length>0">
            <app-contacts  [expanded]="item.expanded||terms||selectedLoc(item.data.sub_locations)">
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <ion-item lines="none" color="none" *ngFor="let loc of item.data.sub_locations"
                      [class.selected]="loc.id==data" (click)="select(loc.id,loc.name,0,item.data.name,2)">
                      <!-- <ion-checkbox (ionChange)=" [checked]="loc.id==data"></ion-checkbox> -->

                      <ion-icon class="sub-location-icon-1" name="location-outline"></ion-icon>
                      <ion-label class="sub-location">{{loc.name}}
                        <!-- <ion-icon class="sub-location-icon" name="ellipse"></ion-icon> -->
                        <!-- <ion-icon class="sub-location-icon" name="location-outline"></ion-icon> -->
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </app-contacts>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <div *ngIf="result.length==0">
      <ion-thumbnail 
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-data-icon.svg">
      </ion-thumbnail>
    
      <ion-item lines="none" style="margin-top: 5px;" color="none">
        <ion-label
          style="font-weight: 400; font-size:18px;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No location found.</ion-label>
      </ion-item>
    </div>
  </ion-grid>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of items">
        <ion-card class="location-card" (click)="select(item.id,item.name)" [class.selected]="data==item.id">
          <ion-label>{{item.name}}
            <span *ngIf="item.parent!=null">({{item.parent.name}})</span>
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div *ngIf="items.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-data-icon.svg">
    </ion-thumbnail>

    <ion-item lines="none" style="margin-top: 5px;" color="none">
      <ion-label
        style="font-weight: 400; font-size:18px;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No location found.</ion-label>
    </ion-item>
  </div>

</ion-content>