ion-header {
  .page_title {
    ion-icon {
      margin-right: 15px;
      margin-left: -3px;
    }

    ion-label {
      font-family: "Roboto", sans-serif !important;
      font-weight: normal !important;
    }
  }
}

.ion-header-inner {
  background: #0077b5;
  min-height: 100px;
  padding: 15px 15px 15px;
  color: #fff;
  align-self: center;
  align-items: center;
  align-content: center;
  display: flex;

  ion-toolbar {

    ion-grid {
      ion-row {
        ion-col {
          padding: 5px 0px 0px !important;
          align-self: center !important;
  
          ion-searchbar {
            font-family: "Roboto", sans-serif;
            color: #232323 !important;
            background-color: #fff;
            border-radius: 6px;
            margin-top: 0px;
            padding: 15px !important;
            height: 45px !important;
            --box-shadow: none !important;
          }
        }
      }
    }

  }

}

.selected {
  // border:solid 1px #0077b5;
  background: #0077b5;
  border-radius: 6px;
  padding: 5px 10px !important;

  ion-label {
    color: #fff !important;
    margin-bottom: 0px;
    margin-top: 0px;
    border: none;

    p {
      color: #fff !important;
      margin-bottom: 0px;
      margin-top: 0px;
      border: none;
    }
  }

  ion-icon {
    color: #fff !important;
  }
}

ion-card.location-card.selected {
  padding: 10px;
}

ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-start: 10px;
  --padding-end: 10px;
  --background: #f1f1f1;
}

.location-card {
  box-shadow: none !important;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 15px;
  margin: 0px 0px 10px 0px;

  ion-card-header {
    display: flex;
    justify-content: space-between !important;
    padding: 0;
    padding-inline: 0;

    ion-item {
      --padding-start: 0px;
      --inner-padding-end: 0px;
      --min-height: auto;
      width: 100%;
      display: flex;

      ion-checkbox {
        margin: 0px;
        --border-radius: 50px;
        width: 20px;
        height: 20px;
        --border-color: #c1c1c1;
        position: absolute;
        right: 0;
      }

      ion-label {
        margin: 0px 0px 0px 10px;
      }

      .location-label {
        margin: 0px 0px 0px 15px;
        color: #252525;
        font-size: 16px;
        font-weight: 600;
        line-height: 23px;

        .sublocation-count {
          // color: #7b7b7b;
          // font-family: "Open Sans", sans-serif;
          // font-size: 15px;
          // font-weight: 400;

          color: #6c6c6c;
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }

    ion-icon {
      align-self: center;
      font-size: 22px;
    }

    .more-options-icon {
      font-size: 20px;
      color: #989898;
    }
  }

  ion-card-content {
    padding-bottom: 0px;
    margin-top: 5px;

    .sub-location-icon-1 {
      font-size: 22px;
      color: #7e7e7e;
      align-self: flex-start;
    }

    .sub-location {
      // color: #848484;
      // color: #383030;
      // line-height: 34px;
      // border-top: 1px dashed #dcdcdc;
      width: 100%;
      max-width: 100%;
      display: flex;
      // margin-bottom: 5px;
      color: #6c6c6c;
      // font-family: "Open Sans", sans-serif;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 400;
      // margin-bottom: 10px;
      margin-left: 0px;

      // &:first-of-type {
      //   border-top: none;
      // }

      .sub-location-icon {
        align-self: center;
        color: #9e9e9e;
        margin-right: 5px;
        font-size: 22px;
      }
    }

    ion-item {
      --padding-start: 0px;
      --inner-padding-end: 0px;
      --min-height: auto;
      // width: 100%;
      width: 89%;
      display: flex;
      border-bottom: 1px dashed #dcdcdc;
      margin-left: 30px;
      margin-bottom: 10px;
      padding-bottom: 10px;

      &:last-child {
        border: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
      }

      ion-checkbox {
        margin: 0px;
        --border-radius: 50px;
        width: 20px;
        height: 20px;
        --border-color: #c1c1c1;
      }

      ion-label {
        margin: 0px 0px 0px 5px;
      }
    }
  }
}

ion-header {
  .page_title {
    ion-icon {
      vertical-align: middle;
      align-self: center;
      margin-right: 5px;
    }
  }

  ion-searchbar {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    --background: #fff;
    --border-radius: 6px;
  }
}

@media only screen and (min-width: 768px) {
  .location-card {
    ion-card-header {
      ion-item {
        .location-label {
          font-size: 18px;

          .sublocation-count {
            font-size: 16px;
          }
        }
      }
    }

    ion-card-content {
      .sub-location {
        font-size: 17px;
      }
    }
  }
}

ion-searchbar {
  color: #222;
}
