.call-participant-infobox {
    display: flex;
    align-items: center;
    padding: 10px;

    ion-label {
        white-space: pre-wrap !important;
        word-break: break-word;
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        margin-left: 10px;
    }

    ion-icon {
        color: #656565;
        font-size: 22px;
    }
}
