<div class="call-participant-infobox">

    <ion-icon name="call-outline"></ion-icon>
 
    <ion-label >{{data.phone}}</ion-label>
  
</div>

<div class="call-participant-infobox">
  
   <ion-icon name="mail-outline"></ion-icon>

    <ion-label>{{data.email}}</ion-label>
  
</div>
