<ion-content>

  <div class="din-alertmodal-container">

    <ion-button class="modal-close-btn" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>

    <ion-label class="din-alertmodal-head">Additional options for {{servingTime}}</ion-label>

    <div class="din-additional-food-option-box" *ngFor="let item of items" (click)="selectItem(item)"
    [class.selected]="selected.includes(item.id)">

    <ion-icon class="selected-icon" name="checkmark-circle" *ngIf="selected.includes(item.id)"></ion-icon>

      <ion-avatar (click)="openImg(item.image)">
        <img [src]="item.image">
      </ion-avatar>

      <ion-label>{{item.item_name}}</ion-label>

    </div>

    <ion-label  class="no-items" *ngIf="items.length==0">No additional items</ion-label>

    <!-- <div class="din-additional-food-option-box">

      <ion-avatar>
        <img src="https://image.shutterstock.com/image-photo/bullseye-egg-served-white-plate-260nw-612202499.jpg">
      </ion-avatar>

      <ion-label>Bullseye</ion-label>

    </div>

    <div class="din-additional-food-option-box">

      <ion-avatar>
        <img src="https://tmbidigitalassetsazure.blob.core.windows.net/rms3-prod/attachments/37/1200x1200/exps107116_TH143195B07_30_5b.jpg">
      </ion-avatar>

      <ion-label>Cheese and Bacon Roll</ion-label>

    </div>

    <div class="din-additional-food-option-box">

      <ion-avatar>
        <img src="https://i.ytimg.com/vi/KC3mbx8HDMs/maxresdefault.jpg">
      </ion-avatar>

      <ion-label>Salt and Pepper Calamari</ion-label>

    </div> -->
    

  </div>

</ion-content>