ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.din-alertmodal-container {
    align-items: unset;

    .modal-close-btn {
        top: 10px !important;
        right: 10px !important;
    }

    .din-alertmodal-head {
        font-size: 17px;
        font-weight: 600;
        color: #222;
        text-align: center;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .din-additional-food-option-box {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #d9d9d9;
        position: relative;

        &:last-child {
            border: none !important;
        }

        ion-avatar {
            max-width: 80px;
            min-width: 80px;
            width: 100%;
            height: 66px;
            --border-radius: 6px;
        }

        .selected-icon {
            display: none;
        }

        ion-label {
            font-size: 16px;
            color: #222222;
            margin-left: 20px;
        }
    }
}


.no-items {
    background: #fff1f1;
    color: #f11818;
    width: 98%;
    display: flex;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px auto;
    flex-direction: column;
}


.selected {
    border: 2px #1AAB4A solid;
    border-bottom: 2px solid #1AAB4A !important;
    border-radius: 10px;
    padding: 10px;

    .selected-icon {
        display: block !important;
        font-size: 35px;
        background: #fff;
        color: #1AAB4A;
        padding: 0px;
        border-radius: 50px;
        position: absolute;
        left: 8px;
        top: 7px;
    }
}