<ion-header>
  <ion-toolbar>
    <ion-title>rv-task-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card class="task-list-card" *ngIf="task">
        
    <div class="ribbon ribbon-top-right" *ngIf="overdue(task.due_date)"><span>Overdue</span></div>

    <ion-card-header class="tlc-header">

      <ion-label class="tlc-label">
        {{task.title}}

        <div class="crm-tag-dd-box">

          <ion-chip class="crm-tag" *ngIf="task.crm_task==1">CRM</ion-chip>
          <span class="task-due-date">Due date : <b class="tdd-red">{{task.due_date|dateformat:'DD MMM,
              YYYY'}}</b></span>

        </div>
        
      </ion-label>

      <div class="tlc-hdr-option-block">

        <ion-icon name="chevron-down-outline"></ion-icon>

        <!-- <ion-icon class="tlc-hdr-ob-icon" name="chevron-forward-outline" [routerLink]="['/rv-task-details']"></ion-icon> -->

      </div>

    </ion-card-header>

    <ion-card-content >

      <ion-icon class="tlc-mo-icon" name="ellipsis-vertical" (click)="options($event,task)"></ion-icon>

      <ion-row>

        <ion-col size-sm="6" size-md="6" size-lg="4" size="6">

          <ion-label class="tlc-options-label">
            Type
            <span *ngIf="task.type==0">To Do</span>
            <span *ngIf="task.type==1">Call</span>
            <span *ngIf="task.type==2">Email</span>
          </ion-label>

        </ion-col>

        <ion-col size-sm="6" size-md="6" size-lg="4" size="6">

          <ion-label class="tlc-options-label">
            Priority
            <span class="priority-high" *ngIf="task.priority==2">High</span>
            <span class="priority-medium" *ngIf="task.priority==1">Medium</span>
            <span class="priority-low" *ngIf="task.priority==0">Low</span>
          </ion-label>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12"
          *ngIf="task.assigned_resident&&task.assigned_resident.length">

          <ion-label class="tlc-options-label">
            Resident

            <div class="tlc-res-info-box">

              <span class="tlc-res-prop-name">{{task.assigned_resident[0].user.name}} 
                <ion-label class="rv-property-name" *ngIf="task.assigned_resident[0].user.resident.property_details&&task.assigned_resident[0].user.resident.property_details.contract_details&&task.assigned_resident[0].user.resident.property_details.contract_details.property&&task.assigned_resident[0].user.resident.property_details.contract_details.property.location">
                  ({{task.assigned_resident[0].user.resident.property_details.contract_details.property.location.name}})</ion-label></span>
              <ion-chip class="tlc-more-resident-count" *ngIf="task.assigned_resident.length>1" (click)="assignedRes(task.assigned_resident)">+{{task.assigned_resident.length-1}}</ion-chip>

            </div>

          </ion-label>

        </ion-col>

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-label class="tlc-options-label">
            <ng-container *ngIf="task.assignee&&task.assignee.length">Assignees</ng-container>

            <div class="tlc-assignees-box" *ngIf="task.assignee&&task.assignee.length"
              (click)="assigned(task.assignee)">

              <ion-avatar>
                <img [src]="task.assignee[0].profile_pic">
              </ion-avatar>

              <ion-avatar *ngIf="task.assignee.length>1">
                <img [src]="task.assignee[1].profile_pic">
              </ion-avatar>

              <div class="more-assignees" *ngIf="task.assignee.length>2">
                <ion-label>+{{task.assignee.length-2}}</ion-label>
              </div>

            </div>

            <div *ngIf="!task.assignee||!task.assignee.length">
              <ion-label>No assignee</ion-label>
            </div>

          </ion-label>

        </ion-col>

        <!-- <ion-col size-sm="6" size-md="6" size-lg="4" size="6">

          <ion-label class="tlc-options-label">
            Due date

            <span>26 Oct, 2022</span>

          </ion-label>

        </ion-col> -->

        <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

          <ion-label class="tlc-options-label">
            Status

            <div class="st-ti-status-box">

              <ion-select placeholder="Select status" value="{{task.status}}"
                (ionChange)="changeTaskStatus($event,item)" interface="action-sheet">
                <ion-select-option class="st-ti-sb-pending" value="0">Pending</ion-select-option>
                <ion-select-option class="st-ti-sb-ip" value="1">In progress</ion-select-option>
                <ion-select-option class="st-ti-sb-completed" value="2">Completed</ion-select-option>
              </ion-select>

            </div>

          </ion-label>

        </ion-col>

        <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
          *ngIf="task.description&&task.description.length<=100">
          <p class="task-description">{{task.description}}</p>
          <ng-container *ngIf="task.description&&task.description.length>100">
            <p class="task-description" id="{{'p1'+idx}}">{{task.description.substring(0,100)}}<span
                style="color:#0077b5" (click)="ShowContent('p1','p2',idx)">{{' '}}Show more...</span></p>
            <p class="task-description" id="{{'p2'+idx}}" style="display:none">{{task.description}}<span
                style="color:#0077b5" (click)="ShowContent('p2','p1',idx)">{{' '}}Show less</span></p>
          </ng-container>
        </ion-col>

      </ion-row>

    </ion-card-content>

  </ion-card>


</ion-content>
