<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/resident-profile',{id:id,flag:flag}]"></ion-icon>
          <ion-label>Invite Family / Friends</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" color="none" class="top-consumer-info-sec">

    <ion-avatar slot="start">

      <img [src]="pic">

    </ion-avatar>

    <ion-label>{{name}}

      <span>{{room}}
        <span>{{wing}}</span>
      </span>

    </ion-label>

  </ion-item>

  <ion-item lines="none" color="none" class="invite-ff-intro-img">

    <img src="assets/send-invite-icon.svg">

  </ion-item>

  <ion-grid class="invite-ff-form">

    <ion-row>

      <ion-col size="12">

        <ion-label class="ml-zero">Name <span class="asterisk">*</span></ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input [(ngModel)]="con_name"></ion-input>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="12">

        <ion-label class="ml-zero">Relation <span class="asterisk">*</span></ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input [(ngModel)]="relation"></ion-input>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="12">

        <!-- <ion-icon src="assets/email-icon.svg"></ion-icon> -->

        <ion-label class="ml-zero">Email Address <span class="asterisk">*</span></ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input class="phone-email-input" [(ngModel)]="email"></ion-input>
        <i class="las la-envelope cci-email"></i>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="12">

        <!-- <ion-icon src="assets/mobile-icon.svg"></ion-icon> -->

        <ion-label class="ml-zero">Mobile Number </ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input class="phone-email-input" type="tel" [(ngModel)]="phone"></ion-input>
        <i class="las la-mobile cci-mobile"></i>

      </ion-col>

    </ion-row>



    

    <ion-row>

      <ion-col size="12">
        <ion-item lines="none" color="none">
        <ion-checkbox mode="ios" (ionChange)="primaryCheck($event)"></ion-checkbox>
        <ion-label>Primary representative</ion-label>
        </ion-item>
      </ion-col>


    </ion-row>



    <ion-row *ngIf="is_primary==1">

      <ion-col size="12">

        <!-- <ion-icon src="assets/mobile-icon.svg"></ion-icon> -->

        <ion-label>Home Phone Number </ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input type="tel" [(ngModel)]="home"></ion-input>

      </ion-col>

    </ion-row>


    <ion-row *ngIf="is_primary==1">

      <ion-col size="12">

        <!-- <ion-icon src="assets/mobile-icon.svg"></ion-icon> -->

        <ion-label>Work Phone Number </ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input type="tel" [(ngModel)]="work"></ion-input>

      </ion-col>

    </ion-row>

  </ion-grid>


</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" (click)="send()" [disabled]="disable">
      <!-- <ion-icon src="assets/sent-icon.svg"></ion-icon> Send Invite -->
      Send Invite
    </ion-button>
  </ion-toolbar>
</ion-footer>