ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;

    ion-label {
        font-family: "Open Sans", sans-serif;
    }
}

.invite-ff-intro-img {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 80px;
        width: 120px;
    }
}

@media only screen and (min-width:768px) {
    .invite-ff-intro-img {
        img {
            height: 160px;
            width: 160px;
        }
    }
}

ion-input {
    color: #000;
    background: #f3f3f3;
    border-radius: 10px;
    border: none;
    height: 50px;
    --padding-start: 15px;
    --padding-end: 15px;
}

.cci-email {
    font-size: 28px;
    color: #707070;
    position: absolute;
    top: 15px;
    right: 22px;
    z-index: 999;
}

.cci-mobile {
    font-size: 28px;
    color: #707070;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 999;
}

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
}

.invite-ff-form {
    ion-checkbox {
        width: 32px;
        height: 32px;
        vertical-align: middle;
        --border-radius: 50px;
        --border-color: #e6e6e6;
        --background: #E6E6E6;
        --background-checked: #0077b5;
        --border-color-checked: #0077b5;
    }
}


ion-footer {
    padding: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .publish-btn {
        text-transform: capitalize;
        height: 50px;
        --border-radius: 50px;
        --background: #0077B5;
        --box-shadow: none;
        --padding-start: 20px;
        --padding-end: 20px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: 400;
        max-width: fit-content;

    }
}

.top-consumer-info-sec {
    // background-color: #F2F2F2;
    // padding: 10px 20px;
    // border-radius: 10px;

    background-color: #e9f7ff;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #c5dce9;

    ion-avatar {
        width: 50px;
        height: 50px;
    }

    ion-label {
        font-family: "Poppins", sans-serif !important;
        font-size: 16px;
        font-weight: 600;
        color: #545454;

        span {
            font-family: "Open Sans", sans-serif;
        }
    }
}

.phone-email-input {
    --padding-end: 55px !important;
}