<ion-content>

  <ion-item lines="none" (click)="create()">
    <ion-label class="act_filter">Create group</ion-label>
  </ion-item>

  <!-- <hr class="filter_sep"> -->

  <ion-item lines="none" (click)="view()">
    <ion-label class="act_filter">View group</ion-label>
  </ion-item>

</ion-content>