<ng-container *ngIf="flag==1">

<div class="option-item-block">
  <ion-label (click)="add()">Add additional note</ion-label>
</div>

<div class="option-item-block">
  <ion-label (click)="deleteAlert()">Delete</ion-label>
</div>

</ng-container>

<div class="option-item-block" *ngIf="flag==2">
  <ion-label (click)="deleteAlert()">Delete</ion-label>
</div>