.option-item-block {
    padding: 20px 20px 5px;

    &:last-child {
        padding-bottom:15px;
        padding-top: 15px;
    }

    ion-label {
        font-size: 16px;
        font-weight: normal;
        color: #252525;
        margin-right: auto;
        margin-left: auto;
        align-self: center;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-inline-end: 0px;
    }
}
