<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="10">
          <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
          <ion-label>{{serving_time}} on {{date}}</ion-label>
        </ion-col>
        <ion-col class="col-fit header-buttons ion-align-self-end" size="2">

          <ion-icon name="checkmark-circle" (click)="save()"></ion-icon>

          <!-- <ion-icon name="funnel-outline" ></ion-icon> -->

        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="3" size="12">

        <div class="fi-detail-img" (click)="openImg(menu.itemdetails.image)">

          <img [src]="menu.itemdetailsall.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="9" size="12" class="fi-info">

        <ion-label class="fi-name">{{menu.itemdetailsall.item_name}}</ion-label>

        <!-- <div class="din-cb-item-moreinfo">

          <span class="puree">P</span>

          <span class="liquid">L</span>

        </div> -->

        <p>{{menu.itemdetailsall.description}}</p>

      </ion-col>

    </ion-row>

  </ion-grid>

  <div class="fi-box">

    <ion-card class="fi-card" *ngFor="let item of details" [class.fi-selected]="item.itemdetails.id==selectedItem.itemdetails.id" [class.notAvailable]="!availableItem(item)" (click)="chooseitem(item)">

      
      <ion-icon class="din-selected-icon" name="checkmark-circle" *ngIf="selected.includes(item.itemdetails.id)"></ion-icon>
      <ion-icon class="allergic-alert-icon-1" name="alert-circle" *ngIf="allergicIcon(item)"></ion-icon>
      <div class="fi-img-block">

        <img class="fi-img" [src]="item.itemdetails.image">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">{{item.itemdetails.item_name}}</ion-label>

        

      </div>

    </ion-card>

    <!-- <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/2.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Item 1</ion-label>

      

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/3.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Item 2</ion-label>

      

      </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/3.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Item 2</ion-label>

      

      </div>

    </ion-card> -->

  </div>

  <ion-grid class="din-continental-fi-details-sec">

    <ion-row>

      <!-- <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="fi-detail-img">

          <img src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/1.png">

        </div>

      </ion-col> -->

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="fi-info-sec">

        <!-- <ion-label class="fi-name">Porridge</ion-label> -->

        <ion-row>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

            <ion-label class="dining-inner-title">Quantity</ion-label>

            <ion-item lines="none" color="none" class="plus-minus">

              <ion-icon class="minus-icon" name="remove-outline" (click)="decrement()" item-right></ion-icon>

              <ion-input type="number" min="0" [(ngModel)]="quantity" readonly></ion-input>

              <ion-icon class="plus-icon" name="add-outline" (click)="increment()" item-right></ion-icon>

            </ion-item>

          </ion-col>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6" *ngIf="selectedItem.itemdetails.servingquantity&&selectedItem.itemdetails.servingquantity.length">

            <ion-label class="dining-inner-title">Size</ion-label>

            <ion-segment  class="fi-size-segment-btn" [(ngModel)]="ml_sz_id">
              <ion-segment-button value="{{mz.meal_size.id}}" *ngFor="let mz of selectedItem.itemdetails.servingquantity" (click)="setMealSize(mz.meal_size.id)" [class.segment-selected]="ml_sz_id==mz.meal_size.id">
                <ion-label *ngIf="mz.meal_size.id==1">S</ion-label>
                <ion-label *ngIf="mz.meal_size.id==2">M</ion-label>
                <ion-label *ngIf="mz.meal_size.id==3">L</ion-label>
                <ion-label *ngIf="mz.meal_size.id==4">N</ion-label>
              </ion-segment-button>

              <!-- <ion-segment-button value="s">
                <ion-label>S</ion-label>
              </ion-segment-button>

              <ion-segment-button value="m">
                <ion-label>M</ion-label>
              </ion-segment-button>

              <ion-segment-button value="l">
                <ion-label>L</ion-label>
              </ion-segment-button> -->

            </ion-segment>


          </ion-col>

          <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-label class="dining-inner-title">Texture</ion-label>

            <ion-select interface="action-sheet" class="fi-texture-select">
              
              <ion-select-option value="brown">Regular</ion-select-option>
              <ion-select-option value="blonde">Soft & bite-sized</ion-select-option>
              <ion-select-option value="black">Minced & moist</ion-select-option>
              <ion-select-option value="red">Pureed</ion-select-option>
              <ion-select-option value="red">liquidised</ion-select-option>

            </ion-select>

          </ion-col> -->

        </ion-row>

      </ion-col>

    </ion-row>

    <ion-row>

      <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 borderline-top-bottom">

        <ion-label class="dining-inner-title">Texture</ion-label>

        <div class="fi-options-block">

          <ion-label class="fi-options four-et fi-options-selected">4 Extremely thick </ion-label>

          <ion-label class="fi-options three-mt">3 Moderately thick </ion-label>

          <ion-label class="fi-options two-mt">2 Mildly thick </ion-label>

          <ion-label class="fi-options one-st">1 Slightly thick </ion-label>

          <ion-label class="fi-options zt">0 Thin </ion-label>

        </div>

        <ion-label class="dining-inner-title mt-20">Options</ion-label>

        <span class="dining-inner-title-1">Sugar</span>

        <div class="fi-options-block">

          <ion-label class="fi-options fi-options-selected">No sugar</ion-label>

          <ion-label class="fi-options">1 sugar</ion-label>

          <ion-label class="fi-options">2 sugar</ion-label>

          <ion-label class="fi-options">1 sweetener</ion-label>

          <ion-label class="fi-options">2 sweetener</ion-label>

        </div>

        <span class="dining-inner-title-1">Milk</span>

        <div class="fi-options-block">

          <ion-label class="fi-options fi-options-selected">Animal milk</ion-label>

          <ion-label class="fi-options">Plant milk</ion-label>

        </div>

      </ion-col> -->

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 borderline-top-bottom" *ngIf="selectedItem.itemdetails.options&&selectedItem.itemdetails.options.length">

      

    
        <ion-label class="dining-inner-title mt-20">Options</ion-label>

        <ng-container *ngFor="let opt of selectedItem.itemdetails.options;let i=index">
        <span class="dining-inner-title-1">{{opt.option.option_name}}</span>

        <div class="fi-options-block">

          <ion-label class="fi-options" [class.fi-options-selected]="selectedVal[i].val==val.valuename.id" 
          *ngFor="let val of opt.valuess" (click)="selectOptions(opt.option.id,val.valuename.id)">
          {{val.valuename.option_value}}</ion-label>

         

        </div>
      </ng-container>
        

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10" *ngIf="selectedItem.itemdetails.alergies&&selectedItem.itemdetails.alergies.length">

        <ion-label class="dining-inner-title">Allergies</ion-label>

        <div class="allergies-block">

          <ion-chip class="allergy" *ngFor="let i of selectedItem.itemdetails.alergies">
            <i class="al-other" [class.al-celery]="i.alergy.alergy=='Celery'"
                      [class.al-crustaceans]="i.alergy.alergy=='Crustaceans'"
                      [class.al-glutten]="i.alergy.alergy=='Gluten'"
                      [class.al-lupin]="i.alergy.alergy=='Lupin'"
                      [class.al-molluscs]="i.alergy.alergy=='Molluscs'"
                      [class.al-mustard]="i.alergy.alergy=='Mustard'"
                      [class.al-peanut]="i.alergy.alergy=='Peanuts'"
                      [class.al-sesame]="i.alergy.alergy=='Sesame'"
                      [class.al-soy]="i.alergy.alergy=='Soya'"
                      [class.al-sulphite]="i.alergy.alergy=='Sulphites'"
                      [class.al-treenut]="i.alergy.alergy=='Treenuts'"
                      [class.al-wheat]="i.alergy.alergy=='Wheat'"></i>
            <ion-label>{{i.alergy.alergy}}</ion-label>
          </ion-chip>

          <!-- <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip> -->

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="din-sec-title" *ngIf="selectedItem.itemdetails.ingrediants&&selectedItem.itemdetails.ingrediants.length">

        <ion-label class="dining-inner-title">More information</ion-label>

        <ion-icon name="chevron-down-outline"></ion-icon>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="mt-10" *ngIf="selectedItem.itemdetails.ingrediants&&selectedItem.itemdetails.ingrediants.length">

        <div class="ingredients-box">

          <span class="ib-title">Ingredients</span>

          <!-- <div class="serving-size-box">

            <ion-label class="dining-inner-title">Serving size</ion-label>

            <ion-item lines="none" color="none" class="plus-minus">

              <ion-icon class="minus-icon" name="remove-outline" (click)="decrement()" item-right></ion-icon>

              <ion-input type="number" min="0" [(ngModel)]="count" readonly></ion-input>

              <ion-icon class="plus-icon" name="add-outline" (click)="increment()" item-right></ion-icon>

            </ion-item>

          </div> -->

          <!-- <ion-label>Medium Boneless Chicken Breast</ion-label>

          <ion-label>Head romaine lettuce rinsed</ion-label>

          <ion-label>Chopped Cherry Tomatoes</ion-label>

          <ion-label>Diced Cucumber</ion-label>

          <ion-label>Mango peeled, pitted and diced</ion-label>

          <ion-label>Avocado pitted, peeled and diced</ion-label>

          <ion-label>Small Onion sliced</ion-label> -->
          <ion-label *ngFor="let ing of selectedItem.itemdetails.ingrediants">
            <span *ngIf="ing.ingredient">{{ing.ingredient.name}}</span>
          </ion-label>

        </div>

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="mt-10">

        <div class="nutrition-info-box">

          <span class="ni-title">Nutritional Information (per serve)</span>

          <div class="nutrition-details-box">
            
            <ion-label>Energy</ion-label>

            <span>15 Cal</span>

          </div>

          <div class="nutrition-details-box">

            <ion-label>Protein</ion-label>

            <span>20 gm</span>

          </div>

          <div class="nutrition-details-box">

            <ion-label>Fat, Total</ion-label>

            <span>15 gm</span>

          </div>

          <div class="nutrition-details-box">

            <ion-label>Saturated fat</ion-label>

            <span>15 gm</span>

          </div>
          

          <div class="nutrition-details-box">

            <ion-label>Carbohydrate</ion-label>

            <span>15 gm</span>

          </div>

          
          <div class="nutrition-details-box">

            <ion-label>Sugars</ion-label>

            <span>05 gm</span>

          </div>
          
          <div class="nutrition-details-box">

            <ion-label>Sodium</ion-label>

            <span>05 gm</span>

          </div>
          

        </div>

      </ion-col> -->

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20">

        <ion-label class="dining-inner-title">Comments</ion-label>

        <ion-textarea class="fi-comments" rows="5" [(ngModel)]="comments"> </ion-textarea>

        <p class="fi-description">{{selectedItem.itemdetails.description}}</p>

      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>

<ion-footer>

  <ion-button class="continue-btn" (click)="selectitem(selectedItem)">Choose</ion-button>

  <ion-button class="cancel-btn" (click)="dismiss()">Cancel</ion-button>

</ion-footer>