.ion-header-inner {
    background: #0077B5 !important;
}

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

.fi-detail-img {
    img {
        width: 100%;
        max-width: fit-content;
        max-width: 350px;
        max-height: 400px;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
    }
}

.fi-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .din-cb-item-moreinfo {
        display: flex;

        .puree {
            background: #75B643;
            color: #fff;
            font-size: 16px;
            min-width: 25px;
            min-height: 25px;
            border-radius: 4px;
            text-align: center;
            margin-left: auto;
        }

        .liquid {
            background: #FFFF28;
            color: #222;
            font-size: 16px;
            min-width: 25px;
            min-height: 25px;
            border-radius: 4px;
            text-align: center;
            margin-left: 10px;
        }
    }

}

.fi-name {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #222;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
   
    span {
        color: #EAA018;
    }

}

.dining-inner-title {
    font-size: 18px;
    color: #707070;
    margin-bottom: 15px;
    display: block;
}

.plus-minus {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 120px;
    height: 40px;
    padding: 0px 10px;
    font-size: 18px;
    background: #E6E6E6;
    border-radius: 10px;
    color: #808080;
    margin-top: 10px;
    --padding-start: 0;
    --inner-padding-end: 0;

    .minus-icon {
        // border-right: 1px solid #c8c8c8;
        padding-right: 10px;
        font-size: 18px;
    }

    ion-input {
        background: #F4F4F4;
        text-align: center;
        align-self: center;
        display: flex;
        --padding-end: 0;
    }

    .plus-icon {
        // border-left: 1px solid #c8c8c8;
        padding-left: 10px;
        font-size: 18px;
    }
}

.fi-size-segment-btn {
    background: #F4F4F4;
    color: #707070;
    max-width: fit-content;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-segment-button {
        min-width: auto;
        font-size: 18px;
        --background-checked: #0077B5;
        --color-checked: #fff;
    }
}

.fi-texture-select {
    background: #efefef;
    border-radius: 6px;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    font-size: 16px;
    height: 45px;
    margin-top: 10px;
}

.dining-inner-title-1 {
    font-size: 16px;
    font-weight: 500;
    color: #707070;
}

.fi-options-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;

    .fi-options {
        background: #EEF9FF;
        border-radius: 50px;
        padding: 5px 20px;
        color: #0077b5;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        margin: 10px 10px 5px 0px;
    }

    .fi-options-selected {
        background: #0077B5 !important;
        color: #fff !important;
    }
}

.borderline-top-bottom {
    border-top: 1px dashed #e3e3e3;
    border-bottom: 1px dashed #e3e3e3;
    padding-top: 15px;
    padding-bottom: 15px;
}

.borderline-bottom {
    border-bottom: 1px dashed #e3e3e3;
    padding-bottom: 15px;
}

.fi-comments {
    background: #efefef;
    border-radius: 6px;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    font-size: 16px;
    min-height: 150px;
    margin-top: 10px;
    border: none;
}

.fi-description {
    font-size: 16px;
    color: #707070;
    line-height: 25px;
    margin-bottom: 0;
}

.allergies-block {
    display: flex;
    flex-wrap: wrap;

    .allergy {
        background: #FF5B49;
        border-radius: 50px;
        height: 30px;
        padding: 10px 15px;
        margin: 8px 8px 4px 0px;

        i {
            font-size: 18px;
            color: #fff;
            vertical-align: middle;
        }

        ion-label {
            font-size: 16px;
            color: #fff;
            margin-left: 5px;
            vertical-align: middle;
        }
        .al-celery {
            background: url(/assets/dining/allergy-icons/celery.svg) no-repeat center center !important;
            width: 15px;
            height: 15px;
            display: inline-flex;
            margin-right: 2px;
        }

        .al-crustaceans {
            background: url(/assets/dining/allergy-icons/crustaceans.svg) no-repeat center center !important;
            width: 15px;
            height: 15px;
            display: inline-flex;
            margin-right: 2px;
        }

        .al-glutten {
            background: url(/assets/dining/allergy-icons/gluten.svg) no-repeat center center !important;
            width: 15px;
            height: 15px;
            display: inline-flex;
            margin-right: 2px;
        }

        .al-lupin {
            background: url(/assets/dining/allergy-icons/lupin.svg) no-repeat center center !important;
            width: 15px;
            height: 15px;
            display: inline-flex;
            margin-right: 2px;
        }

        .al-molluscs {
            background: url(/assets/dining/allergy-icons/molluscs.svg) no-repeat center center !important;
            width: 15px;
            height: 15px;
            display: inline-flex;
            margin-right: 2px;
        }

        .al-mustard {
            background: url(/assets/dining/allergy-icons/mustard.svg) no-repeat center center !important;
            width: 15px;
            height: 15px;
            display: inline-flex;
            margin-right: 2px;
        }

        .al-peanut {
            background: url(/assets/dining/allergy-icons/peanut.svg) no-repeat center center !important;
            width: 15px;
            height: 15px;
            display: inline-flex;
            margin-right: 2px;
        }

        .al-sesame {
            background: url(/assets/dining/allergy-icons/sesame.svg) no-repeat center center !important;
            width: 15px;
            height: 15px;
            display: inline-flex;
            margin-right: 2px;
        }

        .al-soy {
            background: url(/assets/dining/allergy-icons/soy.svg) no-repeat center center !important;
            width: 15px;
            height: 15px;
            display: inline-flex;
            margin-right: 2px;
        }

        .al-sulphite {
            background: url(/assets/dining/allergy-icons/sulphite.svg) no-repeat center center !important;
            width: 15px;
            height: 15px;
            display: inline-flex;
            margin-right: 2px;
        }

        .al-treenut {
            background: url(/assets/dining/allergy-icons/treenut.svg) no-repeat center center !important;
            width: 15px;
            height: 15px;
            display: inline-flex;
            margin-right: 2px;
        }

        .al-wheat {
            background: url(/assets/dining/allergy-icons/wheat.svg) no-repeat center center !important;
            width: 15px;
            height: 15px;
            display: inline-flex;
            margin-right: 2px;
        }

        .al-other {
            background: url(/assets/dining/allergy-icons/other-allergy.svg) no-repeat center center;
            width: 15px;
            height: 15px;
            display: inline-flex;
            margin-right: 2px;
        }
    }
}


.fi-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
    margin-bottom: 15px;

    .fi-card {
        border-radius: 20px !important;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0px;
        min-height: 160px;
        width: 100%;

        // ion-grid {
        //     margin: 0;
        //     padding: 0;

        //     ion-row {
        //         ion-col {
        //             display: flex;

        //             &:nth-child(2) {
        //                 padding-left: 10px;
        //                 display: flex;
        //                 flex-direction: column;
        //                 justify-content: center;
        //             }
        //         }
        //     }
        // }

        .fi-img-block {
            display: flex;
            width: 45%;

            .fi-img {
                width: 145px;
                height: 135px;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        .fi-info-block {
            width: 65%;
            padding-left: 15px;

            .fi-name {
                font-size: 18px;
                color: #232323;
                line-height: 20px;
            }

            .fi-more-options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 25px;

                .fim-div-1 {
                    display: flex;

                    .fi-meal-size {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #D2FFFB;
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;

                        ion-label {
                            font-size: 15px;
                            color: #47ABA2;
                            text-align: center;
                        }
                    }

                    .fi-quantity {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #F3DEF9;
                        width: 30px;
                        height: 30px;

                        ion-label {
                            font-size: 15px;
                            color: #601576;
                            text-align: center;
                        }
                    }
                }

                .fim-div-2 {
                    ion-button {
                        --background: #F4F4F4;
                        --box-shadow: none;
                        --border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35px;
                        height: 35px;
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        z-index: 99999;

                        i {
                            font-size: 20px;
                            color: #707070;
                            text-align: center;
                        }
                    }
                }
            }
        }

    }

    .fi-selected {
        border: 2px solid #1AAB4A;

        .din-selected-icon {
            font-size: 35px;
            color: #1AAB4A;
            background: #fff;
            border-radius: 50px;
            position: absolute;
            top: 20px;
            left: 20px;
        }

    }

    .allergic-fi {
        border: 1px solid #ff5b49;
        position: relative;

        .allergic-alert-icon {
            color: #FF0000;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
        }

    }

    .fi-selectable {
        width: 100%;
        // background: #F4F4F4;
        // background: rgb(244 244 244 / 85%);
        background: #edecec;
        border-radius: 25px;

        .fi-card {
            // background: transparent !important;
            // box-shadow: none !important;
            flex-grow: 1;

            .fi-info-block {
                .fi-more-options {
                    .fim-div-2 {
                        ion-button {
                            --background: #f4f4f4;
                            // position: absolute;
                            // z-index: 999999;
                            // right: 10px;
                        }
                    }
                }
            }

        }

        .fi-or-label {
            color: #ffffff;
            text-align: center;
            display: flex;
            background: #959595;
            max-width: fit-content;
            margin: 10px auto;
            padding: 10px;
            font-size: 18px;
            font-weight: 600;
            border-radius: 50px;
            min-height: 50px;
            min-width: 50px;
            justify-content: center;
            align-items: center;
        }
    }
}


@media only screen and (min-width:768px) {

    .fi-detail-img {
        img {
            margin: 0 auto 0 0;
        }
    }

    .fi-info {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        align-items: center;

        .fi-name {
            text-align: left;
        }
    }

    .fi-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .fi-card {
            width: 32.4%;
            // width: auto;
            margin: 5px;
            min-height: unset;

            .fi-info-block {
                .fi-more-options {
                    margin-top: 15px !important;
                }
            }
        }

        .fi-selectable {
            display: inline-flex;
            flex-grow: 1;
            width: auto;
            margin-left: 5px;

            .fi-card {
                // margin: unset;
                width: auto;

                .fi-img-block {
                    // width: auto;
                    display: flex;
                }

                .fi-info-block {
                    // width: auto;
                    display: flex;
                    flex-direction: column;

                    .fi-name {
                        min-width: 133px;
                        max-width: 130px;
                    }
                }
            }

            .fi-or-label {
                height: 50px;
                min-width: 50px;
                // margin: 0px 0px 0px 10px;
                margin: 0;
                justify-content: center;
                align-items: center;
                align-self: center;
            }
        }
    }

    .din-continental-fi-details-sec {

        border: 2px dashed #c6c6c6;
        border-radius: 20px;
        padding: 20px;
        margin: 15px;

        .fi-info-sec {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .fi-name {
                text-align: left;
            }
        }

    }

}

@media only screen and (min-width:834px) and (max-width:834px) {

    .fi-box {

        .fi-card {
            width: 48.7%;
            margin: 10px 5px;
        }
    }

}

@media only screen and (min-width:768px) and (max-width:768px) {

    .fi-box {

        .fi-card {
            width: 48%;
        }

        .fi-selectable {
            margin: 5px;
        }
    }

}

@media only screen and (min-width:712px) and (max-width:712px) {
    .fi-box {
        .fi-card {
            border-radius: 20px !important;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
            min-height: 160px;
            width: 48.536%;
        }
    }
}

ion-footer {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;

    &::before {
        background: none;
    }

    .continue-btn {
        --background: #0077B5;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 30px;
        --padding-end: 30px;
        text-align: center;
        text-transform: none;
        font-weight: normal;
        font-size: 18px;
        height: 45px;
        display: flex;
        max-width: fit-content;
    }

    .cancel-btn {
        --background: #E6E4E4;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 30px;
        --padding-end: 30px;
        color: #808080;
        text-align: center;
        text-transform: none;
        font-weight: normal;
        font-size: 18px;
        height: 45px;
        margin-left: 20px;
        display: flex;
        max-width: fit-content;
    }
}

.dining-inner-title {
    font-size: 18px;
    color: #707070;
    margin-bottom: 15px;
    display: block;
}

.plus-minus {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 120px;
    height: 40px;
    padding: 0px 10px;
    font-size: 18px;
    background: #E6E6E6;
    border-radius: 10px;
    color: #808080;
    margin-top: 10px;
    --padding-start: 0;
    --inner-padding-end: 0;

    .minus-icon {
        // border-right: 1px solid #c8c8c8;
        padding-right: 10px;
        font-size: 18px;
    }

    ion-input {
        background: #F4F4F4;
        text-align: center;
        align-self: center;
        display: flex;
        --padding-end: 0;
    }

    .plus-icon {
        // border-left: 1px solid #c8c8c8;
        padding-left: 10px;
        font-size: 18px;
    }
}

.fi-size-segment-btn {
    background: #F4F4F4;
    color: #707070;
    max-width: fit-content;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-segment-button {
        min-width: auto;
        font-size: 18px;
        --background-checked: #0077B5;
        --color-checked: #fff;
    }
}

.fi-texture-select {
    background: #efefef;
    border-radius: 6px;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    font-size: 16px;
    height: 45px;
    margin-top: 10px;
}

.dining-inner-title-1 {
    font-size: 16px;
    font-weight: 500;
    color: #707070;
}

.fi-options-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;

    .fi-options {
        background: #EEF9FF;
        border-radius: 50px;
        padding: 5px 20px;
        color: #0077b5;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        margin: 10px 10px 5px 0px;
    }

    .fi-options-selected {
        background: #0077B5 !important;
        color: #fff !important;
    }

    .four-et {
        background-color: #75B643;
        color: #fff;
    }

    .three-mt {
        background-color: #FFFF28;
        color: #222 !important;
    }

    .two-mt {
        background-color: #EA4E96;
        color: #fff;
    }

    .one-st {
        background-color: #666666;
        color: #fff;
    }

    .zt {
        background: transparent !important;
        border: 1px solid #949494;
        color: #222;
    }
}

.borderline-top-bottom {
    border-top: 1px dashed #e3e3e3;
    border-bottom: 1px dashed #e3e3e3;
    padding-top: 15px;
    padding-bottom: 15px;
}

.borderline-bottom {
    border-bottom: 1px dashed #e3e3e3;
    padding-bottom: 15px;
}

.fi-comments {
    background: #efefef;
    border-radius: 6px;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    font-size: 16px;
    min-height: 150px;
    margin-top: 10px;
    border: none;
}

.fi-description {
    font-size: 16px;
    color: #707070;
    line-height: 25px;
    margin-bottom: 0;
}

.allergies-block {
    display: flex;
    flex-wrap: wrap;

    .allergy {
        background: #FF5B49;
        border-radius: 50px;
        height: 30px;
        padding: 10px 15px;
        margin: 8px 8px 4px 0px;

        i {
            font-size: 18px;
            color: #fff;
            vertical-align: middle;
        }

        ion-label {
            font-size: 16px;
            color: #fff;
            margin-left: 5px;
            vertical-align: middle;
        }
    }
}

.ingredients-box {
    background: #F4F4F4;
    border-radius: 10px;
    padding: 20px;

    .ib-title {
        font-size: 16px;
        font-weight: 600;
        color: #707070;
        display: block;
        margin-bottom: 10px;
    }

    ion-label {
        font-size: 16px;
        color: #707070;
        border-bottom: 1px dashed #BEBEBE;
        margin-bottom: 10px;
        padding-bottom: 10px;
        display: block;

        &:last-child {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border: none;
        }
    }

    .serving-size-box {
        display: flex;
        align-items: center;
        border-bottom: 1px dashed #BEBEBE;
        margin-bottom: 15px;
        padding-bottom: 15px;

        .dining-inner-title {
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .plus-minus {
            margin-left: auto;
            margin-top: 0px;
            border: 1px solid #e4e4e4;
        }
    }
}

.nutrition-info-box {
    background: #F4F4F4;
    border-radius: 10px;
    padding: 20px;
    height: 100%;

    .ni-title {
        font-size: 16px;
        font-weight: 600;
        color: #707070;
        display: block;
        margin-bottom: 10px;
    }

    .nutrition-details-box {
        font-size: 16px;
        color: #707070;
        border-bottom: 1px dashed #BEBEBE;
        margin-bottom: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        
        &:last-child {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border: none;
        }
    }

    ion-label {
        font-size: 16px;
        color: #707070;
        // border-bottom: 1px dashed #BEBEBE;
        // margin-bottom: 10px;
        // padding-bottom: 10px;
        // display: block;

        &:last-child {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border: none;
        }
    }
}

@media only screen and (min-width:768px) {
    .fi-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px 15px;

        .fi-name {
            text-align: left;
        }

        p {
            color: #707070;
        }
    }

    .fi-detail-img {
        img {
            margin: 0 auto 0 0;
        }
    }
}



ion-footer {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;

    &::before {
        background: none;
    }

    .save-btn {
        --background: #0077B5;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 30px;
        --padding-end: 30px;
        text-align: center;
        text-transform: none;
        font-weight: normal;
        font-size: 18px;
        height: 45px;
        display: flex;
        max-width: fit-content;
    }

    .cancel-btn {
        --background: #E6E4E4;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 30px;
        --padding-end: 30px;
        color: #808080;
        text-align: center;
        text-transform: none;
        font-weight: normal;
        font-size: 18px;
        height: 45px;
        margin-left: 20px;
        display: flex;
        max-width: fit-content;
    }
}

.din-sec-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-label {
        margin-bottom: 0px;
    }

    ion-icon {
        font-size: 20px;
        color: #707070;
    }
}
.notAvailable {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}

.allergic-alert-icon-1 {
    position: absolute;
    left: 9px;
    top: 9px;
    background: #f00;
    color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    // font-size: 30px;
    font-size: 32px;
    z-index: 999;
}