<ion-header no-padding no-border style="padding: 0px;">
  <!-- <ion-toolbar no-padding>
    <img style="width: 100%;" src="assets/sign_in_header.svg">  

    <ion-item class="input_field">
      <ion-input class="input_text" name="name" type="text" placeholder="Email/Phone" ngModel required></ion-input>
    </ion-item>
  
    <ion-item class="input_field">
      <ion-input class="input_text" name="password" type="password" placeholder="Password" ngModel required></ion-input>
    </ion-item>
  
    <ion-button expand="block" class="sign_in" fill="clear" [routerLink]="['/stories']">
      Sign in
    </ion-button>
  
    <ion-item lines="none">
      <ion-button fill="clear" class='forgot_pswd' [routerLink]="['/forgot-password']">Forgot Password?</ion-button>
    </ion-item>
  </ion-toolbar> -->
</ion-header>

<ion-content style="--background: transparent;" fullscreen class="signin_bg login_input">

  <ion-item lines="none" color="none" class="brand">
    <img style="width: 100%;" src="assets/logo_white.svg">
  </ion-item>
  <form (ngSubmit)="login()">
    <ion-item lines="none" class="input_field white_border" color="none">
      <ion-input style="box-shadow: none !important;" class="input_text" name="name" type="text"
        placeholder="Email/Username" [(ngModel)]="email" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="input_field white_border" color="none">
      <ion-input style="box-shadow: none !important;" class="input_text" name="password" [type]="passwordType"
        placeholder="Password" [(ngModel)]="password" required></ion-input>
        <ion-icon name="eye-sharp" class="view-password-icon" *ngIf="!hide_pswd" (click)="showPassword(1)"></ion-icon>
<ion-icon name="eye-off-sharp" class="hide-password-icon" *ngIf="hide_pswd" (click)="showPassword(2)"></ion-icon>

    </ion-item>


    <ion-item lines="none" color="none" class="terms-sec">
      <ion-checkbox mode="ios" checked="true" (ionChange)="terms($event)"></ion-checkbox>
      <ion-label>I agree to <a (click)="openTerms()">terms of use and privacy policy</a></ion-label>
     </ion-item>

    <!-- <ion-item [ngStyle]="keyboardStyle" color="none" lines="none"></ion-item> -->
    <button type="submit" style="visibility: hidden;width: 1px;height: 1px;padding: 0;margin: 0;"></button>

  </form>
  <ion-button expand="block" class="sign_in" fill="clear" (click)="login()">
    Sign in
  </ion-button>
  <ion-item style="margin-bottom: 20px;" lines="none" color="none">
    <ion-button fill="clear" class='forgot_pswd' [routerLink]="['/forgotpassword']">Forgot Password?</ion-button>
  </ion-item>

</ion-content>