.imgStyle {
  --background: no-repeat center center/cover !important;
  --min-height: 62px;
  --width: 100%;
}

.signIn {
  --color: #9B9B9B;
  --padding-bottom: 30px;
  --padding-top: 5%;
  --padding-start: 34px;
  --padding-end: 34px;
  --text-transform: 'none';
}

.inputStyle {
  --size: 16px;
  --color: #c8c8c8;
}

.item1 {
  --width: 80%;
  --padding-top: 20px;
}

.buttonStyle {
  --padding-bottom: 30px;
  --padding-top: 52px;
  --padding-start: 34px;
  --padding-end: 34px;
}

ion-toolbar {
  --padding-start: 0 !important;
  --padding-bottom: 0 !important;
  --padding-end: 0 !important;
  --padding-top: 0 !important;
}

.signin_bg {
  background: url("../../assets/login_bg.svg") no-repeat center center fixed !important;
  background-size: cover !important;
}

.brand {
  width: 215px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 50px;
  max-width: 100%;
}

.white_border {
  border-bottom: 1px solid #fff;
}
