.menu-grid {
    ion-col {
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        top: 0px !important;
        bottom: 0px !important;
        padding: 0px !important;

        .menu-ion-card {
            height: 100%;
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            min-height: 140px;
            margin: 10px !important;
            border: 1px solid #dfdfdf;
            box-shadow: none !important;

            img {
                width: 60px;
                height: 60px;
            }

            ion-label {
                font-size: 16px;
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
    .menu-ion-card {
        padding: 20px 4px;
        margin: 4px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 375px) and (max-width: 375px) {
    .menu-ion-card {
        padding: 20px 4px;
        margin: 4px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 393px) and (max-width: 393px) {
    .menu-ion-card {
        padding: 20px 7px;
        margin: 4px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
