<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">
    <!-- <ion-title>story-details</ion-title> -->

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Services</ion-label>
        </ion-col>


        

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content class="menu-content">

  <ion-grid class="menu-grid" >

    <ion-row>

      
      <ion-col size-sm="6" size-md="4" size-lg="3" size="6" *ngIf="modules.includes('Call booking')&&call">

        <ion-card class="menu-ion-card"  [routerLink]="['/callbooking-list']">
          <img src="/assets/menu/callbooking-icon.svg">
          <ion-label>Book a call</ion-label>
        </ion-card>

      </ion-col>
      <ion-col size-sm="6" size-md="4" size-lg="3" size="6" *ngIf="modules.includes('Visit booking')&&visit">

        <ion-card class="menu-ion-card" [routerLink]="['/visitor-booking-list']">
          <img src="/assets/menu/visitor-booking.svg">
          <ion-label>Book visit</ion-label>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
