<ion-content *ngIf="details">

  <div class="din-alertmodal-container">

    <ion-button class="modal-close-btn" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>

    <ion-label class="din-alert-label" *ngIf="last_updated_at">
      <ion-icon name="alert-circle-sharp"></ion-icon>
      Dietery preferences changed on {{last_updated_at}}
    </ion-label>

    <ion-label class="dpref-item" *ngIf="details.package_detail">
      Package
      <span>{{details.package_detail.planname}}</span>
    </ion-label>

    <ion-label class="dpref-item" *ngIf="details.likes">
      Likes
      <span>
        {{details.likes}}
      </span>
    </ion-label>

    <ion-label class="dpref-item" *ngIf="details.dislikes">
      Dislikes
      <span>
       {{details.dislikes}}
      </span>
    </ion-label>

    <ion-label class="dpref-item"  *ngIf="details.preference">
      Preference
      <span>
        {{details.preference}}
      </span>
    </ion-label>


    <ion-label class="dpref-item"  *ngIf="details.diet_restriction">
      Diet restrictions
      <span>
        {{details.diet_restriction.name}}
      </span>
    </ion-label>

    <ion-label class="dpref-item"  *ngIf="details.diabetes">
      Diabetes
      <span>
        {{details.diabetes.name}}
      </span>
    </ion-label>


    <ion-label class="dpref-item"  *ngIf="details.readiness_assistance">
      Assistance for readiness to eat/drink
      <span>
        {{details.readiness_assistance}}
      </span>
    </ion-label>


    <ion-label class="dpref-item"  *ngIf="details.eating_assistance">
      Assistance with food
      <span>
        {{details.eating_assistance}}
      </span>
    </ion-label>


    <ion-label class="dpref-item"  *ngIf="details.fluid_assistance">
      Assistance with fluids
      <span>
        {{details.fluid_assistance}}
      </span>
    </ion-label>

    <ion-label class="dpref-item"  *ngIf="details.eating_aids">
      Eating Aids required
      <span>
        {{details.eating_aids}}
      </span>
    </ion-label>

    <ion-label class="dpref-item"  *ngIf="details.water_jug">
      Water jug
      <span>
        {{details.water_jug}}
      </span>
    </ion-label>

    <ion-label class="dpref-item"  *ngIf="details.alcohol_allowed">
      Alcohol allowed
      <span>
        {{details.alcohol_allowed}}
      </span>
    </ion-label>

    <ion-label class="dpref-item"  *ngIf="details.nutrition_watch">
      Nutrition watch
      <span>
        {{details.nutrition_watch}}
      </span>
    </ion-label>

    <ion-label class="dpref-item"  *ngIf="details.swallowing_diff">
      Swallowing difficulties
      <span>
        {{details.swallowing_diff}}
      </span>
    </ion-label>

    <ion-label class="dpref-item" *ngIf="details.suppliments&&details.suppliments.length">
      Food suppliments
      <span *ngFor="let item of details.suppliments">
        {{item.serving_time.servingtime}} : {{item.suppliment.item_name}}
      </span>
    </ion-label>

    <ion-label class="dpref-item" *ngIf="details.consumer_serve_areas">
      Serving area
      <p *ngFor="let item of details.consumer_serve_areas">
        <span>{{item.serving_time.servingtime}} - </span>
        <ion-label *ngIf="item.serve_area==0">In room</ion-label>
        <ion-label *ngIf="item.serve_area!=0">{{item.serving_area.serving_area}}</ion-label>
      </p>
      <!-- <p>
        <span>Lunch :</span>
        <ion-label>Dining area</ion-label>
      </p>
      <p>
        <span>Dinner :</span>
        <ion-label>Dining area</ion-label>
      </p> -->

    </ion-label>

  </div>

</ion-content>