ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.din-alertmodal-container {
    .modal-close-btn {
        top: 10px !important;
        right: 10px !important;
    }

    .din-alert-label {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #0177b4;
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 35px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #d9d9d9;

        ion-icon {
            font-size: 35px;
            color: #0177b4;
            margin-right: 5px;
        }
    }

    .dpref-item {
        display: flex;
        flex-direction: column;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        color: #6c6c6c;
        line-height: 25px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #d9d9d9;
        width: 100%;

        &:last-child {
            border: none !important;
        }

        span {
            font-size: 16px;
            font-weight: 500;
            color: #252525;
        }

        p {
            display: flex;
            margin-top: 0px;
            margin-bottom: 0px;
            color: #252525;
            line-height: 35px;
            justify-content: space-between;

            span {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-weight: normal;
            }

            ion-label {
                font-size: 16px;
                font-weight: 500;
                margin-left: 5px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .din-alertmodal-container {
        .din-alert-label {
            border: none;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 320px) {
    .din-alertmodal-container {
        .dpref-item {
            line-height: 32px !important;
        }
    }
}
