<ion-header>
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="user-info-container">


        <ion-col class="ion-align-self-start " size="8">

          <ion-avatar class="menu-avatar" *ngIf="img">
            <img [src]="img">
          </ion-avatar>
          <ion-avatar class="menu_avatar bg-green bg-lighten-4" slot="start" *ngIf="!img">
            <ion-label
              style="margin-left: 25px;margin-top: 20px;font-size: 20px; font-weight: bold;">{{p_name}}</ion-label>

          </ion-avatar>
          <ion-item color="none" lines="none" class="user-info">

            <ion-label class="gm-user">{{welcome}}<span class="user-name">{{name}}</span>
            </ion-label>

          </ion-item>

        </ion-col>

        <span class="menu-icons-container">

          <!-- <ion-col class="col-fit ion-align-self-center" *ngIf="branch&&branch.length>1">

            <span class="branch-icon-container" (click)="branchModal($event)">
              <ion-icon name="business-outline"></ion-icon>
            </span>

          </ion-col> -->

          <ion-col class="col-fit ion-align-self-center">

            <div class="notifications" (click)="notification()">
              <!-- <ion-icon name="notifications"></ion-icon> -->
              <img class="menu-notification-icon" src="assets/menu-notification-icon.svg">
              <span class="nbadge" *ngIf="notify!=0 && notify<100">{{notify}}</span>
              <span class="nbadge" *ngIf="notify!=0 && notify>=100">99+</span>
            </div>

          </ion-col>

        </span>


      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content class="menu-content">

  <div class="branch-results-box" (click)="branchModal($event)">

    <div class="branch-name-box">
      <ion-icon class="bnb-icon" name="business-outline"></ion-icon>
      <span class="brb-name">{{branch1}}</span>
      <ion-icon class="change-branch-icon" name="chevron-down-outline" *ngIf="branch&&branch.length>1"></ion-icon>
      <!-- <ion-label class="brb-label"><span>Melbourne</span> </ion-label> -->
    </div>

    <!-- <span class="change-branch" *ngIf="branch&&branch.length>1">
		  <ion-label class="change-branch-label" (click)="branchModal($event)">Change</ion-label> 
		  <ion-icon class="change-branch-icon" name="chevron-down-outline" (click)="branchModal($event)"></ion-icon>
		</span> -->

  </div>

  <ion-grid class="menu-grid" *ngIf="type!=4&&show">

    <ion-row>


      <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngIf="modules.includes('Story')&&story_view">

        <ion-card class="menu-ion-card" [routerLink]="['/feeds']">
          <img src="/assets/menu/feeds-icon.svg">
          <ion-label>News</ion-label>
        </ion-card>

      </ion-col>

      <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngIf="modules.includes('Story')&&story_view">

        <ion-card class="menu-ion-card" [routerLink]="['/stories']">
          <img src="/assets/menu/stories-icon.svg">
          <ion-label>Stories</ion-label>
        </ion-card>

      </ion-col>

      <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngIf="modules.includes('Activity')&&act_view">

        <ion-card class="menu-ion-card" [routerLink]="['/activities']">
          <img src="/assets/menu/activities-icon.svg">
          <ion-label>Activities</ion-label>
        </ion-card>

      </ion-col>


      <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngIf="modules.includes('Messages')&&message_handle">

        <ion-card class="menu-ion-card" [routerLink]="['/message']">

          <div class="mic-ib">

            <ion-badge class="mes-badge" *ngIf="msgcount!=0 && msgcount<100">{{msgcount}}</ion-badge>
            <ion-badge class="mes-badge" *ngIf="msgcount!=0 && msgcount>=100">99+</ion-badge>
            <img src="/assets/menu/messaging-icon.svg">

          </div>

          <ion-label>Messaging</ion-label>
        </ion-card>

      </ion-col>


      <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngIf="modules.includes('Maintenance')&&maintenance_view">

        <ion-card class="menu-ion-card" [routerLink]="['/maintenance']">
          <img src="/assets/menu/maintenance_icon.svg">
          <ion-label>Maintenance</ion-label>
        </ion-card>

      </ion-col>



      <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngIf="modules.includes('PCF')&&feedback">

        <ion-card class="menu-ion-card" [routerLink]="['/feedback']">
          <img src="/assets/menu/feedback_icon.svg">
          <ion-label>Feedback</ion-label>
        </ion-card>

      </ion-col>

      <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngIf="modules.includes('Resource')&&res_view">

        <ion-card class="menu-ion-card" [routerLink]="['/resources-list']">
          <img src="/assets/menu/resources-icon.svg">
          <ion-label>Resources</ion-label>
        </ion-card>

      </ion-col>

      <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngIf="modules.includes('Consumers')&&user_view">

        <ion-card class="menu-ion-card" [routerLink]="rv==1?['/rv-res-list']:['/consumers',{flag:1}]">
          <!-- <ion-card class="menu-ion-card" [routerLink]="['/consumers',{flag:1}]"> -->
          <img src="/assets/menu/consumers-icon.svg">
          <ion-label>Residents</ion-label>
        </ion-card>

      </ion-col>

      <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngIf="rv==1&&task_view">

        <ion-card class="menu-ion-card mi-card-1" [routerLink]="['/rv-tasks']">
          <div class="ribbon ribbon-top-left"><span>Beta</span></div>

          <img src="/assets/menu/tasks.svg">
          <ion-label>Tasks</ion-label>
        </ion-card>

      </ion-col>

      <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngIf="modules.includes('Consumers')&&user_view">

        <ion-card class="menu-ion-card" [routerLink]="['/birthdays']">
          <img src="/assets/menu/birthdays.svg">
          <ion-label>Birthdays</ion-label>
        </ion-card>

      </ion-col>

      <ion-col size-sm="4" size-md="4" size-lg="3" size="4"
        *ngIf="rv!==1&&modules.includes('Dining Beta')&&dining_view">

        <ion-card class="menu-ion-card mi-card-1" [routerLink]="['/dining-dashboard']">
          <!-- <ion-badge class="mes-badge" style="margin-left: 35%;min-height: 2px;">Upcoming</ion-badge> -->
          <!-- <div class="ribbon ribbon-top-left"><span>Upcoming</span></div> -->
          <img src="/assets/menu/dining_icon.svg">
          <ion-label>Dining</ion-label>
        </ion-card>

      </ion-col>




      <!-- <ion-col size-sm="4" size-md="4" size-lg="3" size="4" *ngIf="modules.includes('Petty cash')">

        <ion-card class="menu-ion-card" [routerLink]="['/consumers',{flag:2}]">
          <img src="/assets/menu/pettycash-icon.svg">
          <ion-label>Petty Cash</ion-label>
        </ion-card>

      </ion-col> -->

      <ion-col size-sm="4" size-md="4" size-lg="3" size="4"
        *ngIf="(modules.includes('Call booking')&&call_view)||(modules.includes('Visit booking')&&vis_view)">

        <ion-card class="menu-ion-card" [routerLink]="['/menu-booking']">
          <img src="/assets/menu/booking-icon.svg">
          <ion-label>Services</ion-label>
        </ion-card>

      </ion-col>

      <!-- <ion-col size-sm="4" size-md="4" size-lg="4" size="4" *ngIf="modules.includes('Visit booking')">

        <ion-card class="menu-ion-card" [routerLink]="['/visitor-booking-list']">
          <img src="/assets/menu/visitor-booking.svg">
          <ion-label>Visitor Booking</ion-label>
        </ion-card>

      </ion-col> -->





      <ion-col size-sm="4" size-md="4" size-lg="3" size="4">

        <ion-card class="menu-ion-card" [routerLink]="['/userprofile']">
          <img src="/assets/menu/my-profile-icon.svg">
          <ion-label>My Profile</ion-label>
        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>



  <!-- <ion-grid class="menu_grid" *ngIf="type==4">


    <ion-row>
      <ion-col size-sm="4" size-md="4" size-lg="4" size="4" *ngIf="modules.includes('Maintenance')">

        <ion-card class="menu-ion-card" [routerLink]="['/maintenance-count']">
          <img src="/assets/menu/maintenance_icon.svg">
          <ion-label>Maintenance</ion-label>
        </ion-card>

      </ion-col>
        

        <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

          <ion-card class="menu-ion-card" [routerLink]="['/userprofile']">
            <img src="/assets/menu/my-profile-icon.svg">
            <ion-label>My Profile</ion-label>
          </ion-card>
  
        </ion-col>


    </ion-row>
</ion-grid> -->
</ion-content>

<!-- <ion-footer >
  
    <ion-fab vertical="bottom" horizontal="end" class="bottom-align">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top" [routerLink]="['/create-story',{flag:3}]" *ngIf="modules.includes('Story')">
        <ion-fab-button><ion-icon name="globe-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom"  [routerLink]="['/create-consumer',{flag:3}]" *ngIf="modules.includes('Consumers')&&(type==2||type==1)">
        <ion-fab-button><ion-icon name="person-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start" [routerLink]="['/create-activity',{flag:3}]" *ngIf="modules.includes('Activity')">
        <ion-fab-button><ion-icon name="pulse-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  
</ion-footer> -->

<!-- <ion-content class="menu-content">

  <ion-grid class="menu-grid" >

    <ion-row>

      <ion-col size-sm="4" size-md="4" size-lg="4" size="4" >

        <ion-card class="menu-ion-card" [routerLink]="['/maintenance-count']">
          <img src="/assets/menu/maintenance_icon.svg">
          <ion-label>Maintenance</ion-label>
        </ion-card>

      </ion-col>
        

        <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

          <ion-card class="menu-ion-card" [routerLink]="['/visitor-booking-list']">
            <img src="/assets/menu/visitor-booking.svg">
            <ion-label>Visitor Booking</ion-label>
          </ion-card>
  
        </ion-col>

        <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

          <ion-card class="menu-ion-card" [routerLink]="['/userprofile']">
            <img src="/assets/menu/my-profile-icon.svg">
            <ion-label>My Profile</ion-label>
          </ion-card>
  
        </ion-col>

    </ion-row>

  </ion-grid>

 </ion-content> -->



<ion-footer>

  <div class="footer-items-sec">

    <div class="bottom-navbar-sec">


      <div class="bns-item-1 bns-item-home" [routerLink]="['/menu']">
        <img class="feeds-icon" src="/assets/bottom-menu/home-icon-selected.svg">
        <ion-text class="selected">Home</ion-text>
      </div>



      <div class="bns-item-1 bns-item-feeds" (click)="gotoFeeds()" *ngIf="modules.includes('Story')&&story_view">
        <img src="/assets/bottom-menu/feeds-icon.svg">
        <ion-text>News</ion-text>
      </div>



      <div class="bns-item-1 bns-item-activity" (click)="gotoActivity()" *ngIf="modules.includes('Activity')&&act_view">
        <img src="/assets/bottom-menu/activities-icon.svg">
        <ion-text>Activity</ion-text>
      </div>


      <div class="bns-item-1 bns-item-dining" (click)="gotoDining()" *ngIf="rv!==1&&modules.includes('Dining Beta')&&dining_view">
        <img src="/assets/bottom-menu/dining-icon.svg">
        <ion-text>Dining</ion-text>
      </div>


      <div class="bns-item-1 bns-item-profile" (click)="gotoResidents()" *ngIf="modules.includes('Consumers')&&user_view">
        <img src="/assets/bottom-menu/resident-icon.svg">
        <ion-text>Residents</ion-text>
      </div>


    </div>

  </div>

</ion-footer>