ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-footer {
    border-top: 1px solid #e5e5e5;

    .publish-btn {
        max-width: fit-content;
        font-family: "Open Sans", sans-serif;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}