<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/callbooking-list']"></ion-icon>
          <ion-label>Booking Success</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" color="none" class="confirm-vcall-icon">

    <img src="assets/cb-success.svg">

  </ion-item>

  <ion-item color="none" lines="none" class="confirm-text">

    <ion-label>
      Congratulations, your call has been booked successfully
    </ion-label>

  </ion-item>


  <ion-item lines="none" colors="none" class="cbs-booking-time">

    <ion-label>Booking Time</ion-label>

  </ion-item>


  <ion-item color="none" lines="none" class="cb-dt-info">

    <ion-label>
      {{date | dateformat: 'DD MMMM yyyy'}} <span>{{slot}}</span>
      <span>{{duration}} Minutes</span>
    </ion-label>

  </ion-item>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" [routerLink]="['/callbooking-list']">Back</ion-button>
  </ion-toolbar>
</ion-footer>