ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-card-content {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

ion-footer {
  ion-toolbar {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    --min-height: auto;
  }
}

.c_tag {
  margin-right: 10px;
}

.tagged {
  height: 20px;
  width: 20px;
}

.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;

  // color: #fff;
}

.video-overlay {
  width: 100%;
  // height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.8;
  background: none !important;
}

.num_badge {
  // position: absolute;
  // top: 28%;
  // font-size: 25px;
  // width: 100%;
  // margin-left: 40%;
  // margin-right: 40%;
  // color: #fff;

  position: absolute;
  /* top: 28%; */
  font-size: 25px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-self: center;
  left: 0;
  right: 0;
}

.story-media-container {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 150px !important;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    border: 1px solid #e7e7e7;
  }

  ion-col {
    padding: 0;
    font-size: 25px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-self: center;
    left: 0;
    right: 0;
  }

  &:nth-child(even) {
    margin-top: 2px;
  }
}

.more-media-block {
  .myOverlay {
    display: none;
  }

  img {
    filter: brightness(0.5);
  }
}

.multi-iv-block {
  img {
    height: 120px !important;
  }
}

@media screen and (min-width: 768px) {
  .story-media-container {
    img {
      height: 450px !important;
    }
  }
}

.like1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.like1-red-filled {
  font-size: 25px;
  color: #d40000;
  vertical-align: middle;
}

.comment1 {
  font-size: 22px;
  color: #858585;
  vertical-align: middle;
}

.view-count-icon1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.las {
  font-size: 15px;
}

.vmore-comments {
  text-align: right;
  font-weight: normal;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    font-size: 22px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .story-info {
    span {
      color: #a9a9a9;
      font-size: 12px;
      width: 90px;
      white-space: pre-line;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      word-break: break-word;
    }
  }
}

@media only screen and (max-width: 767px) {
  .story-date-time {
    display: none !important;
  }

  .las {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .story-date-time {
    font-size: 15px;
    vertical-align: sub;
    margin-right: 2px;
  }
}

.h-100 {
  img {
    height: 100% !important;
  }
}

.footer-comment-input {
  padding: 5px;
  background: #f1f1f1;
  border: none;
  border-radius: 10px !important;
  box-shadow: none !important;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  width: -webkit-fill-available;
  min-height: 15px;
  align-self: center;
  align-items: center;
  align-content: center;
  display: flex;
  margin: 0 15px;
  line-height: 18px;

  ion-textarea {
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #252525;
    --padding-start: 5px;
    --padding-top: 5px;
    --padding-end: 5px;
    --padding-bottom: 5px;
    margin: 0;
    min-width: 100%;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.story-comments {
  // font-family: "Open Sans", sans-serif;
  // font-size: 15px;
  // color: #5c5c5c;
  // padding-right: 5px;
  // display: block;

  color: #252525 !important;
  // font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 14px !important;
  margin-left: 0px;
  margin-bottom: 0 !important;
  line-height: 20px !important;
  padding-left: 0px;
}

.comment-staff-tag {
  background-color: rgba(117, 212, 255, 0.2);
  color: #09648d;
  padding: 2px 10px;
  border-radius: 50px;
  margin-left: 5px;
  margin-top: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-size: 12px;

  ion-icon {
    margin-right: 5px;
  }
}

.delete-comment {
  font-size: 18px;
}

.input_message {
  max-height: 200px;
}

.story-info {
  --padding-start: 0px !important;
  --inner-padding-end: 0px !important;
  --min-height: auto;
  margin-top: 2px;
  // justify-content: space-between;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  span {
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #8c8c8c;
    margin-left: 2px;

    &:nth-child(2) {
      margin-left: 10px !important;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .multi-iv-block {
    img {
      height: 100px !important;
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
  .c_tag {
    margin-right: 5px !important;
  }

  .story-title-sec {
    margin-left: 12px;
  }

  .story-info {
    .tagged-consumers1 {
      margin-top: 5px;
      // margin-left: 0px !important;

      .tagged {
        height: 25px;
        width: 25px;
        margin: 0 2px;
      }

      .tagged-consumers-count {
        color: #686868 !important;
        font-weight: 500;
        background: #f1f1f1;
        border-radius: 50px;
        min-width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2px;
      }
    }

    span {
      width: 100%;
      max-width: max-content;
      flex-wrap: unset;
    }
  }
}

@media only screen and (min-width: 768px) {
  .story-info {
    justify-content: left;

    span {
      margin-right: unset;
    }
  }

  .tagged {
    margin: 0 5px;
  }

  .multi-iv-block {
    img {
      height: 220px !important;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .multi-iv-block {
    img {
      height: 300px !important;
    }
  }
}


.doc_attach_container {
  border: 1px solid #e5e5e5;
  border-radius: 50px;
  --min-height: auto;

  .download-icon {
    font-size: 30px;
    color: #979797;
    vertical-align: middle;
    margin-left: 5px;
  }
}

.doc_attach_container {
  // border: none;
  // border-radius: 50px;
  // --min-height: auto;
  // background: #daf2ff;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #d9e3f1;
  padding: 5px 10px;
  margin-bottom: 5px;
  max-width: 100%;

  .doc-attach-pin-icon {
    color: #818181;
    transform: rotate(35deg);
    font-size: 22px;
  }

  .doc-attachment-name {
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #545454;
    margin-left: 5px;
    // max-width: 75%;
    max-width: 82%;
  }

  .download-icon {
    font-size: 25px;
    color: #979797;
    vertical-align: middle;
    // margin-left: 10px;
    margin-left: auto;
  }

  .act_attachment_name {
    color: #0077b5 !important;
  }
}

.stories {
  .story-title-sec {
    .story-title {
      font-size: 18px;
      font-weight: 600;
    }

    .story-info {
      .wap {
        display: flex;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: normal;
        background: #ff9051;
        color: #fff;
        padding: 2px 12px;
        margin-top: 8px;
        margin-left: 0px;
        height: 22px;
        max-width: fit-content;
        border-radius: 50px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .ion-header-inner {
    .page-name {
      ion-label {
        font-size: 17px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .stories {
    .story-title-sec {
      .story-info {
        max-width: 388px;
      }
    }
  }
}

.stories {
  box-shadow: none !important;
  padding: 6px !important;

  .story-details {
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #626262;
    padding: 0px !important;
    line-height: 25px;
  }
}

.story-lce-container {
  .doc-com-view-box {
    display: flex;
    align-items: center;

    .feeds-inner-item {
      display: flex;
      align-items: center;

      &:nth-child(2) {
        margin-left: 25px;
      }

      .likes {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #8c8c8c;
        margin-left: 5px;
      }

      .comment1 {
        font-size: 20px;
      }

      .comments-label {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #8c8c8c;
        margin-left: 8px;
      }

      .story-views-icon {
        font-size: 22px;
        color: #858585;
      }

      .story-views-label {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #8c8c8c;
        margin-left: 5px;
      }
    }
  }
}

.comment-info {
  display: flex;
  align-items: center;

  ion-label {
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 12px !important;
    color: #8c8c8c !important;
    margin-top: 2px;
    display: flex;
    align-items: center;

    .comment-staff-tag-1 {
      background-color: rgba(117, 212, 255, 0.25);
      color: #1493cd;
      padding: 1px 10px 1px 5px;
      border-radius: 50px;
      display: inline-flex;
      align-items: center;
      margin-left: 5px;
      margin-top: 2px;
      vertical-align: sub;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      height: 22px;

      i {
        display: flex !important;
        font-size: 15px;
        margin-right: 2px;
      }
    }

    &:first-child {
      margin-left: 0;
      margin-right: 15px;
    }
  }
}

.comment-btn {
  img {
    height: 20px;
  }
}

.story-comments-sec {
  ion-row {
    ion-col {
      &:nth-child(3) {
        margin-left: auto;
      }
    }
  }
}

ion-footer {
  background: #fff;
}

.footer-ios {
  padding-bottom: 0 !important;
}