ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-card-content {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

ion-footer ion-toolbar {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --min-height: auto;
}

.c_tag {
  margin-right: 10px;
}

.tagged {
  height: 20px;
  width: 20px;
}

.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.6);
}

.video-overlay {
  width: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  background: none !important;
}

.num_badge {
  position: absolute;
  /* top: 28%; */
  font-size: 25px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-self: center;
  left: 0;
  right: 0;
}

.story-media-container {
  width: 100%;
  height: 100%;
}

.story-media-container img {
  width: 100%;
  height: 250px !important;
  overflow: hidden;
  object-fit: cover;
}

.story-media-container ion-col {
  padding: 0;
  font-size: 25px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-self: center;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .story-media-container img {
    height: 450px !important;
  }
}

.like1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.like1-red-filled {
  font-size: 25px;
  color: #d40000;
  vertical-align: middle;
}

.comment1 {
  font-size: 22px;
  color: #858585;
  vertical-align: middle;
}

.view-count-icon1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.las {
  font-size: 15px;
}

.vmore-comments {
  text-align: right;
  font-weight: normal;
  color: #7d7d7d;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
}

.vmore-comments ion-icon {
  font-size: 25px;
  margin-left: 10px;
}

@media only screen and (max-width: 375px) {
  .story-info span {
    color: #A9A9A9;
    font-size: 12px;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-grow: 1;
  }
}

@media only screen and (max-width: 767px) {
  .story-date-time {
    display: none !important;
  }
  .las {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .story-date-time {
    font-size: 15px;
    vertical-align: sub;
    margin-right: 2px;
  }
}
