<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">
    <!-- <ion-title>story-details</ion-title> -->

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="6">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Story Details</ion-label>
        </ion-col>

        <!-- <ion-col size="6">
          
        </ion-col> -->

        <ion-col class="col-fit header-buttons ion-align-self-end" size="6">

          <ion-icon name="checkmark-outline" *ngIf="story.status==2&&publish&&canEdit"
            (click)="approveAlert()"></ion-icon>

          <ion-icon name="create-outline" (click)="editStory()" *ngIf="edit"></ion-icon>

          <ion-icon name="trash-outline" (click)="delete()" *ngIf="delete_story&&canEdit"></ion-icon>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="stories">

    <ion-card-header>

      <ion-grid>

        <ion-row>

          <ion-col class="ion-align-self-start col-fit">

            <ion-avatar class="story-avatar">
              <img [src]="story.icon">
            </ion-avatar>

          </ion-col>

          <ion-col class="story-title-sec">

            <ion-label class="story-title">
              {{story.title}}
            </ion-label>

            <div class="story-info">

              <span class="col_fit" *ngIf="story.post_type!=6"> <i class="las la-user"></i>{{"
                "}}{{creator.name}}</span>

              <span class="col_fit"><ion-icon class="story-date-time" name="calendar-clear-outline"></ion-icon>{{"
                "}}{{story_time}}</span>
              <span style="margin-left: 15px; display: flex; align-items: center;"
                class="col_fit display_none tagged-consumers1" *ngIf="tagged.length" (click)="taggedCon()">
                <ion-icon class="c_tag" src="/assets/consumer_tag.svg"></ion-icon>
                <ion-avatar class="tagged">
                  <img [src]="tagged[0].profile_pic" *ngIf="tagged && tagged.length">
                </ion-avatar>
                <ion-avatar class="tagged" *ngIf="tagged.length>1">
                  <img [src]="tagged[1].profile_pic" *ngIf="tagged && tagged.length">
                </ion-avatar>
                <span *ngIf="tagged.length>2" class="tagged-consumers-count">+{{tagged.length-2}}</span>
              </span>

              <ion-chip class="wap" *ngIf="story.status==2">Waiting for approval</ion-chip>

            </div>

          </ion-col>

        </ion-row>

      </ion-grid>

    </ion-card-header>
    <ion-row class="mb-20 mt-20" (click)="showImages($event)" *ngIf="media.length>0">

      <ion-row class="story-media-container h-100" *ngIf="media.length==1">
        <img [src]="media[0].img" *ngIf="media && media.length ">
        <div class="video-overlay" *ngIf="media[0].vid==1"></div>
        <div class="num_badge" *ngIf="media[0].vid==1"><ion-icon name="play" style="font-size: 50px;"></ion-icon></div>
      </ion-row>


      <ion-row class="story-media-container" *ngIf="media.length>1">
        <img [src]="media[0].img" *ngIf="media && media.length">
        <div class="video-overlay" *ngIf="media[0].vid==1"></div>
        <div class="num_badge" *ngIf="media[0].vid==1"><ion-icon name="play" style="font-size: 50px;"></ion-icon></div>
      </ion-row>

      <ion-row class="story-media-container multi-iv-block" *ngIf="media.length>1">
        <ion-col *ngIf="media.length>=2" style="width:100%">
          <img [src]="media[1].img" *ngIf="media && media.length">
          <div class="video-overlay" *ngIf="media[1].vid==1"></div>
          <div class="num_badge" *ngIf="media[1].vid==1"><ion-icon name="play" style="font-size: 50px;"></ion-icon>
          </div>
        </ion-col>
        <ion-col *ngIf="media.length>=3" style="margin-left: 2px;width:100%;position: relative">
          <img [src]="media[2].img" *ngIf="media && media.length" style="width:100%">
          <div class="video-overlay" *ngIf="media[2].vid==1"></div>
          <div class="num_badge" *ngIf="media[2].vid==1"><ion-icon name="play" style="font-size: 50px;"></ion-icon>
          </div>
        </ion-col>
        <ion-col *ngIf="media.length==4" style="margin-left: 2px; position: relative;">
          <img [src]="media[3].img" *ngIf="media && media.length" style="width:100%">
          <div class="myOverlay" *ngIf="media[3].vid==4"></div>
          <div class="num_badge" *ngIf="media[3].vid==1"><ion-icon name="play" style="font-size: 50px;"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="more-media-block" *ngIf="media.length>4" style="margin-left: 2px; position: relative;">
          <img [src]="media[3].img" *ngIf="media && media.length" style="width:100%">
          <div class="myOverlay" *ngIf="media.length>=4"></div>
          <div class="num_badge" *ngIf="media.length>=4">+{{media.length-4}}</div>
        </ion-col>
      </ion-row>

    </ion-row>
    <ion-card-content>
      <!-- <img src="assets/oldage.jpg"> -->
      <p class="story-details " [innerHTML]="story.description" *ngIf="story.post_type!=6"></p>
      <p class="story-details " *ngIf="story.post_type==6" [innerHTML]="story.activity_feedback">
        <!-- <img  src="assets/attended_btn.svg" style="margin-left: 10px;margin-top: 10px;"> -->
      </p>
    </ion-card-content>

    <ion-row class="sd-docs-row mb-10">

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of doc">

        <div class="doc_attach_container" (click)="openDoc(item)">
          <!-- <ion-icon name="attach_outline" style="color: #1c1c1c;"></ion-icon> -->
          <!-- <ion-icon name="download"></ion-icon> -->
          <ion-icon name="attach-outline" class="doc-attach-pin-icon"></ion-icon>
          <!-- <ion-icon src="assets/ms_word_doc_icon.svg" *ngIf="item.ext=='doc'|| item.ext=='docx'"></ion-icon>
          <ion-icon src="assets/news_letter_icon-01.svg" *ngIf="item.ext=='xlsx'"></ion-icon> -->
          <ion-label class="doc-attachment-name">{{item.title}}</ion-label>
          <ion-icon class="download-icon" name="arrow-down-circle"></ion-icon>
        </div>

      </ion-col>

    </ion-row>

    <ion-grid class="story-lce-container">

      <ion-row>

        <ion-col class="col-fit ion-align-self-start">

          <ion-icon class="like1" name="heart-outline" *ngIf="story.liked ==false"
            (click)="like(story.id,1)"></ion-icon>
          <ion-icon class="like1-red-filled" name="heart-sharp" *ngIf="story.liked == true"
            (click)="like(story.id,0)"></ion-icon>
          <span class="likes">{{story.like_count}}</span>

          <!-- <ion-icon class="story-like-icon" src="assets/heart_icon.svg" *ngIf="story.liked ==false" (click)="like(story.id,1)"></ion-icon>
          <ion-icon class="story-like-icon" src="assets/heart_icon_filled_red.svg" *ngIf="story.liked == true" 
          (click)="like(story.id,0)"></ion-icon>
          

          <span>{{story.like_count}}</span> -->

        </ion-col>

        <ion-col class="col-fit doc-com-view-box">

          <div class="feeds-inner-item">

            <ion-icon class="comment1" name="chatbubble-outline"></ion-icon>
            <span class="comments-label">{{story.comment_count}}{{" "}} Comments</span>

          </div>

          <div class="feeds-inner-item" (click)="viewList()">

            <ion-icon class="story-views-icon" name="eye-outline"></ion-icon>

            <span class="story-views-label">{{story.view_count}}</span>

          </div>

        </ion-col>

        <!-- <ion-col class="col-fit ion-align-self-end" (click)="viewList()">

          <ion-icon class="story-views-icon" name="eye-outline"></ion-icon>

          <span>{{story.view_count}}</span>

        </ion-col> -->

      </ion-row>

    </ion-grid>

    <div #commentSection *ngIf="story.hide_comment==0">
      <ion-grid class="story-comments-sec">

        <ion-row *ngFor="let com of comments | slice:start:end ; let idx = index">

          <ion-col size="2" class="col-fit ion-align-self-start">

            <ion-avatar class="comment-avatar bg-green bg-lighten-4">
              <ion-label>{{com.user.name.substr(0,1)}}</ion-label>
              <!-- <img src="assets/user-icon1.jpg"> -->
            </ion-avatar>

          </ion-col>

          <ion-col size="10" class="ion-align-self-end">

            <ion-label class="story-comments">
              {{com.content}}
            </ion-label>

            <div class="comment-info">
              <ion-label>
                {{com.user.name}}
                <span class="comment-staff-tag-1"
                  *ngIf="com.user.user_type_id==1 || com.user.user_type_id==2||com.user.user_type_id==3">
                  <i class="las la-user"></i> Staff
                </span>
              </ion-label>
              <ion-label>{{com.time}}</ion-label>
            </div>

          </ion-col>
          <ion-col class="align_flex-end col_fit" size="1" *ngIf="com.user.user_id==user_id"
            (click)="deletePop(com.id,idx)">
            <ion-icon class="delete-comment" name="trash-outline"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-item lines="none" color="none" *ngIf="comments.length>5 && end<comments.length">
          <ion-label class="vmore-comments" (click)="viewMore()">
            View more comments <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-label>
        </ion-item>
        <!-- <ion-item lines="none" color="none" *ngIf="comments.length>0">
        <ion-label style="width: 100%;text-align: right;font-weight: 500;color: blue;" (click)="viewMore()" *ngIf="comments.length>5 && end<comments.length">
          View more comments</ion-label>
      </ion-item> -->
      </ion-grid>
    </div>
  </ion-card>

</ion-content>

<ion-footer *ngIf="story.hide_comment==0">
  <ion-toolbar>
    <ion-grid class="footer-comment-section">

      <ion-row>

        <ion-col class="fcomment-col-1">

          <ion-avatar class="footer-comment-user-pic" *ngIf="user_img">
            <img [src]="user_img">
          </ion-avatar>
          <ion-avatar class="profile_pic_thumb bg-green bg-lighten-4" *ngIf="!user_img">
            <ion-label
              style="margin-left: 8px;margin-top: 5px;font-size: 18px; font-weight: bold;">{{p_name}}</ion-label>
          </ion-avatar>
        </ion-col>

        <ion-col class="fcomment-col-2">

          <form class="footer-comment-input">


            <ion-textarea class="input_message" clearOnEdit="true" auto-grow="true" rows="1" name="inputMessage"
              placeholder="Add a comment..." [(ngModel)]="commentText"></ion-textarea>


          </form>

        </ion-col>

        <ion-col class="fcomment-col-3">
          <ion-button class="ion-activatable ripple-parent comment-btn" (click)="postComment(story.id)">
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            <img src="assets/sent-icon.svg">
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-footer>