ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

$light-grey: #ececec;
$clouds: #ecf0f1;

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

// Layout
.row {
    display: flex;

    .col {
        flex: 1;

        &:last-child {
            margin-left: 0;
        }
    }
}

/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;
    background-color: #f9f9f9;
    margin-bottom: 2px;

    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        // background: $light-grey;
        font-size: 18px;
        font-weight: normal;
        cursor: pointer;
        color: #9a9a9a;

        /* Icon */
        &:hover {
            background: transparent;
        }

        &::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all 0.35s;
            color: #9a9a9a;
        }
    }

    &-content {
        max-height: 0;
        padding: 0 1em;
        color: $light-grey;
        background: white;
        transition: all 0.35s;
    }

    &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: $light-grey;
        cursor: pointer;

        &:hover {
            background: darken($light-grey, 10%);
        }
    }
}

// :checked
input:checked {
    + .tab-label {
        background: transparent;

        &::after {
            transform: rotate(90deg);
        }
    }

    ~ .tab-content {
        max-height: 100%;
        padding: 0em 1em;
    }
}

.custom-label1 {
    color: #000;
    margin-top: 15px;
    white-space: pre-wrap;
    line-height: 18px;
    word-break: break-word;
}

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
}

ion-checkbox {
    align-self: flex-start;
}

.cl-1 {
    margin-left: 15px;
}

.ca-toggle-switch {
    padding: 0;
    --background: #c8cfda;
}

.ab-sec-consumer-type {
    ion-segment-button {
        max-width: 130px !important;
    }
}

ion-datetime {
    color: #222;
}

ion-select {
    color: #222;
}

ion-segment {
    ion-segment-button {
        ion-label {
            color: unset;
            margin: 8px 0;
        }
    }
}

.tab-name-box {
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #e9e9e9;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #e1e1e1;

    ion-label {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #666666;
    }

    ion-icon {
        font-size: 20px;
        color: #666666;
    }
}

.ca-tab-content {
    padding: 0 15px;
}

.consumer-about-form {
    ion-row {
        margin-bottom: 10px;

        ion-col {
            ion-input {
                margin-top: 0;
            }

            ion-textarea {
                margin-top: 0;
            }

            ion-select {
                margin-top: 0;
            }

            ion-datetime {
                margin-top: 0;
            }

            .form-icon {
                vertical-align: middle;
                margin-right: 10px;
            }

            .password-input-holder {
                position: relative;

                ion-input {
                    width: 100%;
                }

                .sh-password-icon {
                    font-size: 22px;
                    color: #a7a7a7;
                    position: absolute;
                    z-index: 99999;
                    right: 12px;
                    top: 12px;
                }
            }
        }
    }
}

.consumer-about-form {
    padding: 0;

    ion-row {
        ion-col {
            position: relative;

            .label-black {
                // font-family: "Open Sans", sans-serif;
                font-family: "Roboto", sans-serif;
            }

            ion-input {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                color: #000 !important;
                height: 45px;
                border-radius: 10px;
                border: none;
                background: #f3f3f3;
                --padding-start: 15px;
                --padding-end: 15px;
            }

            .phone-input {
                --padding-start: 55px;
            }

            ion-datetime {
                border-radius: 10px;
                border: none;
                background: #f3f3f3;
                height: 47px;
            }

            .consumer-about-calendar-icon {
                right: 19px;
                bottom: 19px;
                z-index: 9999;
            }

            ion-textarea {
                border: none;
                background: #f3f3f3;
                border-radius: 10px;
                --padding-start: 15px;
                --padding-end: 15px;
                min-height: 150px;
                color: #1c1c1c !important;
            }

            .gender-type {
                ion-segment-button {
                    // font-family: "Open Sans", sans-serif;
                    font-family: "Roboto", sans-serif;
                    --background: #f3f3f3;
                    border-radius: 10px;
                    border: none;
                }
            }

            .select-facilities {
                ion-select {
                    border-radius: 10px;
                    border: none;
                    background: #f3f3f3;
                    height: 45px;
                }
            }

            .ab-sec-consumer-type {
                ion-segment-button {
                    // font-family: "Open Sans", sans-serif;
                    font-family: "Roboto", sans-serif;
                    --background: #f3f3f3;
                    border-radius: 10px;
                    border: none;
                }
            }

            ion-toggle {
                --background: #c8cfda;
                --background-checked: #bedff1;
                --handle-background-checked: #0077b5;
                --handle-width: 20px;
                --handle-height: 20px;
                --handle-spacing: 3px;
                --handle-background: #ffffff;
                padding: 0;
            }
        }

        ion-item {
            .cl-1 {
                margin-left: 10px;
                margin-top: 0;
                margin-bottom: 0;
            }

            ion-checkbox {
                --border-color: #e6e6e6;
                --background: #e6e6e6;
                --border-width: 1px;
                --border-style: solid;
                --background-checked: #0077b5;
                --border-color-checked: #0077b5;
            }
        }
    }
}

.publish-btn {
    text-transform: capitalize;
    height: 50px;
    --border-radius: 50px;
    --background: #0077b5;
    --box-shadow: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;

    ion-icon {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .consumer-about-form {
        display: flex;
        flex-wrap: wrap;

        ion-row {
            width: 50%;
            align-items: center;
            padding: 10px 5px;

            ion-col {
                .gender-type {
                    margin-bottom: 5px;
                }
            }

            .opt-label {
                padding-top: 40px;
            }
        }

        .row-100 {
            width: 100%;
        }
    }

    .publish-btn {
        max-width: 140px;
    }
}
