<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Add resident</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar class="cp-pic-container" (click)="selectImage()">


    <img src="assets/user_pic.png" *ngIf="!img">
    <img [src]="pic" *ngIf="img">

    <ion-icon name="create-outline"></ion-icon>


  </ion-avatar>



  <div class="consumer-about-info">

    <div class="tab-name-box" (click)="expandSection(1)">

      <ion-label>Personal Info</ion-label>

      <ion-icon name="chevron-down-outline"></ion-icon>

    </div>

    <div class="ca-tab-content" *ngIf="expand1">

      <ion-grid class="consumer-about-form">

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">First Name<span class="asterisk">*</span></ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-input [(ngModel)]="fname"></ion-input>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Last Name<span class="asterisk">*</span></ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-input [(ngModel)]="lname"></ion-input>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Date of Birth<span class="asterisk">*</span></ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-datetime mode="md" value="2020-10-31T15:43:40.394Z" [max]=current_date displayFormat=" DD MMM YYYY"
              display-timezone="utc" [(ngModel)]="dob">
            </ion-datetime>

            <ion-icon class="consumer-about-calendar-icon" name="calendar-clear-outline"></ion-icon>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Gender<span class="asterisk">*</span></ion-label>

          </ion-col>

          <ion-col>

            <!-- <ion-segment class="gender-type" [(ngModel)]="gender">

              <ion-segment-button value="male" [class.gender_selected]="gender==0">
                <ion-label>Male</ion-label>
              </ion-segment-button>

              <ion-segment-button value="female" [class.gender_selected]="gender==1">
                <ion-label>Female</ion-label>
              </ion-segment-button>

              <ion-segment-button value="other" [class.gender_selected]="gender==2">
                <ion-label>Other</ion-label>
              </ion-segment-button>

            </ion-segment> -->

            <ion-item lines="none" color="none" class="select-facilities">
              <ion-select [(ngModel)]="gender" placeholder="Select" interface="action-sheet">
                <ion-select-option value="{{item.gender_id}}" *ngFor="let item of genderArray">{{item.gender}}
                </ion-select-option>

              </ion-select>
            </ion-item>

          </ion-col>

        </ion-row>


      </ion-grid>

    </div>

    <div class="tab-name-box" (click)="expandSection(2)">

      <ion-label>Additional Information</ion-label>

      <ion-icon name="chevron-down-outline"></ion-icon>

    </div>

    <div class="ca-tab-content" *ngIf="expand2">

      <ion-grid class="consumer-about-form">

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Site<span class="asterisk">*</span></ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-item lines="none" color="none" class="select-facilities">
              <ion-select [(ngModel)]="branch1" interface="action-sheet" [selectedText]="branch1"
                (ionChange)="setBranch(branch1)">
                <ion-select-option value="{{item.name}}" *ngFor="let item of branch">{{item.name}}
                </ion-select-option>

              </ion-select>
            </ion-item>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Wing<span class="asterisk">*</span></ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-item lines="none" color="none" class="select-facilities">
              <ion-select [(ngModel)]="wing" [selectedText]="wing" interface="action-sheet" (ionChange)="setWing(wing)">
                <ion-select-option value="{{item.wing}}" *ngFor="let item of wingArray">{{item.wing}}
                </ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>

        </ion-row>


        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Resident Type<span class="asterisk">*</span></ion-label>

          </ion-col>

          <ion-col>

            <ion-segment value="male" class="ab-sec-consumer-type">

              <ion-segment-button value="male" [class.con_selected]="con_type==3" (click)="residentType(3)">
                <ion-label>Permanent</ion-label>
              </ion-segment-button>

              <ion-segment-button value="female" [class.con_selected]="con_type==4" (click)="residentType(4)">
                <ion-label>Respite</ion-label>
              </ion-segment-button>

            </ion-segment>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Room No.<span class="asterisk">*</span></ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-input [(ngModel)]="room"></ion-input>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Admission Date<span class="asterisk">*</span></ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-datetime mode="md" value="" displayFormat=" DD MMM YYYY" [max]=current_date display-timezone="utc"
              [(ngModel)]="adm_date">
            </ion-datetime>

            <ion-icon class="consumer-about-calendar-icon" name="calendar-clear-outline"></ion-icon>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col class="opt-label" size="12">

            <ion-label class="label-black display-inline-block">Status<span class="asterisk">*</span></ion-label>

            <ion-toggle class="ca-toggle-switch display-inline-block" [checked]="status==1"
              (ionChange)="changeStatus($event)"></ion-toggle>

          </ion-col>

        </ion-row>

      </ion-grid>

    </div>

    <div class="tab-name-box" (click)="expandSection(3)">

      <ion-label>Other Info</ion-label>

      <ion-icon name="chevron-down-outline"></ion-icon>

    </div>

    <div class="ca-tab-content" *ngIf="expand3">

      <ion-grid class="consumer-about-form a-care-consumer-about-form">

        <ion-row>

          <ion-col size="12">

            <ion-icon name="call-outline" class="form-icon"></ion-icon>

            <ion-label class="label-black display-inline-block">Phone number</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-input class="phone-input" [(ngModel)]="phone"></ion-input>

            <span class="country-code">+61</span>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-icon name="mail-outline" class="form-icon"></ion-icon>

            <ion-label class="label-black display-inline-block">Email<span class="asterisk">*</span></ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-input [(ngModel)]="email"></ion-input>

          </ion-col>

        </ion-row>

        <form [formGroup]="passwordForm" novalidate (ngSubmit)="finish()" >
        <ion-row class="password-row">

          <ion-col size="12">

            <!-- <ion-icon name="mail-outline" class="form-icon"></ion-icon> -->

            <ion-label class="label-black display-inline-block">New Password<span class="asterisk">*</span></ion-label>

          </ion-col>

          <ion-col size="12">

            <div class="password-input-holder">

              <ion-input [(ngModel)]="password" formControlName="password" name="pswd" [type]="new_pass_type" (ngModelChange)="checkStrength(password)" cleaeOnEdit="false"></ion-input>
              <ion-icon class="sh-password-icon" name="eye" (click)="typeChange(4)" *ngIf="new_pass_type=='text'"></ion-icon>
              <ion-icon class="sh-password-icon" name="eye-off" (click)="typeChange(2)" *ngIf="new_pass_type=='password'"></ion-icon>

            </div>

            <div class="pswd-strength-indicator">

              <ion-label class="psi-label">Password Strength:<span class="pswd-str-text" id="result"></span></ion-label>

              <div class="password-progress-bar">

                <div id="password-strength" class="progress-bar">
                </div>

              </div>

              <ul class="password-strength-suggestions-list">

                <li id="one-char">
                  <ion-icon name="ellipse-outline"></ion-icon>
                  <ion-label>1 lowercase & 1 uppercase</ion-label>
                </li>

                <li id="one-num">
                  <ion-icon name="ellipse-outline"></ion-icon>
                  <ion-label>1 number (0-9)</ion-label>
                </li>

                <li id="one-special-char">
                  <ion-icon name="ellipse-outline"></ion-icon>
                  <ion-label>1 Special Character (!@#$%^&*)</ion-label>
                </li>

                <li id="eight-char">
                  <ion-icon name="ellipse-outline"></ion-icon>
                  <ion-label>Atleast 8 Characters</ion-label>
                </li>

              </ul>

            </div>

          </ion-col>

        </ion-row>

       

        <ion-row class="password-row">

          <ion-col size="12">

            <!-- <ion-icon name="mail-outline" class="form-icon"></ion-icon> -->

            <ion-label class="label-black display-inline-block">Confirm Password<span
                class="asterisk">*</span></ion-label>

          </ion-col>

          <ion-col size="12">

            <div class="password-input-holder">

              <ion-input [(ngModel)]="confirmPassword" name="confirm" formControlName="confirmPassword" [type]="con_pass_type" clearOnEdit="false"></ion-input>
              <ion-icon class="sh-password-icon" name="eye" (click)="typeChange(3)" *ngIf="con_pass_type=='text'"></ion-icon>
              <ion-icon class="sh-password-icon" name="eye-off" (click)="typeChange(1)" *ngIf="con_pass_type=='password'"></ion-icon>

            </div>


          </ion-col>

        </ion-row>

        <button type="submit" style="visibility: hidden;width: 1px;height: 1px;padding: 0;margin: 0;"></button>

      </form>

        <ion-row class="row-100">

          <ion-col size="12">

            <ion-label class="label-black display-inline-block">Description</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-textarea [(ngModel)]="description"></ion-textarea>

          </ion-col>
          <ion-col size="12">


            <ion-row>
              <ion-item lines="none" color="none">

                <!-- <ion-col size="2" class="col_fit"> -->
                <ion-checkbox mode="ios" [(ngModel)]="consent" [checked]="consent==1"
                  (ionChange)="changeConsent($event)">
                </ion-checkbox>
                <!-- </ion-col>

                <ion-col size="10"> -->
                <ion-label class="custom-label1 cl-1">Don't share photos publicly </ion-label>
                <!-- </ion-col> -->
              </ion-item>
            </ion-row>

          </ion-col>

        </ion-row>

      </ion-grid>

    </div>

  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" (click)="finish()" [disabled]="disable">
      <ion-icon name="checkmark-outline"></ion-icon> Save
    </ion-button>
  </ion-toolbar>
</ion-footer>