ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
}

.row .col {
  flex: 1;
}

.row .col:last-child {
  margin-left: 0;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  background-color: #f9f9f9;
  margin-bottom: 2px;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  color: #9a9a9a;
  /* Icon */
}

.tab-label:hover {
  background: transparent;
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
  color: #9a9a9a;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #ececec;
  background: white;
  transition: all .35s;
}

.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #ececec;
  cursor: pointer;
}

.tab-close:hover {
  background: lightgray;
}

input:checked + .tab-label {
  background: transparent;
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 0em 1em;
}
