ion-content {
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 30px;
    --padding-bottom: 15px;
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
    ion-content {
        --padding-top: 20px;
    }
}

.fixed-top-sec {
    .fts-info-box {
        ion-icon {
            color: #ff7216;
            font-size: 25px;
        }

        ion-label {
            color: #ff7216;
            font-size: 16px;
            line-height: 18px;
        }
    }
}

.pl-15 {
    padding-left: 15px;
}

.din-consumer-info-card {
    padding: 5px;
    margin: 0;
    display: flex;

    ion-grid {
        ion-row {
            // border-top: 1px dashed #E1E1E1;
            // border-bottom: 1px dashed #E1E1E1;

            ion-col {
                &:nth-child(2) {
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .back-icon {
        font-size: 25px;
        vertical-align: middle;
    }

    .consumer-pic {
        width: 60px;
        height: 60px;
    }

    .c-name {
        font-size: 16px;
        font-weight: 600;
        color: #707070;
        // margin-left: 10px;

        .room-no {
            font-size: 14px;
            font-weight: normal;
            display: block;
            // margin-left: 10px;
        }
    }

    .chevron-down {
        font-size: 25px;
        background: #ededed;
        color: #9b9b9b;
        border-radius: 50px;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .diet-info-box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-top: 1px dashed #c9c9c9;
        // border-bottom: 1px dashed #c9c9c9;
        padding-top: 10px;
        // padding-bottom: 10px;

        .di-item {
            font-size: 13px;
            color: #ffff;
            background: #707070;
            text-align: center;
            border-radius: 50px;
            padding: 2px 9px;
            margin: 4px;
        }

        .diabetic {
            background: #0fbbf3 !important;
        }

        .regular {
            background: #232323 !important;
        }

        .mildly-thicky {
            background: #bf1c62 !important;
        }

        .msm {
            background: #757fff !important;
        }

        .food-ft {
            background: #ff5b49 !important;

            i {
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }

    .vmore-btn {
        --background: transparent;
        --box-shadow: none;
        --ripple-color: #c9c9c9;
        color: #0077b5;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        text-transform: none;
        letter-spacing: normal;
        margin: 10px auto 0;
        display: block;
    }
}

.ind-order-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px;
    padding: 0 5px;

    .date-range-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;

        ion-icon {
            font-size: 25px;
            color: #707070;
        }

        ion-label {
            font-size: 16px;
            font-weight: 500;
            color: #222;
            margin: 0px 15px;
        }
    }

    .din-skipped-tag-1 {
        font-size: 12px;
        font-weight: normal;
        padding: 2px 9px;
        border-radius: 50px;
        background: #ff7216;
        color: #ffff;
        margin-left: 35px;
        margin-right: auto;
        // margin-bottom: 10px;
        display: flex;
        max-width: fit-content;
        // margin-top: -15px;
        // position: absolute;
        // top: 30px;
        margin-top: 5px;
    }

    .din-controls {
        display: flex;

        ion-button {
            --background: transparent;
            --box-shadow: none;
            --padding-start: 0;
            --padding-end: 0;
            --ripple-color: #232323;
            --border-radius: 50px;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(2) {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

.din-item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 10px;
    margin-bottom: 10px;

    .din-item {
        font-size: 18px;
        font-weight: 500;
        color: #222;
        line-height: 22px;

        .din-timing {
            font-size: 16px;
            font-weight: normal;
            color: #707070;
            display: block;
        }
    }

    .din-skipped-tag {
        font-size: 12px;
        padding: 2px 9px;
        border-radius: 50px;
        background: #ff7216;
        color: #ffff;
        margin-left: auto;
        margin-right: 15px;
    }

    .din-more-options {
        font-size: 25px;
        color: #858585;
        vertical-align: middle;
    }
}

.fi-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
    margin-bottom: 15px;

    .fi-card {
        border-radius: 15px !important;
        padding: 0 10px 0px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0px;
        min-height: 135px;
        width: 100%;
        border: 1px solid #d7d7d7;
        box-shadow: none !important;
        background: #fff;

        // ion-grid {
        //     margin: 0;
        //     padding: 0;

        //     ion-row {
        //         ion-col {
        //             display: flex;

        //             &:nth-child(2) {
        //                 padding-left: 10px;
        //                 display: flex;
        //                 flex-direction: column;
        //                 justify-content: center;
        //             }
        //         }
        //     }
        // }

        .fi-img-block {
            display: flex;
            // width: 45%;
            width: 35.54%;
            position: relative;

            .fi-img {
                // width: 145px;
                width: 100%;
                height: 135px;
                border-radius: 10px 0 0 10px;
                object-fit: cover;
            }

            .continentalbreakfast-icon {
                position: absolute;
                width: 28px;
                right: 0px;
                background-color: #0077b5;
                padding: 5px;
                border-bottom-left-radius: 6px;
                border-top-right-radius: 6px;
            }

            .order-restr-info {
                width: 100%;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                padding: 5px;
                background: rgba(0, 0, 0, 0.7);
                color: #fff;
            }
        }

        .fi-info-block {
            width: 65%;
            padding-left: 15px;

            .fi-name {
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                color: #252525;
                line-height: 20px;
                padding-right: 20px;
            }

            .fi-more-options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 25px;

                .fim-div-1 {
                    display: flex;

                    .fi-meal-size {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #d2fffb;
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;

                        ion-label {
                            font-family: "Roboto", sans-serif;
                            font-size: 15px;
                            color: #47aba2;
                            text-align: center;
                        }
                    }

                    .fi-quantity {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #f3def9;
                        width: 30px;
                        height: 30px;

                        ion-label {
                            font-family: "Roboto", sans-serif;
                            font-size: 15px;
                            color: #601576;
                            text-align: center;
                        }
                    }
                }

                .fim-div-2 {
                    ion-button {
                        --background: #f4f4f4;
                        --box-shadow: none;
                        --border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35px;
                        height: 35px;
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        z-index: 99999;

                        i {
                            font-size: 20px;
                            color: #707070;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .allergic-fi {
        border: 1px solid #ff5b49;
        position: relative;

        .allergic-alert-icon {
            color: #ff0000;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .fi-selectable {
        width: 100%;
        // background: #F4F4F4;
        // background: rgb(244 244 244 / 85%);
        background: #edecec;
        border-radius: 15px;

        .fi-card {
            // background: transparent !important;
            // box-shadow: none !important;
            flex-grow: 1;

            .fi-info-block {
                .fi-more-options {
                    .fim-div-2 {
                        ion-button {
                            --background: #f4f4f4;
                            // position: absolute;
                            // z-index: 999999;
                            // right: 10px;
                        }
                    }
                }
            }
        }

        .fi-or-label {
            color: #ffffff;
            text-align: center;
            display: flex;
            background: #959595;
            max-width: fit-content;
            margin: 10px auto;
            padding: 10px;
            font-size: 18px;
            font-weight: 600;
            border-radius: 50px;
            min-height: 50px;
            min-width: 50px;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .din-skipped-tag-1 {
        margin-left: auto !important;
        margin-right: 8px !important;
    }

    .fi-box {
        .fi-selectable {
            margin: 5px 0px;
            padding: 2px 5px;
        }

        .fi-box-optional {
            width: 100%;
        }
    }

    .ind-order-header {
        .din-controls {
            display: flex;
            margin-left: auto;
        }
    }
}

@media only screen and (min-width: 768px) {
    .ind-order-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px 10px;
        padding: 0 5px;

        .date-range-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;

            ion-icon {
                font-size: 25px;
                color: #707070;
            }

            ion-label {
                font-size: 20px;
                font-weight: 500;
                color: #222;
                margin: 0px 15px;
            }
        }
    }

    .fi-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .fi-card {
            width: 32%;
            // width: auto;
            margin: 5px;
            min-height: unset;

            .fi-info-block {
                .fi-more-options {
                    margin-top: 15px !important;
                }
            }
        }

        .fi-selectable {
            display: inline-flex;
            flex-wrap: wrap;
            flex-grow: 1;
            width: auto;
            margin-left: 5px;

            .fi-card {
                // margin: unset;
                // width: auto;
                // width: 27.6%;
                width: 42.5%;
                flex-grow: unset;

                .fi-img-block {
                    // width: auto;
                    display: flex;
                }

                .fi-info-block {
                    // width: auto;
                    display: flex;
                    flex-direction: column;

                    .fi-name {
                        min-width: 133px;
                        max-width: 130px;
                    }
                }
            }

            .fi-or-label {
                height: 50px;
                min-width: 50px;
                // margin: 0px 0px 0px 10px;
                margin: 0;
                justify-content: center;
                align-items: center;
                align-self: center;
            }
        }
    }
}

@media only screen and (min-width: 834px) and (max-width: 834px) {
    .fi-box {
        .fi-card {
            width: 48%;
            margin: 10px 5px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .fi-box {
        .fi-card {
            width: 48%;
        }

        .fi-selectable {
            margin: 5px;
        }
    }
}

ion-footer {
    padding: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;

    &::before {
        background: none;
    }

    .add-btn {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 30px;
        --padding-end: 30px;
        text-align: center;
        text-transform: none;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        font-size: 18px;
        height: 45px;
        display: flex;
        max-width: fit-content;
    }

    .cancel-btn {
        --background: #e6e4e4;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 30px;
        --padding-end: 30px;
        color: #808080;
        text-align: center;
        text-transform: none;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        font-size: 18px;
        height: 45px;
        margin-left: 20px;
        display: flex;
        max-width: fit-content;
    }
}

.selected {
    border: 2px solid #1aab4a !important;

    .selected-icon {
        display: block !important;
        font-size: 35px;
        background: #fff;
        color: #1aab4a;
        padding: 0px;
        border-radius: 50px;
        position: absolute;
        // right: 8px;
        // top: 7px;
        right: 0px;
        top: 0px;
    }
}

.allergic-alert-icon-1 {
    // position: absolute;
    // left: 17px;
    // top: 17px;
    // background: #f00;
    // color: #fff;
    // border-radius: 50px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 5px;
    // font-size: 35px;

    position: absolute;
    left: 10px;
    top: 10px;
    background: #f00;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 32px;
    z-index: 999;
}

.flexwrap-wrap {
    flex-wrap: wrap;
}

.notAvailable {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.no-items {
    background: #fff1f1;
    color: #f11818;
    width: 98%;
    display: flex;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px auto;
    flex-direction: column;
    border-left: 10px solid #f11818;
    font-family: "Roboto", sans-serif;
}
