<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Add items</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <ion-row class="fts-info-box">

      <ion-col size="1">
        <ion-icon name="alert-circle-sharp"></ion-icon>
      </ion-col>

      <ion-col size="11" class="pl-15">
        <ion-label>
          if you choose an additional items,
          you may not be able to select a main item
        </ion-label>
      </ion-col>

    </ion-row>

  </ion-fab> -->

  <div class="din-item-box">

    <ion-label class="din-item" *ngIf="servingtime">{{servingtime}} on {{date|dateformat:'DD MMM YYYY'}}</ion-label>

  </div>

  <div class="fi-box">

    <ng-container *ngFor="let item of menu_item">
      <ion-label class="no-items"
        *ngIf="item.all_coloumns.length==0">No items</ion-label>
    <ng-container  *ngFor="let i of item.all_coloumns">
      <ng-container *ngIf="i.items&&i.items.length==1">
    <ion-card class="fi-card" *ngFor="let it of i.items;let in=index" appDebounce  [debounceTime]="700"
    (debounceClick)="preSavingItem(it,1,i)" [class.selected]="selected.includes(it.id)"
    [class.notAvailable]="!availableItem(it)">
    <ion-icon class="selected-icon" name="checkmark-circle" *ngIf="selected.includes(it.id)"></ion-icon>
    <!-- <img src="/assets/dining/alergic-alert-icon.svg" class="allergic-alert-icon" *ngIf="allergicIcon(i)" (click)="allergicAlert()"> -->
    <ion-icon class="allergic-alert-icon-1" name="alert-circle" *ngIf="allergicIcon(it)"></ion-icon>
      <div class="fi-img-block">
        <img class="continentalbreakfast-icon" src="/assets/dining/continentalbreakfast-icon.svg" *ngIf="it.subitem">
        <div class="order-restr-info" *ngIf="!availableItem(it)">
          <p>You can not order this item</p>
        </div>
        <img class="fi-img" [src]="it.itemdetails.image">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          {{it.itemdetails.item_name}}
        </ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size" *ngIf="setMealSize(it)">
              <ion-label>{{setMealSize(it)}}</ion-label>
            </div>

            <div class="fi-quantity" *ngIf="setQuantity(it)">
              <ion-label>{{setQuantity(it)}}</ion-label>
            </div>

          </div>

          <div class="fim-div-2">

            <ion-button (click)="showDetails(it); $event.stopPropagation()">
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div>

      </div>

    </ion-card>
    </ng-container>

    <ng-container *ngIf="i.items&&i.items.length>1">
      <div class="fi-box-optional">

        <div class="fi-selectable" >

          <!-- <div class="fi-selectable-box" > -->
            <ng-container *ngFor="let it of i.items;let in=index">
      <ion-card class="fi-card" appDebounce  [debounceTime]="700"
      (debounceClick)="preSavingItem(it,2,i)" [class.selected]="selected.includes(it.id)"
      [class.notAvailable]="!availableItem(it)">
      <ion-icon class="selected-icon" name="checkmark-circle" *ngIf="selected.includes(it.id)"></ion-icon>
      <!-- <img src="/assets/dining/alergic-alert-icon.svg" class="allergic-alert-icon" *ngIf="allergicIcon(i)" (click)="allergicAlert()"> -->
      <ion-icon class="allergic-alert-icon-1" name="alert-circle" *ngIf="allergicIcon(it)"></ion-icon>
        <div class="fi-img-block">
          <img class="continentalbreakfast-icon" src="/assets/dining/continentalbreakfast-icon.svg" *ngIf="it.subitem">
          <div class="order-restr-info" *ngIf="!availableItem(it)">
            <p>You can not order this item</p>
          </div>
          <img class="fi-img" [src]="it.itemdetails.image">
  
        </div>
  
        <div class="fi-info-block">
  
          <ion-label class="fi-name">
            {{it.itemdetails.item_name}}
          </ion-label>
  
          <div class="fi-more-options">
  
            <div class="fim-div-1">
  
              <div class="fi-meal-size" *ngIf="setMealSize(it)">
                <ion-label>{{setMealSize(it)}}</ion-label>
              </div>
  
              <div class="fi-quantity" *ngIf="setQuantity(it)">
                <ion-label>{{setQuantity(it)}}</ion-label>
              </div>
  
            </div>
  
            <div class="fim-div-2">
  
              <ion-button (click)="showDetails(it); $event.stopPropagation()">
                <i class="las la-pen"></i>
              </ion-button>
  
            </div>
  
          </div>
  
        </div>
  
      </ion-card>
      <ion-label class="fi-or-label" *ngIf="i.items&&i.items.length>1&&in<i.items.length-1">Or</ion-label>
    </ng-container>
      </div>
      <!-- </div> -->
      </div>
      </ng-container>


    </ng-container>
  </ng-container>
    <!-- <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/fried-rice.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Special fried rice</ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

          

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

          <div class="fim-div-2">

            <ion-button>
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div>

      </div>

    </ion-card> -->

  </div>

  <div class="din-item-box" *ngIf="menu_item.length&&menu_item[0].additional_items&&menu_item[0].additional_items.length">

    <ion-label class="din-item">Additional items</ion-label>

  </div>

  <div class="fi-box" *ngIf="menu_item.length&&menu_item[0].additional_items&&menu_item[0].additional_items.length">

    <ion-card class="fi-card" *ngFor="let item of menu_item[0].additional_items" appDebounce  [debounceTime]="700"
    (debounceClick)="presaveAdditionalItem(item)" [class.selected]="sel_additional_item.includes(item.item_id)">
      <ion-icon class="selected-icon" name="checkmark-circle" *ngIf="sel_additional_item.includes(item.item_id)"></ion-icon>
      <div class="fi-img-block">

        <img class="fi-img" [src]="item.item.image">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">
          {{item.item.item_name}}
        </ion-label>

        <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size" *ngIf="item.selected_data&&item.selected_data.size">
              <ion-label>{{item.selected_data.size.meal_size.substring(0,1)}}</ion-label>
            </div>

            <div class="fi-quantity" *ngIf="item.selected_data&&item.selected_data.quantity">
              <ion-label>{{item.selected_data.quantity}}</ion-label>
            </div>

           

          </div>

          <div class="fim-div-2">

            <ion-button (click)="showAdditionalItemdetails(item); $event.stopPropagation()">
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div>

      </div>

    </ion-card>

  </div>

</ion-content>

<ion-footer>

  <ion-button class="add-btn" (click)="save()" *ngIf="!saved">Add</ion-button>

  <ion-button class="cancel-btn" (click)="back()">Cancel</ion-button>

</ion-footer>