.selected {
  border-color: #0044ff;
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.alert-icon {
  font-size: 25px;
  color: #f44336;
  position: absolute;
  top: 10px;
  right: -8px;
}
