.ion-header-inner-2 {
    ion-row {
        ion-col {
            display: flex;
        }
    }
}

.selected {
    border-color: #0077b5;
    border-width: 2px;
}

ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background: #eee;
}

.alert-icon {
    font-size: 25px;
    color: #f44336;
    position: absolute;
    top: -5px;
    right: -8px;
}

ion-footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fff;
    padding: 5px 0px 0px 0px;

    .publish-btn {
        width: 100%;
        max-width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        --padding-start: 30px;

        ion-icon {
            margin-right: 0px;
            font-size: 22px;
            margin-left: 3px;
        }
    }
}

.view-selected-block {
    .view-selected {
        display: flex;
        align-items: center;
        margin: 0 0px 10px 10px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #000;

        ion-icon {
            font-size: 18px;
            margin-left: 5px;
        }
    }
}

.consumer-info-container {
    min-height: unset;

    ion-col:nth-child(2) {
        padding-left: 15px !important;
        padding-right: 20px !important;
    }
}

@media only screen and (min-width: 768px) {
    .header-ios {
        padding-top: 25px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-ios {
        padding-top: 5px !important;
    }    
} 