<ion-header class="ion-header-inner-2">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
          <ion-label>Tag Residents</ion-label>
        </ion-col>
        <ion-col class="col-fit header-buttons ion-align-self-end" size="4">

          <ion-icon src="assets/consumers-icon.svg" (click)="byGroup($event)"></ion-icon>

          <!-- <ion-icon name="funnel-outline" (click)="viewSelected(view)"></ion-icon> -->

        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col>

          <ion-searchbar class="clife-search-bar" placeholder="Search residents" (ionCancel)="cancel()"
            [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>

      <!-- <ion-row>

        <ion-col>

          <div class="view-selected-block">
        
            <ion-label class="view-selected" (click)="viewSelected(view)">View selected residents
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-label>
        
          </div>

        </ion-col>

      </ion-row> -->

    </ion-grid>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="view-selected-block">
        
    <ion-label class="view-selected" (click)="viewSelected(view)" *ngIf="view&&tags&&tags.length">View selected residents
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-label>

    <ion-label class="view-selected" (click)="viewSelected(view)" *ngIf="!view&&tags&&tags.length">View all residents
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-label>

  </div>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-5"
        *ngFor="let item of consumers | consumersearch : terms">

        <ion-row class="consumer-info-container" [class.selected]="tags.indexOf(item.user.user_id)>=0"
          (click)="select(item)">

          <ion-col class="col-fit">

            <ion-avatar>
              <img [src]="item.user.profile_pic" *ngIf="item.user.profile_pic!=null">
              <img src="assets/user_pic.png" *ngIf="item.user.profile_pic==null">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              {{item.user.name}}

              <span *ngIf="rv!==1">
                {{item.room}}
              </span>
              <span *ngIf="item.wing&&rv!==1">
                {{item.wing.name}}
              </span>
              <span
                *ngIf="item.property_details&&item.property_details.contract_details&&item.property_details.contract_details.property&&item.property_details.contract_details.property.location&&rv==1">
                {{item.property_details.contract_details.property.location.name}}
              </span>
            </ion-label>
            <ion-icon class="alert-icon" name="alert-circle-outline" *ngIf="item.consent_to_tag==0"></ion-icon>

          </ion-col>

        </ion-row>

      </ion-col>


      <div *ngIf="consumers.length==0">
        <ion-thumbnail 
          style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
          <img src="assets/no-consumers-found.svg">
        </ion-thumbnail>
    
        <ion-item lines="none" color="none" style="margin-top: 25px;" >
          <ion-label
            style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
            No Resident Found</ion-label>
        </ion-item>
      </div>

    </ion-row>



  </ion-grid>


</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" (click)="dismiss()">Continue <ion-icon
        name="chevron-forward-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>