ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;


    p {
        font-family: "Roboto", sans-serif;
        color: #222;
        margin: 0;
        margin-bottom: 0;
    }
}