<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" [routerLink]="['/petty-cash',{flag:flag,id:id}]"></ion-icon>
          <ion-label>Edit Petty Cash Record</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item lines="none" color="none" class="top-consumer-info-sec">

    <ion-avatar slot="start">

      <img [src]="img">

    </ion-avatar>

    <ion-label>

      {{name}}
      <span>
        {{room}}
      </span>
      <span>
        {{wing}}
      </span>
    </ion-label>

  </ion-item>

  <ion-item color="none" lines="none" class="add-pcash-intro-img">

    <img src="assets/add-pcash-intro-img.svg">

  </ion-item>


  <ion-segment  class="choose-pcash-entry-type">
    
    <ion-segment-button value="expense" (click)="selectType('Debit')" [class.type-selected]="type=='Debit'">
      <ion-label>Expense</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="add-cash" (click)="selectType('Credit')" [class.type-selected]="type=='Credit'">
      <ion-label>Add Cash</ion-label>
    </ion-segment-button>

  </ion-segment>


  <ion-grid class="add-pcash-form">

    <ion-row>


      <ion-col size="12">

        <ion-label>

          Date <span class="asterisk">*</span>

        </ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-datetime value="2020-10-31 15:43:40" [max]="minDate" displayFormat=" DD MMM YYYY" display-timezone="utc" [(ngModel)]="date">
        </ion-datetime>

        <ion-icon class="add-pcash-calendar-icon" name="calendar-clear-outline"></ion-icon>

      </ion-col>

    </ion-row>


    <ion-row>


      <ion-col size="12">

        <ion-label>

          Info <span class="asterisk">*</span>

        </ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input [(ngModel)]="note"></ion-input>

      </ion-col>

    </ion-row>


    <ion-row>


      <ion-col size="12">

        <ion-label>

          Amount <span class="asterisk">*</span>

        </ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input type="number" [(ngModel)]="amount"></ion-input>

      </ion-col>

    </ion-row>


  </ion-grid>




</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" (click)="save()"><ion-icon name="save-outline" ></ion-icon> Save
    </ion-button>
  </ion-toolbar>
</ion-footer>