ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.add-pcash-form {
    ion-row {
        ion-col {
            ion-label {
                color: #000;
            }
        }
    }
}
