<ion-content>

  <ion-item lines="none" color="none" (click)="closeModal(0)">
    <ion-label class="act_filter">Show all</ion-label>
  </ion-item>


  <ion-item lines="none" color="none" (click)="closeModal(3)">
    <ion-label class="act_filter">Show assigned</ion-label>
  </ion-item>


  <ion-item lines="none" color="none" (click)="closeModal(4)">
    <ion-label class="act_filter">Show unassigned</ion-label>
  </ion-item>


</ion-content>