ion-content {
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 10px;
    --padding-bottom: 10px;

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 10px;
        margin: 0 10px 10px 10px;

        &:last-child {
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}
