<ion-header class="ion-header-inner-2">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" [routerLink]="['/menu']"></ion-icon>
          <ion-label>Select Residents</ion-label>
        </ion-col>

        <!-- <ion-col size="6">
          
        </ion-col> -->

        <ion-col class="col-fit header-buttons ion-align-self-end" size="4">

          <ion-icon src="assets/select-all-icon.svg"></ion-icon>

          <ion-icon src="assets/consumers-icon.svg"></ion-icon>

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>

          <ion-searchbar class="clife-search-bar" placeholder="Search residents"></ion-searchbar>

        </ion-col>

      </ion-row>


    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="3" size-lg="3" size="12">

        <ion-row class="consumer-info-container" [routerLink]="['/consumer-profile']">

          <ion-col class="col-fit">

            <ion-avatar>
              <img src="assets/comment-user-pic1.jpg">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              Aaron Adrian

              <span>
                Room No : 107 B
              </span>
            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>

      <ion-col size-sm="12" size-md="3" size-lg="3" size="12">

        <ion-row class="consumer-info-container">

          <ion-col class="col-fit">

            <ion-avatar>
              <img src="assets/comment-user-pic1.jpg">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              Aaron Adrian

              <span>
                Room No : 107 B
              </span>
            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>

      <ion-col size-sm="12" size-md="3" size-lg="3" size="12">

        <ion-row class="consumer-info-container">

          <ion-col class="col-fit">

            <ion-avatar>
              <img src="assets/comment-user-pic1.jpg">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              Aaron Adrian

              <span>
                Room No : 107 B
              </span>
            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>

      <ion-col size-sm="12" size-md="3" size-lg="3" size="12">

        <ion-row class="consumer-info-container">

          <ion-col class="col-fit">

            <ion-avatar>
              <img src="assets/comment-user-pic1.jpg">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              Aaron Adrian

              <span>
                Room No : 107 B
              </span>
            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>

      <ion-col size-sm="12" size-md="3" size-lg="3" size="12">

        <ion-row class="consumer-info-container">

          <ion-col class="col-fit">

            <ion-avatar>
              <img src="assets/comment-user-pic1.jpg">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              Aaron Adrian

              <span>
                Room No : 107 B
              </span>
            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>

      <ion-col size-sm="12" size-md="3" size-lg="3" size="12">

        <ion-row class="consumer-info-container">

          <ion-col class="col-fit">

            <ion-avatar>
              <img src="assets/comment-user-pic1.jpg">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              Aaron Adrian

              <span>
                Room No : 107 B
              </span>
            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>



  </ion-grid>


</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block">Continue &nbsp; <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>