<ion-header color="none" no-border translucent="true" style="box-shadow: none; background:#fff;">

  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <!-- <ion-label>Create Story</ion-label> -->
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>

</ion-header>

<ion-content *ngIf="flag==1" class="login_input">

  <div class="reset-password-sec">

    <div class="rp-thumb-holder">

      <ion-avatar class="rpt-avatar">
        <img src="assets/reset_password_icon.svg">
      </ion-avatar>

    </div>

    <ion-text class="rp-title">Reset Password</ion-text>

    <form class="rp-form" [formGroup]="resetform" novalidate (ngSubmit)="reset()">

      <div class="rpf-item">
        <ion-input class="input_text_pass" formControlName="old_pass" required name="old" [type]="oldType"
          placeholder="Enter current password" [(ngModel)]="old_pass"  clearOnEdit="false"></ion-input>

        <ion-icon class="sh-pswd-icon" name="eye-off" (click)="typeChange(1)" *ngIf="oldType=='password'"></ion-icon>
        <ion-icon class="sh-pswd-icon" name="eye" (click)="typeChange(4)" *ngIf="oldType=='text'"></ion-icon>
      </div>

      <!-- <div class="rpf-item"
        *ngIf="( resetform.get('old_pass').hasError('required') ) && resetform.get('old_pass').touched">

        <ion-text class="error"
          *ngIf="resetform.get('old_pass').hasError('required') && resetform.get('old_pass').touched">
          *Please enter your old password
        </ion-text>

      </div> -->

      <div class="rpf-item">
        <ion-input class="input_text_pass" formControlName="new_pass" required name="new" [type]="newType"
          placeholder="Enter new password" [(ngModel)]="new_pass" (ngModelChange)="checkStrength(new_pass)"  clearOnEdit="false"></ion-input>
        <ion-icon class="sh-pswd-icon" name="eye-off" (click)="typeChange(2)" *ngIf="newType=='password'"></ion-icon>
        <ion-icon class="sh-pswd-icon" name="eye" (click)="typeChange(5)" *ngIf="newType=='text'"></ion-icon>


        <!-- <div class="rpf-item"
        *ngIf="( resetform.get('new_pass').hasError('minlength')  ||resetform.get('new_pass').hasError('required') ) && resetform.get('new_pass').touched">

        <ion-text class="error"
          *ngIf="resetform.get('new_pass').hasError('required') && resetform.get('new_pass').touched">
          *Please enter your new password
        </ion-text>

        <ion-text class="error"
          *ngIf="resetform.get('new_pass').hasError('minlength') && resetform.get('new_pass').touched">
          *Minimum 8 characters
        </ion-text> -->

        <div class="pswd-strength-indicator">

          <ion-label class="psi-label">Password Strength:<span class="pswd-str-text" id="result"></span></ion-label>

          <div class="password-progress-bar">

            <div id="password-strength" class="progress-bar">
            </div>

          </div>

          <ul class="password-strenth-suggestions-list">

            <li id="one-char">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>1 lowercase & 1 uppercase</ion-label>
            </li>

            <li id="one-num">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>1 number (0-9)</ion-label>
            </li>

            <li id="one-special-char">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>1 Special Character (!@#$%^&*)</ion-label>
            </li>

            <li id="eight-char">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>Atleast 8 Characters</ion-label>
            </li>

          </ul>

        </div>

      </div>


      <div class="rpf-item">
        <ion-input class="input_text_pass" formControlName="confirm_pass" required name="confirm" [type]="conType"
          placeholder="Confirm your password" [(ngModel)]="confirm_pass"  clearOnEdit="false"></ion-input>
        <ion-icon class="sh-pswd-icon" name="eye-off" (click)="typeChange(3)" *ngIf="conType=='password'"></ion-icon>
        <ion-icon class="sh-pswd-icon" name="eye" (click)="typeChange(6)" *ngIf="conType=='text'"></ion-icon>
      </div>

      <!-- </div> -->

      <!-- <ion-item class="input_field">
      <ion-input class="input_text_pass" name="new" type="password" placeholder="Verify password" [(ngModel)]="confirm_pass" required></ion-input>
    </ion-item> -->
      <!-- <ion-item [ngStyle]="keyboardStyle" lines="none" ></ion-item> -->
      <button type="submit" style="visibility: hidden;width: 1px;height: 1px;padding: 0;margin: 0;"></button>

    </form>

  </div>



  <ion-button expand="block" class="reset_pass" fill="clear" (click)="reset()">
    Reset Password
  </ion-button>


</ion-content>


<ion-content *ngIf="flag==2" class="login_input">

  <div class="reset-password-sec">

    <div class="rp-thumb-holder">

      <ion-avatar class="rpt-avatar">
        <img src="assets/reset_password_icon.svg">
      </ion-avatar>

    </div>

    <ion-text class="rp-title">Reset Password</ion-text>

    <form class="rp-form" [formGroup]="conresetform" novalidate (ngSubmit)="conreset()">


      <div class="rpf-item">
        <ion-input class="input_text_pass" formControlName="new_pass" required name="new" [type]="newType"
          placeholder="Enter new password" [(ngModel)]="new_pass" (ionChange)="checkStrength(new_pass)"  clearOnEdit="false"></ion-input>
        <ion-icon name="eye-off" (click)="typeChange(2)" *ngIf="newType=='password'"></ion-icon>
        <ion-icon name="eye" (click)="typeChange(5)" *ngIf="newType=='text'"></ion-icon>


        <!-- <div class="rpf-item"
        *ngIf="( conresetform.get('new_pass').hasError('minlength')  ||conresetform.get('new_pass').hasError('required') ) && conresetform.get('new_pass').touched">

        <ion-text class="error"
          *ngIf="conresetform.get('new_pass').hasError('required') && conresetform.get('new_pass').touched">
          *Please enter your new password
        </ion-text>

        <ion-text class="error"
          *ngIf="conresetform.get('new_pass').hasError('minlength') && conresetform.get('new_pass').touched">
          *Minimum 8 characters
        </ion-text> -->

        <div class="pswd-strength-indicator">

          <ion-label class="psi-label">Password Strength:<span class="pswd-str-text" id="result"></span></ion-label>

          <div class="password-progress-bar">

            <div id="password-strength" class="progress-bar">
            </div>

          </div>

          <ul class="password-strenth-suggestions-list">

            <li id="one-char">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>1 lowercase & 1 uppercase</ion-label>
            </li>

            <li id="one-num">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>1 number (0-9)</ion-label>
            </li>

            <li id="one-special-char">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>1 Special Character (!@#$%^&*)</ion-label>
            </li>

            <li id="eight-char">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>Atleast 8 Characters</ion-label>
            </li>

          </ul>

        </div>

      </div>

      <div class="rpf-item">
        <ion-input class="input_text_pass" formControlName="confirm_pass" required name="confirm" [type]="conType"
          placeholder="Confirm your password" [(ngModel)]="confirm_pass"  clearOnEdit="false"></ion-input>
        <ion-icon name="eye-off" (click)="typeChange(3)" *ngIf="conType=='password'"></ion-icon>
        <ion-icon name="eye" (click)="typeChange(6)" *ngIf="conType=='text'"></ion-icon>
      </div>

      <!-- </div> -->

      <!-- <ion-item class="input_field">
      <ion-input class="input_text_pass" name="new" type="password" placeholder="Verify password" [(ngModel)]="confirm_pass" required></ion-input>
    </ion-item> -->
      <!-- <ion-item [ngStyle]="keyboardStyle" lines="none" ></ion-item> -->
      <button type="submit" style="visibility: hidden;width: 1px;height: 1px;padding: 0;margin: 0;"></button>

    </form>

    <ion-button expand="block" class="reset_pass" fill="clear" (click)="conreset()">
      Reset Password
    </ion-button>

  </div>



  <!-- <ion-item color="none" lines="none" *ngIf="flag==2">
    <ion-button fill="clear" (click)="skip()" class="skip-button">
      skip
    </ion-button>
  
  </ion-item> -->

</ion-content>


<ion-content *ngIf="flag==3" class="login_input">

  <div class="reset-password-sec">

    <div class="rp-thumb-holder">

      <ion-avatar class="rpt-avatar">
        <img src="assets/reset_password_icon.svg">
      </ion-avatar>

    </div>

    <ion-text class="rp-title">Reset Password</ion-text>

    <form class="rp-form" [formGroup]="conresetform" novalidate (ngSubmit)="quickreset()">

      <div class="rpf-item">
        <ion-input class="input_text_pass" formControlName="new_pass" required name="new" [type]="newType"
          placeholder="Enter new password" [(ngModel)]="new_pass" (ionChange)="checkStrength(new_pass)"  clearOnEdit="false"></ion-input>
        <ion-icon name="eye-off" (click)="typeChange(2)" *ngIf="newType=='password'"></ion-icon>
        <ion-icon name="eye" (click)="typeChange(5)" *ngIf="newType=='text'"></ion-icon>


        <!-- <div class="rpf-item"
      *ngIf="( conresetform.get('new_pass').hasError('minlength')  ||conresetform.get('new_pass').hasError('required') ) && conresetform.get('new_pass').touched">

        <ion-text class="error"
        *ngIf="conresetform.get('new_pass').hasError('required') && conresetform.get('new_pass').touched">
          *Please enter your new password
        </ion-text>

        <ion-text class="error" *ngIf="conresetform.get('new_pass').hasError('minlength') && conresetform.get('new_pass').touched">
          *Minimum 8 characters
        </ion-text> -->

        <div class="pswd-strength-indicator">

          <ion-label class="psi-label">Password Strength:<span class="pswd-str-text" id="result"></span></ion-label>

          <div class="password-progress-bar">

            <div id="password-strength" class="progress-bar">
            </div>

          </div>

          <ul class="password-strenth-suggestions-list">

            <li id="one-char">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>1 lowercase & 1 uppercase</ion-label>
            </li>

            <li id="one-num">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>1 number (0-9)</ion-label>
            </li>

            <li id="one-special-char">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>1 Special Character (!@#$%^&*)</ion-label>
            </li>

            <li id="eight-char">
              <ion-icon name="ellipse-outline"></ion-icon>
              <ion-label>Atleast 8 Characters</ion-label>
            </li>

          </ul>

        </div>

      </div>

      <!-- </div> -->

      <div class="rpf-item">
        <ion-input class="input_text_pass" formControlName="confirm_pass" required name="confirm" [type]="conType"
          placeholder="Confirm your password" [(ngModel)]="confirm_pass"  clearOnEdit="false"></ion-input>
        <ion-icon name="eye-off" (click)="typeChange(3)" *ngIf="conType=='password'"></ion-icon>
        <ion-icon name="eye" (click)="typeChange(6)" *ngIf="conType=='text'"></ion-icon>
      </div>
      <!-- <ion-item class="input_field">
      <ion-input class="input_text_pass" name="new" type="password" placeholder="Verify password" [(ngModel)]="confirm_pass" required></ion-input>
    </ion-item> -->
      <!-- <ion-item [ngStyle]="keyboardStyle" lines="none" ></ion-item> -->
      <button type="submit" style="visibility: hidden;width: 1px;height: 1px;padding: 0;margin: 0;"></button>

    </form>

    <ion-button expand="block" class="reset_pass" fill="clear" (click)="quickreset()">
      Reset Password
    </ion-button>

  </div>

</ion-content>