.page-name {
    ion-icon {
        font-size: 25px;
        color: #4c4c4c;
    }
}

.input_field + .error-box {
    margin-top: -15px;
}

.error-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    .error {
        font-family: "Roboto", sans-serif;
        color: #ff0606;
    }
}

.reset_pass {
    height: 55px;
    font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 768px) {
    .reset_pass {
        max-width: fit-content;
        --padding-start: 25px;
        --padding-end: 25px;
    }
}


ion-item {
    --min-height:auto;
    --padding-start: 0;
    --inner-padding-end: 0;
}

