<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()">
          </ion-icon>
          <ion-label>{{consumer}}'s Documents</ion-label>
        </ion-col>
        <ion-buttons slot="end" style="padding-inline-end: 15px;">

          <!-- <ion-col>
            <ion-button class="header_btn_bg" (click)="openCalendar()">
              <ion-icon name="calendar-outline" style="color: white;"></ion-icon>
            </ion-button>
          </ion-col> -->
        </ion-buttons>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>

    <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngFor="let item of folder">

      <ion-card class="rv-res-doc-card" (click)="openFolder(item)">

        <ion-chip class="optional-tag shared" *ngIf="item.share_to_all==1">Shared</ion-chip>

        <ion-icon class="res-more-options" name="ellipsis-vertical" (click)="options($event,item); $event.stopPropagation()"></ion-icon>

        <img class="rv-res-doc-icon" src="/assets/residents/rv-documents-icon.svg">
        <ion-label class="rv-res-doc-name">{{item.title}}</ion-label>

      </ion-card>

    </ion-col> 

    

  </ion-row>

  <div *ngIf="folder.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-data-icon.svg">
    </ion-thumbnail>
  
    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Data Found</ion-label>
    </ion-item>
  </div>

</ion-content>