<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/rv-res-list']"></ion-icon>
          <ion-label>Resident profile</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end" (click)="quickLinksModal()">
          <ion-button class="create-new-btn">
            <ion-icon name="add-circle-sharp"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="consumer">

  <div class="profile-details-box">

    <div class="pdb-thumb-name-box" (click)="expand()">

      <ion-avatar>

        <img [src]="consumer.user.profile_pic">

      </ion-avatar>

      <ion-label class="consumer-name">{{consumer.user.name}}
        <ion-label class="lw"
          *ngIf="consumer.property_details&&consumer.property_details.contract_details&&consumer.property_details.contract_details.all_residents&&consumer.property_details.contract_details.all_residents.length>1">Living
          with
          <span
            (click)="getNextProfile(consumer.property_details.contract_details.all_residents); $event.stopPropagation()">{{getCompanian(consumer.property_details.contract_details.all_residents,consumer.user_id)}}</span></ion-label>
      </ion-label>

      <ion-icon name="chevron-down-outline" class="pdb-mi-arrow"></ion-icon>

    </div>


    <div class="pdb-other-infobox" *ngIf="expandProfile">

      <ion-label class="rw-sec"
        *ngIf="consumer.property_details&&consumer.property_details.contract_details&&consumer.property_details.contract_details.property&&consumer.property_details.contract_details.property.location">
        <i class="las la-building"></i>
        {{consumer.property_details.contract_details.property.location.name}} </ion-label>

      <ion-label class="phone mt-5" *ngIf="phone"> <i class="las la-phone"></i> {{phone}} <ion-chip
          (click)="makeCall(phone)"><ion-icon name="call"></ion-icon> Call</ion-chip> </ion-label>
      <ion-label class="phone" *ngIf="mobile"> <i class="las la-mobile-alt"></i> {{mobile}} <ion-chip
          (click)="makeCall(mobile)"><ion-icon name="call"></ion-icon> Call</ion-chip> </ion-label>

      <ion-label class="email" *ngIf="consumer.user.email && consumer.user.email.indexOf('centrimlife.com.au') === -1">
        <i class="las la-envelope"></i> {{consumer.user.email}} </ion-label>

      <ion-label class="dob" *ngIf="consumer.dob"> <i class="las la-calendar"></i> {{consumer.dob|dateformat:'DD
        MMM,YYYY'}} ({{consumer.age}}) </ion-label>

      <!-- <ion-label class="lw" *ngIf="consumer.property_details&&consumer.property_details.contract_details&&consumer.property_details.contract_details.all_residents&&consumer.property_details.contract_details.all_residents.length>1">Living with 
        <span (click)="getNextProfile(consumer.property_details.contract_details.all_residents)">{{getCompanian(consumer.property_details.contract_details.all_residents,consumer.user_id)}}</span></ion-label> -->

    </div>

    <!-- <ion-avatar>

      <img [src]="consumer.user.profile_pic">

    </ion-avatar>

    <ion-label class="consumer-name">{{consumer.user.name}}</ion-label> -->

    <!-- <ion-label class="agedcare-name">ABC Agedcare</ion-label>

    <ion-label class="room-wingname">220 B, Apple Blossom</ion-label> -->

    <!-- <ion-label class="rw-sec"
      *ngIf="consumer.property_details&&consumer.property_details.contract_details&&consumer.property_details.contract_details.property&&consumer.property_details.contract_details.property.location">
      <i class="las la-building"></i>
      {{consumer.property_details.contract_details.property.location.name}} </ion-label>

    <ion-label class="phone" *ngIf="consumer.user.mobile"> <i class="las la-phone"></i> {{consumer.user.mobile}}
    </ion-label>
    <ion-label class="phone" *ngIf="consumer.user.phone&&consumer.user.phone!=='61'"> <i class="las la-mobile-alt"></i>
      {{consumer.user.phone}} </ion-label>

    <ion-label class="email" *ngIf="consumer.user.email"> <i class="las la-envelope"></i> {{consumer.user.email}}
    </ion-label>

    <ion-label class="lw"
      *ngIf="consumer.property_details&&consumer.property_details.contract_details&&consumer.property_details.contract_details.all_residents&&consumer.property_details.contract_details.all_residents.length>1">Living
      with
      <span
        (click)="getNextProfile(consumer.property_details.contract_details.all_residents)">{{getCompanian(consumer.property_details.contract_details.all_residents,consumer.user_id)}}</span></ion-label> -->

    <!-- <ion-button class="reset-password-btn" [routerLink]="['/resetpassword']">Reset password</ion-button> -->

  </div>


  <!-- <ion-row class="occ-box">

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <ion-card class="overview-count-card ml-zero">

        <img src="/assets/residents/resident-profile/activity-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-ah">10</ion-label>

          <ion-label class="overview-info">Upcoming actvities</ion-label>

        </div>

        <ion-label class="act-paid-box">
          <span>2</span> Paid
        </ion-label>

      </ion-card>

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <ion-card class="overview-count-card">

        <img src="/assets/residents/resident-profile/maintenance-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-mr">5</ion-label>

          <ion-label class="overview-info">Pending maintenance requests</ion-label>

        </div>

        <ion-label class="job-closed-box">
          <span>5</span> Closed
        </ion-label>

      </ion-card>

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <ion-card class="overview-count-card mr-zero">

        <img src="/assets/residents/resident-profile/visitor-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-visitors">2</ion-label>

          <ion-label class="overview-info">Pending service requests</ion-label>

        </div>

        <ion-label class="sr-closed-box">
          <span>4</span> Closed
        </ion-label>

      </ion-card>

    </ion-col>

  </ion-row> -->

  <!-- <ion-row *ngIf="consumer.mark_away&&markAway(consumer.mark_away.move_in)">

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="p-zero">

      <ion-card class="res-away-card" >

        <ion-card-header >

          <ion-label class="rac-title" >
            Away
            <span>{{consumer.mark_away.move_out|dateformat: 'DD MMM YYYY'}} - {{consumer.mark_away.move_in|dateformat: 'DD MMM YYYY'}}</span>
          </ion-label>

          <ion-icon name="ellipsis-vertical" class="rac-more-options" (click)="options($event)"></ion-icon>

          <ion-icon class="rac-more-details-down-arrow" name="chevron-down-outline" (click)="showContent()"></ion-icon>

        </ion-card-header>

        <ion-card-content *ngIf="!hide">

          <ion-row>

            <ion-col size="12" size-sm="12" size-md="4" size-lg="4" *ngFor="let item of consumer.mark_away.residents">

              <ion-item lines="none" color="none" class="rac-resident-box">

                <ion-avatar>
                  <img [src]="item.profile_pic">
                </ion-avatar>

                <ion-label>{{item.name}}</ion-label>

              </ion-item>

            </ion-col>

            <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

              <div class="start-return-dt-box">

                <ion-label>Start date : <span>{{consumer.mark_away.move_out|dateformat: 'DD MMMM YYYY'}}</span></ion-label>

                <ion-label>Return date : <span>{{consumer.mark_away.move_in|dateformat: 'DD MMMM YYYY'}}</span></ion-label>

              </div>

            </ion-col>

            <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

              <div class="away-reason-box">
                <p>
                 {{consumer.mark_away.comment}}
                </p>
              </div>

            </ion-col>

          </ion-row>

        </ion-card-content>

      </ion-card>

    </ion-col>

  </ion-row> -->

  <ion-row *ngIf="consumer.mark_away&&markAway(consumer.mark_away.move_in)">

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="p-zero">

      <ion-card class="res-away-card" (click)="showContent(1); $event.stopPropagation()">

        <ion-card-header>

          <div class="res-ac-header-ib">

            <div class="rac-hib-row">

              <div class="rac-hib-left">

                <ion-label class="rac-title">
                  Away
                  <span>{{consumer.mark_away.move_out|dateformat: 'DD MMM YYYY'}} -
                    {{consumer.mark_away.move_in|dateformat:
                    'DD MMM YYYY'}}</span>
                </ion-label>

              </div>

              <div class="rac-hib-right">

                <ion-icon name="ellipsis-vertical" class="rac-more-options" (click)="options($event,''); $event.stopPropagation()"></ion-icon>

                <ion-icon class="rac-more-details-down-arrow" name="chevron-down-outline"
                  ></ion-icon>

              </div>

            </div>

            <div class="rac-hib-row" *ngIf="hide&&mark_away_list.length">

              <div class="show-more-booking-box">
                <p>
                  <ion-icon name="ellipsis-horizontal-circle-sharp"></ion-icon>
                  <!-- <span>Show</span> -->
                  <span>{{mark_away_list.length}}</span> other aways
                </p>
              </div>

            </div>

          </div>

        </ion-card-header>

        <ion-card-content *ngIf="!hide">

          <ion-row>

            <ion-col size="12" size-sm="12" size-md="4" size-lg="4" *ngFor="let item of consumer.mark_away.residents">

              <ion-item lines="none" color="none" class="rac-resident-box">

                <ion-avatar>
                  <img src="{{item.profile_pic}}">
                </ion-avatar>

                <ion-label>{{item.name}}</ion-label>

              </ion-item>

            </ion-col>

            <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

              <div class="start-return-dt-box">

                <ion-label>Start date : <span>{{consumer.mark_away.move_out|dateformat: 'DD MMMM
                    YYYY'}}</span></ion-label>

                <ion-label>Return date : <span>{{consumer.mark_away.move_in|dateformat: 'DD MMMM
                    YYYY'}}</span></ion-label>

              </div>

            </ion-col>

            <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

              <div class="away-reason-box" *ngIf="consumer.mark_away.comment">
                <p>
                  {{consumer.mark_away.comment}}
                </p>
              </div>

            </ion-col>

            <ion-col size="12" size-sm="12" size-md="12" size-lg="12" *ngIf="mark_away_list.length"
              (click)="showContent(2); $event.stopPropagation()">

              <div class="show-more-booking-box">
                <p>
                  <ion-icon name="ellipsis-horizontal-circle-sharp"></ion-icon><span *ngIf="hideOther">View</span><span
                    *ngIf="!hideOther">Hide</span> <span>{{mark_away_list.length}}</span> other aways
                </p>
              </div>

            </ion-col>

            <ng-container *ngIf="!hideOther">

              <ion-col size="12" size-sm="12" size-md="12" size-lg="12" *ngFor="let item of mark_away_list">

                <div class="more-bookings-box">
                  <!-- <ion-icon name="ellipsis-vertical" class="rac-more-options" (click)="options($event,item.result)"></ion-icon> -->
                  <ion-row class="mbm-row">

                    <ion-col size="12" size-sm="12" size-md="4" size-lg="4" *ngFor="let res of item.result.residents">

                      <ion-item lines="none" color="none" class="rac-resident-box">

                        <ion-avatar>
                          <img src="{{res.profile_pic}}">
                        </ion-avatar>

                        <ion-label>{{res.name}}</ion-label>



                      </ion-item>

                    </ion-col>

                    <ion-icon name="ellipsis-vertical" class="rac-more-options-1"
                      (click)="options($event,item.result); $event.stopPropagation()"></ion-icon>

                    <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

                      <div class="start-return-dt-box">

                        <ion-label>Start date : <span>{{item.result.move_out|dateformat: 'DD MMMM
                            YYYY'}}</span></ion-label>

                        <ion-label>Return date : <span>{{item.result.move_in|dateformat: 'DD MMMM
                            YYYY'}}</span></ion-label>

                      </div>

                    </ion-col>

                    <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

                      <div class="away-reason-box" *ngIf="item.result.comment">
                        <p>
                          {{item.result.comment}}
                        </p>
                      </div>

                    </ion-col>

                  </ion-row>

                </div>



              </ion-col>

            </ng-container>


          </ion-row>

        </ion-card-content>

      </ion-card>

    </ion-col>

  </ion-row>

  <ion-row class="rp-more-info-sec">

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card" (click)="gotoNotes()">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-file-alt overview-icon"></i> Notes</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" [routerLink]="['/rv-res-profile',{cid:id}]">

      <ion-card class="blue_card acc-card">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-info-circle about-icon"></i> Profile</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4"
      [routerLink]="['/rv-res-documents',{cid:id,consumer:consumer.user.name,id:this.consumer.user.user_id}]">

      <ion-card class="blue_card acc-card">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-file contacts-icon"></i> Documents</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" (click)="gotoTasks()" *ngIf="task_view">

      <ion-card class="blue_card acc-card">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-clipboard-list tasks-icon"></i> Tasks
              <!-- <span class="tasks-count">10</span> -->
            </ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4"
      [routerLink]="['/rv-services-home',{cid:id,id:this.consumer.user.user_id}]">

      <ion-card class="blue_card acc-card">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-calendar-plus services-icon"></i> Services</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" (click)="gotoResidentGallery()">

      <ion-card class="blue_card acc-card">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-photo-video gallery-icon"></i> Gallery</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

  </ion-row>

</ion-content>