ion-header {
    .create-new-btn {
        --background: #0077b5;
        --border-radius: 50px;
        --box-shadow: none;
        --padding-start: 5px;
        --padding-end: 5px;
        width: 45px;
        height: 45px;

        ion-icon {
            font-size: 32px;
            color: #fff;
        }
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    // --padding-top: 40px;
    --padding-top: 5px;
    --padding-bottom: 20px;
    --background: #eee;
}

$light-grey: #ececec;
$clouds: #ecf0f1;

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

// Layout
.row {
    display: flex;

    .col {
        flex: 1;

        &:last-child {
            margin-left: 0;
        }
    }
}

/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;
    background-color: #f9f9f9;
    margin-bottom: 2px;

    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        // background: $light-grey;
        font-size: 18px;
        font-weight: normal;
        cursor: pointer;
        color: #9a9a9a;

        /* Icon */
        &:hover {
            background: transparent;
        }

        &::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all 0.35s;
            color: #9a9a9a;
        }
    }

    &-content {
        max-height: 0;
        padding: 0 1em;
        color: $light-grey;
        background: white;
        transition: all 0.35s;
    }

    &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: $light-grey;
        cursor: pointer;

        &:hover {
            background: darken($light-grey, 10%);
        }
    }
}

// :checked
input:checked {
    + .tab-label {
        background: transparent;

        &::after {
            transform: rotate(90deg);
        }
    }

    ~ .tab-content {
        max-height: 100vh;
        padding: 0em 1em;
    }
}

.remove-img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    left: 48px;
    z-index: 999;
}

.remove-file {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    color: black;
    // left: 48px;
    z-index: 999;
}

.uploaded-data {
    margin: 10px;

    .uploaded-image {
        width: 50px;
        height: 50px;

        ion-icon {
            font-size: 25px;
            color: #9a9a9a;
        }
    }
}

.uploaded-images-container {
    background-color: #607d8b;
    // border: 1px solid #d1d1d1;
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 10px;
    // max-width: fit-content;

    .uploaded-image {
        ion-icon {
            font-size: 25px;
            color: #9a9a9a;
        }
    }
}

.acc-card {
    // padding: 10px 15px;
    // box-shadow: none !important;
    // background-color: #f5f5f5 !important;
    // margin: 10px 0px;
    // padding: 10px 15px;
    // box-shadow: none !important;
    // background-color: #cbedff !important;
    // margin: 10px 0px;
    // color: #0077b5;

    padding: 10px 15px;
    margin: 0px;
    color: #707070;
    background-color: #fff !important;
    box-shadow: none !important;
    border: 1px solid #e1e1e1;

    ion-label {
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;

        .tasks-count {
            font-size: 14px;
            color: #f31707;
            background: #ffdddd;
            min-width: 28px;
            min-height: 28px;
            margin-left: 20px;
            border-radius: 50px;
            padding: 2px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        i,
        ion-icon {
            font-size: 27px;
            vertical-align: middle;
            color: #707070;
            margin-right: 15px;
            background: #f4f4f4;
            padding: 5px;
            border-radius: 50px;
            width: 42px;
            height: 42px;
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .overview-icon {
            // background: rgb(254 133 34 / 20%);
            // color: rgb(254 133 34);
            background: rgb(229 230 255);
            color: #7e83ff;
        }

        .feeds-icon {
            width: 42px;
            height: 42px;
            margin-right: 15px;
        }

        .about-icon {
            background: rgb(64 178 247 / 20%);
            color: rgb(64 178 247);
        }

        .contacts-icon {
            background: rgb(43 201 103 / 20%);
            color: rgb(43 201 103);
        }

        .gallery-icon {
            background: rgb(166 52 255 / 20%);
            color: rgb(177 82 251);
        }

        .dprofile-icon {
            background: rgb(0 188 212/0.2);
            color: rgb(0 188 212);
        }

        .services-icon {
            background: rgb(254 178 2 / 20%);
            color: rgb(254 178 2);
        }

        .tasks-icon {
            background: rgb(255 231 228);
            color: #ff8b83;
        }

        .reports-icon {
            background: rgb(255 75 76 / 20%);
            color: rgb(255 75 76);
        }
    }

    ion-icon {
        // color: #737373;
        color: #9d9d9d;
        vertical-align: middle;
        font-size: 20px;
    }
}

.dflex-ai-center {
    align-items: center;
    display: flex;
}

.consumer-about-form {
    padding: 0px 15px;

    ion-row {
        ion-col {
            .contact-phone-input {
                --padding-start: 55px;
            }

            ion-input {
                border: 1px solid #e6e6e6 !important;
                border-radius: 6px;
                --padding-start: 15px;
                --padding-end: 15px;
                margin-top: 10px;
                color: #1c1c1c !important;
            }

            ion-select {
                border: 1px solid #e6e6e6 !important;
            }

            ion-datetime {
                border: 1px solid #e6e6e6 !important;
            }

            ion-textarea {
                border: 1px solid #e6e6e6 !important;
            }
        }
    }
}

.about-label {
    color: #000;
    margin-top: 15px;
    white-space: pre-wrap;
    line-height: 18px;
    margin-left: 10px;
    max-width: 100%;
    vertical-align: middle;
    align-self: center;
}

ion-checkbox {
    align-self: center;
    vertical-align: middle;
}

ion-input {
    background: #f3f3f3;
    border-radius: 10px;
    border: none !important;
    height: 50px;
    --padding-start: 15px;
    --padding-end: 15px;
}

ion-textarea {
    background: #f3f3f3;
    border-radius: 10px !important;
    border: none !important;
    min-height: 150px;
    --padding-start: 15px;
    --padding-end: 15px;
}

ion-datetime {
    border: none !important;
    background: #f3f3f3 !important;
    border-radius: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    height: 50px;
}

ion-select {
    background: #f3f3f3;
    border-radius: 10px;
    border: none;
    color: #222;
    height: 50px;
    --placeholder-opacity: 0.6;
    --padding-start: 15px;
    --padding-end: 15px;
    width: 100%;
}

.consumer-about-form {
    ion-row {
        ion-col {
            .consumer-about-calendar-icon {
                font-size: 25px;
                color: #828282 !important;
                float: right;
                position: absolute;
                right: 18px;
                bottom: 18px;
            }
        }
    }
}

ion-toggle {
    --background: #c3d1d9;
    --background-checked: #c9edff;
    --handle-background-checked: #0077b5;
    --handle-width: 30px;
    --handle-height: 30px;
    --handle-background: #0077b5;
    --ion-color-base: #0077b5 !important;
    padding: 0;
}

.ca-toggle-switch {
    float: right;
    width: 65px;
    height: 30px;
    padding-inline: 0;
}

.ca-add-to-additional-cal {
    ion-checkbox {
        vertical-align: middle;
        --border-radius: 50px;
        --border-color: #fff;
        --background: #e6e6e6;
        --background-checked: #0077b5;
        --border-color-checked: #0077b5;
        width: 32px;
        height: 32px;
    }
}

ion-checkbox {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    --border-radius: 50px;
    --border-color: #e6e6e6;
    --background: #e6e6e6;
    --background-checked: #0077b5;
    --border-color-checked: #0077b5;
    --border-width: 5px;
    --checkmark-width: 3px;
}

ion-footer {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .publish-btn {
        text-transform: capitalize;
        height: 50px;
        --border-radius: 50px;
        --background: #0077b5;
        --box-shadow: none;
        --padding-start: 20px;
        --padding-end: 20px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 400;
        max-width: fit-content;
    }
}

.top-consumer-info-sec {
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 10px;

    ion-avatar {
        width: 50px;
        height: 50px;
    }
}

.ab-sec-consumer-type {
    ion-segment-button {
        --background: #f2f2f2;
        --background-checked: #0077b5;
        --indicator-box-shadow: none;
        --indicator-color: #0077b5;
        padding: 2px;
        --color-checked: #fff;
        --color: #4f4f4f;
        font-size: 16px;
        font-weight: normal;
        border-radius: 6px;
        max-width: 114px !important;
        min-height: 32px;
        margin-left: 20px;
        --border-width: 0px;
        --indicator-height: auto;

        &:first-child {
            margin-left: 0px;
        }

        ion-label {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
}

ion-segment-button {
    &:first-child {
        margin-left: 0px;
    }

    ion-label {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.text_color {
    opacity: 1 !important;
}

.d-share {
    --innerpadding-end: 0px;

    .about-label {
        margin-left: 15px !important;
    }
}

/*------------------------------------ New codes starts here ---------------------------------------*/

.ion-header-inner {
    background: transparent;
    min-height: 90px;
    padding: 15px 15px 0;
    color: #222;
    align-self: center;
    align-items: center;
    align-content: center;
    display: flex;
    box-shadow: none;
}

// .profile-details-box {
//     background: #0077b5;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     min-height: 120px;
//     padding: 15px 20px;
//     color: #fff;
//     border-radius: 15px;
//     text-align: center;
//     margin-top: 30px;
//     margin-bottom: 10px;

//     ion-avatar {
//         width: 100px;
//         height: 100px;
//         border: 5px solid #fff;
//         position: absolute;
//         top: 15px;
//     }

//     .consumer-name {
//         font-size: 20px;
//         font-weight: 500;
//         color: #fff;
//         display: block;
//         margin-top: 45px;
//     }

//     .agedcare-name {
//         font-size: 14px;
//         color: #fff;
//         display: block;
//         margin-top: 2px;
//     }

//     .room-wingname {
//         font-family: "Roboto", sans-serif;
//         font-size: 14px;
//         color: #fff;
//         display: block;
//         margin-top: 2px;
//     }

//     .rw-sec {
//         display: flex;
//         font-family: "Roboto", sans-serif;
//         font-size: 14px;
//         color: #fff;
//         margin-top: 6px;

//         i {
//             font-size: 20px;
//             margin-right: 5px;
//             vertical-align: middle;
//         }
//     }

//     .phone {
//         width: 100%;
//         display: block;
//         font-family: "Roboto", sans-serif;
//         font-size: 14px;
//         color: #fff;
//         margin-top: 6px;
//         margin-left: auto;
//         margin-right: auto;

//         i {
//             font-size: 20px;
//             margin-right: 5px;
//             vertical-align: middle;
//         }
//     }

//     .email {
//         width: 100%;
//         display: block;
//         font-family: "Roboto", sans-serif;
//         font-size: 14px;
//         color: #fff;
//         margin-top: 6px;
//         margin-left: auto;
//         margin-right: auto;

//         i {
//             font-size: 20px;
//             margin-right: 5px;
//             vertical-align: middle;
//         }
//     }

//     .lw {
//         margin-top: 5px;
//         font-size: 14px;
//         color: #fff;

//         span {
//             color: #ffeb00;
//             font-weight: 500;
//         }
//     }

//     .reset-password-btn {
//         --background: rgb(203 237 255);
//         --box-shadow: none;
//         --border-radius: 50px;
//         text-transform: none;
//         font-size: 16px;
//         font-weight: 400;
//         color: #0077b5;
//         margin-top: 12px;
//     }
// }

.profile-details-box {
    background: #0077b5;
    display: flex;
    // flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    // min-height: 120px;
    // padding: 15px 20px;
    padding: 20px;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    // margin-top: 30px;
    margin-top: 0px;
    margin-bottom: 10px;

    .pdb-thumb-name-box {
        width: 100%;
        display: flex;
        align-items: center;
        // border-bottom: 1px dashed rgb(255 255 255 / 35%);
        // padding-bottom: 15px;
        // margin-bottom: 5px;

        ion-avatar {
            min-width: 55px;
            max-width: 55px;
            height: 55px;
            border: 5px solid #fff;
            background: #fff;
            // position: absolute;
            // top: 15px;
        }

        .consumer-name {
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            display: block;
            margin-left: 15px;
            padding-right: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            line-height: 25px;
            white-space: pre-line;
            word-wrap: break-word;
            word-break: break-word;

            .lw {
                margin-top: 0px;
                font-family: "Roboto", sans-serif !important;
                font-size: 14px;
                font-weight: normal;
                color: #fff;

                span {
                    color: #ffeb00;
                    font-weight: 500;
                }
            }
        }

        .pdb-mi-arrow {
            font-size: 22px;
            color: #fff;
            margin-left: auto;
            min-width: 22px;
            max-width: 22px;
            height: 22px;
            margin-top: 5px;
            align-self: flex-start;
        }
    }

    // ion-avatar {
    //     width: 100px;
    //     height: 100px;
    //     border: 5px solid #fff;
    //     position: absolute;
    //     top: 15px;
    // }

    // .consumer-name {
    //     font-size: 20px;
    //     font-weight: 500;
    //     color: #fff;
    //     display: block;
    //     margin-top: 45px;
    // }

    .pdb-other-infobox {
        width: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        text-align: left;
        padding-left: 0px;
        border-top: 1px dashed rgba(255, 255, 255, 0.35);
        padding-top: 5px;
        margin-top: 15px;

        .agedcare-name {
            font-size: 14px;
            color: #fff;
            display: block;
            margin-top: 2px;
        }

        .room-wingname {
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #fff;
            display: block;
            margin-top: 2px;
        }

        .rw-sec {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #fff;
            margin-top: 10px;
            margin-bottom: 5px;

            i {
                // font-size: 20px;
                // margin-right: 5px;
                // vertical-align: middle;
                font-size: 20px;
                background: #4099c8;
                color: #fff;
                border-radius: 50px;
                padding: 5px;
                margin-right: 10px;
                min-width: 38px;
                max-width: 38px;
                min-height: 38px;
                max-height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .phone {
            width: 100%;
            display: flex;
            align-items: center;
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #fff;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;

            i {
                // font-size: 20px;
                // margin-right: 5px;
                // vertical-align: middle;
                font-size: 20px;
                background: #4099c8;
                color: #fff;
                border-radius: 50px;
                padding: 5px;
                margin-right: 10px;
                min-width: 38px;
                max-width: 38px;
                min-height: 38px;
                max-height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ion-chip {
                // font-family: "Open Sans", sans-serif;
                font-size: 13px;
                font-family: "Roboto", sans-serif;
                --background: rgb(255 255 255 / 25%);
                color: #ffffff;
                height: 30px;
                margin-left: auto;
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 0;

                ion-icon {
                    font-size: 13px;
                    color: #fff;
                    margin-right: 5px;
                    margin-left: 0;
                }
            }
        }

        .email {
            width: 100%;
            // display: block;
            display: flex;
            align-items: center;
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #fff;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;

            i {
                // font-size: 20px;
                // margin-right: 5px;
                // vertical-align: middle;
                font-size: 20px;
                background: #4099c8;
                color: #fff;
                border-radius: 50px;
                padding: 5px;
                margin-right: 10px;
                min-width: 38px;
                max-width: 38px;
                min-height: 38px;
                max-height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .dob {
            width: 100%;
            // display: block;
            display: flex;
            align-items: center;
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #fff;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;

            i {
                // font-size: 20px;
                // margin-right: 5px;
                // vertical-align: middle;
                font-size: 20px;
                background: #4099c8;
                color: #fff;
                border-radius: 50px;
                padding: 5px;
                margin-right: 10px;
                min-width: 38px;
                max-width: 38px;
                min-height: 38px;
                max-height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .lw {
            margin-top: 5px;
            font-size: 14px;
            color: #fff;

            span {
                color: #ffeb00;
                font-weight: 500;
            }
        }
    }

    .reset-password-btn {
        --background: rgb(203 237 255);
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        font-size: 16px;
        font-weight: 400;
        color: #0077b5;
        margin-top: 12px;
    }
}

.consumer-about-form {
    ion-row {
        margin-bottom: 10px !important;
    }
}

.overview-count-card {
    height: 100%;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        width: 60px;
        height: 60px;
    }

    .oc-info-sec {
        height: 100%;
        display: flex;
        flex-direction: column;

        .overview-count {
            color: #707070;
            font-size: 20px;
            font-weight: 600;
            margin-top: 15px;
        }

        .label-ah {
            color: #0daf9f;
        }

        .label-mr {
            color: #ffb604;
        }

        .label-visitors {
            color: #e81b66;
        }

        .overview-info {
            // font-family: 'Open Sans', sans-serif;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #707070;
            margin-top: 5px;
        }
    }

    .act-paid-box {
        padding: 2px 10px;
        // font-family: 'Open Sans', sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        border: 1px solid #d5d5d5;
        color: #000;
        border-radius: 6px;
        margin-bottom: 10px;

        span {
            color: #ff9149;
            font-weight: 600;
        }
    }

    .job-closed-box {
        padding: 2px 10px;
        // font-family: 'Open Sans', sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        border: 1px solid #d5d5d5;
        color: #000;
        border-radius: 6px;
        margin-bottom: 10px;

        span {
            color: #3cd320;
            font-weight: 600;
        }
    }

    .sr-closed-box {
        padding: 2px 10px;
        // font-family: 'Open Sans', sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        border: 1px solid #d5d5d5;
        color: #000;
        border-radius: 6px;
        margin-bottom: 10px;

        span {
            color: #3cd320;
            font-weight: 600;
        }
    }
}

.mr-zero {
    margin-right: 0;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .occ-box {
        ion-col {
            padding-inline-start: 0;
            padding-inline-end: 0;
            padding-top: 0;
        }
    }

    .rp-more-info-sec {
        margin-top: 5px;

        ion-col {
            padding-inline-start: 0;
            padding-inline-end: 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    .overview-item-card {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px !important;
        margin-right: 10px !important;
        padding: 0px !important;
        height: 100%;

        ion-card-header {
            padding: 15px;
        }

        ion-card-content {
            .activity-comment {
                ion-label {
                    font-size: 16px;
                }
            }

            .mc-box {
                .din-dishes {
                    font-size: 16px;
                }
            }
        }
    }

    .overview-count-card {
        height: 100%;
        margin: 0px !important;
        padding: 30px !important;

        img {
            width: 80px;
            height: 80px;
        }

        .overview-count {
            font-size: 25px !important;
        }

        .overview-info {
            font-size: 18px !important;
            margin-top: 0 !important;
        }
    }

    .ro-segment {
        margin-top: 20px;

        ion-segment-button {
            font-size: 20px;
        }
    }

    .ro-select-date-sec {
        margin-top: 20px;
    }

    .no_padding_inline ion-row,
    ion-col {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .rp-more-info-sec {
        ion-col {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .p-30days {
        font-size: 18px !important;
        margin: 20px 0 15px !important;
    }

    .overview-count-card {
        .act-paid-box {
            margin-top: 10px;
        }

        .job-closed-box {
            margin-top: 10px;
        }

        .sr-closed-box {
            margin-top: 10px;
        }
    }

    .res-away-card {
        margin: 10px 0 12px !important;

        ion-card-content {
            .away-reason-box {
                margin-top: 0 !important;
                border: 0 !important;
                padding-top: 0 !important;
                display: flex;
                align-items: center;
                height: 100%;
            }

            .start-return-dt-box {
                margin-top: 0 !important;
                margin-left: 15px;
                margin-right: 15px;
                padding-left: 15px;
                padding-right: 15px;
                border-left: 1px solid #e5d89d;
                border-right: 1px solid #e5d89d;
            }
        }
    }
}

.p-30days {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #222;
    margin: 12px 0 10px;
}

.p-zero {
    padding: 0;
}

.res-away-card {
    border: 1px solid #ffc248;
    border-radius: 10px !important;
    margin: 6px 0 5px;
    // font-family: 'Open Sans', sans-serif;
    font-family: "Roboto", sans-serif;

    ion-card-header {
        background: #ffe99b;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 8px 8px 15px;
        width: 100%;

        .res-ac-header-ib {
            width: 100%;

            .rac-hib-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .rac-hib-left {
                    display: flex;
                    flex-direction: column;
    
                    .rac-title {
                        font-size: 16px;
                        font-weight: 600;
                        color: #222;
                        line-height: 24px;
                        display: flex;
                        flex-direction: column;
            
                        span {
                            font-size: 15px;
                            font-weight: normal;
                            color: #222;
                        }
                    }
                }
    
                .rac-hib-right {
                    display: flex;
                    align-items: center;
                    margin-left: auto;
    
                    .rac-more-options {
                        font-size: 18px;
                        color: #222;
                    }
            
                    .rac-more-details-down-arrow {
                        font-size: 18px;
                        color: #222;
                        margin-left: 10px;
                    }
                }

                .show-more-booking-box {
                    margin-top: 5px;
                    border-top: 1px solid #e5d89d;
                    padding-top: 10px;
                    width: 100%;
        
                    p {
                        font-size: 15px;
                        display: flex;
                        align-items: center;
                        color: #8d671b;
                        margin: 0;
        
                        ion-icon {
                            font-size: 20px;
                            margin-right: 5px;
                        }
        
                        span {
                            font-weight: 600;
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                    }
                }
            }

            
        }

    }

    ion-card-content {
        background-color: #fffcee;
        padding: 10px;

        .mbm-row {
            position: relative;

            ion-col {
                // position: relative;
            }
        }

        .rac-resident-box {
            --padding-start: 0;
            --inner-padding-end: 0;
            --min-height: auto;
            background: #fff;
            border: 1px solid #f7efc9;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            position: relative;

            &:last-child {
                margin-bottom: 0px;
            }

            ion-avatar {
                width: 35px;
                height: 35px;
                border-radius: 50px;
                margin: 0;
            }

            ion-label {
                font-size: 16px;
                color: #222;
                margin-left: 10px;
                margin-top: 0;
                margin-bottom: 0;
            }

            .rac-more-options {
                position: absolute;
                top: 10px;
                right: -5px;
                font-size: 18px;
                color: #6c6c6c;
                z-index: 9999;
            }
        }

        .rac-more-options-1 {
            position: absolute;
            top: 25px;
            right: -4px;
            z-index: 9999;
            font-size: 18px;
            color: #7d7d7d;
        }

        .start-return-dt-box {
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            ion-label {
                font-size: 16px;
                color: #222;

                span {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }

        .away-reason-box {
            margin-top: 0px;
            border-top: 1px solid #e5d89d;
            padding-top: 5px;

            p {
                font-size: 15px;
                color: #222;
            }
        }

        .show-more-booking-box {
            margin-top: 0px;
            border-top: 1px solid #e5d89d;
            padding-top: 10px;

            p {
                font-size: 15px;
                display: flex;
                align-items: center;
                color: #8d671b;

                ion-icon {
                    font-size: 20px;
                    margin-right: 5px;
                }

                span {
                    font-weight: 600;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }

        .more-bookings-box {
            border: 1px solid #e5d89d;
            border-radius: 10px !important;
            margin: 5px 2px 10px;
            padding: 10px;

            &:first-child {
                margin-top: 0px !important;
            }

            &:last-child {
                margin-bottom: 0px !important;
            }
        }
    }
}

/*------------------------------------ New codes ends here ---------------------------------------*/
