<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>
            {{area}}
            <span class="hdr-di-name">{{servetime}} on {{date|dateformat:'DD MMM YYYY'}}</span>
          </ion-label>

        </ion-col>

        <ion-col class="col-fit ion-align-self-start page-name" size-sm="2" size-md="1" size-lg="1" size="2"
          *ngIf="hide" (click)="search()">
          <ion-button class="hdr-btn">
            <ion-icon name="search-sharp"></ion-icon>
          </ion-button>
        </ion-col>



      </ion-row>

      <ion-row *ngIf="!hide">

        <ion-col>

          <ion-searchbar class="clife-search-bar" placeholder="Search residents" (ionClear)="cancel()"
            [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<!-- <ion-content *ngIf="details">

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <ion-segment (ionChange)="segmentChanged($event)" class="fts-segment" scrollable value="to-serve">

      <ion-segment-button class="seg-to-serve" value="to-serve">

        <ion-label>To serve
          <span class="to-serve-count">{{details.count.toserved}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-served" value="served">

        <ion-label>Served
          <span class="served-count">{{details.count.served}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-refused" value="refused">

        <ion-label>Refused
          <span class="refused-count">{{details.count.refused}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-leave" value="leave">

        <ion-label>Leave
          <span class="leave-count">{{details.count.leavecount}}</span>
        </ion-label>

      </ion-segment-button>



    </ion-segment>

  </ion-fab>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of details.tables">

        <ion-card class="din-dt-card" (click)="tableDetails(item)">

          <ion-label class="din-card-head">{{item.name}}</ion-label>


          <ion-label class="din-info-label" *ngIf="!item.tableresidents||item.tableresidents.length==0">No residents assigned to this table</ion-label>
          <div class="din-consumer-thumbnail-photo-box" *ngIf="item.tableresidents&&item.tableresidents.length">

            <ion-avatar *ngFor="let res of item.tableresidents">
              <img [src]="res.profile.resident.user.profile_pic">
              <ion-icon class="din-status-served" name="checkmark-circle-sharp"></ion-icon>
            </ion-avatar>

          

          </div>

          <ion-label class="din-seats-remaining">{{item.no_of_seats}} seats</ion-label>

        </ion-card>

      </ion-col>

     
    </ion-row>

  </ion-grid>



</ion-content> -->







<ion-content *ngIf="details">

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <ion-segment class="fts-segment" scrollable value="to-serve" mode="md">

      <ion-segment-button class="seg-to-serve" value="to-serve">

        <ion-label>To serve
          <span class="to-serve-count">{{details.count.toserved}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-served" value="served">

        <ion-label>Served
          <span class="served-count">{{details.count.served}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-refused" value="refused">

        <ion-label>Refused
          <span class="refused-count">{{details.count.refused}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-leave" value="leave">

        <ion-label>Leave
          <span class="leave-count">{{details.count.leavecount}}</span>
        </ion-label>

      </ion-segment-button>



    </ion-segment>

  </ion-fab>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngFor="let item of details.tables">

        <ion-card class="din-dt-card" (click)="tableDetails(item)">

          <ion-label class="din-card-head">{{item.name}}</ion-label>


          <ion-label class="din-info-label" *ngIf="!item.seats||item.seats.length==0">No residents
            assigned to this table</ion-label>
          <div class="din-consumer-thumbnail-photo-box">

            <!-- <ion-avatar *ngFor="let res of item.tableresidents">
              <img [src]="res.profile.resident.user.profile_pic">
              <ion-icon class="din-status-served" name="checkmark-circle-sharp"></ion-icon>
            </ion-avatar> -->

            <ng-container *ngFor="let seat of item.seats">
              <ng-container *ngIf="seat.residents&&seat.residents.length>0">
                <div class="din-consumerinfo-box" *ngFor="let res of seat.residents| diningTableResidents : terms">

                  <div class="din-cib-header" *ngIf="seat.name">

                    <div class="din-cibh-left-block">

                      <ion-label>{{seat.name}}</ion-label>

                    </div>

                    <div class="din-cibh-right-block" (click)="removeSeat(res,$event); $event.stopPropagation()">

                      <ion-icon name="ellipsis-vertical"></ion-icon>

                    </div>

                  </div>

                  <div class="din-cib-body">

                    <ion-avatar>
                      <img [src]="res.user.profile_pic">

                    </ion-avatar>

                    <ion-label class="din-cname">{{res.user.name}}
                      <span class="room-no">{{res.room}}</span>
                      <span class="wing-name" *ngIf="res.wing">{{res.wing.name}}</span>
                    </ion-label>

                  </div>

                  <!-- <div class="din-cib-body" *ngIf="seat.residents.length==0">

                <div class="vacant-seat">
                  <i class="las la-chair"></i>
                </div>

              </div> -->

                </div>
              </ng-container>
              <div class="din-consumerinfo-box" *ngIf="seat.residents.length==0"
                (click)="assignSeat(seat); $event.stopPropagation()">

                <div class="din-cib-header" *ngIf="seat.name">

                  <div class="din-cibh-left-block">

                    <ion-label>{{seat.name}}</ion-label>

                  </div>



                </div>



                <div class="din-cib-body">

                  <div class="vacant-seat">
                    <i class="las la-chair"></i>
                  </div>

                </div>

              </div>
            </ng-container>
            <!-- <div class="din-consumerinfo-box">

              <div class="din-cib-header">

                <div class="din-cibh-left-block">

                  <ion-label>2</ion-label>

                </div>

                <div class="din-cibh-right-block label-skipped">

                  <ion-label>Skipped</ion-label>

                </div>

              </div>

              <div class="din-cib-body">

                <ion-avatar>
                  <img src="/assets/dining/consumers/dennis-wilson.png">
                  
                </ion-avatar>

                <ion-label class="din-cname">Dennis wilson</ion-label>

              </div>

            </div>


            <div class="din-consumerinfo-box">

              <div class="din-cib-header">

                <div class="din-cibh-left-block">

                  <ion-label>3</ion-label>

                </div>

                <div class="din-cibh-right-block label-leave">

                  <ion-label>Leave</ion-label>

                </div>

              </div>

              <div class="din-cib-body">

                <ion-avatar>
                  <img src="/assets/dining/consumers/james-anderson.png">
                 
                </ion-avatar>

                <ion-label class="din-cname">James Anderson</ion-label>

              </div>

            </div>


            <div class="din-consumerinfo-box">

              <div class="din-cib-header">

                <div class="din-cibh-left-block">

                  <ion-label>4</ion-label>

                </div>

                <div class="din-cibh-right-block label-refused">

                  <ion-label>Refused</ion-label>

                </div>

              </div>

              <div class="din-cib-body">

                <ion-avatar>
                  <img src="/assets/dining/consumers/john-abraham.png">
                  
                </ion-avatar>

                <ion-label class="din-cname">John Abraham</ion-label>

              </div>

            </div>

            <div class="din-consumerinfo-box">

              <div class="din-cib-header">

                <div class="din-cibh-left-block">

                  <ion-label>5</ion-label>

                </div>

                <div class="din-cibh-right-block label-served">

                  <ion-label>Served</ion-label>

                </div>

              </div>

              <div class="din-cib-body">

                <ion-avatar>
                  <img src="/assets/dining/consumers/john-daniel.png">
                 
                </ion-avatar>

                <ion-label class="din-cname">John Daniel</ion-label>

              </div>

            </div>

            <div class="din-consumerinfo-box">

              <div class="din-cib-header">

                <div class="din-cibh-left-block">

                  <ion-label>6</ion-label>

                </div>

              </div>

              <div class="din-cib-body">

                <div class="vacant-seat">
                  <i class="las la-chair"></i>
                </div>

              </div>

              

            </div> -->

          </div>

          <ion-label class="din-seats-remaining">{{item.no_of_seats}} seats</ion-label>

        </ion-card>

      </ion-col>


    </ion-row>

  </ion-grid>



</ion-content>