.ion-header-inner {
    background: #0077B5 !important;

    ion-label {
        span {
            display: block;
            color: #C7EAFB;
            font-size: 16px;
        }
    }

    .hdr-btn {
        --background: #C7EAFB;
        --border-radius: 50px;
        --padding-start: 8px;
        --padding-end: 8px;
        --box-shadow: none;
        color: #0077b5;
        width: 40px;
        height: 40px;
    }
}

ion-content {
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 70px;
    --padding-bottom: 5px;
}

.fixed-top-sec {
    padding: 10px 10px 0;

    .fts-segment {

        .seg-to-serve {
            min-width: 125px;
            max-width: fit-content;
            --color-checked: #FF7216;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                color: #FF7216;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .to-serve-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #FFE9DB;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }

        }

        .seg-served {
            min-width: 150px;
            max-width: fit-content;
            --color-checked: #1AAB4A;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;
            margin-left: 10px;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                color: #1AAB4A;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .served-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #d2ffd9;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }

        }
    }

    .seg-refused {
        min-width: 125px;
        max-width: fit-content;
        --color-checked: #808080;
        --indicator-height: 3px;
        --padding-start: 0;
        --padding-end: 0;
        padding-bottom: 5px;
        margin-left: 10px;

        ion-label {
            font-size: 18px;
            font-weight: 500;
            color: #808080;
            letter-spacing: normal;
            margin-top: 0;
            margin-bottom: 0;

            .refused-count {
                min-width: 35px;
                min-height: 35px;
                font-size: 16px;
                padding: 5px;
                background-color: #eaeaea;
                border-radius: 50px;
                margin-left: 5px;
                /* position: absolute; */
                /* top: 0; */
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
            }
        }

    }

    .seg-leave {
        min-width: 125px;
        max-width: fit-content;
        --color-checked: #FF1635;
        --indicator-height: 3px;
        --padding-start: 0;
        --padding-end: 0;
        padding-bottom: 5px;
        margin-left: 10px;

        ion-label {
            font-size: 18px;
            font-weight: 500;
            color: #FF1635;
            letter-spacing: normal;
            margin-top: 0;
            margin-bottom: 0;

            .leave-count {
                min-width: 35px;
                min-height: 35px;
                font-size: 16px;
                padding: 5px;
                background-color: #FFD9DE;
                border-radius: 50px;
                margin-left: 5px;
                /* position: absolute; */
                /* top: 0; */
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
            }
        }

    }
}

.din-dt-card {
    padding: 15px;
    margin: 0px;
    height: 100%;

    .din-card-head {
        font-size: 18px;
        font-weight: 500;
        color: #0077B5;
        border-bottom: 1px dashed #E1E1E1;
        margin-bottom: 10px;
        padding-bottom: 5px;
        width: 100%;
        display: flex;
    }

    .din-consumer-thumbnail-photo-box {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // flex-wrap: wrap;
        align-items: center;
        display: grid;
        grid-template-columns: 49% 49%;
        -moz-column-gap: 6px;
        column-gap: 6px;
        row-gap: 6px;

        .din-consumerinfo-box {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0;
            border: 1px solid #cdcdcd;
            border-radius: 6px;
            // width: 48%;
            height: 100%;
            min-height: 200px;
            margin-top: 5px;
            margin-bottom: 5px;

            // &:nth-child(even) {
            //     margin-left: 10px;
            // }

            .din-cib-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #f4f4f4;
                border-bottom: 1px solid #cdcdcd;
                border-radius: 6px 6px 0px 0px;
                width: 100%;
                padding: 2px 5px 2px 10px;

                .din-cibh-left-block {
                    display: flex;

                    ion-label {
                        font-size: 20px;
                        font-weight: 600;
                        color: #222;
                    }
                }

                .din-cibh-right-block {
                    // font-size: 12px;
                    // background: #d6d6d6;
                    // padding: 2px;
                    // border-radius: 50px;
                    // color: #222;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    ion-label {
                        font-size: 12px;
                        // color: #222;
                    }


                    ion-icon {
                        font-size: 18px;
                        color: #707070;
                    }

                }

                .label-served {
                    color: #fff;
                    background: #1AAB4A;
                    padding: 2px 10px;
                    border-radius: 50px;
                }

                .label-skipped {
                    color: #fff;
                    background: #ff7216;
                    padding: 2px 10px;
                    border-radius: 50px;
                }

                .label-leave {
                    color: #fff;
                    background: #FF1635;
                    padding: 2px 10px;
                    border-radius: 50px;
                }

                .label-refused {
                    color: #fff;
                    background: #808080;
                    padding: 2px 10px;
                    border-radius: 50px;
                }

            }

            .din-cib-body {
                padding: 10px;
                height: 100%;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                ion-avatar {
                    width: 75px;
                    height: 75px;
                    position: relative;
                    margin: 10px;

                    .din-status-served {
                        font-size: 22px;
                        color: #1AAB4A;
                        text-align: center;
                        position: absolute;
                        right: -5px;
                        background: #fff;
                        border-radius: 50px;
                    }

                    .din-status-skipped {
                        font-size: 22px;
                        color: #FF7216;
                        text-align: center;
                        position: absolute;
                        right: -5px;
                        background: #fff;
                        border-radius: 50px;
                    }

                    .din-status-leave {
                        font-size: 22px;
                        color: #FF1635;
                        text-align: center;
                        position: absolute;
                        right: -5px;
                        background: #fff;
                        border-radius: 50px;
                    }

                    .din-status-refused {
                        font-size: 22px;
                        color: #808080;
                        text-align: center;
                        position: absolute;
                        right: -5px;
                        background: #fff;
                        border-radius: 50px;
                    }

                }

                .din-cname {
                    font-size: 16px;
                    color: #222222;
                    text-align: center;
                    line-height: 20px;
                    margin-top: 5px;
                    display: contents;
                }

                .vacant-seat {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 75px;
                    height: 75px;
                    font-size: 35px;
                    background: #f4fff4;
                    border: 1px dashed #98ff9b;
                    color: #03b700;
                    border-radius: 50px;
                }

            }

        }


    }

    .din-info-label {
        font-size: 16px;
        font-weight: 500;
        color: #707070;
        text-align: center;
        display: block;
    }

    .din-seats-remaining {
        text-align: center;
        font-size: 16px;
        color: #707070;
        margin-top: 10px;
        display: block;
    }
}

@media only screen and (min-width:768px) {
    .din-consumer-thumbnail-photo-box {
        .din-consumerinfo-box {
            flex: unset !important;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .din-dt-card {
        .din-consumer-thumbnail-photo-box {
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }

        .din-info-label {
            font-size: 16px;
            font-weight: 500;
            color: #707070;
            text-align: center;
            display: block;
        }

        .din-seats-remaining {
            text-align: center;
            font-size: 16px;
            color: #707070;
            margin-top: 10px;
            display: block;
        }
    }
}

.room-no {
    color: #545556;
    font-size: 15px;
}

.wing-name {
    color: #989898;
    font-size: 13px;
}