<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="ion-align-self-start page-name" size-sm="9" size-md="9" size-lg="9" size="9">

          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>

          <ion-label *ngIf="area">{{area}}
            <!-- {{table.name}} - {{area}} -->
            <span>{{servetime}} on {{date|dateformat:'DD MMM YYYY'}}</span>
          </ion-label>

        </ion-col>

        <ion-col class="col-fit ion-align-self-start page-name" size-sm="2" size-md="2" size-lg="2" size="2"
          *ngIf="hide" (click)="search()">
          <ion-button class="hdr-btn">
            <ion-icon name="search-sharp"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col class="col-fit ion-align-self-start page-name" size-sm="1" size-md="1" size-lg="1" size="1" *ngIf="(status=='1'||status=='2')&&count&&count.toserved!=0&&edit">
          <ion-button class="hdr-btn-nc" (click)="markasserved($event)">
            <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
          </ion-button>
        </ion-col>
       

      </ion-row>

      <ion-row *ngIf="!hide">

        <ion-col>

          <ion-searchbar class="clife-search-bar" show-clear-button="always" placeholder="Search residents"
            (ionClear)="cancel()" [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="details">

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec" *ngIf="count">

    <ion-segment class="fts-segment" scrollable [(ngModel)]="status" mode="md">

      <ion-segment-button class="seg-total" value="1">

        <ion-label>Total
          <span class="total-count">{{count.totalresidents}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-to-serve" value="2">

        <ion-label>To serve
          <span class="to-serve-count">{{count.toserved}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-served" value="3">

        <ion-label>Served
          <span class="served-count">{{count.served}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-refused" value="4">

        <ion-label>Refused
          <span class="refused-count">{{count.refused}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-leave" value="5">

        <ion-label>Leave
          <span class="leave-count">{{count.leavecount}}</span>
        </ion-label>

      </ion-segment-button>



    </ion-segment>

  </ion-fab>

  

<ng-container *ngFor="let tab of details;let t=index">
  <div class="table-sec" (click)="expand(tab)">
    <ion-label>{{tab.table.name}}</ion-label>
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div>



  <ion-grid  *ngIf="tab.expanded">

    <ion-row>

    </ion-row>

    <ion-row>

      <ng-container *ngFor="let ele of residents;let j=index">
      <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
        *ngFor="let item of ele.res.seatres| consumersearch : terms;let i=index">

        

       
        <ion-card class="din-consumer-info-card" [class.ribbon-leave]="item.isleave==1"
          [class.ribbon-served]="item.servestatus=='served'"
          [class.ribbon-refused]="item.servestatus=='refused'"
          [class.ribbon-consumed]="item.servestatus=='consumed'" *ngIf="status=='1'">

          <span class="seat-number-strip">

            <i class="las la-chair"></i>
            <ion-label>{{ele.res.seat_name}}</ion-label>

          </span>


          <ion-grid>

            <ion-row class="justify-sb">

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12" (click)="expandProfile(ele)">



                <ion-avatar class="consumer-pic">

                  <img src="{{item.profile.resident.user.profile_pic}}">

                </ion-avatar>

                <ion-label class="c-name">

                  {{item.user.name}}

                  <p class="room-no">{{item.room}}
                    <span class="wing-name" *ngIf="item.wing&&rv!==1">{{item.wing.name}}</span>
                    <span class="wing-name" *ngIf="item.property_details&&item.property_details.contract_details&&item.property_details.contract_details.property&&item.property_details.contract_details.property.location&&rv==1">
                      {{item.property_details.contract_details.property.location.name}}
                    </span>
                  </p>

                </ion-label>
                <div class="icons-block">

                  <ion-icon class="other-info-icon" name="information-sharp" *ngIf="item.profile"
                    (click)="dietaryPreference(item.profile); $event.stopPropagation()"></ion-icon>

                  <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>

                  <ion-icon class="mo-icon" name="ellipsis-vertical" *ngIf="edit" (click)="removeSeat(item,$event,t); $event.stopPropagation()"></ion-icon>

                </div>

                

              </ion-col>

              <ng-container *ngIf="ele.expanded">

                <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.profile">

                  <div class="diet-info-box">

                   
                    <span class="dflex flexwrap-wrap"
                      *ngIf="item.profile.diet_type&&item.profile.diet_type.length"><span
                        class="di-item diabetic"
                        *ngFor="let dt of item.profile.diet_type">{{dt.diet_details.diet_type_name}}
                        diet</span></span>
                    <span class="di-item regular"
                      *ngIf="item.profile&&item.profile.food_texture">{{item.profile.food_texture.food_texture}}</span>

                    <span class="di-item mildly-thick"
                      *ngIf="item.profile&&item.profile.fluid_texture">{{item.profile.fluid_texture.food_texture}}</span>

                    <span class="di-item msm"
                      *ngIf="item.profile&&item.profile.meal_size">{{item.profile.meal_size.meal_size}}
                      sized meal</span>

                    <span class="allergy-sec" *ngIf="item.profile.allergies">

                      <span class="di-item food-ft" *ngFor="let allergy of setAllergies(item.profile.allergies)">
                        <i class="al-other" [class.al-celery]="allergy=='Celery'"
                          [class.al-crustaceans]="allergy=='Crustaceans'" [class.al-glutten]="allergy=='Gluten'"
                          [class.al-lupin]="allergy=='Lupin'" [class.al-molluscs]="allergy=='Molluscs'"
                          [class.al-mustard]="allergy=='Mustard'" [class.al-peanut]="allergy=='Peanuts'"
                          [class.al-sesame]="allergy=='Sesame'" [class.al-soy]="allergy=='Soya'"
                          [class.al-sulphite]="allergy=='Sulphites'" [class.al-treenut]="allergy=='Treenuts'"
                          [class.al-wheat]="allergy=='Wheat'"></i>
                        {{allergy}}</span>
                    </span>



                  </div>



                </ion-col>

               

                <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.profile">

                  <div class="seat-no-sec">
                    <ion-label>Seat no : <span>{{item.profile.seat_detail.name}}</span></ion-label>
                  </div>

                </ion-col> -->

               

                <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                  *ngIf="item.order&&item.order.length&&item.order[0].order_items.length||item.additional_order&&item.additional_order.length">

                  <div class="din-inner-control-sec">


                    <ion-label>Order details</ion-label>

                    <div class="din-btn-box" *ngIf="edit">

                      

                      <ion-button class="select-all-item-btn" (click)="serveAll(item,i,j)"
                        *ngIf="item.servestatus=='default'||item.servestatus==''">

                        <ion-icon name="checkmark-done"></ion-icon>

                      </ion-button>

                      <ion-button (click)="addItems(item)" *ngIf="serving_order==1&&order&&item.servestatus!=='refused'">

                        <img src="/assets/dining/dining-edit-icon.svg">

                      </ion-button>
                      <ion-button class="more-option-btn" (click)="undoRefuse(item,$event,i,j)" *ngIf="item.servestatus=='refused'">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                      </ion-button>
                      <ion-button class="more-option-btn" (click)="unserve(item,$event,i,j)"
                        *ngIf="item.servestatus=='served'">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                      </ion-button>

                    </div>


                  </div>

                </ion-col>

                <ng-container *ngIf="item.order&&item.order.length&&item.order[0].order_items.length">
                  <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                    *ngFor="let order of item.order[0].order_items;let in=index">

                    <div class="din-order-box"
                      [class.din-order-box-selected]="showSelectedItems(order.id)||order.serving_status==1||selected.includes(order.id)"
                      (click)="selectItems(item,order.id,order.order_id,1,order,i,in,j)">

                      <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                      <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>

                      <div class="fi-color-strip mild-thick">

                      </div>

                      <ion-grid>

                        <ion-row>

                          <ion-col size="3" class="col-fit">

                            <img class="din-o-fi-img" [src]="order.menu_meta.itemdetails.image">

                          </ion-col>

                          <ion-col size="9">

                            <ion-label class="din-o-fi-name">
                              {{order.menu_meta.itemdetails.item_name}}
                            </ion-label>

                            <div class="din-o-fi-other-options">

                              <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                (click)="changeCount(item,order,i,in,1,$event,j); $event.stopPropagation()">
                                {{order.served_quantity}}
                              </span>

                              <span class="din-o-fi-meal-size" *ngIf="order.size">
                                {{order.size.meal_size.substring(0,1)}}
                              </span>

                              <span class="din-o-fi-meal-option"
                                *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                <i class="las la-clipboard-list"></i>
                              </span>

                              <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                <img src="/assets/dining/dining-comments-icon.svg">

                              </ion-button>

                            </div>



                          </ion-col>
                         
                        </ion-row>

                      </ion-grid>

                    </div>

                  </ion-col>

                </ng-container>

                <ng-container *ngIf="item.additional_order&&item.additional_order.length">
                  <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                    *ngFor="let order of item.additional_order;let in=index">

                    <div class="din-order-box"
                      [class.din-order-box-selected]="showSelectedItems(order.item.id)||order.serving_status==1||selected.includes(order.id)"
                      (click)="selectItems(item,order.id,order.order_id,2,order,i,in,j)">

                      <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                      <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>
                      <div class="fi-color-strip mild-thick">

                      </div>

                      <ion-grid>

                        <ion-row>

                          <ion-col size="3" class="col-fit">

                            <img class="din-o-fi-img" [src]="order.item.image">

                          </ion-col>

                          <ion-col size="9">

                            <ion-label class="din-o-fi-name">
                              {{order.item.item_name}}
                            </ion-label>

                            <div class="din-o-fi-other-options">

                              <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                (click)="changeCount(item,order,i,in,2,$event,j); $event.stopPropagation()">
                                {{order.served_quantity}}
                              </span>

                              <span class="din-o-fi-meal-size" *ngIf="order.size">
                                {{order.size.meal_size.substring(0,1)}}
                              </span>

                              <span class="din-o-fi-meal-option"
                                *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                <i class="las la-clipboard-list"></i>
                              </span>

                              <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                <img src="/assets/dining/dining-comments-icon.svg">

                              </ion-button>

                            </div>



                          </ion-col>

                        </ion-row>

                      </ion-grid>

                    </div>

                  </ion-col>

                </ng-container>


              </ng-container>
            </ion-row>
            <ng-container *ngIf="ele.expanded">
              <ion-label class="din-serving-remarks"
                *ngIf="item.servestatus=='refused'&&item.order&&item.order.length&&item.order[0].refuse_reason">
                {{item.order[0].refuse_reason}}</ion-label>
              <ion-label class="din-serving-remarks"
                *ngIf="item.servestatus=='refused'&&item.order&&item.order.length&&item.order[0].refuse_comment">
                {{item.order[0].refuse_comment}}</ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==1)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==1)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed full meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==2)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==2)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed most of the meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==3)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==3)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed half of the meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==4)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==4)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed little of the meal
              </ion-label>

              <ion-row [class.doNotShow]="item.isleave==1||(item.order.length&&item.order[0].refuse_status==1)"
                *ngIf="(item.servestatus=='default'||item.servestatus=='')&&(((item.order&&item.order.length&&item.order[0].order_items.length)||(item.additional_order&&item.additional_order.length))&&(selectedItem[0].Resident==0&&selectedAdd[0].Resident==0))&&edit">

                <ion-col size="12" class="din-o-button-controls-sec">

                  <ion-button class="served-btn" (click)="serve(item,i,j)">Served</ion-button>
                  
                  <ion-button class="refused-btn" (click)="refuse(item,i,j)">Refused</ion-button>

                  <ion-button class="leave-btn" (click)="leave(item,i,j)">Leave</ion-button>

                </ion-col>

              </ion-row>
              <ion-row [class.doNotShow]="item.servestatus=='refused'||item.isleave==1||(item.order.length&&item.order[0].refuse_status==1)"
                *ngIf="(item.servestatus=='served'&&(selectedItem[0].Resident!=0||selectedAdd[0].Resident!=0))&&edit">

                <ion-col size="12" class="din-o-button-controls-sec">

                  <ion-button class="served-btn" (click)="serve(item,i,j)">Served</ion-button>
                
                </ion-col>

              </ion-row>

              <ion-row>
                <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                  *ngIf="(!item.order||item.order.length==0||item.order[0].order_items.length==0)&&(!item.additional_order||item.additional_order.length==0)&&item.isleave==0&&serving_order==1">

                  <div class="din-inner-control-sec">
                    <ion-label>Order not confirmed !</ion-label>
                    <ion-button class="order-now-btn" (click)="addItems(item)" *ngIf="order">Order now</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ng-container>
          </ion-grid>

        </ion-card>

        

          

        <!-- </ion-card> -->

        <!-- <ion-label class="seats-available-label">{{tab.table.no_of_seats}} Seats</ion-label> -->

        <ion-card class="din-consumer-info-card" [class.ribbon-leave]="item.isleave==1"
          [class.ribbon-served]="item.servestatus=='served'"
          [class.ribbon-refused]="item.servestatus=='refused'"
          [class.ribbon-consumed]="item.servestatus=='consumed'"
          *ngIf="(item.servestatus=='default'||item.servestatus=='')&&((item.order&&item.order.length&&item.order[0].order_items.length)||(item.additional_order&&item.additional_order.length))&&status=='2'&&item.isleave!==1">

          <span class="seat-number-strip">

            <i class="las la-chair"></i>
            <ion-label>{{ele.res.seat_name}}</ion-label>

          </span>

          <ion-grid>

            <ion-row class="justify-sb">

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12" (click)="expandProfile(ele)">



                <ion-avatar class="consumer-pic">

                  <img src="{{item.profile.resident.user.profile_pic}}">

                </ion-avatar>

                <ion-label class="c-name">

                  {{item.user.name}}

                  <p class="room-no">{{item.room}}
                    <span class="wing-name" *ngIf="item.wing&&rv!==1">{{item.wing.name}}</span>
                    <span class="wing-name" *ngIf="item.property_details&&item.property_details.contract_details&&item.property_details.contract_details.property&&item.property_details.contract_details.property.location&&rv==1">
                      {{item.property_details.contract_details.property.location.name}}
                    </span>
                    </p>

                </ion-label>
                <div class="icons-block">

                  <ion-icon class="other-info-icon" name="information-sharp" *ngIf="item.profile"
                    (click)="dietaryPreference(item.profile); $event.stopPropagation()"></ion-icon>

                  <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>
                  <ion-icon class="mo-icon" name="ellipsis-vertical" *ngIf="edit" (click)="removeSeat(item,$event,t); $event.stopPropagation()"></ion-icon>
                </div>



              </ion-col>

              <ng-container *ngIf="ele.expanded">

                <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.profile">

                  <div class="diet-info-box">


                    <span class="dflex flexwrap-wrap"
                      *ngIf="item.profile.diet_type&&item.profile.diet_type.length"><span
                        class="di-item diabetic"
                        *ngFor="let dt of item.profile.diet_type">{{dt.diet_details.diet_type_name}}
                        diet</span></span>
                    <span class="di-item regular"
                      *ngIf="item.profile&&item.profile.food_texture">{{item.profile.food_texture.food_texture}}</span>

                    <span class="di-item mildly-thick"
                      *ngIf="item.profile&&item.profile.fluid_texture">{{item.profile.fluid_texture.food_texture}}</span>

                    <span class="di-item msm"
                      *ngIf="item.profile&&item.profile.meal_size">{{item.profile.meal_size.meal_size}}
                      sized meal</span>

                    <span class="allergy-sec" *ngIf="item.profile.allergies">

                      <span class="di-item food-ft" *ngFor="let allergy of setAllergies(item.profile.allergies)">
                        <i class="al-other" [class.al-celery]="allergy=='Celery'"
                          [class.al-crustaceans]="allergy=='Crustaceans'" [class.al-glutten]="allergy=='Gluten'"
                          [class.al-lupin]="allergy=='Lupin'" [class.al-molluscs]="allergy=='Molluscs'"
                          [class.al-mustard]="allergy=='Mustard'" [class.al-peanut]="allergy=='Peanuts'"
                          [class.al-sesame]="allergy=='Sesame'" [class.al-soy]="allergy=='Soya'"
                          [class.al-sulphite]="allergy=='Sulphites'" [class.al-treenut]="allergy=='Treenuts'"
                          [class.al-wheat]="allergy=='Wheat'"></i>
                        {{allergy}}</span>
                    </span>



                  </div>



                </ion-col>



                <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.profile">

                  <div class="seat-no-sec">
                    <ion-label>Seat no : <span>{{item.profile.seat_detail.name}}</span></ion-label>
                  </div>

                </ion-col> -->



                <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                  *ngIf="item.order&&item.order.length&&item.order[0].order_items.length||item.additional_order&&item.additional_order.length">

                  <div class="din-inner-control-sec">


                    <ion-label>Order details</ion-label>

                    <div class="din-btn-box" *ngIf="edit">

                      
                      <ion-button class="select-all-item-btn" (click)="serveAll(item,i,j)"
                        *ngIf="item.servestatus=='default'">

                        <ion-icon name="checkmark-done"></ion-icon>

                      </ion-button>

                      <ion-button (click)="addItems(item)" *ngIf="serving_order==1&&order&&item.servestatus!=='refused'">

                        <img src="/assets/dining/dining-edit-icon.svg">

                      </ion-button>
                      <ion-button class="more-option-btn" (click)="undoRefuse(item,$event,i,j)" *ngIf="item.servestatus=='refused'">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                      </ion-button>
                      <ion-button class="more-option-btn" (click)="unserve(item,$event,i,j)"
                        *ngIf="item.servestatus=='served'">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                      </ion-button>

                    </div>


                  </div>

                </ion-col>

                <ng-container *ngIf="item.order&&item.order.length&&item.order[0].order_items.length">
                  <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                    *ngFor="let order of item.order[0].order_items;let in=index">

                    <div class="din-order-box"
                      [class.din-order-box-selected]="showSelectedItems(order.id)||order.serving_status==1||selected.includes(order.id)"
                      (click)="selectItems(item,order.id,order.order_id,1,order,i,in,j)">

                      <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                      <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>
                      <div class="fi-color-strip mild-thick">

                      </div>

                      <ion-grid>

                        <ion-row>

                          <ion-col size="3" class="col-fit">

                            <img class="din-o-fi-img" [src]="order.menu_meta.itemdetails.image">

                          </ion-col>

                          <ion-col size="9">

                            <ion-label class="din-o-fi-name">
                              {{order.menu_meta.itemdetails.item_name}}
                            </ion-label>

                            <div class="din-o-fi-other-options">

                              <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                (click)="changeCount(item,order,i,in,1,$event,j); $event.stopPropagation()">
                                {{order.served_quantity}}
                              </span>

                              <span class="din-o-fi-meal-size" *ngIf="order.size">
                                {{order.size.meal_size.substring(0,1)}}
                              </span>

                              <span class="din-o-fi-meal-option"
                                *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                <i class="las la-clipboard-list"></i>
                              </span>

                              <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                <img src="/assets/dining/dining-comments-icon.svg">

                              </ion-button>

                            </div>



                          </ion-col>
                         
                        </ion-row>

                      </ion-grid>

                    </div>

                  </ion-col>

                </ng-container>

                <ng-container *ngIf="item.additional_order&&item.additional_order.length">
                  <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                    *ngFor="let order of item.additional_order;let in=index">

                    <div class="din-order-box"
                      [class.din-order-box-selected]="showSelectedItems(order.item.id)||order.serving_status==1||selected.includes(order.id)"
                      (click)="selectItems(item,order.id,order.order_id,2,order,i,in,j)">

                      <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                      <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>
                      <div class="fi-color-strip mild-thick">

                      </div>

                      <ion-grid>

                        <ion-row>

                          <ion-col size="3" class="col-fit">

                            <img class="din-o-fi-img" [src]="order.item.image">

                          </ion-col>

                          <ion-col size="9">

                            <ion-label class="din-o-fi-name">
                              {{order.item.item_name}}
                            </ion-label>

                            <div class="din-o-fi-other-options">

                              <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                (click)="changeCount(item,order,i,in,2,$event,j); $event.stopPropagation()">
                                {{order.served_quantity}}
                              </span>

                              <span class="din-o-fi-meal-size" *ngIf="order.size">
                                {{order.size.meal_size.substring(0,1)}}
                              </span>

                              <span class="din-o-fi-meal-option"
                                *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                <i class="las la-clipboard-list"></i>
                              </span>

                              <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                <img src="/assets/dining/dining-comments-icon.svg">

                              </ion-button>

                            </div>



                          </ion-col>

                        </ion-row>

                      </ion-grid>

                    </div>

                  </ion-col>

                </ng-container>

              </ng-container>
            </ion-row>
            <ng-container *ngIf="ele.expanded">
              <ion-label class="din-serving-remarks"
                *ngIf="item.servestatus=='refused'&&item.order&&item.order.length&&item.order[0].refuse_reason">
                {{item.order[0].refuse_reason}}</ion-label>
              <ion-label class="din-serving-remarks"
                *ngIf="item.servestatus=='refused'&&item.order&&item.order.length&&item.order[0].refuse_comment">
                {{item.order[0].refuse_comment}}</ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==1)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==1)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed full meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==2)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==2)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed most of the meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==3)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==3)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed half of the meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==4)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==4)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed little of the meal
              </ion-label>

              <ion-row [class.doNotShow]="item.isleave==1||(item.order.length&&item.order[0].refuse_status==1)"
                *ngIf="(item.servestatus=='default'||item.servestatus=='')&&(((item.order&&item.order.length&&item.order[0].order_items.length)||(item.additional_order&&item.additional_order.length))&&(selectedItem[0].Resident==0&&selectedAdd[0].Resident==0))&&edit">

                <ion-col size="12" class="din-o-button-controls-sec">

                  <ion-button class="served-btn" (click)="serve(item,i,j)">Served</ion-button>
                  
                  <ion-button class="refused-btn" (click)="refuse(item,i,j)">Refused</ion-button>

                  <ion-button class="leave-btn" (click)="leave(item,i,j)">Leave</ion-button>

                </ion-col>

              </ion-row>
              <ion-row [class.doNotShow]="item.servestatus=='refused'||item.isleave==1||(item.order.length&&item.order[0].refuse_status==1)"
                *ngIf="(item.servestatus=='served'&&(selectedItem[0].Resident!=0||selectedAdd[0].Resident!=0))&&edit">

                <ion-col size="12" class="din-o-button-controls-sec">

                  <ion-button class="served-btn" (click)="serve(item,i,j)">Served</ion-button>
                
                </ion-col>

              </ion-row>

              <ion-row>
                <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                  *ngIf="(!item.order||item.order.length==0||item.order[0].order_items.length==0)&&(!item.additional_order||item.additional_order.length==0)&&item.isleave==0&&serving_order==1">

                  <div class="din-inner-control-sec">
                    <ion-label>Order not confirmed !</ion-label>
                    <ion-button class="order-now-btn" (click)="addItems(item)" *ngIf="order">Order now</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ng-container>
          </ion-grid>

        </ion-card>




        <ion-card class="din-consumer-info-card" [class.ribbon-leave]="item.isleave==1"
          [class.ribbon-served]="item.servestatus=='served'"
          [class.ribbon-refused]="item.servestatus=='refused'"
          [class.ribbon-consumed]="item.servestatus=='consumed'"
          *ngIf="item.servestatus=='served'&&status=='3'">

          <span class="seat-number-strip">

            <i class="las la-chair"></i>
            <ion-label>{{ele.res.seat_name}}</ion-label>

          </span>

          <ion-grid>

            <ion-row class="justify-sb">

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12" (click)="expandProfile(ele)">



                <ion-avatar class="consumer-pic">

                  <img src="{{item.profile.resident.user.profile_pic}}">

                </ion-avatar>

                <ion-label class="c-name">

                  {{item.user.name}}

                  <p class="room-no">{{item.room}} 
                    <span class="wing-name" *ngIf="item.wing&&rv!==1">{{item.wing.name}}</span>
                    <span class="wing-name" *ngIf="item.property_details&&item.property_details.contract_details&&item.property_details.contract_details.property&&item.property_details.contract_details.property.location&&rv==1">
                      {{item.property_details.contract_details.property.location.name}}
                    </span>
                  </p>

                </ion-label>
                <div class="icons-block">

                  <ion-icon class="other-info-icon" name="information-sharp" *ngIf="item.profile"
                    (click)="dietaryPreference(item.profile); $event.stopPropagation()"></ion-icon>

                  <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>
                  <ion-icon class="mo-icon" name="ellipsis-vertical" *ngIf="edit" (click)="removeSeat(item,$event,t); $event.stopPropagation()"></ion-icon>
                </div>



              </ion-col>

              <ng-container *ngIf="ele.expanded">

                <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.profile">

                  <div class="diet-info-box">


                    <span class="dflex flexwrap-wrap"
                      *ngIf="item.profile.diet_type&&item.profile.diet_type.length"><span
                        class="di-item diabetic"
                        *ngFor="let dt of item.profile.diet_type">{{dt.diet_details.diet_type_name}}
                        diet</span></span>
                    <span class="di-item regular"
                      *ngIf="item.profile&&item.profile.food_texture">{{item.profile.food_texture.food_texture}}</span>

                    <span class="di-item mildly-thick"
                      *ngIf="item.profile&&item.profile.fluid_texture">{{item.profile.fluid_texture.food_texture}}</span>

                    <span class="di-item msm"
                      *ngIf="item.profile&&item.profile.meal_size">{{item.profile.meal_size.meal_size}}
                      sized meal</span>

                    <span class="allergy-sec" *ngIf="item.profile.allergies">

                      <span class="di-item food-ft" *ngFor="let allergy of setAllergies(item.profile.allergies)">
                        <i class="al-other" [class.al-celery]="allergy=='Celery'"
                          [class.al-crustaceans]="allergy=='Crustaceans'" [class.al-glutten]="allergy=='Gluten'"
                          [class.al-lupin]="allergy=='Lupin'" [class.al-molluscs]="allergy=='Molluscs'"
                          [class.al-mustard]="allergy=='Mustard'" [class.al-peanut]="allergy=='Peanuts'"
                          [class.al-sesame]="allergy=='Sesame'" [class.al-soy]="allergy=='Soya'"
                          [class.al-sulphite]="allergy=='Sulphites'" [class.al-treenut]="allergy=='Treenuts'"
                          [class.al-wheat]="allergy=='Wheat'"></i>
                        {{allergy}}</span>
                    </span>



                  </div>



                </ion-col>



                <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.profile">

                  <div class="seat-no-sec">
                    <ion-label>Seat no : <span>{{item.profile.seat_detail.name}}</span></ion-label>
                  </div>

                </ion-col> -->



                <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                  *ngIf="item.order&&item.order.length&&item.order[0].order_items.length||item.additional_order&&item.additional_order.length">

                  <div class="din-inner-control-sec">


                    <ion-label>Order details</ion-label>

                    <div class="din-btn-box" *ngIf="edit">

                      
                      <ion-button class="select-all-item-btn" (click)="serveAll(item,i,j)"
                        *ngIf="item.servestatus=='default'">

                        <ion-icon name="checkmark-done"></ion-icon>

                      </ion-button>

                      <ion-button (click)="addItems(item)" *ngIf="serving_order==1&&order&&item.servestatus!=='refused'">

                        <img src="/assets/dining/dining-edit-icon.svg">

                      </ion-button>
                      <ion-button class="more-option-btn" (click)="undoRefuse(item,$event,i,j)" *ngIf="item.servestatus=='refused'">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                      </ion-button>

                      <ion-button class="more-option-btn" (click)="unserve(item,$event,i,j)"
                        *ngIf="item.servestatus=='served'">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                      </ion-button>

                    </div>


                  </div>

                </ion-col>

                <ng-container *ngIf="item.order&&item.order.length&&item.order[0].order_items.length">
                  <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                    *ngFor="let order of item.order[0].order_items;let in=index">

                    <div class="din-order-box"
                      [class.din-order-box-selected]="showSelectedItems(order.id)||order.serving_status==1||selected.includes(order.id)"
                      (click)="selectItems(item,order.id,order.order_id,1,order,i,in,j)">

                      <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                      <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>
                      <div class="fi-color-strip mild-thick">

                      </div>

                      <ion-grid>

                        <ion-row>

                          <ion-col size="3" class="col-fit">

                            <img class="din-o-fi-img" [src]="order.menu_meta.itemdetails.image">

                          </ion-col>

                          <ion-col size="9">

                            <ion-label class="din-o-fi-name">
                              {{order.menu_meta.itemdetails.item_name}}
                            </ion-label>

                            <div class="din-o-fi-other-options">

                              <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                (click)="changeCount(item,order,i,in,1,$event,j); $event.stopPropagation()">
                                {{order.served_quantity}}
                              </span>

                              <span class="din-o-fi-meal-size" *ngIf="order.size">
                                {{order.size.meal_size.substring(0,1)}}
                              </span>

                              <span class="din-o-fi-meal-option"
                                *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                <i class="las la-clipboard-list"></i>
                              </span>

                              <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                <img src="/assets/dining/dining-comments-icon.svg">

                              </ion-button>

                            </div>



                          </ion-col>
                          
                        </ion-row>

                      </ion-grid>

                    </div>

                  </ion-col>

                </ng-container>

                <ng-container *ngIf="item.additional_order&&item.additional_order.length">
                  <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                    *ngFor="let order of item.additional_order;let in=index">

                    <div class="din-order-box"
                      [class.din-order-box-selected]="showSelectedItems(order.item.id)||order.serving_status==1||selected.includes(order.id)"
                      (click)="selectItems(item,order.id,order.order_id,2,order,i,in,j)">

                      <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                      <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>
                      <div class="fi-color-strip mild-thick">

                      </div>

                      <ion-grid>

                        <ion-row>

                          <ion-col size="3" class="col-fit">

                            <img class="din-o-fi-img" [src]="order.item.image">

                          </ion-col>

                          <ion-col size="9">

                            <ion-label class="din-o-fi-name">
                              {{order.item.item_name}}
                            </ion-label>

                            <div class="din-o-fi-other-options">

                              <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                (click)="changeCount(item,order,i,in,2,$event,j); $event.stopPropagation()">
                                {{order.served_quantity}}
                              </span>

                              <span class="din-o-fi-meal-size" *ngIf="order.size">
                                {{order.size.meal_size.substring(0,1)}}
                              </span>

                              <span class="din-o-fi-meal-option"
                                *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                <i class="las la-clipboard-list"></i>
                              </span>

                              <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                <img src="/assets/dining/dining-comments-icon.svg">

                              </ion-button>

                            </div>



                          </ion-col>

                        </ion-row>

                      </ion-grid>

                    </div>

                  </ion-col>

                </ng-container>

              </ng-container>
            </ion-row>
            <ng-container *ngIf="item.expanded">
              <ion-label class="din-serving-remarks"
                *ngIf="item.servestatus=='refused'&&item.order&&item.order.length&&item.order[0].refuse_reason">
                {{item.order[0].refuse_reason}}</ion-label>
              <ion-label class="din-serving-remarks"
                *ngIf="item.servestatus=='refused'&&item.order&&item.order.length&&item.order[0].refuse_comment">
                {{item.order[0].refuse_comment}}</ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==1)
                    ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==1)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed full meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==2)
                    ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==2)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed most of the meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==3)
                    ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==3)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed half of the meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==4)
                    ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==4)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed little of the meal
              </ion-label>

              <ion-row [class.doNotShow]="item.isleave==1||(item.order.length&&item.order[0].refuse_status==1)"
                *ngIf="(item.servestatus=='default'||item.servestatus=='')&&(((item.order&&item.order.length&&item.order[0].order_items.length)||(item.additional_order&&item.additional_order.length))&&(selectedItem[0].Resident==0&&selectedAdd[0].Resident==0))&&edit">

                <ion-col size="12" class="din-o-button-controls-sec">

                  <ion-button class="served-btn" (click)="serve(item,i,j)">Served</ion-button>
                  
                  <ion-button class="refused-btn" (click)="refuse(item,i,j)">Refused</ion-button>

                  <ion-button class="leave-btn" (click)="leave(item,i,j)">Leave</ion-button>

                </ion-col>

              </ion-row>
              <ion-row [class.doNotShow]="item.servestatus=='refused'||item.isleave==1||(item.order.length&&item.order[0].refuse_status==1)"
                *ngIf="(item.servestatus=='served'&&(selectedItem[0].Resident!=0||selectedAdd[0].Resident!=0))&&edit">

                <ion-col size="12" class="din-o-button-controls-sec">

                  <ion-button class="served-btn" (click)="serve(item,i,j)">Served</ion-button>
                
                </ion-col>

              </ion-row>

              <ion-row>
                <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                  *ngIf="(!item.order||item.order.length==0||item.order[0].order_items.length==0)&&(!item.additional_order||item.additional_order.length==0)&&item.isleave==0&&serving_order==1">

                  <div class="din-inner-control-sec">
                    <ion-label>Order not confirmed !</ion-label>
                    <ion-button class="order-now-btn" (click)="addItems(item)" *ngIf="order">Order now</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ng-container>
          </ion-grid>

        </ion-card>




        <ion-card class="din-consumer-info-card" [class.ribbon-leave]="item.isleave==1"
          [class.ribbon-served]="item.servestatus=='served'"
          [class.ribbon-refused]="item.servestatus=='refused'"
          [class.ribbon-consumed]="item.servestatus=='consumed'"
          *ngIf="item.servestatus=='refused'&&status=='4'">

          <span class="seat-number-strip">

            <i class="las la-chair"></i>
            <ion-label>{{ele.res.seat_name}}</ion-label>

          </span>

          <ion-grid>

            <ion-row class="justify-sb">

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12" (click)="expandProfile(ele)">



                <ion-avatar class="consumer-pic">

                  <img src="{{item.profile.resident.user.profile_pic}}">

                </ion-avatar>

                <ion-label class="c-name">

                  {{item.user.name}}

                  <p class="room-no">{{item.room}} 
                    <span class="wing-name" *ngIf="item.wing&&rv!==1">{{item.wing.name}}</span>
                    <span class="wing-name" *ngIf="item.property_details&&item.property_details.contract_details&&item.property_details.contract_details.property&&item.property_details.contract_details.property.location&&rv==1">
                      {{item.property_details.contract_details.property.location.name}}
                    </span>
                  </p>

                </ion-label>
                <div class="icons-block">

                  <ion-icon class="other-info-icon" name="information-sharp" *ngIf="item.profile"
                    (click)="dietaryPreference(item.profile); $event.stopPropagation()"></ion-icon>

                  <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>
                  <ion-icon class="mo-icon" name="ellipsis-vertical" *ngIf="edit" (click)="removeSeat(item,$event,t); $event.stopPropagation()"></ion-icon>
                </div>



              </ion-col>

              <ng-container *ngIf="ele.expanded">

                <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.profile">

                  <div class="diet-info-box">


                    <span class="dflex flexwrap-wrap"
                      *ngIf="item.profile.diet_type&&item.profile.diet_type.length"><span
                        class="di-item diabetic"
                        *ngFor="let dt of item.profile.diet_type">{{dt.diet_details.diet_type_name}}
                        diet</span></span>
                    <span class="di-item regular"
                      *ngIf="item.profile&&item.profile.food_texture">{{item.profile.food_texture.food_texture}}</span>

                    <span class="di-item mildly-thick"
                      *ngIf="item.profile&&item.profile.fluid_texture">{{item.profile.fluid_texture.food_texture}}</span>

                    <span class="di-item msm"
                      *ngIf="item.profile&&item.profile.meal_size">{{item.profile.meal_size.meal_size}}
                      sized meal</span>

                    <span class="allergy-sec" *ngIf="item.profile.allergies">

                      <span class="di-item food-ft" *ngFor="let allergy of setAllergies(item.profile.allergies)">
                        <i class="al-other" [class.al-celery]="allergy=='Celery'"
                          [class.al-crustaceans]="allergy=='Crustaceans'" [class.al-glutten]="allergy=='Gluten'"
                          [class.al-lupin]="allergy=='Lupin'" [class.al-molluscs]="allergy=='Molluscs'"
                          [class.al-mustard]="allergy=='Mustard'" [class.al-peanut]="allergy=='Peanuts'"
                          [class.al-sesame]="allergy=='Sesame'" [class.al-soy]="allergy=='Soya'"
                          [class.al-sulphite]="allergy=='Sulphites'" [class.al-treenut]="allergy=='Treenuts'"
                          [class.al-wheat]="allergy=='Wheat'"></i>
                        {{allergy}}</span>
                    </span>



                  </div>



                </ion-col>



                <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.profile">

                  <div class="seat-no-sec">
                    <ion-label>Seat no : <span>{{item.profile.seat_detail.name}}</span></ion-label>
                  </div>

                </ion-col> -->



                <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                  *ngIf="item.order&&item.order.length&&item.order[0].order_items.length||item.additional_order&&item.additional_order.length">

                  <div class="din-inner-control-sec">


                    <ion-label>Order details</ion-label>

                    <div class="din-btn-box" *ngIf="edit">


                      

                      <ion-button class="select-all-item-btn" (click)="serveAll(item,i,j)"
                        *ngIf="item.servestatus=='default'">

                        <ion-icon name="checkmark-done"></ion-icon>

                      </ion-button>

                      <ion-button (click)="addItems(item)" *ngIf="serving_order==1&&order&&item.servestatus!=='refused'">

                        <img src="/assets/dining/dining-edit-icon.svg">

                      </ion-button>
                      <ion-button class="more-option-btn" (click)="undoRefuse(item,$event,i,j)" *ngIf="item.servestatus=='refused'">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                      </ion-button>
                      <ion-button class="more-option-btn" (click)="unserve(item,$event,i,j)"
                        *ngIf="item.servestatus=='served'">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                      </ion-button>

                    </div>


                  </div>

                </ion-col>

                <ng-container *ngIf="item.order&&item.order.length&&item.order[0].order_items.length">
                  <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                    *ngFor="let order of item.order[0].order_items;let in=index">

                    <div class="din-order-box"
                      [class.din-order-box-selected]="showSelectedItems(order.id)||order.serving_status==1||selected.includes(order.id)"
                      (click)="selectItems(item,order.id,order.order_id,1,order,i,in,j)">

                      <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                      <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>
                      <div class="fi-color-strip mild-thick">

                      </div>

                      <ion-grid>

                        <ion-row>

                          <ion-col size="3" class="col-fit">

                            <img class="din-o-fi-img" [src]="order.menu_meta.itemdetails.image">

                          </ion-col>

                          <ion-col size="9">

                            <ion-label class="din-o-fi-name">
                              {{order.menu_meta.itemdetails.item_name}}
                            </ion-label>

                            <div class="din-o-fi-other-options">

                              <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                (click)="changeCount(item,order,i,in,1,$event,j); $event.stopPropagation()">
                                {{order.served_quantity}}
                              </span>

                              <span class="din-o-fi-meal-size" *ngIf="order.size">
                                {{order.size.meal_size.substring(0,1)}}
                              </span>

                              <span class="din-o-fi-meal-option"
                                *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                <i class="las la-clipboard-list"></i>
                              </span>

                              <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                <img src="/assets/dining/dining-comments-icon.svg">

                              </ion-button>

                            </div>



                          </ion-col>
                         
                        </ion-row>

                      </ion-grid>

                    </div>

                  </ion-col>

                </ng-container>

                <ng-container *ngIf="item.additional_order&&item.additional_order.length">
                  <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                    *ngFor="let order of item.additional_order;let in=index">

                    <div class="din-order-box"
                      [class.din-order-box-selected]="showSelectedItems(order.item.id)||order.serving_status==1||selected.includes(order.id)"
                      (click)="selectItems(item,order.id,order.order_id,2,order,i,in,j)">

                      <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                      <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>
                      <div class="fi-color-strip mild-thick">

                      </div>

                      <ion-grid>

                        <ion-row>

                          <ion-col size="3" class="col-fit">

                            <img class="din-o-fi-img" [src]="order.item.image">

                          </ion-col>

                          <ion-col size="9">

                            <ion-label class="din-o-fi-name">
                              {{order.item.item_name}}
                            </ion-label>

                            <div class="din-o-fi-other-options">

                              <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                (click)="changeCount(item,order,i,in,2,$event,j); $event.stopPropagation()">
                                {{order.served_quantity}}
                              </span>

                              <span class="din-o-fi-meal-size" *ngIf="order.size">
                                {{order.size.meal_size.substring(0,1)}}
                              </span>

                              <span class="din-o-fi-meal-option"
                                *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                <i class="las la-clipboard-list"></i>
                              </span>

                              <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                <img src="/assets/dining/dining-comments-icon.svg">

                              </ion-button>

                            </div>



                          </ion-col>

                        </ion-row>

                      </ion-grid>

                    </div>

                  </ion-col>

                </ng-container>

              </ng-container>
            </ion-row>
            <ng-container *ngIf="ele.expanded">
              <ion-label class="din-serving-remarks"
                *ngIf="item.servestatus=='refused'&&item.order&&item.order.length&&item.order[0].refuse_reason">
                {{item.order[0].refuse_reason}}</ion-label>
              <ion-label class="din-serving-remarks"
                *ngIf="item.servestatus=='refused'&&item.order&&item.order.length&&item.order[0].refuse_comment">
                {{item.order[0].refuse_comment}}</ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==1)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==1)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed full meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==2)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==2)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed most of the meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==3)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==3)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed half of the meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==4)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==4)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed little of the meal
              </ion-label>

              <ion-row [class.doNotShow]="item.isleave==1||(item.order.length&&item.order[0].refuse_status==1)"
                *ngIf="(item.servestatus=='default'||item.servestatus=='')&&(((item.order&&item.order.length&&item.order[0].order_items.length)||(item.additional_order&&item.additional_order.length))&&(selectedItem[0].Resident==0&&selectedAdd[0].Resident==0))&&edit">

                <ion-col size="12" class="din-o-button-controls-sec">

                  <ion-button class="served-btn" (click)="serve(item,i,j)">Served</ion-button>
                 
                  <ion-button class="refused-btn" (click)="refuse(item,i,j)">Refused</ion-button>

                  <ion-button class="leave-btn" (click)="leave(item,i,j)">Leave</ion-button>

                </ion-col>

              </ion-row>

              <ion-row [class.doNotShow]="item.servestatus=='refused'||item.isleave==1||(item.order.length&&item.order[0].refuse_status==1)"
                *ngIf="(item.servestatus=='served'&&(selectedItem[0].Resident!=0||selectedAdd[0].Resident!=0))&&edit">

                <ion-col size="12" class="din-o-button-controls-sec">

                  <ion-button class="served-btn" (click)="serve(item,i,j)">Served</ion-button>
                
                </ion-col>

              </ion-row>

              <ion-row>
                <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                  *ngIf="(!item.order||item.order.length==0||item.order[0].order_items.length==0)&&(!item.additional_order||item.additional_order.length==0)&&item.isleave==0&&serving_order==1">

                  <div class="din-inner-control-sec">
                    <ion-label>Order not confirmed !</ion-label>
                    <ion-button class="order-now-btn" (click)="addItems(item)" *ngIf="order">Order now</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ng-container>
          </ion-grid>

        </ion-card>




        <ion-card class="din-consumer-info-card" [class.ribbon-leave]="item.isleave==1"
          [class.ribbon-served]="item.servestatus=='served'"
          [class.ribbon-refused]="item.servestatus=='refused'"
          [class.ribbon-consumed]="item.servestatus=='consumed'" *ngIf="item.isleave==1&&status=='5'">

          <span class="seat-number-strip">

            <i class="las la-chair"></i>
            <ion-label>{{ele.res.seat_name}}</ion-label>

          </span>

          <ion-grid>

            <ion-row class="justify-sb">

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12" (click)="expandProfile(ele)">



                <ion-avatar class="consumer-pic">

                  <img src="{{item.profile.resident.user.profile_pic}}">

                </ion-avatar>

                <ion-label class="c-name">

                  {{item.user.name}}

                  <p class="room-no">{{item.room}}
                    <span class="wing-name" *ngIf="item.wing&&rv!==1">{{item.wing.name}}</span>
                    <span class="wing-name" *ngIf="item.property_details&&item.property_details.contract_details&&item.property_details.contract_details.property&&item.property_details.contract_details.property.location&&rv==1">
                      {{item.property_details.contract_details.property.location.name}}
                    </span>
                  </p>

                </ion-label>
                <div class="icons-block">

                  <ion-icon class="other-info-icon" name="information-sharp" *ngIf="item.profile"
                    (click)="dietaryPreference(item.profile); $event.stopPropagation()"></ion-icon>

                  <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>
                  <ion-icon class="mo-icon" name="ellipsis-vertical" *ngIf="edit" (click)="removeSeat(item,$event,t); $event.stopPropagation()"></ion-icon>
                </div>



              </ion-col>

              <ng-container *ngIf="ele.expanded">

                <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.profile">

                  <div class="diet-info-box">


                    <span class="dflex flexwrap-wrap"
                      *ngIf="item.profile.diet_type&&item.profile.diet_type.length"><span
                        class="di-item diabetic"
                        *ngFor="let dt of item.profile.diet_type">{{dt.diet_details.diet_type_name}}
                        diet</span></span>
                    <span class="di-item regular"
                      *ngIf="item.profile&&item.profile.food_texture">{{item.profile.food_texture.food_texture}}</span>

                    <span class="di-item mildly-thick"
                      *ngIf="item.profile&&item.profile.fluid_texture">{{item.profile.fluid_texture.food_texture}}</span>

                    <span class="di-item msm"
                      *ngIf="item.profile&&item.profile.meal_size">{{item.profile.meal_size.meal_size}}
                      sized meal</span>

                    <span class="allergy-sec" *ngIf="item.profile.allergies">

                      <span class="di-item food-ft" *ngFor="let allergy of setAllergies(item.profile.allergies)">
                        <i class="al-other" [class.al-celery]="allergy=='Celery'"
                          [class.al-crustaceans]="allergy=='Crustaceans'" [class.al-glutten]="allergy=='Gluten'"
                          [class.al-lupin]="allergy=='Lupin'" [class.al-molluscs]="allergy=='Molluscs'"
                          [class.al-mustard]="allergy=='Mustard'" [class.al-peanut]="allergy=='Peanuts'"
                          [class.al-sesame]="allergy=='Sesame'" [class.al-soy]="allergy=='Soya'"
                          [class.al-sulphite]="allergy=='Sulphites'" [class.al-treenut]="allergy=='Treenuts'"
                          [class.al-wheat]="allergy=='Wheat'"></i>
                        {{allergy}}</span>
                    </span>



                  </div>



                </ion-col>



                <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="item.profile">

                  <div class="seat-no-sec">
                    <ion-label>Seat no : <span>{{item.profile.seat_detail.name}}</span></ion-label>
                  </div>

                </ion-col> -->



                <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                  *ngIf="item.order&&item.order.length&&item.order[0].order_items.length||item.additional_order&&item.additional_order.length">

                  <div class="din-inner-control-sec">


                    <ion-label>Order details</ion-label>

                    <div class="din-btn-box" *ngIf="edit">

                     



                      <ion-button class="select-all-item-btn" (click)="serveAll(item,i,j)"
                        *ngIf="item.servestatus=='default'">

                        <ion-icon name="checkmark-done"></ion-icon>

                      </ion-button>

                      <ion-button (click)="addItems(item)" *ngIf="serving_order==1&&order&&item.servestatus!=='refused'">

                        <img src="/assets/dining/dining-edit-icon.svg">

                      </ion-button>
                      <ion-button class="more-option-btn" (click)="undoRefuse(item,$event,i,j)" *ngIf="item.servestatus=='refused'">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                      </ion-button>
                      <ion-button class="more-option-btn" (click)="unserve(item,$event,i,j)"
                        *ngIf="item.servestatus=='served'">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                      </ion-button>

                    </div>


                  </div>

                </ion-col>

                <ng-container *ngIf="item.order&&item.order.length&&item.order[0].order_items.length">
                  <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                    *ngFor="let order of item.order[0].order_items;let in=index">

                    <div class="din-order-box"
                      [class.din-order-box-selected]="showSelectedItems(order.id)||order.serving_status==1||selected.includes(order.id)"
                      (click)="selectItems(item,order.id,order.order_id,1,order,i,in,j)">

                      <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                      <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>
                      <div class="fi-color-strip mild-thick">

                      </div>

                      <ion-grid>

                        <ion-row>

                          <ion-col size="3" class="col-fit">

                            <img class="din-o-fi-img" [src]="order.menu_meta.itemdetails.image">

                          </ion-col>

                          <ion-col size="9">

                            <ion-label class="din-o-fi-name">
                              {{order.menu_meta.itemdetails.item_name}}
                            </ion-label>

                            <div class="din-o-fi-other-options">

                              <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                (click)="changeCount(item,order,i,in,1,$event,j); $event.stopPropagation()">
                                {{order.served_quantity}}
                              </span>

                              <span class="din-o-fi-meal-size" *ngIf="order.size">
                                {{order.size.meal_size.substring(0,1)}}
                              </span>

                              <span class="din-o-fi-meal-option"
                                *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                <i class="las la-clipboard-list"></i>
                              </span>

                              <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                <img src="/assets/dining/dining-comments-icon.svg">

                              </ion-button>

                            </div>



                          </ion-col>
                          
                        </ion-row>

                      </ion-grid>

                    </div>

                  </ion-col>

                </ng-container>

                <ng-container *ngIf="item.additional_order&&item.additional_order.length">
                  <ion-col size-sm="12" size-md="6" size-lg="6" size="12"
                    *ngFor="let order of item.additional_order;let in=index">

                    <div class="din-order-box"
                      [class.din-order-box-selected]="showSelectedItems(order.item.id)||order.serving_status==1||selected.includes(order.id)"
                      (click)="selectItems(item,order.id,order.order_id,2,order,i,in,j)">

                      <span class="served-status-tag" *ngIf="order.serving_status==1">Served</span>
                      <span class="consumed-status-tag" *ngIf="order.serving_status==3">Consumed</span>
                      <div class="fi-color-strip mild-thick">

                      </div>

                      <ion-grid>

                        <ion-row>

                          <ion-col size="3" class="col-fit">

                            <img class="din-o-fi-img" [src]="order.item.image">

                          </ion-col>

                          <ion-col size="9">

                            <ion-label class="din-o-fi-name">
                              {{order.item.item_name}}
                            </ion-label>

                            <div class="din-o-fi-other-options">

                              <span class="din-o-fi-quantity" *ngIf="order.served_quantity"
                                (click)="changeCount(item,order,i,in,2,$event,j); $event.stopPropagation()">
                                {{order.served_quantity}}
                              </span>

                              <span class="din-o-fi-meal-size" *ngIf="order.size">
                                {{order.size.meal_size.substring(0,1)}}
                              </span>

                              <span class="din-o-fi-meal-option"
                                *ngIf="order.items_selected_options&&order.items_selected_options.length"
                                (click)="showOptions(order.items_selected_options,$event); $event.stopPropagation()">
                                <i class="las la-clipboard-list"></i>
                              </span>

                              <ion-button class="din-serving-comment-icon" *ngIf="order.comment"
                                (click)="showComment(order.comment,$event); $event.stopPropagation()">

                                <img src="/assets/dining/dining-comments-icon.svg">

                              </ion-button>

                            </div>



                          </ion-col>

                        </ion-row>

                      </ion-grid>

                    </div>

                  </ion-col>

                </ng-container>

              </ng-container>
            </ion-row>
            <ng-container *ngIf="ele.expanded">
              <ion-label class="din-serving-remarks"
                *ngIf="item.servestatus=='refused'&&item.order&&item.order.length&&item.order[0].refuse_reason">
                {{item.order[0].refuse_reason}}</ion-label>
              <ion-label class="din-serving-remarks"
                *ngIf="item.servestatus=='refused'&&item.order&&item.order.length&&item.order[0].refuse_comment">
                {{item.order[0].refuse_comment}}</ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==1)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==1)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed full meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==2)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==2)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed most of the meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='consumed'&&item.order[0].order_items[0].served_portion==3)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='consumed'&&item.additional_order[0].served_portion==3)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed half of the meal
              </ion-label>
              <ion-label class="din-serving-remarks fc-info"
                *ngIf="(item.order&&item.order.length&&item.order[0].order_items&&item.order[0].order_items.length&&item.servestatus=='served'&&item.order[0].order_items[0].served_portion==4)
                                ||(item.additional_order&&item.additional_order.length&&item.servestatus=='served'&&item.additional_order[0].served_portion==4)">
                <ion-icon name="checkmark-circle-outline"></ion-icon> Consumed little of the meal
              </ion-label>

              <ion-row [class.doNotShow]="item.isleave==1||(item.order.length&&item.order[0].refuse_status==1)"
                *ngIf="(item.servestatus=='default'||item.servestatus=='')&&(((item.order&&item.order.length&&item.order[0].order_items.length)||(item.additional_order&&item.additional_order.length))&&(selectedItem[0].Resident==0&&selectedAdd[0].Resident==0))&&edit">

                <ion-col size="12" class="din-o-button-controls-sec">

                  <ion-button class="served-btn" (click)="serve(item,i,j)">Served</ion-button>
                  
                  <ion-button class="refused-btn" (click)="refuse(item,i,j)">Refused</ion-button>

                  <ion-button class="leave-btn" (click)="leave(item,i,j)">Leave</ion-button>

                </ion-col>

              </ion-row>
              <ion-row [class.doNotShow]="item.servestatus=='refused'||item.isleave==1||(item.order.length&&item.order[0].refuse_status==1)"
              *ngIf="(item.servestatus=='served'&&(selectedItem[0].Resident!=0||selectedAdd[0].Resident!=0))&&edit">

              <ion-col size="12" class="din-o-button-controls-sec">

                <ion-button class="served-btn" (click)="serve(item,i,j)">Served</ion-button>
              
              </ion-col>

            </ion-row>
              <ion-row>
                <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
                  *ngIf="(!item.order||item.order.length==0||item.order[0].order_items.length==0)&&(!item.additional_order||item.additional_order.length==0)&&item.isleave==0&&serving_order==1">

                  <div class="din-inner-control-sec">
                    <ion-label>Order not confirmed !</ion-label>
                    <ion-button class="order-now-btn" (click)="addItems(item)" *ngIf="order">Order now</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ng-container>
          </ion-grid>

        </ion-card>


        



      </ion-col>
      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="!ele.res.seatres||ele.res.seatres.length==0">

      <ion-card class="din-consumer-info-card-vs"  (click)="assignSeat(ele.res,t,tab.table.id); $event.stopPropagation()" *ngIf="status=='1'&&edit">

        <span class="seat-number-strip">

          <i class="las la-chair"></i>
          <ion-label>{{ele.res.seat_name}}</ion-label>

        </span>

        <ion-grid >

          <ion-row class="justify-sb" >

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

              <ion-avatar class="vacant-seat">

                <i class="las la-chair"></i>

              </ion-avatar>

              

            </ion-col>

          </ion-row>

        </ion-grid>


</ion-card>

</ion-col>


      
    </ng-container>
    <ion-label class="seats-available-label" *ngIf="!residents||residents.length==0">No residents
      assigned to this table</ion-label>
      <ion-label class="seats-available-label" *ngIf="status==1">{{tab.table.no_of_seats}} Seats</ion-label>
      

    </ion-row>

  </ion-grid>


</ng-container>

<!-- </ion-content>

<ion-content *ngIf="!details"> -->

<div *ngIf="!table">
  <ion-thumbnail 
    style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
    <img src="assets/dining/no-dining-menu.svg">
  </ion-thumbnail>

  <ion-item lines="none" color="none" style="margin-top: 25px;" >
    <ion-label
      style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
      No Tables available.</ion-label>
  </ion-item>
</div>


</ion-content>