.ion-header-inner {
    ion-toolbar {
        ion-row {
            ion-col {
                width: 100%;

                ion-label {
                    margin-left: 5px;
                }

                .page-close {
                    font-size: 30px;
                    margin-left: auto;
                }

                ion-searchbar {
                    color: #000;
                    --border-radius: 6px;
                    --background: #fff;
                    background: #fff;
                    border-radius: 6px;
                    margin-top: 10px;
                    height: 40px;
                }
            }
        }
    }
}

ion-content {
    --padding-start: 25px;
    --padding-end: 25px;
    --padding-top: 25px;
    --padding-bottom: 25px;
    --background: #fff;
}
