<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="ion-align-self-start page-name">
          <ion-label>Select country of birth</ion-label>
          <ion-icon class="page-close" name="close-circle" (click)="dismiss()"></ion-icon>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12">

          <ion-searchbar class="hdr-task-searchbar" [(ngModel)]="terms" (ionCancel)="cancel()"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<div class="inner-content">
  <ng-container *ngIf="countries.length&&(countries |messagesearch:terms) as result">
    

  <div class="country-list-sec">

    <div class="country-list-item" [class.selected]="birth_country==item.id" *ngFor="let item of countries |messagesearch:terms" (click)="select(item)">

      <ion-text class="country-name">{{item.name}}</ion-text>
      <ion-icon class="selected-checkmark" name="checkmark-circle" *ngIf="birth_country==item.id"></ion-icon>

    </div>

    

  </div>

  <div *ngIf="result.length==0">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-data-icon.svg">
    </ion-thumbnail>
  
    <ion-item lines="none" style="margin-top: 5px;" color="none">
      <ion-label
        style="font-weight: 400; font-size:18px;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No data found.</ion-label>
    </ion-item>
  </div>
</ng-container>

</div>