<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()">
          </ion-icon>
          <ion-label>Create task</ion-label>
        </ion-col>

        <!-- <ion-col class="col-fit ion-align-self-end">
          <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button>
          <ion-button class="filter-task-btn">
            <ion-icon name="funnel-outline"></ion-icon>
          </ion-button>
        </ion-col> -->

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="task-creation-form">

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="task-form-label">Type <span class="asterisk">*</span></ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="type">
        <ion-select-option value="0">To-Do</ion-select-option>
        <ion-select-option value="1">Call</ion-select-option>
        <ion-select-option value="2">Email</ion-select-option>
      </ion-select>

      <!-- <ion-list color="none" class="rvct-radio-list">

        <ion-radio-group [(ngModel)]="type">

          <ion-item lines="none" color="none">
            <ion-radio value="0" mode="md"></ion-radio>
            <ion-label>To-Do</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-radio value="1" mode="md"></ion-radio>
            <ion-label>Call</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-radio value="2" mode="md"></ion-radio>
            <ion-label>Email</ion-label>
          </ion-item>

        </ion-radio-group>

      </ion-list> -->

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="task-form-label">Date & Time <span class="asterisk">*</span></ion-label>

      <span class="task-dt-box">

        <ion-datetime mode="ios ｜ md" displayFormat=" DD MMM YYYY, hh: mm A" [min]="date" [max]="2040"
           [(ngModel)]="date">
        </ion-datetime>

        <i class="las la-calendar"></i>

      </span>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="task-form-label">Priority <span class="asterisk">*</span></ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="priority">
        <ion-select-option value="2">High</ion-select-option>
        <ion-select-option value="1">Medium</ion-select-option>
        <ion-select-option value="0">Low</ion-select-option>
      </ion-select>

      <!-- <ion-list color="none" class="rvct-radio-list">

        <ion-radio-group [(ngModel)]="priority">

          <ion-item lines="none" color="none">
            <ion-radio value="2" mode="md"></ion-radio>
            <ion-label>High</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-radio value="1" mode="md"></ion-radio>
            <ion-label>Medium</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-radio value="0" mode="md"></ion-radio>
            <ion-label>Low</ion-label>
          </ion-item>

        </ion-radio-group>

      </ion-list> -->

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="task-form-label">Assigned to</ion-label>

      <!-- <ion-input></ion-input> -->

      <ion-button class="task-select-resident-btn" *ngIf="!assignedTo.length" (click)="openAssignedTo()">
        <ion-icon name="add-outline"></ion-icon> Select Assignees
      </ion-button>

      <div class="task-sres-block" *ngIf="assignedTo.length" (click)="openAssignedTo()">

        <div class="tsres-box">
          <ion-label> {{staff}}
            <ion-chip class="tsres-mc" *ngIf="assignedTo.length>2">+{{assignedTo.length-2}}</ion-chip>
          </ion-label>
        </div>

        <div class="tsres-controls-box" >

          <ion-button class="tsres-cb-edit-btn"><i class="las la-edit"></i></ion-button>

        </div>

      </div>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="task-form-label">Select Residents <span class="asterisk">*</span></ion-label>

      <!-- <ion-button class="task-select-resident-btn">
        <ion-icon name="add-outline"></ion-icon> Select
      </ion-button> -->

      <ng-container *ngIf="flag!==3">
      <div class="task-sres-block" *ngIf="!companian||!companian.length">

        <div class="tsres-box">
          <ion-label> {{consumer}} 
            <!-- <ion-chip class="tsres-mc">+10</ion-chip> -->
          </ion-label>
        </div>

       

      </div>


      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" multiple="true" [(ngModel)]="resident" *ngIf="companian&&companian.length">
        <ion-select-option value="{{item.user_details.user_id}}" *ngFor="let item of companian">{{item.user_details.name}}</ion-select-option>
       
      </ion-select>

    </ng-container>


    <ng-container *ngIf="flag==3">
    <ion-button class="task-select-resident-btn" *ngIf="!resident.length" (click)="openResident()">
      <ion-icon name="add-outline"></ion-icon> Select
    </ion-button>

    <div class="task-sres-block" *ngIf="resident.length" (click)="openResident()">

      <div class="tsres-box">
        <ion-label> {{resident_name}}
          <ion-chip class="tsres-mc" *ngIf="resident.length>2">+{{resident.length-2}}</ion-chip>
        </ion-label>
      </div>

      <div class="tsres-controls-box" >

        <ion-button class="tsres-cb-edit-btn"><i class="las la-edit"></i></ion-button>

      </div>

    </div>

    </ng-container>

    </ion-col>

  

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="task-form-label">Task title <span class="asterisk">*</span></ion-label>

      <ion-input [(ngModel)]="title"></ion-input>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12">

      <ion-label class="task-form-label">Description </ion-label>
      
      <ion-textarea class="mt-10" rows="5" [(ngModel)]="description"></ion-textarea>

    </ion-col>


  </ion-row>

</ion-content>

<ion-footer>

  <ion-item lines="none" color="none">

    <ion-button class="task-save-btn" (click)="save()">Save</ion-button>

    <ion-button class="task-cancel-btn" (click)="back()">Cancel</ion-button>

  </ion-item>

</ion-footer>