<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" [routerLink]="['/menu']"></ion-icon>
          <ion-label>Maintenance</ion-label>
        </ion-col>
        <!-- <ion-col class="col_fit">

          <ion-select class="status_change_select" [(ngModel)]="bname" (ionChange)="changeStatus(bname)"
            *ngIf="utype==1&&branchArray&&branchArray.length>1">
            <ion-select-option value="{{item.id}}" *ngFor="let item of branchArray">{{item.name}}</ion-select-option>

          </ion-select>

        </ion-col> -->
        <ion-col class="col_fit">
          <ion-button class="header_btn_bg filter-btn" (click)="filterRequest($event)">
            <!-- <ion-icon name="funnel-outline" style="color: white;"></ion-icon> -->
            <i class="las la-filter"></i>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col>

          <ion-searchbar class="clife-search-bar" placeholder="Search requests" (ionCancel)="cancel()"
            [(ngModel)]="terms" (ionChange)="search()">
          </ion-searchbar>

        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-maintenance-content d-none">

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fxd-top">

    <ion-grid>

      <ion-row>

        <!-- <ion-col class="col-fit">

          <ion-select class="status_change_select" [(ngModel)]="bname" (ionChange)="changeStatus(bname)"
            *ngIf="utype==1&&branchArray&&branchArray.length>1">
            <ion-select-option value="{{item.id}}" *ngFor="let item of branchArray">{{item.name}}</ion-select-option>
          </ion-select>

        </ion-col> -->

        <ion-col>
          <ion-label class="book_maintenance-btn" (click)="createReq()">
            <ion-icon class="newmaintenance-icon"></ion-icon> &nbsp; New Request
          </ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-fab>

  <!-- <ion-label class="book_maintenance-btn" (click)="createReq()" >
    <ion-icon class="newmaintenance-icon"></ion-icon> &nbsp; New Request
  </ion-label> -->
  <!-- <ion-item color="none" lines="none" class="mb-10">
    
    <ion-label class="maintenance_list_date">
      Today
    </ion-label>

  </ion-item> -->

  <ion-grid class="mt-50">

    <ion-row>

      <!-- <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngFor="let item of request">

        <ion-card (click)="gotoDetails(item.id)">

          <ion-card-header [class.pending]="item.status==0" [class.in-progress]="item.status==1" [class.with-third-party]="item.status==2" [class.closed]="item.status==3" [class.reopened]="item.status==4" [class.waiting_for_feedback]="item.status==5">

            <ion-grid>

              <ion-row>

                <ion-col size="4">
                  <ion-label>#{{item.reference_id}}</ion-label>
                </ion-col>

                <ion-col size="8">
                  <ion-label *ngIf="item.status==0">Pending</ion-label>
                  <ion-label *ngIf="item.status==1">In progress</ion-label>
                  <ion-label *ngIf="item.status==2">With third party</ion-label>
                  <ion-label *ngIf="item.status==3">Closed</ion-label>
                  <ion-label *ngIf="item.status==4">Reopened</ion-label>
                  <ion-label *ngIf="item.status==5">Waiting for feedback</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb_20">

              <ion-label class="maintenance-problem">{{item.request_title}}</ion-label>

            </ion-item>


              <span class="urgent-tag" *ngIf="item.priority==2">

                <ion-icon name="alert-circle-outline"></ion-icon>
                <p>Urgent</p>

              </span>


            <ion-grid>

              <ion-row class="mb_20">

                <ion-col size="6">

                  <ion-label class="maintenance-priority">
                    Priority: <span *ngIf="item.priority==0">Low</span>
                    <span *ngIf="item.priority==1">Medium</span>
                    <span *ngIf="item.priority==2">Urgent</span>
                  </ion-label>

                  <ion-item class="priority-graph" [class.low-priority-graph]="item.priority==0" [class.medium-priority-graph]="item.priority==1"
                  [class.urgent-priority-graph]="item.priority==2" color="none" lines="none">
                    <span></span>
                    <span></span>
                    <span></span>
                    
                  </ion-item>

                </ion-col>
                
                <ion-col style="padding-inline-start: 0px;" class="maintenance_bookingdate">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>{{item.due_date | dateformat : 'DD MMM yyyy'}}</ion-label>
                </ion-col>

              </ion-row>

              <ion-row >

                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <ion-label class="maintenance_room_number">{{item.location}}</ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col> -->

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngFor="let item of request">

        <ion-card (click)="gotoDetails(item.id)">

          <ion-card-header [class.pending]="item.status==0" [class.in-progress]="item.status==1"
            [class.with-third-party]="item.status==2" [class.closed]="item.status==3" [class.reopened]="item.status==4"
            [class.waiting_for_feedback]="item.status==5">

            <ion-grid>

              <ion-row>

                <ion-col>
                  <ion-label>#{{item.reference_id}}</ion-label>
                </ion-col>

                <ion-col>
                  <ion-label *ngIf="item.status==0">Open</ion-label>
                  <ion-label *ngIf="item.status==1">In progress</ion-label>
                  <ion-label *ngIf="item.status==2">With third party</ion-label>
                  <ion-label *ngIf="item.status==3">Closed</ion-label>
                  <!-- <ion-label *ngIf="item.status==4">Reopened</ion-label>
                  <ion-label *ngIf="item.status==5">Waiting for feedback</ion-label> -->
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-header>

          <ion-card-content>

            <ion-item color="none" lines="none" class="mb-10">

              <ion-label class="maintenance-problem">{{item.request_title.substring(0,79)}}</ion-label>
              <span *ngIf="item.request_title.length>79">...</span>
            </ion-item>

            <span class="urgent-tag" *ngIf="item.priority==2">

              <ion-icon name="alert-circle-outline"></ion-icon>
              <p>Urgent</p>

            </span>

            <ion-grid>
              <ion-row class="mb-10" *ngIf="!item.assignee||!item.assignee.length">

                <ion-col size="12">

                  <ion-label class="naf-label">No Assignees found</ion-label>

                </ion-col>

              </ion-row>

              <ion-row class="mb-20 font-opensans">

                <ion-col size="6">

                  <ion-label class="maintenance-priority">
                    Priority: <span *ngIf="item.priority==0">Low</span>
                    <span *ngIf="item.priority==1">Medium</span>
                    <span *ngIf="item.priority==2">Urgent</span>
                  </ion-label>

                  <ion-item class="priority-graph" [class.low-priority-graph]="item.priority==0"
                    [class.medium-priority-graph]="item.priority==1" [class.urgent-priority-graph]="item.priority==2"
                    color="none" lines="none">
                    <span></span>
                    <span></span>
                    <span></span>

                  </ion-item>

                </ion-col>


                <ion-col style="padding-inline-start: 0px;" class="maintenance_bookingdate ml-auto">
                  <ion-icon name="calendar-outline"></ion-icon>
                  <ion-label>{{item.due_date | dateformat : 'DD MMM yyyy'}}</ion-label>
                </ion-col>



              </ion-row>

              <ion-row class="font-opensans">
                <ion-col size="6">
                  <ion-icon class="buiding_icon"></ion-icon>
                  <!-- <ion-label class="maintenance_room_number">{{item.location}}</ion-label> -->
                  <ion-label class="maintenance_room_number" *ngIf="item.location">{{item.location.substring(0,20)}}
                    <span *ngIf="item.location.length>20">...</span>
                  </ion-label>
                  <ion-label class="maintenance_room_number" *ngIf="!item.location&&item.locationdetails">
                    {{item.locationdetails.name.substring(0,20)}}
                    <span *ngIf="item.locationdetails.name.length>20">...</span></ion-label>
                </ion-col>

                <ion-col size="6" class="ml-auto">
                  <ion-label class="maintenance_branch">{{item.branch.name.substring(0,20)}}
                    <span *ngIf="item.branch.name.length>20">...</span>
                  </ion-label>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card-content>

        </ion-card>

      </ion-col>


     

    </ion-row>

  </ion-grid>

  <!-- <div *ngIf="!hideLoader"> -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!filter">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-infinite-scroll (ionInfinite)="doInfiniteFilter($event)" *ngIf="filter">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- </div> -->


  <div *ngIf="request.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-maintenance.png">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 15px;">
      <ion-label
        style="font-weight: 400; font-size:18px;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Maintenance Request Found.</ion-label>
    </ion-item>
  </div>

</ion-content>

<ion-content>

  <div class="maintenance-list-sec">

    <div class="site-switch-holder">

      <ion-icon name="business-outline" class="site-icon"></ion-icon>

      <div class="sitename-holder">
        <ion-text class="sitename">{{branch_name}}</ion-text>
        <!-- <ion-icon class="chevron-down" name="chevron-down"></ion-icon> -->
      </div>

    </div>

    <ion-row>

      <ion-col size="12" size-sm="12" size-md="6" size-lg="6" *ngFor="let item of request">

        <ion-card class="maintenance-list-card" (click)="gotoDetails(item.id)">

          <ion-card-header class="ml-card-header" [class.job-open]="item.status==0"
            [class.job-in-progress]="item.status==1" [class.job-wtp]="item.status==2"
            [class.job-closed]="item.status==3" [class.job-reopened]="item.status==4" [class.job-wff]="item.status==5">

            <div class="mlch-inner-left-block">

              <ion-text class="job-id">#{{item.reference_id}}</ion-text>

            </div>

            <div class="mlch-inner-right-block">

              <ion-text class="job-status" *ngIf="item.status==0">Open</ion-text>
              <ion-text class="job-status" *ngIf="item.status==1">In progress</ion-text>
              <ion-text class="job-status" *ngIf="item.status==2">With third party</ion-text>
              <ion-text class="job-status" *ngIf="item.status==3">Closed</ion-text>

            </div>

          </ion-card-header>

          <ion-card-content class="ml-card-content">

            <div class="ml-cc-item">

              <ion-text class="job-title">{{item.request_title.substring(0,79)}}</ion-text>
              <span class="more-text-dots" *ngIf="item.request_title.length>79">...</span>

            </div>

            <div class="ml-cc-item">

              <div class="job-assignees-block">

                <div class="jab-inner-left-block">

                  <img class="job-assignee-icon" src="/assets/maintenance/new/job-assignee-icon.svg">

                </div>

                <div class="jab-inner-right-block">

                  <div class="job-assignee-info-holder">

                    <ion-text class="assigned-to-txt">Assigned to</ion-text>

                    <ng-container *ngIf="!item.assignee||!item.assignee.length">
                      <ion-text class="no-assignees-found-txt">No assignees found</ion-text>
                    </ng-container>

                    <div class="assignee-name-holder" *ngIf="item.assignee&&item.assignee.length" (click)="assigned(item.assignee);$event.stopPropagation()">

                      <ion-text class="assignee-name">{{item.assignee[0].technician.name}}</ion-text>
                      <ion-text class="assignee-name" *ngIf="item.assignee.length>1">{{item.assignee[1].technician.name}}</ion-text>

                      <span class="more-assignees-count" *ngIf="item.assignee.length>2" >+{{item.assignee.length-2}}</span>

                    </div>

                  </div>

                </div>

              </div>

            </div>

            <div class="ml-cc-item">

              <div class="job-priority-block">

                <div class="jpb-inner-left-block">

                  <img class="jpb-icon" src="/assets/maintenance/new/job-status-icon.svg">

                </div>

                <div class="jpb-inner-right-block">

                  <div class="job-priority-info-holder">

                    <ion-text class="j-pr-low" *ngIf="item.priority==0">Low</ion-text>
                    <ion-text class="j-pr-medium" *ngIf="item.priority==1">Medium</ion-text>
                    <ion-text class="j-pr-high" *ngIf="item.priority==2">Urgent</ion-text>

                    <div class="j-pr-indicator-holder" [class.pr-low]="item.priority==0"
                      [class.pr-medium]="item.priority==1" [class.pr-high]="item.priority==2">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>

                  </div>

                </div>

              </div>

            </div>

            <div class="ml-cc-item" *ngIf="item.location||item.locationdetails">

              <div class="job-location-block">

                <div class="jlb-inner-left-block">

                  <img class="jlb-icon" src="/assets/maintenance/new/job-location-icon.svg">

                </div>

                <div class="jlb-inner-right-block">

                  <ion-text class="job-location-name"></ion-text>

                  <ion-text class="job-location-name" *ngIf="item.location">{{item.location.substring(0,20)}}
                    <span *ngIf="item.location.length>20">...</span>
                  </ion-text>

                  <ion-text class="job-location-name" *ngIf="!item.location&&item.locationdetails">
                    {{item.locationdetails.name.substring(0,20)}}
                    <span *ngIf="item.locationdetails.name.length>20">...</span>
                  </ion-text>

                  <span *ngIf="item.locationdetails&&item.locationdetails.parent">({{item.locationdetails.parent}})</span>

                </div>

              </div>

            </div>

            <div class="ml-cc-item">

              <div class="job-duedate-block">

                <div class="jddb-inner-left-block">

                  <img class="jddb-icon" src="/assets/maintenance/new/job-date-icon.svg">

                </div>

                <div class="jddb-inner-right-block">

                  <ion-text class="job-due-date">{{item.due_date | dateformat : 'DD MMM yyyy'}}</ion-text>

                </div>

              </div>

            </div>

          </ion-card-content>

        </ion-card>

      </ion-col>

    </ion-row>

  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!filter">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-infinite-scroll (ionInfinite)="doInfiniteFilter($event)" *ngIf="filter">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- </div> -->


  <div *ngIf="request.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-maintenance.png">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 15px;">
      <ion-label
        style="font-weight: 400; font-size:18px;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Maintenance Request Found.</ion-label>
    </ion-item>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="createReq()">
    <ion-fab-button class="create-maintenance-btn">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>