.filter-btn {
    --box-shadow: none;
    --border-radius: 50px;
    --background: #2d95cb;
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    color: #fff;
    font-size: 22px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

ion-card-header {
    ion-col {
        -webkit-padding-start: 0;
        padding-inline-start: 0;
        -webkit-padding-end: 0;
        padding-inline-end: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.fxd-top {
    width: 100%;
    background: #fff;
    display: flex;
    top: 0;
    right: 0;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .book_maintenance-btn {
        margin-bottom: 0;
        margin-top: 0;
    }
}

ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --background: #f2f2f2;
}

.ion-maintenance-content {
    ion-card {
        margin-top: 0px;
        margin-bottom: 0px;
        -webkit-margin-start: 0px;
        margin-inline-start: 0px;
        -webkit-margin-end: 0px;
        margin-inline-end: 0px;
    }
}

.ion-maintenance-content {
    -webkit-padding-start: 10px;
    padding-inline-start: 10px;
    -webkit-padding-end: 10px;
    padding-inline-end: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --background: #eee;

    .book_maintenance-btn {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        color: #fff;
        background-color: #0077b5;
        text-align: center;
        padding: 8px 15px 8px 12px;
        border-radius: 50px;
        display: flex;
        margin-left: auto;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin-bottom: 0px;
        align-items: center;
    }

    ion-card {
        box-shadow: none !important;
        background: #fff;
        border: 1px solid #dfdfdf;
        margin-bottom: 5px;

        ion-card-header {
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
        }

        .font-opensans {
            font-family: "Open Sans", sans-serif;
        }

        .ml-auto {
            margin-left: auto;
            text-align: right;
        }

        .maintenance_bookingdate {
            ion-icon {
                font-size: 20px !important;
            }
        }

        .buiding_icon {
            background-image: url(/assets/maintenance/building_icon.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 22px;
            vertical-align: bottom;
        }

        .maintenance_room_number {
            margin-left: 5px;
        }
    }
}

.naf-label {
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #cd1515;
}

.clife-search-bar {
    margin-top: 15px !important;
}

@media only screen and (min-width: 768px) {
    .ion-maintenance-content {
        ion-card {
            height: 100%;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-ios {
        padding-top: 15px;
    }
}

.create-maintenance-btn {
    --background:#0077b5;
}