<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Finance</ion-label>
        </ion-col>

        <ion-col class="col-fit header-buttons ion-align-self-end" size="4" *ngIf="create">

          <ion-icon name="add-outline" (click)="add()"></ion-icon>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="petty-cash-top-info-sec">

    <ion-item lines="none" color="none" class="top-consumer-info-sec">

      <ion-avatar slot="start">

        <img [src]="img">

      </ion-avatar>

      <ion-label>

        {{name}}

        <span>
          {{room}}
          <span>{{wing}}</span>
        </span>

      </ion-label>

    </ion-item>

    <ion-grid class="pcash-summary">

      <ion-row>

        <ion-col>
          <img src="assets/petty-cash-intro-img.svg">
        </ion-col>

        <ion-col>

          <ion-label>

            Available Balance

            <span>
              $ {{balance}}
            </span>

          </ion-label>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>


  <ion-item lines="none" color="none" class="pcash-history-title" *ngIf="pettyCash.length>0">

    <ion-label>
      History
    </ion-label>

  </ion-item>

  <ion-grid class="pcash-history-container">

    <div *ngFor="let item of pettyCash ; let i = index">
    <ion-label class="transaction-date">
    {{item.petty_cash.date | dateformat:'DD MMMM yyyy'}}
    </ion-label>

    <ion-row class="pcash-debit" *ngIf="item.petty_cash.type=='Debit'">

      <ion-col class="col-fit">
        <img src="assets/dollar-red.svg">
      </ion-col>

      <ion-col>

        <ion-label>

          {{item.petty_cash.note}}

          <p>
            Added by <span>{{item.petty_cash.creator.name}}</span>
          </p>

          <p>
            Closing balance ${{item.bal}}
          </p>

        </ion-label>

      </ion-col>

      <ion-col class="col-fit transact-balance">

        <ion-label>
          {{item.petty_cash.amount}} $
        </ion-label>

        <ion-icon name="create-outline" *ngIf="i==0&&editStatus" (click)="edit(item)" ></ion-icon>

      </ion-col>

    </ion-row>




    <!-- <ion-label class="transaction-date">
      28 October 2020
    </ion-label> -->

    <ion-row class="pcash-credit" *ngIf="item.petty_cash.type=='Credit'">

      <ion-col class="col-fit">
        <img src="assets/dollar-green.svg">
      </ion-col>

      <ion-col>

        <ion-label>

          {{item.petty_cash.note}}

          <p *ngIf="item.petty_cash.creator">
            Added by <span >{{item.petty_cash.creator.name}}</span>
          </p>

          <p>
            Closing balance ${{item.bal}}
          </p>

        </ion-label>

      </ion-col>

      <ion-col class="col-fit transact-balance">

        <ion-label>
          +{{item.petty_cash.amount}} $
        </ion-label>
        <ion-icon name="create-outline" *ngIf="i==0&&editStatus" (click)="edit(item)"></ion-icon>
      </ion-col>

    </ion-row> 
  </div>
    <!-- <ion-label class="transaction-date">
      29 October 2020
    </ion-label>

    <ion-row class="pcash-debit">

      <ion-col class="col-fit">
        <img src="assets/dollar-red.svg">
      </ion-col>

      <ion-col>

        <ion-label>

          RSL Outing

          <p>
            Added by <span>Angelina</span>
          </p>

          <p>
            Closing balance $120
          </p>

        </ion-label>

      </ion-col>

      <ion-col class="col-fit transact-balance">

        <ion-label>
          -80 $
        </ion-label>

      </ion-col>

    </ion-row>


    <ion-label class="transaction-date">
      28 October 2020
    </ion-label>

    <ion-row class="pcash-credit">

      <ion-col class="col-fit">
        <img src="assets/dollar-green.svg">
      </ion-col>

      <ion-col>

        <ion-label>

          RSL Outing

          <p>
            Added by <span>Angelina</span>
          </p>

          <p>
            Closing balance $200
          </p>

        </ion-label>

      </ion-col>

      <ion-col class="col-fit transact-balance">

        <ion-label>
          +200 $
        </ion-label>

      </ion-col>

    </ion-row> -->

  </ion-grid>

</ion-content>