.header-buttons {

    ion-icon {
        font-size: 30px !important;
        padding: 4px;
    }
}

// ion-content {
//     --padding-start: 20px;
//     --padding-end: 20px;
//     --padding-top: 20px;
//     --padding-bottom: 20px;
// }