<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" [routerLink]="['/message']"></ion-icon>
          <ion-label>Select Contact</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>



<ion-content>

  <!-- <ion-card class="blue_card" (click)="openList(1)">
    <ion-row style="flex-wrap:nowrap">


      <ion-col size="11" class="dis_flex">
        <ion-label>Residents</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end text-end">
        <ion-icon style="color:white" name="chevron-forward-outline"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-card>


  <ion-item lines="none" color="none" *ngIf="expanded1" class="chatlist_content">
    <app-contacts expandHeight="700px" [expanded1]="expanded1">
      <ion-grid style="padding-inline-start: 0; padding-inline-end: 0; padding-top: 0; padding-bottom: 0;">
        <div *ngFor="let item of contacts">
          <ion-row (click)="openResidentChat(item)">

            <ion-col class="col_fit">
              <ion-avatar>
                <img [src]="item.profile_pic">
              </ion-avatar>
            </ion-col>

            <ion-col class="ion-col_second">

              <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding">

                <ion-label class="sender_name">
                  {{item.name}}
                </ion-label>



              </ion-item>



              <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding chat_separator"
                *ngIf="item.rsident!=null">

                <ion-label class="chat_message">
                  {{item.rsident.room}}
                </ion-label>

              </ion-item>

            </ion-col>
          </ion-row>
        </div>

      </ion-grid>
    </app-contacts>
  </ion-item>






  <ion-card class="blue_card" (click)="openList(2)">
    <ion-row style="flex-wrap:nowrap">


      <ion-col size="11" class="dis_flex">
        <ion-label>Family Members</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end text-end">
        <ion-icon style="color:white" name="chevron-forward-outline"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-card>

  <ion-item lines="none" color="none" *ngIf="expanded2" class="chatlist_content">
    <app-contacts expandHeight="700px" [expanded2]="expanded2">
      <ion-grid style="padding-inline-start: 0; padding-inline-end: 0; padding-top: 0; padding-bottom: 0;">
        <div *ngFor="let item of family">
          <ion-row (click)="openFamilyChat(item)">

            <ion-col class="col_fit">
              <ion-avatar>
                <img [src]="item.profile_pic">
              </ion-avatar>
            </ion-col>

            <ion-col class="ion-col_second">

              <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding">

                <ion-label class="sender_name">
                  {{item.name}}
                </ion-label>



              </ion-item>



              <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding chat_separator"
                *ngIf="item.familys">

                <ion-label class="chat_message">
                  {{item.familys.relation}} {{" - "}} {{item.parent.user.name}}
                </ion-label>


              </ion-item>

            </ion-col>
          </ion-row>
        </div>

      </ion-grid>
    </app-contacts>
  </ion-item>








  <ion-card class="blue_card" (click)="openList(3)">
    <ion-row style="flex-wrap:nowrap">


      <ion-col size="11" class="dis_flex">
        <ion-label>{{branch}} staff</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end text-end">
        <ion-icon style="color:white" name="chevron-forward-outline"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-card>
  <ion-item lines="none" color="none" *ngIf="expanded3" class="chatlist_content">
    <app-contacts expandHeight="700px" [expanded3]="expanded3">
      <ion-grid style="padding-inline-start: 0; padding-inline-end: 0; padding-top: 0; padding-bottom: 0;">
        <div *ngFor="let item of staff">
          <ion-row *ngIf="user_id!=item.user_id" (click)="openStaffChat(item)">

            <ion-col class="col_fit">
              <ion-avatar>
                <img [src]="item.profile_pic">
              </ion-avatar>
            </ion-col>

            <ion-col class="ion-col_second">

              <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding">

                <ion-label class="sender_name">
                  {{item.name}}
                </ion-label>



              </ion-item>



              <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding chat_separator">

                <ion-label class="chat_message" *ngIf="item.user_details!=null">
                  {{item.user_details.title}}
                </ion-label>

                <ion-label class="chat_message" *ngIf="item.user_type_id==1">
                  Admin
                </ion-label>
              </ion-item>

            </ion-col>
          </ion-row>
        </div>

      </ion-grid>
    </app-contacts>
  </ion-item> -->

  <div class="star-chat-sec">

    <ion-row>

      <ion-col size="6" size-sm="6" size-md="4" size-lg="4" [routerLink]="['/startchat',{flag:1}]">
        
        <ion-card>

          <img src="/assets/resident-icon.svg">

          <ion-label>Residents</ion-label>

        </ion-card>

      </ion-col>

      <ion-col size="6" size-sm="6" size-md="4" size-lg="4" [routerLink]="['/startchat',{flag:2}]">
        
        <ion-card>

          <img src="/assets/family-member.svg">
          <ion-label>Family / Contacts</ion-label>

        </ion-card>

      </ion-col>

      <ion-col size="6" size-sm="6" size-md="4" size-lg="4" [routerLink]="['/startchat',{flag:3}]">
        
        <ion-card>

          <img src="/assets/staff.svg">
          <ion-label>Staff</ion-label>

        </ion-card>

      </ion-col>

    </ion-row>

  </div>

</ion-content>
