ion-content {
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 10px;
  --padding-end: 10px;
}

.blue_card {
  background-color: #0077B5
 !important;
  padding: 10px 15px !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  margin: 10px 15px;
}

.blue_card ion-label {
  font-size: 16px !important;
  font-weight: normal !important;
  color: #ffffff !important;
  margin-left: 15px !important;
}

.text-end {
  text-align: end;
}

.star-chat-sec ion-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  height: 100%;
  margin-inline: 2px !important;
}

.star-chat-sec ion-card img {
  display: block;
  margin-bottom: 10px;
  width: 60px;
}

.star-chat-sec ion-card ion-label {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .star-chat-sec ion-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    margin-inline: 2px !important;
  }
  .star-chat-sec ion-card img {
    display: block;
    margin-bottom: 15px;
    width: 100px;
  }
  .star-chat-sec ion-card ion-label {
    font-size: 20px;
  }
}
