ion-content {
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 10px;
  --padding-end: 10px;
  --background: #eee !important;
}

.blue_card {
  background-color: #0077b5 !important;
  padding: 10px 15px !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  margin: 10px 15px;

  ion-label {
    font-size: 16px !important;
    font-weight: normal !important;
    color: #ffffff !important;
    margin-left: 15px !important;
  }
}

.text-end {
  text-align: end;
}

.star-chat-sec {
  ion-row {
    ion-col {
      padding: 10px;

      ion-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        min-height: 130px;
        height: 100%;
        margin-inline: 0px !important;
        background: #fff !important;
        border: 1px solid #dfdfdf;
        box-shadow: none !important;
    
        img {
          display: block;
          margin-bottom: 10px;
          width: 60px;
        }
    
        ion-label {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          text-align: center;
          line-height: 20px;
          margin-top: 5px;
          color: #6e6e6e;
        }
      }
    }
  }
  
}

@media screen and (min-width: 768px) {
  .star-chat-sec {
    ion-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      height: 100%;
      margin-inline: 2px !important;

      img {
        display: block;
        margin-bottom: 15px;
        width: 100px;
      }

      ion-label {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (min-width: 393px) {
  ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 6px;
    --padding-bottom: 15px;
  }
}
