<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()">
          </ion-icon>
          <ion-label>Tasks</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end" *ngIf="task_create">
          <ion-button class="create-task-btn" (click)="createTask()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
          <ion-button class="filter-task-btn" (click)="taskFilter()">
            <!-- <ion-icon name="funnel-outline"></ion-icon> -->
            <i class="las la-filter"></i>
          </ion-button>
          <!-- <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button> -->
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12">

          <ion-searchbar class="hdr-task-searchbar" (ionCancel)="cancel()" [(ngModel)]="terms"
          (ionChange)="search()"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec" *ngIf="count">

    <div class="fts-filter-box">

      <ion-label [class.selected-fts-fb]="filterStatus==1" (click)="filters(1)">All tasks</ion-label>

      <ion-label [class.selected-fts-fb]="filterStatus==2" (click)="filters(2)">Todays tasks</ion-label>

      <ion-label [class.selected-fts-fb]="filterStatus==3" (click)="filters(3)">My tasks</ion-label>

      <!-- <ion-label [class.selected-fts-fb]="filterStatus==4" (click)="filters(4)">CRM</ion-label> -->

    </div>

    <ion-segment class="fts-segment" scrollable  mode="md" (ionChange)="changeStatus($event)" value="{{status}}">

      <!-- <ion-segment-button class="seg-total-tasks" value="5">

        <ion-label>Total
          <span class="total-count">{{count.total}}</span>
        </ion-label>

      </ion-segment-button> -->

      <ion-segment-button class="seg-pending-tasks" value="0">

        <ion-label>Pending
          <span class="ptc">{{count.pending}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-ip-tasks" value="1">

        <ion-label>In progress
          <span class="iptc">{{count.ip}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-overdue-tasks" value="6">

        <ion-label>Overdue
          <span class="otc">{{count.overdue}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-completed-tasks" value="2">

        <ion-label>Completed
          <span class="ctc">{{count.completed}}</span>
        </ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-fab>

 

  <ion-row>

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-5" *ngFor="let item of tasks;let idx=index">

      <ion-card class="task-list-card" (click)="showCRMAlert(item);$event.stopPropagation()">
        
        <div class="ribbon ribbon-top-right" *ngIf="overdue(item.task.date_time)"><span>Overdue</span></div>

        <ion-card-header class="tlc-header">

          <ion-label class="tlc-label">
            {{item.task.title}}

            <div class="crm-tag-dd-box">

              <ion-chip class="crm-tag" *ngIf="item.task.crm_task==1">CRM</ion-chip>
              <span class="task-due-date">Due date : <b class="tdd-red">{{formatDate(item.task.date_time)}}</b></span>

            </div>
            
          </ion-label>

          <div class="tlc-hdr-option-block" (click)="expandItem(item);$event.stopPropagation()">

            <ion-icon name="chevron-down-outline"></ion-icon>

            <!-- <ion-icon class="tlc-hdr-ob-icon" name="chevron-forward-outline" [routerLink]="['/rv-task-details']"></ion-icon> -->

          </div>

        </ion-card-header>

        <ion-card-content *ngIf="item.expanded">

          <ion-icon class="tlc-mo-icon" name="ellipsis-vertical" *ngIf="item.task.crm_task!==1" (click)="options($event,item.task);$event.stopPropagation()"></ion-icon>

          <ion-row>

            <ion-col size-sm="6" size-md="6" size-lg="4" size="6">

              <ion-label class="tlc-options-label">
                Type
                <span *ngIf="item.task.type==0">To Do</span>
                <span *ngIf="item.task.type==1">Call</span>
                <span *ngIf="item.task.type==2">Email</span>
              </ion-label>

            </ion-col>

            <ion-col size-sm="6" size-md="6" size-lg="4" size="6">

              <ion-label class="tlc-options-label">
                Priority
                <span class="priority-high" *ngIf="item.task.priority==2">High</span>
                <span class="priority-medium" *ngIf="item.task.priority==1">Medium</span>
                <span class="priority-low" *ngIf="item.task.priority==0">Low</span>
              </ion-label>

            </ion-col>

            <ion-col size-sm="12" size-md="6" size-lg="4" size="12"
              *ngIf="item.task.crm_task==1&&item.task.lead_details&&item.task.lead_details.residents&&item.task.lead_details.residents.length">

              <ion-label class="tlc-options-label">
                Lead

                <div class="tlc-res-info-box">

                  <span class="tlc-res-prop-name">{{item.task.lead_details.residents[0].fname}}{{' '}}{{item.task.lead_details.residents[0].lname}}
                    <!-- <ion-label class="rv-property-name" *ngIf="item.task.assigned_resident[0].user.resident.property_details&&item.task.assigned_resident[0].user.resident.property_details.contract_details&&item.task.assigned_resident[0].user.resident.property_details.contract_details.property&&item.task.assigned_resident[0].user.resident.property_details.contract_details.property.location">
                      ({{item.task.assigned_resident[0].user.resident.property_details.contract_details.property.location.name}})</ion-label></span>
                  <ion-chip class="tlc-more-resident-count" *ngIf="item.task.assigned_resident.length>1" (click)="assignedRes(item.task.assigned_resident);$event.stopPropagation()">+{{item.task.assigned_resident.length-1}}</ion-chip> -->
                  </span>
                </div>

              </ion-label>

            </ion-col>

            <ion-col size-sm="12" size-md="6" size-lg="4" size="12"
              *ngIf="item.task.crm_task==0&&item.task.assigned_resident&&item.task.assigned_resident.length">

              <ion-label class="tlc-options-label">
                Resident

                <div class="tlc-res-info-box">

                  <span class="tlc-res-prop-name">{{item.task.assigned_resident[0].user.name}} 
                    <ion-label class="rv-property-name" *ngIf="item.task.assigned_resident[0].user.resident.property_details&&item.task.assigned_resident[0].user.resident.property_details.contract_details&&item.task.assigned_resident[0].user.resident.property_details.contract_details.property&&item.task.assigned_resident[0].user.resident.property_details.contract_details.property.location">
                      ({{item.task.assigned_resident[0].user.resident.property_details.contract_details.property.location.name}})</ion-label></span>
                  <ion-chip class="tlc-more-resident-count" *ngIf="item.task.assigned_resident.length>1" (click)="assignedRes(item.task.assigned_resident);$event.stopPropagation()">+{{item.task.assigned_resident.length-1}}</ion-chip>

                </div>

              </ion-label>

            </ion-col>

            <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

              <ion-label class="tlc-options-label">
                <ng-container *ngIf="item.task.assignee&&item.task.assignee.length">Assignees</ng-container>

                <div class="tlc-assignees-box" *ngIf="item.task.assignee&&item.task.assignee.length"
                  (click)="assigned(item.task.assignee);$event.stopPropagation()">

                  <ion-avatar>
                    <img [src]="item.task.assignee[0].profile_pic">
                  </ion-avatar>

                  <ion-avatar *ngIf="item.task.assignee.length>1">
                    <img [src]="item.task.assignee[1].profile_pic">
                  </ion-avatar>

                  <div class="more-assignees" *ngIf="item.task.assignee.length>2">
                    <ion-label>+{{item.task.assignee.length-2}}</ion-label>
                  </div>

                </div>

                <div *ngIf="!item.task.assignee||!item.task.assignee.length">
                  <ion-label>No assignee</ion-label>
                </div>

              </ion-label>

            </ion-col>

            <!-- <ion-col size-sm="6" size-md="6" size-lg="4" size="6">

              <ion-label class="tlc-options-label">
                Due date

                <span>26 Oct, 2022</span>

              </ion-label>

            </ion-col> -->

            <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

              <ion-label class="tlc-options-label">
                Status

                <div class="st-ti-status-box">

                  <ion-select placeholder="Select status" value="{{item.task.status}}" interface="action-sheet"
                    (ionChange)="changeTaskStatus($event,item);$event.stopPropagation()">
                    <ion-select-option class="st-ti-sb-pending" value="0">Pending</ion-select-option>
                    <ion-select-option class="st-ti-sb-ip" value="1">In progress</ion-select-option>
                    <ion-select-option class="st-ti-sb-completed" value="2">Completed</ion-select-option>
                  </ion-select>

                </div>

              </ion-label>

            </ion-col>

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
              *ngIf="item.task.description&&item.task.description.length<=100">
              <p class="task-description">{{item.task.description}}</p>
              <ng-container *ngIf="item.task.description&&item.task.description.length>100">
                <p class="task-description" id="{{'p1'+idx}}">{{item.task.description.substring(0,100)}}<span
                    style="color:#0077b5" (click)="ShowContent('p1','p2',idx);$event.stopPropagation()">{{' '}}Show more...</span></p>
                <p class="task-description" id="{{'p2'+idx}}" style="display:none">{{item.task.description}}<span
                    style="color:#0077b5" (click)="ShowContent('p2','p1',idx);$event.stopPropagation()">{{' '}}Show less</span></p>
              </ng-container>
            </ion-col>

          </ion-row>

        </ion-card-content>

      </ion-card>

    </ion-col>


   

  </ion-row>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="tasks.length">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="tasks.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-data-icon.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Data Found</ion-label>
    </ion-item>
  </div>

</ion-content>