<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="dismiss()">
          </ion-icon>
          <ion-label>Filter</ion-label>
        </ion-col>

        <!-- <ion-col class="col-fit ion-align-self-end">
          <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button>
          <ion-button class="filter-task-btn">
            <ion-icon name="funnel-outline"></ion-icon>
          </ion-button>
        </ion-col> -->

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="task-creation-form">

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15">

      <ion-label class="task-form-label">Filter by due date </ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="date_filter">
        <ion-select-option value="7" *ngIf="flag==1">All time</ion-select-option>
        <ion-select-option value="0">Today</ion-select-option>
        <ion-select-option value="1">Yesterday</ion-select-option>
        <ion-select-option value="2">Last 7 days</ion-select-option>
        <ion-select-option value="3">Last 30 days</ion-select-option>
        <ion-select-option value="4">This Month</ion-select-option>
        <ion-select-option value="5">Last Month</ion-select-option>
        <ion-select-option value="6">Custom Range</ion-select-option>
      </ion-select>

    </ion-col>

    <ng-container *ngIf="date_filter==6">
      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-0 n-bp-1">

        <ion-label class="task-form-label">Select custom date range </ion-label>

      </ion-col>

      <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15 n-bp">

        <ion-label class="task-form-label">Start date </ion-label>

        <span class="task-dt-box">

          <ion-datetime mode="md" displayFormat=" DD MMM YYYY" [min]="2021" [max]="2040" [(ngModel)]="sdate">
          </ion-datetime>

          <i class="las la-calendar"></i>

        </span>

      </ion-col>

      <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15 n-bp">

        <ion-label class="task-form-label">End date </ion-label>

        <span class="task-dt-box">

          <ion-datetime mode="md" displayFormat=" DD MMM YYYY" [min]="2021" [max]="2040" [(ngModel)]="edate">
          </ion-datetime>

          <i class="las la-calendar"></i>

        </span>

      </ion-col>
    </ng-container>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15">

      <ion-label class="task-form-label">Filter by Priority</ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="priority">
        <ion-select-option value="3">All priority</ion-select-option>
        <ion-select-option value="2">High</ion-select-option>
        <ion-select-option value="1">Medium</ion-select-option>
        <ion-select-option value="0">Low</ion-select-option>
      </ion-select>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15">

      <ion-label class="task-form-label">Filter by Status</ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="status">
        <ion-select-option value="5">All Status</ion-select-option>
        <ion-select-option value="0">Pending</ion-select-option>
        <ion-select-option value="1">In progress</ion-select-option>
        <ion-select-option value="2">Completed</ion-select-option>
      </ion-select>

    </ion-col>

  </ion-row>

  <ion-row class="task-creation-form">

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-0 n-bp">

      <ion-label class="task-form-label">Filter by Staff</ion-label>

      <ion-button class="task-select-resident-btn" (click)="openAssignedTo()" *ngIf="!assignedTo.length">
        <ion-icon name="add-outline"></ion-icon> Select staff
      </ion-button>

      <div class="task-sres-block" *ngIf="assignedTo.length">

        <div class="tsres-box">
          <ion-label> {{staff}}
            <!-- <ion-chip class="tsres-mc" *ngIf="assignedTo.length>2">+{{assignedTo.length-2}}</ion-chip> -->
          </ion-label>
        </div>

        <div class="tsres-controls-box" (click)="openAssignedTo()">

          <ion-button class="tsres-cb-edit-btn"><i class="las la-edit"></i></ion-button>

        </div>

      </div>

    </ion-col>


    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15 n-bp" *ngIf="flag==1">

      <ion-label class="task-form-label">Filter by resident</ion-label>

      <ion-button class="task-select-resident-btn" (click)="openResident()" *ngIf="!resident">
        <ion-icon name="add-outline"></ion-icon> Select resident
      </ion-button>

      <div class="task-sres-block" *ngIf="resident">

        <div class="tsres-box">
          <ion-label> {{res_name}}
            <!-- <ion-chip class="tsres-mc" *ngIf="assignedTo.length>2">+{{assignedTo.length-2}}</ion-chip> -->
          </ion-label>
        </div>

        <div class="tsres-controls-box" (click)="openResident()">

          <ion-button class="tsres-cb-edit-btn"><i class="las la-edit"></i></ion-button>

        </div>

      </div>

    </ion-col>

  </ion-row>

</ion-content>

<ion-footer>

  <ion-item lines="none" color="none">

    <ion-button class="task-save-btn" (click)="save()">Apply</ion-button>

    <ion-button class="task-cancel-btn" (click)="dismiss()">Cancel</ion-button>

  </ion-item>

</ion-footer>