<ion-header style="background-color: #0202f1ce;">
  <ion-toolbar lines="none" style="background-color: #0202f1ce;">


    <ion-title>Disable Timeslot</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-scroll scrollY="true"> -->
  <ion-row class="padding-10">

    <ion-col size="12">

      <ion-label class="label-black">Staff<span class="asterisk">*</span></ion-label>

    </ion-col>

    <ion-col size="12">

      <ion-select okText="Okay" cancelText="Dismiss" class="branch" [(ngModel)]="staff" [selectedText]="staff"
        (ionChange)="setstaff($event)" interface="action-sheet">
        <ion-select-option value="{{item.name}}" *ngFor="let item of staffArray">{{item.name}}</ion-select-option>

      </ion-select>

    </ion-col>

  </ion-row>
  <ion-row class="padding-10 pb-0">

    <ion-col size="12">

      <ion-label class="label-black">Date<span class="asterisk">*</span></ion-label>

    </ion-col>

    <ion-col size="12" class="pb-0">

      <ion-datetime mode="md" value="2020-10-31T15:43:40.394Z" displayFormat=" DD MMMM YYYY" [min]="minDate"
        display-timezone="utc" [(ngModel)]="date" (ionChange)="onChange($event)">
      </ion-datetime>

      <ion-icon class="cb-disable-calander-icon" name="calendar-clear-outline"></ion-icon>

    </ion-col>

  </ion-row>

  <!-- <ion-chip class="cb-select-duration">

    <ion-label>Duration : </ion-label>
    <ion-select  okText="Okay" cancelText="Dismiss" [(ngModel)]="duration" (ionChange)="selectDuration()">

      <ion-select-option value="30">30 Minutes</ion-select-option>
      <ion-select-option value="60">60 Minutes</ion-select-option>
    </ion-select>

  </ion-chip> -->

  <ion-grid class="pt-0 pb-0">

    <ion-row class="timeslot-sec">

      <ion-col size-sm="4" size-md="2" size-lg="2" size="4" *ngFor="let item of slot">

        <ion-chip class="ts-green" (click)="bookCall(item)" [class.disable]="item.disable"
          [class.selected_slot]="sel_slot.includes(item.slot)">
          <ion-label>{{item.slot}}</ion-label>
        </ion-chip>

      </ion-col>
    </ion-row>

  </ion-grid>
  <!-- </ion-scroll> -->
  <!-- </ion-content> -->

</ion-content>

<ion-footer>

  <ion-toolbar>

    <div class="cb-footer-btns">

      <ion-button class="cb-continue-btn" (click)="confirm()" [disabled]="disableButton">Save</ion-button>

      <ion-button class="cb-cancel-btn" (click)="cancel()">Cancel</ion-button>

    </div>

  </ion-toolbar>

</ion-footer>