ion-header ion-toolbar {
  margin-top: 5px;
}

ion-toolbar {
  --border-width: 0px !important;
}

ion-select {
  border: 1px solid #dcdcdc;
  height: 50px;
  border-radius: 6px;
}

ion-datetime {
  border: 1px solid #dcdcdc;
  height: 50px;
  border-radius: 6px;
}

.cb-disable-calander-icon {
  float: right;
  top: -35px;
  right: 10px;
  position: relative;
  font-size: 20px;
  color: #727272;
}

/*------------------------------- timeslot onclick -------------------------*/
.cb-timeslot-onclick {
  background-color: #44e85d;
  color: #fff !important;
  border: 0px;
}

/*------------------------------- timeslot onclick -------------------------*/
@media only screen and (max-width: 500px) {
  .padding-10 {
    padding: 10px;
  }
}

.pt-0 {
  padding-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

@media only screen and (min-width: 768px) {
  app-cb-disabletimeslot {
    padding: 10px;
  }
}

@media screen and (min-width: 360px) and (max-width: 360px) {
  .timeslot-sec {
    height: 345px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
