<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="ion-align-self-start page-name" size-sm="8" size-md="10" size-lg="10" size="8">

          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>

          <ion-label>
            Choose resident
          </ion-label>

        </ion-col>

        <ion-col class="col-fit ion-align-self-start page-name" size-sm="2" size-md="1" size-lg="1" size="2" *ngIf="hide" (click)="search()">
          <ion-button class="hdr-btn">
            <ion-icon name="search-sharp"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- <ion-col class="col-fit ion-align-self-start page-name" size-sm="2" size-md="1" size-lg="1" size="2">
          <ion-button class="hdr-btn">
            <ion-icon name="funnel-outline"></ion-icon>
          </ion-button>
        </ion-col> -->

      </ion-row>
      <ion-row *ngIf="!hide">

        <ion-col>

          <ion-searchbar  class="clife-search-bar"  placeholder="Search residents"  (ionClear)="cancel()"  [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div class="wing-sec">
    <ion-label>Wing A
      <span class="wing-member-count">15</span>
    </ion-label>
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div> -->

  <ion-grid>

    <ion-row>
      <ng-container *ngIf="( consumers |  consumersearch : terms) as result">
      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of consumers | consumersearch : terms">

        
        <ion-card class="dc-info-card" (click)="gotoPreference(item)">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img [src]="item.user.profile_pic">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                {{item.user.name}}
                <span>{{item.room}}</span>
                <span *ngIf="item.wing">{{item.wing.name}}</span>
              </ion-label>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="dc-info-card">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img src="/assets/dining/consumers/2.png">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                Jennifer
                <span>113 B</span>
              </ion-label>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="dc-info-card">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img src="/assets/dining/consumers/3.png">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                Mary John
                <span>114 B</span>
              </ion-label>

            </div>

          </ion-item>

        </ion-card>

      </ion-col> -->
      <ion-label class="no-result" *ngIf="result.length==0">No residents found</ion-label>
</ng-container>
      
    </ion-row>

  </ion-grid>

  <!-- <div class="wing-sec">
    <ion-label>Wing B
      <span class="wing-member-count">15</span>
    </ion-label>
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="dc-info-card">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img src="/assets/dining/consumers/1.png">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                Amelia Johnson
                <span>112 B</span>
              </ion-label>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="dc-info-card">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img src="/assets/dining/consumers/2.png">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                Jennifer
                <span>113 B</span>
              </ion-label>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="dc-info-card">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img src="/assets/dining/consumers/3.png">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                Mary John
                <span>114 B</span>
              </ion-label>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid> -->

</ion-content>