<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="ion-align-self-start page-name" size-sm="8" size-md="10" size-lg="10" size="8">

          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>

          <ion-label>
            Choose resident
          </ion-label>

        </ion-col>

        <ion-col class="col-fit ion-align-self-start page-name" size-sm="2" size-md="1" size-lg="1" size="2" *ngIf="hide" (click)="search()">
          <ion-button class="hdr-btn">
            <ion-icon name="search-sharp"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- <ion-col class="col-fit ion-align-self-start page-name" size-sm="2" size-md="1" size-lg="1" size="2">
          <ion-button class="hdr-btn">
            <ion-icon name="funnel-outline"></ion-icon>
          </ion-button>
        </ion-col> -->

      </ion-row>
      <ion-row *ngIf="!hide">

        <ion-col>

          <ion-searchbar  class="clife-search-bar"  placeholder="Search residents"  (ionClear)="cancel()"  [(ngModel)]="terms"
          (ionChange)="search()"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div class="wing-sec">
    <ion-label>Wing A
      <span class="wing-member-count">15</span>
    </ion-label>
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div> -->

  <ion-grid>

    <ion-row>
      <!-- <ng-container *ngIf="( consumers |  consumersearch : terms) as result"> -->
      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of consumers">

        
        <ion-card class="dc-info-card" (click)="gotoPreference(item)">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img [src]="item.photo">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">{{item.name}}<span>{{item.room}}</span>
                <span *ngIf="item.wing_name&&rv!==1">{{item.wing_name}}</span>
                <span  *ngIf="item.property_name&&rv==1">
                  {{item.property_name}}
                </span>
              </ion-label>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

    
      <!-- <ion-label class="no-result" *ngIf="result.length==0">No residents found</ion-label>
</ng-container> -->
      
    </ion-row>

  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  <div *ngIf="consumers.length==0">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-consumers-found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Resident Found</ion-label>
    </ion-item>
  </div>

</ion-content>