<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="10">
          <!-- <ion-icon name="arrow-back-outline" [routerLink]="['/menu']"></ion-icon> -->
          <ion-label>Add Participants</ion-label>
        </ion-col>

        <ion-col class="col-fit header-buttons ion-align-self-end" size="2">

          <ion-button class="close-modal" (click)="cancel()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-button class="close-modal" (click)="cancel()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>

  <ion-item lines="none" style="margin-top: 25px;width: 100%;">
    <ion-label
      style="font-weight: 500;margin-right: auto;margin-left: auto;text-align: center;align-self: center;font-size:20px"
      color="#0077B5"> Add Participants</ion-label>
  </ion-item> -->

  <!-- <ion-card class="rel_details_card" > -->
  <ion-grid style="width:100%;" >
    <ion-row >

      <ion-col size="12" size-sm="12" size-md="6" size-lg="6" *ngFor="let item of data">
        <ng-container *ngIf="item.fam.user.status==1">

        <div (click)="select(item)">

          <ion-row>

            <div class="consumer-relative-info-box">

              <div class="crib-avatar-name-box">

                <ion-avatar class="crib-avatar">
                  <img [src]="item.fam.user.profile_pic">
                </ion-avatar>

                <div class="crib-name-relation-box">

                  <ion-label class="crib-nrb-name">{{item.fam.user.name}}</ion-label>
                  <p class="crib-nrb-relation">{{item.fam.relation}}</p>

                </div>

              </div>

              <!-- <ion-col style="align-self: center !important;">
                <ion-label class="relprofile_consumer_name">{{item.fam.user.name}}</ion-label>
                <p style="margin-left: 10px;margin-top: -5px;margin-bottom: 0px; color:#707070">{{item.fam.relation}}</p>
                
              </ion-col> -->

              <div class="crib-checkbox-container">

                <ion-checkbox mode="ios" [checked]="sel_id.indexOf(item.fam.user.user_id)>=0"></ion-checkbox>

              </div>

            </div>

          </ion-row>

        </div>

      </ng-container>

      </ion-col>

    </ion-row>

  </ion-grid>
  <!-- </ion-card> -->

</ion-content>

<ion-footer>

  <ion-item lines="none" color="none">
    <ion-button class="publish-btn" expand="block" (click)="dismiss()">Continue</ion-button>
  </ion-item>

</ion-footer>