ion-content {
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --background: #eee;
}

ion-checkbox .item-cover {
  display: none;
}

.publish-btn {
  --padding-start: 15px;
  --padding-end: 15px;

  ion-icon {
    margin-right: 0;
  }
}

.close-modal {
  display: flex;
  color: #fff;
  font-size: 25px;
  float: right;
  margin: 0;
  height: auto;
  --background: transparent;
  --box-shadow: none;
  --border-radius: 50px;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

.consumer-relative-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 5px;
  width: 100%;

  .crib-avatar-name-box {
    display: flex;
    align-items: center;

    .crib-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }

    .crib-name-relation-box {
      display: flex;
      flex-direction: column;
      margin-left: 15px;

      .crib-nrb-name {
        color: #545454;
        font-size: 16px;
        font-weight: 600;
      }

      .crib-nrb-relation {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0;
        color: #707070;
      }
    }
  }

  .crib-checkbox-container {
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-checkbox {
      width: 25px;
      height: 25px;
      --border-radius: 50px;
      --border-color: transparent;
      --background: #e3e3e3;
      --background-checked: #2ac940;
      --border-color-checked: #2ac940;
    }
  }
}

ion-footer {
  background: #fff;
  box-shadow: none !important;
  padding: 10px;

  .publish-btn {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    max-width: fit-content;
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    --padding-start: 25px !important;
    --padding-end: 25px;
  }
}


