ion-checkbox .item-cover {
  display: none;
}

.publish-btn {
  --padding-start: 15px;
  --padding-end: 15px;
}

.publish-btn ion-icon {
  margin-right: 0;
}

.close-modal {
  display: flex;
  color: #c5c5c5;
  font-size: 20px;
  float: right;
  margin: 15px;
  height: auto;
  --background: transparent;
  --box-shadow: none;
  --border-radius: 50px;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

.publish-btn {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}
