<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Take order</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="(currentMenu&&currentMenu.length)||(upcoming&&upcoming.length)">


    <ion-row class="din-menu-row">

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-10 dm-title-col" *ngIf="currentMenu&&currentMenu.length">

        <ion-label class="dtk-sec-label">Current Menu</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of currentMenu" [class.doNotShow]="item.status!=2" class="mb-10">

        <ion-card class="seasonal-menu-card current-menu-card">

          <img class="fm-icon" src="assets/dining/food-menu-icon.svg">

          <!-- <ion-icon class="current-menu-check-icon" name="checkmark-circle-sharp"></ion-icon> -->

          <ion-label class="season-label">{{item.menu_name}}</ion-label>
          <span class="season-date-range no-border">{{item.start_date | dateformat:'DD MMM YYYY'}} - {{item.enddate | dateformat:'DD MMM YYYY'}}</span>

          <!-- <div class="consumer-photo-sec">

            <ion-avatar>
              <img src="assets/dining/consumers/1.png">
            </ion-avatar>

            <ion-avatar>
              <img src="assets/dining/consumers/2.png">
            </ion-avatar>

            <ion-avatar>
              <img src="assets/dining/consumers/3.png">
            </ion-avatar>

            <span class="consumer-count">+20 more</span>

          </div> -->

          <!-- <ion-label class="sp-label">Selection pending for 23 residents</ion-label> -->

          <ion-button class="sc-btn" (click)="takeOrder(item)">Take order</ion-button>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10 mb-10 dm-title-col" *ngIf="upcoming&&upcoming.length">

        <ion-label class="dtk-sec-label">Upcoming Menu</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of upcoming" [class.doNotShow]="item.status!=2" class="mb-10">

        <ion-card class="seasonal-menu-card">

          <img class="fm-icon" src="assets/dining/food-menu-icon.svg">

          <ion-label class="season-label">{{item.menu_name}}</ion-label>
          <span class="season-date-range no-border">{{item.start_date | dateformat:'DD MMM YYYY'}} - {{item.enddate | dateformat:'DD MMM YYYY'}}</span>

          <!-- <div class="consumer-photo-sec">

            <ion-avatar>
              <img src="assets/dining/consumers/1.png">
            </ion-avatar>

            <ion-avatar>
              <img src="assets/dining/consumers/2.png">
            </ion-avatar>

            <ion-avatar>
              <img src="assets/dining/consumers/3.png">
            </ion-avatar>

            <span class="consumer-count">+20 more</span>

          </div> -->

          <!-- <ion-label class="sp-label">Selection pending for 23 residents</ion-label> -->

          <ion-button class="sc-btn" (click)="takeOrder(item)">Take order</ion-button>

        </ion-card>

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="seasonal-menu-card">

          <img class="fm-icon" src="assets/dining/food-menu-icon.svg">

          <ion-label class="season-label">Summer Menu</ion-label>
          <span class="season-date-range">1 Dec 2021 - 31 Feb 2021</span>

          <ion-button class="sc-btn">Select choice</ion-button>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="seasonal-menu-card">

          <img class="fm-icon" src="assets/dining/food-menu-icon.svg">

          <ion-label class="season-label">Autumn Menu</ion-label>
          <span class="season-date-range">1 Mar 2021 - 31 May 2021</span>

          <ion-button class="sc-btn">Select choice</ion-button>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="seasonal-menu-card">

          <img class="fm-icon" src="assets/dining/food-menu-icon.svg">

          <ion-label class="season-label">Winter Menu</ion-label>
          <span class="season-date-range">1 Jun 2021 - 31 Aug 2021</span>

          <ion-button class="sc-btn">Select choice</ion-button>

        </ion-card>

      </ion-col> -->

    </ion-row>

  </ion-grid>

  <div *ngIf="currentMenu.length==0 && upcoming.length==0">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-food-menu-1.png">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Dining Menus Found.</ion-label>
    </ion-item>
  </div>

</ion-content>