ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.selected {
    border: 2px solid #0077b5;
}

ion-checkbox {
    --border-color: #777777;
}

.vt-res-block {
    ion-col {
        ion-item {
            --padding-start: 0;
            --inner-padding-end: 0;
            --min-height: auto;

            
        }

        .vs-item {
            margin-left: auto;
            max-width: fit-content;
            padding-top: 20px;

            .view-selected {
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                color: #0077b5;
                margin: 0;
                display: flex;
                align-items: center;

                ion-icon {
                    font-size: 18px;
                    margin-left: 5px;
                }
            }
        }
    }
}

ion-footer {
    background: #fff;
}

.footer-ios {
    padding-bottom: 0 !important;
}