<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="dismiss(1)"></ion-icon>
          <ion-label>Visible to</ion-label>
        </ion-col>
        <ion-col class="col-fit header-buttons ion-align-self-end" size="4" *ngIf="value==3 || value==4">

          <ion-icon src="assets/consumers-icon.svg" (click)="byGroup($event)"></ion-icon>

          <!-- <ion-icon name="funnel-outline"  (click)="viewSelected(view)" *ngIf="result&&result.length"></ion-icon> -->

        </ion-col>
      </ion-row>
      <ion-row *ngIf="value==3 || value==4">

        <ion-col>

          <ion-searchbar class="clife-search-bar" placeholder="Search residents" (ionCancel)="cancel()"  [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    
    <ion-radio-group value="{{type}}">

      <ion-item class="item-container" color="none" lines="none" (click)="select(1)">
        <ion-label>Public</ion-label>
        <ion-radio mode="ios" slot="start" value="1" ></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select(2)">
        <ion-label>All residents & family</ion-label>
        <ion-radio mode="ios" slot="start" value="2" ></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select(4)">
        <ion-label>Specific residents & family</ion-label>
        <ion-radio mode="ios" slot="start" value="4"></ion-radio>
        <ion-icon name="chevron-forward-outline" ></ion-icon>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select(3)">
        <ion-label>Specific residents</ion-label>
        <ion-radio mode="ios" slot="start" value="3"></ion-radio>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>

    </ion-radio-group>

  </ion-list>



  <ion-grid *ngIf="value==3 || value==4">

    <ion-row class="vt-res-block" *ngIf="consumers&&consumers.length">

      <ion-col size="6">
        
        <ion-item lines="none" color="none">
          <ion-checkbox (ionChange)="selectAll($event)" mode="md" [checked]="choose_all==1"></ion-checkbox>
          <ion-label style="padding-left: 8px;color:black; font-size: 18px;" (click)="selectAll($event)">Select all
          </ion-label>
        </ion-item>

      </ion-col>

      <ion-col size="6" *ngIf="choose_all!==1">
        
        <ion-item lines="none" color="none" class="vs-item">
          <ion-label class="view-selected" (click)="viewSelected(view)" *ngIf="result&&result.length&&view">View selected <ion-icon name="chevron-down-outline"></ion-icon></ion-label>
          <ion-label class="view-selected" (click)="viewSelected(view)" *ngIf="result&&result.length&&!view">View all <ion-icon name="chevron-down-outline"></ion-icon></ion-label>
        </ion-item>
        
      </ion-col>

    </ion-row>

      
    <ion-row *ngIf="consumers&&consumers.length">

      <ion-col size-sm="12" size-md="6" size-lg="3" size="12" *ngFor="let item of consumers | consumersearch : terms">

        <ion-row class="consumer-info-container" [class.selected]="result.indexOf(item.user.user_id)>=0" (click)="selectConsumer($event,item)">

          <ion-col class="col-fit" >

            <ion-avatar>
              <img [src]="item.user.profile_pic" *ngIf="item.user.profile_pic!=null">
              <img src="assets/user_pic.png" *ngIf="item.user.profile_pic==null">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              {{item.user.name}}

              <span *ngIf="rv!==1">
                {{item.room}}
              </span>
              <span *ngIf="item.wing&&rv!==1">
                {{item.wing.name}}
              </span>
              <span  *ngIf="item.property_details&&item.property_details.contract_details&&item.property_details.contract_details.property&&item.property_details.contract_details.property.location&&rv==1">
                {{item.property_details.contract_details.property.location.name}}
              </span>
            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>


    <div *ngIf="consumers.length==0">
      <ion-thumbnail 
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-consumers-found.svg">
      </ion-thumbnail>
  
      <ion-item lines="none" style="margin-top: 25px;" >
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No Resident Found</ion-label>
      </ion-item>
    </div>


  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" (click)="dismiss(2)">Continue</ion-button>
  </ion-toolbar>
</ion-footer>
