<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="11">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Activity Feedback</ion-label>
        </ion-col>
        <ion-col *ngIf="feedback" size="1">
          <ion-icon name="ellipsis-vertical" (click)="options($event)"></ion-icon>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-textarea placeholder="Enter your feedback" rows="6" cols="20" [(ngModel)]="feedback" [readonly]="!editStatus"></ion-textarea>

</ion-content>

<ion-footer *ngIf="editStatus">

  <ion-button class="footer-submit-btn" (click)="submit()">
    <!-- <ion-icon name="checkmark-outline"></ion-icon> -->
    <ion-label>Submit</ion-label>
  </ion-button>

</ion-footer>