.ion-header-inner {
    ion-col {
        max-width: fit-content !important;

        ion-icon {
            font-size: 22px !important;
        }
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --background: #f1f1f1;
}

ion-textarea {
    font-family: "Roboto", sans-serif;
    color: #222;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}

ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .footer-submit-btn {
        // text-transform: capitalize;
        --border-radius: 50px;
        --background: #0077b5;
        --box-shadow: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-transform: none;
        width: 100%;
        height: 55px;
        max-width: 95%;

        ion-icon {
            font-size: 35px;
        }

        ion-label {
            // margin-left: 5px;
        }
    }
}

@media only screen and (min-width: 768px) {
    ion-footer {
        .footer-submit-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #0077b5;
            text-align: center;
            text-transform: none;
            letter-spacing: normal !important;
            font-size: 20px;
            font-weight: normal;
            height: 50px;
            width: 160px;
        }
    }
}
