ion-header {
  background-color: #FFF !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  padding: 10px 5px;
}

ion-header ion-toolbar {
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
}

ion-content {
  --padding-start: 5px;
  --padding-end: 5px;
  --padding-top: 5px;
  --padding-bottom: 5px;
}

ion-card-content {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

ion-tabs ion-tab-bar {
  height: 60px;
}

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  background: none !important;
}

.play_icon {
  position: absolute;
  top: 25%;
  font-size: 60px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.story-contents p {
  max-height: 22px;
}

@media screen and (min-width: 768px) {
  .story-card1 {
    height: 100%;
  }
  .story-contents ion-label {
    white-space: nowrap;
  }
  .stories-header ion-row ion-col:nth-child(2) {
    margin-left: 85px;
  }
}

.notifications ion-icon {
  font-size: 28px;
  color: #fff;
}

.stories-header ion-row {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}
