ion-header {
    // background-color: #fff !important;
    // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
    // padding: 10px 5px;
    background: #fff !important;
    box-shadow: none;
    padding: 10px 5px 0;
    border-bottom: 1px solid #ededed;

    ion-toolbar {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-start: 0px;
        --padding-end: 0px;

        .notification-box {
            margin-left: auto;
            margin-right: 0px;
        }

        // ion-grid {

        //     ion-row {
        //         ion-col {
        //             padding: 0px;
        //         }
        //     }
        // }
    }
}

ion-content {
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --background: #eee;
}

ion-card-content {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

ion-tabs {
    ion-tab-bar {
        height: 60px;
    }
}

.video-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 200;
    bottom: 0px;
    opacity: 0.8;
    background: none !important;
}

.play_icon {
    position: absolute;
    top: 25%;
    font-size: 60px !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.story-contents {
    ion-label {
        font-size: 18px;
        font-weight: 600;
        white-space: pre-wrap !important;
        word-break: break-word;
    }

    p {
        max-height: 22px;
        // font-family: "Open Sans", sans-serif;
        font-family: 'Roboto', sans-serif;
        color: #787878;
        margin-top: -5px;
    }
}

@media screen and (min-width: 768px) {
    .company-logo-box {
        margin-left: 0px;
    }

    .notification-box {
        margin-left: auto;
        margin-right: 5px;
    }

    .story-card1 {
        height: 100%;
        margin: 0;
    }

    .story-contents {
        ion-label {
            // white-space: nowrap;
            font-size: 18px;
            font-weight: 600;
            white-space: pre-wrap !important;
            word-break: break-word;
        }
    }

    .stories-header {
        ion-row {
            ion-col:nth-child(2) {
                margin-left: 85px;
            }
        }
    }

    .story-sec {
        ion-col {
            padding: 8px;
        }
    }
}

.notifications {
    ion-icon {
        font-size: 28px;
        color: #fff;
    }

    i {
        font-size: 28px;
        color: #787878;
    }
}

.stories-header {
    ion-row {
        display: flex;
        justify-content: space-between;
        // padding-right: 25px;
    }
}

// .story-contents p {
//     display: none;
// }

.story-status {
    background: #f1f1f1;
    padding: 2px 9px;
    border-radius: 50px;
    font-size: 13px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    // position: relative;
    // top: -5px;
    margin-bottom: 10px;
}

.waiting-approval {
    background-color: #ff9149 !important;
    color: #fff !important;
}

.inactive {
    background-color: #ff0000 !important;
    color: #fff !important;
}

.active {
    background-color: #28d094 !important;
    color: #fff !important;
}

.draft {
    background-color: #6b6f82 !important;
    color: #fff !important;
}

ion-fab-button {
    --background: #0077b5 !important;
}

.story-card1 {
    position: relative;
    box-shadow: none !important;
    border: 1px solid #dfdfdf;
    margin-bottom: 5px;

    .more-media-count {
        background: #0077b5;
        color: #fff;
        padding: 5px 10px;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        position: absolute;
        top: 185px;
        right: 0;
        border-top-left-radius: 15px;
        // font-family: "Open Sans", sans-serif;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-icon {
            font-size: 25px;
            transform: rotate(45deg);
            margin-right: 2px;
            vertical-align: middle;
        }
    }
}

.story-card1 {
    .story-contents {
        .wap {
            display: flex;
            // font-family: "Open Sans", sans-serif;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            font-weight: normal;
            background: #ff9051;
            color: #fff;
            padding: 2px 12px;
            margin-bottom: 5px;
            margin-left: 0px;
            height: 22px;
            max-width: fit-content;
            border-radius: 50px;
        }
    }
}

.story-details-lcv {
    ion-grid {
        ion-row {
            ion-col {
                .story-date1 {
                    // font-family: "Open Sans", sans-serif;
                    font-family: 'Roboto', sans-serif;
                }
            }
        }
    }

    .s-actions {
        span {
            // font-family: "Open Sans", sans-serif;
            font-family: 'Roboto', sans-serif;
        }
    }
}
