<ion-header>
  <ion-toolbar color="none" lines="none" class="no-border stories-header">

    <ion-grid>

      <ion-row>

        <ion-col class="ion-align-self-start company-logo-box" size="10">

          <img src="assets/centrimlife-logo-inner.svg">

        </ion-col>
        <ion-col class="col-fit ion-align-self-center notification-box" (click)="filter($event)">
          <div class="notifications">
            <!-- <ion-icon name="funnel-outline" class="color-grey"></ion-icon> -->
            <i class="las la-filter"></i>

          </div>
        </ion-col>
        <!-- <ion-col class="col-fit ion-align-self-center" (click)="notification()" >
          <div class="notifications">
            <ion-icon name="notifications-outline" class="color-grey"></ion-icon>
            <span class="nbadge"*ngIf="notify!=0 && notify<100">{{notify}}</span>
            <span class="nbadge" *ngIf="notify!=0 && notify>=100">99+</span>
          </div>
        </ion-col> -->

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content #content>

  <ion-grid>

    <ion-row class="story-sec">

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of posts">

        <ion-card class="story-card1" (click)="gotoDetails(item.id)">
          <img src="assets/dummy-img.png" *ngIf="item.images.length==0 && item.videos.length==0">
          <img [src]="item.images[0].post_attachment" *ngIf="item.images.length>0">
          <img [src]="item.videos[0].thumbnail" style="width: 100%;"
            *ngIf="item.images.length==0 && item.videos.length>0">
          <div class="video-overlay" *ngIf="item.images.length==0 && item.videos.length>0"></div>
          <div *ngIf="item.images.length==0 && item.videos.length>0">
            <ion-icon name="play" class="play_icon"></ion-icon>
          </div>

          <div class="more-media-count" *ngIf="item.images.length>1"><ion-icon name="attach-outline"></ion-icon>
            +{{item.images.length-1}} more images</div>

          <div class="story-contents">


            <!-- <span class="story-status waiting-approval">Waiting for approval</span> -->
            <!-- <span class="story-status inactive">Inactive</span> -->
            <!-- <span class="story-status active">Active</span> -->
            <!-- <span class="story-status draft">Draft</span> -->

            <ion-label>
              <ion-chip class="wap" *ngIf="item.status==2">Waiting for approval</ion-chip>
              {{item.title}}
            </ion-label>

            <p class="line-clamp" [innerHTML]="item.description">

            </p>

          </div>

          <div class="story-details-lcv">

            <ion-grid>

              <ion-row>

                <ion-col>

                  <ion-label class="story-date1">{{item.activate_date | dateformat : 'DD MMM yyyy'}}</ion-label>

                </ion-col>

                <ion-col class="col-fit s-actions">

                  <ion-icon name="heart-outline"></ion-icon>

                  <span>{{item.likes_count}}</span>

                </ion-col>

                <ion-col class="col-fit s-actions">

                  <ion-icon name="chatbubble-outline"></ion-icon>

                  <span>{{item.comments_count}}</span>

                </ion-col>

                <ion-col class="col-fit s-actions">

                  <ion-icon name="eye-outline"></ion-icon>

                  <span>{{item.views_count}}</span>

                </ion-col>



              </ion-row>

            </ion-grid>

          </div>

        </ion-card>

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="4" size-lg="4" size="12">

        <ion-card class="story-card1" [routerLink]="['/story-details']">

          <img src="assets/story-photo1.png">
      
          <div class="story-contents">
      
            <ion-label>Lorem ipsum, or lipsum as it is illum animi official</ion-label>
      
            <p class="line-clamp">
              Amet ipsum voluptate anim et nostrud sint excepteur aliqua. Dolor quis sint cupidatat ipsum est magna aliqua
              nisi eiusmod consequat ut aute duis. Quis aute ea tempor officia. Nulla laborum velit irure dolore mollit aliqua
              commodo cupidatat do qui nisi esse excepteur. Fugiat aute excepteur nulla in adipisicing.
            </p>
      
          </div>
      
          <div class="story-details-lcv">
      
            <ion-grid>
      
              <ion-row>
      
                <ion-col>
      
                  <ion-label class="story-date1">05 Nov 2020</ion-label>
      
                </ion-col>
      
                <ion-col class="col-fit s-actions">
      
                  <ion-icon name="heart-outline"></ion-icon>
      
                  <span>18</span>
      
                </ion-col>
      
                <ion-col class="col-fit s-actions">
      
                  <ion-icon name="chatbubble-outline"></ion-icon>
      
                  <span>2</span>
      
                </ion-col>
      
                <ion-col class="col-fit s-actions">
      
                  <ion-icon name="eye-outline"></ion-icon>
      
                  <span>2</span>
      
                </ion-col>
      
      
      
              </ion-row>
      
            </ion-grid>
      
          </div>
      
        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="4" size-lg="4" size="12">

        <ion-card class="story-card1" [routerLink]="['/story-details']">

          <img src="assets/story-photo1.png">
      
          <div class="story-contents">
      
            <ion-label>Lorem ipsum, or lipsum as it is illum animi official</ion-label>
      
            <p class="line-clamp">
              Amet ipsum voluptate anim et nostrud sint excepteur aliqua. Dolor quis sint cupidatat ipsum est magna aliqua
              nisi eiusmod consequat ut aute duis. Quis aute ea tempor officia. Nulla laborum velit irure dolore mollit aliqua
              commodo cupidatat do qui nisi esse excepteur. Fugiat aute excepteur nulla in adipisicing.
            </p>
      
          </div>
      
          <div class="story-details-lcv">
      
            <ion-grid>
      
              <ion-row>
      
                <ion-col>
      
                  <ion-label class="story-date1">05 Nov 2020</ion-label>
      
                </ion-col>
      
                <ion-col class="col-fit s-actions">
      
                  <ion-icon name="heart-outline"></ion-icon>
      
                  <span>18</span>
      
                </ion-col>
      
                <ion-col class="col-fit s-actions">
      
                  <ion-icon name="chatbubble-outline"></ion-icon>
      
                  <span>2</span>
      
                </ion-col>
      
                <ion-col class="col-fit s-actions">
      
                  <ion-icon name="eye-outline"></ion-icon>
      
                  <span>2</span>
      
                </ion-col>
      
      
      
              </ion-row>
      
            </ion-grid>
      
          </div>
      
        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="4" size-lg="4" size="12">

        <ion-card class="story-card1" [routerLink]="['/story-details']">

          <img src="assets/story-photo1.png">
      
          <div class="story-contents">
      
            <ion-label>Lorem ipsum, or lipsum as it is illum animi official</ion-label>
      
            <p class="line-clamp">
              Amet ipsum voluptate anim et nostrud sint excepteur aliqua. Dolor quis sint cupidatat ipsum est magna aliqua
              nisi eiusmod consequat ut aute duis. Quis aute ea tempor officia. Nulla laborum velit irure dolore mollit aliqua
              commodo cupidatat do qui nisi esse excepteur. Fugiat aute excepteur nulla in adipisicing.
            </p>
      
          </div>
      
          <div class="story-details-lcv">
      
            <ion-grid>
      
              <ion-row>
      
                <ion-col>
      
                  <ion-label class="story-date1">05 Nov 2020</ion-label>
      
                </ion-col>
      
                <ion-col class="col-fit s-actions">
      
                  <ion-icon name="heart-outline"></ion-icon>
      
                  <span>18</span>
      
                </ion-col>
      
                <ion-col class="col-fit s-actions">
      
                  <ion-icon name="chatbubble-outline"></ion-icon>
      
                  <span>2</span>
      
                </ion-col>
      
                <ion-col class="col-fit s-actions">
      
                  <ion-icon name="eye-outline"></ion-icon>
      
                  <span>2</span>
      
                </ion-col>
      
      
      
              </ion-row>
      
            </ion-grid>
      
          </div>
      
        </ion-card>

      </ion-col> -->


    </ion-row>

  </ion-grid>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="posts.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-story.png">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No stories found</ion-label>
    </ion-item>
  </div>
</ion-content>


<ion-footer>

  <ion-fab vertical="bottom" *ngIf="create" horizontal="end" class="bottom-align"
    [routerLink]="['/create-story',{flag:1}]">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="footer-items-sec">

    <div class="bottom-navbar-sec">


      <div class="bns-item-1 bns-item-home" [routerLink]="['/menu']">
        <img class="feeds-icon" src="/assets/bottom-menu/home-icon.svg">
        <ion-text>Home</ion-text>
      </div>



      <div class="bns-item-1 bns-item-feeds" (click)="gotoFeeds()">
        <img src="/assets/bottom-menu/feeds-icon.svg">
        <ion-text>News</ion-text>
      </div>



      <div class="bns-item-1 bns-item-activity" (click)="gotoActivity()" *ngIf="modules.includes('Activity')&&act_view">
        <img src="/assets/bottom-menu/activities-icon.svg">
        <ion-text>Activity</ion-text>
      </div>


      <div class="bns-item-1 bns-item-dining" (click)="gotoDining()" *ngIf="rv!==1&&modules.includes('Dining Beta')&&dining_view">
        <img src="/assets/bottom-menu/dining-icon.svg">
        <ion-text>Dining</ion-text>
      </div>


      <div class="bns-item-1 bns-item-profile" (click)="gotoResidents()" *ngIf="modules.includes('Consumers')&&user_view">
        <img src="/assets/bottom-menu/resident-icon.svg">
        <ion-text>Residents</ion-text>
      </div>


    </div>

  </div>

</ion-footer>