<ion-header mode="md" class="ion-header-inner">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <ion-text>Link resident</ion-text>

      </ion-col>

      <ion-icon class="page-close-btn" name="close-circle-sharp" (click)="dismiss()"></ion-icon>

    </ion-row>

  </ion-grid>

</ion-header>

<div class="inner-content" >

  <div class="rvp-link-residents-sec">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="rvplr-form-item">

          <ion-label class="rvplrf-label">Select pets</ion-label>

          <ion-select interface="action-sheet" class="text_color" placeholder="Select" multiple="true" [(ngModel)]="selected_pet">

            <ion-select-option value="{{item.pet.id}}" *ngFor="let item of pets">{{item.pet.name}}</ion-select-option>
            <!-- <ion-select-option value="2">Pet name 2</ion-select-option>
            <ion-select-option value="3">Pet name 3</ion-select-option>
            <ion-select-option value="4">Pet name 4</ion-select-option>
            <ion-select-option value="5">Pet name 5</ion-select-option> -->

          </ion-select>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <div class="rvplr-form-item">

          <ion-label class="rvplrf-label">Select residents</ion-label>

          <ion-row>

            <ion-col size="12" size-sm="12" size-md="6" size-lg="6" *ngFor="let item of residents"
              (click)="selectResident(item.user_details.user_id)">

              <div class="resident-details-holder">

                <ion-item lines="none" color="none" class="rdh-item">

                  <ion-avatar class="resident-avatar">
                    <img
                      src="{{item.user_details.profile_pic}}">
                  </ion-avatar>

                  <div class="resident-info-block">
                    <ion-text class="resident-name">{{item.user_details.name}}</ion-text>
                    <span class="property-name">{{property}}</span>
                  </div>

                  <ion-checkbox slot="end" mode="ios" [checked]="selected.includes(item.user_details.user_id)" ></ion-checkbox>

                </ion-item>

              </div>

            </ion-col>

           

          </ion-row>

        </div>
        
      </ion-col>

    </ion-row>

  </div>

</div>

<ion-footer>

  <ion-item lines="none" color="none">

    <ion-button class="rvap-add-btn" (click)="continue()">Continue</ion-button>


  </ion-item>

</ion-footer>