.blue_card {
  background-color: #006DEA !important;
  padding: 10px 15px !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  margin: 10px 15px;
}

.blue_card ion-label {
  font-size: 16px !important;
  font-weight: normal !important;
  color: #ffffff !important;
  margin-left: 15px !important;
}

.text-end {
  text-align: end;
}
