<ion-header mode="md" class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row>

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/select-contact-type']"></ion-icon>

        </ion-col>

        <ion-col size="8">
          <ion-label class="page_title">Select Contact</ion-label>
        </ion-col>
        <!-- <ion-col *ngIf="!hide" class="text-end">
          <ion-button fill="clear" (click)="search()" class="col-fit header-buttons ion-align-self-end">
            <img src="assets/lens_icon.svg">
          </ion-button>
        </ion-col> -->

      </ion-row>

      <ion-row>

        <ion-col size="12">

          <ion-searchbar no-padding color="none" placeholder="Search" search-icon="none"
            class="messages-search-1" [(ngModel)]="terms" (ionCancel)="cancel()" (ionChange)="search()" ></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>



<ion-content>
 


  <div *ngIf="flag==1" class="chatlist_content">

    <!-- <app-contacts expandHeight="700px" [expanded1]="expanded1"> -->

    <ion-grid style="padding-inline-start: 0; padding-inline-end: 0; padding-top: 0; padding-bottom: 0;">
      <div *ngFor="let item of contacts" class="sc-card">
        <ion-row (click)="openResidentChat(item)">

          <ion-col class="col_fit">
            <ion-avatar>
              <img [src]="item.profile_pic" *ngIf="item.profile_pic!=null">
              <img src="assets/user_pic.png" *ngIf="item.profile_pic==null">
            </ion-avatar>
          </ion-col>

          <ion-col class="ion-col_second">

            <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding">

              <ion-label class="sender_name">{{item.name}}
              </ion-label>



            </ion-item>



            <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding" >

              <ion-label class="chat_message"><span *ngIf="item.residents.room">{{item.residents.room}}</span>
                <span *ngIf="item.residents.wing&&rv!==1">{{item.residents.wing.name}}</span>
                <span
                  *ngIf="item.residents.property_details&&item.residents.property_details.contract_details&&item.residents.property_details.contract_details.property&&item.residents.property_details.contract_details.property.location&&rv==1">
                  {{item.residents.property_details&&item.residents.property_details.contract_details&&item.residents.property_details.contract_details.property&&item.residents.property_details.contract_details.property.location.name}}
              </span>
              </ion-label>


            </ion-item>


          </ion-col>
        </ion-row>
      </div>

    </ion-grid>
   

    
    
    <div *ngIf="contacts.length==0">
      <ion-thumbnail 
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-consumers-found.svg">
      </ion-thumbnail>
  
      <ion-item lines="none" color="none" style="margin-top: 25px;" >
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No Resident Found</ion-label>
      </ion-item>

  </div>

  </div>



 
  <div *ngIf="flag==2" class="chatlist_content">
    <!-- <app-contacts expandHeight="700px" [expanded2]="expanded2"> -->
    <ion-grid style="padding-inline-start: 0; padding-inline-end: 0; padding-top: 0; padding-bottom: 0;">
      <div *ngFor="let item of family" class="sc-card">
        <ion-row (click)="openFamilyChat(item)">

          <ion-col class="col_fit">
            <ion-avatar>
              <img [src]="item.profile_pic">
            </ion-avatar>
          </ion-col>

          <ion-col class="ion-col_second">

            <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding">

              <ion-label class="sender_name">
                {{item.name}}
              </ion-label>



            </ion-item>



            <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding" *ngIf="item.family">

              <ion-label class="chat_message">
                {{item.family[0].relation}} {{" - "}} {{item.family[0].parent_details[0].user.name}}
              </ion-label>


            </ion-item>

          </ion-col>
        </ion-row>
      </div>

    </ion-grid>
    <!-- </app-contacts> -->
  </div>








  <!-- <ion-card class="blue_card"  (click)="openList(3)">
  <ion-row style="flex-wrap:nowrap">


    <ion-col size="11" class="dis_flex">
      <ion-label>{{branch}} staff</ion-label>
    </ion-col>

    <ion-col size="1" class="align_flex-end text-end">
    <ion-icon style="color:white" name="chevron-forward-outline"></ion-icon>
    </ion-col>

</ion-row>
</ion-card> -->
  <div *ngIf="flag==3" class="chatlist_content">
    <!-- <app-contacts expandHeight="700px" [expanded3]="expanded3"> -->
    <ion-grid style="padding-inline-start: 0; padding-inline-end: 0; padding-top: 0; padding-bottom: 0;">
      <div *ngFor="let item of staff" class="sc-card" [class.doNotShow]="user_id==item.user_id">
        <ion-row (click)="openStaffChat(item)">

          <ion-col class="col_fit">
            <ion-avatar>
              <img [src]="item.profile_pic">
            </ion-avatar>
          </ion-col>

          <ion-col class="ion-col_second">

            <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding">

              <ion-label class="sender_name">
                {{item.name}}
              </ion-label>



            </ion-item>



            <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding">

              <ion-label class="chat_message" *ngIf="item.user_details!=null&&item.user_type_id!==1">
                {{item.user_details.title}}
              </ion-label>

              <ion-label class="chat_message" *ngIf="item.user_type_id==1">
                Admin
              </ion-label>
            </ion-item>

          </ion-col>
        </ion-row>
      </div>

    </ion-grid>
    <!-- </app-contacts> -->
  </div>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>