ion-header {
  .resource_search {
    box-shadow: none;
    border: none;
    background: #fff;
    border-radius: 10px;
    color: #080808 !important;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-inline-start: 0 !important;
    padding-inline-end: 0px !important;
    position: absolute;
    top: 5px;
    right: 0;
    left: 30px;
    text-align: left;
  }

  .messages-search-1 {
    box-shadow: none;
    border: none;
    background: #fff;
    border-radius: 10px;
    color: #080808 !important;
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    -webkit-padding-start: 0 !important;
    padding-inline-start: 0 !important;
    -webkit-padding-end: 0px !important;
    padding-inline-end: 0px !important;
    text-align: left;
  }

  .page_title {
    margin-left: 20px;
  }
}

ion-content {
  --background: #eee;
  //  --padding-top:20px;
  //  --padding-bottom:20px;
  //  --padding-start:20px;
  //  --padding-end:20px;
}

.chatlist_content {
  background: #eee;
  padding: 20px;
}

.blue_card {
  background-color: #006dea !important;
  padding: 10px 15px !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  margin: 10px 15px;

  ion-label {
    font-size: 16px !important;
    font-weight: normal !important;
    color: #ffffff !important;
    margin-left: 15px !important;
  }
}

.text-end {
  text-align: end;
}

@media only screen and (min-width: 768px) {
  ion-header {
    .resource_search {
      box-shadow: none;
      border: none;
      background: #fff;
      border-radius: 10px;
      color: #080808 !important;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      padding-inline-start: 0 !important;
      padding-inline-end: 0px !important;
      position: absolute;
      top: 5px;
      right: 0;
      left: 30px;
      text-align: left;
    }
  }
}

.sc-card {
  box-shadow: none !important;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

ion-item {
  --min-height: auto;
}

.chatlist_content {
  ion-avatar {
    width: 50px;
    height: 50px;
  }

  .ion-col_second {
    align-items: center;

    ion-item:first-child {
      margin-bottom: 0;
    }
  }
}

.doNotShow {
  display: none;
}

.chat_message {
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #8c8c8c !important;
}

.sender_name {
  font-weight: 500 !important;
}
