<div class="option-item-block" *ngIf="task_edit">
  <ion-label (click)="edit()">Edit</ion-label>
</div>

<div class="option-item-block" *ngIf="task_delete">
  <ion-label (click)="deleteAlert()">Delete</ion-label>
</div>

<div class="option-item-block">
  <ion-label (click)="mark()">Mark as completed</ion-label>
</div>
