<ion-header class="ion-header-inner">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="1" size-md="1" size-lg="1" size="1">
        <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
      </ion-col>

      <ion-col size-sm="10" size-md="10" size-lg="10" size="10" class="page_title">

        <ion-label>How much did {{res.user.name}} consume?</ion-label>

      </ion-col>

      <!-- <ion-col size-sm="1" size-md="1" size-lg="1" size="1">

        <ion-button class="modal-close-btn" (click)="dismiss()">
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>

      </ion-col> -->

    </ion-row>

  </ion-grid>

</ion-header>

<ion-content>

  <div class="din-alertmodal-container" *ngIf="res">

    <!-- <ion-button class="modal-close-btn" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>

    <ion-label class="din-alertmodal-head">How much did {{res}} consume?</ion-label> -->

    <div class="din-consumed-options-sec">

      <ion-row>

        <ion-col size="6" size-sm="6" size-md="3" size-lg="3" (click)="consumed(1)">

          <div class="fc-item-box" [class.selected]="qty==1">
            <img class="din-consumed-option-img" src="assets/dining/consumed/full-pizza.svg">
            <ion-label class="din-consumed-option-name">Had full</ion-label>
          </div>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="3" size-lg="3" (click)="consumed(2)">

          <div class="fc-item-box" [class.selected]="qty==2">
            <img class="din-consumed-option-img" src="assets/dining/consumed/pizza-1.svg">
            <ion-label class="din-consumed-option-name">Had most</ion-label>
          </div>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="3" size-lg="3" (click)="consumed(3)">

          <div class="fc-item-box" [class.selected]="qty==3">
            <img class="din-consumed-option-img" src="assets/dining/consumed/pizza-2.svg">
            <ion-label class="din-consumed-option-name">Had half</ion-label>
          </div>

        </ion-col>

        <ion-col size="6" size-sm="6" size-md="3" size-lg="3" (click)="consumed(4)">

          <div class="fc-item-box" [class.selected]="qty==4">
            <img class="din-consumed-option-img" src="assets/dining/consumed/pizza-3.svg">
            <ion-label class="din-consumed-option-name">Had little</ion-label>
          </div>

        </ion-col>

        <ion-col size="12" size-sm="12" size-md="12" size-lg="12">

          <div class="mc-note-sec">

            <ion-label class="mc-ns-title">Meal consumption note  <ion-icon class="info-icon" name="alert-circle-sharp" (click)="showAlert($event)"></ion-icon></ion-label>
            <!-- <span class="mc-ns-info">This note will be sent to clinical software</span> -->

            <p class="mc-note">{{res.user.name}} had {{ml_time}} in {{area}} was served {{items}}</p>

            <ion-label class="eyn-label" (click)="showTextArea()">Add additional note</ion-label>

            <ion-textarea rows="6" class="mcns-textarea" [(ngModel)]="note" *ngIf="!hide">

            </ion-textarea>

          </div>

        </ion-col>

      </ion-row>

    </div>

    <!-- <div class="din-additional-food-option-box" >

   

      <ion-avatar>
        <img [src]="item.image">
      </ion-avatar>

      <ion-label>{{item.item_name}}</ion-label>

    </div> -->






  </div>

</ion-content>

<ion-footer>

  <ion-toolbar>

    <div class="fc-sec-footer">

      <ion-button class="fc-submit-btn" (click)="confirm()" >Submit</ion-button>

      <ion-button class="fc-cancel-btn" (click)="dismiss()">Cancel</ion-button>

    </div>

  </ion-toolbar>

</ion-footer>