ion-header {
    ion-label {
        font-family: "Poppins", sans-serif !important;
        font-weight: normal !important;
    }

}

.ion-header-inner {
    background: #0077B5;
    min-height: 100px;
    // padding: 40px 15px 10px;
    color: #fff;
    align-self: center;
    align-items: center;
    align-content: center;
    display: flex;

    ion-grid {
        ion-row {
            ion-col {
                padding: 5px 0px 0px !important;
                align-self: center !important;

                .modal-close-btn {
                    --padding-start: 0;
                    --padding-end: 0;
                    --padding-top: 0;
                    --padding-bottom: 0;
                    --background: transparent;
                    --box-shadow: none;
                }
            }

            .page_title {
                padding-left: 10px !important;
                padding-right: 10px !important;

                ion-label {
                    line-height: 20px;
                    font-size: 18px;
                }
            }

        }
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.din-alertmodal-container {
    align-items: unset;

    .modal-close-btn {
        top: 20px !important;
        right: 10px !important;
    }

    .din-alertmodal-head {
        font-size: 17px;
        font-weight: 600;
        color: #222;
        text-align: center;
        display: block;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .din-additional-food-option-box {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #d9d9d9;
        position: relative;

        &:last-child {
            border: none !important;
        }

        ion-avatar {
            max-width: 80px;
            min-width: 80px;
            width: 100%;
            height: 66px;
            --border-radius: 6px;
        }

        .selected-icon {
            display: none;
        }

        ion-label {
            font-size: 16px;
            color: #222222;
            margin-left: 20px;
        }
    }
}


.no-items {
    background: #fff1f1;
    color: #f11818;
    width: 98%;
    display: flex;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px auto;
    flex-direction: column;
}


.selected {
    border: 2px #1AAB4A solid !important;
    border-bottom: 2px solid #1AAB4A !important;
    border-radius: 10px;
    padding: 10px;

    .selected-icon {
        display: block !important;
        font-size: 35px;
        background: #fff;
        color: #1AAB4A;
        padding: 0px;
        border-radius: 50px;
        position: absolute;
        left: 8px;
        top: 7px;
    }
}

.din-consumed-options-sec {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-row {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-col {
            .fc-item-box {
                // max-width: fit-content !important;
                border: 1px solid #E5E5E5;
                border-radius: 10px;
                display: flex;
                // flex-direction: column;
                // min-width: 125px;
                justify-content: center;
                align-items: center;
                // margin: 10px;
                padding: 10px 12px;

                .din-consumed-option-img {
                    width: 50px;
                    height: 50px;
                }

                .din-consumed-option-name {
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    color: #252525;
                    margin-left: 15px;
                }
            }

            .mc-note-sec {
                display: flex;
                flex-direction: column;
                margin-top: 15px;
                padding-top: 15px;
                border-top: 1px dashed #ccc;

                .mc-ns-title {
                    font-size: 16px;
                    font-weight: 500;
                    color: #222;
                    align-items: center;
                    display: flex;

                    .info-icon {
                        font-size: 22px;
                        color: #0077b5;
                        margin-left: 5px;
                    }
                }

                .mc-ns-info {
                    font-size: 12px;
                    background: #ebf8ff;
                    color: #0077b5;
                    margin-top: 3px;
                    padding: 5px 10px;
                    max-width: fit-content;
                    border-radius: 6px;
                }

                .mc-note {
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    color: #252525;
                    line-height: 22px;
                    margin: 10px 0 20px;
                }

                .eyn-label {
                    font-size: 16px;
                    font-weight: 500;
                    color: #252525;
                }

                .mcns-textarea {
                    background: #efefef;
                    color: #222;
                    border-radius: 6px;
                    --padding-top: 10px;
                    --padding-end: 10px;
                    --padding-bottom: 10px;
                    --padding-start: 10px;
                    font-size: 16px;
                    min-height: 150px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border: none;
                }

            }
        }
    }
}

.fc-sec-footer {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    .fc-submit-btn {
        --border-radius: 50px;
        --padding-start: 20px;
        --padding-end: 20px;
        --background: #0077B5;
        --box-shadow: none !important;
        min-width: 110px;
        height: 40px;
        text-transform: none;
        font-family: "Roboto", sans-serif;
        font-weight: normal !important;
        font-size: 17px;
    }

    .fc-cancel-btn {
        --border-radius: 50px;
        --padding-start: 20px;
        --padding-end: 20px;
        --background: #eaeaea;
        --box-shadow: none;
        --color: #4F4F4F !important;
        color: #4F4F4F !important;
        height: 40px;
        min-width: 110px;
        margin-left: 20px;
        text-transform: none;
        font-family: "Roboto", sans-serif;
        font-weight: normal !important;
        font-size: 17px;
    }
}

.header-ios {
    padding-top: 45px;
}

ion-button.fc-cancel-btn.md.button.button-solid.in-toolbar.ion-activatable.ion-focusable.hydrated {
    --color: #4F4F4F !important;
    color: #4F4F4F !important;
}