<ion-header class="ion-header-inner">
  <ion-toolbar color="none">
    <ion-buttons mode="md" slot="start">
      <ion-back-button style="color: white; display: flex;" (click)="back()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title mode="md" class="page_title">Maintenance</ion-title>

    <!-- <ion-grid class="display_flex_end">

      <ion-row>

        <ion-col style="display: flex; justify-content: center;" (click)="pickJob()" *ngIf="pick">
          <ion-label class="pick-job">Pick Job</ion-label>
        </ion-col>

        <ion-col class="col_fit">

          <ion-select placeholder="Change Status" class="status_change_select" [(ngModel)]="status" (ionChange)="changeStatus(status)">
            <ion-select-option value="0">Open</ion-select-option>
            <ion-select-option value="2">With third party</ion-select-option>
            <ion-select-option value="1">In Progress</ion-select-option>
            <ion-select-option value="5">Waiting for feedback</ion-select-option>
            
            <ion-select-option value="3">Closed</ion-select-option>
            <ion-select-option value="4">Reopened</ion-select-option>
          </ion-select>

        </ion-col>

      </ion-row>

    </ion-grid> -->

  </ion-toolbar>

</ion-header>

<ion-content class="ion_maintenance_details_content">


  <ion-segment class="mb-10" value="info" mode="md">
    <ion-segment-button value="info" (click)="setContent(1)">
      <ion-label>Info</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="setContent(2)">
      <ion-label>Comments</ion-label>
    </ion-segment-button>
  </ion-segment>


  <ion-grid class="maintenance-prob-details" *ngIf="content">

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngFor="let item of details">

        <ion-card class="maintenance_details_card">

          <ion-label class="maintenance-problem-head">{{item.request_title}}</ion-label>

          <div>

            <ion-row>

              <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

                <ion-label>
                  ID
                  <span>
                    {{item.reference_id}}
                  </span>

                </ion-label>

              </ion-col>


              <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

                <ion-label>
                  Status
                  <span class="s-open" *ngIf="status==0">
                    Open
                  </span>
                  <span class="s-ip" *ngIf="status==1">
                    In progress
                  </span>
                  <span class="s-wtp" *ngIf="status==2">
                    With third party
                  </span>
                  <span class="s-closed" *ngIf="status==3">
                    Closed
                  </span>

                </ion-label>

              </ion-col>

              <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngIf="status==2&&item.agent">

                <ion-label>
                  Third party
                  <span>
                    {{item.agent.name}}
                  </span>

                </ion-label>

              </ion-col>

              <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

                <ion-label>
                  Location
                  <span *ngIf="item.location">
                    {{item.location}}
                  </span>
                  <span *ngIf="!item.location&&item.locationdetails">
                    {{item.locationdetails.name}}
                  </span>

                </ion-label>

              </ion-col>

              <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

                <ion-label>
                  Created by
                  <span *ngIf="item.creator!=null">
                    {{item.creator.name}}
                  </span>
                  <span *ngIf="item.creator==null && item.public_name!=null">
                    {{item.public_name}}
                  </span>
                </ion-label>

              </ion-col>

              <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

                <ion-label>
                  Created date
                  <span>
                    {{item.request_date | dateformat:'DD MMM yyyy'}}
                  </span>

                </ion-label>

              </ion-col>

              <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

                <ion-label>
                  Due date
                  <span>
                    {{item.due_date | dateformat:'DD MMM yyyy'}}
                  </span>

                </ion-label>

              </ion-col>

              <ion-col size="6" size-sm="6" size-md="6" size-lg="4" *ngIf="risk_status">

                <div class="form-bottom-border risk-rate-col">

                  <ion-label class="text_color">Risk Rating</ion-label>
                  <ion-select class="text_color" okText="Okay" cancelText="Dismiss" [(ngModel)]="risk"
                    (ionChange)="ChangeRisk(risk)" disabled=true>
                    <ion-select-option value="0">Low</ion-select-option>
                    <ion-select-option value="1">Medium</ion-select-option>
                    <ion-select-option value="2">High</ion-select-option>
                    <ion-select-option value="3">N/A</ion-select-option>
                  </ion-select>

                </div>

              </ion-col>

              <ion-col size="6" size-sm="6" size-md="6" size-lg="4" *ngIf="hazard_status">

                <div class="form-bottom-border">

                  <ion-label class="text_color">Hazard</ion-label>
                  <ion-select class="text_color" okText="Okay" cancelText="Dismiss" [(ngModel)]="hazard"
                    (ionChange)="changeHazard(hazard)" disabled=true>
                    <ion-select-option value="1">Yes</ion-select-option>
                    <ion-select-option value="0">No</ion-select-option>
                  </ion-select>

                </div>

              </ion-col>

              <ion-col size="6" size-sm="6" size-md="6" size-lg="4" *ngIf="out_of_order_status">

                <div class="form-bottom-border">

                  <ion-label class="text_color">Out of order Tag</ion-label>
                  <ion-select class="text_color" okText="Okay" cancelText="Dismiss" [(ngModel)]="out_of_order"
                    (ionChange)="ChangeOutofOrder(out_of_order)" disabled=true>
                    <ion-select-option value="1">Yes</ion-select-option>
                    <ion-select-option value="0">No</ion-select-option>
                  </ion-select>

                </div>

              </ion-col>

              <ion-col size="6" size-sm="6" size-md="6" size-lg="4" *ngIf="priority_status">

                <div class="form-bottom-border">

                  <ion-label class="text_color">
                    Priority
                  </ion-label>
                  <!-- <span class="urgent-priority" *ngIf="item.priority==2">
                    Urgent
                  </span>
                  <span class="medium-priority" *ngIf="item.priority==1">
                    Medium
                  </span>
                  <span class="low-priority" *ngIf="item.priority==0">
                    Low
                  </span> -->
                  <!-- <span [class.urgent-priority]="priority==2" [class.medium-priority]="priority==1" [class.low-priority]="priority==0"> -->
                  <ion-select class="text_color" okText="Okay" cancelText="Dismiss" [(ngModel)]="priority" disabled=true
                    (ionChange)="changePriority(priority)">
                    <ion-select-option value="0">Low</ion-select-option>
                    <ion-select-option value="1">Medium</ion-select-option>
                    <ion-select-option value="2">Urgent</ion-select-option>
                  </ion-select>
                  <!-- </span> -->

                </div>

              </ion-col>

              <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

                <div class="form-bottom-border assigned-to">

                  <ion-label class="text_color">Assigned to</ion-label>
                  <span *ngIf="selected_tec">{{selected_tec}}</span>
                  <span class="naf-label" *ngIf="!selected_tec">No assignees</span>

                </div>

              </ion-col>

              <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngIf="rv_branch==1&&resident_name">

                <div class="form-bottom-border assigned-to">

                  <ion-label class="text_color">Resident</ion-label>

                  <!-- <i class="res-info-icon las la-info-circle" (click)="openResidentInfo($event)"></i> -->

                  <ion-icon class="res-info-icon" name="information" (click)="openResidentInfo($event)"></ion-icon>

                  <span>{{resident_name}}</span>

                </div>



              </ion-col>

              <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngIf="preferred_status">

                <ion-label>
                  Preferred date & time
                  <span class="pb-14">
                    {{preferred_date| dateformat:'DD MMM YYYY, hh:mm A'}}
                  </span>

                </ion-label>

              </ion-col>

              <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngIf="entry_permission">

                <div class="form-bottom-border">

                  <ion-label class="text_color">Permission to enter</ion-label>
                  <ion-select class="text_color" okText="Okay" cancelText="Dismiss" [(ngModel)]="permission"
                    disabled=true>
                    <ion-select-option value="1">Yes</ion-select-option>
                    <ion-select-option value="0">No</ion-select-option>
                  </ion-select>

                </div>

              </ion-col>

            </ion-row>



          </div>

          <ion-item color="none" lines="none">
            <p class="maintenance-prob-description">
              {{item.description}}

            </p>
          </ion-item>

          <ion-row class="mb_20 attachment-sec" *ngIf="images.length>0&&photo_status"
            (click)="showImages($event,0,images)">

            <ion-col size="12" *ngIf="images.length==1">

              <ion-avatar class="attachment-avatar-1">
                <img [src]="images[0].image" *ngIf="images && images.length ">
              </ion-avatar>

            </ion-col>

            <ion-col size="12" *ngIf="images.length>1">

              <ion-avatar class="attachment-avatar-1">
                <img [src]="images[0].image" *ngIf="images && images.length">
              </ion-avatar>

            </ion-col>

            <ion-row class="attachment-inner-sec" style="flex-wrap: nowrap !important;margin-top: 2px;width: 100%;"
              *ngIf="images.length>1">

              <ion-col *ngIf="images.length>=2">

                <ion-avatar class="attachment-avatar">
                  <img [src]="images[1].image" *ngIf="images && images.length">
                </ion-avatar>


              </ion-col>

              <ion-col *ngIf="images.length>=3">

                <ion-avatar class="attachment-avatar">
                  <img [src]="images[2].image" *ngIf="images && images.length">
                </ion-avatar>

              </ion-col>

              <ion-col>

                <div class="more-img-box" *ngIf="images.length>=4">

                  <ion-avatar class="attachment-avatar">

                    <img [src]="images[3].image" *ngIf="images && images.length">

                  </ion-avatar>

                  <div class="myOverlay" *ngIf="images.length>4"></div>
                  <div class="num_badge" *ngIf="images.length>4">+{{images.length-4}}</div>

                </div>



              </ion-col>

            </ion-row>

          </ion-row>


          <ion-row *ngIf="docs.length>0&&photo_status">
            <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let doc of docs"
              (click)="openDoc(doc.image)">

              <ion-item lines="none" color="none" class="comment-document-container">

                <ion-icon class="doc-icon" name="document-outline"></ion-icon>

                <ion-label>{{doc.image.substr(doc.image.lastIndexOf('_') + 1)}}</ion-label>

                <ion-icon class="download-icon" name="arrow-down-circle-outline"></ion-icon>

              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>

      </ion-col>


      <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-card class="comment_card">

          <ion-grid>

            <ion-row class="bottom_line">

              <ion-col style="display: flex; justify-content: flex-start; align-self: center;">

                <ion-label class="comments_head">Comments</ion-label>

              </ion-col>

              <ion-col style="display: flex; justify-content: flex-end;" (click)="addComment()">

                <p class="add_comment_btn">Add Comment</p>

              </ion-col>

            </ion-row>

          </ion-grid>

          <ul >

            <li [class.mc_staff]="com.user.user_type_id==1|| com.user.user_type_id==2||com.user.user_type_id==3"
              [class.mc_technician]="com.user.user_type_id==4"
              [class.mc_consumer]="com.user.user_type_id==5 || com.user.user_type_id==6"
              *ngFor="let com of comment| slice:start:end">

              <ion-label class="mc_date_time">
                {{com.datetime | dateformat: 'hh:mm a | DD MMMM yyyy'}}
              </ion-label>

              <ion-label class="mc_author" *ngIf="com.user!=null">
                {{com.user.name}}
              </ion-label>

              <ion-label class="mc_comment">
                {{com.comment}}
              </ion-label>
              <div *ngIf="com.comment_image.length">

                <img class="mc_image" [src]="img.image" *ngFor="let img of com.comment_image">
    
              </div>
            </li>

            <ion-item lines="none" color="none">
              <ion-label style="width: 100%;text-align: right;font-weight: 500;color: blue;" (click)="viewMore()"
                *ngIf="comment.length>5 && end<comment.length">
                View more comments</ion-label>
            </ion-item>
          </ul>

        </ion-card>

      </ion-col> -->


    </ion-row>

  </ion-grid>

  <ion-card class="comment_card" *ngIf="!content">
    <div *ngIf="comment.length==0">
      <ion-thumbnail
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-comments.png">
      </ion-thumbnail>
      <ion-item lines="none" style="margin-top: 25px;">
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No comments yet</ion-label>
      </ion-item>
    </div>
    <ul *ngIf="comment.length>0">

      <li
        [class.mc_staff]="com.user==null||com.user.user_type_id==1|| com.user.user_type_id==2||com.user.user_type_id==3"
        [class.mc_technician]="com.user&&com.user.user_type_id==4"
        [class.mc_consumer]="com.user&&(com.user.user_type_id==5 || com.user.user_type_id==6)"
        *ngFor="let com of comment">

        <!-- <ion-label class="mc_date_time">
          {{com.datetime | dateformat: 'hh:mm a | DD MMMM yyyy'}}
        </ion-label>

        <ion-label class="mc_author" *ngIf="com.user!=null">
          {{com.user.name}}
        </ion-label> -->

        <div class="mc-header">

          <div class="mch-ib">

            <ion-label class="mc_date_time">
              {{com.datetime | dateformat: 'hh:mm a | DD MMMM yyyy'}}
            </ion-label>

          </div>

          <div class="mch-ib mb-10">

            <ion-label class="mc_author" *ngIf="com.user!=null">
              {{com.user.name}}
            </ion-label>

            <div class="public-comment" *ngIf="com.visibility==1">
              <ion-icon name="earth-sharp"></ion-icon>
              <ion-label>Public</ion-label>
            </div>

          </div>

        </div>

        <ion-label class="mc_comment">
          {{com.comment}}
        </ion-label>
        <div *ngIf="com.comment_image.length">
          <div *ngFor="let img of com.comment_image">
            <img class="mc_image" [src]="img.image" (click)="showImages($event,1,img.image)"
              *ngIf="img.image.includes('.jpg')||img.image.includes('.png')||img.image.includes('jpeg')">



            <ion-item lines="none" color="none" class="comment-document-container"
              *ngIf="img.image.includes('.pdf')||img.image.includes('.doc')" (click)="openDoc(img.image)">

              <ion-icon class="doc-icon" name="document-outline"></ion-icon>

              <ion-label>{{img.image.substr(img.image.lastIndexOf('/') + 1)}}</ion-label>

              <ion-icon class="download-icon" name="arrow-down-circle-outline"></ion-icon>

            </ion-item>

          </div>
        </div>
      </li>
      <!-- 
      <ion-item lines="none" color="none">
        <ion-label style="width: 100%;text-align: right;font-weight: 500;color: blue;" (click)="viewMore()"
          *ngIf="comment.length>5 && end<comment.length">
          View more comments</ion-label>
      </ion-item> -->
    </ul>

  </ion-card>

</ion-content>
<ion-footer class="d-flex-jc-center" *ngIf="!content&&edit">
  <p class="add_comment_btn" (click)="addComment()">Add Comment</p>

</ion-footer>