.page_title {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.risk-rate-col {
  margin-right: 0;
}

ion-grid {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
}

ion-segment {
  border-bottom: 1px solid #d5d5d5;

  ion-segment-button {
    max-width: 100% !important;
    --color: #222;
    --color-checked: #0077b5;

    ion-label {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      // font-weight: normal;
    }
  }
}

.d-flex-flex-end {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  ion-segment {
    margin-bottom: 20px;
  }

  .mc_image {
    border-radius: 10px;
    max-height: 250px !important;
    border: 1px solid #d3d3d3;
    max-width: 200px;
    object-fit: cover;
  }
}

ion-footer {
  padding: 10px 0px;
}

.text_color {
  opacity: 1 !important;
}

.assigned-to {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding-bottom: 5px;

  span {
    // font-size: 16px;
    // font-weight: 500;
    // color: #545454;
    // margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #252525;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e3e3e3;
  }
}

.maintenance-prob-details {
  ion-label {
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 15px !important;
    color: #6c6c6c !important;
    line-height: 19px;

    span {
      // font-family: "Poppins", sans-serif !important;
      // font-size: 17px !important;
      // font-weight: 500;
      // color: #545454;

      font-family: "Poppins", sans-serif !important;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dashed #e3e3e3;
      color: #252525;
    }

    .pb-14 {
      padding-bottom: 14px;
    }
  }

  ion-select {
    color: #222;
  }
}

.comment-document-container {
  --padding-start: 0px;
  --inner-padding-end: 0px;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  --min-height: auto;

  .doc-icon {
    font-size: 25px;
    color: #808080;
    // background: #f3f3f3;
    // padding: 10px;
    // border-radius: 50px;
  }

  ion-label {
    font-size: 15px !important;
    color: #989898 !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .download-icon {
    font-size: 20px;
    color: #ababab;
  }
}

.mc_image {
  border-radius: 10px;
  max-height: 250px;
  border: 1px solid #d3d3d3;
  min-width: 300px;
  object-fit: cover;
}

.maintenance_details_card {
  box-shadow: none !important;
  padding: 15px !important;

  .maintenance-problem-head {
    font-family: "Poppins", sans-serif !important;
    font-size: 16px !important;
    font-weight: 600;
    color: #252525 !important;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e3e3e3;
  }

  .urgent-tag {
    p {
      position: relative;
      top: -18px;
      left: 27px;
      transform: rotate(33deg);
      display: flex;
    }
  }
}

ion-select {
  // background: transparent;
  // max-width: -moz-fit-content;
  // padding-right: 15px;
  // padding-left: 0;
  // border-radius: 0;
  // margin-top: 0px;
  // margin-bottom: 10px;
  // height: 50px;
  // border-bottom: 1px dashed #e3e3e3;
  // color: #545454 !important;
  // font-size: 16px;
  // font-weight: 500;
  background: transparent;
  max-width: -moz-fit-content;
  padding-top: 0;
  padding-bottom: 9px;
  padding-right: 15px;
  padding-left: 0;
  border-radius: 0;
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #e3e3e3;
  color: #252525 !important;
  font-size: 16px;
  font-weight: 600;
}

.form-bottom-border {
  border: none;
}

.naf-label {
  // font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #cd1515 !important;
}

.maintenance-prob-description {
  color: #1c1c1c;
  // font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal !important;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 15px;
}

.attachment-sec {
  .attachment-avatar-1 {
    width: 100%;
    height: 220px;
    object-fit: cover;
    --border-radius: 10px;
  }

  .attachment-avatar {
    width: 100%;
    height: 115px;
    object-fit: cover;
    --border-radius: 10px;
  }
}

.maintenance-prob-details {
  ion-row {
    &:last-child {
      margin-bottom: 0 !important;
    }

    .attachment-sec {
      ion-col {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 5px;
        padding-right: 5px;
      }

      .attachment-inner-sec {
        ion-col {
          padding: 10px 5px;

          .more-img-box {
            position: relative;

            .myOverlay {
              width: 100%;
              height: 115px;
              position: absolute;
              top: 0px;
              bottom: 0px;
              opacity: 0.8;
              background: rgba(0, 0, 0, 0.6);
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .num_badge {
              position: absolute;
              top: 0;
              bottom: 0;
              font-size: 25px;
              width: 100%;
              margin-left: 0;
              margin-right: 0;
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .attachment-sec {
    .attachment-avatar {
      height: 300px;
    }

    .attachment-avatar-1 {
      height: 480px;
    }

    .attachment-inner-sec {
      ion-col {
        .more-img-box {
          .myOverlay {
            height: 300px !important;
          }
        }
      }
    }
  }
}

.comment_card {
  box-shadow: none !important;
}

.mc_date_time {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px !important;
}

.mc_author {
  font-family: "Open Sans", sans-serif;
}

.mc_comment {
  font-size: 16px;
  font-weight: 500 !important;
  color: #545454;
  display: flex;
  margin-bottom: 10px;
  flex-flow: column;
}

.assigned-to {
  position: relative;

  .res-info-icon {
    position: absolute;
    background: #c1eaff;
    color: #0077b5;
    top: -4px;
    left: 65px;
    padding: 2px;
    font-size: 20px;
    border-radius: 50px;
    z-index: 999;
  }
}

.mc-header {
  display: flex;
  flex-direction: column;

  .mch-ib {
    display: flex;
    align-items: center;

    .mc_date_time {
      // font-family: "Open Sans", sans-serif;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      margin-bottom: 5px !important;
    }

    .mc_author {
      // font-family: "Open Sans", sans-serif;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      margin-top: -3px;
      margin-bottom: 0;
    }

    .public-comment {
      display: flex;
      align-items: center;
      color: #828282;
      padding-left: 8px;
      margin-top: -3px;
      margin-left: 8px;
      border-left: 1px solid #8a949e;
      height: 11px;

      ion-icon {
        font-size: 12px;
      }

      ion-label {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header-ios {
      padding-top: 15px;
  }
}


.s-open {
  color: #f7b100 !important;
}

.s-ip {
  color: #00a2ff !important;
}

.s-wtp {
  color: #c72cca !important;
}

.s-closed {
  color: #00aa0e !important; 
}