.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.6);
}

.num_badge {
  position: absolute;
  top: 40%;
  font-size: 25px;
  width: 100%;
  margin-left: 40%;
  margin-right: 40%;
  color: #fff;
}

.risk-rate-col {
  margin-right: 0;
}

ion-grid {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
}

ion-segment-button {
  max-width: 100% !important;
}

ion-segment-button ion-label {
  font-size: 16px;
  font-weight: normal;
}

.d-flex-flex-end {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  ion-segment {
    margin-bottom: 20px;
  }
}
