ion-header {
  background-color: #FFF !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  padding: 10px 5px;
}

ion-header ion-toolbar {
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
}

ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-card {
  padding: 15px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 1px;
}

ion-card-content {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
}

ion-input {
  border-radius: 30px;
  border: solid 1px #B3BAC3;
  margin-left: 10px;
  margin-right: 0px;
  font-size: 15px !important;
  padding-left: 10px !important;
  min-height: 30px !important;
  --padding-top: 0px;
  --padding-end: 0;
  --padding-bottom: 0px;
  --padding-start: 0px;
}

.story_head_container ion-avatar {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.story_head_container ion-avatar + ion-avatar {
  margin-left: -10px;
}

.card-content-ios {
  padding-top: 15px;
  padding-bottom: 0px !important;
}

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  background: none !important;
}

.play_icon {
  position: absolute;
  top: 40%;
  font-size: 60px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.view-count-icon {
  color: #a9a9a9;
  font-size: 24px !important;
}

.display_flexend {
  display: flex;
  justify-content: flex-end;
}

.view-count {
  font-size: 13px;
  color: #a9a9a9;
  margin-left: 10px;
  align-self: center;
  margin-top: -3px;
}

.no_inline_margin {
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}

div.item-native div.item-native::after {
  padding: 0px !important;
}

.no_padding_inline {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.no_padding_inline ion-row,
ion-col {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.story_head_container {
  margin-left: 15px;
}

.story_heading {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #1c1c1c !important;
  line-height: 20px !important;
}

.author_name {
  font-size: 12px !important;
  font-weight: normal !important;
  color: #A6A6A6 !important;
}

.post_time {
  font-size: 12px !important;
  font-weight: normal !important;
  color: #A6A6A6 !important;
  margin-left: 20px;
}

.activity_time {
  font-size: 12px !important;
  font-weight: normal !important;
  color: #A6A6A6 !important;
}

.story_pin {
  margin-top: -16px;
  width: 23px;
  height: 29px;
  float: right;
}

.story_text {
  color: #818181;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

.story_text p {
  color: #818181;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

.comments_sep_stories {
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 10px !important;
  margin-bottom: 15px;
}

.comments_sep_story_details {
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 10px !important;
  margin-bottom: 15px;
}

.likes {
  font-size: 13px;
  color: #A6A6A6;
  margin-left: 10px;
}

.comments {
  font-size: 13px;
  color: #A6A6A6;
  margin-left: 10px;
}

.user_comments {
  color: #5c5c5c !important;
  font-size: 15px !important;
  margin-left: 20px;
  line-height: 20px !important;
  padding-left: 20px;
}

.comment_username {
  margin-left: 20px;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #A6A6A6 !important;
}

.comment_time {
  margin-left: 15px;
  font-size: 12px;
  font-weight: normal;
  color: #A6A6A6;
  margin-right: 8px !important;
}

.react_icons {
  width: 24px !important;
  height: 20px !important;
}

.sep_line {
  width: 95%;
  color: #c8c8c8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comments_default_user_avatar {
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background: #ccc;
  width: 30px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.comments_default_user_avatar ion-label {
  font-size: 18px;
  font-weight: bold;
}

.bg-red.bg-lighten-4 {
  background-color: #ffcdd2 !important;
  color: #9742AF !important;
}

.bg-red.bg-lighten-4.bg-glow {
  box-shadow: 0px 1px 20px 1px rgba(255, 205, 210, 0.6);
}

.bg-green.bg-lighten-4 {
  background-color: #E2FFEE !important;
  color: #0B6A00 !important;
}

.bg-red.bg-lighten-4.bg-glow {
  box-shadow: 0px 1px 20px 1px #e2ffee;
}

.comments_container {
  margin-bottom: 15px;
}

.profile_pic_thumb {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.send_btn {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .feed-media {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .feed-media {
    width: 100%;
    height: 430px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1024px) {
  .feed-media {
    width: 100%;
    height: 620px;
    object-fit: cover;
  }
}

.like1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.like1-red-filled {
  font-size: 25px;
  color: #d40000;
  vertical-align: middle;
}

.comment1 {
  font-size: 22px;
  color: #858585;
  vertical-align: middle;
}

.view-count-icon1 {
  font-size: 25px;
  color: #858585;
  vertical-align: middle;
}

.las {
  font-size: 15px;
}

@media only screen and (max-width: 767px) {
  .story-date-time {
    display: none !important;
  }
  .las {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .story-date-time {
    font-size: 15px;
    vertical-align: sub;
    margin-right: 2px;
  }
}
