<ion-header>
  <ion-toolbar color="none" lines="none" class="no-border">

    <div>

      <ion-row>

        <ion-col class="ion-align-self-start company-logo-box" size="10">

          <img src="assets/centrimlife-logo-inner.svg">

        </ion-col>

        <ion-col class="col-fit ion-align-self-center notification-box">
          <div class="notifications" (click)="notification()">
            <!-- <ion-icon name="notifications-outline" class="color-grey"></ion-icon> -->
            <img class="header-notifications-icon" src="assets/menu-notification-icon.svg">
            <span class="nbadge" *ngIf="notify!=0 && notify<100">{{notify}}</span>
            <span class="nbadge" *ngIf="notify!=0 && notify>=100">99+</span>
          </div>
        </ion-col>

      </ion-row>

    </div>

  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



  <ion-card *ngIf="pinned!=null" (click)="gotoDetails(pinned.id)">

    <ion-icon class="story_pin" src="assets/pin.svg"></ion-icon>
    <ion-grid class="no_padding_inline">
      <div>
        <ion-row style="flex-wrap: nowrap;">

          <ion-col class="col_fit" size="2">
            <ion-avatar class="profile_pic_thumb">
              <img [src]="pinned.icon">
            </ion-avatar>
          </ion-col>

          <ion-col class=" story_head_container" size="10">
            <ion-label text-wrap>
              <p class="story_heading ">{{pinned.title}}</p>
              <p>
                <ion-row>
                  <ion-col class="author_name col_fit"><i class="las la-user"></i>{{" "}}{{pin_creator}}</ion-col>
                  <ion-col class="post_time">
                    <ion-icon class="story-date-time" name="calendar-clear-outline"></ion-icon>
                    {{" "}}{{pinned.activate_date | dateformat : 'MMMM DD, yyyy'}}
                  </ion-col>

                </ion-row>
              </p>
            </ion-label>
          </ion-col>

          <ion-col size="4" *ngIf="pinned.post_type==6">
            <img style="float: right;" src="assets/attended_btn.svg">
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col>

            <ion-card-content class="story_text " [innerHTML]="pinned.description" *ngIf="pinned.post_type!=6">

            </ion-card-content>



          </ion-col>

        </ion-row>

        <ion-row class="mb-10" *ngIf="pinned && pinned.images && pinned.images.length">

          <ion-col class="story-img-container">

            <img [src]="pinned.images[0].post_attachment" style="width: 100%;" class="feed-media">
            <div class="more-media-count" *ngIf="pinned.images.length>1"><ion-icon name="attach-outline"></ion-icon>
              +{{pinned.images.length-1}} more images</div>
          </ion-col>

        </ion-row>


        <ion-row class="mb-10 feed-media" *ngIf="pinned.images==[] && pinned.videos && pinned.videos.length">

          <ion-col class="story-img-container">


            <img [src]="pinned.videos[0].thumbnail" style="width: 100%;">
            <div class="video-overlay"></div>
            <div>
              <ion-icon name="play" class="play_icon"></ion-icon>
            </div>
            <div class="more-media-count" *ngIf="pinned.videos.length>1"><ion-icon name="attach-outline"></ion-icon>
              +{{pinned.images.length-1}} more images</div>
          </ion-col>

        </ion-row>

      </div>

      <ion-row class="comments_sep_stories">

        <ion-col class="col-fit dflex-ai-center">

          <!-- <ion-icon class="react_icons" src="assets/heart_icon.svg" *ngIf="!pinned.liked" (click)="like(pinned)"></ion-icon>
          <ion-icon class="react_icons" src="assets/heart_icon_filled_red.svg" *ngIf="pinned.liked" (click)="like(pinned)" ></ion-icon>
          <span class="likes">{{pinned.likes_count}}</span> -->

          <ion-icon class="like1" name="heart-outline" *ngIf="!pinned.liked"
            (click)="like(pinned); $event.stopPropagation()"></ion-icon>
          <ion-icon class="like1-red-filled" name="heart-sharp" *ngIf="pinned.liked"
            (click)="like(pinned); $event.stopPropagation()"></ion-icon>
          <span class="likes">{{pinned.likes_count}}</span>

        </ion-col>

        <!-- <ion-col class="col-fit">

          <ion-icon class="doc-attached" name="attach-outline"></ion-icon>

        </ion-col> -->

        <ion-col class="col-fit doc-com-view-box" style="text-align: center;">
          <!-- <ion-icon class="react_icons" src="assets/comment_icon.svg"></ion-icon>

          <span class="comments">{{pinned.comments_count}}{{""}} Comments</span> -->

          <div class="feeds-inner-item">

            <ion-icon class="comment1" name="chatbubble-outline"></ion-icon>
            <span class="comments">{{pinned.comments_count}}{{""}} Comments</span>

          </div>

          <div class="feeds-inner-item" *ngIf="pinned.attachments.length&&pinned.attachments.length>0">
            <ion-icon class="doc-attached" name="attach-outline"></ion-icon>
            <span class="likes">{{pinned.attachments.length}}</span>
          </div>

          <div class="feeds-inner-item">

            <ion-icon class="view-count-icon" name="eye-outline"></ion-icon>
            <span class="view-count">{{pinned.views_count}}</span>

          </div>

        </ion-col>
        <!-- <ion-col class="col-fit" *ngIf="pinned.attachments.length&&pinned.attachments.length>0">

          <ion-icon class="doc-attached" name="attach-outline"></ion-icon>
          <span class="likes">{{pinned.attachments.length}}</span>
        </ion-col> -->

        <!-- <ion-col class="col-fit">

          <ion-icon class="view-count-icon" name="eye-outline"></ion-icon>
          <span class="view-count">{{pinned.views_count}}</span>

        </ion-col> -->
      </ion-row>

      <ion-item lines="none" style="--min-height: auto; --padding-start: 0; --inner-padding-end: 0;" color="none" class="no_inline_margin"
        *ngIf="pinned.post_type!=6&&pinned.hide_comment==0">

        <ion-avatar class="profile_pic_thumb" *ngIf="user_img">
          <img [src]="user_img">
        </ion-avatar>
        <ion-avatar class="profile_pic_thumb bg-green bg-lighten-4" *ngIf="!user_img">
          <ion-label style="margin-left: 8px;margin-top: 5px;font-size: 18px; font-weight: bold;">{{p_name}}</ion-label>
        </ion-avatar>


        <ion-input [(ngModel)]="commentText" placeholder="Add a comment..." readonly>
        </ion-input>



      </ion-item>

    </ion-grid>


  </ion-card>

  <ion-card *ngFor="let item of posts;let idx = index" (click)="gotoDetails(item.id)">


    <ion-grid class="no_padding_inline">
      <div>
        <ion-row style="flex-wrap: nowrap;">

          <ion-col class="col_fit" size="2">
            <ion-avatar class="profile_pic_thumb">
              <img [src]="item.icon">
            </ion-avatar>
          </ion-col>

          <ion-col class=" story_head_container" size="10">
            <ion-label text-wrap>
              <p class="story_heading ">{{item.title}}</p>
              <p>
                <ion-row>
                  <ion-col class="author_name col_fit" *ngIf="item.post_type!=6"><i class="las la-user"></i>{{"
                    "}}{{item.creator.name}}</ion-col>
                  <ion-col class="post_time" *ngIf="item.post_type!=6">
                    <ion-icon class="story-date-time" name="calendar-clear-outline"></ion-icon>

                    {{" "}}{{item.activate_date | dateformat : 'MMMM DD, yyyy'}}
                  </ion-col>
                  <ion-col class="author_name col_fit" *ngIf="item.post_type==6">
                    <ion-icon class="story-date-time" name="calendar-clear-outline"></ion-icon>

                    {{" "}}{{item.activate_date | dateformat : 'MMMM DD, yyyy'}}
                  </ion-col>
                  <ion-col class="col_fit display_none tagged-consumers-box"
                    *ngIf="item.tagged_users.length">
                    <ion-icon class="c_tag" src="/assets/consumer_tag.svg"></ion-icon>
                    <ion-avatar>
                      <img [src]="item.tagged_users[0].profile_pic"
                        *ngIf="item.tagged_users && item.tagged_users.length">
                    </ion-avatar>
                    <ion-avatar *ngIf="item.tagged_users.length>1">
                      <img [src]="item.tagged_users[1].profile_pic"
                        *ngIf="item.tagged_users && item.tagged_users.length">
                    </ion-avatar>
                    <span *ngIf="item.tagged_users.length>2">+{{item.tagged_users.length-2}}</span>

                  </ion-col>
                </ion-row>
              </p>
            </ion-label>
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col>

            <ion-card-content class="story_text" [innerHTML]="item.description" *ngIf="item.post_type!=6">

            </ion-card-content>
            <p class="see-more-link"
              *ngIf="item.description.length >170 && item.post_type!=6 && item.description!=null">See More..</p>
            <ion-card-content *ngIf="item.post_type==6" [innerHTML]="item.activity_feedback">
              <!-- <img  src="assets/attended_btn.svg" style="margin-left: 10px;margin-top: 10px;"> -->
            </ion-card-content>


          </ion-col>

        </ion-row>

        <ion-row class="mb-10" *ngIf="item && item.images && item.images.length">

          <ion-col class="story-img-container">

            <img [src]="item.images[0].post_attachment" style="width: 100%;" class="feed-media">
            <div class="more-media-count" *ngIf="item.images.length>1"><ion-icon name="attach-outline"></ion-icon>
              +{{item.images.length-1}} more images</div>
          </ion-col>

        </ion-row>
        <ion-row class="mb-10" *ngIf="item && item.images.length==0 && item.videos && item.videos.length">

          <ion-col class="story-img-container">


            <img [src]="item.videos[0].thumbnail" style="width: 100%;" class="feed-media">
            <div class="video-overlay feed-media"></div>
            <div>
              <ion-icon name="play" class="play_icon"></ion-icon>
            </div>
            <div class="more-media-count" *ngIf="item.videos.length>1"><ion-icon name="attach-outline"></ion-icon>
              +{{item.videos.length-1}} more images</div>
          </ion-col>

        </ion-row>

      </div>

      <ion-row class="comments_sep_stories">

        <ion-col class="col-fit dflex-ai-center">

          <!-- <ion-icon class="react_icons" src="assets/heart_icon.svg" *ngIf="item.liked==false " (click)="like(item)">
          </ion-icon>
          <ion-icon class="react_icons" src="assets/heart_icon_filled_red.svg" *ngIf="item.liked==true  "
            (click)="like(item)"></ion-icon>
          <span class="likes">{{item.likes_count}}</span> -->

          <ion-icon class="like1" name="heart-outline" *ngIf="item.liked==false"
            (click)="like(item); $event.stopPropagation()"></ion-icon>
          <ion-icon class="like1-red-filled" name="heart-sharp" *ngIf="item.liked==true"
            (click)="like(item); $event.stopPropagation()">
          </ion-icon>
          <span class="likes">{{item.likes_count}}</span>

        </ion-col>

        <ion-col class="col-fit doc-com-view-box" >

          <div class="feeds-inner-item" *ngIf="item.attachments.length&&item.attachments.length>0">

            <ion-icon class="doc-attached" name="attach-outline"></ion-icon>
            <span class="likes">{{item.attachments.length}}</span>

          </div>

          <div class="feeds-inner-item">

            <ion-icon class="comment1" name="chatbubble-outline"></ion-icon>
            <span class="comments">{{item.comments_count}}{{""}} Comments</span>

          </div>

          <div class="feeds-inner-item">

            <ion-icon class="view-count-icon1" name="eye-outline"></ion-icon>
            <span class="view-count">{{item.views_count}}</span>

          </div>


        </ion-col>

        <!-- <ion-col class="col-fit" style="text-align: center;">

          <ion-icon class="comment1" name="chatbubble-outline"></ion-icon>
          <span class="comments">{{item.comments_count}}{{""}} Comments</span>

        </ion-col> -->

        <!-- <ion-col class="col-fit">
          <ion-icon class="view-count-icon1" name="eye-outline"></ion-icon>
          <span class="view-count">{{item.views_count}}</span>
        </ion-col> -->

      </ion-row>

      <ion-item lines="none" style="--min-height: auto; --padding-start: 0; --inner-padding-end: 0;" color="none" class="no_inline_margin"
        *ngIf="item.hide_comment==0">

        <ion-avatar class="profile_pic_thumb" *ngIf="user_img">
          <img [src]="user_img">
        </ion-avatar>
        <ion-avatar class="profile_pic_thumb bg-green bg-lighten-4" *ngIf="!user_img">
          <ion-label style="margin-left: 8px;margin-top: 5px;font-size: 18px; font-weight: bold;">{{p_name}}</ion-label>
        </ion-avatar>


        <ion-input [(ngModel)]="commentText" placeholder="Add a comment..." readonly>
        </ion-input>



      </ion-item>

    </ion-grid>

  </ion-card>



  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <div *ngIf="pinned==null && posts.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-story.png">
    </ion-thumbnail>

    <ion-item lines="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No posts found</ion-label>
    </ion-item>
  </div>

  <!-- <ion-card class="stories" *ngFor="let item of posts;let idx = index" [routerLink]="['/story-details']">

    <ion-card-header>

      <ion-grid>

        <ion-row>

          <ion-col class="ion-align-self-start col-fit">

            <ion-avatar class="story-avatar">
              <img [src]="item.icon">
            </ion-avatar>

          </ion-col>

          <ion-col class="story-title-sec">

            <ion-label class="story-title">
              {{item.title}}
            </ion-label>

            <ion-item lines="none" color="none" class="story-info">

              <span>{{item.creator.name}}</span>

              <span>09 October 2020</span>

            </ion-item>

          </ion-col>

        </ion-row>

      </ion-grid>

    </ion-card-header>

    <ion-card-content>
      <p class="story-details ">
        The virus is thought to spread mainly from person-to-person. Wash your hands often with soap and water for at
        least 20 sec...
      </p>
    </ion-card-content>

    <ion-grid class="story-lce-container">

      <ion-row>

        <ion-col class="col-fit ion-align-self-start">

          <ion-icon class="story-like-icon" name="heart-outline"></ion-icon>

          <span>18</span>

        </ion-col>

        <ion-col class="col-fit ion-align-self-center">

          <ion-icon class="story-comment-icon" name="chatbubble-outline"></ion-icon>

          <span>2 Comments</span>

        </ion-col>

        <ion-col class="col-fit ion-align-self-end">

          <ion-icon class="story-views-icon" name="eye-outline"></ion-icon>

          <span>2</span>

        </ion-col>

      </ion-row>

    </ion-grid>

    <ion-grid class="comment-section">

      <ion-row>

        <ion-col class="col-fit ion-align-self-center">

          <ion-avatar class="comment-user-pic">
            <img src="assets/user-icon1.jpg">
          </ion-avatar>

        </ion-col>

        <ion-col class="ion-align-self-end">

          <ion-input placeholder="Add a comment" class="comment-input"></ion-input>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-card>




  <ion-card class="stories"  [routerLink]="['/story-details']">

    <ion-card-header>

      <ion-grid>

        <ion-row>

          <ion-col class="ion-align-self-start col-fit">

            <ion-avatar class="story-avatar">
              <img src="assets/community-icon.svg">
            </ion-avatar>

          </ion-col>

          <ion-col class="story-title-sec">

            <ion-label class="story-title">
              How to Protect Yourself & Others from Covid-19?
            </ion-label>

            <ion-item lines="none" color="none" class="story-info">

              <span>Angelina</span>

              <span>09 October 2020</span>

            </ion-item>

          </ion-col>

        </ion-row>

      </ion-grid>

    </ion-card-header>

    <ion-card-content>
      <p class="story-details line-clamp">
        Better Communication with family & loved ones. Consumer Stories Share news and events about your consumers to
        their ....
      </p>
    </ion-card-content>

    <ion-grid class="story-lce-container">

      <ion-row>

        <ion-col class="col-fit ion-align-self-start">

          <ion-icon class="story-like-icon" name="heart-outline"></ion-icon>

          <span>18</span>

        </ion-col>

        <ion-col class="col-fit ion-align-self-center">

          <ion-icon class="story-comment-icon" name="chatbubble-outline"></ion-icon>

          <span>2 Comments</span>

        </ion-col>

        <ion-col class="col-fit ion-align-self-end">

          <ion-icon class="story-views-icon" name="eye-outline"></ion-icon>

          <span>2</span>

        </ion-col>

      </ion-row>

    </ion-grid>

    <ion-grid class="comment-section">

      <ion-row>

        <ion-col class="col-fit ion-align-self-center">

          <ion-avatar class="comment-user-pic">
            <img src="assets/user-icon1.jpg">
          </ion-avatar>

        </ion-col>

        <ion-col class="ion-align-self-end">

          <ion-input placeholder="Add a comment" class="comment-input"></ion-input>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-card> -->



</ion-content>


<ion-footer>

  <div class="footer-icons-block">

    <ion-button class="fib-button">
      <ion-icon class="feed-icon-selected"></ion-icon>
    </ion-button>

    <ion-button class="fib-button" (click)="gotoActivity()">
      <ion-icon name="pulse-outline"></ion-icon>
    </ion-button>

    <ion-button class="fib-button" [routerLink]="['/menu']">
      <ion-icon class="bottom_menu_icon"></ion-icon>
    </ion-button>

    <ion-button class="fib-button" (click)="gotoDining()">
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-button>

    <ion-button class="fib-button" (click)="gotoResidents()">
      <ion-icon name="person-outline"></ion-icon>
    </ion-button>

  </div>

</ion-footer>