<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="ion-align-self-start page-name">
          <ion-label *ngIf="data!==3">Create allergy</ion-label>
          <ion-label *ngIf="data==3">Create medical condition</ion-label>
          <ion-icon class="page-close" name="close-circle" (click)="dismiss()"></ion-icon>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<div class="inner-content">

  <div class="add-new-allergy-type-sec">

    <div class="anats-item">
      <ion-label class="anats-item-label">Name <span class="asterisk">*</span></ion-label>
      <ion-input [(ngModel)]="allergy"></ion-input>
    </div>
  
  </div>

</div>

<ion-footer>

  <ion-toolbar>

    <div class="footer-ib">

      <ion-button class="footer-continue-btn" (click)="create()">Create</ion-button>
      <ion-button class="footer-cancel-btn" (click)="dismiss()">Cancel</ion-button>

    </div>

  </ion-toolbar>

</ion-footer>