<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <!-- <ion-tabs>
    <ion-tab-bar #myTabBar id="myTabBar" slot="bottom">
      <ion-tab-button  (click)="gotoFeeds()">
      
        <ion-icon class="feed-icon"></ion-icon>
       
      </ion-tab-button>

      <ion-tab-button  (click)="gotoActivity()">
       
        <ion-icon name="pulse-outline"></ion-icon>
      
      </ion-tab-button>

      <ion-tab-button tab="menu">
        
        <ion-icon class="bottom_menu_icon"></ion-icon>
        
      </ion-tab-button>



      <ion-tab-button (click)="gotoDining()">
       
        <ion-icon name="restaurant-outline"></ion-icon>

      </ion-tab-button>

      <ion-tab-button  (click)="gotoResidents()">
        
        <ion-icon name="person-outline"></ion-icon>
        
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs> -->
</ion-app>