ion-tabs {

    ion-tab-bar {
        height: 60px;
    }

    p {
        font-family: 'Google Sans';
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        margin-top: 5px;
    }

}

.bottom_menu_icon {
    background-image: url('/assets/bottom_menu_icon.svg');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

ion-badge {
    color: white;
    background-color: #e70d68;
    margin-left: -24px;
    margin-top: -5px;
    border-radius: 12px;
    padding: 2px 5px;
    font-size: 10px !important;
    font-weight: normal;
    position: relative;
    top: 4px;
    left: 10px;
}

.feedsicon {
    width: 20px;
}

@media only screen and (min-width:320px) and (max-width:767px) {
    ion-tabs {
        p {
            display: none;
        }
    }
}

.feed-icon {
    background-image: url(/assets/feed-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 20px;
}


ion-tab-bar {
    ion-tab-button.tab-selected {

        .feed-icon {
            background-image: url(/assets/feed-icon-selected.svg);
        }
        

        p {
            color: #0077b5
        }
    }
    ion-tab-button:focus {
        .feed-icon {
            background-image: url(/assets/feed-icon-selected.svg);
        }
        

        p {
            color: #0077b5
        }
    }
}