ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;

    p {
        margin: 10px;
        color: #222;
        font-family: "Roboto", sans-serif;
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 10px;
        }

        ion-icon {
            font-size: 18px;
            margin-left: 5px;
            margin-right: -5px;
        }
    }
}
