<ion-header class="ion-header-inner">

  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">

          <ion-label>Resident details</ion-label>

        </ion-col>

        <ion-col class="col-fit ion-align-self-start page-name">

          <ion-button class="close-modal-btn" (click)="cancel()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="mn-res-info">
   

    <!-- <ion-label class="mn-res-phone">Phone: {{phone}}</ion-label> -->

    <ion-label class="mn-res-phone"> <i class="las la-phone"></i> {{phone?phone:'Not available'}}</ion-label>

    <ion-label class="mn-res-partner" *ngIf="partner">Other resident: {{partner}}</ion-label>

  </div>

</ion-content>