.ion-header-inner {
    min-height: auto;

    ion-toolbar {
        --min-height: auto;

        .page-name {
            .close-modal-btn {
                --background: rgba(135, 181, 255, 0.3) !important;
                --background-activated: transparent;
                --border-radius: 50px !important;
                --box-shadow: none;
                color: #fff !important;
                box-shadow: none !important;
                font-size: 25px;
                --padding-start: 10px;
                --padding-end: 10px;
                --padding-top: 10px;
                --padding-bottom: 10px;
                width: 42px;
                height: 42px;
                margin-left: 10px;
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

    }

    
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.mn-res-info {
    display: flex;
    flex-direction: column;

    .mn-res-phone {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: #4a4a4a;
        display: block;
        border-bottom: 1px dashed #d3d3d3;
        margin-bottom: 10px;
        padding-bottom: 10px;

        i {
            color: #0077b5;
            font-size: 20px;
            margin-right: 10px;
            background: #dae8f1;
            padding: 5px;
            border-radius: 50px;
        }
    }

    .mn-res-phone-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px dashed #d3d3d3;
        margin-bottom: 10px;
        padding-bottom: 10px;

        .mnrpb-inner-box {
            display: flex;
            align-items: center;

            .mnrpb-mob-icon {
                font-size: 22px;
                vertical-align: bottom;
                color: #1d5a7a;
                margin-right: 5px;
            }

            .mnrpb-ib-label {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                color: #4a4a4a;
                margin-left: 10px;
            }
        }

        .mnrpb-call-btn {
            --background: none;
            --box-shadow: none;
            --border-radius: 50px;
            --padding-start: 0;
            --padding-end: 0;
            --padding-top: 0;
            --padding-bottom: 0;
            border: 1px solid rgba(0, 173, 35, 0.25);
            border-radius: 50px;
            font-size: 16px;
            color: #00ad23;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
        }
    }

    .mn-res-partner {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #4a4a4a;
        display: block;
        // border-bottom: 1px dashed #d3d3d3;
        // margin-bottom: 10px;
        // padding-bottom: 10px;
    }
}
