<ion-header class="ion-header-inner">

  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">

          <ion-label>Resident details</ion-label>

        </ion-col>

        <ion-col class="col-fit ion-align-self-start page-name">

          <ion-button class="close-modal-btn" (click)="cancel()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="mn-res-info">

    <!-- <ion-label class="mn-res-phone">Phone: {{phone}}</ion-label> -->

    <!-- <ion-label class="mn-res-phone"> <i class="las la-phone"></i> {{phone}}</ion-label> -->

    <div class="mn-res-phone-box">

      <div class="mnrpb-inner-box">

        <i class="mnrpb-mob-icon las la-mobile"></i>

        <ion-label class="mnrpb-ib-label">{{phone?phone:'Not available'}}</ion-label>

      </div>

      <!-- <ion-button class="mnrpb-call-btn">
        <ion-icon name="call"></ion-icon>
      </ion-button> -->

    </div>
<!-- 
    <div class="mn-res-phone-box">

      <div class="mnrpb-inner-box">

        <i class="mnrpb-mob-icon las la-phone"></i>

        <ion-label class="mnrpb-ib-label">+61 1234567890</ion-label>

      </div>

      <ion-button class="mnrpb-call-btn">
        <ion-icon name="call"></ion-icon>
      </ion-button>

    </div> -->

    <ion-label class="mn-res-partner" *ngIf="partner">Other resident: {{partner}}</ion-label>

  </div>

</ion-content>