ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.mark-away-form {
    .ma-form-label {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #646464;
    }

    ion-radio-group {
        display: flex;
        align-items: center;

        ion-item {
            --padding-start: 0;
            --inner-padding-end: 0;
            --min-height: auto;
            margin: 0 15px;

            &:first-child {
                margin-left: 0;
            }

            ion-radio {
                margin-right: 10px;
                --border-width: 1px;
                --color-checked: #0077b5;
            }

            ion-label {
                color: #222;
                font-size: 16px;
            }
        }
    }

    .ma-dt-box {
        position: relative;
        width: 100%;
        display: inline-block;

        ion-datetime {
            --padding-start: 15px;
            --padding-end: 15px;
            color: #222;
            background: #efefef;
            border: none;
            border-radius: 10px;
            height: 50px;
            display: flex;
            align-items: center;
            margin-top: 15px;
        }

        i {
            font-size: 25px;
            color: #707070;
            position: absolute;
            right: 15px;
            top: 30px;
            z-index: 9999;
        }
    }

    ion-input {
        --padding-start: 15px;
        --padding-end: 15px;
        color: #222;
        background: #f3f3f3;
        border-radius: 10px;
        height: 50px;
        margin-top: 15px;
    }

    ion-textarea {
        color: #222;
        background: #f3f3f3;
        border-radius: 10px;
        min-height: 150px;
        margin-top: 10px;
        --padding-start: 15px;
        --padding-end: 15px;
    }

    ion-select {
        --padding-start: 15px;
        --padding-end: 15px;
        color: #222;
        background: #efefef;
        border: none;
        border-radius: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    .ma-toggle-switch {
        float: left;
        width: 50px;
        height: 25px;
        padding-inline: 0;
        border-radius: 50px;
        margin-right: 15px;
        margin-bottom: 10px;
        padding: 0;
        --background: #c8cfda;
        --background-checked: #c9edff;
        --handle-background-checked: #0077b5;
        --handle-width: 20px;
        --handle-height: 20px;
        --handle-background: #fff;
        --ion-color-base: #0077b5 !important;
        --handle-spacing: 3px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .ma-toggle-name {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #545454;
        display: block;
        margin-top: 10px;
    }

    .ma-select-resident-btn {
        display: flex;
        max-width: fit-content;
        --background: transparent;
        --box-shadow: none;
        --padding-start: 0;
        color: #0077b5;
        text-transform: none;
        font-size: 16px;
        margin-top: 10px;

        ion-icon {
            font-size: 22px;
            margin-right: 10px;
        }
    }

    .ma-sres-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        .ma-res-box {
            max-width: 70%;

            ion-label {
                font-size: 16px;
                font-weight: 500;
                color: #222;
            }

            .ma-res-mc {
                background: #d7e3f9;
                color: #4e70b1;
                min-width: 25px;
                min-height: 25px;
                font-size: 14px;
                border-radius: 50px;
                padding: 8px;
            }
        }

        .ma-res-controls-box {
            width: 12%;
            display: flex;
            align-items: center;

            .ma-res-cb-edit-btn {
                --background: rgb(204 237 255);
                --border-radius: 50px;
                --box-shadow: none;
                --padding-start: 0;
                --padding-end: 0;
                color: #0077b5;
                width: 42px;
                height: 42px;
                font-size: 22px;
            }

            .ma-res-cb-remove-btn {
                --background: rgb(204 237 255);
                --border-radius: 50px;
                --box-shadow: none;
                --padding-start: 0;
                --padding-end: 0;
                color: #0077b5;
                width: 42px;
                height: 42px;
                font-size: 22px;
            }
        }
    }
}

ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;

        .ma-save-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #0077b5;
            color: #fff;
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }

        .ma-cancel-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #8b8b8b;
            color: #fff;
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .mark-away-form {
        ion-col {
            padding: 10px;
        }
    }
}
