<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="dismiss()">
          </ion-icon>
          <ion-label>Mark Away</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="mark-away-form">


    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="ma-form-label">Start Date<span class="asterisk">*</span></ion-label>

      <span class="ma-dt-box">

        <ion-datetime mode="md"  displayFormat=" DD MMM YYYY" [min]="date" [max]="2040"
           [(ngModel)]="sdate">
        </ion-datetime>

        <i class="las la-calendar"></i>

      </span>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15" *ngIf="!no_return">

      <ion-label class="ma-form-label">Return Date<span class="asterisk">*</span></ion-label>

      <span class="ma-dt-box">

        <ion-datetime mode="md"  displayFormat=" DD MMM YYYY" [min]="date" [max]="2040"
           [(ngModel)]="edate">
        </ion-datetime>

        <i class="las la-calendar"></i>

      </span>

    </ion-col>


    <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-15">

      <ion-toggle class="ma-toggle-switch" [(ngModel)]="no_return"></ion-toggle>
      <ion-label class="ma-toggle-name mt-zero"> No return date</ion-label>

    </ion-col>


    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15" *ngIf="flag!==1">

      <ion-label class="ma-form-label">Select Resident <span class="asterisk">*</span></ion-label>

      <!-- <ion-button class="ma-select-resident-btn">
        <ion-icon name="add-outline"></ion-icon> Select Resident
      </ion-button> -->
      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="selected_res" multiple="true" placeholder="Select">
        <ion-select-option value="{{item.user_details.user_id}}" *ngFor="let item of residents">{{item.user_details.name}}</ion-select-option>
        
      </ion-select>
    

    </ion-col>


    <ion-col size="12" size-sm="12" size-md="12" size-lg="12">

      <ion-label class="ma-form-label">Comment </ion-label>
      
      <ion-textarea rows="5" [(ngModel)]="comment"></ion-textarea>

    </ion-col>


  </ion-row>

</ion-content>

<ion-footer>

  <ion-item lines="none" color="none">

    <ion-button class="ma-save-btn" (click)="save()">Save</ion-button>

    <ion-button class="ma-cancel-btn" (click)="dismiss()">Cancel</ion-button>

  </ion-item>

</ion-footer>