ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background: #eee;
}

.resources-card {
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 15px 0px;
    // box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px !important;
    background: #fff;
    box-shadow: none !important;
    border: 1px solid #dfdfdf;
    min-height: 60px;

    &:first-child {
        margin-top: 0;
    }

    ion-item {
        --padding-start: 0px;
        --inner-padding-end: 0px;
        --min-height: auto;
        width: 100%;

        .resources-thumb-icon {
            width: 25px;
            height: 25px;
            object-fit: contain;
        }

        ion-label {
            font-family: "Roboto", sans-serif !important;
            font-size: 16px !important;
            color: #1c1c1c !important;
            margin-left: 15px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: pre-wrap !important;
        }

        ion-icon {
            font-size: 20px;
            margin-left: 15px;
            color: #757575;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-ios {
        padding-top: 15px;
    }
}
