<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/menu']"></ion-icon>
          <ion-label>Resources</ion-label>
        </ion-col>

        <!-- <ion-col class="col-fit ion-align-self-end" (click)="search()" *ngIf="!hide">

          <ion-icon name="search-outline"></ion-icon>

        </ion-col> -->

      </ion-row>
      <ion-row>
      <ion-searchbar  class="clife-search-bar" color="none" placeholder="Search" (ionChange)="search()"
      [(ngModel)]="terms" (ionCancel)="cancel()" ></ion-searchbar>
    </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="resources-card" *ngFor="let item of resource "
  (click)="openFolder(item)">

    <ion-item lines="none" color="none">

      <img class="resources-thumb-icon" src="/assets/menu/resources-icon.svg">

      <ion-label style="color:#1c1c1c">{{item.title}}</ion-label>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </ion-item>

  </ion-card>


  <ion-card class="resources-card" *ngFor="let item of files "
  (click)="openDoc(item)">

    <ion-item lines="none" color="none">

      <img src="assets/pdf_icon.svg" *ngIf="item.file_ext=='pdf'">
            <img src="assets/weblink_icon.svg" *ngIf="item.file_ext=='null'">
            <img src="assets/ms_word_doc_icon.svg" *ngIf="item.file_ext=='doc'||item.file_ext=='docx'">
            <img src="assets/excel-icon.svg" *ngIf="item.file_ext=='xlsx'">

      <ion-label style="color:#1c1c1c">{{item.title}}</ion-label>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </ion-item>

  </ion-card>

  <!-- <ion-card class="resources-card" [routerLink]="['/resources-details']">

    <ion-item lines="none" color="none">

      <img class="resources-thumb-icon" src="/assets/menu/resources-icon.svg">

      <ion-label>Dolor nulla veniam adipisicing</ion-label>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </ion-item>

  </ion-card>

  <ion-card class="resources-card" [routerLink]="['/resources-details']">

    <ion-item lines="none" color="none">

      <img class="resources-thumb-icon" src="/assets/menu/resources-icon.svg">

      <ion-label>Dolor nulla veniam adipisicing</ion-label>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </ion-item>

  </ion-card>

  <ion-card class="resources-card" [routerLink]="['/resources-details']">

    <ion-item lines="none" color="none">

      <img class="resources-thumb-icon" src="/assets/menu/resources-icon.svg">

      <ion-label>Dolor nulla veniam adipisicing</ion-label>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </ion-item>

  </ion-card>

  <ion-card class="resources-card" [routerLink]="['/resources-details']">

    <ion-item lines="none" color="none">

      <img class="resources-thumb-icon" src="/assets/menu/resources-icon.svg">

      <ion-label>Dolor nulla veniam adipisicing</ion-label>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </ion-item>

  </ion-card> -->
  <div *ngIf="resource.length==0&&files.length==0 ">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-resources.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Documents Found.</ion-label>
    </ion-item>
  </div>

</ion-content>