ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.din-order-success-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 40px);

    .din-order-success-icon {
        width: 200px;
        margin-bottom: 20px;
    }

    .din-order-success-message {
        font-size: 18px;
        font-weight: 500;
        color: #4c5f7f;
        line-height: 25px;
        text-align: center;
        margin: 0;
    }
}

@media only screen and (min-width:768px) {
    .din-order-success-block {
        .din-order-success-icon {
            width: 350px;
        }

        .din-order-success-message {
            font-size: 21px;
        }
    }
}