<ion-content>

  <div class="din-order-success-block">

    <img class="din-order-success-icon" src="/assets/dining/order-success-icon.svg">

    <p class="din-order-success-message">Order has been placed successfully</p>

  </div>


</ion-content>