<div class="pop" *ngIf="viewEntered &&type==0">
  <ion-slides [options]="slideOptsOne" pager="true" #slideWithNav
    (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
    <ion-slide *ngFor="let s of data" >
      <img src="{{s.image}}" style="width: 100%;height: 100%;">

    </ion-slide>

  </ion-slides>
  <div class="myOverlay" *ngIf="data.length"></div>

  <ion-icon class="pop-close-btn" name="close-circle-outline" (click)="dismiss()"></ion-icon>

  <span class="lr-control">
    
    <div class="left" *ngIf="data.length>1">
      <ion-icon name="chevron-back-outline" slot="start" ion-no-padding (click)="slidePrev(sliderOne,slideWithNav)"
        [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
    </div>

    <div class="right" *ngIf="data.length>1">
      <ion-icon name="chevron-forward-outline" slot="end" ion-no-padding (click)="slideNext(sliderOne,slideWithNav)"
        [class.disabled]="sliderOne.isEndSlide"></ion-icon>
    </div>

  </span>

</div>


<div class="pop" *ngIf="viewEntered &&type==1">
  <ion-slides [options]="slideOptsOne" pager="true" #slideWithNav>
    <ion-slide  >
      <img src="{{data}}" style="width: 100%;height: 100%;">

    </ion-slide>

  </ion-slides>
  
  <div class="myOverlay" ></div>

  <ion-icon class="pop-close-btn" name="close-circle-outline" (click)="dismiss()"></ion-icon>
</div>
