.header-buttons ion-icon {
  background-color: #0077B5
;
  border-radius: 50px;
  max-width: 30px;
  max-height: 30px;
  padding: 9px;
  font-size: 18px;
  margin-left: 15px;
}

.header-buttons ion-icon:first-child {
  margin-left: 0px;
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .consumer-info-container ion-avatar {
    width: 60px;
    height: 60px;
  }
  .consumer-info-container ion-col {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
  }
  .consumer-info-container ion-col:nth-child(2) {
    margin-left: 0px !important;
    margin-top: 15px;
    padding-left: 0px !important;
  }
}

.room-no {
  color: #545556;
  font-size: 15px;
}

.wing-name {
  color: #989898;
  font-size: 13px;
}
