.ion-header-inner-2 {
    ion-label {
        font-size: 20px;
        line-height: 22px;
    }
}

.header-buttons {
    ion-icon {
        background-color: #2d95cb;
        border-radius: 50px;
        max-width: 20px;
        max-height: 20px;
        padding: 9px;
        font-size: 18px;
        margin-left: 10px;

        &:first-child {
            margin-left: 0px;
        }
    }
}

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 75px;
    --padding-bottom: 10px;
    --background: #f1f1f1;
}

@media only screen and (min-width: 768px) {
    .consumer-info-container {
        ion-avatar {
            width: 60px;
            height: 60px;
        }

        ion-col {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            justify-content: center;

            &:nth-child(2) {
                margin-left: 0px !important;
                margin-top: 15px;
                padding-left: 0px !important;
            }
        }
    }
}

.room-no {
    color: #545556;
    font-size: 15px;
}

.wing-name {
    color: #989898;
    font-size: 13px;
}

.consumer-info-container {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: #fff;
    border: 1px solid #dfdfdf;
}

.cb-sel-contact {
    margin-bottom: 5px;
}

.p-zero {
    padding: 0;
}

.fixed-top-sec {
    // padding: 0 10px;
    padding: 0 10px;
    flex-direction: column;
    border: 1px solid #e7e7e7;

    .show-result-box {
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        // justify-content: space-between;
        // margin-bottom: 25px;
        // margin-top: -5px;
        // margin-left: -10px;
        // margin-right: -15px;

        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        align-items: center;
        // justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 5px;
        margin-left: 0;
        margin-right: 0;
        // border-bottom: 1px dashed #c7c7c7;
        // padding-bottom: 8px;
        width: 100%;

        .srb-inner-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .srb-left-sec {
                display: flex;
                align-items: center;
                margin-top: 5px;
                // width: 58%;
                // overflow-x: scroll;

                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    color: #464855;
                    white-space: nowrap;
                    margin: 0;
                }

                .filter-results {
                    font-family: "Roboto", sans-serif;
                    font-size: 13px;
                    // font-weight: 600;
                    color: #464855;
                    white-space: nowrap;
                    padding-left: 5px;
                }
            }

            .srb-right-sec {
                display: flex;
                align-items: center;
                border-left: 1px solid #6c6c6c;
                padding-left: 8px;
                margin-top: 5px;

                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    color: #464855;
                    margin: 0;
                }

                ion-icon {
                    color: #c13333;
                    // background: #ffd3d3;
                    border-radius: 50px;
                    // padding: 3px;
                    padding: 0 0 0 3px;
                    width: 15px;
                    height: 15px;
                }
            }

            .filtered-results-box {
                .filtered-results {
                    font-family: "Roboto", sans-serif;
                    font-size: 13px;
                    font-weight: 500;
                    color: #252525;
                    white-space: pre-line;
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 393px) {
    // .show-result-box {
    //     .srb-left-sec {
    //         width: 50%;
    //     }
    // }
}

.consumer-list-row {
    ion-col {
        margin-bottom: 5px;

        .consumer-info-container {
            ion-col {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-ios {
        padding-top: 15px;
    }
}
