<ion-header class="ion-header-inner-2">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/menu']"></ion-icon>
          <ion-label>Residents</ion-label>
        </ion-col>

        <!-- <ion-col size="6">
          
        </ion-col> -->

        <ion-col class="col-fit header-buttons ion-align-self-end" *ngIf="flag==1">

          <ion-icon src="assets/plus-icon.svg" [routerLink]="['/create-consumer',{flag:flag}]" *ngIf="(type==2||type==1)&&create"></ion-icon>

          <ion-icon src="assets/consumers-icon.svg" (click)="group($event)"></ion-icon>

          <ion-icon src="assets/filter-icon.svg" (click)="filter($event)"></ion-icon>

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>

          <ion-searchbar  class="clife-search-bar" placeholder="Search residents" (ionCancel)="cancel()" 
          (ionChange)="search()" [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>


    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [style.--padding-top]="filter_status?'75px':'10px'">

	<ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec" *ngIf="filter_status">

	

    <div class="show-result-box" >

      <div class="srb-inner-row">

        <div class="srb-left-sec">
          <p>Results for : </p>
        </div>

        <div class="srb-right-sec" >
          <p>Showing filtered results </p>
          <ion-icon name="close-sharp" (click)="removeFilter()"></ion-icon>
        </div>

      </div>

      <div class="srb-inner-row">

        <div class="filtered-results-box">

          <ion-label class="filtered-results" *ngIf="res_type==1">Active residents</ion-label>
          <ion-label class="filtered-results" *ngIf="res_type==2">Inactive residents</ion-label>

        </div>

      </div>

    </div>

	</ion-fab>

  <ion-grid class="p-zero">

    <ion-row class="consumer-list-row">

      <ion-col size-sm="12" size-md="4" size-lg="4" size="12" *ngFor="let item of consumers">

        <ion-row class="consumer-info-container" (click)="gotoDetails(item)">

          <ion-col size-sm="4" size-md="12" size-lg="12" size="4" class="col-fit">

            <ion-avatar>
              <img [src]="item.photo" *ngIf="item.photo!=null">
              <img src="assets/user_pic.png" *ngIf="item.photo==null">
            </ion-avatar>

          </ion-col>

          <ion-col size-sm="8" size-md="12" size-lg="12" size="8">

            <ion-label>
              {{item.name}}

              <span class="room-no">
                {{item.room}}
              </span>
              <span class="wing-name" *ngIf="item.wing_name">
                {{item.wing_name}}
              </span>
            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>

     

    </ion-row>



  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  <div *ngIf="consumers.length==0">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-consumers-found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Resident Found</ion-label>
    </ion-item>
  </div>


</ion-content>

<!-- <ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block">Continue &nbsp; <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer> -->