<ion-content>

  <div class="din-alertmodal-container">

    <ion-button class="modal-close-btn" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>


    <img class="din-confirm-icon" src="/assets/dining/refuse-icon.svg">

    <ion-label class="modal-title">Confirm !</ion-label>

    <p class="confirm-info-block">
      All Other Food Items Refused ?
    </p>

    <div class="din-modal-btn-box">

      <ion-button class="din-modal-continue-btn" (click)="confirm()"> Continue </ion-button>

      <ion-button class="din-modal-cancel-btn" (click)="dismiss()"> Cancel </ion-button>

    </div>


  </div>

</ion-content>