<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>{{ser_time}} on {{date}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item&&flag==1">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="fi-detail-img">

          <img [src]="item.itemdetailsall.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">{{item.itemdetailsall.item_name}}<span>({{item.itemdetailsall.energy_joules}}KJ)</span></ion-label>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="borderline-bottom" *ngIf="item.itemdetailsall.description">

        <ion-label class="dining-fi-title">Description</ion-label>

        <p class="fi-description">{{item.itemdetailsall.description}}</p>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10" *ngIf="item.itemdetailsall.foodtexture&&item.itemdetailsall.foodtexture.length">
        <ion-label class="dining-inner-title">Texture</ion-label>
        <div *ngFor="let i of item.itemdetailsall.foodtexture" [class]="i.fdtexture.color">
          {{i.fdtexture.food_texture}}
        </div>
      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10" *ngIf="item.itemdetailsall.alergies&&item.itemdetailsall.alergies.length">

        <ion-label class="dining-inner-title">Allergies</ion-label>

        <div class="allergies-block">

          <!-- <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip> -->


          <ion-chip class="allergy" *ngFor="let i of item.itemdetailsall.alergies">
            <i class="al-other" [class.al-celery]="i.alergy.alergy=='Celery'"
                      [class.al-crustaceans]="i.alergy.alergy=='Crustaceans'"
                      [class.al-glutten]="i.alergy.alergy=='Gluten'"
                      [class.al-lupin]="i.alergy.alergy=='Lupin'"
                      [class.al-molluscs]="i.alergy.alergy=='Molluscs'"
                      [class.al-mustard]="i.alergy.alergy=='Mustard'"
                      [class.al-peanut]="i.alergy.alergy=='Peanuts'"
                      [class.al-sesame]="i.alergy.alergy=='Sesame'"
                      [class.al-soy]="i.alergy.alergy=='Soya'"
                      [class.al-sulphite]="i.alergy.alergy=='Sulphites'"
                      [class.al-treenut]="i.alergy.alergy=='Treenuts'"
                      [class.al-wheat]="i.alergy.alergy=='Wheat'"></i>
            <ion-label>{{i.alergy.alergy}}</ion-label>
          </ion-chip>



        </div>



      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="borderline-top" *ngIf="item.itemdetailsall.ingrediants&&item.itemdetailsall.ingrediants.length">

        <ion-label class="dining-inner-title">Ingredients</ion-label>

        <ul class="din-menu-ul">
          
          <ng-container *ngFor="let ing of item.itemdetailsall.ingrediants">
          <li *ngIf="ing.ingredient">{{ing.ingredient.name}}</li>
        </ng-container>
          <!-- <li>Tea powder</li>
          <li>Milk</li>
          <li>fresh ginger, minced</li>
          <li>red pepper flakes</li>
          <li>wide strips tangerine zest</li>
          <li>fresh tangerine juice</li>
          <li>coarse salt</li>
          <li>potato or tapioca starch</li>
          <li>soy-less sauce</li>
          <li>rice vinegar gluten free</li>
          <li>honey or agave</li>
          <li>cooking oil rice, for serving</li> -->

        </ul>

      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>




<ion-content *ngIf="item&&flag==2">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="fi-detail-img">

          <img [src]="item.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">{{item.item_name}}<span>({{item.energy_joules}}KJ)</span></ion-label>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="borderline-bottom" *ngIf="item.description">

        <ion-label class="dining-fi-title">Description</ion-label>

        <p class="fi-description">{{item.description}}</p>

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10" *ngIf="item.itemdetailsall.foodtexture&&item.itemdetailsall.foodtexture.length">
        <ion-label class="dining-inner-title">Texture</ion-label>
        <div *ngFor="let i of item.itemdetailsall.foodtexture" [class]="i.fdtexture.color">
          {{i.fdtexture.food_texture}}
        </div>
      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10" *ngIf="item.itemdetailsall.alergies&&item.itemdetailsall.alergies.length">

        <ion-label class="dining-inner-title">Allergies</ion-label>

        <div class="allergies-block"> -->

          <!-- <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip> -->


          <!-- <ion-chip class="allergy" *ngFor="let i of item.itemdetailsall.alergies">
            <i class="al-other" [class.al-celery]="i.alergy.alergy=='Celery'"
                      [class.al-crustaceans]="i.alergy.alergy=='Crustaceans'"
                      [class.al-glutten]="i.alergy.alergy=='Gluten'"
                      [class.al-lupin]="i.alergy.alergy=='Lupin'"
                      [class.al-molluscs]="i.alergy.alergy=='Molluscs'"
                      [class.al-mustard]="i.alergy.alergy=='Mustard'"
                      [class.al-peanut]="i.alergy.alergy=='Peanuts'"
                      [class.al-sesame]="i.alergy.alergy=='Sesame'"
                      [class.al-soy]="i.alergy.alergy=='Soya'"
                      [class.al-sulphite]="i.alergy.alergy=='Sulphites'"
                      [class.al-treenut]="i.alergy.alergy=='Treenuts'"
                      [class.al-wheat]="i.alergy.alergy=='Wheat'"></i>
            <ion-label>{{i.alergy.alergy}}</ion-label>
          </ion-chip>



        </div>



      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="borderline-top" *ngIf="item.itemdetailsall.ingrediants&&item.itemdetailsall.ingrediants.length">

        <ion-label class="dining-inner-title">Ingredients</ion-label>

        <ul class="din-menu-ul">
          
          <ng-container *ngFor="let ing of item.itemdetailsall.ingrediants">
          <li *ngIf="ing.ingredient">{{ing.ingredient.name}}</li>
        </ng-container> -->
          <!-- <li>Tea powder</li>
          <li>Milk</li>
          <li>fresh ginger, minced</li>
          <li>red pepper flakes</li>
          <li>wide strips tangerine zest</li>
          <li>fresh tangerine juice</li>
          <li>coarse salt</li>
          <li>potato or tapioca starch</li>
          <li>soy-less sauce</li>
          <li>rice vinegar gluten free</li>
          <li>honey or agave</li>
          <li>cooking oil rice, for serving</li> -->

        <!-- </ul> -->

      <!-- </ion-col> -->

    </ion-row>

  </ion-grid>



</ion-content>

<!-- <ion-footer>

  <ion-button class="apply-btn">
    <ion-icon name="checkmark-circle"></ion-icon>
    <ion-label>Apply</ion-label>
  </ion-button>

</ion-footer> -->