ion-header {
    background:#fff;

    .header-back-btn {
        font-size: 25px;
        margin-left: 35px;
        margin-top: 25px;
        color: #222;
    }
}

.reset_pass {
    margin-top: 0px;
}

.reset_pass {
    height: 55px;
    font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width:768px) {
    .reset_pass {
        margin-top: 0px;
        max-width: fit-content;
        width: 100%;
        --padding-start: 25px;
        --padding-end: 25px;
    }
}