.header-buttons {
    ion-icon:first-child {
        background-color: #2d95cb;
        border-radius: 50px;
        max-width: 40px;
        max-height: 40px;
        padding: 10px;
        font-size: 22px !important;
        margin-left: 0px;
    }

    ion-icon:nth-child(2) {
        background-color: #2d95cb;
        border-radius: 50px;
        max-width: 40px;
        max-height: 40px;
        padding: 10px;
        font-size: 22px !important;
        margin-left: 10px;
    }

    ion-icon:nth-child(3) {
        background-color: #f44336;
        border-radius: 50px;
        max-width: 30px;
        max-height: 30px;
        padding: 7px;
        font-size: 18px !important;
        margin-left: 6px;
    }

    .edit-activity-btn {
        --background: #2d95cb;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: normal;
        height: 40px;

        ion-icon {
            padding: 4px 0;
        }

        i {
            font-size: 25px;
        }

        ion-label {
            font-size: 16px;
            margin-left: 10px;
        }
    }

    .add-attendees-btn {
        --background: #2d95cb;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: normal;
        height: 40px;
        margin-left: 20px;

        ion-icon {
            padding: 4px 0;
        }

        i {
            font-size: 25px;
        }

        ion-label {
            font-size: 16px;
            margin-left: 10px;
        }
    }

    .hdr-quick-actions-btn {
        --background: #2d95cb;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 0;
        --padding-end: 0;
        text-transform: none;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: normal;
        width: 45px;
        height: 45px;
        margin-left: 20px;

        ion-icon {
            padding: 4px 0;
            font-size: 20px;
        }

        i {
            font-size: 25px;
        }
    }
}

ion-content {
    // --padding-start: 40px;
    // --padding-end: 40px;
    // --padding-top: 40px;
    // --padding-bottom: 40px;
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    // --background:#eee;
}

@media only screen and (min-width: 768px) {
    .ion-header-inner {
        padding: 15px 25px;
    }

    .header-buttons {
        ion-icon:first-child {
            // background-color: #FF9800;
            border-radius: 50px;
            max-width: 30px;
            max-height: 30px;
            padding: 7px;
            font-size: 25px;
            margin-left: 0px;
        }

        ion-icon:nth-child(2) {
            // background-color: #28AC3A;
            border-radius: 50px;
            max-width: 30px;
            max-height: 30px;
            padding: 7px;
            font-size: 25px;
            margin-left: 15px;
        }

        ion-icon:nth-child(3) {
            background-color: #0077b5;
            border-radius: 50px;
            max-width: 30px;
            max-height: 30px;
            padding: 7px;
            font-size: 25px;
            margin-left: 15px;
        }
    }

    .nd-mobile {
        .waiting-list {
            margin-top: 0px;
        }
    }
}

.input_paperclip {
    margin-left: 0px !important;
}

.act-type-btn {
    --background: none;
    --padding-start: 0;
    margin: 0 0 10px;
}

.assigned-heading {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

@media screen and (min-width: 768px) {
    .detail_act_time {
        justify-content: left;
    }
}

.act-image {
    img {
        max-height: 120px;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.story-media-container {
    display: flex;
    justify-content: start;
}

@media screen and (min-width: 768px) {
    ion-content {
        --padding-start: 30px;
        --padding-end: 30px;
        --padding-top: 30px;
        --padding-bottom: 30px;
    }

    .act-title,
    .act-date,
    .act-time {
        --padding-bottom: 15px !important;
        margin-bottom: 15px !important;
    }

    .act-image {
        img {
            max-height: 260px;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}

.popover-content {
    background: transparent !important;
    --width: 100% !important;
    --height: 100% !important;
}

.image_pop .popover-content.sc-ion-popover-ios {
    border-radius: 0px !important;
    background-color: transparent !important;
    top: 0px !important;
    left: 0px !important;
    transform-origin: center center !important;
}

.smc-1 {
    img {
        max-width: 100% !important;
    }
}

.smc-sec {
    display: block;
    width: 100%;
}

.smc-2 {
    ion-col {
        padding: 2px;
    }
}

.myOverlay {
    width: 100%;
    height: 100%;
    max-height: 120px;
    position: absolute;
    // z-index: 200;
    right: 0;
    left: 0;
    top: 2px;
    bottom: 0;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;

    // color: #fff;
}

.num_badge {
    position: absolute;
    left: 0;
    right: 0;
    top: 28%;
    font-size: 20px;
    width: 100%;
    // margin-left: 40%;
    // margin-right: 40%;
    color: #fff;
    align-self: center;
    display: flex;
    justify-content: center;
}

.act-d-attachments {
    --padding-start: 10px;
    --inner-padding-end: 10px;
    background-color: #deedff;
    color: #637f9e;
    border-radius: 50px;

    .act-attach-icon {
        font-size: 25px;
        transform: rotate(35deg);
    }

    ion-label {
        color: #637f9e !important;
    }

    .act-attach-download-icon {
        margin-left: 10px;
    }
}

.act-title,
.act-date,
.act-time {
    --padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #dadada;
    font-weight: 500;
}

.act-location-info {
    --padding-bottom: 10px;
    --padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #dadada;
    border-top: 1px dashed #dadada;
}

.activity_description {
    line-height: 25px;

    p {
        margin: 0 !important;
    }
}

ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;

    .mark-attendance-btn {
        --box-shadow: none;
        --border-radius: 50px;
        --background: #38cb4c;
        text-transform: none;
        letter-spacing: normal;
        // font-family: "Open Sans", sans-serif !important;
        font-family: "Roboto", sans-serif !important;
        font-size: 15px;
        font-weight: normal;
        height: 42px;
        margin-left: 10px;

        ion-icon {
            font-size: 20px;
            margin-right: 5px;
        }
    }

    .add-photo-btn {
        --box-shadow: none;
        --border-radius: 50px;
        --background: #ff7d89;
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        margin-left: 10px;
        height: 38px;

        ion-icon {
            font-size: 20px;
            margin-right: 5px;
        }
    }

    .mark-attendees-btn {
        // width: 42px;
        // height: 42px;
        // text-transform: none;
        // letter-spacing: normal;
        // font-weight: normal;
        // margin-right: 15px;
        // text-align: center;
        // align-items: center;
        // --padding-start: 10px;
        // --padding-end: 10px;
        // --padding-top: 10px;
        // --padding-bottom: 10px;
        // --box-shadow: none;
        // --border-radius: 50px;
        // --background: #0077b5;

        width: auto;
        height: 42px;
        text-transform: none;
        letter-spacing: normal;
        font-family: "Roboto", sans-serif !important;
        font-size: 15px;
        font-weight: normal;
        margin-right: 15px;
        text-align: center;
        align-items: center;
        --padding-start: 15px;
        --padding-end: 15px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --box-shadow: none;
        --border-radius: 50px;
        --background: #0077b5;

        i {
            font-size: 22px;
            margin-right: 7px;
        }
    }

    .quick-actions-btn {
        width: 45px;
        height: 45px;
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        margin-left: 10px;
        text-align: center;
        align-items: center;
        --padding-start: 10px;
        --padding-end: 10px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --box-shadow: none;
        --border-radius: 50px;
        --background: #0077b5;

        ion-icon {
            font-size: 22px;
        }
    }

    .delete-btn {
        width: 45px;
        height: 45px;
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        margin-left: 10px;
        text-align: center;
        align-items: center;
        --padding-start: 10px;
        --padding-end: 10px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --box-shadow: none;
        --border-radius: 50px;
        --background: #f44336;

        ion-icon {
            font-size: 22px;
        }
    }
}

.activity-media {
    ion-col {
        padding: 0px 4px;

        img {
            border-radius: 10px;
        }
    }
}

.p-zero {
    padding: 0;
}

ion-item {
    --min-height: auto;
    --padding-start: 0;
    --inner-padding-end: 0;
    padding: 0;
    margin: 0;
}

.consumer-info-container {
    padding: 10px !important;
    position: relative;

    .mo-icon {
        // float: right;
        // font-size: 18px;
        // color: #545454;

        font-size: 18px;
        color: #979797;
        position: absolute;
        right: -5px;
        top: 5px;
    }
}

.act-image {
    margin-top: 15px;
}

.act-img-label {
    font-size: 18px;
    font-weight: 500;
    // margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.action_attended {
    color: #28ac3a;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.action_declined {
    color: #f44336;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.reason {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: normal;
    display: block;
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .myOverlay {
        max-height: 260px;
    }
}

@media only screen and (min-width: 834px) and (max-width: 834px) {
    .myOverlay {
        max-height: 260px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .myOverlay {
        max-height: 260px;
    }
}

@media only screen and (min-width: 1080px) and (max-width: 1080px) {
    .myOverlay {
        max-height: 260px;
    }
}

@media only screen and (min-width: 1112px) and (max-width: 1112px) {
    .myOverlay {
        max-height: 260px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1366px) {
    .myOverlay {
        max-height: 260px;
    }
}

.consumer-info-container {
    ion-col {
        align-self: flex-start;
        margin-top: auto;
        margin-bottom: auto;
    }

    ion-label {
        .wing-name {
            font-size: 14px;
            color: #686868;
        }
    }
}

/*------------------------------------------ New styles starts here ---------------------------------------------*/

.participant-limit {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #6e6e6e;
    line-height: 28px;

    .pl-count {
        font-size: 20px;
        font-weight: 600;
        color: #222;
    }
}

.assigned-label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #6e6e6e;
    line-height: 28px;

    .assigned-count {
        font-size: 20px;
        font-weight: 600;
        color: #00b30f;
    }
}

.waiting-list {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #6e6e6e;
    margin-top: 10px;
    line-height: 28px;

    .wl-count {
        font-size: 20px;
        font-weight: 600;
        color: #ff8100;
    }
}

.available-slots {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #6e6e6e;
    line-height: 28px;

    .as-count {
        font-size: 20px;
        font-weight: 600;
        color: #006dea;

        span {
            color: #222;
            font-size: 13px;
            font-weight: normal;
            display: block;
            margin-top: -4px;
        }
    }
}

.cost-sec {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #6e6e6e;

    .cost {
        font-size: 20px;
        font-weight: 600;
        color: #00b30f;
        line-height: 28px;

        span {
            font-size: 16px;
            font-weight: normal;
        }
    }
}

.signup-btn {
    --background: #00b30f;
    --box-shadow: none;
    --color: #fff;
    --border-radius: 50px;
    text-transform: none;
    font-size: 17px;
    font-weight: normal;
    margin-top: 15px;
    height: 40px;
}

.awl-btn {
    --background: #fd7500;
    --border-radius: 50px;
    --padding-start: 20px;
    --padding-end: 15px;

    font-size: 15px;
    font-weight: normal;
    color: #fff;
    height: 40px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: 5px;
}

.wl {
    color: #fd7500;
    font-size: 15px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
}

.signed-up {
    color: #00b930;
    font-size: 16px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
}

.sw-list-segment {
    background: none;
    border-bottom: 1px solid #0077b5;
    border-radius: 0px;
    margin-bottom: 20px;

    ion-segment-button {
        font-size: 16px;
        color: #868686;
        font-weight: normal;
        border-left: none;
        padding-bottom: 10px;
        letter-spacing: normal;

        .sl-label {
            color: #00b30f;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;

            .sl-count {
                color: #00b30f;
                background-color: #cbffcf;
                min-width: 35px;
                min-height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: fit-content;
                border-radius: 50px;
                padding: 5px;
                font-size: 16px;
                font-weight: 500;
                margin-left: 5px;
            }
        }

        .wl-label {
            color: #fd7500;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            .wl-count {
                color: #fd7500;
                background-color: #ffdbbc;
                min-width: 35px;
                min-height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: fit-content;
                border-radius: 50px;
                padding: 5px;
                font-size: 16px;
                font-weight: 500;
                margin-left: 5px;
            }
        }
    }

    ion-segment-button:before {
        border-left: none;
    }

    // .signup-list-btn.segment-button-checked {
    //     border-bottom: 2px solid #00b30f;
    //     --indicator-color: #00b30f;
    //     --indicator-height: 2px;
    // }

    ion-segment-button.segment-button-checked {
        color: #0077b5;
        font-weight: 500;
        // border-bottom: 2px solid #0077B5;
        border-radius: 0px;
        --indicator-box-shadow: none;
        --color-checked: #0077b5;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .nd-mobile {
        display: none;
    }

    .header-buttons {
        .edit-activity-btn {
            --padding-start: 8px;
            --padding-end: 8px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;

            ion-label {
                display: none;
            }
        }

        .add-attendees-btn {
            --padding-start: 8px;
            --padding-end: 8px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            margin-left: 12px;

            ion-label {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-buttons {
        .add-attendees-btn {
            margin-left: 11px;
        }
    }
}

.activity_description {
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif !important;
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .consumer-info-container ion-col {
        flex-direction: column;
    }
}

/*------------------------------------------ New styles ends here ---------------------------------------------*/
