.header-buttons ion-icon:first-child {
  background-color: #FF9800;
  border-radius: 50px;
  max-width: 30px;
  max-height: 30px;
  padding: 7px;
  font-size: 18px;
  margin-left: 0px;
}

.header-buttons ion-icon:nth-child(2) {
  background-color: #28AC3A;
  border-radius: 50px;
  max-width: 30px;
  max-height: 30px;
  padding: 7px;
  font-size: 18px;
  margin-left: 8px;
}

.header-buttons ion-icon:nth-child(3) {
  background-color: #0077B5
;
  border-radius: 50px;
  max-width: 30px;
  max-height: 30px;
  padding: 7px;
  font-size: 18px;
  margin-left: 8px;
}

ion-content {
  --padding-start: 40px;
  --padding-end: 40px;
  --padding-top: 40px;
  --padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .header-buttons ion-icon:first-child {
    background-color: #FF9800;
    border-radius: 50px;
    max-width: 30px;
    max-height: 30px;
    padding: 7px;
    font-size: 25px;
    margin-left: 0px;
  }
  .header-buttons ion-icon:nth-child(2) {
    background-color: #28AC3A;
    border-radius: 50px;
    max-width: 30px;
    max-height: 30px;
    padding: 7px;
    font-size: 25px;
    margin-left: 15px;
  }
  .header-buttons ion-icon:nth-child(3) {
    background-color: #0077B5
;
    border-radius: 50px;
    max-width: 30px;
    max-height: 30px;
    padding: 7px;
    font-size: 25px;
    margin-left: 15px;
  }
}

.input_paperclip {
  margin-left: 0px !important;
}

.act-type-btn {
  --background: none;
  --padding-start: 0;
}

.assigned-heading {
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
}

@media screen and (min-width: 768px) {
  .detail_act_time {
    justify-content: left;
  }
}

.act-image img {
  max-height: 120px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.story-media-container {
  display: flex;
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .act-image img {
    max-height: 260px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.popover-content {
  background: transparent !important;
  --width: 100% !important;
  --height: 100% !important;
}

.image_pop .popover-content.sc-ion-popover-ios {
  border-radius: 0px !important;
  background-color: transparent !important;
  top: 0px !important;
  left: 0px !important;
  transform-origin: center center !important;
}

.smc-1 img {
  max-width: 100% !important;
}

.smc-sec {
  display: block;
  width: 100%;
}

.smc-2 ion-col {
  padding: 2px;
}

.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.6);
}

.num_badge {
  position: absolute;
  left: 0;
  right: 0;
  top: 28%;
  font-size: 20px;
  width: 100%;
  color: #fff;
  align-self: center;
  display: flex;
  justify-content: center;
}

.act-d-attachments {
  --padding-start: 10px;
  --inner-padding-end: 10px;
  background-color: #deedff;
  color: #637f9e;
  border-radius: 50px;
}

.act-d-attachments .act-attach-icon {
  font-size: 25px;
  transform: rotate(35deg);
}

.act-d-attachments ion-label {
  color: #637f9e !important;
}

.act-d-attachments .act-attach-download-icon {
  margin-left: 10px;
}
