<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">
 
     <ion-grid>
 
      <ion-row class="display-space-between">
 
        <ion-col class="col-fit ion-align-self-start page-name" size-sm="7" size-md="4" size-lg="4" size="7">
          <ion-icon name="arrow-back-outline" [routerLink]="['/activities']"></ion-icon>
          <ion-label>Activity Details</ion-label>
        </ion-col>
 
        <ion-col class="col-fit header-buttons ion-align-self-end" size-sm="5" size-md="8" size-lg="8" size="5"
          *ngIf="edit_status">
 
          <!-- <ion-icon name="create-outline" (click)="edit()" ></ion-icon> -->
 
          <!-- <ion-icon name="checkmark-done-outline" [routerLink]="['/mark-attendance',{act_id:act_id}]"></ion-icon> -->
 
          <!-- <ion-icon name="person-add-outline" (click)="addAttendee()" *ngIf="activity.individual_activity==0"></ion-icon> -->
 
          <!-- <ion-icon name="trash-outline" (click)="delete()"></ion-icon> -->
 
          <ion-button (click)="edit()" class="edit-activity-btn">
 
            <!-- <ion-icon name="create-outline"></ion-icon> -->
            <i class="las la-edit"></i>
 
            <ion-label>Edit activity</ion-label>
 
          </ion-button>
 
          <!-- <ion-button class="add-attendees-btn" (click)="edit()" (click)="addAttendee()"
            *ngIf="activity.individual_activity==0">
 
            <i class="las la-user-plus"></i>
 
            <ion-label>Add attendees</ion-label>
 
          </ion-button> -->
 
 
          <!-- <ion-button class="add-attendees-btn" (click)="edit()" (click)="addAttendee()"
            *ngIf="activity.individual_activity==0">
 
            <i class="las la-user-plus"></i>
 
            <ion-label>Add attendees</ion-label>
 
          </ion-button> -->
 
          <ion-button class="hdr-quick-actions-btn" (click)="actOptions()" *ngIf="edit_status||delete_status||story_status">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
 
        </ion-col>
 
      </ion-row>
 
    </ion-grid>
 
  </ion-toolbar>
 </ion-header>

<ion-content>

  <ion-item lines="none" color="none" class="act-title">

    <ion-label>
      {{activity.title}}
    </ion-label>

  </ion-item>

  <ion-item lines="none" color="none" class="act-date">

    <ion-icon name="calendar-clear-outline"></ion-icon>

    <ion-label>
      {{activity.activity_start_date | dateformat: 'DD MMMM YYYY'}}
    </ion-label>

  </ion-item>

  <ion-item lines="none" color="none" class="act-time">

    <ion-icon name="time-outline"></ion-icon>

    <ion-label>
      {{activity.start_time}}{{"-"}}{{activity.end_time}}
    </ion-label>

  </ion-item>

  <ion-item color="none" lines="none" class="act-type-btn ">
    <ion-chip [class.social_icon]="type.type_name=='Social'"
              [class.physical_icon]="type.type_name=='Physical'"
              [class.trip_icon]="type.type_name=='Trip'" 
              [class.meeting_icon]="type.type_name=='Meeting'"
              [class.event_icon]="type.type_name=='Event'"
              [class.spiritual_icon]="type.type_name=='Spiritual'"
              [class.cognitive_icon]="type.type_name=='Cognitive'"
              [class.entertainment_icon]="type.type_name=='Entertainment'"
              [class.emotional_icon]="type.type_name=='Emotional'"
              [class.other_icon]="type.type_name=='Other'">
     

      <ion-label>{{type.type_name}}</ion-label>
    </ion-chip>
   
  </ion-item>

  <ion-item color="none" lines="none" class="act-location-info" *ngIf="activity.venue!=null">

    <ion-icon name="location-outline"></ion-icon>
    <ion-label>{{activity.venue}}</ion-label>

  </ion-item>

  <ng-container *ngIf="activity.rv_details&&rvsettings==1">

    <ion-row class="dflex-ai-c mt-10 nd-mobile">

      <ion-col size="6" size-md="6" size-lg="4" size-sm="6" *ngIf="limit_required==1">
        <ion-label class="participant-limit">
          Participant limit
          <span class="pl-count">{{activity.rv_details.slot_limit}}</span>
        </ion-label>
      </ion-col>

      <ion-col size="6" size-md="6" size-lg="4" size-sm="6">
        <ion-label class="assigned-label">
          Assigned
          <span class="assigned-count">{{signupcount}}</span>
        </ion-label>
      </ion-col>

      <ion-col size="6" size-md="6" size-lg="4" size-sm="6" *ngIf="activity.rv_details.waiting_list&&limit_required==1">
        <ion-label class="waiting-list">
          Waiting list
          <span class="wl-count">{{waiting_list.length}}</span>
        </ion-label>
      </ion-col>

    </ion-row>

    <ion-row class="mt-10">

      <ion-col size="6" size-md="6" size-lg="4" size-sm="6" *ngIf="limit_required==1">
        <ion-label class="available-slots">
          Available slots
          <span class="as-count">{{activity.rv_details.slot_limit-signupcount}} <span>({{signupcount}} others
              attending)</span></span>
        </ion-label>
      </ion-col>

      <ion-col size="6" size-md="6" size-lg="4" size-sm="6"
        *ngIf="activity.rv_details&&activity.rv_details.paid_activity==1&&payment_required==1">
        <ion-label class="cost-sec">
          Cost
          <span class="cost">${{activity.rv_details.cost}} <span>Per person</span></span>
        </ion-label>
      </ion-col>

      <!-- <ion-col size="12" size-md="12" size-lg="4" size-sm="12">
      <ion-button class="signup-btn">Sign up</ion-button>
      <ion-button class="awl-btn">Add to waiting list</ion-button>
      <ion-label class="signed-up">Signed up</ion-label>
      <ion-label class="wl">You are in waiting list</ion-label>
    </ion-col> -->

      <!-- <ion-col size="12">
      <img class="activity-thumb-img"
        src="https://images.pexels.com/photos/9485465/pexels-photo-9485465.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    </ion-col> -->

    </ion-row>
  </ng-container>

  <div class="activity_description" [innerHTML]="activity.activity_info"
    (click)="videocall(activity.activity_info,$event)">

  </div>


  <!-- <ion-item color="none" lines="none" class="act-description">
    
    <p>
      Deserunt adipisicing quis nulla incididunt Lorem. Mollit Lorem duis ipsum esse est ea enim deserunt. Laborum in minim deserunt dolor. In velit adipisicing eu qui incididunt enim ex anim dolore.
    </p>

  </ion-item> -->

  <ion-item color="none" lines="none" class="act-image" (click)="showImages($event,1)" *ngIf="image.length>0">

    <!-- <img src="assets/activity-image1.jpg"> -->

    <ion-row class="smc-sec">

      <ion-label class="act-img-label">Images</ion-label>

      <ion-row class="story-media-container" *ngIf="image.length==1">
        <img [src]="image[0].activity_image" style="width: 100%;" *ngIf="image && image.length ">
      </ion-row>


      <ion-row class="story-media-container smc-1" *ngIf="image.length>1">
        <img [src]="image[0].activity_image" style="width: 100%;" *ngIf="image &&image.length">
      </ion-row>

      <ion-row class="story-media-container smc-2" *ngIf="image.length>1">
        <ion-col *ngIf="image.length>=2">
          <img [src]="image[1].activity_image" *ngIf="image && image.length">
        </ion-col>
        <ion-col *ngIf="image.length>=3">
          <img [src]="image[2].activity_image" *ngIf="image && image.length">
        </ion-col>
        <ion-col *ngIf="image.length>=4">
          <img [src]="image[3].activity_image" *ngIf="image && image.length">
          <div class="myOverlay" *ngIf="image.length>4"></div>
          <div class="num_badge" *ngIf="image.length>4">+{{image.length-4}}</div>
        </ion-col>
      </ion-row>

    </ion-row>

  </ion-item>

  <ion-item lines="none" style="--padding-start: 0px;
  --inner-padding-end: 0px;" color="none" *ngFor="let item of doc" (click)="openDoc(item)">
    <!-- <ion-icon name="attach-outline"></ion-icon> -->
    <ion-icon class="input_paperclip"></ion-icon>
    <ion-label class="act_attachment_name">{{item.title}}</ion-label>
  </ion-item>

 <div class="activity-feedback-sec" *ngIf="activity.feedback&&activity.feedback!=''">

    <ion-text class="af-title">Activity feedback</ion-text>

    <p class="af-para">
      {{activity.feedback}}
    </p>

  </div>

  <ion-item color="none" lines="none" class="act-image" (click)="showImages($event,2)" *ngIf="photos.length>0">

    <!-- <img src="assets/activity-image1.jpg"> -->

    <ion-row class="smc-sec">

      <ion-label class="act-img-label">Activity Photos</ion-label>

      <ion-row class="story-media-container mt-15" *ngIf="photos.length==1">
        <img [src]="photos[0].image" style="width: 100%;" *ngIf="photos && photos.length ">
      </ion-row>


      <ion-row class="story-media-container smc-1 mt-15" *ngIf="photos.length>1">
        <img [src]="photos[0].image" style="width: 100%;" *ngIf="photos &&photos.length">
      </ion-row>

      <ion-row class="story-media-container smc-2" *ngIf="photos.length>1">
        <ion-col *ngIf="photos.length>=2">
          <img [src]="photos[1].image" *ngIf="photos && photos.length">
        </ion-col>
        <ion-col *ngIf="photos.length>=3">
          <img [src]="photos[2].image" *ngIf="photos && photos.length">
        </ion-col>
        <ion-col *ngIf="photos.length>=4">
          <img [src]="photos[3].image" *ngIf="photos && photos.length">
          <div class="myOverlay" *ngIf="photos.length>4"></div>
          <div class="num_badge" *ngIf="photos.length>4">+{{photos.length-4}}</div>
        </ion-col>
      </ion-row>

    </ion-row>

  </ion-item>

  <ion-segment (ionChange)="segmentChanged($event)" class="sw-list-segment" mode="md" [(ngModel)]="segment">
    <ion-segment-button class="signup-list-btn" value="1" *ngIf="attendees.length">
      <ion-label class="sl-label">Assigned <ion-badge class="sl-count">{{attendees.length}}</ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button class="waiting-list-btn" value="2"
      *ngIf="activity.rv_details&&activity.rv_details.waiting_list==1">
      <ion-label class="wl-label">Waiting list <ion-badge class="wl-count"
          *ngIf="activity.rv_details">{{waiting_list.length}}</ion-badge>
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="attendees.length>0&&segment==1" class="p-zero">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-5" *ngFor="let item of attendees">

        <ion-row class="consumer-info-container" style="min-height: 95px !important;" *ngIf="item.type==0">

          <ion-col class="col-fit">

            <ion-avatar>
              <img [src]="item.data.user.profile_pic" *ngIf="item.data.user.profile_pic!=null">
              <img src="assets/user_pic.png" *ngIf="item.data.user.profile_pic==null">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              {{item.data.user.name}}

              <ion-icon class="mo-icon" name="ellipsis-vertical-sharp" (click)="assigneeOptions($event,1,item)" *ngIf="rvsettings==1"></ion-icon>

              <span>
                {{item.data.room}}
              </span>
              <span *ngIf="item.data.wing&&rvsettings!==1" class="wing-name">
                {{item.data.wing.name}}
              </span>
              <span
                *ngIf="item.data.property_details&&item.data.property_details.contract_details&&item.data.property_details.contract_details.property&&item.data.property_details.contract_details.property.location&&rvsettings==1"
                class="wing-name">
                {{item.data.property_details.contract_details.property.location.name}}
              </span>
            </ion-label>
            <ion-label class="action_attended" *ngIf="item.action==1">Attended</ion-label>
            <ion-label class="action_declined" *ngIf="item.action==2">Declined</ion-label>
            <ion-label class="reason" *ngIf="item.action!==0&&item.reason">{{item.reason}}</ion-label>
          </ion-col>

        </ion-row>

        <ion-row class="consumer-info-container" style="min-height: 95px !important;" *ngIf="item.type==1">

          <ion-col class="col-fit">

            <ion-avatar>
              <img [src]="item.data.user.profile_pic" *ngIf="item.data.user.profile_pic!=null">
              <img src="assets/user_pic.png" *ngIf="item.data.user.profile_pic==null">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              {{item.data.user.name}}

              <ion-icon class="mo-icon" name="ellipsis-vertical-sharp" (click)="assigneeOptions($event,1,item)" *ngIf="rvsettings==1"></ion-icon>

              <span *ngIf="item.data.user.family">
                {{item.data.user.family[0].relation}}
              </span>
              <!-- <span>
                {{item.user}}
              </span> -->
            </ion-label>
            <ion-label class="action_attended" *ngIf="item.action==1">Attended</ion-label>
            <ion-label class="action_declined" *ngIf="item.action==2">Declined</ion-label>
            <ion-label class="reason" *ngIf="item.action!==0&&item.reason">{{item.reason}}</ion-label>
          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

  </ion-grid>


  <ion-grid *ngIf="waiting_list.length>0&&segment==2" class="p-zero">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-5" *ngFor="let item of waiting_list">

        <ion-row class="consumer-info-container" style="min-height: 95px !important;" *ngIf="item.type==0">

          <ion-col class="col-fit">

            <ion-avatar>
              <img [src]="item.data.user.profile_pic" *ngIf="item.data.user.profile_pic!=null">
              <img src="assets/user_pic.png" *ngIf="item.data.user.profile_pic==null">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              {{item.data.user.name}}

              <ion-icon class="mo-icon" name="ellipsis-vertical-sharp" (click)="assigneeOptions($event,2,item)" *ngIf="rvsettings==1"></ion-icon>

              <span>
                {{item.data.room}}
              </span>
              <span *ngIf="item.data.wing" class="wing-name">
                {{item.data.wing.name}}
              </span>
            </ion-label>
            <ion-label class="action_attended" *ngIf="item.action==1">Attended</ion-label>
            <ion-label class="action_declined" *ngIf="item.action==2">Declined</ion-label>
            <!-- <ion-label class="reason" *ngIf="item.action!==0">{{item.reason}}</ion-label> -->
          </ion-col>

        </ion-row>

        <ion-row class="consumer-info-container" style="min-height: 95px !important;" *ngIf="item.type==1">

          <ion-col class="col-fit">

            <ion-avatar>
              <img [src]="item.data.user.profile_pic" *ngIf="item.data.user.profile_pic!=null">
              <img src="assets/user_pic.png" *ngIf="item.data.user.profile_pic==null">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              {{item.data.user.name}}

              <ion-icon class="mo-icon" name="ellipsis-vertical-sharp" (click)="assigneeOptions($event,2,item)" *ngIf="rvsettings==1"></ion-icon>

              <span *ngIf="item.data.user.family">
                {{item.data.user.family[0].relation}}
              </span>
              <!-- <span>
                {{item.user}}
              </span> -->
            </ion-label>
            <ion-label class="action_attended" *ngIf="item.action==1">Attended</ion-label>
            <ion-label class="action_declined" *ngIf="item.action==2">Declined</ion-label>
            <!-- <ion-label class="reason" *ngIf="item.action!==0">{{item.reason}}</ion-label> -->
          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

  </ion-grid>




  <!-- <ion-grid class="p-zero mt-10">

    <ion-row class="activity-media p-zero">

      <ion-col size-sm="6" size-md="3" size-lg="4" size="6">

        <img
          src="https://images.pexels.com/photos/3823039/pexels-photo-3823039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">

      </ion-col>

      <ion-col size-sm="6" size-md="3" size-lg="4" size="6">

        <img
          src="https://images.pexels.com/photos/3823039/pexels-photo-3823039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">

      </ion-col>

      <ion-col size-sm="6" size-md="3" size-lg="4" size="6">

        <img
          src="https://images.pexels.com/photos/3823039/pexels-photo-3823039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">

      </ion-col>

      <ion-col size-sm="6" size-md="3" size-lg="4" size="6">

        <img
          src="https://images.pexels.com/photos/3823039/pexels-photo-3823039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">

      </ion-col>

    </ion-row>

  </ion-grid> -->


</ion-content>


<ion-footer>

  <!-- <ion-fab vertical="bottom" horizontal="end"  (click)="delete()">
    <ion-fab-button size="small">
      <ion-icon name="trash-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <!-- <ion-button class="mark-attendees-btn" (click)="edit()" (click)="addAttendee()"
  *ngIf="activity.individual_activity==0">
    <i class="las la-user-plus"></i>
  </ion-button>

  <ion-button class="mark-attendance-btn" [routerLink]="['/mark-attendance',{act_id:act_id}]"
    *ngIf="markToday&&mark&&activity.individual_activity==0">
    <ion-icon name="checkmark-done-outline"></ion-icon>
    Mark attendance
  </ion-button> -->

  <ion-button class="mark-attendees-btn"  (click)="addAttendee()"
 *ngIf="activity.individual_activity==0">
    <i class="las la-user-plus"></i>
   Add attendees
 </ion-button>

 <ion-button class="mark-attendance-btn" [routerLink]="['/mark-attendance',{act_id:act_id}]"
   *ngIf="markToday&&mark&&activity.individual_activity==0">
   <ion-icon name="checkmark-done-outline"></ion-icon>
   Mark attendance
 </ion-button>



  <!-- <ion-button class="add-photo-btn">
    <ion-icon name="image"></ion-icon>
    Photo
  </ion-button> -->

  <!-- <ion-button class="mark-attendees-btn">
    <i class="las la-user-plus"></i>
  </ion-button> -->

  <!-- <ion-button class="quick-actions-btn" (click)="actOptions()" *ngIf="edit_status||delete_status||story_status">
    <ion-icon name="ellipsis-vertical"></ion-icon>
  </ion-button> -->

  <!-- <ion-button class="delete-btn" (click)="delete()">
    <ion-icon name="trash-outline" ></ion-icon>
  </ion-button> -->

</ion-footer>