ion-header {
    min-height: auto;
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.pl-10 {
    padding-left: 10px;
    display: block;
}

.story-view-count-label {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #000;
    padding-left: 10px;
}

.consumer-info-container ion-col:nth-child(2) {
    padding-left: 10px !important;
}