<ion-header class="ion-header-inner-2">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
          <ion-label>Views</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-label class="story-view-count-label">{{views.length}}{{" "}}people viewed this post</ion-label>
  
  <ion-grid class="mt-10" *ngIf="views.length>0">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="3" size="12" *ngFor="let item of views">

        <ion-row class="consumer-info-container">

          <ion-col class="col-fit" >

            <ion-avatar>
              <img [src]="item.user.profile_pic" *ngIf="item.user.profile_pic!=null">
              <img src="assets/user_pic.png" *ngIf="item.user.profile_pic==null">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              {{item.user.name}}

              <span *ngIf="item.user.user_type_id==1 || item.user.user_type_id==2 || item.user.user_type_id==3 || item.user.user_type_id==7">
                Staff
              </span>
              <span *ngIf="item.user.user_type_id==6">
                {{item.relative.relation}}{{" - "}}{{item.relative.resident.name}}
              </span>

              <span *ngIf="item.user.user_type_id==5">
              {{item.user.resident.room}}
              </span>

            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>



  </ion-grid>
</ion-content>