<ion-content>

  <ion-item lines="none" color="none">
    <ion-label (click)="remove()">Remove</ion-label>
  </ion-item>

  <ion-item lines="none" color="none" *ngIf="flag==1&&wl==1">
    <ion-label (click)="moveToSignup(1)">Move to waiting list</ion-label>
  </ion-item>

  <ion-item lines="none" color="none" *ngIf="flag==2">
    <ion-label (click)="moveToSignup(0)">Move to signups</ion-label>
  </ion-item>

</ion-content>