<ion-item lines="none" style="width:100%;--min-height:35px;--padding-start:0px;--inner-padding-end:0px" color="none">
  <ion-label style="font-weight: normal;margin-right: auto;margin-left: auto;text-align: center;align-self: center;font-size:16px;padding :5px 8px !important;margin-top: 0px;margin-bottom: 0px;margin-inline-end: 0px;"
    (click)="remove()">Remove</ion-label>
</ion-item>

<ion-item lines="none" style="width:100%;--min-height:35px;--padding-start:0px;--inner-padding-end:0px"
 color="none" *ngIf="flag==1&&wl==1">
  <ion-label style="font-weight: normal;margin-right: auto;margin-left: auto;text-align: center;align-self: center;font-size:16px;padding :5px 8px !important;margin-top: 0px;margin-bottom: 0px;margin-inline-end: 0px;"
    (click)="moveToSignup(1)">Move to waiting list</ion-label>
</ion-item>
<ion-item lines="none" style="width:100%;--min-height:35px;--padding-start:0px;--inner-padding-end:0px"
 color="none" *ngIf="flag==2">
  <ion-label style="font-weight: normal;margin-right: auto;margin-left: auto;text-align: center;align-self: center;font-size:16px;padding :5px 8px !important;margin-top: 0px;margin-bottom: 0px;margin-inline-end: 0px;"
    (click)="moveToSignup(0)">Move to signups</ion-label>
</ion-item>