ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
}

ion-item {
    width: 100%;
    margin-bottom: 15px;
    --min-height: auto;
    --padding-start: 0px;
    --inner-padding-end: 0px;

    &:last-child {
        margin-bottom: 0;
    }
    
    ion-label {
        font-size: 16px;
        font-weight: normal;
        color: #000;
        margin: 0;
    }
}
