ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.rv-add-contact-form {
    ion-col {
        position: relative;

        .rvac-form-label {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            color: #646464;
        }

        .rvac-form-label-1 {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            color: #646464;
            margin-bottom: 10px;
            display: block;
        }

        .rvac-radio-list {
            background: transparent !important;

            ion-radio-group {
                display: flex;
                align-items: center;

                ion-item {
                    --padding-start: 0;
                    --inner-padding-end: 0;
                    --min-height: auto;
                    margin: 0 15px;

                    &:first-child {
                        margin-left: 0;
                    }

                    ion-radio {
                        margin-right: 10px;
                        --border-width: 1px;
                        --color-checked: #0077b5;
                    }

                    ion-label {
                        color: #222;
                        font-size: 16px;
                    }
                }
            }
        }

        .task-dt-box {
            position: relative;

            ion-datetime {
                --padding-start: 15px;
                --padding-end: 15px;
                color: #222;
                background: #efefef !important;
                border-radius: 10px;
                height: 50px;
                display: flex;
                align-items: center;
                margin-top: 15px;
            }

            i {
                font-size: 25px;
                color: #707070;
                position: absolute;
                right: 15px;
                top: 52px;
                z-index: 9999;
            }
        }

        ion-input {
            --padding-start: 15px;
            --padding-end: 15px;
            color: #222;
            background: #efefef !important;
            border-radius: 10px;
            height: 50px;
            margin-top: 10px;
        }

        ion-textarea {
            color: #222;
            background: #efefef !important;
            border-radius: 10px;
            margin-top: 10px;
            min-height: 150px;
            --padding-start: 15px;
            --padding-end: 15px;
        }

        ion-select {
            background: #efefef;
            border-radius: 10px;
            min-height: 50px;
            margin-top: 10px;
            padding: 10px 20px 10px 15px;
        }

        .phone-input {
            --padding-start: 65px;
            --padding-end: 15px;
            color: #222;
            background: #efefef !important;
            border-radius: 10px;
            height: 50px;
            margin-top: 10px;
        }

        .country-code {
            font-size: 16px;
            color: #828282 !important;
            border-right: 1px solid #c8c8c8;
            padding-right: 10px;
            position: absolute;
            left: 20px;
            bottom: 17px;
            z-index: 999;
        }

        .rvac-select-resident-btn {
            display: flex;
            max-width: fit-content;
            --background: transparent;
            --box-shadow: none;
            --padding-start: 0;
            color: #0077b5;
            text-transform: none;
            font-size: 16px;
            margin-top: 10px;

            ion-icon {
                font-size: 22px;
                margin-right: 10px;
            }
        }

        .rvac-sres-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            .rvac-res-box {
                max-width: 70%;

                ion-label {
                    font-size: 16px;
                    font-weight: 500;
                    color: #222;
                }

                .rvac-res-mc {
                    background: #d7e3f9;
                    color: #4e70b1;
                    min-width: 25px;
                    min-height: 25px;
                    font-size: 14px;
                    border-radius: 50px;
                    padding: 8px;
                }
            }

            .rvac-res-controls-box {
                width: 12%;
                display: flex;
                align-items: center;

                .rvac-res-cb-edit-btn {
                    --background: rgb(204 237 255);
                    --border-radius: 50px;
                    --box-shadow: none;
                    --padding-start: 0;
                    --padding-end: 0;
                    color: #0077b5;
                    width: 42px;
                    height: 42px;
                    font-size: 22px;
                }

                .rvac-res-cb-remove-btn {
                    --background: rgb(204 237 255);
                    --border-radius: 50px;
                    --box-shadow: none;
                    --padding-start: 0;
                    --padding-end: 0;
                    color: #0077b5;
                    width: 42px;
                    height: 42px;
                    font-size: 22px;
                }
            }
        }

        .add-new-item-block {
            display: flex;
            align-items: center;
            width: 100%;

            ion-input {
                margin-top: 0;
            }

            .remove-option-btn {
                font-size: 22px;
                color: #ed0101;
                margin-left: 15px;
            }
        }

        .add-new-item-button {
            --background: transparent;
            --box-shadow: none;
            --border-radius: 50px;
            --padding-start: 0;
            color: #0077b5;
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            font-weight: normal;
            font-size: 17px;
            margin-left: 0;
            margin-top: 0px;
            margin-bottom: 15px;

            ion-icon {
                font-size: 24px;
                margin-right: 5px;
            }
        }

        .rvac-toggle-switch {
            float: left;
            width: 50px;
            height: 25px;
            padding-inline: 0;
            border-radius: 50px;
            margin-right: 15px;
            margin-bottom: 10px;
            padding: 0;
            --background: #c8cfda;
            --background-checked: #c9edff;
            --handle-background-checked: #0077b5;
            --handle-width: 20px;
            --handle-height: 20px;
            --handle-background: #fff;
            --ion-color-base: #0077b5 !important;
            --handle-spacing: 3px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;

        .rvac-save-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #0077b5;
            color: #fff;
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }

        .rvac-cancel-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #8b8b8b;
            color: #fff;
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .rv-add-contact-form {
        ion-col {
            padding: 10px;
        }
    }
}
