<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="dismiss()">
          </ion-icon>
          <ion-label>Edit contact</ion-label>
        </ion-col>

        <!-- <ion-col class="col-fit ion-align-self-end">
          <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button>
          <ion-button class="filter-task-btn">
            <ion-icon name="funnel-outline"></ion-icon>
          </ion-button>
        </ion-col> -->

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="rv-add-contact-form">

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="rvac-form-label">First name<span class="asterisk">*</span></ion-label>

      <ion-input [(ngModel)]="fname"></ion-input>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="rvac-form-label">Last name<span class="asterisk">*</span></ion-label>

      <ion-input [(ngModel)]="lname"></ion-input>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15">

      <ion-label class="rvac-form-label">Relation <span class="asterisk">*</span></ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="relation">
        <ion-select-option value="Spouse">Spouse</ion-select-option>
        <ion-select-option value="Son">Son</ion-select-option>
        <ion-select-option value="Daughter">Daughter</ion-select-option>
        <ion-select-option value="Family">Family</ion-select-option>
        <ion-select-option value="Friend">Friend</ion-select-option>
        <ion-select-option value="GP">GP</ion-select-option>
        <ion-select-option value="Specialist">Specialist</ion-select-option>
        <ion-select-option value="Solicitor">Solicitor</ion-select-option>
        <ion-select-option value="Funeral director">Funeral director</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15" *ngIf="relation=='Other'">

      <ion-label class="rvac-form-label">If other</ion-label>

      <ion-input [(ngModel)]="other_relation"></ion-input>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15">

      <ion-label class="rvac-form-label">Email address</ion-label>

      <ion-input [(ngModel)]="email"></ion-input>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15">

      <ion-label class="rvac-form-label">Mobile No.</ion-label>

      <ion-input class="phone-input" [(ngModel)]="phone"></ion-input>

      <span class="country-code"> +61 </span>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15">

      <ion-label class="rvac-form-label">Address</ion-label>

      <ion-textarea rows="5" [(ngModel)]="address"></ion-textarea>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15">

      <ion-label class="rvac-form-label">Suburb</ion-label>

      <ion-input [(ngModel)]="suburb"></ion-input>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15">

      <ion-label class="rvac-form-label">Post code</ion-label>

      <ion-input [(ngModel)]="postcode"></ion-input>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15">

      <ion-label class="rvac-form-label">State/Territory</ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="state">
        <ion-select-option value="ACT">ACT</ion-select-option>
        <ion-select-option value="NSW">NSW</ion-select-option>
        <ion-select-option value="NT">NT</ion-select-option>
        <ion-select-option value="SA">SA</ion-select-option>
        <ion-select-option value="TAS">TAS</ion-select-option>
        <ion-select-option value="VIC">VIC</ion-select-option>
        <ion-select-option value="WA">WA</ion-select-option>
        <ion-select-option value="QLD">QLD</ion-select-option>
      </ion-select>

    </ion-col>

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-15">

      <ion-label class="rvac-form-label-1">Contact role</ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="contact_role">
        <ion-select-option value="EPOA (Personal)">EPOA (Personal)</ion-select-option>
        <ion-select-option value="EPOA (Financial)">EPOA (Financial)</ion-select-option>
        <ion-select-option value="EPOA (Medical)">EPOA (Medical)</ion-select-option>
        <ion-select-option value="Supporting Power of Attorney">Supporting Power of Attorney</ion-select-option>
        <ion-select-option value="Financial power of Attorney">Financial power of Attorney</ion-select-option>
        <ion-select-option value="Public Trustee">Public Trustee</ion-select-option>
        <ion-select-option value="VCAT Guardianship">VCAT Guardianship</ion-select-option>
        <ion-select-option value="Executor">Executor</ion-select-option>
      </ion-select>

    </ion-col>

   

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-15">

      <ion-label class="rvac-form-label-1">Contact type</ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="contact_type">
        <ion-select-option value="1st">1st Point of Contact</ion-select-option>
        <ion-select-option value="2nd">2nd Point of Contact</ion-select-option>
        <ion-select-option value="3rd">3rd Point of Contact</ion-select-option>
        <ion-select-option value="Emergency">Emergency</ion-select-option>
        <ion-select-option value="Billing">Billing</ion-select-option>
        <ion-select-option value="Clinical">Clinical</ion-select-option>
        <ion-select-option value="Legal">Legal</ion-select-option>
        <ion-select-option value="Funeral">Funeral</ion-select-option>
      </ion-select>

    </ion-col>

   

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10">

      <ion-toggle class="rvac-toggle-switch" [(ngModel)]="is_primary"></ion-toggle>
      <ion-label class="rvac-form-label"> Primary representative</ion-label>

    </ion-col>

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10">

      <ion-toggle class="rvac-toggle-switch" [(ngModel)]="family_portal"></ion-toggle>
      <ion-label class="rvac-form-label"> Enable access to family portal</ion-label>

    </ion-col>

    

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-15">

      <ion-label class="rvac-form-label-1">Approved for</ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" mode="ios" interface="action-sheet" [(ngModel)]="approved_for" multiple="true">
        <ion-select-option value="EPOA">Enduring Power of Attorney (Financial/Personal)</ion-select-option>
        <ion-select-option value="Supporting Power of Attorney">Supporting Power of Attorney</ion-select-option>
        <ion-select-option value="Financial power of Attorney">Financial power of Attorney</ion-select-option>
        <ion-select-option value="EPOAMedical">Enduring Power of Attorney (Medical Treatment)</ion-select-option>
        <ion-select-option value="EPOG">Enduring Power of Guardianship</ion-select-option>
        <ion-select-option value="Public Trustee">Public Trustee</ion-select-option>
        <ion-select-option value="VCAT Guardianship">VCAT Guardianship Order</ion-select-option>
        <ion-select-option value="Executor">Executor</ion-select-option>
      </ion-select>

    </ion-col>

   

  </ion-row>

</ion-content>

<ion-footer>

  <ion-item lines="none" color="none">

    <ion-button class="rvac-save-btn" (click)="save()">Save</ion-button>

    <ion-button class="rvac-cancel-btn" (click)="dismiss()">Cancel</ion-button>

  </ion-item>

</ion-footer>