ion-header {
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    position: relative;
    padding: 10px 10px 10px;

    ion-grid {
        ion-row {
            position: relative;

            .page_title {
                font-family: "Roboto", sans-serif !important;
                font-size: 18px !important;
                // font-weight: 500 !important;

                ion-icon {
                    vertical-align: middle;
                    font-size: 25px;
                }

                ion-text {
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }

            .page-close-btn {
                font-size: 32px;
                color: #fff;
                vertical-align: middle;
                position: absolute;
                right: 5px;
                top: -4px;
            }
        }
    }
}

.inner-content {
    padding: 20px;
    background: #fff;
    overflow-y: scroll;
}

ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;

        .rvap-add-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #0077b5;
            color: #fff;
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }

        .rvap-cancel-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #8b8b8b;
            color: #fff;
            text-transform: none;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }
    }
}
