<ion-header mode="md" class="ion-header-inner">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <ion-text *ngIf="flag==1">Add pets</ion-text>
        <ion-text *ngIf="flag==2">Edit pets</ion-text>
      </ion-col>

      <ion-icon class="page-close-btn" name="close-circle-sharp" (click)="dismiss()"></ion-icon>

    </ion-row>

  </ion-grid>

</ion-header>

<div class="inner-content" *ngIf="pet">

  <div class="add-pets-sec">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Pets type</ion-label>

          <ion-select interface="action-sheet" class="text_color" placeholder="Select" [(ngModel)]="pet.pet_type" *ngIf="type&&type.length">

            <ion-select-option value="{{item.id}}" *ngFor="let item of type"> {{item.name}}</ion-select-option>
            

          </ion-select>

        </div>

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="6" size-lg="6" size="12" >

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Other type</ion-label>

          <ion-input [(ngModel)]="pet.other_type"></ion-input>

        </div>

      </ion-col> -->

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Pet name</ion-label>

          <ion-input [(ngModel)]="pet.name"></ion-input>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Breed</ion-label>

          <ion-input [(ngModel)]="pet.breed"></ion-input>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Colour</ion-label>

          <ion-input [(ngModel)]="pet.colour"></ion-input>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Pet sitting required</ion-label>

          <ion-select interface="action-sheet" class="text_color" placeholder="Select" [(ngModel)]="pet.pet_sit">

            <ion-select-option value="1"> Yes</ion-select-option>
            <ion-select-option value="0">No</ion-select-option>

          </ion-select>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Description</ion-label>

          <ion-textarea rows="5" [(ngModel)]="pet.description"></ion-textarea>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Pet images</ion-label>

          <ion-button class="add-pet-images-btn" (click)="addFile()">
            <ion-icon name="add-sharp"></ion-icon>
            Add files
          </ion-button>

          <div class="pet-images-holder">

            <div class="single-pet-photo-holder" *ngFor="let img of pet.petimages;let i=index">

              <ion-avatar class="single-pet-avatar">
                <img src="{{img.images}}" *ngIf="!img.images.includes('.pdf')">
                <img src="assts/pdf_icon.svg" *ngIf="img.images.includes('.pdf')">
              </ion-avatar>

              <ion-icon class="remove-pet-avatar-icon" name="close-circle-sharp" (click)="removeImg(i)"></ion-icon>

            </div>

            
            </div>

          

        </div>

      </ion-col>

      <div class="section-separator">

        <ion-label class="section-name">Emergency information for pets</ion-label>
        <ion-icon class="section-expand-icon" name="chevron-down"></ion-icon>

      </div>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Emergency info</ion-label>
          <ion-textarea rows="5" [(ngModel)]="pet.emergency_info"></ion-textarea>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Name</ion-label>
          <ion-input [(ngModel)]="pet.emergency_name"></ion-input>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Phone</ion-label>
          <ion-input [(ngModel)]="pet.emergency_phone"></ion-input>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Email</ion-label>
          <ion-input [(ngModel)]="pet.emergency_email"></ion-input>

        </div>

      </ion-col>

      <div class="section-separator">

        <ion-label class="section-name">Vet details</ion-label>
        <ion-icon class="section-expand-icon" name="chevron-down"></ion-icon>

      </div>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Clinic</ion-label>
          <ion-input [(ngModel)]="pet.clinic"></ion-input>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Doctor</ion-label>
          <ion-input [(ngModel)]="pet.doctor"></ion-input>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Phone</ion-label>
          <ion-input [(ngModel)]="pet.phone"></ion-input>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <div class="add-pet-form-item">

          <ion-label class="apf-label">Additional info</ion-label>
          <ion-textarea rows="5" [(ngModel)]="pet.additional_info"></ion-textarea>

        </div>

      </ion-col>

    </ion-row>

  </div>

</div>

<ion-footer>

  <ion-item lines="none" color="none">

    <ion-button class="rvap-add-btn" (click)="addPet()" *ngIf="flag==1">Add</ion-button>

    <ion-button class="rvap-add-btn" (click)="edit()" *ngIf="flag==2">Save</ion-button>

    <ion-button class="rvap-cancel-btn" (click)="dismiss()">Cancel</ion-button>

  </ion-item>

</ion-footer>