ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.bg-green.bg-lighten-4 {
    background-color: #E2FFEE !important;
    color: #0B6A00 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.inactive-contact {

    ion-icon {
        vertical-align: middle;
        color: #ff9800;
        display: inline-flex;
    }

    ion-label {
        margin-left: 5px;
        display: inline-flex;
        vertical-align: middle;
        font-size: 13px;
    }

}

.ion-header-inner {
    background: #fff;
    min-height: 90px;
    padding: 15px 15px 0;
    color: #222;
    align-self: center;
    align-items: center;
    align-content: center;
    display: flex;
    box-shadow: none;
}

.profile-details-box {
    background: #0077B5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 120px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;

    ion-avatar {
        width: 100px;
        height: 100px;
        border: 5px solid #fff;
        position: absolute;
        top: 0;
    }

    .consumer-name {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        display: block;
        margin-top: 45px;
    }

    .agedcare-name {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #fff;
        display: block;
        margin-top: 2px;
    }

    .room-wingname {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #fff;
        display: block;
        margin-top: 2px;
    }

    .rw-sec {
        display: flex;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #fff;
        margin-top: 6px;

        i {
            font-size: 20px;
            margin-right: 5px;
            vertical-align: middle;
        }
    }

    .loc {
        width: 100%;
        display: block;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #fff;
        margin-top: 6px;
        margin-left: auto;
        margin-right: auto;

        i {
            font-size: 20px;
            margin-right: 5px;
            vertical-align: middle;
        }

    }
}

.consumer-contact-container {
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 0px;
    background-color: #FFF !important;
    // box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px !important;
    box-shadow: none;
    border: 1px solid #dfdfdf;
    --padding-start: 5px;
    --inner-padding-end: 5px;

    ion-avatar {
        width: 55px;
        height: 55px;
        border: 3px solid #fff;
        margin-right: 10px;
    }

    .contact-name {
        color: #222;
        font-size: 16px;
        font-weight: 500;

        .relation {
            color: #707070;
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: normal;
            margin-top: 0;
        }

        .pending_invitation {
            font-size: 13px;
            font-weight: normal !important;
            color: #FF9800;
            margin-top: 2px;
        }
    }
}

.cc-invite-container {
    // background: #fff;
    // box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px !important;
    background-color: #0077b5;
    background-image: linear-gradient(90deg, #0077b5 0%, #42c3fc 100%);
    border-radius: 10px;
    padding: 15px 25px;
    min-height: auto;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    // background-color: #4158D0;
    // background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    // box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px !important;
    // border-radius: 10px;
    // padding: 10px 20px;
    // margin-top: 10px;
    // display: flex;
    // align-items: center;
    // min-height: auto;
    // filter: hue-rotate(375deg);

    img {
        width: 50px;
        // margin-left: auto;
        // margin-right: auto;
        display: block;
    }

    ion-label {
        color: #fff !important;
        font-size: 16px;
        // font-weight: 500;
        margin-top: 0px;
        margin-left: 20px;
        text-align: left;
    }

    ion-icon {
        font-size: 25px;
        color: #fff;
        margin-left: 15px;
    }
}

@media only screen and (min-width:768px) {
    .cc-invite-container { 
        max-width: fit-content;
    }
}