ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.bg-green.bg-lighten-4 {
  background-color: #E2FFEE !important;
  color: #0B6A00 !important;
}
