<!-- <ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/consumer-profile',{id:consumer.id,flag:flag}]"></ion-icon>
          <ion-label>Contacts</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header> -->

<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/resident-profile',{id:consumer.id,flag:flag}]">
          </ion-icon>
          <ion-label>Contacts</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile-details-box">

    <ion-avatar>

      <img [src]="img">

    </ion-avatar>

    <ion-label class="consumer-name">{{name}}</ion-label>

    <!-- <ion-label class="agedcare-name">ABC Agedcare</ion-label>

    <ion-label class="room-wingname">220 B, Apple Blossom</ion-label> -->

    <ion-label class="rw-sec"> <i class="las la-building"></i> {{room}},{{wing}} </ion-label>

    <ion-label class="loc"> <i class="las la-map-marker"></i> {{branch}} </ion-label>

  </div>

  <ion-row>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of contacts;let i=index">

      <ion-item color="none" lines="none" class="consumer-contact-container">

        <ion-avatar slot="start">
          <img [src]="item.user_details.profile_pic">
        </ion-avatar>

        <ion-label class="contact-name">

          {{item.user_details.name}}

          <span class="relation">
            {{item.relation}}
          </span>
          <span class="inactive-contact" *ngIf="item.user_details.status==0">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>Inactive</ion-label>
          </span>
        </ion-label>

        <ion-icon src="assets/crown-icon.svg" *ngIf="item.is_primary==1"></ion-icon>
        <ion-icon style="font-size: 20px; color: #7d7d7d;" slot="end" name="ellipsis-vertical" *ngIf="edit"
          (click)="showOptions($event,item,1,i)"></ion-icon>
      </ion-item>

    </ion-col>

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of pending;let i=index">

      <ion-item color="none" lines="none" class="consumer-contact-container">

        <ion-avatar slot="start" class="bg-green bg-lighten-4">
          <!-- <img [src]="item.user.profile_pic" *ngIf="item.user.profile_pic"> -->
          <ion-label style="margin-left: 0px;margin-top: 0px;font-size: 20px; font-weight: bold;">
            {{item.name | slice:0:1}}</ion-label>
        </ion-avatar>

        <ion-label class="contact-name">{{item.name}}<span class="relation">{{item.relation}}</span>
          <span class="pending_invitation">Invitation Pending</span>
        </ion-label>

        <ion-icon src="assets/crown-icon.svg" *ngIf="item.is_primary==1"></ion-icon>
        <ion-icon style="font-size: 20px; color: #7d7d7d;" slot="end" name="ellipsis-vertical" *ngIf="edit"
          (click)="showOptions($event,item,2,i)"></ion-icon>
      </ion-item>

    </ion-col>

  </ion-row>



  <div class="cc-invite-container" *ngIf="edit"
    [routerLink]="['/consumer-invite-contact',{id:consumer.id,pic:img,name:name,room:room,user_id:consumer.user_id,flag:flag,wing:wing}]">

    <img src="/assets/residents/invitecontact-icon.svg">

    <ion-label>Invite Family / Friends</ion-label>

    <ion-icon name="arrow-forward-outline"></ion-icon>

  </div>


</ion-content>