.header-buttons ion-icon:first-child {
  padding: 10px;
  font-size: 18px;
}

.header-buttons ion-icon:nth-child(2) {
  font-size: 30px;
  padding: 4px;
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.calendar_style {
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 10px !important;
}

.sc-ion-popover-md-h {
  --width: 100% !important;
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
  .header-buttons ion-icon:first-child {
    padding: 10px;
    font-size: 18px !important;
  }
  .header-buttons ion-icon:nth-child(2) {
    font-size: 30px !important;
    padding: 4px;
  }
}

.canceled {
  background-color: #afadad !important;
}

.canceled ion-item ion-label {
  background-color: grey;
  color: black;
}

.canceled ion-item ion-icon {
  color: dimgray;
}

.canceled ion-grid ion-row ion-col img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.canceled ion-button {
  --background: grey;
}

.cancel-tag {
  position: absolute;
  top: 0px;
  left: 0px;
  background: red;
  color: #fff;
  font-size: 13px;
  padding: 0px 20px 6px;
  line-height: normal;
  font-family: sans-serif;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.canceled ion-item {
  --padding-start: 0px;
  --inner-padding-end: 0px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.vlist-card {
  padding: 20px;
  margin: 0px 0px 10px 0px;
}

.vlist-card .vlist-phone-no {
  font-size: 16px;
  color: #707070;
  display: block;
}

.vlist-card .vlist-name {
  font-size: 18px;
  color: #0077B5
;
  display: block;
}

.vlist-card .vlist-more-people {
  color: #0077B5
;
  background-color: #cae3ff;
  padding: 5px 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: block;
  margin-top: 10px;
  border-radius: 50px;
  font-size: 16px;
}

.vlist-card .vsublist {
  font-size: 16px;
  display: block;
}

.vlist-card .vsublist span {
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

.vlist-card .vsublist span ion-icon {
  vertical-align: middle;
  font-size: 18px;
}

.asc {
  align-self: center;
}

.pl-10 {
  padding-left: 10px;
}

@media screen and (max-width: 767px) {
  .vlist-card .vsublist {
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
  }
  .vlist-card .margin-bottom-zero {
    margin-bottom: 0px;
  }
}

.vis-count-card {
  padding: 15px;
  margin: 0px;
}

.vis-count-card ion-label {
  font-size: 30px;
  font-weight: 500;
  color: #707070;
  display: block;
}

.vis-count-card ion-label span {
  display: block;
  color: #707070;
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
}

.vis-count-card .total-visitors {
  color: #0077B5
;
}

.vis-count-card .active-visitors {
  color: #00a11b;
}

.vis-count-card .overstayed-visitors {
  color: #ff5200;
}

.more-filters .clife-select {
  align-self: center;
}

.more-filters .vlist-exp-btn {
  --background: #0077B5
;
  --border-radius: 6px;
  --box-shadow: none;
  height: 40px;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  min-width: 100px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: normal;
}

.vlist-date {
  background-color: #ffc107;
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
