<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" [routerLink]="['/menu']"></ion-icon>
          <ion-label>Visitor List</ion-label>
        </ion-col>

        <!-- <ion-col class="col-fit header-buttons ion-align-self-end" size="4">

       

          <ion-icon name="add-outline" ></ion-icon>

        </ion-col> -->

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment class="category-selector">

    <ion-segment-button value="visitors" (click)="changeContent(1)">
      <ion-label>Visitors</ion-label>
    </ion-segment-button>

    <ion-segment-button value="residents" (click)="changeContent(2)">
      <ion-label>Residents</ion-label>
    </ion-segment-button>

  </ion-segment>


<div *ngIf="tabStatus">
  <ion-grid >

    <ion-row>

      <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

        <ion-card class="vis-count-card">

          <ion-label class="total-visitors">

            {{data.visitor_count}}

            <span>

              Total Visitors

            </span>

          </ion-label>

        </ion-card>

      </ion-col>


      <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

        <ion-card class="vis-count-card">

          <ion-label class="active-visitors">

            {{data.checkin_count}}

            <span>

              Active Visitors

            </span>

          </ion-label>

        </ion-card>

      </ion-col>

      <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

        <ion-card class="vis-count-card">

          <ion-label class="overstayed-visitors">

            {{data.overstayed_count}}

            <span>

              Overstayed Visitors

            </span>

          </ion-label>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid >

    <ion-row>

      <!-- <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

        <div class="more-filters mt-20">

          <ion-item color="none" lines="none" class="clife-select mark-selected">
            <ion-select placeholder="Actions" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="1">Checkout All</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item color="none" lines="none">
            <ion-button class="vlist-exp-btn">Export</ion-button>
          </ion-item>

        </div>

      </ion-col> -->

      <ion-col size="12" size-sm="12" size-md="4" size-lg="4" class="asc">

        <!-- <ion-label class="vlist-date">29 January 2021</ion-label> -->
        <ion-datetime value="2021-01-01T10:30:00" class="vlist-date" [max]="minDate" displayFormat=" DD MMMM YYYY " (ionChange)="getContent()"
        display-timezone="utc" [(ngModel)]="date">
      </ion-datetime>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

        <ion-searchbar class="clife-search-bar" placeholder="Search Visitors" (ionCancel)="cancel()"  [(ngModel)]="terms"></ion-searchbar>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="visitor.length>0">

    <ion-row *ngFor="let item of visitor | messagesearch : terms">

      <ion-col size="12">

        <ion-card class="vlist-card">

          <ion-row>

            <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

              <ion-row>

                <ion-col class="col-fit asc">

                  <ion-avatar>

                    <img src="{{item.photo}}" *ngIf="item.photo!=null">
                    <img src="assets/user_pic.png" *ngIf="item.photo==null">

                  </ion-avatar>

                </ion-col>

                <ion-col class="pl-10">

                  <ion-label class="vlist-name" *ngIf="item.name!=null">

                    {{item.name}}

                  </ion-label>

                  <ion-label class="vlist-phone-no" *ngIf="item.mobile!=null">

                    {{item.mobile}}

                  </ion-label>

                  <ion-label class="vlist-more-people" *ngIf="item.additional_count!=null&&item.additional_count!=0 &&item.additional_visitors.length==0">
                    +{{item.additional_count}} Others
                  </ion-label>
                  <ion-label class="vlist-more-people" *ngIf="item.additional_visitors!=null&&item.additional_visitors.length>0" 
                    (click)="viewMore($event,item.additional_visitors)">
                    +{{item.additional_visitors.length}} Others
                  </ion-label>

                </ion-col>

              </ion-row>

            </ion-col>

            <ion-col size="12" size-sm="12" size-md="2" size-lg="2">

              <ion-label class="vsublist">
                Purpose

                <span *ngIf="item.visitor_type==0">
                  Visitor
                </span>
                <span *ngIf="item.visitor_type==2&&item.purpose!=null">
                  {{item.purpose}}
                </span>

              </ion-label>

            </ion-col>

            <ion-col size="12" size-sm="12" size-md="2" size-lg="2">

              <ion-label class="vsublist">
                Host

                <span *ngIf="item.resident_name!=null && item.whom_to_visit==0">
                  {{item.resident_name}}
                </span>
                <span *ngIf="item.resident_name==null && item.whom_to_visit==0 && item.resident_details!=null">
                  {{item.resident_details.name}}
                </span>
                <span *ngIf="item.whom_to_visit==1">
                 Staff
                </span>

              </ion-label>

            </ion-col>

            <ion-col size="6" size-sm="6" size-md="2" size-lg="2">

              <ion-label class="vsublist margin-bottom-zero">
                Check in

                <span>
                  <ion-icon name="time-outline"></ion-icon>
                  {{getTime(item.checkin_time)}}
                </span>

              </ion-label>

            </ion-col>

            <ion-col size="6" size-sm="6" size-md="2" size-lg="2">

              <ion-label class="vsublist margin-bottom-zero">
                Check out

                <span *ngIf="item.checkout_time!=null">
                  <ion-icon name="time-outline"></ion-icon>
                  {{getTime(item.checkout_time)}}
                </span>

                <span *ngIf="item.checkout_time==null">
                  <ion-icon name="exit-outline" style="color: red;padding-left: 20px;"></ion-icon>
                  
                </span>

              </ion-label>

            </ion-col>

          </ion-row>

        </ion-card>

      </ion-col>

    </ion-row>
  
   
  </ion-grid>



  <div *ngIf="visitor.length==0">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-visitors-list-found.svg">
    </ion-thumbnail>
  
    <ion-item lines="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Visitors Found</ion-label>
    </ion-item>
  </div>

</div>




<!-------------------------------visitor template ends----------------------------------------------->




<!-----------------------------resident template starts-------------------------------------------->


<div *ngIf="!tabStatus">
  <ion-grid >

    <ion-row>

      <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

        <ion-card class="vis-count-card">

          <ion-label class="total-visitors">

            {{onPremise}}

            <span>

              Residents on premise

            </span>

          </ion-label>

        </ion-card>

      </ion-col>


      <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

        <ion-card class="vis-count-card">

          <ion-label class="active-visitors">

            {{resData.checkedout_count}}

            <span>

              Checked out residents

            </span>

          </ion-label>

        </ion-card>

      </ion-col>

      <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

        <ion-card class="vis-count-card">

          <ion-label class="overstayed-visitors">

            {{resCheckinCount}}

            <span>

              Residents checked in

            </span>

          </ion-label>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid >

    <ion-row>

      <!-- <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

        <div class="more-filters mt-20">

          <ion-item color="none" lines="none" class="clife-select mark-selected">
            <ion-select placeholder="Actions" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="1">Checkout All</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item color="none" lines="none">
            <ion-button class="vlist-exp-btn">Export</ion-button>
          </ion-item>

        </div>

      </ion-col> -->



      <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

        <div class="more-filters mt-20">

          <ion-item color="none" lines="none" class="clife-select mark-selected">
            <ion-select interface="action-sheet" placeholder="Checked out" okText="Okay" cancelText="Dismiss" [(ngModel)]="resStatus" (ionChange)="selectResStatus()">
              <ion-select-option value="all">All visitors</ion-select-option>
              <ion-select-option value="0">Checked in</ion-select-option>
              <ion-select-option value="1">Checked out</ion-select-option>
            </ion-select>
          </ion-item>

        </div>

      </ion-col>





      <ion-col size="12" size-sm="12" size-md="4" size-lg="4" class="asc">

        <ion-label class="vlist-date" (click)="datefilter($event)">{{filterText}}</ion-label>
        
     
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

        <ion-searchbar class="clife-search-bar" placeholder="Search Visitors" (ionCancel)="cancel()"  [(ngModel)]="terms1"></ion-searchbar>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="residents.length>0">

    <ion-row *ngFor="let item of residents | visitorsearch : terms1">

      <ion-col size="12">

        <ion-card class="vlist-card">

          <ion-row>

            <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

              <ion-row>

                <ion-col class="col-fit asc">

                  <ion-avatar>

                    <img src="{{item.resident_details.profile_pic}}" *ngIf="item.resident_details.profile_pic!=null">
                    <img src="assets/user_pic.png" *ngIf="item.resident_details.profile_pic==null">

                  </ion-avatar>

                </ion-col>

                <ion-col class="pl-10">

                  <ion-label class="vlist-name" *ngIf="item.resident_details.name!=null">

                    {{item.resident_details.name}}

                  </ion-label>

                  <ion-label class="vlist-phone-no" *ngIf="item.resident_details.resident.room!=null">

                      {{item.resident_details.resident.room}}

                  </ion-label>

                  <ion-label  *ngIf="item.resident_details.resident.wing.name!=null">
                    {{item.resident_details.resident.wing.name}}
                  </ion-label>
                 

                </ion-col>

              </ion-row>

            </ion-col>

            <ion-col size="12" size-sm="12" size-md="2" size-lg="2">

              <ion-label class="vsublist" *ngIf="item.companian!=null">
                Family/Friend

                <span >
                  {{item.companian}}
                </span>
               

              </ion-label>

            </ion-col>

            <ion-col size="12" size-sm="12" size-md="2" size-lg="2">

              <ion-label class="vsublist">
               Purpose

                <span *ngIf="item.purpose!=null">
                  {{item.purpose}}
                </span>

                <span *ngIf="item.purpose==null">
                  Resident
                </span>
               

              </ion-label>

            </ion-col>

            <ion-col size="6" size-sm="6" size-md="2" size-lg="2">

              <ion-label class="vsublist margin-bottom-zero">
                Check out
                <span >
                  <ion-icon name="calendar-outline"></ion-icon>
                  {{getDate(item.checkout_time)}}
                </span>
                <span>
                  <ion-icon name="time-outline"></ion-icon>
                  {{getTime(item.checkout_time)}}
                </span>

              </ion-label>

            </ion-col>

            <ion-col size="6" size-sm="6" size-md="2" size-lg="2">

              <ion-label class="vsublist margin-bottom-zero">
                Check in


                <span *ngIf="item.checkin_time!=null">
                  <ion-icon name="calendar-outline"></ion-icon>
                  {{getDate(item.checkin_time)}}
                </span>
                <span *ngIf="item.checkin_time!=null">
                  <ion-icon name="time-outline"></ion-icon>
                  {{getTime(item.checkin_time)}}
                </span>

                <!-- <span *ngIf="item.checkout_time==null">
                  <ion-icon name="exit-outline" style="color: red;padding-left: 20px;"></ion-icon>
                  
                </span> -->

              </ion-label>

            </ion-col>

          </ion-row>

        </ion-card>

      </ion-col>

    </ion-row>
  
   
  </ion-grid>
  <div *ngIf="residents.length==0">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-visitors-list-found.svg">
    </ion-thumbnail>
  
    <ion-item lines="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Visitors Found</ion-label>
    </ion-item>
  </div>

</div>


</ion-content>