.ion-header-inner {
    ion-label {
        font-size: 20px;
        vertical-align: middle;
    }

    .page-name {
        ion-icon {
            margin-left: -5px;
        }
    }

    .resource_search {
        box-shadow: none;
        border: none;
        background: #fff;
        border-radius: 10px;
        color: #080808 !important;
        width: 100%;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        padding-inline-start: 0 !important;
        padding-inline-end: 0px !important;
    }
}

.ion-col_second {
    margin-left: 5px !important;
}

.text-end {
    text-align: end;
}

.msg-content-sec {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sender_name {
    font-weight: 600 !important;

    span {
        display: block;
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-weight: normal;
        color: #818181;
        word-break: break-word;
        white-space: pre-line;
        margin-top: -4px;
    }
}

.sender_type {
    position: absolute !important;
    top: 30px;
    right: -12px;
    margin-right: 0;
    max-width: initial;
    z-index: 99999;

    img {
        width: 26px;
        height: 26px;
        float: right;
    }
}

.chatlist_content {
    ion-avatar {
        width: 45px;
        height: 45px;
    }
}

.single-chat-item {
    border-radius: 10px;
    // padding: 20px;
    padding: 10px;
    background: #fff;
    border: 1px solid #dfdfdf;
}

.ion-col_second ion-item:first-child {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (min-width: 393px) {
    .chatlist_content {
        --padding-top: 20px !important;
        --padding-bottom: 20px !important;
        --padding-start: 20px !important;
        --padding-end: 20px !important;
    }

    .single-chat-item {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .ion-header-inner {
        .resource_search {
            box-shadow: none;
            border: none;
            background: #fff;
            border-radius: 10px;
            color: #080808 !important;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-inline-start: 0 !important;
            padding-inline-end: 0px !important;
        }
    }
}

ion-fab-button {
    --background: #0077b5;
    margin-bottom: 20px;
}

.chat_message {
    // font-family: "Open Sans", sans-serif !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    color: #606060 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message_count {
    min-width: 22px;
    min-height: 18px;
    background-color: #2ac940 !important;
    border-radius: 50px !important;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "Roboto", sans-serif !important;
    // font-family: "Open Sans", sans-serif;
    font-size: 12px !important;
    color: #fff !important;
    text-align: center;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_image {
    margin-top: 5px;
}

.message_card {
    box-shadow: none !important;
}

.header-ios {
    .msg-search-col {
        ion-button {
            margin: 0 0 0 0 !important;
        }
    }
}
