.ion-header-inner ion-label {
  font-size: 20px;
  vertical-align: middle;
}

.ion-col_second {
  margin-left: 0px !important;
}

.text-end {
  text-align: end;
}

.msg-content-sec {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sender_name span {
  display: block;
  font-size: 12px;
  color: #a9a9a9;
  word-break: break-word;
  white-space: break-spaces;
}

.sender_type {
  position: relative;
  top: -16px;
  left: 17px;
}

.sender_type img {
  width: 26px;
  height: 26px;
}

.chatlist_content ion-avatar {
  width: 45px;
  height: 45px;
}
