<ion-header class="ion-header-inner">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none" class="no-border">
    <ion-row class="display-space-between-1" style="align-items: center;">

      <ion-col class="col-fit page-name">
        <ion-icon name="arrow-back-outline" [routerLink]="['/menu']"></ion-icon>
        <!-- <ion-label>Messages</ion-label> -->
      </ion-col>

      <ion-col size="8">
        <ion-label class="page_title">Messages</ion-label>
      </ion-col>
      <ion-col *ngIf="!hide" class="text-end" class="col-fit msg-search-col ml-auto">
        <ion-button fill="clear" (click)="search()" class="col-fit header-buttons ion-align-self-end">
          <img src="assets/lens_icon.svg">
        </ion-button>
      </ion-col>

    </ion-row>

    <ion-searchbar mode="md" *ngIf="hide" no-padding color="none" placeholder="Search" search-icon="none"
    class="resource_search" [(ngModel)]="terms" (ionCancel)="cancel()"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<!-- <ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" >
          <ion-icon name="arrow-back-outline" [routerLink]="['/menu']"></ion-icon>
          <ion-label>Messages</ion-label>
        </ion-col>
        
        <ion-col class="col-fit header-buttons ion-align-self-end"  >
          <ion-button slot="end" fill="clear" (click)="search()" *ngIf="!hide">
            <img src="assets/lens_icon.svg">
          </ion-button>
          <ion-searchbar *ngIf="hide" no-padding color="none" placeholder="search" search-icon="none" class="resource_search" [(ngModel)]="terms"
          (ionCancel)="cancel()" ></ion-searchbar>
        
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>

</ion-header> -->


<ion-content *ngIf="chat.length==0">

  <ion-card class="message_card">

    <ion-item lines="none">
      <ion-label class="greeting_username">Hi{{" "}}{{name}}
        <span>Start messaging now!!</span>
      </ion-label>
    </ion-item>

    <div class="btn_align_center">
      <ion-button class="create_message_btn" [routerLink]="['/select-contact-type']">Create Message</ion-button>
    </div>

  </ion-card>

</ion-content>



<ion-content class="chatlist_content" *ngIf="chat.length!=0">

  <ion-grid style="padding-inline-start: 0; padding-inline-end: 0; padding-top: 0; padding-bottom: 0;" *ngIf="chat.length>0 && ( chat | messagesearch : terms) as result">

    <ion-row class="mb-10 single-chat-item" *ngFor="let item of chat | messagesearch : terms" (click)="openChat(item)">

      <ion-col class="col_fit">
        <ion-avatar>
          <img [src]="item.pic">
        </ion-avatar>
        <span class="sender_type" *ngIf="item.tag=='Staff'">
          <img src="assets/messaging/staff.svg">

        </span>
      </ion-col>

      <ion-col class="ion-col_second">

        <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding">

          <ion-label class="sender_name">{{item.name}}
            <span *ngIf="item.room!=null">
              {{item.room}}, {{item.wing}}
            </span>

            <span *ngIf="item.fam!=null">
              {{item.rel}} - {{item.fam}}
            </span>

          </ion-label>


          <span class="chat_time" *ngIf="item.message!=null">
            {{item.message.time }}
          </span>

        </ion-item>

        <ion-item lines="none" color="none" class="no_padding_inline no_inner_padding">
          <div class="msg-content-sec" *ngIf="item.message!=null">
            <ion-label class="chat_message" *ngIf="!item.message.attachment||item.message.attachment==''"
              style="white-space: nowrap !important;;">
              {{item.message.msg}}
            </ion-label>
            <ion-label class="chat_message" *ngIf="item.message.attachment&&item.message.attachment!=''">
              <ion-icon class="message_image" *ngIf="item.message.ext=='Photo'"></ion-icon> {{item.message.ext}}
            </ion-label>

            <span class="message_count" *ngIf="item.count!=0">
              {{item.count}}
            </span>
          </div>
        </ion-item>

      </ion-col>

    </ion-row>

    <div *ngIf="result.length==0">
      <ion-thumbnail 
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-data-icon.svg">
      </ion-thumbnail>
    
      <ion-item lines="none" style="margin-top: 5px;" color="none">
        <ion-label
          style="font-weight: 400; font-size:18px;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No data found.</ion-label>
      </ion-item>
    </div>

  </ion-grid>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="bottom:20px;">
    <ion-fab-button [routerLink]="['/select-contact-type']">
      <ion-icon name="add-outline" style="color: #fff;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>