ion-content {
    --padding-start: 25px;
    --padding-end: 25px;
    --padding-top: 25px;
    --padding-bottom: 25px;
}

.email-warning-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .email-warning-icon {
        max-width: 80px;
    }

    .ew-p {
        font-family: "Roboto", sans-serif;
        color: #000;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }
}

.footer-ios {
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-bottom: 0;

    .cancel-btn-1 {
        --background: #acacac !important;

        ion-label {
            color: #fff;
        }
    }
}

