<ion-content>

  <div class="email-warning-sec">

    <img class="email-warning-icon" src="/assets/warning-sign.svg">

    <p class="ew-p">Would you like to send an email notification as well to the selected recipients.</p>

  </div>

</ion-content>

<ion-footer>

  <ion-toolbar>

    <div class="cb-footer-btns">

      <ion-button class="cb-continue-btn" (click)="confirm()">Yes</ion-button>

      <ion-button class="cb-cancel-btn cancel-btn-1" (click)="cancel()">
        <ion-label>Cancel</ion-label>
      </ion-button>

    </div>

  </ion-toolbar>

</ion-footer>
