<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Add Activity for {{name}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="story-creation-form">

    <ion-row>

      <ion-col class="opt-label" size="12">

        <ion-label>Activity name <span class="asterisk">*</span></ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input [(ngModel)]="title"></ion-input>

      </ion-col>

      <ion-col size="12" class="opt-label">
        <ion-item lines="none" color="none">
          <ion-checkbox mode="ios" [(ngModel)]="one_to_one"></ion-checkbox>
          <ion-label class="cblack">This is 1:1 session</ion-label>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12">

        <span color="none" lines="none">

          <ion-label class="cblack">
            Is this a future activity?
          </ion-label>

          <span>
            <ion-radio-group (ionChange)="futureActivity($event)" [(ngModel)]="futureOrNot">
              <ion-row>
                <ion-col size="4">
                  <ion-item lines="none" color="none">
                    <ion-radio mode="md" [value]="1"></ion-radio>
                    <ion-label class="ml-10">Yes</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item lines="none" color="none">
                    <ion-radio mode="md" [value]="0"></ion-radio>
                    <ion-label class="ml-10">No</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </span>
        </span>
      </ion-col>
    </ion-row>

    <div class="ca-box">

      <ion-row class="activity-date-picker mb-20">

        <ion-col>

          <ion-label>Activity Date <span class="asterisk">*</span></ion-label>
          <ion-datetime mode="md" value="2020-10-31T15:43:40.394Z" [max]="minDate" displayFormat=" DD MMM YYYY"
            display-timezone="utc" [(ngModel)]="date">
          </ion-datetime>

          <i class="las la-calendar mr-cal"></i>

        </ion-col>

      </ion-row>

      <ion-row class="activity-time-picker-1 mb-zero">

        <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

          <ion-label>Start Time <span class="asterisk">*</span></ion-label>
          <ion-datetime mode="md" displayFormat="hh:mm a" [(ngModel)]="start"></ion-datetime>
          <i class="las la-clock mr-time"></i>

        </ion-col>

        <ion-col size="12" size-sm="12" size-md="6" size-lg="6">

          <ion-label>End Time <span class="asterisk">*</span></ion-label>
          <ion-datetime mode="md" displayFormat="hh:mm a" [(ngModel)]="end"></ion-datetime>
          <i class="las la-clock mr-time"></i>

        </ion-col>


      </ion-row>


      <ion-row *ngIf="futureOrNot==1&&rec_details">

        <ion-col size="12">

          <ion-label class="rec-details">{{rec_details}}</ion-label>


        </ion-col>

      </ion-row>
      <ion-row *ngIf="futureOrNot==1">

        <ion-col size="12">

          <ion-button class="make-recurring-btn" (click)="makeRecurring()" [disabled]="date==undefined">
            <ion-icon name="repeat-outline"></ion-icon> &nbsp; Make Recurring
          </ion-button>

        </ion-col>

      </ion-row>

    </div>

  </ion-grid>

  <!-- <ion-item color="none" lines="none" class="opt-label">

    <ion-label class="pl-10">Select wellness dimension<span class="asterisk">*</span></ion-label>

  </ion-item>

  <div class="activity-category-sec">

    <ion-chip class="chip-announcement"  *ngFor="let item of types" [class.social-selected]="typeId==item.id&&typeId==1"
    [class.physical-selected]="typeId==item.id&&typeId==2"
    [class.spiritual-selected]="typeId==item.id&&typeId==3"
    [class.emotional-selected]="typeId==item.id&&typeId==4"
    [class.cognitive-selected]="typeId==item.id&&typeId==5"
    [class.entertainment-selected]="typeId==item.id&&typeId==6"
    [class.trip-selected]="typeId==item.id&&typeId==7"
    [class.event-selected]="typeId==item.id&&typeId==8"
    [class.meeting-selected]="typeId==item.id&&typeId==9"
    [class.other-selected]="typeId==item.id&&typeId==10"  (click)="typeChange(item.id)">
      <i class="{{item.icon}}" ></i>
      <ion-label >{{item.type_name}}</ion-label>
      </ion-chip>

  </div> -->

  <!-- <ion-grid class="mb-15">

    <ion-row class="actvity-type-container">


      <ion-col class="activity-type-button" *ngFor="let item of types" [class.social]="item.id==1"
        [class.physical]="item.id==2" [class.spiritual]="item.id==3" [class.emotional]="item.id==4"
        [class.cognitive]="item.id==5" [class.entertainment]="item.id==6" [class.trip]="item.id==7"
        [class.event]="item.id==8" [class.meeting]="item.id==9" [class.other]="item.id==10">
        <ion-radio-group>
          <input type="radio" name="" value="{{item.id}}" [(ngModel)]="typeId" (click)="typeChange(item.id)">
          <i class="{{item.icon}}"></i>
          <ion-label>{{item.type_name}}</ion-label>
        </ion-radio-group>
      </ion-col> -->

  <!-- <ion-col class="activity-type-button emotional">
        <input type="radio" id="" name="" value="emotional">
        <i class="la la-grin-hearts"></i>
        <ion-label>Emotional</ion-label>
      </ion-col>

      <ion-col class="activity-type-button entertainment">
        <input type="radio" id="" name="" value="entertainment">
        <i class="la la-video"></i>
        <ion-label>Entertainment</ion-label>
      </ion-col>

      <ion-col class="activity-type-button event">
        <input type="radio" id="" name="" value="event">
        <i class="la la-calendar"></i>
        <ion-label>Event</ion-label>
      </ion-col>

      <ion-col class="activity-type-button meeting">
        <input type="radio" id="" name="" value="meeting">
        <i class="la la-users"></i>
        <ion-label>Meeting</ion-label>
      </ion-col>

      <ion-col class="activity-type-button other">
        <input type="radio" id="" name="" value="other">
        <i class="la la-sun"></i>
        <ion-label>Other</ion-label>
      </ion-col>

      <ion-col class="activity-type-button physical">
        <input type="radio" id="" name="" value="physical">
        <i class="la la-running"></i>
        <ion-label>Physical</ion-label>
      </ion-col>

      <ion-col class="activity-type-button social">
        <input type="radio" id="" name="" value="social">
        <i class="las la-glass-martini"></i>
        <ion-label>Social</ion-label>
      </ion-col>

      <ion-col class="activity-type-button spiritual">
        <input type="radio" id="" name="" value="spiritual">
        <i class="la la-praying-hands"></i>
        <ion-label>Spiritual</ion-label>
      </ion-col>

      <ion-col class="activity-type-button trip">
        <input type="radio" id="" name="" value="trip">
        <i class="la la-car-side"></i>
        <ion-label>Trip</ion-label>
      </ion-col> -->

  <!-- </ion-row>

  </ion-grid> -->


  <ion-grid class="story-creation-form">
    <ion-row>

      <ion-col class="opt-label" size="12">

        <ion-label>Select Wellness dimension <span class="asterisk">*</span></ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-select class="select-wellness-dimension" placeholder="Select " [(ngModel)]="typeId"
          interface="action-sheet" (ionChange)="typeChange(typeId)">
          <ion-select-option value="{{item.id}}" *ngFor="let item of types">{{item.type_name}}
          </ion-select-option>
        </ion-select>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col class="opt-label" size="12">

        <ion-label>Description</ion-label>

      </ion-col>

      <ion-col size="12">
        <!-- <rich-text [formControlItem]="description"></rich-text> -->
        <ion-textarea rows="6" [(ngModel)]="description"></ion-textarea>
        <!-- <div id="summernote4"></div> -->

      </ion-col>
      <!-- <ion-col size="12" *ngIf="callLink">
        <ion-button (click)="generate()">Generate video call link</ion-button>
      </ion-col> -->
    </ion-row>


    <ion-row class="mb-15" *ngIf="futureOrNot==0">

      <ion-col size="12">

        <ion-label class="fdbk-title">Feedback<span class="asterisk">*</span></ion-label>

        <ion-select mode="md" class="fdbk-ion-select" okText="Okay" cancelText="Dismiss" placeholder="Select feedback"
          [(ngModel)]="reason" interface="action-sheet">

          <ion-select-option value="Enjoyed activity">Enjoyed activity</ion-select-option>
          <ion-select-option value="Participated actively">Participated actively</ion-select-option>
          <ion-select-option value="Participated with prompting and encouragement">Participated with prompting and
            encouragement</ion-select-option>
          <ion-select-option value="Happy to observe">Happy to observe</ion-select-option>
          <ion-select-option value="Verbally disruptive">Verbally disruptive</ion-select-option>
          <ion-select-option value="Minimal or no response">Minimal or no response</ion-select-option>
          <ion-select-option value="Distracted/unsettled">Distracted/unsettled </ion-select-option>
          <ion-select-option value="No interest">No interest</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>

        </ion-select>

      </ion-col>
      <ion-col size="12" *ngIf="reason=='other'">
        <ion-input placeholder='Enter reason' [(ngModel)]="other"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" (click)="selectImage()">

        <ion-icon name="attach-outline" class="add-img-icon"></ion-icon>

        <ion-label class="add-img-label">Add images</ion-label>

      </ion-col>

    </ion-row>

    <ion-row class="uploaded-images-container" *ngIf="imageResponse.length>0">

      <ion-col size="3" class="col_fit uploaded-data" *ngFor="let item of imageResponse;let i=index">

        <ion-thumbnail class="uploaded-image">
          <img src="{{item}}" (click)="viewImage()">
          <ion-icon name="close-circle" class="remove-img" (click)="removeImg(i)"></ion-icon>
        </ion-thumbnail>
      </ion-col>
    </ion-row>

    <ion-row class="act-conducted-by">

      <ion-col class="opt-label" size="12">

        <ion-label style="color:#1c1c1c">Conducted by</ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-item lines="none" color="none">

          <ion-select placeholder="Select staff" [(ngModel)]="staff" multiple="true"
            (ionChange)="selectStaff($event,staff)" interface="action-sheet">
            <ion-select-option value="{{item.user_id}}" *ngFor="let item of staffArray">{{item.name}}
            </ion-select-option>
          </ion-select>

        </ion-item>

      </ion-col>

    </ion-row>

    <ion-row class="ca-add-to-additional-cal">


      <ion-col size="12" class="opt-label">
        <ion-item lines="none" color="none">
          <ion-checkbox mode="ios" (ionChange)="addCalendar($event)" [(ngModel)]="cal"
            [checked]="cal!=0"></ion-checkbox>
          <ion-label>Add to additional calendar?</ion-label>
        </ion-item>
      </ion-col>


      <ion-col size="12" *ngIf="!hide">

        <ion-item lines="none" color="none" style="--padding-start: 0; --inner-padding-end: 0;"
          (click)="openSelector(selectorCal)">
          <ion-select class="additional-cal-select" #selectorCal style="pointer-events: none"
            [interfaceOptions]="customAlertOptions" class="additional-calendar" placeholder="Select calendar type"
            [(ngModel)]="calendar_type" multiple="true">
            <ion-select-option value="{{item.id}}" *ngFor="let item of calendar">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

    </ion-row>


  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" (click)="publish()" [disabled]="disable">
       Create
    </ion-button>
  </ion-toolbar>
</ion-footer>


<!-- <script>
  $('#summernote').summernote({
    placeholder: 'Hello stand alone ui',
    tabsize: 2,
    height: 120,
    toolbar: [
      ['style', ['style']],
      ['font', ['bold', 'underline', 'clear']],
      ['color', ['color']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['table', ['table']],
      ['insert', ['link', 'picture', 'video']],
      ['view', ['fullscreen', 'codeview', 'help']]
    ]
  });
</script> -->