ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.uploaded-images-container {
  margin-top: 20px;
}

.uploaded-images-container ion-col {
  margin-right: 15px;
  margin-bottom: 20px;
}

.uploaded-image {
  width: 80px;
  height: 80px;
}

.uploaded-image img {
  border-radius: 4px;
}

.uploaded-data {
  margin: 10px;
}

.uploaded-data .uploaded-image {
  width: 50px;
  height: 50px;
}

.uploaded-data .uploaded-image ion-icon {
  font-size: 25px;
  color: #9a9a9a;
}

.remove-img {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0px;
  left: 48px;
  z-index: 999;
}

.remove-file {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0px;
  z-index: 999;
}

.uploaded-data {
  margin: 10px;
}

.uploaded-data .uploaded-image {
  width: 50px;
  height: 50px;
}

.uploaded-data .uploaded-image ion-icon {
  font-size: 25px;
  color: #9a9a9a;
}

.fdbk-title {
  display: block;
}

.fdbk-ion-select {
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  --padding-start: 15px;
  --padding-end: 15px;
  margin-top: 15px;
}

.add-img-icon {
  float: left;
  font-size: 28px;
  color: #006dea;
  vertical-align: middle;
  transform: rotate(45deg);
}

.add-img-label {
  float: left;
  margin-left: 10px;
  font-size: 18px;
  color: #707070;
}
