ion-content {
    --padding-start: 12px;
    --padding-end: 12px;
    --padding-top: 12px;
    --padding-bottom: 12px;
}

.activity-category-sec {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    display: flex;
    flex-wrap: wrap;

    ion-chip {
        padding: 10px 18px;
        height: 40px;
        background: #F3F3F3;
        border-radius: 50px;
        margin-left: 12px;
        margin-bottom: 12px;

        ion-icon {
            font-size: 25px;
            color: #707070;
        }

        i {
            font-size: 25px;
            color: #707070;
        }

        ion-label {
            font-size: 16px;
            color: #707070;
            white-space: pre-line;
            word-break: break-word;
            margin-left: 10px;
        }
    }

    .social-selected {
        background: #fbddf9;

        i {
            color: #A20082 !important;
        }

        ion-label {
            color: #A20082 !important;
        }
    }

    .physical-selected {
        background: #ffd6db !important;

        i {
            color: #e2001e !important;
        }

        ion-label {
            color: #e2001e !important;
        }

    }

    .spiritual-selected {
        background: #aeffd5 !important;

        i {
            color: #187a57 !important;
        }

        ion-label {
            color: #187a57 !important;
        }

    }

    .emotional-selected {
        background: #ffe5d8 !important;

        i {
            color: #e25900 !important;
        }

        ion-label {
            color: #e25900 !important;
        }
    }



    .cognitive-selected {
        background: #dfecff !important;
        color: #0965a1 !important;

        i {
            color: #0965a1 !important;
        }

        ion-label {
            color: #0965a1 !important;
        }
    }

    .entertainment-selected {
        background: #b1ffff !important;
        color: #006064 !important;

        i {
            color: #006064 !important;
        }

        ion-label {
            color: #006064 !important;
        }
    }

    .trip-selected {
        background: #fff1bc !important;
        color: #725a00 !important;

        i {
            color: #725a00 !important;
        }

        ion-label {
            color: #725a00 !important;
        }
    }

    .event-selected {
        background: #ffd1d1 !important;
        color: #610000 !important;

        i {
            color: #610000 !important;
        }

        ion-label {
            color: #610000 !important;
        }
    }

    .meeting-selected {
        background: #e7e4fd !important;
        color: #0f00a2 !important;

        i {
            color: #0f00a2 !important;
        }

        ion-label {
            color: #0f00a2 !important;
        }
    }

    .other-selected {
        background: #ffd8f6 !important;
        color: #f300d3 !important;

        i {
            color: #f300d3 !important;
        }

        ion-label {
            color: #f300d3 !important;
        }
    }
}

.uploaded-images-container {
    margin-top: 20px;

    ion-col {
        margin-right: 15px;
        margin-bottom: 20px;
    }
}

.uploaded-image {
    width: 80px;
    height: 80px;

    img {
        border-radius: 4px;
    }
}

.uploaded-data {
    margin: 10px;

    .uploaded-image {
        width: 50px;
        height: 50px;
        position: relative;

        ion-icon {
            font-size: 25px;
            color: #ff0000;
        }
    }
}

.remove-img {
    font-size: 25px;
    color: #ff0000;
    background: #fff;
    border-radius: 50px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 999;
}

.remove-file {
    font-size: 25px;
    color: #ff0000;
    background: #fff;
    border-radius: 50px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 999;
}

.uploaded-data {
    margin: 10px;

    .uploaded-image {
        width: 50px;
        height: 50px;

        ion-icon {
            font-size: 25px;
            color: #ff0000;
        }
    }
}

.fdbk-title {
    display: block;
    color: #222;
}

.fdbk-ion-select {
    // display: block;
    color: #222;
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    --padding-start: 15px;
    --padding-end: 15px;
    margin-top: 15px;
}

.add-img-icon {
    float: left;
    font-size: 28px;
    color: #0077b5;
    vertical-align: middle;
    transform: rotate(45deg);
}

.add-img-label {
    float: left;
    margin-left: 10px;
    font-size: 18px;
    color: #707070;
}

.additional-calendar {
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    padding: 10px 15px;
    width: 100%;
}

ion-textarea {
    color: #222;
    background: #f3f3f3;
    border-radius: 10px !important;
    border: none !important;
    min-height: 150px;
    --padding-start: 15px;
    --padding-end: 15px;
}

ion-datetime {
    color: #222;
    border: none !important;
    background: #f3f3f3 !important;
    border-radius: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    height: 50px;
}

ion-select {
    background: #f3f3f3;
    border-radius: 10px;
    border: none !important;
    color: #222;
    height: 50px;
    --placeholder-opacity: 0.6;
    --padding-start: 15px;
    --padding-end: 15px;
    width: 100%;
}


.ca-box {
    padding: 15px;
    background-color: #F3F3F3;
    margin-top: 10px;
    margin-bottom: 10px !important;

    .activity-date-picker {

        ion-label {
            color: #222;
        }

        ion-datetime {
            background: #E6E6E6 !important;
            border: none;
            border-radius: 10px;
            height: 50px;
            display: flex;
            align-items: center;
            --padding-start: 15px;
            --padding-end: 15px;
            margin-top: 15px;
        }

        .mr-cal {
            font-size: 25px;
            color: #707070;
            position: absolute;
            right: 15px;
            top: 58px;
            z-index: 9999;
        }

    }

    .activity-time-picker-1 {
        ion-label {
            color: #222;
        }

        ion-datetime {
            border: none !important;
            background: #e6e6e6 !important;
            border-radius: 6px;
            --padding-start: 10px;
            --padding-end: 10px;
            margin-top: 15px;
        }

        .mr-time {
            font-size: 25px;
            color: #707070;
            position: absolute;
            right: 15px;
            top: 58px;
            z-index: 9999;
        }
    }

    .make-recurring-btn {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        font-size: 16px;
        font-weight: normal;
        height: 45px;
        margin: 0 auto;
        display: block;
        max-width: fit-content;
        margin-top: 10px;
    }
}



ion-footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;

    .publish-btn {
        text-transform: capitalize;
        height: 50px;
        --border-radius: 50px;
        --background: #0077B5;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 300;
        --box-shadow: none;
        width: auto;
        max-width: fit-content;
    }
}

ion-toggle {
    --background: #c3d1d9;
    --background-checked: #C9EDFF;
    --handle-background-checked: #0077b5;
    --handle-width: 30px;
    --handle-height: 30px;
    --handle-background: #0077b5;
    --ion-color-base: #0077b5 !important;
    padding: 0;
}



.ca-toggle-switch {
    float: right;
    width: 65px;
    height: 30px;
    padding-inline: 0;
}

.ca-add-to-additional-cal {
    ion-checkbox {
        vertical-align: middle;
        --border-radius: 50px;
        --border-color: #fff;
        --background: #E6E6E6;
        --background-checked: #0077b5;
        --border-color-checked: #0077b5;
        width: 32px;
        height: 32px;
    }
}

ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

.pl-10 {
    padding-left: 10px;
}

.opt-label {
    ion-item {
        --min-height: auto;
        margin-top: 2px;
        margin-bottom: -10px;

        ion-checkbox {
            vertical-align: middle;
            --border-radius: 50px;
            --border-color: #fff;
            --background: #E6E6E6;
            --background-checked: #0077b5;
            --border-color-checked: #0077b5;
            width: 28px;
            height: 28px;
            margin-right: 15px;
        }
    }
}

.ca-add-to-additional-cal {
    ion-label {
        margin-left: 0px;
    }
}