<div class="option-item-block">
  <ion-label (click)="edit()">Edit</ion-label>
</div>

<!-- <div class="option-item-block">
  <ion-label (click)="remove()">Remove</ion-label>
</div> -->



<div class="option-item-block" *ngIf="contact.user_details.status==1">
  <ion-label (click)="inactivateAlert()">Remove</ion-label>
</div>

<div class="option-item-block"*ngIf="contact.user_details.portal_access==1">
  <ion-label (click)="reset()">Reset password</ion-label>
</div>

<div class="option-item-block" *ngIf="contact.user_details.status==0">
  <ion-label (click)="activate()">Activate</ion-label>
</div>



