<ion-header mode="md" class="ion-header-inner">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <ion-text>Approve Invitation</ion-text>

      </ion-col>

      <ion-icon class="page-close-btn" name="close-circle-sharp" (click)="cancel()"></ion-icon>

    </ion-row>

  </ion-grid>

</ion-header>

<div class="inner-content">

  <ion-row class="content mb-30">

    <ion-col class="opt-label" size="12">

      <ion-label>Email address</ion-label>

    </ion-col>

    <ion-col size="12">

      <ion-input [(ngModel)]="email" readonly></ion-input>

    </ion-col>

  </ion-row>


  <ion-row class="mb-30">

    <ion-col class="opt-label" size="12">

      <ion-label>Password <span class="asterisk">*</span></ion-label>

    </ion-col>

    <ion-col size="12">

      <ion-input [(ngModel)]="password"></ion-input>

    </ion-col>

  </ion-row>

</div>

<ion-footer>

  <div class="cb-footer-btns">

    <ion-button class="cb-continue-btn" (click)="confirm()">Approve</ion-button>

    <ion-button class="cb-cancel-btn" (click)="cancel()">Cancel</ion-button>

  </div>

</ion-footer>