
<ion-content>

<ion-row class="content">

  <ion-col class="opt-label" size="12">

    <ion-label>Email address</ion-label>

  </ion-col>

  <ion-col size="12">

    <ion-input [(ngModel)]="email" readonly></ion-input>

  </ion-col>

</ion-row>


<ion-row>

  <ion-col class="opt-label" size="12">

    <ion-label>Password <span class="asterisk">*</span></ion-label>

  </ion-col>

  <ion-col size="12">

    <ion-input [(ngModel)]="password"></ion-input>

  </ion-col>

</ion-row>


<div class="cb-footer-btns">

  <ion-button class="cb-continue-btn" (click)="confirm()" >Approve</ion-button>

<ion-button class="cb-cancel-btn" (click)="cancel()">Cancel</ion-button>

</div>
</ion-content>