ion-header {
   min-height: 65px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Roboto", sans-serif !important;
   position: relative;
   padding: 10px 10px 10px;

   ion-grid {
      ion-row {
         position: relative;

         .page_title {
            font-family: "Roboto", sans-serif !important;
            font-size: 18px !important;
            // font-weight: 500 !important;

            ion-icon {
               vertical-align: middle;
               font-size: 25px;
            }

            ion-text {
               vertical-align: middle;
               margin-left: 10px;
            }
         }

         .page-close-btn {
            font-size: 32px;
            color: #fff;
            vertical-align: middle;
            position: absolute;
            right: 5px;
            top: -4px;
         }
      }
   }
}

ion-input {
   --padding-start: 15px;
   --padding-end: 15px;
   border: 1px solid #e6e6e6;
   border-radius: 6px;
   margin-top: 10px;
   color: #1c1c1c !important;
}

.opt-label {
   ion-label {
      margin-top: 10px;
      display: block;
   }
}

ion-col {
   // margin-bottom: 5px;
   margin-bottom: -10px;
}

// @media only screen and (min-width: 768px) {
//    .content {
//       margin-top: 10%;
//    }
// }

ion-footer {
   background: #fff;
   padding: 5px;

   .cb-footer-btns {
      ion-button {
         text-transform: capitalize !important;
         font-weight: normal !important;
      }
   }
}
