.ion-header-inner-2 {
  min-height: 80px;
  // padding: 50px 15px 10px;
  // font-family: "Poppins", sans-serif !important;
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --background: #efefef;
}

.uploaded-images-container {
  // margin-top: 20px;
  justify-content: unset;

  ion-col {
    margin-right: 15px;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0px !important;
    }
  }
}

.uploaded-image {
  width: 72px;
  height: 72px;
  position: relative;

  img {
    border-radius: 6px;
    border: 1px solid #e6e6e6;
  }
}

.uploaded-image-name {
  margin-top: 10px;
  display: flex;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 80px;
}

.remove-img {
  font-size: 25px;
  background: #fff;
  color: #ff0000;
  border-radius: 50px;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 9999999;
}

.act-photo-card {
  padding: 10px;
  margin: 0;
  box-shadow: none !important;
  border: 1px solid #e3e3e3;

  .add-photo-label {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #707070;

    ion-icon {
      font-size: 25px;
      margin-right: 10px;
      transform: rotate(40deg);
      vertical-align: middle;
    }
  }
}
