<ion-header class="ion-header-inner-2">

  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">
  
        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
          <ion-label>Add photos</ion-label>
        </ion-col>
  
      </ion-row>
  
    </ion-grid>

  </ion-toolbar>

</ion-header>


<ion-content>


  <ion-card class="act-photo-card">

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="imageResponse.length<5">


        <ion-label (click)="add()" class="add-photo-label">
          <ion-icon name="attach-outline"></ion-icon>Add photos
        </ion-label>


      </ion-col>



      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mt-10" *ngIf="imageResponse&&imageResponse.length">

        <ion-row class="uploaded-images-container">

          <ion-col size="3" class="col_fit" *ngFor="let item of imageResponse;let i=index">

            <ion-thumbnail class="uploaded-image">
              <img src="{{item}}">
              <ion-icon name="close-circle" class="remove-img" (click)="removeImg(i)"></ion-icon>
            </ion-thumbnail>

          </ion-col>

        </ion-row>



      </ion-col>

    </ion-row>

  </ion-card>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" [disabled]="disable" (click)="submit()">
      Submit
    </ion-button>

  </ion-toolbar>
</ion-footer>