<ion-header class="ion-header-inner-2">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="7">
          <ion-icon name="arrow-back-outline" [routerLink]="['/activity-details',{act_id:act_id}]"></ion-icon>
          <ion-label>Add Attendees</ion-label>
        </ion-col>

        <ion-col class="col-fit header-buttons ion-align-self-end" size="5">

          <ion-icon src="assets/select-all-icon.svg" (click)="selectAll($event)"></ion-icon>

          <ion-icon src="assets/consumers-icon.svg" (click)="byGroup($event)"></ion-icon>

          <ion-icon src="assets/hdr-filter-icon.svg" (click)="assignedStatusFilter($event)"></ion-icon>

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>

          <ion-searchbar class="clife-search-bar" placeholder="Search residents" (ionCancel)="cancel()"
            [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [style.--padding-top]="(rv==1&&limit_required==1)?'58px':'10px'">

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top" >

    <ng-container *ngIf="rv==1&&limit_required==1">
      <ion-label class="act-slots-available-infobox" *ngIf="count">{{count}} slots available</ion-label>
      <ion-label class="act-slots-not-available-infobox" *ngIf="count==0">No more slots available</ion-label>
    </ng-container>

    <ion-segment mode="md" class="category-selector" [(ngModel)]="selected">
      <ion-segment-button value="1" (click)="segmentChange(1)">
        <ion-label>Residents</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" (click)="segmentChange(2)">
        <ion-label>Other Attendees</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-fab>


  <!-- <ion-grid class="no-padding-inline-start-end" *ngIf="selected">



    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngFor="let item of consumers | consumersearch2 : terms" (click)="selectConsumer($event,item)">

        <ion-row class="consumer-info-container other-attendees-sec" [class.selected]="sel_id.indexOf(item.con.user.user_id)>=0">
          
          <ion-col class="col-fit">

            <ion-avatar class="consumer-pic">
              <img [src]="item.con.user.profile_pic">
            </ion-avatar>

          </ion-col>

          <ion-col>
            <div >
            <ion-label class="mark-attendance-consumer-info">

              {{item.con.user.name}}

              <span>
                Room No : {{item.con.room}}
              </span>

            </ion-label>
          
            </div>
            <div>
            
          </div>
          </ion-col>

        </ion-row>

      </ion-col>



    </ion-row>

  </ion-grid> -->


  

  <ion-grid class="no-padding-inline-start-end mt-60" *ngIf="selected=='1'">

    <!-- <ng-container>
      <ion-label class="act-slots-available-infobox" *ngIf="count">{{count}} slots available</ion-label>
      <ion-label class="act-slots-not-available-infobox" *ngIf="count==0">No more slots available</ion-label>
    </ng-container> -->

    <!----------------------------------------- Consumers section starts here --------------------------------------------->

    <ion-row *ngIf="consumers.length>0 ">

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="mb-5" *ngFor="let item of consumers "
        (click)="selectConsumer($event,item)">

        <ion-row class="consumer-info-container" [class.selected]="sel_id.indexOf(item.con.user_id)>=0">

          <div style="display: contents;">

            <ion-col class="col-fit">

              <!-- <ion-icon class="assigned-icon" name="checkmark-outline" *ngIf="item.attendee"></ion-icon> -->

              <ion-avatar class="consumer-pic">
                <img [src]="item.con.photo">
              </ion-avatar>

            </ion-col>

            <ion-col>

              <ion-label>

                {{item.con.name}}

                <span *ngIf="item.con.room">
                  {{item.con.room}}
                  <span *ngIf="item.con.wing_name&&rv!==1" >
                    {{item.con.wing_name}}
                  </span>
                  <span *ngIf="item.con.property_name&&rv==1">
                    {{item.con.property_name}}
                  </span>
                </span>

              </ion-label>

            </ion-col>

          </div>



        </ion-row>

      </ion-col>

      <!-- <div *ngIf="result.length==0" style="width: -webkit-fill-available;">
        <ion-thumbnail 
          style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
          <img src="assets/no-consumers-found.svg">
        </ion-thumbnail>
    
        <ion-item lines="none" color="none" style="margin-top: 25px;" >
          <ion-label
            style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
            No Resident Found</ion-label>
        </ion-item>
      </div> -->




    </ion-row>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <div *ngIf="consumers.length==0">
      <ion-thumbnail 
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-consumers-found.svg">
      </ion-thumbnail>
  
      <ion-item lines="none" color="none" style="margin-top: 25px;" >
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No Resident Found</ion-label>
      </ion-item>
    </div>
  </ion-grid>




  <!-- <ion-grid class="no-padding-inline-start-end" *ngIf="!selected">



    <ion-row >

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngFor="let item of other | consumersearch : terms">

        <ion-row class="consumer-info-container other-attendees-sec" *ngIf="item.contacts.length>0">

          <ion-col class="col-fit">

            <ion-avatar class="consumer-pic">
              <img [src]="item.user.profile_pic">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label class="mark-attendance-consumer-info">

              {{item.user.name}}

              <span>
                Room No : {{item.room}}
              </span>

            </ion-label>


            <ion-row class="consumer-relatives">

              <ion-col class="consumer-rel" size="12" *ngFor="let fam of item.contacts">
                <ion-checkbox   (ionChange)=selectFam($event,fam)></ion-checkbox>
                <ion-label>{{fam.user.name}}</ion-label>
              </ion-col>

             

            </ion-row>


          </ion-col>

        </ion-row>

      </ion-col>



    </ion-row>

  </ion-grid> -->

  <ion-grid class="no-padding-inline-start-end mt-60" *ngIf="selected=='2'">
    <ion-row *ngIf="other.length>0 && ( other | consumersearch : terms) as result">

      <ion-col *ngFor="let item of other | consumersearch : terms" size-sm="12" size-md="6" size-lg="6" size="12" class="mb-5">

        <ion-row class="consumer-info-container1 other-attendees-sec" *ngIf="item.contacts.length>0">

          <ion-col class="col-fit">

            <ion-avatar class="consumer-pic">
              <img [src]="item.user.profile_pic">
            </ion-avatar>

          </ion-col>

          <ion-col class="d-block">

            <ion-label class="mark-attendance-consumer-info">

              {{item.user.name}}

              <span>
               {{item.room}}
               
              </span>

            </ion-label>

            <!-- <span class="mark-attendance-options">

              <ion-icon name="checkmark-outline" class="attended" (click)="attendedfam($event,item)"></ion-icon>

              <ion-icon name="close-outline" class="declined" (click)="declinedfam(item)"></ion-icon>

            </span> -->

            <ion-row class="consumer-relatives">

              <ion-col class="consumer-rel" size="12" *ngFor="let fam of item.contacts" [class.doNotShow]="fam.user.status==0">
                <ion-item lines="none" color="none">
                  <ion-checkbox mode="ios" (ionChange)="selectFam($event,fam.user.user_id)"   [checked]="sel_id.indexOf(fam.user.user_id)>=0||sel_fam.indexOf(fam.user.user_id)>=0"
                    [disabled]="rv==1&&limit_required==1&&rv_details.waiting_list==0&&rv_details.slot_limit<=sel_id.length">
                  </ion-checkbox>
                  <ion-label>{{fam.user.name}}
                    <span class="primary-rep" *ngIf="fam.is_primary==1">Primary</span>
                  </ion-label>
                </ion-item>


                <!-- </ion-label> -->


              </ion-col>

              <!-- <ion-col class="consumer-rel" size="12">
                <ion-checkbox></ion-checkbox>
                <ion-label>Martin Guptil</ion-label>
              </ion-col> -->

            </ion-row>

          </ion-col>

        </ion-row>

      </ion-col>


      <div *ngIf="other.length==0" style="width: -webkit-fill-available;">
        <ion-thumbnail 
          style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
          <img src="assets/no-consumers-found.svg">
        </ion-thumbnail>
    
        <ion-item lines="none" color="none" style="margin-top: 25px;" >
          <ion-label
            style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
            No Data Found</ion-label>
        </ion-item>
      </div>

    </ion-row>

    <!----------------------------------------- Other Attendees section starts here ------------------------------------->

    <div *ngIf="other.length==0">
      <ion-thumbnail 
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-consumers-found.svg">
      </ion-thumbnail>
  
      <ion-item lines="none" color="none" style="margin-top: 25px;" >
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No Data Found</ion-label>
      </ion-item>
    </div>


  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" (click)="add()">Add attendees
    </ion-button>
  </ion-toolbar>
</ion-footer>