// ion-content {
//     --padding-start: 20px;
//     --padding-end: 20px;
//     --padding-top: 20px;
//     --padding-bottom: 20px;
// }

// @media only screen and (max-width: 768px) and (min-width: 768px) {

//     .consumer-info-container ion-col {
//         display: block;
//     }

//     .consumer-info-container ion-col {
//         padding: 0px !important;
//         align-self: inherit;
//     }

//     .consumer-info-container {
//         min-height: 148px;
//     }
// }

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --background: #f1f1f1;
}

.selected {
    border: 1px solid #0077b5 !important;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .ion-header-inner-2 {
        ion-label {
            font-size: 18px !important;
        }
    }
}

@media only screen and (min-width: 768px) {
    .consumer-info-container {
        // min-height: 185px;
        min-height:unset !important;
        display: grid;

        .declined {
            border: 2px solid #ee0000;
            border-radius: 50px;
            width: 30px;
            height: 30px;
            color: #ee0000;
            margin-left: 30px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .consumer-info-container {
        ion-col:first-of-type {
            margin-left: auto;
            margin-right: auto;
            // margin-bottom: 20px;
        }

        ion-col:nth-of-type(2) {
            // margin-bottom: 20px;
            // align-self: center;
            // padding-left: 0px !important;
            // text-align: center;
            // margin-bottom: 20px;
            align-self: center;
            padding-left: 0px !important;
            text-align: left;
            align-self: flex-start;
            margin-left: 15px;
        }

        .col3 {
            display: flex;
            margin-bottom: 0px !important;
        }
    }
}

@media only screen and (min-width: 768px) {
    .consumer-info-container1 {
        display: block;
        height: 100%;

        ion-col {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 0px;
            }

            ion-avatar {
                width: 80px;
                height: 80px;
            }
        }

        ion-col:nth-child(2) {
            padding-left: 0px !important;

            .mark-attendance-consumer-info {
                text-align: center;
                display: block;
            }
        }

        .mark-attendance-options {
            display: flex;
            float: none;
            justify-content: center;
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .consumer-info-container1 ion-col:nth-child(2) {
        padding-left: 10px !important;
        display: grid;
    }

    .consumer-relatives .consumer-rel ion-checkbox {
        width: 25px;
        height: 25px;
    }

    .consumer-info-container1 ion-col {
        padding: 0px !important;
        align-self: flex-start;
    }

    .consumer-info-container1 .mark-attendance-options {
        margin-top: 15px;
    }

    .consumer-info-container1 .d-block {
        padding-left: 10px;
    }

    .pleft15 {
        padding-left: 15px !important;
    }

    .consumer-info-container1 .consumer-rel {
        display: inline-flex;
        padding-left: 0px !important;

        &:nth-child(2) {
            padding-left: 0px !important;
        }
    }
}

.primary-rep {
    // background-color: #E91E63;
    // color: #fff !important;
    // max-width: fit-content;
    // border-radius: 50px;
    // padding: 5px 20px !important;
    // margin-top: 10px;
    // margin-bottom: 0px;
    // display: block;

    // background-color: #E91E63;
    // color: #fff !important;
    // max-width: -webkit-fit-content;
    // max-width: -moz-fit-content;
    // max-width: fit-content;
    // border-radius: 50px;
    // padding: 3px 10px !important;
    // margin-top: 5px !important;
    // margin-bottom: 0px;
    // display: flex !important;
    // font-size: 13px;
    // height: 20px;
    // justify-content: center;
    // align-items: center;

    background-color: #ffe0eb;
    color: #ff1263 !important;
    max-width: 60px;
    border-radius: 50px;
    padding: 3px 5px !important;
    margin-top: 5px !important;
    margin-bottom: 0px;
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.consumer-info-container {
    border: 1px solid #e1e1e1;
    background: #fff;
    padding: 20px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    .consumer-pic {
        margin-left: 0 !important;
    }
}

.consumer-info-container1 {
    border: 1px solid #e1e1e1;
    padding: 20px;
    border-radius: 10px;
    background: #fff;

    ion-label {
        line-height: 20px;

        span {
            font-weight: 400 !important;
            // display: block;
            margin-top: 0;
        }
    }
}

.consumer-relatives {
    .consumer-rel {
        ion-item {
            --padding-start: 0px;
            --inner-padding-end: 0px;
            --min-height: auto;
            border-bottom: 1px dashed #d1d1d1;
            padding-bottom: 15px;
            width: 100%;
        }

        ion-checkbox {
            margin: 0px;
            display: inline-block;
            vertical-align: middle;
            align-self: baseline;
            // --border-radius: 50px;
            --border-radius: 4px;
            --border-color: transparent;
            --background: #e5e5e5;
            opacity: 1;
        }

        &:last-of-type {
            ion-item {
                border: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}

.fixed-top {
    background-color: #fff;
    // background: #f1f1f1;
    right: 0;
    left: 0;
    top: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-selector {
    border-bottom: 1px solid #dbdbdb !important;
    background: #fff;
    margin-bottom: 0px;

    ion-segment-button {
        ion-label {
            margin-bottom: 0px;
        }
    }
}

ion-footer {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 8px 0px 0px;

    .publish-btn {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 20px;
        --padding-end: 20px;
        width: 95%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;
    }
}

.doNotShow {
    display: none !important;
}

.act-slots-available-infobox {
    background: #f1fcee;
    color: #4caf50;
    border: 1px solid #ceefc6;
    border-left: 5px solid #6bca51;
    width: 92%;
    display: flex;
    margin: 15px auto 0px;
    padding: 8px 10px;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.act-slots-not-available-infobox {
    background: #fff4ec;
    color: #994d1b;
    border: 1px solid #ffd5b9;
    border-left: 5px solid #ff9149;
    width: 92%;
    display: flex;
    margin: 15px auto 0px;
    padding: 8px 10px;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
