.ion-header-inner {
    background: #0077b5 !important;
}

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

.dtk-sec-label {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0px;
    display: block;
    text-align: center;
}

.current-menu-card {
    border: 2px solid #41c357;

    .current-menu-check-icon {
        font-size: 40px;
        color: #1bab4a;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.seasonal-menu-card {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .fm-icon {
        width: 60px;
        height: 60px;
        margin: 0 auto 10px;
        display: block;
    }

    .season-label {
        font-size: 18px;
        font-weight: 500;
        color: #474747;
        text-align: center;
        display: block;
    }

    .season-date-range {
        color: #6c6c6c;
        font-family: "Roboto", sans-serif !important;
        font-size: 16px;
        text-align: center;
        display: block;
        border-bottom: 1px dashed #e1e1e1;
        margin-bottom: 10px;
        padding-bottom: 10px;
        width: 100%;
    }

    .consumer-photo-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;

        ion-avatar {
            width: 40px;
            height: 40px;
            border: 3px solid #fff;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }

        ion-avatar + ion-avatar {
            margin-left: -12px;
        }

        .consumer-count {
            background: #fff;
            border-radius: 50px;
            box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
            padding: 5px 10px;
            margin-left: -10px;
            font-size: 14px;
        }
    }

    .sp-label {
        font-size: 16px;
        color: #ff7216;
        text-align: center;
        border-bottom: 1px dashed #e1e1e1;
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .viewmenu-btn {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        letter-spacing: normal;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        text-transform: none;
        color: #fff;
    }

    .no-border {
        border: none !important;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

@media only screen and (min-width: 768px) {
    .seasonal-menu-card {
        padding: 20px;

        .fm-icon {
            width: 90px;
            height: 90px;
        }
    }
}

@media only screen and (min-width: 750px) and (max-width: 753px) {
    .din-menu-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .dm-title-col {
            min-width: 100% !important;
        }

        ion-col {
            max-width: fit-content !important;
            min-width: 50%;

            .seasonal-menu-card {
                margin: 10px;
            }
        }
    }
}
