ion-row {
    .din-scc-col {
        display: flex;
        align-items: center;
        justify-content: center;

        .plus-minus {
            display: flex;
            justify-content: center;
            text-align: center;
            max-width: 120px;
            height: 40px;
            padding: 0px 10px;
            font-size: 18px;
            background: #e6e6e6;
            border-radius: 10px;
            color: #808080;
            // margin-top: 10px;
            --padding-start: 0;
            --inner-padding-end: 0;
        
            .minus-icon {
                // border-right: 1px solid #c8c8c8;
                padding-right: 10px;
                font-size: 18px;
            }
        
            ion-input {
                background: #f4f4f4;
                text-align: center;
                align-self: center;
                display: flex;
                --padding-end: 0;
            }
        
            .plus-icon {
                // border-left: 1px solid #c8c8c8;
                padding-left: 10px;
                font-size: 18px;
            }
        }

        .din-scc-close-btn {
            font-size: 18px;
            color: #686868;
            background: #dddddd;
            padding: 5px;
            border-radius: 50px;
            margin-left: 15px;
        }
        
    }
}


