<ion-row>

  <ion-col size="12" class="din-scc-col">

    <ion-item lines="none" color="none" class="plus-minus">

      <ion-icon class="minus-icon" name="remove-outline" (click)="decrement()" item-right></ion-icon>
    
      <ion-input type="number" min="1" [(ngModel)]="quantity" readonly></ion-input>
    
      <ion-icon class="plus-icon" name="add-outline" (click)="increment()" item-right></ion-icon>
    
    </ion-item>
  
    <ion-icon class="din-scc-close-btn"  name="close" (click)="dismiss()" item-right></ion-icon>

  </ion-col>
  
</ion-row>


