.act_inact {
  margin-top: 15px;
  font-weight: 500px !important;
  font-size: 20px;
  margin-bottom: 10px;
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-checkbox {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .consumer-info-container ion-checkbox {
    width: 25px;
    height: 25px;
    position: absolute;
    left: -64px;
    right: 0;
  }
  .consumer-info-container ion-avatar {
    width: 60px;
    height: 60px;
  }
  .consumer-info-container ion-col {
    padding: 0px !important;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .consumer-info-container ion-col:nth-child(2) {
    padding-right: 15px !important;
  }
  .consumer-info-container ion-label {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
  .consumer-info-container ion-checkbox {
    left: -104px;
    position: absolute;
  }
  .consumer-info-container ion-avatar {
    width: 60px;
    height: 60px;
  }
  .consumer-info-container ion-col {
    padding: 0px !important;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .consumer-info-container ion-col:nth-child(2) {
    padding-right: 15px !important;
  }
  .consumer-info-container ion-label {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1366px) {
  .consumer-info-container ion-checkbox {
    left: -164px;
    position: absolute;
  }
  .consumer-info-container ion-avatar {
    width: 60px;
    height: 60px;
  }
  .consumer-info-container ion-col {
    padding: 0px !important;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .consumer-info-container ion-col:nth-child(2) {
    padding-right: 15px !important;
  }
  .consumer-info-container ion-label {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
  }
}

.consumer-info-container ion-col:nth-child(2) {
  padding-left: 15px !important;
}

.consumer-info-container ion-col:nth-child(3) {
  padding-left: 15px !important;
}

.consumer-info-container {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .consumer-info-container ion-checkbox {
    display: inline-flex;
    vertical-align: super;
  }
  .consumer-info-container ion-avatar {
    display: inline-flex;
    margin-left: 15px;
  }
}

@media screen and (min-width: 834px) {
  .consumer-info-container ion-checkbox {
    left: -70px;
    position: absolute;
  }
  .consumer-info-container ion-avatar {
    width: 60px;
    height: 60px;
  }
  .consumer-info-container ion-col {
    padding: 0px !important;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .consumer-info-container ion-col:nth-child(2) {
    padding-right: 15px !important;
  }
  .consumer-info-container ion-label {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
  }
}
