<ion-header class="ion-header-inner-2">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="7">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Create group</ion-label>
        </ion-col>

        <ion-col class="col-fit header-buttons ion-align-self-end" size="4">

          <ion-icon src="assets/select-all-icon.svg" (click)="selectAll($event)"></ion-icon>

          

        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col>

          <ion-searchbar  class="clife-search-bar" placeholder="Search residents" (ionCancel)="cancel()"  [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>


    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label class="act_inact" *ngIf="active.length>0">
    Active Residents
  </ion-label>


  <ion-grid *ngIf="active.length>0&& ( active | consumersearch : terms) as result">

    <ion-row >

      <ion-col size-sm="12" size-md="4" size-lg="4" size="12" *ngFor="let item of active | consumersearch : terms">

        <ion-row class="consumer-info-container" (click)="select($event,item)">

          <!-- <ion-col class="col_fit" size-sm="2" size-md="12" size-lg="12" size="2">
            <ion-checkbox [checked]="sel_id.includes(item.user.user_id)" ></ion-checkbox>
          </ion-col> -->

          <ion-col class="col-fit" size-sm="6" size-md="12" size-lg="12" size="6">

            <ion-checkbox mode="ios" [checked]="sel_id.includes(item.user.user_id)" ></ion-checkbox>

            <ion-avatar>
              <img [src]="item.user.profile_pic" *ngIf="item.user.profile_pic!=null">
              <img src="assets/user_pic.png" *ngIf="item.user.profile_pic==null">
            </ion-avatar>

          </ion-col>

          <ion-col size-sm="6" size-md="12" size-lg="12" size="6">

            <ion-label>
              {{item.user.name}}

              <span>
                {{item.room}}
              </span>
              <span *ngIf="item.wing&&flag!=='1'">
                {{item.wing.name}}
              </span>
              <span  *ngIf="item.property_details&&item.property_details.contract_details&&item.property_details.contract_details.property&&item.property_details.contract_details.property.location&&flag=='1'">
                {{item.property_details.contract_details.property.location.name}}
              </span>

            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>
    </ion-row>


    <ion-item lines="none" color="none" style="margin-top: 25px;" *ngIf="result.length==0">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No result found</ion-label>
    </ion-item>
  </ion-grid>


      



  <ion-label  class="act_inact" *ngIf="inactive.length>0">
    Inactive Residents
  </ion-label>


  <ion-grid *ngIf="inactive.length>0&& ( inactive | consumersearch : terms) as result">
    <ion-row>
    <ion-col size-sm="12" size-md="3" size-lg="3" size="12" *ngFor="let item of inactive | consumersearch : terms">

      <ion-row class="consumer-info-container" (click)="select($event,item)">
        <ion-col class="col_fit">
          <ion-checkbox mode="ios" [checked]="sel_id.includes(item.user.user_id)"  ></ion-checkbox>
        </ion-col>
        <ion-col class="col-fit">

          <ion-avatar>
            <img [src]="item.user.profile_pic" *ngIf="item.user.profile_pic!=null">
            <img src="assets/user_pic.png" *ngIf="item.user.profile_pic==null">
          </ion-avatar>

        </ion-col>

        <ion-col>

          <ion-label>
            {{item.user.name}}

            <span>
              {{item.room}}
            </span>
            <span *ngIf="item.wing&&flag!=='1'">
              {{item.wing.name}}
            </span>
            <span class="wing-name" *ngIf="item.property_details&&item.property_details.contract_details&&item.property_details.contract_details.property&&item.property_details.contract_details.property.location&&flag=='1'">
              {{item.property_details.contract_details.property.location.name}}
            </span>
          </ion-label>

        </ion-col>

      </ion-row>

    </ion-col>
    </ion-row>

    <ion-item lines="none" color="none" style="margin-top: 25px;" *ngIf="result.length==0">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No result found</ion-label>
    </ion-item>
  </ion-grid>




  <div *ngIf="inactive.length==0 && active.length==0">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-consumers-found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Resident Found</ion-label>
    </ion-item>
  </div>
</ion-content>


<ion-footer *ngIf="inactive.length>0 || active.length>0">
  
  <ion-toolbar>
    
    <div class="cb-footer-btns">

      <ion-button class="cb-continue-btn" (click)="createGroup()" [disabled]="sel_id.length<2">Create</ion-button>

    <ion-button class="cb-cancel-btn" (click)="reset()" *ngIf="sel_id&&sel_id.length">Reset</ion-button>

    </div>
    
  </ion-toolbar>

</ion-footer>