<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()">
          </ion-icon>
          <ion-label>Feedback</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end">
          <!-- <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button> -->
          <ion-button class="filter-task-btn" (click)="filter()">
            <!-- <ion-icon name="funnel-outline"></ion-icon> -->
            <i class="las la-filter"></i>
          </ion-button>
          <!-- <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button> -->
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12">

          <ion-searchbar class="hdr-task-searchbar" (ionCancel)="cancel()" [(ngModel)]="terms"
          (ionChange)="search()"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec" *ngIf="count">

    <ion-segment class="fts-segment" scrollable  mode="md" (ionChange)="changeStatus($event)" value="{{status}}">

      <ion-segment-button class="seg-total-feedback" value="0">

        <ion-label>Total
          <span class="total-count">{{count.total_feedback}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-compliments" value="1">

        <ion-label>Compliments
          <span class="compliment-count">{{count.total_compliments}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-suggestions" value="3">

        <ion-label>Suggestions
          <span class="suggestion-count">{{count.total_suggestions}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-complaints" value="2">

        <ion-label>Complaints
          <span class="complaint-count">{{count.total_complaints}}</span>
        </ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-fab>

  <ng-container *ngFor="let item of feedbacks">

  <div class="ro-select-date-sec" >

    <div class="ro-date-sec">

    

      <ion-label>{{item.date|dateformat:'DD MMM YYYY'}}</ion-label>

     

    </div>

  

  </div>

  <ion-row>

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngFor="let feed of item.feedback;let idx=index">

      <ion-card class="st-item-card">

        <ion-card-header class="s-stype st-feedback">

          <ion-label>
            <ion-icon name="star-outline"></ion-icon>
            Feedback
          </ion-label>

        </ion-card-header>

        <ion-card-content>

          <!-- <div class="mc-box">

            <ion-label>
              Broken chair
            </ion-label>

          </div> -->

          <div class="st-card-inner-row">

            <div class="st-fid-sec">

              <ion-label class="st-fid-label">{{code}}</ion-label>

            </div>

            <div class="st-feedbacktype-sec">

              <ion-label class="st-feedback-type complaint" *ngIf="feed.type==2">Complaints</ion-label>
              <ion-label class="st-feedback-type compliment" *ngIf="feed.type==1">Compliments</ion-label>
              <ion-label class="st-feedback-type suggestion" *ngIf="feed.type==3">Suggestions</ion-label>

            </div>

          </div>

          <div class="st-card-inner-row">

            <div class="st-fdbk-category" *ngIf="feed.category">

              <ion-label class="st-ir-label">Category</ion-label>

              <div class="st-fbc-box">

                <ion-label class="st-fbc-label">{{feed.category.name}}</ion-label>

              </div>

            </div>

            <div class="st-fdbk-status" >

              <ion-label class="st-ir-label">Status</ion-label>

              <div class="st-fbs-box">

                <ion-label class="st-fbs-label new" *ngIf="feed.status==1">New</ion-label>
                <ion-label class="st-fbs-label ip" *ngIf="feed.status==2">In progress</ion-label>
                <ion-label class="st-fbs-label closed" *ngIf="feed.status==3">Closed</ion-label>

              </div>

            </div>

          </div>

          <div class="st-card-inner-row">

            <div class="fdbk-content">

              <p *ngIf="feed.feedback&&feed.feedback.length<=175">{{feed.feedback}}</p>

              <ng-container *ngIf="feed.feedback&&feed.feedback.length>175">
              <p id="{{'p1'+idx}}">{{feed.feedback.substring(0,175)}}<span style="color:#0077b5" (click)="ShowContent('p1','p2',idx)">{{' '}}Show more...</span></p>
              <p id="{{'p2'+idx}}" style="display:none">{{feed.feedback}}<span style="color:#0077b5" (click)="ShowContent('p2','p1',idx)">{{' '}}Show less</span></p>
            </ng-container>

            </div>

            

          </div>


        </ion-card-content>


      </ion-card>

    </ion-col>

  </ion-row>





</ng-container>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="feedbacks.length">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

<div *ngIf="feedbacks.length==0">
  <ion-thumbnail
    style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
    <img src="assets/no-data-icon.svg">
  </ion-thumbnail>

  <ion-item lines="none" color="none" style="margin-top: 25px;">
    <ion-label
      style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
      No Data Found</ion-label>
  </ion-item>
</div>

</ion-content>