ion-header {
    .create-task-btn {
        --background: rgba(135, 181, 255, 0.3) !important;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 0;
        --padding-end: 0;
        width: 45px;
        height: 45px;
    }

    .filter-task-btn {
        --background: rgba(135, 181, 255, 0.3) !important;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 0;
        --padding-end: 0;
        width: 45px;
        height: 45px;
        margin-left: 15px;

        ion-icon,
        i {
            font-size: 25px;
        }
    }

    .hdr-task-searchbar {
        // border-radius: 8px;
        // background: #fff;
        // color: #222;
        // margin-top: 10px;
        // padding: 10px;
        border-radius: 10px;
        background: #fff;
        color: #222;
        margin-top: 10px;
        padding: 5px;
        max-height: 50px;
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 80px;
    --padding-bottom: 20px;
    // --background: #eee;
    --background:#f4f5fa;
}

.fixed-top-sec {
    padding: 5px 10px 0;
    box-shadow: none;

    .fts-segment {
        font-family: "Roboto", sans-serif;

        .seg-total-feedback {
            min-width: 125px;
            max-width: fit-content;
            --color-checked: #006de9;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 2px;

            ion-label {
                font-size: 16px;
                font-weight: 500;
                color: #006de9;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .total-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #ddecfe;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }

        .seg-compliments {
            min-width: 160px;
            max-width: fit-content;
            --color-checked: #c72cca;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 2px;

            ion-label {
                font-size: 16px;
                font-weight: 500;
                color: #c72cca;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .compliment-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: rgb(255 237 255);
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }

        .seg-suggestions {
            min-width: 150px;
            max-width: fit-content;
            --color-checked: #00b5b5;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 2px;
            margin-left: 10px;

            ion-label {
                font-size: 16px;
                font-weight: 500;
                color: #00b5b5;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .suggestion-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: rgb(221 245 245);
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }
    }

    .seg-complaints {
        min-width: 145px;
        max-width: fit-content;
        --color-checked: #ff5200;
        --indicator-height: 3px;
        --padding-start: 0;
        --padding-end: 0;
        padding-bottom: 2px;
        margin-left: 10px;

        ion-label {
            font-size: 16px;
            font-weight: 500;
            color: #ff5200;
            letter-spacing: normal;
            margin-top: 0;
            margin-bottom: 0;

            .complaint-count {
                min-width: 35px;
                min-height: 35px;
                font-size: 16px;
                padding: 5px;
                background-color: rgb(253 236 227);
                border-radius: 50px;
                margin-left: 5px;
                /* position: absolute; */
                /* top: 0; */
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
            }
        }
    }
}

.ro-select-date-sec {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .ro-date-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ion-icon {
            font-size: 25px;
            color: #707070;
        }

        ion-label {
            font-size: 18px;
            font-weight: 600;
            color: #707070;
            margin: 0 25px;
        }
    }

    .ro-month-select-sec-btn {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-bottom: 0;
        color: #707070;
        --background: #efefef;
        --border-radius: 50px;
        --box-shadow: none;
        --padding-start: 5px;
        --padding-end: 5px;

        i {
            font-size: 25px;
            color: #707070;
        }
    }
}

.st-item-card {
    box-shadow: none !important;
    // border: 1px solid #d7d7d7;
    border: 1px solid #e7e7e7;
    margin-bottom: 10px !important;

    ion-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #efefef;
        padding: 10px 15px;

        ion-icon {
            font-size: 18px;
            margin-right: 5px;
            vertical-align: middle;
        }

        i {
            font-size: 22px;
            margin-right: 8px;
            vertical-align: middle;
        }

        ion-label {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            display: flex;
            align-items: center;
        }
    }

    .st-activity {
        background: #cfefec;

        ion-icon,
        i,
        ion-label {
            color: #0daf9f;
        }
    }

    .ot-dining {
        background: #fef1ce;

        ion-icon,
        i,
        ion-label {
            color: #ffab04;
        }
    }

    .ot-visitor {
        background: #fcdee9;

        ion-icon,
        i,
        ion-label {
            color: #cc3e71;
        }
    }

    .ot-visit-booking {
        background: #dfffe2;

        ion-icon,
        i,
        ion-label {
            color: #55955b;
        }
    }

    .st-maintenance {
        background: #fff5c0;

        ion-icon,
        i,
        ion-label {
            color: #97831e;
        }
    }

    .st-feedback {
        background: #dfffe2;

        ion-icon,
        i,
        ion-label {
            color: #178f22;
        }
    }

    ion-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;

        .mc-box {
            display: block;
            width: 100%;

            ion-label {
                font-size: 17px;
                font-weight: 500;
                color: #222;
                line-height: 20px;
            }

            .din-dishes {
                font-size: 15px;
                font-weight: normal;
                color: #707070;
                display: block;
                margin-top: 10px;

                .more-count {
                    display: block;
                    color: #0077b5;
                    background: #daf2ff;
                    max-width: fit-content;
                    padding: 2px 10px;
                    border-radius: 50px;
                    font-size: 13px;
                    margin-top: 6px;
                }
            }
        }

        .mc-box-v {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .checkin-time-sec {
                ion-label {
                    display: block;
                    font-size: 15px;
                    color: #707070;
                    margin-bottom: 5px;
                }

                .checkin-time {
                    color: #222;
                    font-size: 15px;

                    ion-icon {
                        font-size: 22px;
                        vertical-align: middle;
                        color: #707070;
                        margin-right: 5px;
                    }
                }
            }

            .checkout-time-sec {
                ion-label {
                    display: block;
                    font-size: 15px;
                    color: #707070;
                    margin-bottom: 5px;
                }

                .checkout-time {
                    color: #222;
                    font-size: 15px;

                    ion-icon {
                        font-size: 22px;
                        vertical-align: middle;
                        color: #707070;
                        margin-right: 5px;
                    }
                }
            }

            .vb-info-box {
                .vb-title {
                    color: #222;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }

        .act-details-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            ion-chip {
                padding: 10px 15px;
                color: #707070;
                margin: 0;

                i {
                    font-size: 18px;
                    vertical-align: middle;
                }

                ion-label {
                    font-size: 15px;
                    margin-left: 5px;
                }
            }

            .act-status {
                color: #707070;
                font-size: 14px;

                ion-icon {
                    font-size: 22px;
                    margin-right: 5px;
                    vertical-align: middle;
                }

                .assigned-icon {
                    font-size: 8px;
                    color: #2ac940;
                    margin-right: 5px;
                    vertical-align: middle;
                }
            }

            .act-social {
                background: #fbddf9;
                color: #a20082;
            }

            .act-physical {
                background: #ffd6db;
                color: #e2001e;
            }

            .act-spiritual {
                background: #aeffd5;
                color: #187a57;
            }

            .act-emotional {
                background: #ffe5d8;
                color: #e25900;
            }

            .act-cognitive {
                background: #dfecff;
                color: #0965a1;
            }

            .act-trip {
                background: #fff1bc;
                color: #725a00;
            }

            .act-entertainment {
                background: #b1ffff;
                color: #006064;
            }

            .act-event {
                background: #ffd1d1;
                color: #610000;
            }

            .act-meeting {
                background: #e7e4fd;
                color: #0f00a2;
            }

            .act-other {
                background: #ffd8f6;
                color: #f300d3;
            }

            .as-declined {
                color: #222;

                ion-icon {
                    color: #ff0000;
                }
            }

            .as-attended {
                color: #222;

                ion-icon {
                    color: #1cb300;
                }
            }
        }

        .activity-comment {
            border-top: 1px dashed #c7c7c7;
            margin-top: 15px;
            padding-top: 10px;

            ion-label {
                font-size: 15px;
                color: #707070;
                line-height: 18px;
                text-align: justify;
            }
        }

        .din-refused-ib {
            border-top: 1px dashed #c7c7c7;
            margin-top: 10px;
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .din-refused-reason {
                font-size: 15px;
                color: #ff5100;
                max-width: 65%;
            }

            .din-status {
                color: #707070;
                font-size: 14px;
                max-width: 33%;

                ion-icon {
                    font-size: 22px;
                    margin-right: 5px;
                    vertical-align: middle;
                }
            }
        }

        .visitor-info-box {
            background: #f5f5f5;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
            width: 100%;
            margin-top: 10px;

            ion-avatar {
                width: 35px;
                height: 35px;
                background: #e8e8e8;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 25px;
                    color: #707070;
                }
            }

            ion-label {
                font-size: 16px;
                color: #222;
                margin-left: 15px;
            }

            .more-visitors {
                color: #673ab7;
                background: #e7daff;
                padding: 5px;
                border-radius: 26px;
                position: absolute;
                right: 5px;
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                font-weight: 600;
            }
        }

        .visitor-details-box {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;

            .visitors-name-sec {
                font-size: 15px;
                font-weight: normal;
                color: #707070;
                // display: block;
                // margin-top: 10px;
                margin: 10px 5px 5px;
                border: 1px solid #e2e2e2;
                padding: 5px 10px;
                border-radius: 6px;
            }

            .more-count {
                // display: block;
                color: #0077b5;
                background: #daf2ff;
                max-width: -webkit-fit-content;
                max-width: -moz-fit-content;
                max-width: fit-content;
                padding: 2px 10px;
                border-radius: 50px;
                font-size: 13px;
                margin-top: 6px;
                margin-left: 5px;
            }
        }

        .st-card-inner-row {
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            // width: 100%;
            // margin-top: 10px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 5px;
            border-bottom: 1px dashed #dfdfdf;
            padding-bottom: 5px;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border: none;
            }

            .st-assigned-sec {
                display: flex;
                flex-direction: column;
                width: 100%;

                .st-ir-label {
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    color: #545454;
                    margin-bottom: 10px;
                }

                .st-assignees-box {
                    display: flex;
                    align-items: center;
                    position: relative;

                    ion-avatar {
                        width: 40px;
                        height: 40px;
                        --border-radius: 50px;

                        &:nth-child(2) {
                            position: absolute;
                            left: 25px;
                        }
                    }

                    .more-assignees {
                        width: 40px;
                        height: 40px;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #d3f0ff;
                        position: absolute;
                        left: 50px;

                        ion-label {
                            font-size: 16px;
                            color: #0077b5;
                        }
                    }
                }
            }

            .st-priority-sec {
                display: flex;
                flex-direction: column;
                width: 100%;

                .st-ir-label {
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    color: #545454;
                    margin-bottom: 5px;
                }

                .stps-box {
                    // height: 40px;

                    ion-label {
                        font-size: 15px;
                        font-weight: 600;
                        color: #777777;
                    }

                    .low {
                        color: #00dcff;
                    }

                    .medium {
                        color: #008eff;
                    }

                    .urgent {
                        color: #ff0000;
                    }
                }
            }

            .st-status-sec {
                display: flex;
                flex-direction: column;
                width: 100%;

                .st-ir-label {
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    color: #545454;
                    margin-bottom: 5px;
                }

                .stss-box {
                    // height: 40px;

                    ion-label {
                        font-size: 15px;
                        font-weight: 600;
                        color: #777777;
                    }

                    .open {
                        color: #f7b100;
                    }

                    .ip {
                        color: #00a2ff;
                    }

                    .tp {
                        color: #c72cca;
                    }

                    .closed {
                        color: #35a700;
                    }

                    .overdue {
                        color: #ff3b00;
                    }
                }
            }

            .st-fid-sec {
                width: 50%;

                .st-fid-label {
                    font-size: 16px;
                    color: #545454;
                }
            }

            .st-feedbacktype-sec {
                width: 50%;

                .st-fid-label {
                    font-size: 17px;
                    color: #545454;
                }

                .compliment {
                    font-size: 17px;
                    color: #c72cca;
                }

                .complaint {
                    font-size: 17px;
                    color: #ff5200;
                }

                .suggestion {
                    font-size: 17px;
                    color: #00b5b5;
                }
            }

            .st-fdbk-category {
                width: 50%;

                .st-ir-label {
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    color: #545454;
                    margin-bottom: 5px;
                    display: block;
                }

                .st-fbc-box {
                    .st-fbc-label {
                        font-size: 16px;
                        font-weight: 500;
                        color: #222;
                        margin-bottom: 10px;
                    }
                }
            }

            .st-fdbk-status {
                width: 50%;

                .st-ir-label {
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    color: #545454;
                    margin-bottom: 5px;
                    display: block;
                }

                .st-fbs-box {
                    .st-fbs-label {
                        font-size: 17px;
                        font-weight: 500;
                        color: #222;
                        margin-bottom: 10px;
                    }

                    .new {
                        color: #ff1100 !important;
                        background: transparent !important;
                    }

                    .ip {
                        color: #007eff !important;
                        background: transparent !important;
                    }

                    .closed {
                        color: #35a700 !important;
                        background: transparent !important;
                    }
                }
            }

            .fdbk-content {
                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    color: #545454;
                }
            }

            .st-ti-category {
                width: 50%;

                .st-ir-label {
                    font-size: 14px;
                    color: #545454;
                    margin-bottom: 5px;
                    display: block;
                }

                .st-tic-box {
                    .st-ti-label {
                        font-size: 17px;
                        font-weight: 500;
                        color: #222;
                        margin-bottom: 10px;
                    }
                }
            }

            .st-tip-sec {
                display: flex;
                flex-direction: column;
                width: 50%;

                .st-ir-label {
                    font-size: 14px;
                    color: #545454;
                    margin-bottom: 5px;
                    display: block;
                }

                .st-tip-box {
                    // height: 40px;

                    .st-tip-label {
                        font-size: 16px;
                        font-weight: 600;
                        color: #777777;
                    }

                    .high {
                        color: #ff0000;
                    }

                    .medium {
                        color: #ff8c00;
                    }

                    .low {
                        color: #00a1ff;
                    }
                }
            }

            .st-assigned-sec-1 {
                display: flex;
                flex-direction: column;
                width: 50%;

                .st-ir-label {
                    font-size: 14px;
                    color: #545454;
                    margin-bottom: 10px;
                }

                .st-assignees-box {
                    display: flex;
                    align-items: center;
                    position: relative;

                    ion-avatar {
                        width: 40px;
                        height: 40px;
                        --border-radius: 50px;

                        &:nth-child(2) {
                            position: absolute;
                            left: 25px;
                        }
                    }

                    .more-assignees {
                        width: 40px;
                        height: 40px;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #d3f0ff;
                        position: absolute;
                        left: 50px;

                        ion-label {
                            font-size: 16px;
                            color: #0077b5;
                        }
                    }
                }
            }

            .st-ti-status-sec {
                display: flex;
                flex-direction: column;
                width: 50%;

                .st-ir-label {
                    font-size: 14px;
                    color: #545454;
                    margin-bottom: 10px;
                }

                .st-ti-status-box {
                    ion-select {
                        color: #222;
                        background: #f3f3f3;
                        width: 100%;
                        border-radius: 10px;
                        --padding-start: 15px;
                        --padding-end: 15px;
                    }
                }
            }
        }

        .st-card-inner-row-1 {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            width: 100%;

            .st-cdate-sec {
                width: 100%;

                .st-cds-box {
                    .st-created-date {
                        font-size: 16px;
                        font-weight: 500;
                        color: #222;
                        margin-bottom: 10px;
                    }
                }
            }

            .st-ddate-sec {
                width: 100%;

                .st-dds-box {
                    .st-due-date {
                        font-size: 16px;
                        font-weight: 500;
                        color: #222;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .st-item-card {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;

        .act-details-box {
            .activity-type {
                display: none;
            }
        }

        .activity-comment {
            display: none;
        }
    }
}

@media only screen and (min-width: 768px) {
    .st-item-card {
        // margin-top: 10px;
        // margin-bottom: 10px;
        // margin-left: 10px !important;
        // margin-right: 10px !important;
        // padding: 0px !important;
        // height: 100%;

        margin-top: 10px;
        margin-bottom: 5px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
        padding: 0px !important;
        // height: 100%;

        &:last-child {
            margin-bottom: 15px !important;
        }

        ion-card-header {
            padding: 15px;
        }

        ion-card-content {
            .activity-comment {
                width: 100%;

                ion-label {
                    font-size: 16px;
                }
            }

            .mc-box {
                .din-dishes {
                    font-size: 16px;
                }
            }

            .st-card-inner-row {
                .st-ti-status-sec {
                    .st-ti-status-box ion-select {
                        max-width: fit-content;
                        min-width: 230px;
                    }
                }
            }
        }
    }
}
