<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" ></ion-icon>
          <ion-label>Menu change</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <div class="fts-box">

      <ion-label class="date-label">12 November 2021</ion-label>

    </div>

    <!-- <ion-button class="dt-change-btn" (click)="chooseDate()">

      <img src="/assets/dining/date-icon-custom.svg">

    </ion-button> -->

  </ion-fab>

  <div class="din-item-box">

    <ion-label class="din-item">Lunch</ion-label>

    <span class="din-prev-choice-title">Previous menu choice</span>

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/curried-sausage.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Curried sausages</ion-label>

      </div>

    </ion-card>

  </div>

  <div class="din-item-box">

    <span class="din-current-choice-title">This menu choice</span>

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/curried-sausage.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Curried sausages</ion-label>

      </div>

    </ion-card>

  </div>

  <div class="din-item-box">

    <ion-label class="din-item">Dinner</ion-label>

    <span class="din-prev-choice-title">Previous menu choice</span>

  </div>

  <div class="fi-box">

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="/assets/dining/food-items/fried-rice.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Special fried rice</ion-label>

      </div>

    </ion-card>

  </div>

  <div class="din-item-box">

    <span class="din-current-choice-title">This menu choice</span>

  </div>

  <div class="fi-box">

    <div class="fi-selectable">

      <ion-card class="fi-card">

        <div class="fi-img-block">

          <img class="fi-img" src="/assets/dining/food-items/rosted-chicken-salad.png">

        </div>

        <div class="fi-info-block">

          <ion-label class="fi-name">Roasted chicken salad</ion-label>

        </div>

      </ion-card>

      <ion-label class="fi-or-label">Or</ion-label>

      <ion-card class="fi-card">

        <div class="fi-img-block">

          <img class="fi-img" src="/assets/dining/food-items/assorted-sandwiches.png">

        </div>

        <div class="fi-info-block">

          <ion-label class="fi-name">Assorted sandwiches</ion-label>

        </div>

      </ion-card>

    </div>

  </div>


</ion-content>

<ion-footer>

  <ion-button class="continue-btn">Continue</ion-button>

  <ion-button class="cancel-btn">Cancel</ion-button>

</ion-footer>