<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>{{title}}</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end" (click)="search()" *ngIf="!hide">

          <ion-icon name="search-outline"></ion-icon>

        </ion-col>

      </ion-row>
      <ion-searchbar *ngIf="hide" no-padding color="none" placeholder="Search" search-icon="none" class="resource_search" [(ngModel)]="terms"
      (ionCancel)="cancel()" showCancelButton="always"></ion-searchbar>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" *ngFor="let item of resource" (click)="openDoc(item)">

        <ion-card class="resource-details-list-card">

          <ion-item lines="none" color="none">

            <img src="assets/pdf_icon.svg" *ngIf="item.file_ext=='pdf'">
            <img src="assets/weblink_icon.svg" *ngIf="item.file_ext=='null'">
            <img src="assets/ms_word_doc_icon.svg" *ngIf="item.file_ext=='doc'">

            <ion-label style="color:#1c1c1c">{{item.title}}</ion-label>

           </ion-item> 

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>
  <div *ngIf="resource.length==0 ">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 60px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-resources.svg">
    </ion-thumbnail>

    <ion-item lines="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Documents Found.</ion-label>
    </ion-item>
  </div>
</ion-content>
