.resource-folder {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    min-height: 130px;
    height: 100%;
    margin: 0px;

    .resources-thumb-icon {
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
    }

    ion-label {
        font-size: 16px;
    }
}

.resource-details-list-card {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;

    ion-item {
        --padding-start: 0px;
        --inner-padding-end: 16px;
        --min-height: auto;
        width: 100%;

        img {
            width: 25px;
            height: 25px;
        }

        ion-label {
            margin-left: 10px;
            margin-top: 0px;
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width:768px) {
    .resource-folder {
        min-height: 180px;
        height: 100%;
        margin: 0px;

        .resources-thumb-icon {
            width: 80px;
            height: 80px;
            margin-bottom: 5px;
        }

        ion-label {
            font-size: 18px;
        }
    }
}