<ion-content>

  <ion-item color="none" lines="none" (click)="select(3)">
    <ion-label class="act_filter">All stories</ion-label>
  </ion-item>


  <ion-item color="none" lines="none" (click)="select(1)">
    <ion-label class="act_filter">Show active stories</ion-label>
  </ion-item>


  <ion-item color="none" lines="none" (click)="select(5)">
    <ion-label class="act_filter">Show inactive stories</ion-label>
  </ion-item>


  <ion-item color="none" lines="none" (click)="select(2)">
    <ion-label class="act_filter">Show announcements</ion-label>
  </ion-item>


  <ion-item color="none" lines="none" (click)="select(6)">
    <ion-label class="act_filter">Waiting for approval</ion-label>
  </ion-item>

</ion-content>