<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>{{ser_time}} on {{date}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="fi-detail-img">

          <img [src]="item.itemdetailsall.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">{{item.itemdetailsall.item_name}}</ion-label>

        <!-- <span class="puree">P</span>

        <span class="liquid">L</span> -->

      </ion-col>
      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info" *ngIf="item.itemdetailsall.description">

        <ion-label class="fi-name">Description</ion-label>

        <p style="display:block" class="din-description" >{{item.itemdetailsall.description}}</p>

      </ion-col>


    </ion-row>

  </ion-grid>

  <div class="fi-box">

    <ion-card class="fi-card " *ngFor="let sub of details" (click)="showItem(sub)">

      

      <div class="fi-img-block">

        <img class="fi-img" [src]="sub.itemdetails.image">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">{{sub.itemdetails.item_name}}</ion-label>

        <!-- <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div>

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

          <div class="fim-div-2">

            <ion-button>
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div> -->

      </div>

    </ion-card>

    <!-- <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/2.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Item 1</ion-label> -->

        <!-- <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div>

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

          <div class="fim-div-2">

            <ion-button>
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div> -->

      <!-- </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/3.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Item 2</ion-label> -->

        <!-- <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div>

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

          <div class="fim-div-2">

            <ion-button>
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div> -->

      <!-- </div>

    </ion-card>

    <ion-card class="fi-card">

      <div class="fi-img-block">

        <img class="fi-img" src="https://www.ecaret.com.au/projects/centrimlife/assets/img/dining/3.png">

      </div>

      <div class="fi-info-block">

        <ion-label class="fi-name">Item 2</ion-label> -->

        <!-- <div class="fi-more-options">

          <div class="fim-div-1">

            <div class="fi-meal-size">
              <ion-label>M</ion-label>
            </div>

            <div class="fi-quantity">
              <ion-label>1</ion-label>
            </div>

          </div>

          <div class="fim-div-2">

            <ion-button>
              <i class="las la-pen"></i>
            </ion-button>

          </div>

        </div> -->

      <!-- </div>

    </ion-card> -->

  </div>



</ion-content>
<!-- 
<ion-footer>

  <ion-button class="continue-btn" [routerLink]="['/din-continental-fi-details']">Choose</ion-button>

  <ion-button class="cancel-btn">Cancel</ion-button>

</ion-footer> -->