.ion-header-inner {
    background: #0077b5 !important;
}

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

.fi-detail-img {
    img {
        width: 100%;
        max-width: fit-content;
        max-height: 300px;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
    }
}

.fi-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dc-fi-name {
        font-size: 18px;
        font-weight: 500;
        color: #0077b5;
    }

    .dc-fi-description-title {
        font-weight: 500;
    }

    .din-ft {
        display: flex;

        .puree {
            background: #75b643;
            color: #fff;
            font-size: 16px;
            min-width: 25px;
            min-height: 25px;
            border-radius: 4px;
            text-align: center;
            // margin-left: auto;
        }

        .liquid {
            background: #ffff28;
            color: #222;
            font-size: 16px;
            min-width: 25px;
            min-height: 25px;
            border-radius: 4px;
            text-align: center;
            margin-left: 10px;
        }
    }
}

.fi-name {
    font-size: 17px;
    // font-weight: 500;
    // text-align: center;
    color: #222;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

    span {
        color: #eaa018;
    }
}

.dining-inner-title {
    font-size: 18px;
    color: #707070;
    margin-bottom: 15px;
    display: block;
}

.plus-minus {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 120px;
    height: 40px;
    padding: 0px 10px;
    font-size: 18px;
    background: #e6e6e6;
    border-radius: 10px;
    color: #808080;
    margin-top: 10px;
    --padding-start: 0;
    --inner-padding-end: 0;

    .minus-icon {
        // border-right: 1px solid #c8c8c8;
        padding-right: 10px;
        font-size: 18px;
    }

    ion-input {
        background: #f4f4f4;
        text-align: center;
        align-self: center;
        display: flex;
        --padding-end: 0;
    }

    .plus-icon {
        // border-left: 1px solid #c8c8c8;
        padding-left: 10px;
        font-size: 18px;
    }
}

.fi-size-segment-btn {
    background: #f4f4f4;
    color: #707070;
    max-width: fit-content;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-segment-button {
        min-width: auto;
        font-size: 18px;
        --background-checked: #0077b5;
        --color-checked: #fff;
    }
}

.fi-texture-select {
    background: #efefef;
    border-radius: 6px;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    font-size: 16px;
    height: 45px;
    margin-top: 10px;
}

.dining-inner-title-1 {
    font-size: 16px;
    font-weight: 500;
    color: #707070;
}

.fi-options-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;

    .fi-options {
        background: #eef9ff;
        border-radius: 50px;
        padding: 5px 20px;
        color: #0077b5;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        margin: 10px 10px 5px 0px;
    }

    .fi-options-selected {
        background: #0077b5 !important;
        color: #fff !important;
    }
}

.borderline-top-bottom {
    border-top: 1px dashed #e3e3e3;
    border-bottom: 1px dashed #e3e3e3;
    padding-top: 15px;
    padding-bottom: 15px;
}

.borderline-bottom {
    border-bottom: 1px dashed #e3e3e3;
    padding-bottom: 15px;
}

.fi-comments {
    background: #efefef;
    border-radius: 6px;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    font-size: 16px;
    min-height: 150px;
    margin-top: 10px;
    border: none;
}

.fi-description {
    font-size: 16px;
    color: #707070;
    line-height: 25px;
    margin-bottom: 0;
}

.allergies-block {
    display: flex;
    flex-wrap: wrap;

    .allergy {
        background: #ff5b49;
        border-radius: 50px;
        height: 30px;
        padding: 10px 15px;
        margin: 8px 8px 4px 0px;

        i {
            font-size: 18px;
            color: #fff;
            vertical-align: middle;
        }

        ion-label {
            font-size: 16px;
            color: #fff;
            margin-left: 5px;
            vertical-align: middle;
        }
    }
}

.fi-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
    margin-bottom: 15px;

    .fi-card {
        // border-radius: 20px !important;
        // padding: 10px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // margin: 5px 0px;
        // min-height: 160px;
        // width: 100%;

        border-radius: 15px !important;
        padding: 0 10px 0px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0px;
        min-height: 135px;
        width: 100%;
        border: 1px solid #d7d7d7;
        box-shadow: none !important;
        background: #fff;

        // ion-grid {
        //     margin: 0;
        //     padding: 0;

        //     ion-row {
        //         ion-col {
        //             display: flex;

        //             &:nth-child(2) {
        //                 padding-left: 10px;
        //                 display: flex;
        //                 flex-direction: column;
        //                 justify-content: center;
        //             }
        //         }
        //     }
        // }

        .fi-img-block {
            display: flex;
            // width: 45%;
            width: 40%;
            position: relative;
            .fi-img {
                // width: 145px;
                width: 100%;
                height: 135px;
                border-radius: 10px 0 0;
                object-fit: cover;
            }
            .order-restr-info {
                width: 100%;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                padding: 5px;
                background: rgba(0, 0, 0, 0.7);
                color: #fff;
            }
        }

        .fi-info-block {
            width: 65%;
            padding-left: 20px;

            .fi-name {
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                color: #252525;
                line-height: 20px;
            }

            .fi-more-options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 25px;

                .fim-div-1 {
                    display: flex;

                    .fi-meal-size {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #d2fffb;
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;

                        ion-label {
                            font-size: 15px;
                            color: #47aba2;
                            text-align: center;
                        }
                    }

                    .fi-quantity {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        padding: 4px 8px;
                        background: #f3def9;
                        width: 30px;
                        height: 30px;

                        ion-label {
                            font-size: 15px;
                            color: #601576;
                            text-align: center;
                        }
                    }
                }

                .fim-div-2 {
                    ion-button {
                        --background: #f4f4f4;
                        --box-shadow: none;
                        --border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35px;
                        height: 35px;
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        z-index: 99999;

                        i {
                            font-size: 20px;
                            color: #707070;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .fi-selected {
        border: 2px solid #1aab4a;

        .din-selected-icon {
            font-size: 35px;
            color: #1aab4a;
            background: #fff;
            border-radius: 50px;
            position: absolute;
            top: 20px;
            left: 20px;
        }
    }

    .allergic-fi {
        border: 1px solid #ff5b49;
        position: relative;

        .allergic-alert-icon {
            color: #ff0000;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .fi-selectable {
        width: 100%;
        // background: #F4F4F4;
        // background: rgb(244 244 244 / 85%);
        background: #edecec;
        border-radius: 25px;

        .fi-card {
            // background: transparent !important;
            // box-shadow: none !important;
            flex-grow: 1;

            .fi-info-block {
                .fi-more-options {
                    .fim-div-2 {
                        ion-button {
                            --background: #f4f4f4;
                            // position: absolute;
                            // z-index: 999999;
                            // right: 10px;
                        }
                    }
                }
            }
        }

        .fi-or-label {
            color: #ffffff;
            text-align: center;
            display: flex;
            background: #959595;
            max-width: fit-content;
            margin: 10px auto;
            padding: 10px;
            font-size: 18px;
            font-weight: 600;
            border-radius: 50px;
            min-height: 50px;
            min-width: 50px;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (min-width: 768px) {
    .din-continental-img-block {
        .fi-detail-img {
            img {
                margin: 0 auto;
            }
        }
    }

    .fi-info {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        display: grid;
        padding: 0px 30px;
        // align-items: center;
        align-items: start;

        .fi-name {
            text-align: left;
        }

        .dc-fi-description-title {
            margin: -30px 0 0;
        }

        .din-description {
            display: block;
            color: #5e5e5e;
            margin-top: -25px;
        }
    }

    // .fi-info {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     padding: 30px 0 0 0;
    //     align-items: center;

    //     .fi-name {
    //         text-align: left;
    //     }
    // }

    .fi-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .fi-card {
            width: 32.4%;
            // width: auto;
            margin: 5px;
            min-height: unset;

            .fi-info-block {
                .fi-more-options {
                    margin-top: 15px !important;
                }
            }
        }

        .fi-selectable {
            display: inline-flex;
            flex-grow: 1;
            width: auto;
            margin-left: 5px;

            .fi-card {
                // margin: unset;
                width: auto;

                .fi-img-block {
                    // width: auto;
                    display: flex;
                }

                .fi-info-block {
                    // width: auto;
                    display: flex;
                    flex-direction: column;

                    .fi-name {
                        min-width: 133px;
                        max-width: 130px;
                    }
                }
            }

            .fi-or-label {
                height: 50px;
                min-width: 50px;
                // margin: 0px 0px 0px 10px;
                margin: 0;
                justify-content: center;
                align-items: center;
                align-self: center;
            }
        }
    }
}

@media only screen and (min-width: 834px) and (max-width: 834px) {
    .fi-box {
        .fi-card {
            width: 48.7%;
            margin: 10px 5px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .fi-box {
        .fi-card {
            width: 48%;
        }

        .fi-selectable {
            margin: 5px;
        }
    }
}

@media only screen and (min-width: 712px) and (max-width: 712px) {
    .fi-box {
        .fi-card {
            border-radius: 20px !important;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
            min-height: 160px;
            width: 48.536%;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .fi-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }

    .din-continental-img-block {
        margin-left: auto;
        margin-right: auto;
    }
}

ion-footer {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;

    &::before {
        background: none;
    }

    .continue-btn {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 30px;
        --padding-end: 30px;
        text-align: center;
        text-transform: none;
        font-weight: normal;
        font-size: 18px;
        height: 45px;
        display: flex;
        max-width: fit-content;
    }

    .cancel-btn {
        --background: #e6e4e4;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 30px;
        --padding-end: 30px;
        color: #808080;
        text-align: center;
        text-transform: none;
        font-weight: normal;
        font-size: 18px;
        height: 45px;
        margin-left: 20px;
        display: flex;
        max-width: fit-content;
    }
}

.din-description {
    font-family: "Roboto", sans-serif;
    color: #222;
    display: block;
    margin-top: 0;
}

.pt-0 {
    padding-top: 0px;
}

.fs-17-w-500 {
    font-size: 17px;
    font-weight: 600;
}

.din-continental-img-block {
    max-width: fit-content !important;
}

.notAvailable {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
