ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

$light-grey: #ececec;
$clouds: #ecf0f1;

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

// Layout
.row {
    display: flex;

    .col {
        flex: 1;

        &:last-child {
            margin-left: 0;
        }
    }
}

/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;
    background-color: #f9f9f9;
    margin-bottom: 2px;

    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        // background: $light-grey;
        font-size: 18px;
        font-weight: normal;
        cursor: pointer;
        color: #9a9a9a;

        /* Icon */
        &:hover {
            background: transparent;
        }

        &::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all 0.35s;
            color: #9a9a9a;
        }
    }

    &-content {
        max-height: 0;
        padding: 0 1em;
        color: $light-grey;
        background: white;
        transition: all 0.35s;
    }

    &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: $light-grey;
        cursor: pointer;

        &:hover {
            background: darken($light-grey, 10%);
        }
    }
}

// :checked
input:checked {
    + .tab-label {
        background: transparent;

        &::after {
            transform: rotate(90deg);
        }
    }

    ~ .tab-content {
        max-height: 100vh;
        padding: 0em 1em;
    }
}

.remove-img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    left: 48px;
    z-index: 999;
}

.remove-file {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    color: black;
    // left: 48px;
    z-index: 999;
}

.uploaded-data {
    margin: 10px;

    .uploaded-image {
        width: 50px;
        height: 50px;

        ion-icon {
            font-size: 25px;
            color: #9a9a9a;
        }
    }
}

.uploaded-images-container {
    background-color: #607d8b;
    // border: 1px solid #d1d1d1;
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 10px;
    // max-width: fit-content;

    .uploaded-image {
        ion-icon {
            font-size: 25px;
            color: #9a9a9a;
        }
    }
}

.uploaded-docs-container {
    margin-bottom: 5px;

    .uploaded-docs-holder {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border: 1px solid #e6e6e6;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 0px;

        .uploaded-document-name {
            font-family: "Roboto", sans-serif !important;
            font-size: 15px;
            color: #666;
        }

        .download-doc-icon {
            font-size: 22px;
            color: #a3a3a3;
        }
    }
}

.uploaded-documents-container {
    background: #fff;
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;

    ion-col {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        .uploaded-doc-holder {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #fff;
            border: 1px solid #e6e6e6;
            border-radius: 8px;
            padding: 10px;

            .uploaded-doc-name {
                font-family: "Roboto", sans-serif !important;
                font-size: 15px;
                color: #666;
            }

            span {
                display: flex;

                .remove-doc {
                    font-size: 22px;
                    color: #ff0000;
                }
            }
        }
    }
}

.acc-card {
    // padding: 10px 15px;
    // box-shadow: none !important;
    // background-color: #f5f5f5 !important;
    // margin: 10px 0px;
    padding: 10px 15px;
    box-shadow: none !important;
    background-color: #ededed !important;
    border: 1px solid #dfdfdf;
    margin: 10px 0px;
    color: #545454;

    ion-label {
        font-size: 16px;
        font-weight: 500;
    }

    ion-icon {
        // color: #737373;
        color: #858585;
        vertical-align: middle;
        font-size: 18px;
    }
}

.chatlist_content {
    --padding-top: 0px !important;
    --padding-bottom: 0px !important;
    --padding-start: 0px !important;
    --padding-end: 0px !important;
    --inner-padding-end: 0;

    app-about-info {
        width: 100% !important;
    }
}

.consumer-about-form {
    padding: 0px 15px;

    ion-row {
        ion-col {
            .contact-phone-input {
                --padding-start: 55px;
            }

            ion-input {
                border: 1px solid #e6e6e6 !important;
                border-radius: 6px;
                --padding-start: 15px;
                --padding-end: 15px;
                margin-top: 10px;
                color: #1c1c1c !important;
            }

            ion-select {
                border: 1px solid #e6e6e6 !important;
            }

            ion-datetime {
                border: 1px solid #e6e6e6 !important;
            }

            ion-textarea {
                border: 1px solid #e6e6e6 !important;
            }
        }
    }
}

.about-label {
    color: #000;
    margin-top: 15px;
    white-space: pre-wrap;
    line-height: 18px;
    margin-left: 10px;
    max-width: 100%;
    vertical-align: middle;
    align-self: center;
}

ion-checkbox {
    align-self: center;
    vertical-align: middle;
}

ion-input {
    background: #f3f3f3;
    border-radius: 10px;
    border: none !important;
    height: 50px;
    --padding-start: 15px;
    --padding-end: 15px;
}

ion-textarea {
    background: #f3f3f3;
    border-radius: 10px !important;
    border: none !important;
    min-height: 150px;
    --padding-start: 15px;
    --padding-end: 15px;
}

ion-datetime {
    border: none !important;
    background: #f3f3f3 !important;
    border-radius: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    height: 50px;
}

ion-select {
    background: #f3f3f3;
    border-radius: 10px;
    border: none;
    color: #222;
    height: 50px;
    --placeholder-opacity: 0.6;
    --padding-start: 15px;
    --padding-end: 15px;
    width: 100%;
}

.consumer-about-form {
    ion-row {
        ion-col {
            .consumer-about-calendar-icon {
                font-size: 25px;
                color: #828282 !important;
                float: right;
                position: absolute;
                right: 18px;
                bottom: 18px;
            }
        }
    }
}

ion-toggle {
    --background: #c8cfda;
    --background-checked: #c9edff;
    --handle-background-checked: #0077b5;
    --handle-width: 25px;
    --handle-height: 25px;
    --handle-background: #fff;
    --ion-color-base: #0077b5 !important;
    --handle-spacing: 3px;
    padding: 0;
    width: 65px;
    height: 30px;
}

.ca-toggle-switch {
    float: right;
    width: 65px;
    height: 30px;
    padding-inline: 0;
}

.ca-add-to-additional-cal {
    ion-checkbox {
        vertical-align: middle;
        --border-radius: 50px;
        --border-color: #fff;
        --background: #e6e6e6;
        --background-checked: #0077b5;
        --border-color-checked: #0077b5;
        width: 32px;
        height: 32px;
    }
}

ion-checkbox {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    --border-radius: 50px;
    --border-color: #e6e6e6;
    --background: #e6e6e6;
    --background-checked: #0077b5;
    --border-color-checked: #0077b5;
    --border-width: 2px;
    --checkmark-width: 2px;
}

ion-footer {
    padding: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .publish-btn {
        text-transform: capitalize;
        height: 45px;
        --border-radius: 50px;
        --background: #0077b5;
        --box-shadow: none;
        --padding-start: 30px;
        --padding-end: 30px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 400;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;

        ion-icon {
            display: none;
        }
    }
}

.top-consumer-info-sec {
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 10px;

    ion-avatar {
        width: 50px;
        height: 50px;
    }
}

.ab-sec-consumer-type {
    ion-segment-button {
        --background: #f2f2f2;
        --background-checked: #0077b5;
        --indicator-box-shadow: none;
        --indicator-color: #0077b5;
        padding: 2px;
        --color-checked: #fff;
        --color: #4f4f4f;
        font-size: 16px;
        font-weight: normal;
        border-radius: 6px;
        max-width: 114px !important;
        min-height: 32px;
        margin-left: 20px;
        --border-width: 0px;
        --indicator-height: auto;

        &:first-child {
            margin-left: 0px;
        }

        ion-label {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
}

ion-segment-button {
    &:first-child {
        margin-left: 0px;
    }

    ion-label {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.text_color {
    opacity: 1 !important;
}

.d-share {
    --innerpadding-end: 0px;

    .about-label {
        margin-left: 15px !important;
    }
}

/*------------------------------------ New codes starts here ---------------------------------------*/

.ion-header-inner {
    background: #fff;
    min-height: 90px;
    padding: 15px 15px 0;
    color: #222;
    align-self: center;
    align-items: center;
    align-content: center;
    display: flex;
    box-shadow: none;
}

.profile-details-box {
    background: #0077b5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 120px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;

    ion-avatar {
        width: 100px;
        height: 100px;
        border: 5px solid #fff;
        position: absolute;
        top: 0;
    }

    .consumer-name {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        display: block;
        margin-top: 45px;
    }

    .agedcare-name {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #fff;
        display: block;
        margin-top: 2px;
    }

    .room-wingname {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #fff;
        display: block;
        margin-top: 2px;
    }

    .dob {
        display: flex;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #fff;
        margin-top: 6px;

        i {
            font-size: 20px;
            margin-right: 5px;
            vertical-align: middle;
        }
    }

    .gender {
        width: 100%;
        display: block;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #fff;
        margin-top: 6px;
        margin-left: auto;
        margin-right: auto;

        .gender-icon {
            max-width: 20px;
            margin-right: 5px;
            vertical-align: middle;
        }
    }
}

.consumer-about-form {
    ion-row {
        margin-bottom: 10px !important;
    }
}

.uploaded-images-container-1 {
    .uploaded-data {
        margin: 10px;
        border: 1px solid #c3c3c3;
        border-radius: 10px;

        .uploaded-image {
            width: 50px;
            height: 50px;

            ion-icon {
                font-size: 25px;
                color: #c30009;
                position: absolute;
                top: -10px;
            }
        }
    }
}

@media only screen and (min-width: 700px) {
    .uploaded-documents-container ion-col {
        margin: 0 !important;
        padding: 5px;
    }

    .uploaded-docs-container {
        margin: 0 !important;
        padding: 5px;
    }
}

/*------------------------------------ New codes ends here ---------------------------------------*/
