ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
}

.row .col {
  flex: 1;
}

.row .col:last-child {
  margin-left: 0;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  background-color: #f9f9f9;
  margin-bottom: 2px;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  color: #9a9a9a;
  /* Icon */
}

.tab-label:hover {
  background: transparent;
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
  color: #9a9a9a;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #ececec;
  background: white;
  transition: all .35s;
}

.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #ececec;
  cursor: pointer;
}

.tab-close:hover {
  background: lightgray;
}

input:checked + .tab-label {
  background: transparent;
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 0em 1em;
}

.remove-img {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0px;
  left: 48px;
  z-index: 999;
}

.remove-file {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0px;
  color: black;
  z-index: 999;
}

.uploaded-data {
  margin: 10px;
}

.uploaded-data .uploaded-image {
  width: 50px;
  height: 50px;
}

.uploaded-data .uploaded-image ion-icon {
  font-size: 25px;
  color: #9a9a9a;
}

.uploaded-images-container {
  background-color: #607d8b;
  border-radius: 6px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.uploaded-images-container .uploaded-image ion-icon {
  font-size: 25px;
  color: #9a9a9a;
}

.acc-card {
  padding: 10px 15px;
  box-shadow: none !important;
  background-color: #f5f5f5 !important;
  margin: 10px 0px;
}

.acc-card ion-label {
  font-size: 16px;
  font-weight: 500;
}

.acc-card ion-icon {
  color: #737373;
}

.chatlist_content {
  --padding-top: 0px !important;
  --padding-bottom: 0px !important;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  --inner-padding-end: 0;
}

.chatlist_content app-about-info {
  width: 100% !important;
}

.consumer-about-form ion-row ion-col ion-input {
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  --padding-start: 15px;
  --padding-end: 15px;
  margin-top: 10px;
  color: #1c1c1c !important;
}

.consumer-about-form ion-row ion-col .contact-phone-input {
  --padding-start: 55px;
}
