<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>About</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile-details-box">

    <ion-avatar (click)="selectProfile()">

      <img [src]="img">

    </ion-avatar>

    <ion-label class="consumer-name">{{name}}</ion-label>

    <!-- <ion-label class="agedcare-name">ABC Agedcare</ion-label>

    <ion-label class="room-wingname">220 B, Apple Blossom</ion-label> -->

    <ion-label class="dob"> <i class="las la-calendar"></i> DOB : {{dob | dateformat:'DD-MM-YYYY'}}
      <span *ngIf="consumer.age"> ({{consumer.age}})</span> </ion-label>

    <ion-label class="gender"> <img class="gender-icon" src="assets/residents/gender-icon.svg"> Gender :
      <span *ngIf="consumer.gender">{{consumer.gender.gender}}</span></ion-label>
    <!-- <span *ngIf="gender==1">Female</span>
      <span *ngIf="gender==2">Other</span> </ion-label> -->

  </div>

  <!-- <ion-avatar class="cp-pic-container" (click)="selectProfile()">


    <img [src]="img">

    <ion-icon name="create-outline"></ion-icon>


  </ion-avatar> -->

  <!-- <ion-card class="blue_card acc-card" (click)="openList(1)">
    <ion-row style="flex-wrap:nowrap">


      <ion-col size="11" class="dis_flex">
        <ion-label>Personal Info</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-card>


  <ion-item lines="none" color="none" *ngIf="expanded1" class="chatlist_content">
    <app-about-info expandHeight="700px" [expanded1]="expanded1">
      <ion-grid class="consumer-about-form">

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">First Name</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-input [(ngModel)]="fname" [readonly]="utype==2||utype==3"></ion-input>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Last Name</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-input [(ngModel)]="lname" [readonly]="utype==2||utype==3"></ion-input>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Date of Birth</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-datetime value="2020-10-31T15:43:40.394Z" displayFormat=" DD MMM YYYY" display-timezone="utc"
              [(ngModel)]="dob" [readonly]="utype==2||utype==3">
            </ion-datetime>

            <ion-icon class="consumer-about-calendar-icon" name="calendar-clear-outline"></ion-icon>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Gender</ion-label>

          </ion-col>

          <ion-col>

            <ion-segment class="gender-type text_color" [(ngModel)]="gender" [disabled]="utype==1">

              <ion-segment-button class="text_color" value="0" [class.gender_selected]="gender==0"
                [class.gender_not_selected]="gender!=0">
                <ion-label>Male</ion-label>
              </ion-segment-button>

              <ion-segment-button class="text_color" value="1" [class.gender_selected]="gender==1"
                [class.gender_not_selected]="gender!=1">
                <ion-label>Female</ion-label>
              </ion-segment-button>

              <ion-segment-button class="text_color" value="2" [class.gender_selected]="gender==2"
                [class.gender_not_selected]="gender!=2">
                <ion-label>Other</ion-label>
              </ion-segment-button>

            </ion-segment>

          </ion-col>

        </ion-row>


      </ion-grid>
    </app-about-info>
  </ion-item> -->

  <ion-card class="blue_card acc-card" (click)="openList(2)">
    <ion-row style="flex-wrap:nowrap">


      <ion-col size="11" class="dis_flex">
        <ion-label>Additional Information</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-card>


  <ion-item lines="none" color="none" *ngIf="expanded2" class="chatlist_content">
    <app-about-info expandHeight="700px" [expanded2]="expanded2">
      <ion-grid class="consumer-about-form">

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Site</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-item lines="none" color="none" class="select-facilities">
              <ion-select class="text_color" [(ngModel)]="branch1" [selectedText]="branch1" interface="action-sheet"
                (ionChange)="setBranch(branch1)" [disabled]="(utype==2||utype==3)&&!edit">
                <ion-select-option value="{{item.name}}" *ngFor="let item of branch">{{item.name}}</ion-select-option>

              </ion-select>
            </ion-item>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Wing</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-item lines="none" color="none" class="select-facilities">
              <ion-select class="text_color" [(ngModel)]="wingId"  
                [disabled]="(utype==2||utype==3)&&!edit" interface="action-sheet">
                <ion-select-option value="{{item.id}}" *ngFor="let item of wingArray">{{item.wing}}
                </ion-select-option>

              </ion-select>
            </ion-item>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Resident Type</ion-label>

          </ion-col>

          <ion-col>

            <ion-segment class="ab-sec-consumer-type text_color" [disabled]="utype==1&&!edit">

              <ion-segment-button class="text_color" value="male" [class.con_selected]="con_type==3"
                (click)="changeType(3)">
                <span>Permanent</span>
              </ion-segment-button>

              <ion-segment-button class="text_color" value="female" [class.con_selected]="con_type==4"
                (click)="changeType(4)">
                <span>Respite</span>
              </ion-segment-button>

            </ion-segment>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Room No.</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-input [(ngModel)]="room" [readonly]="(utype==2||utype==3)&&!edit"></ion-input>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Admission Date</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-datetime value="" displayFormat=" DD MMM YYYY" display-timezone="utc" [(ngModel)]="adm_date" disabled>
            </ion-datetime>

            <ion-icon class="consumer-about-calendar-icon" name="calendar-clear-outline"></ion-icon>

          </ion-col>

        </ion-row>

        <ion-row class="mb-zero">

          <ion-col class="opt-label" size="12">

            <ion-label class="label-black display-inline-block">Status</ion-label>

            <ion-toggle class="ca-toggle-switch display-inline-block text_color" [checked]="status==1"
              [disabled]="utype==1&&!edit" [(ngModel)]="status">
            </ion-toggle>

          </ion-col>

        </ion-row>

      </ion-grid>
    </app-about-info>
  </ion-item>



  <ion-card class="blue_card acc-card" (click)="openList(3)">
    <ion-row style="flex-wrap:nowrap">


      <ion-col size="11" class="dis_flex">
        <ion-label>Other Information</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-card>


  <ion-item lines="none" color="none" *ngIf="expanded3" class="chatlist_content">
    <app-about-info expandHeight="700px" [expanded3]="expanded3">
      <ion-grid class="consumer-about-form">

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Username</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-input [(ngModel)]="user_name" [readonly]="!edit"></ion-input>

          </ion-col>

        </ion-row>


        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black">Gender</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-item lines="none" color="none" class="select-facilities">
              <ion-select class="text_color" [(ngModel)]="gender" [disabled]="(utype==2||utype==3)&&!edit"
                interface="action-sheet">
                <ion-select-option value="{{item.gender_id}}"
                  *ngFor="let item of genderArray">{{item.gender}}</ion-select-option>

              </ion-select>
            </ion-item>

          </ion-col>

        </ion-row>


        <ion-row>

          <ion-col size="12">

            <ion-icon name="call-outline" class="form-icon"></ion-icon>

            <ion-label class="label-black display-inline-block">Contact Phone</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-input class="contact-phone-input" [(ngModel)]="phone" [readonly]="!edit"></ion-input>

            <span class="country-code">+61</span>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-icon name="mail-outline" class="form-icon"></ion-icon>

            <ion-label class="label-black display-inline-block">Email</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-input [(ngModel)]="email" [readonly]="!edit"></ion-input>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black display-inline-block">Description</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-textarea rows="15" [(ngModel)]="description" [readonly]="!edit"></ion-textarea>

          </ion-col>

        </ion-row>

        <ion-item lines="none" color="none" class="d-share">

          <ion-checkbox mode="ios" [(ngModel)]="consent" [disabled]="!edit"></ion-checkbox>

          <ion-label class="about-label">Don't share photos publicly </ion-label>

        </ion-item>


        <ion-item lines="none" color="none" class="d-share">

          <ion-checkbox mode="ios" [(ngModel)]="share" (ionChange)="shareDetails($event)"
            [disabled]="!edit"></ion-checkbox>

          <ion-label class="about-label">Don't share details to family</ion-label>

        </ion-item>

        <ion-row *ngIf="share">
          <ion-col size="12">
            <!-- <ion-item lines="none" color="none" class="select-facilities">
              <ion-select placeholder="Select family members" [(ngModel)]="family" (ionChange)="selectFamily(family)"
                multiple="true" [disabled]="!edit" interface="action-sheet">
                <ion-select-option value="{{item.id}}" *ngFor="let item of familyArray">{{item.name}}
                </ion-select-option>

              </ion-select>
            </ion-item> -->
            <ion-item lines="none" color="none" class="select-facilities" (click)="openSelector(selector1)">
              <ion-select placeholder="Select family members" [(ngModel)]="family" #selector1
                style="pointer-events: none" [interfaceOptions]="customAlertOptions" multiple="true" [disabled]="!edit"
                interface="action-sheet">
                <ion-select-option value="{{item.id}}" *ngFor="let item of familyArray">{{item.name}}
                </ion-select-option>

              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>



      </ion-grid>
    </app-about-info>
  </ion-item>

  <ion-card class="blue_card acc-card" (click)="openList(4)">
    <ion-row style="flex-wrap:nowrap">


      <ion-col size="11" class="dis_flex">
        <ion-label>Enter Likes, Dislikes & Interests</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-card>


  <ion-item lines="none" color="none" *ngIf="expanded4" class="chatlist_content">
    <app-about-info expandHeight="700px" [expanded4]="expanded4">
      <ion-grid class="consumer-about-form">

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black display-inline-block">Likes</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-textarea rows="7" [(ngModel)]="likes" [readonly]="!edit"></ion-textarea>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black display-inline-block">Dislikes</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-textarea rows="7" [(ngModel)]="dislikes" [readonly]="!edit"></ion-textarea>

          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="12">

            <ion-label class="label-black display-inline-block">Interests</ion-label>

          </ion-col>

          <ion-col size="12">

            <ion-textarea rows="7" [(ngModel)]="interest" [readonly]="!edit"></ion-textarea>

          </ion-col>

        </ion-row>

      </ion-grid>
    </app-about-info>
  </ion-item>


  <ion-card class="blue_card acc-card" (click)="openList(5)">
    <ion-row style="flex-wrap:nowrap">


      <ion-col size="11" class="dis_flex">
        <ion-label>Additional Documents</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-card>


  <ion-item lines="none" color="none" *ngIf="expanded5" class="chatlist_content">
    <app-about-info expandHeight="700px" [expanded5]="expanded5">
      <ion-grid class="consumer-about-form">

        <ion-row class="upload-files mt-zero" *ngIf="edit">

          <ion-col size="4">

            <div class="ion-activatable ripple-parent uf-container" (click)="selectImage()">
              <img src="assets/image-icon.svg">
              <ion-label class="label-black">Image</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </div>

          </ion-col>


          <ion-col size="4">

            <div class="ion-activatable ripple-parent uf-container" (click)="selectDoc()">
              <img src="assets/document-icon.svg">
              <ion-label class="label-black">Document</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </div>

          </ion-col>

        </ion-row>

        <ion-grid *ngIf="hasAttach">

          <ion-row style="width:100%" *ngIf="mediaResponse.length>0 && isMedia">

            <ion-col class="uploaded-docs-container" size="12" size-md="6" size-lg="6" size="12" *ngFor="let item of mediaResponse;let i=index"
            (click)="openDoc(item.doc)">

              <div class="uploaded-docs-holder">

                <ion-label class="uploaded-document-name">{{item.name}}</ion-label>
                <ion-icon class="download-doc-icon" name="arrow-down-circle"></ion-icon>

              </div>

            </ion-col>

          </ion-row>

          <ion-row class="uploaded-images-container-1" *ngIf="imageResponse.length>0 && isImg">

            <ion-col size="12" class="col_fit uploaded-data" *ngFor="let item of imageResponse;let i=index">

              <ion-thumbnail class="uploaded-image">
                <img src="{{item}}">
                <ion-icon name="close-circle" class="remove-img" (click)="removeImg(i)" *ngIf="edit"></ion-icon>
              </ion-thumbnail>

            </ion-col>
          </ion-row>

          <!-- <ion-row class="uploaded-images-container" style="width:100%" *ngIf="docResponse.length>0 && isDoc">

            <ion-col size="12" *ngFor="let item of docResponse;let i=index" (click)="removeDoc(i)">

              <ion-label style="color: #000;">{{item.name}}
                <span *ngIf="edit">
                  <ion-icon name="close-circle" class="remove-file"></ion-icon>
                </span>
              </ion-label>

            </ion-col>
          </ion-row> -->

          <ion-row class="uploaded-documents-container" *ngIf="docResponse.length>0 && isDoc">

            <ion-col size="12" size-md="6" size-lg="6" size="12" *ngFor="let item of docResponse;let i=index" (click)="removeDoc(i)">

              <div class="uploaded-doc-holder">

                <ion-label>{{item.name}}</ion-label>

                <span *ngIf="edit">
                  <ion-icon name="close-circle" class="remove-doc"></ion-icon>
                </span>

              </div>

            </ion-col>

          </ion-row>


        </ion-grid>
      </ion-grid>
    </app-about-info>
  </ion-item>

</ion-content>

<ion-footer class="ion-no-border" *ngIf="edit">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" (click)="finish()">
      <ion-icon name="checkmark-outline"></ion-icon> Save
    </ion-button>
  </ion-toolbar>
</ion-footer>