ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background: #efefef;
}

.service-list-card {
    box-shadow: none !important;
    border: 1px solid #dfdfdf;
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 140px;
    margin: 5px;
    position: relative;

    .beta-tag {
        position: absolute;
        top: -5px;
        right: -6px;
        z-index: 9999;
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        background: #ff0000;
        color: #ffffff;
        max-height: 20px;
        padding: 5px 8px;
        border-radius: 0px 10px 0px 10px;
    }

    ion-icon,
    i {
        font-size: 30px;
        color: #545454;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .activity-icon {
        background: #cfefec;
        color: #0daf9f;
        padding: 15px;
        border-radius: 50px;
    }

    .maintenance-icon {
        background: #fdf6bc;
        color: #cf9c02;
        padding: 15px;
        border-radius: 50px;
        max-width: fit-content;
    }

    .services-icon {
        background: #ffe0ee;
        color: #df3b91;
        padding: 15px;
        border-radius: 50px;
        max-width: fit-content;
    }

    .feedback-icon {
        background: #dfffe2;
        color: #13a120;
        padding: 15px;
        border-radius: 50px;
    }

    .tasks-icon {
        background: #efefef;
        color: #7a7a7a;
        padding: 15px;
        border-radius: 50px;
    }

    ion-label {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        color: #545454;
        margin-top: 15px;
        text-align: center;
        display: block;
    }
}

@media only screen and (min-width: 360px) and (max-width: 375px) {
    .service-list-card {
        padding: 15px !important;

        ion-label {
            font-size: 16px !important;
        }
    }
}
