<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()">
          </ion-icon>
          <ion-label>Services</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end">
          <!-- <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button> -->
          <!-- <ion-button class="filter-task-btn">
            <ion-icon name="funnel-outline"></ion-icon>
          </ion-button> -->
          <!-- <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button> -->
        </ion-col>

      </ion-row>

      <!-- <ion-row>

        <ion-col size="12">

          <ion-searchbar class="hdr-task-searchbar"></ion-searchbar>

        </ion-col>

      </ion-row> -->

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>

    <ion-col size="6" size-md="4" size-lg="4" size-sm="6" *ngIf="modules.includes('Activity')&&act_view">

      <ion-card class="service-list-card" [routerLink]="['/rv-service-activities',{cid:cid,id:id}]">

      <!-- <ion-card class="service-list-card"> -->

        <ion-icon class="activity-icon" name="pulse-outline"></ion-icon>
        <ion-label>Activity</ion-label>

      </ion-card>

    </ion-col>

    <ion-col size="6" size-md="4" size-lg="4" size-sm="6" *ngIf="modules.includes('Maintenance')&&maintenance_view">

      <ion-card class="service-list-card" [routerLink]="['/rv-service-maintenance',{cid:cid,id:id}]">
      <!-- <ion-card class="service-list-card"> -->

        <i class="las la-tools maintenance-icon"></i>
        <ion-label>Maintenance</ion-label>

      </ion-card>

    </ion-col>

    <ion-col size="6" size-md="4" size-lg="4" size-sm="6">

      <ion-card class="service-list-card" >
      <!-- <ion-card class="service-list-card"> -->

        <ion-chip class="beta-tag">Beta</ion-chip>

        <i class="las la-calendar-plus services-icon"></i>
        <ion-label>Services</ion-label>

      </ion-card>

    </ion-col>

    <ion-col size="6" size-md="4" size-lg="4" size-sm="6" *ngIf="modules.includes('PCF')&&feedback">

      <ion-card class="service-list-card" [routerLink]="['/rv-service-feedback',{cid:cid,id:id}]">
      <!-- <ion-card class="service-list-card"> -->

        <ion-icon name="star-outline" class="feedback-icon"></ion-icon>
        <ion-label>Feedback</ion-label>

      </ion-card>

    </ion-col>

    <!-- <ion-col size="6" size-md="4" size-lg="4" size-sm="6" *ngIf="task_view">

      <ion-card class="service-list-card" [routerLink]="['/rv-service-tasks',{cid:cid,id:id}]">
      

        <ion-icon name="clipboard-outline" class="tasks-icon"></ion-icon>
        <ion-label>Tasks</ion-label>

      </ion-card>

    </ion-col> -->

  </ion-row>

</ion-content>