<ion-header no-padding color="none" class="ion-header-inner">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none" class="no-border">
    <!-- <ion-buttons>
      <ion-back-button style="color: white;" (click)="back()" text=""></ion-back-button>
    </ion-buttons> -->

    <ion-item class="chat_window" lines="none" color="none">

      <ion-buttons mode="md">
        <ion-back-button style="color: white; display: flex;" (click)="back()" text=""></ion-back-button>
      </ion-buttons>

      <ion-avatar>
        <img [src]="pic">
      </ion-avatar>

      <ion-label>{{name}}
        <span *ngIf="room!='null'">{{room}}, {{wing}}</span>

        <span *ngIf="fam!='null'">{{rel}} - {{fam}}</span>

      </ion-label>

      <!-- <ion-icon src="/assets/messaging/video_call_icon.svg" (click)="virtualMeet()"></ion-icon> -->
      <ion-icon src="/assets/messaging/more_btn_white.svg" (click)="options($event)" *ngIf="deleteStatus">
      </ion-icon>


    </ion-item>

  </ion-toolbar>
  <!-- <ion-toolbar color="none" style="height: 20px;" class="no-border"></ion-toolbar> -->


</ion-header>

<ion-content class="conversation_area" #content>


  <ion-grid style="padding-inline-start: 0; padding-inline-end: 0;">
    <div class="msgarea" id="chatArea" #ms></div>

    <div class="text-area" id="textmsg"></div>
  </ion-grid>


</ion-content>



<ion-footer color="none" no-border>


  <ion-item lines="none" color="none" class="msg-controls-sec">

    <ion-textarea class="input_message" maxlength="256" style="margin-top:0px" clearOnEdit="true" auto-grow="true"
      rows="1" name="inputMessage" placeholder="Type here" [(ngModel)]="inputMessage"></ion-textarea>


    <span class="message-option-box">

      <ion-icon class="msg-attach" name="attach-outline" (click)="selectAttach()"></ion-icon>
      <ion-icon class="msg-cam" name="camera-outline" (click)="openCamera()"></ion-icon>

      <!-- <ion-icon class="input_paperclip" (click)="selectAttach()"></ion-icon>
      <ion-icon class="input_camera" (click)="openCamera()"></ion-icon> -->
    </span>




    <div class="send-btn-box">

      <!-- <ion-icon class="input_mic ion-activatable ripple-parent" src="/assets/send_btn.svg" (click)="sendMessage()">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-icon> -->

      <ion-button (click)="sendMessage()" [disabled]="disable">
        <img src="/assets/send_btn.svg">
      </ion-button>

    </div>
  </ion-item>
  <!-- <ion-item [ngStyle]="keyboardStyle" color="none" lines="none" *ngIf="key"></ion-item> -->

</ion-footer>