.chat_window {
  --padding-start: 0px;
  --inner-padding-end: 0px;
}

.chat_window ion-icon:last-child {
  margin-right: 10px;
  font-size: 28px;
  margin-left: 5px;
}

.chat_window ion-avatar {
  margin-left: 10px;
}

.chat_window ion-label {
  white-space: normal;
}
