.chat_window {
    --padding-start: 0px;
    --inner-padding-end: 0px;

    ion-icon:last-child {
        margin-right: 10px;
        font-size: 25px;
        margin-left: 5px;
    }

    ion-avatar {
        margin-left: 0px;
    }

    ion-label {
        white-space: normal;
        margin-left: 15px;
    }
}

ion-footer {

    .msg-controls-sec {
        width: 100%;
        display: inline-flex;
        --padding-start: 10px;
        --inner-padding-end: 10px;
        --padding-top: 10px;
        --padding-bottom: 8px;
        align-items: center;
        background: #fff;

        .input_message {
            --padding-top: 10px;
            --padding-end: 84px;
            --padding-bottom: 10px;
            --padding-start: 12px !important;
            background: #f1f1f1;
            border-radius: 6px;
            min-height: 45px;
            margin-right: 0;
            font-family: "Roboto", sans-serif;
        }

        .message-option-box {
            position: absolute;
            z-index: 9999;
            // right: 100px;
            right: 75px;
            top: 10px;

            .msg-attach {
                font-size: 25px;
                transform: rotate(45deg);
                color: #9e9e9e;
            }

            .msg-cam {
                font-size: 25px;
                color: #9e9e9e;
                margin-left: 15px;
            }
        }

        .send-btn-box {
            align-self: flex-end;
            align-items: center;
            display: flex;
            max-width: fit-content;
            padding-top: 0px;
            padding-bottom: 3px;
            padding-right: 0px;

            ion-button {
                width: 45px;
                height: 45px;
                font-size: 25px;
                margin: 0px 0px 0px 10px;
                --background: #0077b5;
                --box-shadow: none;
                --border-radius: 50px;
                --padding-start: 3px;
                --padding-end: 5px;
                --padding-top: 1px;
            }
        }
    }

}

ion-footer {
    background: #fff;
    box-shadow: none !important;
}
