sc-ion-popover-ios {
  border-radius: 10px;
  width: 25% !important;
}

.popover-arrow.sc-ion-popover-ios::after {
  display: none;
}

.participant-container {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.participant-container:last-of-type {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: none;
}

.cp-info-container ion-col ion-icon {
  font-size: 22px;
  color: #4c4c4c;
}

.cp-info-container ion-col p {
  font-size: 16px;
  color: #232323;
}

.cp-info-container ion-col:first-of-type {
  align-self: center;
}

.cp-info-container ion-col:nth-of-type(2) {
  padding-left: 10px;
}
