<ion-header class="ion-header-inner">
  
  <ion-toolbar color="none" lines="none" class="no-border">
    
    <ion-grid>
      
      <ion-row class="display-space-between">
        
        <ion-col class="col-fit ion-align-self-start page-name">
          
          <ion-label *ngIf="call == 1">Participants</ion-label>
          
          <ion-label *ngIf="call == 0">Visitors list</ion-label>

        </ion-col>

        <ion-col class="col-fit ion-align-self-start page-name">

          <ion-button class="close-modal-btn" (click)="cancel()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- <ion-button class="close-modal" (click)="cancel()">
    <ion-icon  name="close-outline" ></ion-icon>
 </ion-button> -->
<!-- <ion-row>
  <ion-col size="12" style="text-align: right;">

    <ion-icon style="font-size: 25px;" name="close-circle-outline" (click)="cancel()"></ion-icon>

  </ion-col>
</ion-row> -->

<!-- <ion-item lines="none" style="margin-top: 10px;width: 100%;margin-bottom: 10px; display:flex;">
  <ion-label *ngIf="call==1"
    style="font-weight: 500;margin-right: auto;margin-left: auto;text-align: center;align-self: center;font-size:20px"
    color="primary">Participants</ion-label>
    <ion-label *ngIf="call==0"
    style="font-weight: 500;margin-right: auto;margin-left: auto;text-align: center;align-self: center;font-size:20px"
    color="primary">Visitors list</ion-label>
</ion-item> -->

<ion-card class="rel_details_card">
  <ion-grid *ngIf="mem.length>0">
    <div *ngFor="let item of mem" class="participant-container" >
      <ion-row>
        <ion-col style="max-width: fit-content !important;">
          <ion-avatar style="width:42px; height: 42px;">
            <img [src]="item.contact.user_details.profile_pic">
          </ion-avatar>
        </ion-col>
        <ion-col style="align-self: center !important;">
          <ion-label class="relprofile_consumer_name1">{{item.contact.user_details.name}}</ion-label>
          <p class="relation">{{item.contact.relation}}</p>
        </ion-col>
      </ion-row>

      <ion-row class="cp-info-container" *ngIf="item.contact.user_details.phone!=null">

        <ion-col size="2" class="col-fit" >
          <ion-icon name="call-outline"></ion-icon>
        </ion-col>

        <ion-col size="10">
          <p class="cblack">&nbsp;{{item.contact.user_details.phone}}</p>
        </ion-col>

      </ion-row>

      <ion-row class="cp-info-container" *ngIf="item.contact.user_details.email">

        <ion-col size="2" class="col-fit">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-col>

        <ion-col size="10">
          <p class="cblack">&nbsp;{{item.contact.user_details.email}}</p>
        </ion-col>

      </ion-row>

    </div>
  </ion-grid>


  <ion-item lines="none" style="margin-top: 10px;width: 100%;margin-bottom: 10px; display:flex;" *ngIf="call==0&&mem.length>0&&other_mem.length&&other_mem.length>0">
    <ion-label 
      style="font-weight: 500;margin-right: auto;margin-left: auto;text-align: center;align-self: center;font-size:20px"
      color="primary">Other visitors</ion-label>
      
  </ion-item>
  <ion-grid *ngIf="call==0&&other_mem.length&&other_mem.length>0">
    <div *ngFor="let item of other_mem" class="participant-container">
      <ion-row>
        <ion-col style="max-width: fit-content !important;">
          <ion-avatar style="width:42px; height: 42px;">
            <img src="assets/user_pic.png">
          </ion-avatar>
        </ion-col>
        <ion-col style="align-self: center !important;">
          <ion-label class="relprofile_consumer_name1">{{item.visitor_name}}</ion-label>
          
        </ion-col>
      </ion-row>

    </div>
  </ion-grid>
</ion-card>

</ion-content>