<ion-content>

  <div class="din-alertmodal-container">

    <ion-button class="modal-close-btn" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>

    <ion-label class="modal-title">Mark leave</ion-label>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="mark-leave-dt-box">

        <ion-label>Date</ion-label>
        <ion-datetime value="2020-10-31T15:43:40.394Z" [min]="minDate" displayFormat=" DD MMM YYYY"
          display-timezone="utc" [(ngModel)]="date" mode="md">
        </ion-datetime>
        <i class="las la-calendar ml-dt-icon"></i>

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="mark-leave-dt-box">

        <ion-label>To</ion-label>
        <ion-datetime value="2020-10-31T15:43:40.394Z" [max]="minDate" displayFormat=" DD MMM YYYY"
          display-timezone="utc">
        </ion-datetime>
        <i class="las la-calendar ml-dt-icon"></i>

      </ion-col> -->

    </ion-row>


    <div class="din-modal-btn-box">

      <ion-button class="din-modal-continue-btn" (click)="continue()"> Continue </ion-button>

      <ion-button class="din-modal-cancel-btn" (click)="dismiss()"> Cancel </ion-button>

    </div>


  </div>

</ion-content>