ion-content {
    --padding-start: 25px;
    --padding-end: 25px;
    --padding-top: 25px;
    --padding-bottom: 25px;
}

.din-alertmodal-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    .din-confirm-icon {
        width: 128px;
        height: 128px;
    }

    .modal-title {
        font-size: 18px;
        font-weight: 600;
        color: #222;
        margin-top: 0;
        margin-bottom: 20px;

    }

    ion-row {
        width: 100%;

        .mark-leave-dt-box {
            position: relative;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0px;
            }

            ion-datetime {
                border: none !important;
                color: #222;
                background: #f3f3f3 !important;
                border-radius: 10px;
                --padding-start: 15px;
                --padding-end: 10px;
                --padding-top: 15px;
                height: 50px;
                margin-top: 15px;
            }

            .ml-dt-icon {
                font-size: 25px;
                color: #707070;
                position: absolute;
                right: 15px;
                top: 58px;
                z-index: 9999;
            }
        }
    }



}