<!-- <ion-item color="none" lines="none" class="inner-filter-options1">



  <ion-select okText="Okay" cancelText="Dismiss" class="branch" [(ngModel)]="branch1" [selectedText]="branch1"
    (ionChange)="setBranch($event)">
    <ion-select-option value="{{item.name}}" *ngFor="let item of branch">{{item.name}}</ion-select-option>

  </ion-select>

</ion-item>


<ion-item color="none" lines="none">
  <ion-button (click)="dismiss()" style="margin-left: auto;
  margin-right: auto;
  --background: #0077B5
;
  --border-radius: 15px;
  --box-shadow: none;
  min-width: 80px;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: normal;
  letter-spacing: normal !important;
  text-transform: none;">Done</ion-button>
</ion-item> -->


<!-- <ion-item color="none" lines="none">
  <ion-button (click)="dismiss()" style="margin-left: auto;
  margin-right: auto;
  --background: #0077B5
;
  --border-radius: 15px;
  --box-shadow: none;
  min-width: 80px;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: normal;
  letter-spacing: normal !important;
  text-transform: none;">Done</ion-button>
</ion-item> -->

<!-- <ion-header mode="md" class="ion-header-inner">

  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-row class="display-space-between">

      <ion-col class="col-fit ion-align-self-center page-name" size="8">
        <ion-label>Select branch</ion-label>
      </ion-col>

      <ion-col class="col-fit ion-align-self-center page-close" (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-toolbar>

</ion-header> -->

<ion-header mode="md" class="ion-header-inner">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <ion-text>Select site</ion-text>

      </ion-col>

      <ion-icon class="page-close-btn" name="close-circle-sharp" (click)="dismiss()"></ion-icon>

    </ion-row>

  </ion-grid>

</ion-header>

<div class="inner-content">

  <ion-radio-group (ionChange)="setBranch($event)" [(ngModel)]="branch1" *ngIf="branch&&branch.length">

    <ion-row>
      <ion-col size="12" *ngFor="let item of branch">
        <ion-item lines="none" color="none" class="branch-option-box">
          <ion-radio mode="md" value="{{item.name}}" name=""></ion-radio>
          <ion-label>{{item.name}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-radio-group>

</div>