// .ion-header-inner {
//     min-height: auto !important;

//     ion-toolbar {
//         --min-height: auto !important;

//         .page-name {
//             ion-label {
//                 font-size: 17px;
//             }
//         }

//         .page-close {
//             min-height: 32px;
//             max-height: 35px;
//             display: flex;
//             align-items: center;

//             ion-icon {
//                 font-size: 30px;
//                 color: #fff;
//             }
//         }
//     }
// }

ion-header {
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    position: relative;
    padding: 10px 10px 10px;

    ion-grid {
        ion-row {
            position: relative;

            .page_title {
                font-family: "Roboto", sans-serif !important;
                font-size: 18px !important;
                // font-weight: 500 !important;

                ion-icon {
                    vertical-align: middle;
                    font-size: 25px;
                }

                ion-text {
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }

            .page-close-btn {
                font-size: 32px;
                color: #fff;
                vertical-align: middle;
                position: absolute;
                right: 5px;
                top: -4px;
            }
        }
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.inner-content {
    padding: 20px;
    background: #fff;
}

.branch-option-box {
    --min-height: auto;
    --padding-start: 0;
    --inner-padding-end: 0;
    margin: 5px 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;

    ion-radio {
        background: #d1d1d1;
        --border-width: 0px;
        --color-checked: #0077b5;
        border-radius: 50px;
        margin-top: 0;
        margin-bottom: 0;
    }

    ion-label {
        margin-left: 15px;
        white-space: pre-line !important;
        // font-family: 'Open Sans', sans-serif;
        font-family: "Roboto", sans-serif;
        line-height: 18px;
        color: #222;
        overflow: unset !important;
        margin-top: 0;
        margin-bottom: 0;
    }
}

ion-radio-group {
    max-height: 420px;
    overflow-y: scroll;

    ion-row {
        ion-col {
            &:last-child {
                .branch-option-box {
                    border: none;
                }
            }
        }
    }
}
