<ion-header class="ion-header-inner-2">
  <ion-toolbar color="none" lines="none" class="no-border">
 
     <ion-grid>
 
      <ion-row class="display-space-between">
 
        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/menu']"></ion-icon>
          <ion-label>Residents</ion-label>
        </ion-col>
 
        <!-- <ion-col size="6">
          
        </ion-col> -->
 
        <ion-col class="col-fit header-buttons ion-align-self-end">
 
          <!-- <ion-icon src="assets/plus-icon.svg" [routerLink]="['/rv-create-resident']" *ngIf="(type==2||type==1)&&create"></ion-icon> -->
 
          <i class="rv-cpf-icon las la-user-tie" (click)="cpFilter($event)"></i>
 
          <ion-icon src="assets/consumers-icon.svg" (click)="group($event)"></ion-icon>
 
          <!-- <ion-icon src="assets/filter-icon.svg"  (click)="filter($event)"></ion-icon> -->
 
          <i class="las la-filter" (click)="filter($event)"></i>
 
        </ion-col>
 
      </ion-row>
 
      <ion-row>
 
        <ion-col>
 
          <ion-searchbar class="clife-search-bar" placeholder="Search residents" (ionChange)="search()"
            (ionCancel)="cancel()" [(ngModel)]="terms"></ion-searchbar>
 
        </ion-col>
 
      </ion-row>
 
 
    </ion-grid>
 
  </ion-toolbar>
 </ion-header>

<ion-content [style.--padding-top]="filter_status?'75px':'10px'">

	<ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec" *ngIf="filter_status">

		<div class="show-result-box">

		  <div class="srb-inner-row">

			<div class="srb-left-sec">
			  <p>Results for : </p>
		
			</div>

			<div class="srb-right-sec">
			  <p>Showing filtered results </p>
			  <ion-icon name="close-sharp" (click)="removeFilter()"></ion-icon>
			</div>

		  </div>

		  <div class="srb-inner-row">

			<div class="filtered-results-box">

			  <ion-label class="filtered-results" *ngIf="res_type==1&&!ct_type">Active residents</ion-label>
			  <ion-label class="filtered-results" *ngIf="res_type==2&&!ct_type">Inactive residents</ion-label>
			  <ion-label class="filtered-results" *ngIf="res_type==3&&!ct_type">No contract residents</ion-label>
        <ion-label class="filtered-results" *ngIf="res_type==4&&!ct_type">Moving in soon</ion-label>
        <ion-label class="filtered-results" *ngIf="ct_type==1">Purchased</ion-label>
        <ion-label class="filtered-results" *ngIf="ct_type==2">Rental</ion-label>
     

			</div>

		  </div>

		</div>

	  </ion-fab>

	<ion-grid class="p-zero" *ngIf="consumers.length">


    <ion-row class="consumer-list-row">

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" [routerLink]="['/rv-resident-profile-landing',{id:item.id}]" *ngFor="let item of consumers ">

        <ion-row class="consumer-info-container cic">

          <ion-chip class="rv-rp-chip rv-rental" *ngIf="item.ct_type&&item.ct_type==2">Rental</ion-chip>

          <ion-col class="col-fit rv-res-avatar-col">

            <ion-avatar>
              <img [src]="item.photo">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-chip class="rv-res-away-tag" *ngIf="item.mark_away&&!markAway(item.mark_away)">Away</ion-chip>

            <ion-label>{{item.name}}

              <span *ngIf="item.property_name">{{item.property_name}}
              </span>

              <div class="rv-res-lw" *ngIf="item.living_with">
                <ion-label>Living with {{item.living_with}}</ion-label>
              </div>
            </ion-label>
            
            <div class="rv-res-position-box" *ngIf="item.position_name">
              
              <ion-chip class="rv-res-position-1 res-pos-cm-1"><ion-icon name="ellipse"></ion-icon>{{item.position_name}}</ion-chip>

            </div>
            

          </ion-col>

        </ion-row>

      </ion-col>

     

    </ion-row>


  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="consumers.length==0">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-consumers-found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Resident Found</ion-label>
    </ion-item>
  </div>

</ion-content>