.ion-header-inner-2 {
    ion-label {
        font-size: 20px;
        line-height: 22px;
    }
}

.header-buttons {
    display: flex;

    ion-icon {
        background-color: #2d95cb;
        border-radius: 50px;
        max-width: 20px;
        max-height: 20px;
        padding: 9px;
        font-size: 18px;
        margin-left: 20px;

        &:first-child {
            margin-left: 0px;
        }
    }

    i {
        background-color: #2d95cb;
        border-radius: 50px;
        max-width: 40px;
        max-height: 40px;
        padding: 9px;
        font-size: 20px;
        margin-left: 20px;
    }

    .rv-cpf-icon {
        background-color: #2d95cb;
        border-radius: 50px;
        max-width: 40px;
        max-height: 40px;
        padding: 9px;
        font-size: 20px;
        margin-left: 0px;
    }
}

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    // --padding-top: 10px;
    --padding-top: 75px;
    --padding-bottom: 10px;
    --background: #eee;
}

@media only screen and (min-width: 768px) {
    .consumer-info-container {
        ion-avatar {
            width: 60px;
            height: 60px;
        }

        ion-col {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            justify-content: center;

            &:nth-child(2) {
                margin-left: 0px !important;
                margin-top: 10px;
                padding-left: 20px !important;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                ion-label {
                    text-align: left;
                }

                .rv-res-away-tag {
                    top: -15px;
                }
            }
        }

        &.cic {
            ion-col {
                flex-direction: column !important;
                text-align: left !important;
            }
        }
    }

    @media only screen and (min-width: 700px) {
        .consumer-list-row {
            ion-col {
                padding: 10px 10px 5px 10px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .consumer-info-container {
        min-height: unset !important;
    }
}

.room-no {
    color: #545556;
    font-size: 15px;
}

.wing-name {
    color: #989898;
    font-size: 13px;
}

.consumer-info-container {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #fff;
    position: relative;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;

    .rv-res-away-tag {
        background: #ff9051;
        color: #fff;
        height: 22px;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        position: absolute;
        right: -15px;
        top: -5px;
    }

    ion-col {
        align-self: self-start;

        &:nth-child(2) {
            position: relative;
        }
    }

    ion-label {
        .rv-res-lw {
            ion-label {
                font-family: "Roboto", sans-serif;
                font-size: 13px;
                font-weight: 400 !important;
                color: #707070;
                display: block;
                margin-top: 0px;
            }
        }
    }

    .rv-res-position-box {
        width: 100%;
        // border-top: 1px dashed #bbbbbb;
        // margin-top: 8px;
        // padding-top: 5px;

        .rv-res-position {
            margin-left: 0;
            margin-top: 6px;
            display: flex;
            border-radius: 3px;
            padding: 5px 5px;
            font-family: "Roboto", sans-serif;
            font-size: 12px;
            max-width: -webkit-fit-content;
            max-width: -moz-fit-content;
            max-width: fit-content;
            height: 20px;
            background: #ededed;
            color: #8d8d8d;
        }

        .rv-res-position-1 {
            display: flex;
            border-radius: 3px;
            padding: 0;
            margin: 0;
            font-family: "Roboto", sans-serif;
            font-size: 12px;
            max-width: -webkit-fit-content;
            max-width: -moz-fit-content;
            max-width: fit-content;
            height: 17px;
            background: transparent;
            color: #8d8d8d;

            ion-icon {
                font-size: 9px;
                color: #ff1263;
                margin-right: 5px;
                margin-left: 0px;
            }

            &.res-pos-cm-1 {
                color: #ff1263;
            }
        }

        .res-pos-cm {
            // color: #e91e63;
            // background: #fff3f7;

            background-color: #ffeff5;
            color: #ff1263;
        }
    }
}

.cb-sel-contact {
    margin-bottom: 5px;
}

.p-zero {
    padding: 0;
}

.fixed-top-sec {
    // padding: 0 10px;
    padding: 0 10px;
    flex-direction: column;
    border: 1px solid #e7e7e7;

    .rv-res-cp-select {
        background: #efefef;
        color: #525252;
        border: 1px solid #dfdfdf;
        border-radius: 6px;
        --padding-top: 10px;
        --padding-end: 15px;
        --padding-bottom: 10px;
        --padding-start: 15px;
        --placeholder-opacity: 0.65;
        font-size: 16px;
        height: 40px;
        margin-top: 0;
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: fit-content;
    }

    .show-result-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 5px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;

        .srb-inner-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .srb-left-sec {
                display: flex;
                align-items: center;
                margin-top: 5px;

                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    color: #464855;
                    white-space: nowrap;
                    margin: 0;
                }

                // .filter-results {
                //     font-family: "Roboto", sans-serif;
                //     font-size: 13px;
                //     font-weight: 600;
                //     color: #464855;
                //     white-space: nowrap;
                //     padding-left: 5px;
                // }
            }

            .srb-right-sec {
                display: flex;
                align-items: center;
                border-left: 1px solid #6c6c6c;
                padding-left: 8px;
                margin-top: 5px;

                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    color: #464855;
                    margin: 0;
                }

                ion-icon {
                    color: #c13333;
                    // background: #ffd3d3;
                    border-radius: 50px;
                    // padding: 3px;
                    padding: 0 0 0 3px;
                    width: 15px;
                    height: 15px;
                }
            }

            .filtered-results-box {
                .filtered-results {
                    font-family: "Roboto", sans-serif;
                    font-size: 13px;
                    font-weight: 500;
                    color: #252525;
                    white-space: pre-line;
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 393px) {
    // .show-result-box {
    //     .srb-left-sec {
    //         width: 50%;
    //     }
    // }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
    // .fixed-top-sec {
    //     .show-result-box {
    //         .srb-left-sec {
    //             width: 53% !important;
    //         }
    //     }
    // }
}

@media only screen and (min-width: 361px) and (max-width: 375px) {
    // .fixed-top-sec {
    //     .show-result-box {
    //         .srb-left-sec {
    //             width: 55% !important;
    //         }
    //     }
    // }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-ios {
        padding-top: 15px;
    }
}
