ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --background: #f1f1f1;
}

.group_name {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 15px 5px 5px;
    display: block;
}

.wing-name {
    color: #878787;
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .consumer-info-container {
        display: flex;
        justify-content: center;
        text-align: center;
        height: 100%;

        ion-col:first-child {
            margin-bottom: 15px;
        }

        ion-col:nth-child(2) {
            padding-left: 0px !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.consumer-info-container {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #fff;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;
}

.p-zero {
    padding: 0;
}
