ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.group_name {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px 15px;
  display: block;
}

.wing-name {
  color: #878787;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .consumer-info-container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .consumer-info-container ion-col:first-child {
    margin-bottom: 15px;
  }
  .consumer-info-container ion-col:nth-child(2) {
    padding-left: 0px !important;
  }
}
