<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" [routerLink]="['/view-group',{flag:flag}]"></ion-icon>
          <ion-label>Group Members</ion-label>
        </ion-col>
        <ion-col class="col-fit header-buttons ion-align-self-end" size="4">

          <ion-icon name="create-outline" (click)="edit()"></ion-icon>

          <ion-icon name="trash-outline" (click)="delete()"></ion-icon>

        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label class="group_name">
    {{gname}}
  </ion-label>
  <ion-grid class="p-zero">

    <ion-row>

      <ion-col size-sm="12" size-md="4" size-lg="4" size="12" *ngFor="let item of members " class="mb-5">

        <ion-row class="consumer-info-container">

          <ion-col class="col-fit" size-sm="2" size-md="12" size-lg="12" size="2">

            <ion-avatar>
              <img [src]="item.user.profile_pic" *ngIf="item.user.profile_pic!=null">
              <img src="assets/user_pic.png" *ngIf="item.user.profile_pic==null">
            </ion-avatar>

          </ion-col>

          <ion-col size-sm="10" size-md="12" size-lg="12" size="10">

            <ion-label>
              {{item.user.name}}

              <span class="room-no">
                {{item.room}}
              </span>

              <span class="wing-name" *ngIf="item.wing&&flag!=='1'">
                {{item.wing.name}}
              </span>

              <span class="wing-name" *ngIf="item.property_details&&item.property_details.contract_details&&item.property_details.contract_details.property&&item.property_details.contract_details.property.location&&flag=='1'">
                {{item.property_details.contract_details.property.location.name}}
              </span>

            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>


    </ion-row>



  </ion-grid>


  <div *ngIf="members.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-consumers-found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Members Found</ion-label>
    </ion-item>
  </div>


</ion-content>