.feedback_que {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    width: 100%;
    color: #1c1c1c;
    // margin-bottom: 25px;
    padding-top: 10px;
    margin-right: 0;
    white-space: pre-line !important;
}

.arrow_button {
    border-radius: 50%;
    background-color: #0077b5;
    // height: 13px;
    // width: 13px;
    --box-shadow: none !important;
}

.very_bad_icon {
    // background-image: url(../../assets/feedback/smileys/Very-poor.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    max-width: 100%;
}

.bad_icon {
    // background-image: url(../../assets/feedback/smileys/poor.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    max-width: 100%;
}

.good_icon {
    // background-image: url(../../assets/feedback/smileys/good.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    max-width: 100%;
}

.very_good_icon {
    // background-image: url(../../assets/feedback/smileys/very-good.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    max-width: 100%;
}

.excellent_icon {
    // background-image: url(../../assets/feedback/smileys/Excellent.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    max-width: 100%;
}

// ion-col{

// }
.smiley {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
}

.label {
    font-family: "Roboto", sans-serif !important;
    font-size: 18px;
    line-height: 23px;
    font-weight: normal;
    color: #6c6c6c !important;
    display: block;
    text-align: center;
    margin-bottom: 24px;
}

.nps {
    // border-color: #0077B5;
    // border-style: solid;
    // height: 40px;
    // width: 40px;
    // border-width: 0.6px;
    // padding:8px 8px 8px 8px;
    width: 52px;
    height: fit-content;
    padding: 10px;
    text-align: center;
    color: #000;
    border: 1px solid #0077b5;
    border-radius: 10px;
    margin-left: 10px;
    align-self: center;
    display: flex;
    justify-content: center;

    ion-label {
        font-size: 25px;
        font-weight: bold;
        color: #0077b5;
    }
}

.nps:first-child {
    margin-left: 0px !important;
}

.nps-container {
    width: 100%;
    flex-wrap: nowrap;
}

.feedback_input {
    font-size: 18px;
    line-height: 33px;
    width: 100%;
    color: #1c1c1c;
    margin-bottom: 50px;
    margin-left: 8px;
    margin-top: 10px;
}

.sug_label {
    background-color: rgba(117, 212, 255, 0.5);
    color: #09648d;
    padding: 2px 6px;
    border-radius: 50px;
    margin-left: 5px;
}

ion-input {
    // border-bottom: 1px solid #cfcfcf;
    border-bottom: 0;
    color: #222;
    background: #f4f4f4;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.feedback_container {
    // border: 1px solid #0077B5;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    min-height: 300px;
    margin-bottom: 10px;

    ion-col {
        background-color: #fff !important;
        border-radius: 10px;
    }

    textarea {
        width: 100%;
        height: 190px;
        padding: 15px;
        border: none;
        border-radius: 10px;
        resize: none;
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
    }

    textarea:focus {
        outline: none !important;
    }
}

.sug-box {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    max-height: 125px;
    overflow: hidden;
    // overflow: auto;
    border-radius: 10px;
    background-color: #fff !important;
    min-width: -webkit-fill-available;
}

.sug-box .sg-title {
    text-align: left;
    position: relative;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #8c8c8c;
}

.sug-box .sg-title::after {
    content: "";
    position: absolute;
    bottom: 7px;
    right: 0;
    width: 80%;
    height: 1px;
    // background: #0077B5;
    background: #bdbdbd;
}

.sug-box ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
}

.sug-box ul li {
    margin: 3px;
    list-style: none;
}

.sug-box ul li .sug-cont {
    background: #e7f2ff;
    display: inline-block;
    padding: 3px 8px;
    border-radius: 25px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

.sug-box ul li .sug-cont span {
    margin-bottom: 0;
    color: #0077b5;
    // letter-spacing: 0.5px;
}

.survey_submit_btn {
    color: #ffffff;
    background-color: #0077b5;
    text-align: center;
    padding: 10px 15px;
    border-radius: 30px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 20px auto 0;
    text-transform: none;
    font-weight: normal;
}

.text_next_btn {
    color: #ffffff;
    background-color: #0077b5;
    text-align: center;
    padding: 10px 15px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    letter-spacing: normal;
    text-transform: none;
    font-weight: normal;
    max-width: fit-content;
}

.feedback_container1 {
    display: block;
    height: 280px;
    overflow-y: scroll;
}

.feedback-bg {
    background-color: #330055;
    background-image: url("/assets/feedback/feedback-bg.svg");
    background-attachment: fixed;
    background-size: contain;
    border-radius: 10px;
    margin: 10px 15px;
    padding-bottom: 10px;
}

ion-footer::before {
    background-image: none !important;
}

.attach-images {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #0077b5;
}

.feed {
    color: #000;
    border: 0.8px solid;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    margin-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.uploaded-images-container {
    margin-top: 20px;

    ion-col {
        margin-right: 15px;
        margin-bottom: 20px;
    }

    .uploaded-image {
        position: relative;
    }
}

.uploaded-image {
    width: 80px;
    height: 80px;
    border: 1px solid #d9e3f1;
    border-radius: 4px;

    img {
        border-radius: 4px;
    }
}

.uploaded-image-name {
    margin-top: 10px;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 80px;
}

.form-submit-btn {
    padding: 10px 30px !important;
}

@media screen and (max-width: 812px) and (orientation: landscape) {
    .smiley[_ngcontent-pqq-c6] {
        width: 60px;
        height: auto;
    }

    .label {
        font-size: 16px !important;
    }
}

@media screen and (min-width: 730px) and (orientation: landscape) {
    .nps-container {
        margin-left: 5%;
    }
}

.remove-img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 999;
    background: #fff;
    border-radius: 50px;
    color: #c90000;
}

.myOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 200;
    bottom: 0px;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.6);

    // color: #fff;
}

ion-textarea {
    border: 1px solid #dadada !important;
    border-radius: 6px;
}

@media only screen and (max-width: 767px) {
    .feedback_que {
        font-size: 19px;
        line-height: 22px;
    }
}

.alternate-header {
    position: unset !important;
    margin-top: 45px;

    .back-btn {
        font-size: 25px;
        color: #fff;
        // position: absolute;
        left: 0px;
        // left: 20px;
    }
}

.res-card {
    background: #d7efff !important;
    border-color: #d7efff !important;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    font-size: 18px;
    color: #138cf7;
    box-shadow: none !important;
    margin: 10px 5px !important;
}

.fm-card {
    background: #e0d7ff !important;
    border-color: #e0d7ff !important;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    font-size: 18px;
    color: #6c60e0;
    box-shadow: none !important;
    margin: 10px 5px !important;
}

.other-card {
    background: #fbe1fb !important;
    border-color: #fbe1fb !important;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    font-size: 18px;
    color: #f337bd;
    box-shadow: none !important;
    margin: 10px 5px !important;
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .alternate-header {
        position: absolute;
        // top: 10px;
        top: 30px;
    }

    .feedback-bg-blue {
        padding: 10px 15px;

        .feedback-white-box {
            position: relative;
            // top: 15px;
        }

        .yes-no-block {
            max-width: 55%;
            margin: 20px auto 0;

            img {
                margin: 20px 0px;
            }
        }

        .survey_white_card {
            padding: 20px;

            ion-label {
                font-size: 16px;
                margin-left: 10px;
            }

            .survey_bullet_blue {
                font-size: 18px;
                color: #0077b5;
                vertical-align: middle;
            }
        }

        .survey_blue_card {
            background-color: #0077b5 !important;
            color: #fff;
            padding: 20px;

            ion-label {
                font-size: 16px;
                margin-left: 10px;
            }

            .survey_bullet_white {
                font-size: 18px;
                color: #fff;
                vertical-align: middle;
            }
        }

        .feed {
            width: 100%;
            min-height: 180px;
        }

        .nps-container {
            flex-wrap: wrap;
            margin: 0 auto;
            display: inline-flex;
            justify-content: center;

            ion-col {
                max-width: fit-content;
            }
        }

        .sug-box {
            max-height: 130px;
            overflow: scroll;

            .sg-title::after {
                width: 55%;
            }
        }

        .feedback_container {
            border: 1px solid #bdbdbd;
            border-radius: 10px;
            min-height: 350px;
            margin-bottom: 10px;
            height: 100%;

            textarea {
                height: 300px;
                overflow-y: scroll;
                background: #fff;
                color: #222;
            }
        }
    }

    .four-smiley-box {
        ion-col {
            margin-bottom: 25px;
        }
    }

    .five-smiley-box {
        ion-col {
            margin-bottom: 25px;
        }
    }

    .five-star-box {
        ion-col {
            margin-bottom: 25px;
        }
    }
}

@media only screen and (min-width: 768px) {
    ion-content.ios {
        .feedback-bg-blue {
            position: relative;

            .alternate-header {
                .back-btn {
                    left: 30px !important;
                    top: 45px !important;
                }
            }
        }
    }

    .feedback-white-box {
        ion-row {
            display: flex;
            justify-content: space-between;
        }

        .uploaded-images-container {
            justify-content: start;

            .uploaded-image {
                position: relative;
            }
        }

        .yes-no-block {
            max-width: fit-content;
            margin: 10px auto 0px;

            ion-col {
                padding: 0 20px;

                img {
                    height: 45px;
                }
            }

            // .img-no {
            //     margin-left: 40px;
            // }
        }

        .survey_white_card {
            padding: 10px;

            ion-label {
                font-size: 16px;
                margin-left: 10px;
            }

            .survey_bullet_blue {
                font-size: 20px;
                color: #0077b5;
                vertical-align: middle;
            }
        }

        .survey_blue_card {
            background-color: #0077b5 !important;
            color: #fff;
            padding: 10px;

            ion-label {
                font-size: 16px;
                margin-left: 10px;
            }

            .survey_bullet_white {
                font-size: 20px;
                color: #fff;
                vertical-align: middle;
            }
        }

        .nps-container {
            flex-wrap: wrap;
            margin: 0 auto;
            display: inline-flex;
            justify-content: center;

            ion-col {
                max-width: fit-content;
                margin: 0 5px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) and (orientation: portrait) {
    .five-smiley-box {
        display: flex;
        justify-content: center;

        ion-col {
            max-width: fit-content;
        }
    }

    .five-star-box {
        display: flex;
        justify-content: center;

        ion-col {
            max-width: fit-content;
            margin: 0 10px;
        }
    }

    .nps-container {
        ion-col {
            margin: 0px !important;
        }
    }
}

@media only screen and (min-width: 834px) and (max-width: 834px) and (orientation: portrait) {
    .five-smiley-box {
        display: flex;
        justify-content: center;

        ion-col {
            max-width: fit-content;
            margin: 0 10px;
        }
    }

    .four-smiley-box {
        display: flex;
        justify-content: center;

        ion-col {
            max-width: fit-content;
            margin: 0 10px;
        }
    }

    .five-star-box {
        display: flex;
        justify-content: center;

        ion-col {
            max-width: fit-content;
            margin: 0 10px;
        }
    }

    .nps-container {
        ion-col {
            margin: 0 3px !important;
        }
    }
}

ion-footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fff;
}

@media only screen and (min-width: 360px) and (max-width: 360px) and (orientation: portrait) {
    .nps {
        width: 48px;
    }

    .label {
        font-size: 16px;
        line-height: 23px;
        font-weight: normal;
        color: #626262;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .smiley {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 50px;
        height: 50px;
    }

    .five-smiley-box {
        ion-col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .feedback-bg-blue {
        .fwb-main-box {
            .feedback-white-box {
                .fb-suggestions-block {
                    margin-left: -10px;
                    margin-right: -10px;

                    .uploaded-images-container {
                        .uploaded-image {
                            width: 72px !important;
                            height: 72px !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 767px) and (orientation: portrait) {
    .nps {
        width: 48px;
    }

    .label {
        font-size: 16px;
        line-height: 23px;
        font-weight: normal;
        color: #626262;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .smiley {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 55px;
        height: 55px;
    }

    .five-smiley-box {
        ion-col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.selected {
    img {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
}

.selected_nps {
    // background: #0077b5;
    // border-radius: 10px;

    ion-label {
        color: #fff;
        background: #0077b5;
        border-radius: 10px;
    }
}

.ffor-label {
    font-family: "Roboto", sans-serif !important;
    font-size: 18px;
    text-align: center;
    display: block;
    color: #222;
}

.submit-skip-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;

    .survey_submit_btn {
        margin: 0 auto 0;
        height: 45px;
    }

    .feedback-skip {
        // position: absolute;
        // right: 20px;
        // color: #707070;
        position: unset;
        right: 0;
        color: #0077b5;
        --background: #d3e5fb;
        --border-radius: 50px;
        --box-shadow: none;
        --padding-start: 20px;
        --padding-end: 20px;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: normal;
        text-transform: none;
        margin-left: -50px;
        margin-right: 4px;
        margin-top: 0;
        margin-bottom: 0;
        height: 35px;
    }
}

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
}

@media only screen and (min-width: 375px) and (max-width: 428px) {
    .alternate-header {
        top: 70px !important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 375px) and (orientation: portrait) {
    .feedback-white-box {
        padding: 8px !important;
        margin-top: 60px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (min-height: 790px) and (max-height: 815px) and (orientation: portrait) {
    .alternate-header {
        .back-btn {
            top: -30px;
            left: 0;
        }
    }
}

.fwb-main-box {
    height: fit-content;
    margin: auto auto !important;
    max-width: 80%;
    min-width: 80%;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .fwb-main-box {
        max-width: 95% !important;
        min-width: 95% !important;
    }
}

@media only screen and (min-width: 750px) and (max-width: 753px) {
    .fwb-main-box {
        height: fit-content;
        margin: auto auto !important;
        max-width: 80%;
        min-width: 80%;
    }

    .feedback-bg-blue {
        .feedback-white-box {
            margin: auto auto !important;
        }
    }

    .five-smiley-box {
        justify-content: space-around;
        align-items: center;

        ion-col {
            max-width: fit-content !important;
            margin-bottom: 0 !important;
        }
    }

    .four-smiley-box {
        justify-content: space-around;
        align-items: center;

        ion-col {
            max-width: fit-content !important;
            margin-bottom: 0 !important;
        }
    }

    .five-star-box {
        justify-content: space-around;
        align-items: center;

        ion-col {
            max-width: fit-content !important;
            margin-bottom: 0 !important;
            align-self: baseline;
        }
    }

    .yes-or-no-grid {
        .yes-no-block {
            justify-content: center;
            align-items: center;
            max-width: 100% !important;

            ion-col {
                max-width: fit-content !important;
                margin-bottom: 0 !important;

                img {
                    height: 50px !important;
                }
            }

            ion-col + ion-col {
                margin-left: 25px !important;
            }
        }
    }
}

.feedback-bg-blue {
    position: relative;
    flex-direction: column;

    .feedback-white-box {
        margin: 10px auto !important;
    }

    ion-card {
        margin: 10px 15px !important;
        border: 1px solid #dfdfdf;
        box-shadow: none !important;
    }
}

.fb-user-details-box {
    display: flex;
    flex-direction: column;

    .fb-udb-title {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #000;
        margin-bottom: 35px;
        text-align: center;
    }

    .fb-input-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        ion-label {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            color: #000;
            margin-bottom: 5px;

            ion-input {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                color: #000;
            }

            .red-asterisk {
                font-size: 16px;
                color: #e2001e;
                margin-left: 5px;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 393px) {
    .submit-skip-box {
        .feedback-skip {
            margin-left: -25px !important;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .ffor-box {
        ion-grid {
            ion-row {
                ion-col {
                    padding: 0 !important;

                    .res-card,
                    .fm-card,
                    .other-card {
                        font-size: 16px !important;
                        text-align: center;
                        margin: 20px 10px 0 !important;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .fwb-main-box {
        max-width: 100% !important;
        min-width: 95% !important;
    }
}

.survey_white_card {
    ion-label {
        color: #000;
    }
}

.survey_blue_card.survey_white_card{
    ion-label {
        color: #fff;
    }
}