<ion-content>

  <div class="feedback-bg-blue">
    <!-- <span style="margin-left:0px !important;">
      <ion-buttons slot="start">
        <ion-back-button style="color:#fff;" text="" (click)="back()"></ion-back-button>
      </ion-buttons>
    </span> -->

    <span class="alternate-header first-sec-title">
      <ion-icon class="back-btn" name="arrow-back-outline" (click)="back()"></ion-icon>
    </span>

    <div class="fwb-main-box">

      <span class="feedback-white-box">

        <div *ngIf="show==1">
          <div *ngFor="let item of questions | slice:noOfItem-1:noOfItem">
            <ion-item lines="none" color="none">
              <ion-label class="feedback_que">{{item.question}}</ion-label>
            </ion-item>

            <!---------------------------- five-smiley template --------------------------------->


            <ion-grid *ngIf="item.type=='2'" class="five-smiley-grid">
              <ion-row class="five-smiley-box">

                <ion-col (click)="getOption(item.options[0],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="very_bad_icon smiley"></ion-icon> -->

                  <ion-avatar class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[0].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/smileys/very-bad.png" />
                  </ion-avatar>
                  <ion-label class="label">{{item.options[0].option}}</ion-label>

                </ion-col>

                <ion-col (click)="getOption(item.options[1],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="bad_icon smiley"></ion-icon> -->

                  <ion-avatar class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[1].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/smileys/bad.png" />
                  </ion-avatar>
                  <ion-label class="label">{{item.options[1].option}}</ion-label>

                </ion-col>

                <ion-col (click)="getOption(item.options[2],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="good_icon smiley" ></ion-icon> -->

                  <ion-avatar class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[2].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/smileys/good.png" />
                  </ion-avatar>
                  <ion-label class="label">{{item.options[2].option}}</ion-label>

                </ion-col>

                <ion-col (click)="getOption(item.options[3],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="very_good_icon smiley" ></ion-icon> -->

                  <ion-avatar class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[3].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/smileys/very-good.png" />
                  </ion-avatar>
                  <ion-label class="label">{{item.options[3].option}}</ion-label>

                </ion-col>

                <ion-col (click)="getOption(item.options[4],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="excellent_icon smiley"></ion-icon> -->

                  <ion-avatar class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[4].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/smileys/excellent.png" />
                  </ion-avatar>
                  <ion-label class="label">{{item.options[4].option}}</ion-label>

                </ion-col>

              </ion-row>
            </ion-grid>
            <!--------------------------four smiley template------------------------------------>

            <ion-grid *ngIf="item.type=='1'" class="four-smiley-grid">
              <ion-row class="four-smiley-box">

                <ion-col (click)="getOption(item.options[0],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="very_bad_icon smiley"></ion-icon> -->

                  <ion-avatar class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[0].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/smileys/very-bad.png" />
                  </ion-avatar>
                  <ion-label class="label">{{item.options[0].option}}</ion-label>

                </ion-col>

                <ion-col (click)="getOption(item.options[1],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="bad_icon smiley"></ion-icon> -->

                  <ion-avatar class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[1].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/smileys/bad.png" />
                  </ion-avatar>
                  <ion-label class="label">{{item.options[1].option}}</ion-label>

                </ion-col>

                <ion-col (click)="getOption(item.options[2],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="good_icon smiley" ></ion-icon> -->

                  <ion-avatar class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[2].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/smileys/good.png" />
                  </ion-avatar>
                  <ion-label class="label">{{item.options[2].option}}</ion-label>

                </ion-col>

                <!-- <ion-col>
      
      
      <ion-avatar class="smiley">
        <img src="/assets/feedback/smileys/very-good.gif" />
      </ion-avatar>
      <ion-label class="label">Very Good</ion-label>
    </ion-col> -->

                <ion-col (click)="getOption(item.options[3],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="excellent_icon smiley"></ion-icon> -->

                  <ion-avatar class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[3].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/smileys/excellent.png" />
                  </ion-avatar>
                  <ion-label class="label">{{item.options[3].option}}</ion-label>

                </ion-col>

              </ion-row>
            </ion-grid>


            <!-----------------------five star template------------------------------>

            <ion-grid *ngIf="item.type=='3'" class="five-star-grid">
              <ion-row class="five-star-box">

                <ion-col (click)="getOption(item.options[0],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="very_bad_icon smiley"></ion-icon> -->

                  <ion-thumbnail class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[0].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/star/star.svg" />
                  </ion-thumbnail>
                  <ion-label class="label">{{item.options[0].option}}</ion-label>

                </ion-col>

                <ion-col (click)="getOption(item.options[1],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="bad_icon smiley"></ion-icon> -->

                  <ion-thumbnail class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[1].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/star/star.svg" />
                  </ion-thumbnail>
                  <ion-label class="label">{{item.options[1].option}}</ion-label>
                </ion-col>

                <ion-col (click)="getOption(item.options[2],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="good_icon smiley" ></ion-icon> -->

                  <ion-thumbnail class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[2].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/star/star.svg" />
                  </ion-thumbnail>
                  <ion-label class="label">{{item.options[2].option}}</ion-label>

                </ion-col>

                <ion-col (click)="getOption(item.options[3],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="very_good_icon smiley" ></ion-icon> -->

                  <ion-thumbnail class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[3].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/star/star.svg" />
                  </ion-thumbnail>
                  <ion-label class="label">{{item.options[3].option}}</ion-label>

                </ion-col>

                <ion-col (click)="getOption(item.options[4],item)" size="12" size-sm="12" size-md="2" size-lg="2">
                  <!-- <ion-icon class="excellent_icon smiley"></ion-icon> -->

                  <ion-thumbnail class="smiley"
                    [class.selected]="surveyData[noOfItem] != undefined &&  item.options[4].id ==   surveyData[noOfItem].OptionId ">
                    <img src="/assets/feedback/star/star.svg" />
                  </ion-thumbnail>
                  <ion-label class="label">{{item.options[4].option}}</ion-label>

                </ion-col>

              </ion-row>
            </ion-grid>


            <!---------------------- yes or no ---------------------------->

            <ion-grid *ngIf="item.type=='4'" class="yes-or-no-grid">
              <ion-row class="yes-no-block">



                <ion-col (click)="getOption(item.options[0],item)" size="12" size-sm="12" size-md="6" size-lg="6"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[0].id ==   surveyData[noOfItem].OptionId ">

                  <img src="/assets/feedback/Yes or no/yes.svg" style="width: 100%;" />

                </ion-col>

                <ion-col (click)="getOption(item.options[1],item)" size="12" size-sm="12" size-md="6" size-lg="6"
                  [class.selected]="surveyData[noOfItem] != undefined &&  item.options[1].id ==   surveyData[noOfItem].OptionId ">



                  <img class="img-no" src="/assets/feedback/Yes or no/no.svg" style="width: 100%;" />

                </ion-col>

              </ion-row>
            </ion-grid>

            <!----------------------------1 to 10 number survey --------------------------------------->


            <ion-row class="nps-container" *ngIf="item.type=='5'">
              <ion-col *ngFor="let num of item.options" (click)="getOption(num,item)"
                [class.selected_nps]="surveyData[noOfItem] != undefined &&  num.id ==   surveyData[noOfItem].OptionId ">
                <ion-label class="nps">{{num.option}}</ion-label>
              </ion-col>
            </ion-row>

            <!----------------------------selection-------------------------------------------------------->
            <div *ngIf="item.type=='6'">
              <ion-card [class.survey_white_card]="select.id != selected"
                [class.survey_blue_card]="surveyData[noOfItem] != undefined &&  select.id ==   surveyData[noOfItem].OptionId"
                *ngFor="let select of item.options" (click)="getOption(select,item)">
                <!-- <ion-row style="flex-wrap:nowrap"> -->
                <!-- <ion-icon [class.survey_bullet_blue]="select.id != selected"
                [class.survey_bullet_white]="select.id === selected"></ion-icon> -->
                <ion-icon name="ellipse-sharp" [class.survey_bullet_blue]="select.id != selected"
                  [class.survey_bullet_white]="surveyData[noOfItem] != undefined &&  select.id ==   surveyData[noOfItem].OptionId">
                </ion-icon>
                <ion-label>{{select.option}}</ion-label>

                <!-- </ion-row> -->
              </ion-card>
            </div>
            <!---------------------------------------------text type--------------------------------------------------->


            <div *ngIf="item.type==7">
              <ion-textarea class="feed" rows="3" clearOnEdit="true" auto-grow="true" (ionChange)="inputChange()"
                placeholder="Please type here..." [(ngModel)]="feedtext"></ion-textarea>
              <ion-button fill="clear" class="text_next_btn" (click)="getOption(feedtext,item)"
                [disabled]="feedtext==undefined || feedtext==''">Next</ion-button>
              <!-- <span class="text_next_btn" *ngIf="!feednexthide" (click)="getOption(feedtext,item)">Next</span> -->
            </div>
          </div>
        </div>

        <div class="fb-suggestions-block" *ngIf="show==2">
          <ion-item lines="none" color="none" *ngIf="show==2">

            <ion-grid>

              <ion-row class="feedback_container">

                <ion-col>
                  <textarea rows="5" placeholder="Please enter your feedback.." [(ngModel)]="feedback"></textarea>
                  <span class="sug-box">
                    <p class="sg-title">Suggestions...</p>
                    <ul class="list-unstyled">
                      <li *ngFor="let item of feed_suggestion; let i = index" (click)="setSuggestion(item,i)">
                        <div class="sug-cont">
                          <span>{{item}}</span>
                        </div>
                      </li>
                      <!-- <li>
                    <div class="sug-cont">
                      <span>Very good Food</span>
                    </div>
                  </li>
                  <li>
                    <div class="sug-cont">
                      <span>Excellent care</span>
                    </div>
                  </li>
                  <li>
                    <div class="sug-cont">
                      <span>Very good staff</span>
                    </div>
                  </li>
                  <li>
                    <div class="sug-cont">
                      <span>Lifestyle activities</span>
                    </div>
                  </li>
                  <li>
                    <div class="sug-cont">
                      <span>Poor food</span>
                    </div>
                  </li>
                  <li>
                    <div class="sug-cont">
                      <span>Poor service</span>
                    </div>
                  </li>
                  <li>
                    <div class="sug-cont">
                      <span>Bad service</span>
                    </div>
                  </li> -->
                    </ul>
                  </span>
                </ion-col>

              </ion-row>


            </ion-grid>

          </ion-item>


          <ion-item color="none" lines="none" class="mb-10" style="--min-height:auto;" (click)="selectImage()"
            >

            <ion-icon name="attach-outline" style="color: #0077B5; transform: rotate(35deg);"></ion-icon> <span
              class="attach-images">Attach Images</span>

          </ion-item>
          <ion-row class="uploaded-images-container" *ngIf="imageResponse.length>0">

            <ion-col size="3" class="col_fit" *ngFor="let item of imageResponse;let i=index">

              <ion-thumbnail class="uploaded-image" (click)="viewImage()">
                <img src="{{item}}">
                <ion-icon name="close-circle" class="remove-img" (click)="removeImg(i)"></ion-icon>
              </ion-thumbnail>



            </ion-col>
          </ion-row>

          <div class="submit-skip-box">

            <ion-button fill="clear" class="survey_submit_btn" [disabled]="disabled" (click)="getDetails()">Submit
            </ion-button>

            <ion-button class="feedback-skip" (click)="skip()" [disabled]="disableSkip">Skip</ion-button>

          </div>

        </div>


        <div *ngIf="show==3" class="ffor-box">
          <ion-label class="ffor-label">Feedback for</ion-label>
          <ion-grid>

            <ion-row>



              <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

                <ion-card (click)="selectUtype(1)" class="res-card">

                  <ion-label>Resident</ion-label>

                </ion-card>

              </ion-col>

              <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

                <ion-card (click)="selectUtype(2)" class="fm-card">

                  <ion-label>Family Member</ion-label>

                </ion-card>

              </ion-col>

              <ion-col size="12" size-sm="12" size-md="4" size-lg="4">

                <ion-card (click)="selectUtype(0)" class="other-card">

                  <ion-label>Other</ion-label>

                </ion-card>

              </ion-col>


            </ion-row>

          </ion-grid>

        </div>





        <div class="fb-user-details-box" *ngIf="show==4">

          <ion-label class="fb-udb-title">Please enter the details</ion-label>

          <div class="fb-input-box" *ngIf="utype!==1">

            <ion-label>Enter name <span class="red-asterisk">*</span>
            </ion-label>

            <ion-input [(ngModel)]="name" *ngIf="utype!==1"></ion-input>

          </div>

          <div class="fb-input-box" *ngIf="utype!==0">

            <ion-label>Enter resident name <span class="red-asterisk">*</span>
            </ion-label>

            <ion-input [(ngModel)]="res_name" ></ion-input>

          </div>

          <div class="fb-input-box">

            <ion-label>Enter email Id 
            </ion-label>

            <ion-input [(ngModel)]="mail"></ion-input>

          </div>
          
          <div class="fb-input-box">

            <ion-label>Enter phone number</ion-label>

            <ion-input type="tel" [(ngModel)]="phone"></ion-input>

          </div>
          
          
          <ion-button fill="clear" class="survey_submit_btn" [disabled]="disabled"
            (click)="submit()">Submit</ion-button>

        </div>


      </span>

    </div>

  </div>




</ion-content>

<!-- <ion-footer color="none" no-border style="box-shadow: none;">

  <ion-grid>

    <ion-row style="display:flex; justify-content: center; flex-wrap: nowrap; margin-top: 95px; --inner-padding-end: 0 !important; --padding-start: 0 !important;">

      <ion-col class="col_fit">
        <ion-fab vertical="bottom" horizontal="start" *ngIf="preQue">
          <ion-fab-button class="arrow_button" (click)="previous()">
            <ion-icon name="arrow-back-outline" style="color: #fff;"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>



      <ion-col class="col_fit" offset="10">
        <ion-fab vertical="bottom" horizontal="end" *ngIf="nextQue">
          <ion-fab-button class="arrow_button" (click)="next()">
            <ion-icon name="arrow-forward-outline" style="color: #fff;"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-footer> -->

<ion-footer color="none" no-border class="feedback-footer">

  <span style="float: left; display: flex; align-items: center; color: #0077B5;" (click)="previous()">
    <ion-icon name="arrow-back-outline"></ion-icon> &nbsp; Previous
  </span>

  <span style="float: right; display: flex; align-items: center; color: #0077B5;" *ngIf="nextQue " (click)="next()">
    Next &nbsp; <ion-icon name="arrow-forward-outline"></ion-icon>
  </span>

</ion-footer>