<ion-header class="ion-header-inner">
  <!-- <ion-row style="height: 20px;"></ion-row> -->
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" text="" (click)="dismiss()"></ion-back-button>
    </ion-buttons>
    <ion-title class="page_title">Menu Details</ion-title>
    <ion-icon class="page-close-btn" name="close-circle-sharp" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">

  <ion-label class="mealtime-date">{{data.servingtime.servingtime}} on {{data.serve_date|dateformat:'DD MMMM YYYY'}}</ion-label>

  <ng-container *ngFor="let item of data.order_items">
  <div class="menu-details-container">

    <div class="md-box box">

      <!-- <div class="ribbon ribbon-top-left">
        <span>Served</span>
      </div> -->

      <div class="md-fi-info">

        <img class="fi-thumb" [src]="item.menu_meta.itemdetails.image">

        <ion-label class="fi-name">
          <span>{{item.menu_meta.itemdetails.item_name}}</span>
          <!-- <p class="dm-fd-opt" *ngIf="item.items_selected_options&&item.items_selected_options.length" (click)="showOptions(item.items_selected_options,$event)">Food option</p> -->
          <p class="dm-fd-opt-1" *ngIf="item.items_selected_options&&item.items_selected_options.length" (click)="showOptions(item.items_selected_options,$event)"><i class="las la-clipboard-list"></i></p>
          <div class="msr-status-box">
            <span class="served" *ngIf="item.serving_status==1"><ion-icon name="checkmark-outline" ></ion-icon> Served</span>
            <span class="refused" *ngIf="item.serving_status==2"><ion-icon name="close-circle-sharp" ></ion-icon> Refused</span>
          </div>
        </ion-label>

      </div>
      <div class="md-fi-ms" *ngIf="item.meal_size">
        <span *ngIf="item.meal_size==4">N</span>
        <span *ngIf="item.meal_size==3">L</span>
        <span *ngIf="item.meal_size==2">M</span>
        <span *ngIf="item.meal_size==1">S</span>
      </div>
      <div class="md-fi-qty">
        <span>{{item.served_quantity}}</span>
      </div>

      <!-- <div class="md-fi-qty">
        <span>60 ml</span>
      </div> -->

    </div>

  </div>
</ng-container>


<ng-container *ngFor="let item of data.additional_order_items">
  <div class="menu-details-container">

    <div class="md-box box">

      <!-- <div class="ribbon ribbon-top-left">
        <span>Served</span>
      </div> -->

      <div class="md-fi-info">

        <img class="fi-thumb" [src]="item.additional_details.item.image">

        <ion-label class="fi-name">
          <span>{{item.additional_details.item.item_name}}</span>
          <!-- <p class="dm-fd-opt" *ngIf="item.items_selected_options&&item.items_selected_options.length" (click)="showOptions(item.items_selected_options,$event)">Food option</p> -->
          <p class="dm-fd-opt-1"><i class="las la-clipboard-list"></i></p>
          <div class="msr-status-box">
            <span class="served" *ngIf="item.serving_status==1"><ion-icon name="checkmark-outline" ></ion-icon> Served</span>
            <span class="refused" *ngIf="item.serving_status==2"><ion-icon name="close-circle-sharp" ></ion-icon> Refused</span>
          </div>
        </ion-label>

      </div>
      <div class="md-fi-ms" *ngIf="item.meal_size">
        <span *ngIf="item.meal_size==4">N</span>
        <span *ngIf="item.meal_size==3">L</span>
        <span *ngIf="item.meal_size==2">M</span>
        <span *ngIf="item.meal_size==1">S</span>
      </div>
      <div class="md-fi-qty">
        <span>{{item.served_quantity}}</span>
      </div>

      <!-- <div class="md-fi-qty">
        <span>60 ml</span>
      </div> -->

    </div>

  </div>
</ng-container>




  <!-- <div class="menu-details-container">

    <div class="md-box">

      <div class="md-fi-info">

        <img class="fi-thumb" src="/assets/dining/sp-fried-rice.png">

        <ion-label class="fi-name">
          <span>Special Fried Rice</span>
          <p class="dm-fd-opt">Food option</p>
          <div class="msr-status-box">
            <span class="served"><ion-icon name="checkmark-outline"></ion-icon> Served</span>
          </div>
        </ion-label>

      </div>

      <div class="md-fi-ms">
        <span>M</span>
      </div>

      <div class="md-fi-qty">
        <span>1</span>
      </div>

    </div>

  </div>

  <div class="menu-details-container">

    <div class="md-box">

      <div class="md-fi-info">

        <img class="fi-thumb" src="/assets/dining/chicken-salad.png">

        <ion-label class="fi-name">
          <span>Roast chicken salad</span>
          <p class="dm-fd-opt">Food option</p>
          <p class="dm-fd-opt">Food option</p>

          <div class="msr-status-box">
            <span class="refused"><ion-icon name="close-circle-sharp"></ion-icon> Refused</span>
          </div>

        </ion-label>

      </div>

      <div class="md-fi-ms">
        <span>L</span>
      </div>

      <div class="md-fi-qty">
        <span>1</span>
      </div>

    </div>

  </div>

  <div class="menu-details-container">

    <div class="md-box">

      <div class="md-fi-info">

        <img class="fi-thumb" src="/assets/dining/dessert.png">

        <ion-label class="fi-name">
          <span>Dessert of the Day as displayed on
            menu board</span>
          <div class="msr-status-box">
            <span class="served"><ion-icon name="checkmark-outline"></ion-icon> Served</span>
          </div>
        </ion-label>

      </div>

      <div class="md-fi-qty">
        <span>1</span>
      </div>

    </div>

  </div>

  <div class="menu-details-container">

    <div class="md-box">

      <div class="md-fi-info">

        <img class="fi-thumb" src="/assets/dining/tea.png">

        <ion-label class="fi-name">
          <span>Tea</span>

          <div class="msr-status-box">
            <span class="served"><ion-icon name="checkmark-outline"></ion-icon> Served</span>
          </div>
        </ion-label>

      </div>

      <div class="md-fi-qty">
        <span>1</span>
      </div>

    </div>

  </div>

  <div class="menu-details-container">

    <div class="md-box">

      <div class="md-fi-info">

        <img class="fi-thumb" src="/assets/dining/supplement.png">

        <ion-label class="fi-name">
          <span>Food supplement</span>
          <div class="msr-status-box">
            <span class="served"><ion-icon name="checkmark-outline"></ion-icon> Served</span>
          </div>
        </ion-label>

      </div>

      <div class="md-fi-qty">
        <span>60 ml</span>
      </div>

    </div>

  </div> -->

</ion-content>