<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Resident profile</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end" (click)="quickLinks()">
          <ion-button class="create-new-btn">
            <ion-icon name="add-circle-sharp"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile-details-box">

    <ion-avatar>

      <img [src]="img">

    </ion-avatar>

    <ion-label class="consumer-name">{{name}}</ion-label>

    <!-- <ion-label class="agedcare-name">ABC Agedcare</ion-label>

    <ion-label class="room-wingname">220 B, Apple Blossom</ion-label> -->

    <ion-label class="rw-sec"> <i class="las la-building"></i> {{room}}, {{wing}} </ion-label>

    <ion-label class="loc"> <i class="las la-map-marker"></i> {{branch}} </ion-label>

    <ion-button class="reset-password-btn" [routerLink]="['/resetpassword',{flag:2,id:id,user_id:user_id}]" *ngIf="edit">Reset password</ion-button>

  </div>

  <p class="p-30days">Past 30 days overview</p>

  <ion-row class="occ-box" *ngIf="modules.includes('Dining Beta')&&modules.includes('Visitor management')">

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <ion-card class="overview-count-card ml-zero">

        <img src="/assets/residents/resident-profile/activity-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-ah">{{hours}}</ion-label>

          <ion-label class="overview-info">Activity hours</ion-label>

        </div>

      </ion-card>

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <ion-card class="overview-count-card">

        <img src="/assets/residents/resident-profile/dining-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-mr">{{meals}}</ion-label>

          <ion-label class="overview-info">Meals refused</ion-label>

        </div>

      </ion-card>

    </ion-col>

    <ion-col size-sm="4" size-md="4" size-lg="4" size="4">

      <ion-card class="overview-count-card mr-zero">

        <img src="/assets/residents/resident-profile/visitor-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-visitors">{{visitors}}</ion-label>

          <ion-label class="overview-info">Visitors</ion-label>

        </div>

      </ion-card>

    </ion-col>

  </ion-row>


  <ion-row class="occ-box" *ngIf="!modules.includes('Dining Beta')&&modules.includes('Visitor management')">

    <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

      <ion-card class="overview-count-card ml-zero">

        <img src="/assets/residents/resident-profile/activity-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-ah">{{hours}}</ion-label>

          <ion-label class="overview-info">Activity hours</ion-label>

        </div>

      </ion-card>

    </ion-col>

    

    <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

      <ion-card class="overview-count-card mr-zero">

        <img src="/assets/residents/resident-profile/visitor-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-visitors">{{visitors}}</ion-label>

          <ion-label class="overview-info">Visitors</ion-label>

        </div>

      </ion-card>

    </ion-col>

  </ion-row>

  <ion-row class="occ-box" *ngIf="modules.includes('Dining Beta')&&!modules.includes('Visitor management')">

    <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

      <ion-card class="overview-count-card ml-zero">

        <img src="/assets/residents/resident-profile/activity-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-ah">{{hours}}</ion-label>

          <ion-label class="overview-info">Activity hours</ion-label>

        </div>

      </ion-card>

    </ion-col>

    <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

      <ion-card class="overview-count-card">

        <img src="/assets/residents/resident-profile/dining-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-mr">{{meals}}</ion-label>

          <ion-label class="overview-info">Meals refused</ion-label>

        </div>

      </ion-card>

    </ion-col>


  </ion-row>


  <ion-row class="occ-box" *ngIf="!modules.includes('Dining Beta')&&!modules.includes('Visitor management')">

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

      <ion-card class="overview-count-card ml-zero">

        <img src="/assets/residents/resident-profile/activity-icon.svg">

        <div class="oc-info-sec">

          <ion-label class="overview-count label-ah">{{hours}}</ion-label>

          <ion-label class="overview-info">Activity hours</ion-label>

        </div>

      </ion-card>

    </ion-col>

    

  </ion-row>

  <ion-row class="rp-more-info-sec">

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card" [routerLink]="['/resident-overview',{flag:flag,cid:id,id:user_id,name:name}]">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-chart-pie overview-icon"></i> Overview</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card" (click)="overview()">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <!-- <ion-label><i class="las la-chart-pie overview-icon"></i> Overview</ion-label> -->
            <ion-label><img class="feeds-icon" src="/assets/residents/feeds-icon.svg"> Feeds</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card" (click)="about()">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-info-circle about-icon"></i> About</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card" (click)="contacts()">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-address-book contacts-icon"></i> Contacts</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card"  (click)="gallery()">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-photo-video gallery-icon"></i> Gallery</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngIf="modules.includes('Dining Beta')&&dining">

      <ion-card class="blue_card acc-card" [routerLink]="['/din-dietary-preference',{flag:flag,cid:id,consumer:user_id,name:name}]">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-user dprofile-icon"></i> Dietary Profile</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngIf="finance">

      <ion-card class="blue_card acc-card" (click)="pettycash()">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-coins pettycash-icon"></i> Finance</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col>

    <!-- <ion-col size="12" size-sm="12" size-md="6" size-lg="4">

      <ion-card class="blue_card acc-card">

        <ion-row style="flex-wrap:nowrap">

          <ion-col size="11" class="dis_flex">
            <ion-label><i class="las la-chart-bar reports-icon"></i> Reports</ion-label>
          </ion-col>

          <ion-col size="1" class="align_flex-end col-fit dflex-ai-center">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-card>

    </ion-col> -->

  </ion-row>















</ion-content>

<!-- <ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" (click)="finish()">
      <ion-icon name="checkmark-outline"></ion-icon> Save
    </ion-button>
  </ion-toolbar>
</ion-footer> -->