<div class="pop" *ngIf="viewEntered">
  <ion-slides [options]="slideOptsOne" pager="true" #slideWithNav
    (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
    <ion-slide *ngFor="let s of content">
      <div style="width: 100%;">
        <img src="{{s.img}}" style="width: 100%;height: 100%;">
        <div style="height: 100%;width: 100%;">
          <!-- <div class="myOverlay" *ngIf="s.vid==1" style="z-index: 9999;opacity: 0.8 !important;"></div> -->
          



          <span class="lr-control">
    
            <div class="left" *ngIf="content.length>1">
              <ion-icon name="chevron-back-outline" slot="start" ion-no-padding (click)="slidePrev(sliderOne,slideWithNav)"
                [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
            </div>
            <ion-icon *ngIf="s.vid==1" class="play-icon" name="play" (click)="playVdo(s.url)"></ion-icon>
            <div class="right" *ngIf="content.length>1">
              <ion-icon name="chevron-forward-outline" slot="end" ion-no-padding (click)="slideNext(sliderOne,slideWithNav)"
                [class.disabled]="sliderOne.isEndSlide"></ion-icon>
            </div>
            
          </span>
          <!-- <ion-icon *ngIf="s.vid==1&&content.length==1" class="play-icon" name="play" (click)="playVdo(s.url)"></ion-icon> -->
        </div>
      </div>
    </ion-slide>

  </ion-slides>
  <div class="myOverlay" *ngIf="content.length"></div>
  <ion-icon class="pop-close-btn" name="close-circle-outline" (click)="dismiss()"></ion-icon>

  <!-- <span class="lr-control">
    
    <div class="left" *ngIf="content.length>1">
      <ion-icon name="chevron-back-outline" slot="start" ion-no-padding (click)="slidePrev(sliderOne,slideWithNav)"
        [class.disabled]="sliderOne.isBeginningSlide"></ion-icon>
    </div>
  
    <div class="right" *ngIf="content.length>1">
      <ion-icon name="chevron-forward-outline" slot="end" ion-no-padding (click)="slideNext(sliderOne,slideWithNav)"
        [class.disabled]="sliderOne.isEndSlide"></ion-icon>
    </div>
    
  </span> -->

</div>