.header-buttons {
    ion-icon:first-child {
        padding: 10px;
        font-size: 18px;
    }

    ion-icon:nth-child(2) {
        font-size: 30px;
        padding: 4px;
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background: #eee;
}

.vbl-ft-options {
    display: flex;

    .more-filters {
        &:nth-child(2) {
            margin-left: 15px;
        }
    }
}

.calendar_style {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 10px !important;
    margin-top: 70px;
    border: 1px solid #e1e1e1 !important;
    box-shadow: none !important;
}

.sc-ion-popover-md-h {
    --width: 100% !important;
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
    .header-buttons ion-icon:first-child {
        padding: 10px;
        font-size: 18px !important;
    }

    .header-buttons ion-icon:nth-child(2) {
        font-size: 30px !important;
        padding: 4px;
    }
}

@media only screen and (min-width: 768px) {
    .calendar_style {
        max-width: 45% !important;
    }
}

.canceled {
    background-color: #afadad !important;

    ion-item {
        ion-label {
            background-color: grey;
            color: black;
        }

        ion-icon {
            color: dimgray;
        }
    }

    ion-grid {
        ion-row {
            ion-col {
                img {
                    -webkit-filter: grayscale(100%);
                    /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                }
            }
        }
    }

    ion-button {
        --background: grey;
    }
}

.cancel-tag {
    position: absolute;
    top: 0px;
    left: 0px;
    background: red;
    color: #fff;
    font-size: 13px;
    padding: 0px 20px 6px;
    line-height: normal;
    font-family: sans-serif;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.canceled {
    ion-item {
        --padding-start: 0px;
        --inner-padding-end: 0px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
}

.d-flex-jc-center {
    display: flex;
    justify-content: center;
}

.more-filters {
    // margin-bottom: 10px !important;
    margin-bottom: 0;
}

ion-fab {
    background: #ffffff;
    width: 100%;
    top: 0px;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
}

.more-filters {
    .clife-select ion-select {
        color: #6c6c6c;
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: normal;
        height: 35px;
        --placeholder-opacity: 1;
    }

    .mark-selected {
        background-color: #efefef !important;
    }
}

.callbooking-date {
    height: 35px;
    display: flex !important;
}

.call-list-card {
    margin: 0px 0px 20px 0px !important;
    border: 1px solid #e1e1e1 !important;
    box-shadow: none !important;

    .cb-timeslot {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        font-size: 14px;
        font-weight: 500;

        span {
            font-size: 13px;
            font-weight: normal;
            margin-left: 5px;
            vertical-align: middle;
            align-self: center;
            display: flex;
        }
    }
}

.cb-caller {
    padding: 15px !important;
    border: 1px solid #cfcfcf;

    ion-avatar {
        width: 50px !important;
        height: 50px !important;
    }

    ion-label {
        font-size: 17px;
        font-weight: 600;

        span {
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
            color: #707070;
        }
    }
}

.cb-call-info {
    ion-label {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 15px !important;
    }
}

.call-list-card {
    .cb-timeslot {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: normal;
        padding:10px;
    }
}
