<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/menu-booking']"></ion-icon>
          <ion-label>Visitor Booking List</ion-label>
        </ion-col>

        <!-- <ion-col class="col-fit header-buttons ion-align-self-end" size="4">

          <ion-icon src="assets/disable-time-slot-icon.svg" (click)="disableSlot()"></ion-icon>

          <ion-icon name="add-outline" [routerLink]="['/cb-choose-consumer']"></ion-icon>

        </ion-col> -->

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-fab vertical="top" horizontal="start" slot="fixed">

    <ion-row class="d-flex-jc-center">
      <ion-col size="12" class="vbl-ft-options">
  
        <div class="more-filters">
  
          <ion-item color="none" lines="none" class="clife-select mark-selected">
            <ion-select placeholder="All visit types" okText="Okay" cancelText="Dismiss" [(ngModel)]="type"
              (ionChange)="selecttype()" interface="action-sheet">
              <ion-select-option value="all">All visit types</ion-select-option>
              <ion-select-option value="1">Person visit</ion-select-option>
              <ion-select-option value="0">Window visit</ion-select-option>
            </ion-select>
          </ion-item>
  
        </div>
  
        <div class="more-filters">
  
          <ion-item lines="none" color="none" class="clife-select mark-selected">
            <ion-select [(ngModel)]="wing" [selectedText]="wing" (ionChange)="setWing(wing)" interface="action-sheet">
              <ion-select-option value="{{item.wing}}" *ngFor="let item of wingArray">{{item.wing}}</ion-select-option>
              <!-- <ion-select-option value="sdny">Wing B</ion-select-option>
            <ion-select-option value="mlbrn">Wing C</ion-select-option> -->
            </ion-select>
          </ion-item>
  
        </div>
  
      </ion-col>
    </ion-row>

  </ion-fab>

 

  <ion-row  color="none">
    <ion-card class="calendar_style" >
      <ion-calendar [(ngModel)]="date" (change)="onChange($event)" [format]="'yyyy-MM-DD'" step="30">
      </ion-calendar>
    </ion-card>
  </ion-row>

  <ion-chip class="callbooking-date">
    <ion-label>{{date | dateformat: 'DD MMMM yyyy'}}</ion-label>
  </ion-chip>
<div *ngFor="let item of callList">
  <ion-card class="call-list-card"   *ngIf="item.status==1">

    <ion-item color="none" lines="none">

      <ion-label class="cb-timeslot">
        {{item.start_time | dateformat:'hh:mm a'}} - {{item.end_time | dateformat:'hh:mm a'}}
         <span>(UTC+{{ getTimeZone(item.wing.branch_details.timezone) }})</span>
      </ion-label>

      <!-- <ion-icon name="ellipsis-vertical" (click)="showOptions($event,item)" ></ion-icon> -->

    </ion-item>

    <ion-grid>

      <ion-row>

        <ion-col class="cb-caller" size-sm="12" size-md="4" size-lg="4" size="12">

          <ion-avatar>
            <img [src]="item.consumer.resident.user.profile_pic">
          </ion-avatar>

          <ion-label>
           {{item.consumer.resident.user.name}}
            <span>
              {{item.consumer.resident.room}}
            </span>
          </ion-label>

        </ion-col>

        <ion-col size-sm="12" size-md="4" size-lg="4" size="12" class="cb-video-cam-icon">

          <img src="assets/visitor-list-icon.svg">

        </ion-col>

        <ion-col class="cb-caller" size-sm="12" size-md="4" size-lg="4" size="12" *ngIf="item.family.length>0">

          <ion-avatar>
            <img [src]="item.family[0].contact.user_details.profile_pic">
          </ion-avatar>

          <ion-label>
            {{item.family[0].contact.user_details.name}}
            <span>
              {{item.family[0].contact.relation}}
            </span>
          </ion-label>

          <div class="cb-call-info" >
            <ion-icon name="information-circle" (click)="showInfo($event,item.family[0].contact.user_details)"></ion-icon>
            <ion-label *ngIf="item.family.length>1||item.other_visitor_list.length" (click)="showPeople($event,item)">+{{item.family.length-1+item.other_visitor_list.length}}</ion-label>
          </div>

        </ion-col>





       

        <ion-col class="cb-caller" size-sm="12" size-md="4" size-lg="4" size="12" *ngIf="item.family.length==0&&item.other_visitor_list.length>0">

          <ion-avatar>
            <img src="assets/user_pic.png">
          </ion-avatar>

          <ion-label>
            {{item.other_visitor_list[0].visitor_name}}
           
          </ion-label>

          <div class="cb-call-info" >
            
            <ion-label *ngIf="item.other_visitor_list.length>1" (click)="showPeople($event,item)">+{{item.other_visitor_list.length-1}}</ion-label>
          </div>

        </ion-col>

      </ion-row>

    </ion-grid>

    <ion-item color="none" lines="none" class="mt-20 mb-zero">

      <!-- <ion-label class="cb-assignee">
        Assigned to <span>{{item.assignee.name}}</span>
      </ion-label> -->

      <ion-icon class="cb-comment-icon" name="chatbox-outline" *ngIf="item.comment!=null" (click)="showComment(item,$event)" style="margin-left: auto;margin-right: auto;"></ion-icon>

    </ion-item>

    <!-- <ion-button class="ion-activatable ripple-parent cb-call-start" *ngIf="date_1==today" (click)="start(item)" [disabled]="item.status==0">

      Start

      <ion-ripple-effect type="unbounded"></ion-ripple-effect>

    </ion-button> -->

  </ion-card>

  <!-- <ion-card class="call-list-card canceled"   *ngIf="item.status==0">

    <ion-item color="none" lines="none">

      <ion-label class="cb-timeslot">
        {{item.start_time | dateformat:'hh:mm a'}} - {{item.end_time | dateformat:'hh:mm a'}}
         <span>UTC+{{ getTimeZone(item.branch_details.timezone) }}</span>
      </ion-label>

      <ion-icon name="ellipsis-vertical" ></ion-icon>

    </ion-item>
    <span class="cancel-tag">
    
      <p>Cancelled</p>
    
    </span>
    <ion-grid>

      <ion-row>

        <ion-col class="cb-caller" size-sm="12" size-md="4" size-lg="4" size="12">

          <ion-avatar>
            <img [src]="item.consumer.resident.user.profile_pic">
          </ion-avatar>

          <ion-label>
           {{item.consumer.resident.user.name}}
            <span>
              Room No : {{item.consumer.resident.room}}
            </span>
          </ion-label>

        </ion-col>

        <ion-col size-sm="12" size-md="4" size-lg="4" size="12" class="cb-video-cam-icon">

          <img src="assets/video-cam-icon.svg">

        </ion-col>

        <ion-col class="cb-caller" size-sm="12" size-md="4" size-lg="4" size="12">

          <ion-avatar>
            <img [src]="item.family[0].contact.user.profile_pic">
          </ion-avatar>

          <ion-label>
            {{item.family[0].contact.user.name}}
            <span>
              {{item.family[0].contact.relation}}
            </span>
          </ion-label>

          <div class="cb-call-info" >
            <ion-icon name="information-circle" style="color:dimgray"></ion-icon>
            <ion-label *ngIf="item.family.length>1" >+{{item.family.length-1}}</ion-label>
          </div>

        </ion-col>

      </ion-row>

    </ion-grid>

    <ion-item color="none" lines="none" class="mt-20 mb-zero">

      <ion-label class="cb-assignee">
        Assigned to <span>{{item.assignee.name}}</span>
      </ion-label>

      <ion-icon class="cb-comment-icon" name="chatbox-outline" *ngIf="item.comment!=null"></ion-icon>

    </ion-item>

    <ion-button class="ion-activatable ripple-parent cb-call-start" *ngIf="date_1==today" [disabled]="item.status==0">

      Start

      <ion-ripple-effect type="unbounded"></ion-ripple-effect>

    </ion-button>

  </ion-card> -->
</div>

  <div *ngIf="callList.length==0">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no_callbooking_found.svg">
    </ion-thumbnail>

    <ion-item color="none" lines="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Bookings Found</ion-label>
    </ion-item>
  </div>

</ion-content>
