.header-buttons ion-icon:first-child {
  padding: 10px;
  font-size: 18px;
}

.header-buttons ion-icon:nth-child(2) {
  font-size: 30px;
  padding: 4px;
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.calendar_style {
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 10px !important;
}

.sc-ion-popover-md-h {
  --width: 100% !important;
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
  .header-buttons ion-icon:first-child {
    padding: 10px;
    font-size: 18px !important;
  }
  .header-buttons ion-icon:nth-child(2) {
    font-size: 30px !important;
    padding: 4px;
  }
}

.canceled {
  background-color: #afadad !important;
}

.canceled ion-item ion-label {
  background-color: grey;
  color: black;
}

.canceled ion-item ion-icon {
  color: dimgray;
}

.canceled ion-grid ion-row ion-col img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.canceled ion-button {
  --background: grey;
}

.cancel-tag {
  position: absolute;
  top: 0px;
  left: 0px;
  background: red;
  color: #fff;
  font-size: 13px;
  padding: 0px 20px 6px;
  line-height: normal;
  font-family: sans-serif;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.canceled ion-item {
  --padding-start: 0px;
  --inner-padding-end: 0px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.d-flex-jc-center {
  display: flex;
  justify-content: center;
}

.more-filters {
  margin-bottom: 10px !important;
}

ion-fab {
  background: #ffffff;
  width: 100%;
  top: 0px;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}
