<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" ></ion-icon>
          <ion-label>Breakfast on 11 Oct 2021</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="fi-detail-img">

          <img src="/assets/dining/food-items/tea-large.png">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">Tea <span>(2865 KJ)</span></ion-label>

        <ion-row>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

            <ion-label class="dining-inner-title">Quantity</ion-label>

            <ion-item lines="none" color="none" class="plus-minus">

              <ion-icon class="minus-icon" name="remove-outline"  item-right></ion-icon>

              <ion-input type="number" min="0"  readonly></ion-input>

              <ion-icon class="plus-icon" name="add-outline"  item-right></ion-icon>

            </ion-item>

          </ion-col>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

            <ion-label class="dining-inner-title">Size</ion-label>

            <ion-segment  class="fi-size-segment-btn">

              <ion-segment-button value="s">
                <ion-label>S</ion-label>
              </ion-segment-button>

              <ion-segment-button value="m">
                <ion-label>M</ion-label>
              </ion-segment-button>

              <ion-segment-button value="l">
                <ion-label>L</ion-label>
              </ion-segment-button>

            </ion-segment>


          </ion-col>

          <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-label class="dining-inner-title">Texture</ion-label>

            <ion-select interface="action-sheet" class="fi-texture-select">
              
              <ion-select-option value="brown">Regular</ion-select-option>
              <ion-select-option value="blonde">Soft & bite-sized</ion-select-option>
              <ion-select-option value="black">Minced & moist</ion-select-option>
              <ion-select-option value="red">Pureed</ion-select-option>
              <ion-select-option value="red">liquidised</ion-select-option>

            </ion-select>

          </ion-col> -->

        </ion-row>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 borderline-top-bottom">

        <ion-label class="dining-inner-title">Options</ion-label>

        <span class="dining-inner-title-1">Sugar</span>

        <div class="fi-options-block">

          <ion-label class="fi-options fi-options-selected">No sugar</ion-label>

          <ion-label class="fi-options">1 sugar</ion-label>

          <ion-label class="fi-options">2 sugar</ion-label>

          <ion-label class="fi-options">1 sweetener</ion-label>

          <ion-label class="fi-options">2 sweetener</ion-label>

        </div>

        <span class="dining-inner-title-1">Milk</span>

        <div class="fi-options-block">

          <ion-label class="fi-options fi-options-selected">Animal milk</ion-label>

          <ion-label class="fi-options">Plant milk</ion-label>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 borderline-bottom">

        <ion-label class="dining-inner-title">Comments</ion-label>

        <ion-textarea class="fi-comments" rows="5"> </ion-textarea>

        <p class="fi-description">Minim nisi sint amet enim sunt ullamco ad voluptate dolor nostrud velit voluptate
          mollit veniam. Velit cupidatat ea qui do consequat. Consectetur tempor sit fugiat ea magna eiusmod ea.
          Deserunt deserunt eu consectetur aliquip adipisicing elit incididunt quis aliquip nulla. Duis incididunt
          voluptate duis eu dolor excepteur sint. Exercitation nisi excepteur reprehenderit elit Lorem nisi sit
          adipisicing velit officia duis dolor laborum sunt.</p>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10">

        <ion-label class="dining-inner-title">Allergies</ion-label>

        <div class="allergies-block">

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

          <ion-chip class="allergy">
            <i class="las la-blender"></i>
            <ion-label>Milk</ion-label>
          </ion-chip>

        </div>



      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>

<ion-footer>

  <ion-button class="apply-btn">
    <ion-icon name="checkmark-circle"></ion-icon>
    <ion-label>Apply</ion-label>
  </ion-button>

</ion-footer>