.ion-header-inner {
    background: #0077B5 !important;
}

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

.fi-detail-img {
    img {
        width: 100%;
        max-width: fit-content;
        max-height: 300px;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
    }
}

.fi-name {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #222;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    
    span {
        color: #EAA018;
    }

}

.dining-inner-title {
    font-size: 18px;
    color: #707070;
    margin-bottom: 15px;
    display: block;
}

.plus-minus {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 120px;
    height: 40px;
    padding: 0px 10px;
    font-size: 18px;
    background: #E6E6E6;
    border-radius: 10px;
    color: #808080;
    margin-top: 10px;
    --padding-start: 0;
    --inner-padding-end: 0;

    .minus-icon {
        // border-right: 1px solid #c8c8c8;
        padding-right: 10px;
        font-size: 18px;
    }

    ion-input {
        background: #F4F4F4;
        text-align: center;
        align-self: center;
        display: flex;
        --padding-end: 0;
    }

    .plus-icon {
        // border-left: 1px solid #c8c8c8;
        padding-left: 10px;
        font-size: 18px;
    }
}

.fi-size-segment-btn {
    background: #F4F4F4;
    color: #707070;
    max-width: fit-content;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-segment-button {
        min-width: auto;
        font-size: 18px;
        --background-checked: #0077B5;
        --color-checked: #fff;
    }
}

.fi-texture-select {
    background: #efefef;
    border-radius: 6px;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    font-size: 16px;
    height: 45px;
    margin-top: 10px;
}

.dining-inner-title-1 {
    font-size: 16px;
    font-weight: 500;
    color: #707070;
}

.fi-options-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;

    .fi-options {
        background: #EEF9FF;
        border-radius: 50px;
        padding: 5px 20px;
        color: #0077b5;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        margin: 10px 10px 5px 0px;
    }

    .fi-options-selected {
        background: #0077B5 !important;
        color: #fff !important;
    }
}

.borderline-top-bottom {
    border-top: 1px dashed #e3e3e3;
    border-bottom: 1px dashed #e3e3e3;
    padding-top: 15px;
    padding-bottom: 15px;
}

.borderline-bottom {
    border-bottom: 1px dashed #e3e3e3;
    padding-bottom: 15px;
}

.fi-comments {
    background: #efefef;
    border-radius: 6px;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    font-size: 16px;
    min-height: 150px;
    margin-top: 10px;
    border: none;
}

.fi-description {
    font-size: 16px;
    color: #707070;
    line-height: 25px;
    margin-bottom: 0;
}

.allergies-block {
    display: flex;
    flex-wrap: wrap;

    .allergy {
        background: #FF5B49;
        border-radius: 50px;
        height: 30px;
        padding: 10px 15px;
        margin: 8px 8px 4px 0px;

        i {
            font-size: 18px;
            color: #fff;
            vertical-align: middle;
        }

        ion-label {
            font-size: 16px;
            color: #fff;
            margin-left: 5px;
            vertical-align: middle;
        }
    }
}

ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .apply-btn {
        --background: #1AAB4A;
        --box-shadow: none;
        --border-radius: 50px;
        color: #fff;
        font-size: 18px;
        font-weight: normal;
        text-transform: none;
        letter-spacing: normal;
        height: 40px;

        ion-icon {
            font-size: 25px;
            vertical-align: middle;
        }

        ion-label {
            vertical-align: middle;
            margin-left: 5px;
        }
    }
}

@media only screen and (min-width:768px) {
    .fi-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;

        .fi-name {
            text-align: left;
        }
    }
}