rich-text [contenteditable=true] {
  -webkit-user-select: auto !important;
  padding: 2px;
  margin: 2px;
  border: 1px solid #bbb;
  overflow-x: scroll;
  overflow-y: auto;
  word-wrap: normal;
  height: 40vh;
  background-color: #fff;
}

rich-text [contenteditable=true] img {
  padding-left: 2px;
  max-width: 95%;
}

rich-text [contenteditable=true]:empty:before {
  content: attr(data-placeholder-text);
  display: block;
  color: lightgrey;
  font-weight: bold;
}

rich-text div.decorator {
  background: #444;
  margin: 5px 1px 5px 1px;
  text-align: center;
}

rich-text div.decorator button {
  background: #444;
  color: #fff;
  font-size: 1.1em;
  height: 35px;
  min-width: 30px;
  padding-left: 1px;
  padding-right: 1px;
}
