ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;

    p {
        margin: 0;
        color: #222;
        font-family: "Roboto", sans-serif;
    }
}
