<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" ></ion-icon>
          <ion-label>
            Dining table 1
            <span class="hdr-di-name">Lunch on 11 Dec 2021</span>
          </ion-label>

        </ion-col>

        <!-- <ion-col class="col-fit ion-align-self-start page-name" size="10">
          <ion-button class="hdr-btn">
            <ion-icon name="search-sharp"></ion-icon>
          </ion-button>
        </ion-col> -->

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-card class="din-consumer-info-card">

          <ion-grid>

            <ion-row>

              <ion-col class="col-fit">

                <ion-icon class="back-icon" name="arrow-back-outline"></ion-icon>

                <ion-avatar class="consumer-pic">

                  <img src="/assets/dining/consumers/1.png">

                </ion-avatar>

              </ion-col>

              <ion-col class="col-fit">

                <ion-label class="c-name">

                  Amelia johnson

                  <p class="room-no">220 B, <span class="wing-name">Apple blossom</span></p>

                </ion-label>

              </ion-col>

              <ion-col class="col-fit">
                <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>
              </ion-col>

              <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

                <div class="diet-info-box">

                  <span class="di-item diabetic">Diabetic diet</span>

                  <span class="di-item regular">7 Regular</span>

                  <span class="di-item mildly-thick">2 Mildly thicky</span>

                  <span class="di-item msm">Medium sized meal</span>

                  <span class="di-item food-ft"><i class="las la-drumstick-bite"></i> Meat</span>

                  <span class="di-item food-ft"><i class="las la-blender"></i> Blender</span>

                </div>

                <!-- <ion-button class="vmore-btn">View more</ion-button> -->

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>




</ion-content>