.ion-header-inner {
    background: #0077B5 !important;

    ion-label {
        line-height: 22px;

        .hdr-di-name {
            display: block;
            font-size: 15px;
            font-weight: 500;
            color: #C7EAFB;
        }
    }

    .hdr-btn {
        --background: #C7EAFB;
        --border-radius: 50px;
        --padding-start: 8px;
        --padding-end: 8px;
        --box-shadow: none;
        color: #0077b5;
        width: 40px;
        height: 40px;
    }
}

ion-content {
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 5px;
    --padding-bottom: 5px;
}

.din-consumer-info-card {
    padding: 5px;
    margin: 0;
    display: flex;

    ion-grid {
        ion-row {
            // border-top: 1px dashed #E1E1E1;
            // border-bottom: 1px dashed #E1E1E1;

            ion-col {
                &:nth-child(2) {
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .back-icon {
        font-size: 25px;
        vertical-align: middle;
    }

    .consumer-pic {
        width: 60px;
        height: 60px;
    }

    .c-name {
        font-size: 16px;
        font-weight: 600;
        color: #707070;
        // margin-left: 10px;

        .room-no {
            font-size: 14px;
            font-weight: normal;
            display: block;
            // margin-left: 10px;
        }
    }

    .chevron-down {
        font-size: 25px;
        background: #ededed;
        color: #9b9b9b;
        border-radius: 50px;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .diet-info-box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-top: 1px dashed #c9c9c9;
        // border-bottom: 1px dashed #c9c9c9;
        padding-top: 10px;
        // padding-bottom: 10px;

        .di-item {
            font-size: 13px;
            color: #ffff;
            background: #707070;
            text-align: center;
            border-radius: 50px;
            padding: 2px 9px;
            margin: 4px;
        }

        .diabetic {
            background: #0FBBF3 !important;
        }

        .regular {
            background: #232323 !important;
        }

        .mildly-thicky {
            background: #BF1C62 !important;
        }

        .msm {
            background: #757FFF !important;
        }

        .food-ft {
            background: #FF5B49 !important;

            i {
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }

    .vmore-btn {
        --background: transparent;
        --box-shadow: none;
        --ripple-color: #c9c9c9;
        color: #0077B5;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        text-transform: none;
        letter-spacing: normal;
        margin: 10px auto 0;
        display: block;
    }
}

.ind-order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px;
    padding: 0 5px;

    .date-range-box {
        display: flex;
        justify-content: space-between;

        ion-icon {
            font-size: 25px;
            color: #707070;
        }

        ion-label {
            font-size: 16px;
            font-weight: 500;
            color: #222;
            margin: 0px 15px;
        }
    }

    .din-controls {
        display: flex;

        ion-button {
            --background: transparent;
            --box-shadow: none;
            --padding-start: 0;
            --padding-end: 0;
            --ripple-color: #232323;
            --border-radius: 50px;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(2) {
                margin-left: 10px;
            }
        }
    }
}

.din-item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 10px;


    .din-item {
        font-size: 18px;
        font-weight: 500;
        color: #222;
        line-height: 22px;

        .din-timing {
            font-size: 14px;
            font-weight: normal;
            color: #707070;
            display: block;
        }
    }

    .din-skipped-tag {
        font-size: 12px;
        padding: 2px 9px;
        border-radius: 50px;
        background: #FF7216;
        color: #ffff;
        margin-left: auto;
        margin-right: 15px;
    }

    .din-more-options {
        font-size: 25px;
        color: #858585;
        vertical-align: middle;
    }


}