ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;

    ion-grid {
        padding: 0px;
    }

    .meal-dt-box {
        ion-label {
            color: #222;
            font-size: 18px;
            font-family: "Roboto", sans-serif;
        }

        ion-datetime {
            background: #f3f3f3;
            border: none;
            border-radius: 10px;
            color: #1c1c1c !important;
            --padding-start: 15px;
            --padding-end: 15px;
            margin-top: 15px;
        }

        .meal-date {
            position: absolute;
            top: 58px;
            right: 15px;
            z-index: 999;
            color: #707070;
            font-size: 25px;
        }

        .meal-time-box {
            display: flex;
            flex-wrap: wrap;
            margin-top: 15px;

            ion-chip {
                background: #eef9ff;
                color: #0077b5;
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                padding: 10px 20px;
                height: 40px;
                border-radius: 50px;
                border: 1px solid #d5f1ff;
            }

            .chip-selected {
                background: #0077b5 !important;
                color: #fff !important;
            }
        }

        .dining-area-box {
            display: flex;
            flex-wrap: wrap;
            margin-top: 15px;

            ion-chip {
                background: #eef9ff;
                color: #0077b5;
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                padding: 10px 20px;
                height: 40px;
                border-radius: 50px;
                border: 1px solid #d5f1ff;
            }

            .chip-selected {
                background: #0077b5 !important;
                color: #fff !important;
            }
        }
    }
}

ion-footer {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 8px 0px 0px;
    &::before {
        background: none;
    }

    .view-btn {
        text-transform: capitalize;
        width: 90%;
        height: 55px;
        --border-radius: 50px;
        --background: #0077b5;
        --box-shadow: none;
        --padding-start: 20px;
        --padding-end: 20px;
        max-width: -moz-fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
        margin-bottom: 15px;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    ion-footer {
        .view-btn {
            width: 100px;
            height: 45px;
            --padding-start: 25px;
            --padding-end: 25px;
        }
    } 
}
