<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Choose a date and meal time</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class="meal-dt-box">

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15">

        <ion-label>Date <span class="asterisk">*</span></ion-label>
        <ion-datetime displayFormat="DDDD MMM D, YYYY" [min]="2022" [max]="2040" [(ngModel)]="date" mode="md"></ion-datetime>
        <!-- <i class="las la-calendar meal-date"></i> -->

      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15">

       <ion-label>Meal time <span class="asterisk">*</span></ion-label>

        <div class="meal-time-box">
          <ion-chip [class.chip-selected]="ser_time==item.id" *ngFor="let item of serving_time" (click)="setServetime(item)">{{item.servingtime}}</ion-chip>
          <!-- <ion-chip>Morning tea</ion-chip>
          <ion-chip class="chip-selected">Lunch</ion-chip>
          <ion-chip>Afternoon tea</ion-chip>
          <ion-chip>Dinner</ion-chip>
          <ion-chip>Supper</ion-chip> -->
        </div>

      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15">

        <ion-label>Dining area <span class="asterisk">*</span></ion-label>
 
         <div class="dining-area-box">
           <ion-chip [class.chip-selected]="area==item.id" *ngFor="let item of serving_area" (click)="selectArea(item)">{{item.serving_area}}</ion-chip>
         
         </div>

         <ion-label *ngIf="!serving_area.length">No dining area available.</ion-label>
 
       </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>


<ion-footer>

  <ion-button class="view-btn" (click)="view()">View</ion-button>

</ion-footer>