<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/rv-resident-profile-landing',{id:cid}]"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end" *ngIf="!editProfile&&edit_profile" (click)="edit()">
          <ion-button class="edit-btn">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="consumer">

  <div class="profile-details-box mb-20">

    <div class="pdb-thumb-name-box" (click)="expand()">

      <ion-avatar>

        <img [src]="profile_pic">

        <!-- <i class="edit-dp-btn las la-edit"></i> -->

        <ion-icon class="edit-dp-btn" name="create-outline" *ngIf="editProfile" (click)="addPetImage(2)"></ion-icon>

      </ion-avatar>

      <ion-label class="consumer-name">{{consumer.user.name}}
        <ion-label class="lw"
          *ngIf="consumer.property_details&&consumer.property_details.contract_details&&consumer.property_details.contract_details.all_residents&&consumer.property_details.contract_details.all_residents.length>1">Living
          with
          <span
            (click)="getNextProfile(consumer.property_details.contract_details.all_residents); $event.stopPropagation()">{{getCompanian(consumer.property_details.contract_details.all_residents,consumer.user_id)}}</span></ion-label>
      </ion-label>

      <ion-icon name="chevron-down-outline" class="pdb-mi-arrow"></ion-icon>

    </div>

    <div class="pdb-other-infobox" *ngIf="expandProfile">

      <ion-label class="rw-sec"
        *ngIf="consumer.property_details&&consumer.property_details.contract_details&&consumer.property_details.contract_details.property&&consumer.property_details.contract_details.property.location">
        <i class="las la-building"></i>
        {{consumer.property_details.contract_details.property.location.name}} </ion-label>

      <ion-label class="phone mt-5" *ngIf="phone"> <i class="las la-phone"></i> {{phone}} <ion-chip
          (click)="makeCall(phone)"><ion-icon name="call"></ion-icon> Call</ion-chip> </ion-label>
      <ion-label class="phone" *ngIf="mobile"> <i class="las la-mobile-alt"></i> {{mobile}} <ion-chip
          (click)="makeCall(mobile)"><ion-icon name="call"></ion-icon> Call</ion-chip> </ion-label>

      <ion-label class="email" *ngIf="consumer.user.email && consumer.user.email.indexOf('centrimlife.com.au') === -1">
        <i class="las la-envelope"></i> {{consumer.user.email}} </ion-label>

      <ion-label class="dob" *ngIf="consumer.dob"> <i class="las la-calendar"></i> {{consumer.dob|dateformat:'DD
        MMM,YYYY'}} ({{consumer.age}}) </ion-label>

      <!-- <ion-label class="lw" *ngIf="consumer.property_details&&consumer.property_details.contract_details&&consumer.property_details.contract_details.all_residents&&consumer.property_details.contract_details.all_residents.length>1">Living with 
        <span (click)="getNextProfile(consumer.property_details.contract_details.all_residents)">{{getCompanian(consumer.property_details.contract_details.all_residents,consumer.user_id)}}</span></ion-label> -->

    </div>



  </div>


  <ion-card class="blue_card acc-card" (click)="expandSettings(1)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Perosnal Information</ion-label>
      </ion-col>

      <ion-col class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box pb-zero" *ngIf="expand1">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Title</ion-label>
        <ion-select class="text_color" [(ngModel)]="title" *ngIf="editProfile" interface="action-sheet"
          placeholder="Select">

          <ion-select-option value="0">Mr</ion-select-option>
          <ion-select-option value="1">Mrs</ion-select-option>
          <ion-select-option value="2">Ms</ion-select-option>
          <ion-select-option value="3">Dr</ion-select-option>
          <ion-select-option value="4">Other</ion-select-option>

        </ion-select>



        <span class="pi-ans" *ngIf="!editProfile">{{consumer.title}}</span>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">First Name <span class="asterisk" *ngIf="editProfile">*</span></ion-label>

        <ion-input [(ngModel)]="fname" *ngIf="editProfile" type="text"></ion-input>

        <span class="pi-ans" *ngIf="!editProfile">{{fname}}</span>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-label class="profile-item-name">Last Name <span class="asterisk" *ngIf="editProfile">*</span></ion-label>

        <ion-input [ngModel]="lname" *ngIf="editProfile" type="text"></ion-input>

        <span class="pi-ans" *ngIf="!editProfile">{{lname}}</span>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-label class="profile-item-name">Preferred Name <span class="asterisk"
            *ngIf="editProfile">*</span></ion-label>

        <ion-input [ngModel]="p_name" *ngIf="editProfile" type="text"></ion-input>

        <span class="pi-ans" *ngIf="!editProfile">{{p_name}}</span>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Mobile No.</ion-label>

        <div class="profile-dt-box" *ngIf="editProfile">

          <ion-input class="contact-phone-input" [(ngModel)]="mobile" type="phone"></ion-input>

          <span class="country-code">
            +61
          </span>

        </div>

        <span class="pi-ans pi-ans-call-ft" *ngIf="!editProfile">{{mobile}} <ion-button class="rv-res-call-btn"
            *ngIf="mobile" (click)="makeCall(consumer.user.phone)"><i class="las la-phone"></i></ion-button></span>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Phone No.</ion-label>

        <ion-input [(ngModel)]="phone" *ngIf="editProfile" type="phone"></ion-input>

        <span class="pi-ans pi-ans-call-ft" *ngIf="!editProfile">{{phone}} <ion-button class="rv-res-call-btn"
            *ngIf="phone" (click)="makeCall(consumer.user.mobile)"><i class="las la-phone"></i></ion-button></span>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngIf="!no_email">

        <ion-label class="profile-item-name">Email <span class="asterisk" *ngIf="editProfile">*</span></ion-label>

        <ion-input [(ngModel)]="email" *ngIf="editProfile" type="text"></ion-input>

        <span class="pi-ans" *ngIf="!editProfile">{{email}}</span>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-25" *ngIf="editProfile">

        <ion-toggle class="profile-toggle-switch" [(ngModel)]="no_email"></ion-toggle>
        <ion-label class="profile-item-name mt-zero"> Do not have email</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngIf="no_email">

        <ion-label class="profile-item-name">Username <span class="asterisk" *ngIf="editProfile">*</span></ion-label>

        <ion-input [(ngModel)]="username" *ngIf="editProfile" type="text"></ion-input>

        <span class="pi-ans" *ngIf="!editProfile">{{username}}</span>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Communication Email </ion-label>

        <ion-input [(ngModel)]="c_email" *ngIf="editProfile" type="text"></ion-input>

        <span class="pi-ans" *ngIf="!editProfile">{{c_email}}</span>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Community Position</ion-label>

        <ion-select class="text_color" interface="action-sheet" [(ngModel)]="position" *ngIf="editProfile"
          placeholder="Select">

          <ion-select-option value="{{item.id}}"
            *ngFor="let item of community_position">{{item.name}}</ion-select-option>


        </ion-select>

        <span class="pi-ans" *ngIf="!editProfile">{{cposition}}</span>


      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Status</ion-label>


        <ion-select class="text_color" [(ngModel)]="status" *ngIf="editProfile" interface="action-sheet"
          placeholder="Select">

          <ion-select-option value="1">Active</ion-select-option>
          <ion-select-option value="0">Inactive</ion-select-option>
          <ion-select-option value="3">No contract</ion-select-option>
          <ion-select-option value="4">Moving in soon</ion-select-option>

        </ion-select>

        <span class="pi-ans" *ngIf="!editProfile&&status==1">Active</span>
        <span class="pi-ans" *ngIf="!editProfile&&status==0">Inactive</span>
        <span class="pi-ans" *ngIf="!editProfile&&status==3">No contract</span>
        <span class="pi-ans" *ngIf="!editProfile&&status==4">Moving in soon</span>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-label class="profile-item-name">Description/ Personal History</ion-label>

        <ion-textarea rows="5" [(ngModel)]="description" *ngIf="editProfile"></ion-textarea>

        <span class="pi-ans" *ngIf="!editProfile">{{description}}</span>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10">
        <ion-label class="sec-title">Share Permissions</ion-label>
      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10">

        <ion-toggle class="profile-toggle-switch" [(ngModel)]="share_photo" [disabled]="!editProfile"></ion-toggle>
        <ion-label class="profile-item-name mt-zero"> Do not share photos publicly</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-toggle class="profile-toggle-switch" [(ngModel)]="share_dob" [disabled]="!editProfile"></ion-toggle>
        <ion-label class="profile-item-name mt-zero"> Do not share DOB</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-toggle class="profile-toggle-switch" [(ngModel)]="share_phone" [disabled]="!editProfile"></ion-toggle>
        <ion-label class="profile-item-name mt-zero"> Do not share phone number</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-toggle class="profile-toggle-switch" [(ngModel)]="share_email" [disabled]="!editProfile"></ion-toggle>
        <ion-label class="profile-item-name mt-zero"> Do not share email</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-toggle class="profile-toggle-switch" [(ngModel)]="share_details" [disabled]="!editProfile"></ion-toggle>
        <ion-label class="profile-item-name mt-zero"> Do not share details to contacts</ion-label>

      </ion-col>



      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngIf="share_details">

        <ion-label class="profile-item-name">Choose contacts</ion-label>

        <ion-item lines="none" color="none" (click)="openSelector(selector5)" *ngIf="editProfile">
          <ion-select class="text_color" interface="action-sheet" [(ngModel)]="family_id" placeholder="Select"
            multiple="true" #selector5 style="pointer-events: none" [interfaceOptions]="customAlertOptions">

            <ion-select-option value="{{item.user_details.user_id}}"
              *ngFor="let item of contacts">{{item.user_details.name}}</ion-select-option>


          </ion-select>
        </ion-item>

        <span class="pi-ans" *ngIf="!editProfile">{{hiddenfrom}}</span>


      </ion-col>

    </ion-row>

  </div>

  <ion-card class="blue_card acc-card" (click)="expandSettings(2)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Additional Information</ion-label>
      </ion-col>

      <ion-col class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box pb-zero" *ngIf="expand2">

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="profile-ai-sec mb-zero pb-zero">



        <ion-row>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Gender<span class="asterisk" *ngIf="editProfile">*</span></ion-label>



            <ion-select class="text_color" interface="action-sheet" [(ngModel)]="gender" *ngIf="editProfile"
              placeholder="Select">

              <ion-select-option value="{{item.gender_id}}"
                *ngFor="let item of genderArray">{{item.gender}}</ion-select-option>


            </ion-select>

            <span class="pi-ans" *ngIf="!editProfile&&consumer.gender">{{consumer.gender.gender}}</span>


          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name mt-zero">Date of Birth <span class="asterisk"
                *ngIf="editProfile">*</span>
            </ion-label>

            <span class="profile-dt-box" *ngIf="editProfile">

              <ion-datetime value="2020-10-31T15:43:40.394Z" displayFormat=" DD MMM YYYY" [(ngModel)]="dob">
              </ion-datetime>

              <ion-icon class="consumer-about-calendar-icon" name="calendar-clear-outline"></ion-icon>

            </span>

            <span class="pi-ans" *ngIf="!editProfile">{{dob|dateformat:'DD MMM YYYY'}}</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Marital status</ion-label>

            <ion-select interface="action-sheet" class="text_color" [(ngModel)]="marital_status" *ngIf="editProfile"
              placeholder="Select">

              <ion-select-option value="0">Married</ion-select-option>
              <ion-select-option value="1">Single</ion-select-option>
              <ion-select-option value="2">De facto</ion-select-option>
              <ion-select-option value="3">Other</ion-select-option>
              <ion-select-option value="4">Widow</ion-select-option>

            </ion-select>

            <span class="pi-ans" *ngIf="!editProfile&&marital_status==0">Married</span>
            <span class="pi-ans" *ngIf="!editProfile&&marital_status==1">Single</span>
            <span class="pi-ans" *ngIf="!editProfile&&marital_status==2">De facto</span>
            <span class="pi-ans" *ngIf="!editProfile&&marital_status==3">Other</span>
            <span class="pi-ans" *ngIf="!editProfile&&marital_status==4">Widow</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Country of birth</ion-label>


            <!-- <div (click)="openCountryList()">{{birth_country?birth_country_name:'Select country'}}</div> -->

            <div (click)="openCountryList()" class="country-name-holder">
              <ion-text class="country-name">{{birth_country?birth_country_name:'Select country'}}</ion-text> 
              <ion-icon *ngIf="editProfile" class="chevron-down-icon" name="chevron-down-outline"></ion-icon>
            </div>


            <!-- <ion-select interface="action-sheet" class="text_color" [(ngModel)]="birth_country"
              [disabled]="!editProfile" placeholder="Select country">

              <ion-select-option value="{{item.id}}" *ngFor="let item of countries">{{item.name}}</ion-select-option>

            </ion-select> -->



          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="8" size="12">

            <ion-label class="profile-item-name">Languages spoken</ion-label>

            <ion-select interface="action-sheet" class="text_color" [(ngModel)]="languages" multiple="true"
              *ngIf="editProfile" placeholder="Select">

              <ion-select-option value="English">English</ion-select-option>
              <ion-select-option value="Italian">Italian</ion-select-option>
              <ion-select-option value="Spanish">Spanish</ion-select-option>
              <ion-select-option value="Greek">Greek</ion-select-option>
              <ion-select-option value="Macedonian">Macedonian</ion-select-option>
              <ion-select-option value="French">French</ion-select-option>
              <ion-select-option value="Welsh">Welsh</ion-select-option>
              <ion-select-option value="Arabic">Arabic</ion-select-option>
              <ion-select-option value="Persian">Persian</ion-select-option>
              <ion-select-option value="Turkish">Turkish</ion-select-option>
              <ion-select-option value="Japanese">Japanese</ion-select-option>
              <ion-select-option value="Vietnamese">Vietnamese</ion-select-option>
              <ion-select-option value="Mandarin">Mandarin</ion-select-option>
              <ion-select-option value="Hindi">Hindi</ion-select-option>
              <ion-select-option value="Filipino">Filipino</ion-select-option>
              <ion-select-option value="Tamil">Tamil</ion-select-option>

            </ion-select>

            <span class="pi-ans" *ngIf="!editProfile">
              <ion-chip *ngFor="let item of languages">{{item}}</ion-chip>

            </span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Religion</ion-label>

            <ion-select interface="action-sheet" class="text_color" [(ngModel)]="religion" *ngIf="editProfile"
              placeholder="Select">

              <ion-select-option value="1">Christ</ion-select-option>
              <ion-select-option value="2">Budhist</ion-select-option>
              <ion-select-option value="3">Hindu</ion-select-option>
              <ion-select-option value="4">Muslim</ion-select-option>
              <ion-select-option value="5">Sikh</ion-select-option>
              <ion-select-option value="6">Atheist</ion-select-option>
              <ion-select-option value="0">Others</ion-select-option>

            </ion-select>

            <span class="pi-ans" *ngIf="!editProfile&&religion==1">Christ</span>
            <span class="pi-ans" *ngIf="!editProfile&&religion==2">Budhist</span>
            <span class="pi-ans" *ngIf="!editProfile&&religion==3">Hindu</span>
            <span class="pi-ans" *ngIf="!editProfile&&religion==4">Muslim</span>
            <span class="pi-ans" *ngIf="!editProfile&&religion==5">Sikh</span>
            <span class="pi-ans" *ngIf="!editProfile&&religion==6">Atheist</span>
            <span class="pi-ans" *ngIf="!editProfile&&religion==0">Others</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12" class="pb-zero">

            <ion-label class="profile-item-name">Interpreter Required</ion-label>

            <ion-radio-group [(ngModel)]="interpreter" *ngIf="editProfile">

              <ion-item lines="none" color="none">
                <ion-radio value="1" mode="md" class=""></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="0" mode="md" class=""></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>

            </ion-radio-group>

            <span class="pi-ans" *ngIf="!editProfile&&interpreter==1">Yes</span>
            <span class="pi-ans" *ngIf="!editProfile&&interpreter==0">No</span>

          </ion-col>

        </ion-row>

        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

          <ion-row class="profile-ldin-sec">

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

              <ion-label class="profile-item-name">Likes</ion-label>



              <span class="pi-ans" *ngIf="!editProfile">

                <ion-chip *ngFor="let item of likes">{{item.value}}</ion-chip>

              </span>

              <ng-container *ngIf="editProfile">

                <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-20"
                  *ngFor="let item of likes;let idx=index">

                  <div class="add-new-item-block">

                    <ion-input [(ngModel)]="likes[idx].value" type="text"></ion-input>

                    <ion-icon class="remove-option-btn" name="close-outline"
                      (click)="removeLikeItem(item,idx)"></ion-icon>

                  </div>

                </ion-col>

                <ion-col>

                  <ion-button class="add-new-item-button" (click)="addLikeItem()">
                    <ion-icon name="add-outline"></ion-icon>
                    <ion-label>Add new item</ion-label>
                  </ion-button>

                </ion-col>

              </ng-container>

            </ion-col>

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

              <ion-label class="profile-item-name">Dislikes</ion-label>



              <span class="pi-ans" *ngIf="!editProfile">

                <ion-chip *ngFor="let item of dislikes">{{item.value}}</ion-chip>

              </span>

              <ng-container *ngIf="editProfile">

                <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-20"
                  *ngFor="let item of dislikes;let idx=index">

                  <div class="add-new-item-block">

                    <ion-input [(ngModel)]="dislikes[idx].value" type="text"></ion-input>
                    <ion-icon class="remove-option-btn" name="close-outline"
                      (click)="removeDislikeItem(item,idx)"></ion-icon>

                  </div>

                </ion-col>

                <ion-col>

                  <ion-button class="add-new-item-button" (click)="addDislikeItem()">
                    <ion-icon name="add-outline"></ion-icon>
                    <ion-label>Add new item</ion-label>
                  </ion-button>

                </ion-col>

              </ng-container>

            </ion-col>

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

              <ion-label class="profile-item-name">Interests</ion-label>

              <span class="pi-ans" *ngIf="!editProfile">

                <ion-chip *ngFor="let item of interests">{{item.value}}</ion-chip>

              </span>

              <ng-container *ngIf="editProfile">
                <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-20"
                  *ngFor="let item of interests;let idx=index">

                  <div class="add-new-item-block">

                    <ion-input [(ngModel)]="interests[idx].value" type="text"></ion-input>
                    <ion-icon class="remove-option-btn" name="close-outline"
                      (click)="removeInterestsItem(item,idx)"></ion-icon>

                  </div>

                </ion-col>

                <ion-col>

                  <ion-button class="add-new-item-button" (click)="addInterestsItem()">
                    <ion-icon name="add-outline"></ion-icon>
                    <ion-label>Add new item</ion-label>
                  </ion-button>

                </ion-col>

              </ng-container>

            </ion-col>

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

              <ion-label class="profile-item-name">Needs</ion-label>

              <span class="pi-ans" *ngIf="!editProfile">

                <ion-chip *ngFor="let item of needs">{{item.value}}</ion-chip>

              </span>

              <ng-container *ngIf="editProfile">

                <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mb-20"
                  *ngFor="let item of needs;let idx=index">

                  <div class="add-new-item-block">

                    <ion-input [(ngModel)]="needs[idx].value" type="text"></ion-input>
                    <ion-icon class="remove-option-btn" name="close-outline"
                      (click)="removeNeedsItem(item,idx)"></ion-icon>

                  </div>

                </ion-col>

                <ion-col>

                  <ion-button class="add-new-item-button" (click)="addNeedsItem()">
                    <ion-icon name="add-outline"></ion-icon>
                    <ion-label>Add new item</ion-label>
                  </ion-button>

                </ion-col>

              </ng-container>

            </ion-col>

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

              <ion-label class="profile-item-name">Groups</ion-label>

              <ion-select interface="action-sheet" class="text_color" [(ngModel)]="group" multiple="true"
                *ngIf="editProfile" placeholder="Select">

                <ion-select-option value="{{item.id}}" *ngFor="let item of groups">{{item.name}}</ion-select-option>

              </ion-select>

              <span class="pi-ans" *ngIf="!editProfile">
                <ion-chip *ngFor="let group of group_name">{{group}}</ion-chip>


              </span>

            </ion-col>

          </ion-row>

        </ion-col>

        <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

          <ion-row class="profile-moreinfo-sec">

            <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

              <ion-label class="profile-item-name">Car registration No.</ion-label>

              <ion-input [(ngModel)]="car_registration" *ngIf="editProfile" type="text"></ion-input>

              <span class="pi-ans" *ngIf="!editProfile"> {{car_registration}}</span>

            </ion-col>

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

              <ion-label class="profile-item-name">Additional Notes</ion-label>

              <ion-textarea rows="5" [(ngModel)]="additional_notes" *ngIf="editProfile"></ion-textarea>

              <span class="pi-ans" *ngIf="!editProfile">{{additional_notes}}</span>

            </ion-col>

          </ion-row>

        </ion-col>

      </ion-col>

    </ion-row>

  </div>

  <ion-card class="blue_card acc-card" (click)="expandSettings(5)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Healthcare Info</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand5">

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">



        <ion-row class="profile-moreinfo-sec">

          <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-label class="profile-item-name mt-zero">Medical conditions</ion-label>

            <ion-select interface="action-sheet" class="text_color" [(ngModel)]="medical_conditions" *ngIf="editProfile"
              multiple="true" placeholder="Select">

              <ion-select-option value="{{item.id}}"
                *ngFor="let item of medicalConditionArray">{{item.condition}}</ion-select-option>

            </ion-select>

            <ion-label class="add-medical-condition" *ngIf="editProfile" (click)="addAllergy(3)">
            <ion-icon name="add-outline"></ion-icon> 
            Add new medical condition
          </ion-label>
            <span class="pi-ans" *ngIf="!editProfile">
              <ion-chip *ngFor="let item of consumer.medical_conditions">{{item.medical_condition.condition}}</ion-chip>

            </span>

          </ion-col>


          <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-label class="profile-item-name">Medical history</ion-label>

            <ion-textarea rows="5" [(ngModel)]="medical_history" *ngIf="editProfile"></ion-textarea>

            <span class="pi-ans" *ngIf="!editProfile">
              {{medical_history}}
            </span>

          </ion-col>

          <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-label class="profile-item-name mt-zero">Allergies</ion-label>

            <ion-select interface="action-sheet" class="text_color" [(ngModel)]="allergies" *ngIf="editProfile"
              multiple="true" placeholder="Select">

              <ion-select-option value="{{item.id}}"
                *ngFor="let item of allergyArray">{{item.alergy}}</ion-select-option>

            </ion-select>

           

            <span class="pi-ans" *ngIf="!editProfile">
              <ion-chip *ngFor="let item of consumer.resallergy">{{item.allergy.alergy}}</ion-chip>

            </span>

          </ion-col> -->

          <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

            <ion-label class="profile-item-name mt-zero">Medical Allergies</ion-label>

            <ion-select mode="md" interface="action-sheet" class="text_color" [(ngModel)]="med_allergies" *ngIf="editProfile"
              multiple="true" placeholder="Select">

              <ion-select-option value="{{item.id}}"
                *ngFor="let item of medical_allergy_array">{{item.alergy}}</ion-select-option>

            </ion-select>

            <ion-label class="add-medical-condition" *ngIf="editProfile" (click)="addAllergy(1)">
              <ion-icon name="add-outline"></ion-icon> 
              Add new allergy type
            </ion-label>

            <span class="pi-ans" *ngIf="!editProfile">
              <ion-chip *ngFor="let item of consumer.resmedallergy">{{item.medallergy.alergy}}</ion-chip>

            </span>

          </ion-col>


          <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

            <ion-label class="profile-item-name mt-zero">Food Allergies</ion-label>

            <ion-select mode="md" interface="action-sheet" class="text_color" [(ngModel)]="allergies" *ngIf="editProfile"
              multiple="true" placeholder="Select">

              <ion-select-option value="{{item.id}}"
                *ngFor="let item of allergyArray">{{item.alergy}}</ion-select-option>

            </ion-select>

            <ion-label class="add-medical-condition" *ngIf="editProfile" (click)="addAllergy(2)">
              <ion-icon name="add-outline"></ion-icon> 
              Add new allergy type
            </ion-label>

            <span class="pi-ans" *ngIf="!editProfile">
              <ion-chip *ngFor="let item of consumer.resallergy">{{item.allergy.alergy}}</ion-chip>
            </span>

          </ion-col>


          <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-label class="sec-title-bb">Medicare info</ion-label>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Medicare No.</ion-label>

            <ion-input [(ngModel)]="medicare_number" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{medicare_number}}</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Individual Reference No</ion-label>

            <ion-input [(ngModel)]="ind_ref_no" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{ind_ref_no}}</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Card Expiry</ion-label>

            <!-- <ion-input></ion-input> -->

            <span class="profile-dt-box" *ngIf="editProfile">

              <ion-datetime value="2020-10-31T15:43:40.394Z" displayFormat="MMM YYYY" [(ngModel)]="medical_card_expiry"
                [max]="2060">
              </ion-datetime>

              <ion-icon class="consumer-about-calendar-icon" name="calendar-clear-outline"></ion-icon>

            </span>



            <span class="pi-ans" *ngIf="!editProfile">{{medical_card_expiry|dateformat:'MMM YYYY'}}</span>

          </ion-col>

          <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-label class="sec-title-bb">Private Insurance</ion-label>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Private Insurance Provider</ion-label>

            <ion-input [(ngModel)]="insurance_provider" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{insurance_provider}}</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Membership No</ion-label>

            <ion-input [(ngModel)]="membership_no" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{membership_no}}</span>

          </ion-col>

          <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-label class="sec-title-bb">Ambulance Cover</ion-label>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Membership No</ion-label>

            <ion-input [(ngModel)]="ambulance_cover" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{ambulance_cover}}</span>

          </ion-col>


          <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-label class="sec-title-bb">Home care package</ion-label>

          </ion-col>


          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">HCP</ion-label>

            <ion-radio-group [(ngModel)]="hcp" *ngIf="editProfile">

              <ion-item lines="none" color="none">
                <ion-radio value="1" mode="md" class=""></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="0" mode="md" class=""></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>

            </ion-radio-group>

            <span class="pi-ans" *ngIf="!editProfile&&hcp==1">Yes</span>
            <span class="pi-ans" *ngIf="!editProfile&&hcp==0">No</span>

          </ion-col>

          <ion-col size-sm="12" size-md="12" size-lg="4" size="12" *ngIf="hcp==1">

            <ion-label class="profile-item-name">Select HCP Level</ion-label>

            <ion-select interface="action-sheet" class="text_color" [(ngModel)]="hcp_level" *ngIf="editProfile"
              placeholder="Select">

              <ion-select-option value="1">Level 1</ion-select-option>
              <ion-select-option value="2">Level 2</ion-select-option>
              <ion-select-option value="3">Level 3</ion-select-option>
              <ion-select-option value="4">Level 4</ion-select-option>

            </ion-select>

            <span class="pi-ans" *ngIf="!editProfile&&hcp_level==1">Level 1</span>
            <span class="pi-ans" *ngIf="!editProfile&&hcp_level==2">Level 2</span>
            <span class="pi-ans" *ngIf="!editProfile&&hcp_level==3">Level 3</span>
            <span class="pi-ans" *ngIf="!editProfile&&hcp_level==4">Level 4</span>

          </ion-col>

          <ion-col size-sm="12" size-md="12" size-lg="4" size="12" *ngIf="hcp==1">

            <ion-label class="profile-item-name">HCP Provider</ion-label>

            <ion-select interface="action-sheet" class="text_color" [(ngModel)]="hcp_provider" *ngIf="editProfile"
              placeholder="Select">

              <ion-select-option value="0">Internal</ion-select-option>
              <ion-select-option value="1">External</ion-select-option>

            </ion-select>

            <span class="pi-ans" *ngIf="!editProfile&&hcp_provider==0">Internal</span>
            <span class="pi-ans" *ngIf="!editProfile&&hcp_provider==1">External</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="12" size="12" class="mb-10">

            <ion-label class="profile-item-name">Provider name</ion-label>

            <ion-input [(ngModel)]="provider_name" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{provider_name}}</span>

          </ion-col>


          <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

            <ion-label class="profile-item-name">Additional health notes</ion-label>

            <ion-textarea rows="5" [(ngModel)]="additional_health_note" *ngIf="editProfile"></ion-textarea>

            <span class="pi-ans"
              *ngIf="!editProfile&&additional_health_note&&additional_health_note.length<=250">{{additional_health_note}}</span>


            <ng-container *ngIf="!editProfile&&additional_health_note&&additional_health_note.length>250">
              <span id="more">{{additional_health_note.substring(0,250)}}<span class="show-more"
                  (click)="ShowContent('more','less')">{{' '}}Show more...</span></span>
              <span id="less" style="display:none">{{additional_health_note}}<span class="show-more"
                  (click)="ShowContent('less','more')">{{' '}}Show less</span></span>
            </ng-container>
          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

  </div>

  <ion-card class="blue_card acc-card" (click)="expandSettings(6)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Pension & DVA</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand6">

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-label class="sec-title-bb">Pension</ion-label>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">



        <ion-row class="profile-moreinfo-sec mb-zero">

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name mt-zero">Pension</ion-label>

            <ion-input [(ngModel)]="pension" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{pension}}</span>

          </ion-col>


          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Type of pension</ion-label>

            <ion-input [(ngModel)]="pension_type" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{pension_type}}</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Pension card no.</ion-label>

            <ion-input *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile"></span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Card expiry date </ion-label>

            <span class="profile-dt-box" *ngIf="editProfile">

              <ion-datetime value="2020-10-31T15:43:40.394Z" displayFormat="MMM YYYY" 
                [(ngModel)]="pension_card_expiry" [max]="2060">
              </ion-datetime>

              <ion-icon class="consumer-about-calendar-icon" name="calendar-clear-outline"></ion-icon>

            </span>

            <span class="pi-ans" *ngIf="!editProfile">{{pension_card_expiry|dateformat:'MMM YYYY'}}</span>

          </ion-col>

          <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-label class="sec-title-bb">DVA</ion-label>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">DVA No.</ion-label>

            <ion-input [(ngModel)]="DVA" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{DVA}}</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">DVA card type</ion-label>

            <ion-input [(ngModel)]="DVA_card" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{DVA_card}}</span>

          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

  </div>

  <ion-card class="blue_card acc-card" (click)="expandSettings(4)"
    *ngIf="consumer.property_details&&consumer.property_details.contract_details">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Property Access Notes</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand4">

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

    
        <ion-row class="profile-moreinfo-sec">

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name mt-zero">Permission to enter</ion-label>

            <ion-radio-group [(ngModel)]="permission_to_enter" *ngIf="editProfile">

              <ion-item lines="none" color="none">
                <ion-radio value="1" mode="md" class=""></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="0" mode="md" class=""></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>

            </ion-radio-group>

            <span class="pi-ans" *ngIf="!editProfile&&permission_to_enter==1">Yes</span>
            <span class="pi-ans" *ngIf="!editProfile&&permission_to_enter==0">No</span>

          </ion-col>


          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Electronic Door/Gate No.</ion-label>

            <ion-input [(ngModel)]="gate_no" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile"> {{gate_no}}</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Key tag</ion-label>

            <ion-input [(ngModel)]="key_tag" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{key_tag}}</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Key safe</ion-label>

            <ion-input [(ngModel)]="key_safe" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{key_safe}}</span>

          </ion-col>

          <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <ion-label class="profile-item-name">Additional property access notes</ion-label>

            <ion-textarea rows="5" [(ngModel)]="property_note" *ngIf="editProfile"></ion-textarea>

            <span class="pi-ans" *ngIf="!editProfile">{{property_note}}</span>

          </ion-col>

          <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <div class="nb-holder">
              <ion-icon name="information-circle"></ion-icon>
              <p>Please note that the property access notes gets copied across to other residents in the contract for
                the property</p>
            </div>

          </ion-col>

          <ion-col size="12" size-sm="12" size-md="12" size-lg="12">

            <ion-button *ngIf="editProfile" class="link-another-resident-button mt-zero" (click)="linkResident()">
              <ion-icon name="add-outline"></ion-icon>
              <ion-label>Link to another resident</ion-label>
            </ion-button>

            <div class="property-link-info-holder">

              <ion-row>

                <ion-col size="12" size-sm="12" size-md="6" size-lg="6">

                  <div class="linked-resident-details-holder">

                    <ion-avatar class="resident-avatar">
                      <img
                        src="https://images.pexels.com/photos/3018993/pexels-photo-3018993.jpeg?auto=compress&cs=tinysrgb&w=1600">
                    </ion-avatar>

                    <div class="resident-info-block">
                      <ion-text class="resident-name">Aaron Adrian</ion-text>
                      <span class="property-name">221 A, Apple blossom</span>
                    </div>

                    <ion-icon class="remove-resident-icon" name="close-circle" *ngIf="editProfile"></ion-icon>

                  </div>

                </ion-col>

                <ion-col size="12" size-sm="12" size-md="6" size-lg="6">

                  <div class="linked-resident-details-holder">

                    <ion-avatar class="resident-avatar">
                      <img
                        src="https://images.pexels.com/photos/788567/pexels-photo-788567.jpeg?auto=compress&cs=tinysrgb&w=1600">
                    </ion-avatar>

                    <div class="resident-info-block">
                      <ion-text class="resident-name">Anna John</ion-text>
                      <span class="property-name">221 A, Apple blossom</span>
                    </div>

                    <ion-icon class="remove-resident-icon" name="close-circle" *ngIf="editProfile"></ion-icon>

                  </div>

                </ion-col>

              </ion-row>

            </div>

          </ion-col> -->


        </ion-row>

      </ion-col>

    </ion-row>

  </div>


  <ion-card class="blue_card acc-card" (click)="expandSettings(3)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Pets</ion-label>
      </ion-col>

      <ion-col class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand3">

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">



        <ion-row class="profile-moreinfo-sec">

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name mt-zero">Pets</ion-label>

            <ion-radio-group [(ngModel)]="have_pet" *ngIf="editProfile">

              <ion-item lines="none" color="none">
                <ion-radio value="1" mode="md" class=""></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="0" mode="md" class=""></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>

            </ion-radio-group>

            <span class="pi-ans" *ngIf="!editProfile&&have_pet==1">Yes</span>
            <span class="pi-ans" *ngIf="!editProfile&&have_pet==0">No</span>

          </ion-col>

          <ng-container *ngIf="have_pet==1">



            <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

              <ion-label class="profile-item-name">Pet policy provided</ion-label>

              <ion-radio-group [(ngModel)]="pet_policy" *ngIf="editProfile">

                <ion-item lines="none" color="none">
                  <ion-radio value="1" mode="md" class=""></ion-radio>
                  <ion-label>Yes</ion-label>
                </ion-item>

                <ion-item lines="none" color="none">
                  <ion-radio value="0" mode="md" class=""></ion-radio>
                  <ion-label>No</ion-label>
                </ion-item>

              </ion-radio-group>

              <span class="pi-ans" *ngIf="!editProfile&&pet_policy==1">Yes</span>
              <span class="pi-ans" *ngIf="!editProfile&&pet_policy==0">No</span>

            </ion-col>

            <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero d-none">

              <ion-label class="profile-item-name">Pet photos</ion-label>

              <div class="pi-ans-photos-block" *ngIf="petImages.length&&!editProfile" (click)="viewImage()">
                <img *ngFor="let item of petImages" [src]="item">
              </div>

              <ng-container *ngIf="editProfile">

                <ion-row class="mt-20">

                  <ion-col *ngFor="let img of petImages;let i=index" size-sm="4" size-md="3" size-lg="3" size="4"
                    class="col-fit">

                    <div class="pet-img-box">

                      <ion-thumbnail>
                        <img [src]="img">
                      </ion-thumbnail>

                      <ion-icon class="remove-pet-photo" name="close-circle-sharp" *ngIf="editProfile"
                        (click)="removePetImg(i)"></ion-icon>

                    </div>

                  </ion-col>

                </ion-row>

              </ng-container>

            

            </ion-col> -->

            <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

              <div class="single-pet-holder" *ngFor="let item of new_pets;let i=index ">

                <div class="sph-header" (click)="expandPetCard(i); $event.stopPropagation()">

                  <div class="sphh-inner-left-block">

                    <ion-text class="pet-name">{{item.pet.name}}</ion-text>
                    <span class="pet-type" *ngIf="item.pet.pettype">({{item.pet.pettype.name}})</span>

                  </div>

                  <div class="sphh-inner-right-block">
                    <ion-icon class="pet-mo-icon" name="ellipsis-vertical" *ngIf="editProfile"
                      (click)="petOptions(item.pet,$event); $event.stopPropagation()"></ion-icon>
                    <ion-icon class="pet-chevron-down-icon" name="chevron-down"></ion-icon>
                  </div>

                </div>

                <div class="sph-content" *ngIf="item.expand">

                  <div class="pet-thumb-holder" *ngIf="item.pet.petimages&&item.pet.petimages.length">

                    <ion-avatar class="pet-avatar"
                      (click)="viewPetImages(item.pet.petimages[0].images,item.pet.petimages)">
                      <img class="rvp-pdf-icon" src='assets/pdf_icon.svg'
                        *ngIf="item.pet.petimages[0].images.includes('.pdf')">
                      <img [src]="item.pet.petimages[0].images" *ngIf="!item.pet.petimages[0].images.includes('.pdf')">
                    </ion-avatar>

                    <ion-avatar class="pet-avatar" *ngIf="item.pet.petimages.length>1"
                      (click)="viewPetImages(item.pet.petimages[1].images,item.pet.petimages)">
                      <img class="rvp-pdf-icon" src='assets/pdf_icon.svg'
                        *ngIf="item.pet.petimages[1].images.includes('.pdf')">
                      <img [src]="item.pet.petimages[1].images" *ngIf="!item.pet.petimages[1].images.includes('.pdf')">
                    </ion-avatar>

                    <ion-avatar class="pet-avatar" *ngIf="item.pet.petimages.length>2"
                      (click)="viewPetImages(item.pet.petimages[2].images,item.pet.petimages)">
                      <img class="rvp-pdf-icon" src='assets/pdf_icon.svg'
                        *ngIf="item.pet.petimages[2].images.includes('.pdf')">
                      <img [src]="item.pet.petimages[2].images" *ngIf="!item.pet.petimages[2].images.includes('.pdf')">
                    </ion-avatar>

                    <ion-button class="more-pet-count-btn" *ngIf="item.pet.petimages.length>3"
                      (click)="petDetails(item.pet)">+{{item.pet.petimages.length-3}} more</ion-button>

                  </div>

                  <div class="pet-link-info-holder" *ngIf="item.pet.link_residents&&item.pet.link_residents.length">

                    <ion-text class="linked-info-txt">This pet is linked to</ion-text>

                    <ion-row>

                      <ion-col size="12" size-sm="12" size-md="6" size-lg="6"
                        *ngFor="let res of item.pet.link_residents">

                        <div class="linked-resident-details-holder">

                          <ion-avatar class="resident-avatar">
                            <img [src]="res.user.profile_pic">
                          </ion-avatar>

                          <div class="resident-info-block">
                            <ion-text class="resident-name">{{res.user.name}}</ion-text>
                            <span class="property-name"
                              *ngIf="consumer.property_details&&consumer.property_details.contract_details&&consumer.property_details.contract_details.property&&consumer.property_details.contract_details.property.location">
                              {{consumer.property_details.contract_details.property.location.name}}
                            </span>
                          </div>

                          <ion-icon class="remove-resident-icon" name="close-circle" *ngIf="editProfile"
                            (click)="unlinkResident(item.pet.id,res.user_id)"></ion-icon>

                        </div>

                      </ion-col>



                    </ion-row>

                  </div>

                  <ion-button class="pets-vd-btn" (click)="petDetails(item.pet)">View details</ion-button>

                </div>

              </div>

              <ion-button
                *ngIf="editProfile&&consumer.property_details&&consumer.property_details.contract_details&&consumer.property_details.contract_details.all_residents&&consumer.property_details.contract_details.all_residents.length>1"
                class="add-new-item-button mt-zero" (click)="linkResident()">
                <ion-icon name="add-outline"></ion-icon>
                <ion-label>Link to another resident</ion-label>
              </ion-button>

            </ion-col>

            <ion-button class="add-pet-btn" *ngIf="editProfile" (click)="addPet(1,'')">
              Add Pet
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>

          </ng-container>

        </ion-row>

      </ion-col>

    </ion-row>

  </div>

  <ion-card class="blue_card acc-card" (click)="expandSettings(11)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Evacuation Information</ion-label>
      </ion-col>

      <ion-col class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand11">

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

        <ion-row class="profile-moreinfo-sec">

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name mt-zero">Evacuation Plan provided</ion-label>

            <ion-radio-group *ngIf="editProfile" [(ngModel)]="evacuation_plan">

              <ion-item lines="none" color="none">
                <ion-radio value="1" mode="md" class=""></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="0" mode="md" class=""></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>

            </ion-radio-group>

            <span class="pi-ans" *ngIf="!editProfile&&evacuation_plan==1">Yes</span>
            <span class="pi-ans" *ngIf="!editProfile&&evacuation_plan==0">No</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name mt-zero">Evacuation Assistance</ion-label>

            <ion-select interface="action-sheet" class="text_color" *ngIf="editProfile" placeholder="Select" [(ngModel)]="evacuation_assistance">

              <ion-select-option value="1">Need assistance evacuating</ion-select-option>
              <ion-select-option value="2">Self evacuating</ion-select-option>

            </ion-select>

            <span class="pi-ans" *ngIf="!editProfile&&evacuation_assistance==1">Need assistance evacuating</span>
            <span class="pi-ans" *ngIf="!editProfile&&evacuation_assistance==2">Self evacuating</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name mt-zero">Evacuation Go bag</ion-label>

            <ion-radio-group *ngIf="editProfile" [(ngModel)]="evacuation_go_bag">

              <ion-item lines="none" color="none">
                <ion-radio value="1" mode="md" class=""></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="0" mode="md" class=""></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>

            </ion-radio-group>

            <span class="pi-ans" *ngIf="!editProfile&&evacuation_go_bag==1">Yes</span>
            <span class="pi-ans" *ngIf="!editProfile&&evacuation_go_bag==0">No</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name mt-zero">Go bag location</ion-label>

            <ion-input *ngIf="editProfile" [(ngModel)]="go_bag_loc"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{go_bag_loc}}</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name mt-zero">Pet Evacuation required</ion-label>

            <ion-radio-group *ngIf="editProfile" [(ngModel)]="pet_evacuation">

              <ion-item lines="none" color="none">
                <ion-radio value="1" mode="md" class=""></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="0" mode="md" class=""></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>

            </ion-radio-group>

            <span class="pi-ans" *ngIf="!editProfile&&pet_evacuation==1">Yes</span>
            <span class="pi-ans" *ngIf="!editProfile&&pet_evacuation==0">No</span>

          </ion-col>

          <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="pb-zero">

            <ion-label class="profile-item-name">Evacuation notes (Mobility / Health assistance)</ion-label>

            <ion-textarea rows="5" *ngIf="editProfile" [(ngModel)]="evacuation_notes"></ion-textarea>

            <span class="pi-ans" *ngIf="!editProfile&&evacuation_notes&&evacuation_notes.length<=250">{{evacuation_notes}}</span>
            <ng-container *ngIf="!editProfile&&evacuation_notes&&evacuation_notes.length>250">
              <span id="moreContent">{{evacuation_notes.substring(0,250)}}<span class="show-more"
                  (click)="ShowContentEvacuationNote('moreContent','lessContent')">{{' '}}Show more...</span></span>
              <span id="lessContent" style="display:none">{{evacuation_notes}}<span class="show-more"
                  (click)="ShowContentEvacuationNote('lessContent','moreContent')">{{' '}}Show less</span></span>
            </ng-container>

          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

  </div>

  <ion-card class="blue_card acc-card" (click)="expandSettings(8)" *ngIf="contacts&&contacts.length">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Contacts</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand8">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngFor="let item of contacts"
        [class.d-none]="item.user_details.status==0">

        <div class="profile-contact-box">

          <div class="pcb-basic-infobox">

            <ion-avatar>
              <ion-label>{{item.user_details.name.substring(0,1)}}</ion-label>
            </ion-avatar>

            <div class="pc-details-box">

              <ion-label class="pc-name">{{item.user_details.name}}
                <span class="relation">{{item.relation}} <ion-chip class="primary-rep d-none"><i
                      class="las la-crown"></i> Primary</ion-chip>
                </span>

                <span class="inactive-contact-holder d-none" *ngIf="item.user_details.status==0">
                  <ion-icon name="ellipse"></ion-icon>
                  Inactive
                </span>
                <!-- <span class="phone"><i class="las la-phone"></i> {{item.user_details.phone.substring(0,2)==61?item.user_details.phone.slice(2):item.user_details.phone}}</span>
                <span class="mobile"><i class="las la-mobile-alt"></i> {{item.user_details.phone.substring(0,2)==61?item.user_details.phone.slice(2):item.user_details.phone}}</span>
                <span class="email" *ngIf="item.user_details.email&& item.user_details.email.indexOf('centrimlife.com.au') === -1"><i class="las la-envelope"></i> {{item.user_details.email}}</span> -->
              </ion-label>

            </div>

            <ion-icon class="pcb-expand-arrow d-none" name="chevron-down-outline"></ion-icon>

          </div>


          <div class="contact-more-infobox">

            <span class="phone" *ngIf="item.user_details.mobile!=null"><i class="las la-phone"></i>
              {{item.user_details.mobile.substring(0,2)==61?item.user_details.mobile.slice(2):item.user_details.mobile}}</span>

            <span class="mobile" *ngIf="item.user_details.phone!=null"><i class="las la-mobile-alt"></i>
              {{item.user_details.phone.substring(0,2)==61?item.user_details.phone.slice(2):item.user_details.phone}}</span>
            <span class="email"
              *ngIf="item.user_details.email&& item.user_details.email.indexOf('centrimlife.com.au') === -1"><i
                class="las la-envelope"></i> {{item.user_details.email}}</span>

            <div class="s-inactive-box d-none" *ngIf="item.user_details.status==0">
              <ion-label class="pc-inactive">Inactive</ion-label>
            </div>

            <div class="contact-for-block d-none">

              <ion-label class="cf-sub-title">Contact type</ion-label>

              <div class="cf-chip-box">
                <ion-chip>Billing</ion-chip>
                <ion-chip>Clinical</ion-chip>
                <ion-chip>legal</ion-chip>
              </div>

            </div>

            <ion-button class="more-info-btn" (click)="openContactInfo(item)">More info <ion-icon
                name="chevron-down"></ion-icon></ion-button>

          </div>

          <!-- <ion-icon class="pc-more" name="ellipsis-vertical" *ngIf="editProfile" (click)="contactOptions($event,item)"></ion-icon> -->

        </div>

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngIf="editProfile">

        <ion-button class="pcb-more" (click)="addContact()">

          <ion-icon name="add-circle"></ion-icon>

          <ion-label>Add contact</ion-label>

        </ion-button>

      </ion-col> -->

    </ion-row>

  </div>

  <ion-card class="blue_card acc-card" (click)="expandSettings(9)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Contract information</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand9">

    <ion-row>


      <div class="profile-content-box w-100 p-zero">

        <ion-row>

          <ion-col size-sm="12" size-md="12" size-lg="12" size="12"
            *ngIf="consumer.property_details&&consumer.property_details.contract_details">

            <ion-card class="contract-card">

              <ion-row>

                <ion-col size-sm="12" size-md="3" size-lg="3" size="12">

                  <img class="rv-property-img" src="https://app.centrim.life/assets/img/stories/dummy-img.png"
                    *ngIf="!consumer.property_details.contract_details.property.images||!consumer.property_details.contract_details.property.images.length">
                  <img class="rv-property-img" [src]="consumer.property_details.contract_details.property.images[0].url"
                    *ngIf="consumer.property_details.contract_details.property.images&&consumer.property_details.contract_details.property.images.length">
                </ion-col>

                <ion-col size-sm="12" size-md="9" size-lg="9" size="12">

                  <ion-row class="cc-ir">

                    <ion-col size-sm="12" size-md="5" size-lg="5" size="12">

                      <div class="rv-property-info">

                        <div class="rv-property-name-box">

                          <ion-label class="rv-property-name"
                            *ngIf="consumer.property_details.contract_details.property.location">{{consumer.property_details.contract_details.property.location.name}}</ion-label>

                        </div>

                        <div class="rv-property-type">

                          <ion-chip class="rv-ptype" *ngIf="consumer.property_details.contract_details.property.type"
                            [class.s-apartment]="consumer.property_details.contract_details.property.type.id==1"
                            [class.villa]="consumer.property_details.contract_details.property.type.id==4"
                            [class.unit]="consumer.property_details.contract_details.property.type.id==2"
                            [class.ilu]="consumer.property_details.contract_details.property.type.id==3">
                            {{consumer.property_details.contract_details.property.type.name}}

                          </ion-chip>
                          <!-- <ion-chip class="rv-ptype unit">Unit</ion-chip>
                         <ion-chip class="rv-ptype s-apartment">S-Apartment</ion-chip>
                         <ion-chip class="rv-ptype ilu">ILU</ion-chip> -->

                        </div>

                      </div>

                      <div class="rv-bbc-block">

                        <div class="rv-inner-box">

                          <div class="rv-ib-row">

                            <div class="rv-ib-col">

                              <i class="las la-bed"></i>
                              <ion-label>{{consumer.property_details.contract_details.property.bedroom_count}}</ion-label>

                            </div>

                            <div class="rv-ib-col">

                              <span>Bedroom</span>

                            </div>

                          </div>

                        </div>

                        <div class="rv-inner-box">

                          <div class="rv-ib-row">

                            <div class="rv-ib-col">

                              <i class="las la-bath"></i>
                              <ion-label>{{consumer.property_details.contract_details.property.bathroom_count}}</ion-label>

                            </div>

                            <div class="rv-ib-col">

                              <span>Bathroom</span>

                            </div>

                          </div>

                        </div>

                        <div class="rv-inner-box">

                          <div class="rv-ib-row">

                            <div class="rv-ib-col">

                              <i class="las la-car-side"></i>
                              <ion-label>{{consumer.property_details.contract_details.property.parking_count}}</ion-label>

                            </div>

                            <div class="rv-ib-col">

                              <span>Car parking</span>

                            </div>

                          </div>

                        </div>

                      </div>

                      <div class="rv-pr-bio-block">

                        <div class="rv-pr-area" *ngIf="consumer.property_details.contract_details.property.area">

                          <ion-label>
                            <span>{{consumer.property_details.contract_details.property.area}}</span> Sqm
                          </ion-label>

                        </div>

                        <div class="rv-pr-age">

                          <ion-label>
                            <span>{{consumer.property_details.contract_details.property.unit_age}}</span> years since
                            construction
                          </ion-label>

                        </div>

                      </div>

                    </ion-col>

                    <ion-col size-sm="12" size-md="7" size-lg="7" size="12">

                      <div class="contract-more-info-box">

                        <div class="cmib-header">

                          <div class="cmib-inner-box">

                            <ion-label class="contract-no-label">Contract No :
                              <span>{{consumer.property_details.contract_details.contract_number}}</span></ion-label>

                          </div>

                          <div class="cmib-inner-box">

                            <ion-label
                              class="contract-price"><span>${{consumer.property_details.contract_details.agreed_price}}</span>
                            </ion-label>

                          </div>

                          <!---------------------- Rental ----------------->

                          <div class="cmib-inner-box d-none">

                            <div class="rental-info-block">

                              <ion-text class="rental-tag"><ion-icon name="ellipse"></ion-icon> Rental</ion-text>

                              <ion-label class="contract-price">
                                <span>$200/monthly</span>
                              </ion-label>

                            </div>

                          </div>

                          <!---------------------- Rental ----------------->

                          <!-- <div class="cmib-inner-box">

                            <ion-label class="contract-price"><span>$200/monthly</span>
                            </ion-label>

                          </div> -->

                          <div class="cmib-inner-box">

                            <ion-chip class="cmib-ai-chip active temp"
                              *ngIf="consumer.property_details.contract_details.status==1">Active</ion-chip>
                            <ion-chip class="cmib-ai-chip inactive"
                              *ngIf="consumer.property_details.contract_details.status==0">Inactive</ion-chip>

                          </div>

                          <!-- <div class="cmib-inner-box">

                            <ion-button class="vd-button">View details</ion-button>

                          </div> -->

                        </div>

                        <div class="cmib-content">

                          <div class="cmib-inner-box-1">

                            <ion-label class="contract-residents-label">Residents : <span
                                *ngIf="consumer.property_details.contract_details.couple==1">Couples</span></ion-label>

                          </div>

                          <div class="cmib-inner-box-1 border-bottom">

                            <div class="cr-info-box"
                              *ngFor="let item of consumer.property_details.contract_details.all_residents">

                              <ion-avatar>
                                <img [src]="item.user_details.profile_pic">
                              </ion-avatar>

                              <ion-label>{{item.user_details.name}}</ion-label>

                            </div>

                            <!-- <div class="cr-info-box">
    
                             <ion-avatar>
                               <img src="https://app.centrim.life/public/media/profile_pic/1596449711_avatar-s-14.png">
                             </ion-avatar>
    
                             <ion-label>Melanie Mathew</ion-label>
    
                           </div> -->

                          </div>

                          <div class="cmib-inner-box">

                            <ion-label class="contract-ad-label">Agreement date
                              <span>{{(consumer.property_details.contract_details.agreement_date) ?
                                (consumer.property_details.contract_details.agreement_date|dateformat:'DD MMM YYYY') :
                                'Not available'}}</span></ion-label>

                          </div>

                          <div class="cmib-inner-box">

                            <ion-label class="contract-sd-label">Contract signed date
                              <span>{{(consumer.property_details.contract_details.contract_signed_date) ?
                                (consumer.property_details.contract_details.contract_signed_date|dateformat:'DD MMM
                                YYYY') : 'Not available'}}</span></ion-label>

                          </div>

                          <!---------------------- Rental ----------------->

                          <!-- <div class="cmib-inner-box">

                            <ion-label class="contract-ad-label">Contract start date
                              <span>02 August 2022</span></ion-label>

                          </div>

                          <div class="cmib-inner-box">

                            <ion-label class="contract-sd-label">Contract end date
                              <span>02 August 2023</span></ion-label>

                          </div> -->

                          <!---------------------- Rental ----------------->

                          <div class="cmib-inner-box">

                            <ion-label class="contract-mid-label">Move in date
                              <span>{{(consumer.property_details.contract_details.move_in_date) ?
                                (consumer.property_details.contract_details.move_in_date|dateformat:'DD MMM YYYY') :
                                'Not available'}}</span></ion-label>

                          </div>

                          <div class="cmib-inner-box">

                            <ion-label class="contract-mod-label">Move out date
                              <span>{{(consumer.property_details.contract_details.move_out_date) ?
                                (consumer.property_details.contract_details.move_out_date|dateformat:'DD MMM YYYY') :
                                'Not available'}}</span></ion-label>

                          </div>

                        </div>

                      </div>

                    </ion-col>

                  </ion-row>



                </ion-col>


              </ion-row>

            </ion-card>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Package</ion-label>

            <ion-select interface="action-sheet" class="text_color" *ngIf="editProfile" placeholder="Select">

              <ion-select-option value="1">Diamond</ion-select-option>
              <ion-select-option value="2">Platinum</ion-select-option>
              <ion-select-option value="3">Gold</ion-select-option>
              <ion-select-option value="4">Silver</ion-select-option>

            </ion-select>

            <span class="pi-ans" *ngIf="!editProfile&&caravan_space==1">Diamond</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Caravan space</ion-label>

            <ion-radio-group [(ngModel)]="caravan_space" *ngIf="editProfile">

              <ion-item lines="none" color="none">
                <ion-radio value="1" mode="md" class=""></ion-radio>
                <ion-label>Yes</ion-label>
              </ion-item>

              <ion-item lines="none" color="none">
                <ion-radio value="0" mode="md" class=""></ion-radio>
                <ion-label>No</ion-label>
              </ion-item>

            </ion-radio-group>

            <span class="pi-ans" *ngIf="!editProfile&&caravan_space==1">Yes</span>
            <span class="pi-ans" *ngIf="!editProfile&&caravan_space==0">No</span>

          </ion-col>

          <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

            <ion-label class="profile-item-name">Allocation No.</ion-label>

            <ion-input [(ngModel)]="allocation_no" *ngIf="editProfile" type="text"></ion-input>

            <span class="pi-ans" *ngIf="!editProfile">{{allocation_no}}</span>

          </ion-col>

          <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="editProfile&&consumer.property_details&&consumer.property_details.contract_details&&consumer.property_details.contract_details.all_residents&&consumer.property_details.contract_details.all_residents.length>1">
            
            <ion-button class="link-another-resident-button mt-zero mb-zero" (click)="linkResident()">
              <ion-icon name="add-outline"></ion-icon>
              <ion-label>Link to another resident</ion-label>
            </ion-button>

          </ion-col>

          <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

            <div class="property-link-info-holder">

              <ion-row>
  
                <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
  
                  <div class="linked-resident-details-holder">
  
                    <ion-avatar class="resident-avatar">
                      <img
                        src="https://images.pexels.com/photos/3018993/pexels-photo-3018993.jpeg?auto=compress&cs=tinysrgb&w=1600">
                    </ion-avatar>
  
                    <div class="resident-info-block">
                      <ion-text class="resident-name">Aaron Adrian</ion-text>
                      <span class="property-name">221 A, Apple blossom</span>
                    </div>
  
                    <ion-icon class="remove-resident-icon" name="close-circle" *ngIf="editProfile"></ion-icon>
  
                  </div>
  
                </ion-col>
  
                <ion-col size="12" size-sm="12" size-md="6" size-lg="6">
  
                  <div class="linked-resident-details-holder">
  
                    <ion-avatar class="resident-avatar">
                      <img
                        src="https://images.pexels.com/photos/788567/pexels-photo-788567.jpeg?auto=compress&cs=tinysrgb&w=1600">
                    </ion-avatar>
  
                    <div class="resident-info-block">
                      <ion-text class="resident-name">Anna John</ion-text>
                      <span class="property-name">221 A, Apple blossom</span>
                    </div>
  
                    <ion-icon class="remove-resident-icon" name="close-circle" *ngIf="editProfile"></ion-icon>
  
                  </div>
  
                </ion-col>
  
              </ion-row>
  
            </div>

          </ion-col> -->

        </ion-row>

      </div>

    </ion-row>

  </div>

  <ion-card class="blue_card acc-card" (click)="expandSettings(7)">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Other address</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand7">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name mt-zero">Street No.</ion-label>

        <ion-input [(ngModel)]="street_no" *ngIf="editProfile" type="text"></ion-input>

        <span class="pi-ans" *ngIf="!editProfile">{{street_no}}</span>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Street Name</ion-label>

        <ion-input [(ngModel)]="street_name" *ngIf="editProfile" type="text"></ion-input>

        <span class="pi-ans" *ngIf="!editProfile">{{street_name}}</span>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Suburb</ion-label>

        <ion-input [(ngModel)]="suburb" *ngIf="editProfile" type="text"></ion-input>

        <span class="pi-ans" *ngIf="!editProfile">{{suburb}}</span>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Postcode</ion-label>

        <ion-input [(ngModel)]="postcode" *ngIf="editProfile" type="text"></ion-input>

        <span class="pi-ans" *ngIf="!editProfile">{{postcode}}</span>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">State/Territories</ion-label>

        <ion-select interface="action-sheet" class="text_color" [(ngModel)]="state" *ngIf="editProfile"
          placeholder="Select">

          <ion-select-option value="ACT">ACT</ion-select-option>
          <ion-select-option value="NSW">NSW</ion-select-option>
          <ion-select-option value="NT">NT</ion-select-option>
          <ion-select-option value="SA">SA</ion-select-option>
          <ion-select-option value="TAS">TAS</ion-select-option>
          <ion-select-option value="VIC">VIC</ion-select-option>
          <ion-select-option value="WA">WA</ion-select-option>

        </ion-select>

        <span class="pi-ans" *ngIf="!editProfile">{{state}}</span>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Country</ion-label>

        <ion-select interface="action-sheet" class="text_color" [(ngModel)]="country" *ngIf="editProfile">

          <ion-select-option value="1">Australia</ion-select-option>

        </ion-select>

        <span class="pi-ans" *ngIf="!editProfile">Australia</span>

      </ion-col>


    </ion-row>

  </div>

  <ion-card class="blue_card acc-card" (click)="expandSettings(10)" *ngIf="editProfile">

    <ion-row style="flex-wrap: nowrap;">

      <ion-col size="11" class="dis_flex">
        <ion-label>Update password</ion-label>
      </ion-col>

      <ion-col size="1" class="align_flex-end col-fit ml-auto">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-card>

  <div class="profile-content-box" *ngIf="expand10">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">New password</ion-label>

        <ion-input [(ngModel)]="newPassword" type="password" clearOnEdit="false"></ion-input>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-label class="profile-item-name">Verify password</ion-label>

        <ion-input [(ngModel)]="confirmPassword" type="password" clearOnEdit="false"></ion-input>

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <div class="send-rp-link-holder">

          <ion-label class="send-rp-link">Send reset password link</ion-label>
          <ion-icon class="send-rpl-icon" name="chevron-forward-outline"></ion-icon>

        </div>

        

      </ion-col> -->

    </ion-row>

  </div>

</ion-content>

<ion-footer *ngIf="editProfile">
  <ion-toolbar>
    <ion-button class="publish-btn" (click)="save()" [disabled]="disabled">
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer>