ion-header {
    .edit-btn {
        --background: #0077b5;
        --border-radius: 50px;
        --box-shadow: none;
        --padding-start: 5px;
        --padding-end: 5px;
        width: 45px;
        height: 45px;

        ion-icon,
        i {
            font-size: 22px;
            color: #fff;
        }
    }
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

$light-grey: #ececec;
$clouds: #ecf0f1;

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

// Layout
.row {
    display: flex;

    .col {
        flex: 1;

        &:last-child {
            margin-left: 0;
        }
    }
}

/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;
    background-color: #f9f9f9;
    margin-bottom: 2px;

    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        // background: $light-grey;
        font-size: 18px;
        font-weight: normal;
        cursor: pointer;
        color: #9a9a9a;

        /* Icon */
        &:hover {
            background: transparent;
        }

        &::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all 0.35s;
            color: #9a9a9a;
        }
    }

    &-content {
        max-height: 0;
        padding: 0 1em;
        color: $light-grey;
        background: white;
        transition: all 0.35s;
    }

    &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: $light-grey;
        cursor: pointer;

        &:hover {
            background: darken($light-grey, 10%);
        }
    }
}

// :checked
input:checked {
    + .tab-label {
        background: transparent;

        &::after {
            transform: rotate(90deg);
        }
    }

    ~ .tab-content {
        max-height: 100vh;
        padding: 0em 1em;
    }
}

.remove-img {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    left: 48px;
    z-index: 999;
}

.remove-file {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    color: black;
    // left: 48px;
    z-index: 999;
}

.uploaded-data {
    margin: 10px;

    .uploaded-image {
        width: 50px;
        height: 50px;

        ion-icon {
            font-size: 25px;
            color: #9a9a9a;
        }
    }
}

.uploaded-images-container {
    background-color: #607d8b;
    // border: 1px solid #d1d1d1;
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 10px;
    // max-width: fit-content;

    .uploaded-image {
        ion-icon {
            font-size: 25px;
            color: #9a9a9a;
        }
    }
}

.acc-card {
    // padding: 10px 15px;
    // box-shadow: none !important;
    // background-color: #f5f5f5 !important;
    // margin: 10px 0px;
    padding: 10px 20px;
    box-shadow: none !important;
    background: #e9e9e9 !important;
    border: 1px solid #e1e1e1;
    margin: 15px 0px;
    min-height: 50px;
    display: flex;
    align-items: center;

    ion-row {
        width: 100%;

        ion-col {
            margin: 0;
            padding: 0;

            ion-label {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-weight: 500;
                color: #666666;
                vertical-align: middle;
            }

            ion-icon {
                // color: #737373;
                font-size: 22px;
                color: #666666;
                vertical-align: middle;
            }
        }
    }
}

.chatlist_content {
    --padding-top: 0px !important;
    --padding-bottom: 0px !important;
    --padding-start: 0px !important;
    --padding-end: 0px !important;
    --inner-padding-end: 0;

    app-about-info {
        width: 100% !important;
    }
}

.consumer-about-form {
    padding: 0px 15px;

    ion-row {
        ion-col {
            .contact-phone-input {
                --padding-start: 55px;
            }

            ion-input {
                border: 1px solid #e6e6e6 !important;
                border-radius: 6px;
                --padding-start: 15px;
                --padding-end: 15px;
                margin-top: 10px;
                color: #1c1c1c !important;
            }

            ion-select {
                border: 1px solid #e6e6e6 !important;
            }

            ion-datetime {
                border: 1px solid #e6e6e6 !important;
            }

            ion-textarea {
                border: 1px solid #e6e6e6 !important;
            }
        }
    }
}

.about-label {
    color: #000;
    margin-top: 15px;
    white-space: pre-wrap;
    line-height: 18px;
    margin-left: 10px;
    max-width: 100%;
    vertical-align: middle;
    align-self: center;
}

ion-checkbox {
    align-self: center;
    vertical-align: middle;
}

ion-input {
    color: #252525;
    background: #f3f3f3;
    border-radius: 10px;
    border: none !important;
    height: 50px;
    --padding-start: 15px;
    --padding-end: 15px;
}

ion-textarea {
    color: #252525;
    background: #f3f3f3;
    border-radius: 10px !important;
    border: none !important;
    min-height: 150px;
    --padding-start: 15px;
    --padding-end: 15px;
}

ion-datetime {
    color: #252525;
    border: none !important;
    background: #f3f3f3 !important;
    border-radius: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    height: 50px;
    margin-top: 15px;
}

ion-select {
    background: #f3f3f3;
    border-radius: 10px;
    border: none;
    color: #222;
    height: 50px;
    --placeholder-opacity: 0.6;
    --padding-start: 15px;
    --padding-end: 15px;
    width: 100%;
}

.consumer-about-form {
    ion-row {
        ion-col {
            .consumer-about-calendar-icon {
                font-size: 25px;
                color: #828282 !important;
                float: right;
                position: absolute;
                right: 18px;
                bottom: 18px;
            }
        }
    }
}

ion-toggle {
    --background: #c3d1d9;
    --background-checked: #c9edff;
    --handle-background-checked: #0077b5;
    --handle-width: 30px;
    --handle-height: 30px;
    --handle-background: #0077b5;
    --ion-color-base: #0077b5 !important;
    padding: 0;
}

.ca-toggle-switch {
    float: right;
    width: 65px;
    height: 30px;
    padding-inline: 0;
}

.ca-add-to-additional-cal {
    ion-checkbox {
        vertical-align: middle;
        --border-radius: 50px;
        --border-color: #fff;
        --background: #e6e6e6;
        --background-checked: #0077b5;
        --border-color-checked: #0077b5;
        width: 32px;
        height: 32px;
    }
}

ion-checkbox {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    --border-radius: 50px;
    --border-color: #e6e6e6;
    --background: #e6e6e6;
    --background-checked: #0077b5;
    --border-color-checked: #0077b5;
    --border-width: 5px;
    --checkmark-width: 3px;
}

ion-footer {
    padding: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .publish-btn {
        text-transform: capitalize;
        height: 50px;
        --border-radius: 50px;
        --background: #0077b5;
        --box-shadow: none;
        --padding-start: 20px;
        --padding-end: 20px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        // margin-bottom: 10px;
        font-size: 20px;
        font-weight: 400;
        max-width: fit-content;
    }
}

.top-consumer-info-sec {
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 10px;

    ion-avatar {
        width: 50px;
        height: 50px;
    }
}

.ab-sec-consumer-type {
    ion-segment-button {
        --background: #f2f2f2;
        --background-checked: #0077b5;
        --indicator-box-shadow: none;
        --indicator-color: #0077b5;
        padding: 2px;
        --color-checked: #fff;
        --color: #4f4f4f;
        font-size: 16px;
        font-weight: normal;
        border-radius: 6px;
        max-width: 114px !important;
        min-height: 32px;
        margin-left: 20px;
        --border-width: 0px;
        --indicator-height: auto;

        &:first-child {
            margin-left: 0px;
        }

        ion-label {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
}

ion-segment-button {
    &:first-child {
        margin-left: 0px;
    }

    ion-label {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.text_color {
    opacity: 1 !important;
}

.d-share {
    --innerpadding-end: 0px;

    .about-label {
        margin-left: 15px !important;
    }
}

/*------------------------------------ New codes starts here ---------------------------------------*/

.ion-header-inner {
    background: #fff;
    min-height: 90px;
    padding: 15px 15px 0;
    color: #222;
    align-self: center;
    align-items: center;
    align-content: center;
    display: flex;
    box-shadow: none;
}

// .profile-details-box {
//     background: #0077B5;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     min-height: 120px;
//     padding: 15px 20px;
//     color: #fff;
//     border-radius: 15px;
//     text-align: center;
//     margin-top: 30px;
//     margin-bottom: 10px;

//     ion-avatar {
//         width: 100px;
//         height: 100px;
//         border: 5px solid #fff;
//         position: absolute;
//         top: 0;
//     }

//     .consumer-name {
//         font-size: 20px;
//         font-weight: 500;
//         color: #fff;
//         display: block;
//         margin-top: 45px;
//     }

//     .agedcare-name {
//         font-size: 14px;
//         color: #fff;
//         display: block;
//         margin-top: 2px;
//     }

//     .room-wingname {
//         font-size: 14px;
//         color: #fff;
//         display: block;
//         margin-top: 2px;
//     }

//     .dob {
//         display: flex;
//         font-size: 14px;
//         color: #fff;
//         margin-top: 6px;

//         i {
//             font-size: 20px;
//             margin-right: 5px;
//             vertical-align: middle;
//         }
//     }

//     .gender {
//         width: 100%;
//         display: block;
//         font-size: 14px;
//         color: #fff;
//         margin-top: 6px;
//         margin-left: auto;
//         margin-right: auto;

//         .gender-icon {
//             max-width: 20px;
//             margin-right: 5px;
//             vertical-align: middle;
//         }
//     }
// }

// .profile-details-box {
//     background: #0077b5;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     min-height: 120px;
//     padding: 15px 20px;
//     color: #fff;
//     border-radius: 15px;
//     text-align: center;
//     margin-top: 30px;
//     margin-bottom: 10px;

//     ion-avatar {
//         width: 100px;
//         height: 100px;
//         border: 5px solid #fff;
//         position: absolute;
//         top: 0;
//     }

//     .consumer-name {
//         font-size: 20px;
//         font-weight: 500;
//         color: #fff;
//         display: block;
//         margin-top: 45px;
//     }

//     .agedcare-name {
//         font-size: 14px;
//         color: #fff;
//         display: block;
//         margin-top: 2px;
//     }

//     .room-wingname {
//         font-size: 14px;
//         color: #fff;
//         display: block;
//         margin-top: 2px;
//     }

//     .rw-sec {
//         display: flex;
//         font-family: "Roboto", sans-serif;
//         font-size: 14px;
//         color: #fff;
//         margin-top: 6px;

//         i {
//             font-size: 20px;
//             margin-right: 5px;
//             vertical-align: middle;
//         }
//     }

//     .phone {
//         width: 100%;
//         display: block;
//         font-family: "Roboto", sans-serif;
//         font-size: 14px;
//         color: #fff;
//         margin-top: 6px;
//         margin-left: auto;
//         margin-right: auto;

//         i {
//             font-size: 20px;
//             margin-right: 5px;
//             vertical-align: middle;
//         }
//     }

//     .email {
//         width: 100%;
//         display: block;
//         font-family: "Roboto", sans-serif;
//         font-size: 14px;
//         color: #fff;
//         margin-top: 6px;
//         margin-left: auto;
//         margin-right: auto;

//         i {
//             font-size: 20px;
//             margin-right: 5px;
//             vertical-align: middle;
//         }
//     }

//     .lw {
//         margin-top: 5px;
//         font-family: "Roboto", sans-serif;
//         font-size: 14px;
//         color: #fff;

//         span {
//             color: #ffeb00;
//             font-weight: 500;
//         }
//     }

//     .reset-password-btn {
//         --background: rgb(203 237 255);
//         --box-shadow: none;
//         --border-radius: 50px;
//         text-transform: none;
//         font-size: 16px;
//         font-weight: 400;
//         color: #0077b5;
//         margin-top: 12px;
//     }
// }

.profile-details-box {
    background: #0077b5;
    display: flex;
    // flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    // min-height: 120px;
    // padding: 15px 20px;
    padding: 20px;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    // margin-top: 30px;
    margin-top: 0px;
    margin-bottom: 10px;

    .pdb-thumb-name-box {
        width: 100%;
        display: flex;
        align-items: center;
        // border-bottom: 1px dashed rgb(255 255 255 / 35%);
        // padding-bottom: 15px;
        // margin-bottom: 5px;

        ion-avatar {
            min-width: 55px;
            max-width: 55px;
            height: 55px;
            border: 5px solid #fff;
            background: #fff;
            // position: absolute;
            // top: 15px;
            position: relative;

            .edit-dp-btn {
                position: absolute;
                font-size: 19px;
                color: #0077b5;
                background: #fff;
                right: -9px;
                bottom: -8px;
                padding: 5px;
                border-radius: 50px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }

        .consumer-name {
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            display: block;
            margin-left: 15px;
            padding-right: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            line-height: 25px;
            white-space: pre-line;
            word-wrap: break-word;
            word-break: break-word;

            .lw {
                margin-top: 0px;
                font-family: "Roboto", sans-serif !important;
                font-size: 14px;
                font-weight: normal;
                color: #fff;

                span {
                    color: #ffeb00;
                    font-weight: 500;
                }
            }
        }

        .pdb-mi-arrow {
            font-size: 22px;
            color: #fff;
            margin-left: auto;
            min-width: 22px;
            max-width: 22px;
            height: 22px;
            margin-top: 5px;
            align-self: flex-start;
        }
    }

    // ion-avatar {
    //     width: 100px;
    //     height: 100px;
    //     border: 5px solid #fff;
    //     position: absolute;
    //     top: 15px;
    // }

    // .consumer-name {
    //     font-size: 20px;
    //     font-weight: 500;
    //     color: #fff;
    //     display: block;
    //     margin-top: 45px;
    // }

    .pdb-other-infobox {
        width: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        text-align: left;
        padding-left: 0px;
        border-top: 1px dashed rgba(255, 255, 255, 0.35);
        padding-top: 5px;
        margin-top: 15px;

        .agedcare-name {
            font-size: 14px;
            color: #fff;
            display: block;
            margin-top: 2px;
        }

        .room-wingname {
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #fff;
            display: block;
            margin-top: 2px;
        }

        .rw-sec {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #fff;
            margin-top: 10px;
            margin-bottom: 5px;

            i {
                // font-size: 20px;
                // margin-right: 5px;
                // vertical-align: middle;
                font-size: 20px;
                background: #4099c8;
                color: #fff;
                border-radius: 50px;
                padding: 5px;
                margin-right: 10px;
                min-width: 38px;
                max-width: 38px;
                min-height: 38px;
                max-height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .phone {
            width: 100%;
            display: flex;
            align-items: center;
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #fff;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;

            i {
                // font-size: 20px;
                // margin-right: 5px;
                // vertical-align: middle;
                font-size: 20px;
                background: #4099c8;
                color: #fff;
                border-radius: 50px;
                padding: 5px;
                margin-right: 10px;
                min-width: 38px;
                max-width: 38px;
                min-height: 38px;
                max-height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ion-chip {
                // font-family: "Open Sans", sans-serif;
                font-size: 13px;
                font-family: "Roboto", sans-serif;
                --background: rgb(255 255 255 / 25%);
                color: #ffffff;
                height: 30px;
                margin-left: auto;
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 0;

                ion-icon {
                    font-size: 13px;
                    color: #fff;
                    margin-right: 5px;
                    margin-left: 0;
                }
            }
        }

        .email {
            width: 100%;
            // display: block;
            display: flex;
            align-items: center;
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #fff;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;

            i {
                // font-size: 20px;
                // margin-right: 5px;
                // vertical-align: middle;
                font-size: 20px;
                background: #4099c8;
                color: #fff;
                border-radius: 50px;
                padding: 5px;
                margin-right: 10px;
                min-width: 38px;
                max-width: 38px;
                min-height: 38px;
                max-height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .dob {
            width: 100%;
            // display: block;
            display: flex;
            align-items: center;
            // font-family: "Open Sans", sans-serif;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #fff;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;

            i {
                // font-size: 20px;
                // margin-right: 5px;
                // vertical-align: middle;
                font-size: 20px;
                background: #4099c8;
                color: #fff;
                border-radius: 50px;
                padding: 5px;
                margin-right: 10px;
                min-width: 38px;
                max-width: 38px;
                min-height: 38px;
                max-height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .lw {
            margin-top: 5px;
            font-size: 14px;
            color: #fff;

            span {
                color: #ffeb00;
                font-weight: 500;
            }
        }
    }

    .reset-password-btn {
        --background: rgb(203 237 255);
        --box-shadow: none;
        --border-radius: 50px;
        text-transform: none;
        font-size: 16px;
        font-weight: 400;
        color: #0077b5;
        margin-top: 12px;
    }
}

.consumer-about-form {
    ion-row {
        margin-bottom: 10px !important;
    }
}

/*------------------------------------ New codes ends here ---------------------------------------*/

/*------------------------------------ RV codes starts here --------------------------------------*/

.profile-content-box {
    padding: 10px;

    ion-row {
        ion-col {
            // padding: 10px;
            padding: 0 5px 20px;

            .nb-holder {
                display: flex;
                align-items: center;
                background: #e7f7f9;
                border: 1px solid #c3e5e9;
                border-radius: 10px;
                padding: 12px;

                ion-icon {
                    // font-size: 60px;
                    color: #1d7d88;
                    min-width: 26px;
                    max-width: 26px;
                    height: 26px;
                    align-self: flex-start;
                }

                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    color: #1d7d88;
                    line-height: 19px;
                    margin: 0 0 0 10px;
                }
            }

            .link-another-resident-button {
                --background: transparent;
                --box-shadow: none;
                --border-radius: 50px;
                --padding-start: 0;
                color: #0077b5;
                text-transform: none;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-size: 17px;
                margin-left: 0;
                margin-top: 10px;
                margin-bottom: 15px;

                ion-icon {
                    font-size: 24px;
                    margin-right: 5px;
                }
            }

            .property-link-info-holder {
                display: flex;
                flex-direction: column;
                margin: 0 0 0;
                font-family: "Roboto", sans-serif !important;

                .linked-info-txt {
                    font-size: 16px;
                    color: #666666;
                    margin-bottom: 12px;
                }

                ion-row {
                    ion-col {
                        padding: 0;
                        margin-bottom: 15px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .linked-resident-details-holder {
                            display: flex;
                            align-items: center;
                            border: 1px solid #d9d9d9;
                            border-radius: 10px;
                            padding: 10px;
                            position: relative;

                            .resident-avatar {
                                width: 45px;
                                height: 45px;
                                border: 1px solid #ededed;
                                border-radius: 50px;
                            }

                            .resident-info-block {
                                display: flex;
                                flex-direction: column;
                                margin-left: 15px;

                                .resident-name {
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: #000;
                                }

                                .property-name {
                                    font-size: 14px;
                                    color: #8c8c8c;
                                    margin-top: 2px;
                                }
                            }

                            .remove-resident-icon {
                                font-size: 25px;
                                color: #ff0000;
                                background: #fff;
                                border-radius: 50px;
                                position: absolute;
                                top: -10px;
                                right: -9px;
                                z-index: 99999;
                            }
                        }
                    }
                }
            }

            .send-rp-link-holder {
                display: flex;
                align-items: center;

                .send-rp-link {
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    color: #2196f3;
                    display: block;
                }

                .send-rpl-icon {
                    font-size: 20px;
                    color: #2196f3;
                    margin-left: 5px;
                }
            }
        }
    }

    .sec-title {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: #000;
        display: block;
    }

    .sec-title-bb {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: #43606f;
        display: block;
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    .profile-item-name {
        // font-family: "Roboto", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #545454;
        display: block;
        // margin-top: 10px;

        & + #moreContent {
            margin-top: 8px;
            display: block;
        }
    }

    .country-name-holder {
        display: flex;
        align-items: center;
        margin-top: 5px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #dfdfdf;

        .country-name {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: #222;
        }

        .chevron-down-icon {
            font-size: 22px;
            color: #666;
            margin-left: 5px;
        }
    }

    .pi-ans {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #dfdfdf;
        // font-family: "Roboto", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #222;

        ion-chip {
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            color: #006aaf;
            background: #dff5ff;
            padding: 10px;
            height: auto;
            border-radius: 10px;
        }
    }

    .pi-ans-call-ft {
        align-items: center;
        justify-content: space-between;
        position: relative;

        .rv-res-call-btn {
            --background: #10bd17;
            --border-radius: 50px;
            --box-shadow: none;
            --padding-start: 5px;
            --padding-end: 5px;
            font-size: 20px;
            width: 35px;
            height: 35px;
            position: absolute;
            right: 0;
            bottom: 5px;
        }
    }

    .pi-ans-photos-block {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;

        img {
            width: 72px;
            height: 72px;
            -o-object-fit: cover;
            object-fit: cover;
            border: 1px solid #d3d3d3;
            border-radius: 10px;
            margin: 5px;
        }
    }

    .pet-img-box {
        width: 72px;
        height: 72px;
        position: relative;

        ion-thumbnail {
            width: 72px;
            height: 72px;
            border: 1px solid #d3d3d3;
            --border-radius: 6px;
        }

        .remove-pet-photo {
            font-size: 25px;
            position: absolute;
            top: -10px;
            right: -6px;
            background: #fff;
            border-radius: 50px;
            color: #c30009;
        }
    }

    .add-photos-btn {
        --background: #e0f4ff;
        --color: #0077b5;
        --border-radius: 50px;
        --box-shadow: none;
        --padding-start: 20px;
        --padding-end: 10px;
        --padding-top: 5px;
        --padding-bottom: 5px;
        text-transform: none;
        font-size: 15px;
        font-weight: normal;
        border-radius: 10px;
        margin-top: 15px;
        display: block;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        display: flex;
        align-items: center;
        height: 40px;

        ion-icon {
            font-size: 20px;
            margin-left: 5px;
        }
    }

    .profile-item-head {
        font-size: 20px;
        font-weight: 500;
        color: #545454;
        // margin-top: 20px;
        display: flex;
    }

    ion-radio-group {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;

        ion-item {
            --min-height: auto;
            --padding-start: 0;
            --inner-padding-end: 0;
            margin: 5px 30px 0 0;

            &:first-child {
                margin-left: 0;
            }

            ion-radio {
                margin-right: 10px;
                vertical-align: middle;
            }

            ion-label {
                font-size: 15px;
                color: #545454;
                vertical-align: middle;
            }
        }
    }

    #moreContent,
    #lessContent {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #222;
        line-height: 25px;
    }

    ion-input {
        margin-top: 15px;
    }

    ion-select {
        margin-top: 15px;
    }

    ion-textarea {
        margin-top: 15px;
        min-height: 150px;
    }

    .profile-toggle-switch {
        float: left;
        width: 50px;
        height: 25px;
        padding-inline: 0;
        border-radius: 50px;
        margin-right: 15px;
        margin-bottom: 10px;
        padding: 0;
        --background: #c8cfda;
        --background-checked: #c9edff;
        --handle-background-checked: #0077b5;
        --handle-width: 20px;
        --handle-height: 20px;
        --handle-background: #fff;
        --ion-color-base: #0077b5 !important;
        --handle-spacing: 3px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .profile-dt-box {
        position: relative;
        margin-top: 15px;
        display: block;

        ion-input {
            --padding-start: 60px;
        }

        ion-datetime {
            --padding-start: 15px;
        }

        .country-code {
            font-size: 16px;
            color: #828282 !important;
            border-right: 1px solid #c8c8c8;
            padding-right: 10px;
            position: absolute;
            left: 15px;
            bottom: 12px;
            z-index: 999;
        }

        .consumer-about-calendar-icon {
            font-size: 25px;
            color: #828282 !important;
            float: right;
            position: absolute;
            right: 18px;
            bottom: 13px;
            z-index: 999;
        }
    }

    .profile-ai-sec {
        width: 100% !important;
        // border-top: 1px dashed #ccc;
        margin: 0px 0 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .profile-ldin-sec {
        width: 100% !important;
        // border-top: 1px dashed #ccc;
        margin: 0px 0 30px;
        // padding-top: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .profile-moreinfo-sec {
        width: 100% !important;
        // border-top: 1px dashed #ccc;
        margin: 0px 0 30px;
        // padding-top: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        .add-medical-condition {
            display: flex;
            align-items: center;
            font-family: "Roboto", sans-serif;
            font-size: 13px;
            color: #ff9800;
            margin-top: 15px;

            ion-icon {
                font-size: 17px;
                margin-right: 5px;
            }
        }

        .multiple-pet-photos-block {
            display: flex;
            flex-direction: column;

            .pet-photo-single-item {
                display: flex;
                flex-direction: column;
                width: 100%;
                border: 1px solid #e3e3e3;
                padding: 10px;
                margin: 15px 0 0;
                border-radius: 10px;
                position: relative;

                .mo-icon {
                    font-size: 18px;
                    color: #666;
                    position: absolute;
                    top: 15px;
                    right: 5px;
                }

                .pet-basic-info {
                    display: flex;
                    flex-direction: column;
                    font-family: "Roboto", sans-serif;
                    padding: 5px;

                    .pet-name {
                        font-size: 16px;
                        font-weight: 500;
                        color: #000;
                    }

                    .pet-category {
                        font-size: 15px;
                        color: #666;
                        margin-top: 5px;
                    }
                }

                .pet-photos-box {
                    display: grid;
                    grid-template-columns: 25% 25% 25% 25%;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-top: 5px;

                    ion-avatar {
                        width: 60px;
                        height: 60px;
                        margin: 5px;
                        --border-radius: 6px;
                    }
                }
            }
        }
    }

    .profile-contact-box {
        // --padding-start: 15px;
        // --inner-padding-end: 15px;
        // --padding-top: 15px;
        // --padding-bottom: 15px;
        // --min-height: auto;
        // background: #f9f9f9;
        // border: 1px solid #e3e3e3;
        // border-radius: 10px;
        // position: relative;

        // background: #f9f9f9;
        background: #fff;
        border: 1px solid #e3e3e3;
        border-radius: 10px;
        position: relative;
        padding: 15px;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;

        .pcb-basic-infobox {
            display: flex;
            align-items: center;

            ion-avatar {
                min-width: 50px;
                max-width: 50px;
                height: 50px;
                border-radius: 50px;
                background: #ffe5ea;
                display: flex;
                align-items: center;
                align-self: flex-start;
                justify-content: center;
                margin-top: 0;
                margin-bottom: 0;
                filter: hue-rotate(225deg);

                ion-label {
                    color: #d95772;
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    text-transform: capitalize;
                }
            }

            .pc-details-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 12px;
                width: 100%;
                position: relative;

                .pc-name {
                    display: flex;
                    flex-direction: column;
                    font-size: 18px;
                    font-weight: 500;
                    color: #252525;
                    line-height: 22px;
                    // margin-left: 12px;
                    // padding-right: 18px;
                    margin-top: 0;
                    margin-bottom: 0;
                    white-space: pre-wrap;
                    word-break: break-word;
                    word-wrap: break-word;
                    // max-width: 92%;
                    max-width: 100%;
                    min-width: 100%;
                }

                .relation {
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    color: #6c6c6c;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    margin-top: 3px !important;
                    display: flex;
                    align-items: center;

                    .primary-rep {
                        font-family: "Roboto", sans-serif;
                        font-size: 11px;
                        margin-left: 5px;
                        padding: 5px;
                        height: 14px;
                        border-radius: 0;
                        background: transparent;
                        // color: #666;
                        color: #ff7070;
                        border-left: 1px solid #bfbfbf;
                        padding-left: 5px;
                        display: flex;
                        align-items: center;

                        i {
                            font-size: 15px;
                            margin-right: 2px;
                            color: #ff7070;
                        }
                    }
                }

                .inactive-contact-holder {
                    display: flex;
                    align-items: center;
                    color: #f16d6d;
                    font-family: "Roboto", sans-serif;
                    font-size: 13px;
                    font-weight: normal;
                    // background: #ffe8ed;

                    ion-icon {
                        font-size: 10px;
                        margin-right: 2px;
                    }
                }
            }

            .pcb-expand-arrow {
                font-size: 30px;
                color: #7f7f7f;
                margin-left: auto;
                display: none;
            }
        }

        .contact-more-infobox {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            line-height: 30px;

            span {
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                font-weight: normal;
                color: #6c6c6c;
                white-space: pre-wrap;
                word-wrap: break-word;
                display: flex;
                align-items: center;

                &:first-child {
                    margin-top: 5px;
                }

                // &:last-child {
                //     border: none !important;
                //     margin-bottom: 0;
                //     padding-bottom: 0;
                // }

                i {
                    font-size: 18px;
                    margin-right: 2px;
                }
            }

            .phone {
                border-top: 1px dashed #d9d9d9;
                margin-top: 5px;
                padding-top: 5px;
            }

            .mobile {
                border-top: 1px dashed #d9d9d9;
                margin-top: 5px;
                padding-top: 5px;
            }

            .email {
                border-top: 1px dashed #d9d9d9;
                margin-top: 5px;
                padding-top: 5px;
            }

            .s-inactive-box {
                border-top: 1px dashed #d9d9d9;
                margin-top: 5px;
                padding-top: 5px;
                padding-bottom: 1px;
                width: 100%;

                .pc-inactive {
                    // font-family: "Roboto", sans-serif;
                    font-family: "Roboto", sans-serif;
                    font-size: 11px;
                    margin-top: 5px;
                    color: #f30909;
                    background: #ffe8ed;
                    // border-radius: 50px;
                    border-radius: 5px;
                    max-width: fit-content;
                    padding: 5px 8px;
                    // margin-left: 13px;
                }
            }

            .contact-for-block {
                display: flex;
                flex-direction: column;
                margin-top: 5px;
                padding-top: 8px;
                border-top: 1px dashed #d9d9d9;

                .cf-sub-title {
                    font-family: "Roboto", sans-serif;
                    font-size: 13px;
                    font-weight: 500;
                    color: #000;
                    margin-bottom: -5px;
                }

                .cf-chip-box {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    ion-chip {
                        font-family: "Roboto", sans-serif;
                        font-size: 12px;
                        margin: 5px;
                        color: #303030;
                        background: #efefef;
                        border-radius: 5px;
                        max-width: -webkit-fit-content;
                        max-width: -moz-fit-content;
                        max-width: fit-content;
                        padding: 5px 8px;
                        height: 25px;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }

            .more-info-btn {
                --background: #ededed;
                --background-activated: #d3d3d3;
                --background-hover: #d3d3d3;
                --box-shadow: none;
                --border-radius: 10px;
                /* border: 1px solid #e3e3e3; */
                border-radius: 10px;
                color: #666;
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                font-weight: normal;
                text-transform: none;
                letter-spacing: normal;
                margin-top: 10px;

                ion-icon {
                    font-size: 20px;
                    margin-left: 5px;
                }
            }
        }

        .pc-more {
            position: absolute;
            top: 15px;
            right: 10px;
            font-size: 20px;
            color: #7c7c7c;
        }
    }

    .pcb-more {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        text-transform: none;
        --background: #e2effc;
        --box-shadow: none;
        --border-radius: 15px;

        ion-icon {
            font-size: 30px;
            color: #2b69a9;
        }

        ion-label {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            // font-weight: 500;
            color: #2b69a9;
            margin-left: 10px;
        }
    }

    .contract-card {
        padding: 10px;
        margin: 0;
        font-family: "Roboto", sans-serif;
        box-shadow: none !important;
        border: 1px solid #dfdfdf;

        .rv-property-img {
            border-radius: 6px;
            width: 100%;
            max-height: 200px;
            object-fit: cover;
        }

        .rv-property-info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .rv-property-name-box {
                max-width: 70%;

                .rv-property-name {
                    font-family: "Poppins", sans-serif;
                    font-size: 17px;
                    font-weight: 600;
                    color: #545454;
                }
            }

            .rv-property-type {
                .rv-ptype {
                    // padding: 6px 15px;
                    // background: #d9fbff;
                    // color: #0051b5;
                    // border-radius: 50px;
                    // line-height: 16px;
                    // font-family: "Roboto", sans-serif;
                    // font-size: 15px;
                    // font-weight: 400;
                    // margin-bottom: 0;
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    // margin-bottom: 12px;
                    // min-width: 70px;
                    // height: 28px;
                    // text-align: center;

                    padding: 6px 12px;
                    background: #d9fbff;
                    color: #0051b5;
                    border-radius: 50px;
                    line-height: 16px;
                    // font-family: "Roboto", sans-serif;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 12px;
                    margin-bottom: 12px;
                    margin-right: 0;
                    min-width: 70px;
                    height: 28px;
                    text-align: center;
                }

                .villa {
                    color: #fff !important;
                    background: #9c27b0 !important;
                }

                .unit {
                    color: #fff !important;
                    background: #ff2e75 !important;
                }

                .s-apartment {
                    color: #fff !important;
                    background: #ff9800 !important;
                }

                .ilu {
                    color: #fff !important;
                    background: #7ac524 !important;
                }
            }
        }

        .rv-bbc-block {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-top: 5px;
            margin-bottom: 10px;
            padding-bottom: 12px;
            border-bottom: 1px solid #e3e3e3;

            .rv-inner-box {
                // width: 48%;
                display: flex;
                flex-direction: column;

                &:nth-child(1) {
                    .rv-ib-row {
                        .rv-ib-col {
                            i {
                                color: #dd7a00 !important;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    .rv-ib-row {
                        .rv-ib-col {
                            i {
                                color: #4983ff !important;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    // margin-top: 10px;

                    .rv-ib-row {
                        .rv-ib-col {
                            i {
                                color: #00a759 !important;
                            }
                        }
                    }
                }

                .rv-ib-row {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .rv-ib-col {
                        display: flex;
                        align-items: center;

                        i,
                        ion-icon {
                            font-size: 22px;
                            color: #545454;
                        }

                        ion-label {
                            font-family: "Roboto", sans-serif;
                            font-size: 22px;
                            font-weight: 600;
                            color: #545454;
                            margin-left: 10px;
                        }

                        span {
                            font-family: "Roboto", sans-serif;
                            font-size: 15px;
                            color: #545454;
                            margin-top: 0px;
                        }
                    }
                }
            }
        }

        .rv-pr-bio-block {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            .rv-pr-area {
                margin-top: 5px;
                margin-bottom: 10px;
                padding-bottom: 12px;
                border-bottom: 1px solid #e3e3e3;

                ion-label {
                    color: #545454;
                    font-size: 16px;

                    span {
                        font-family: "Poppins", sans-serif;
                        font-weight: 600;
                    }
                }
            }

            .rv-pr-age {
                margin-top: 5px;
                margin-bottom: 5px;
                padding-bottom: 12px;
                border-bottom: 1px solid #e3e3e3;

                ion-label {
                    color: #545454;
                    font-size: 16px;

                    span {
                        font-family: "Poppins", sans-serif;
                        font-weight: 600;
                    }
                }
            }
        }

        .contract-more-info-box {
            border-left: 1px solid #e3e3e3;
            padding-left: 15px;
            margin-left: 5px;
            height: 100%;

            .cmib-header {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #e3e3e3;

                .cmib-inner-box {
                    width: 50%;

                    &:nth-child(even) {
                        text-align: right;
                    }

                    .contract-no-label {
                        font-size: 15px;
                        color: #545454;

                        span {
                            font-family: "Poppins", sans-serif;
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }

                    .contract-price {
                        font-size: 15px;
                        color: #545454;

                        span {
                            font-family: "Poppins", sans-serif;
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }

                    .cmib-ai-chip {
                        font-family: "Roboto", sans-serif;
                        font-size: 13px;
                        height: 25px;
                        margin: 10px 0;
                    }

                    .active {
                        background: #dfffdd !important;
                        color: #1bad00 !important;
                    }

                    .inactive {
                        background: #ffe9e9 !important;
                        color: #eb0000 !important;
                    }

                    .vd-button {
                        --background: #d1e6ff;
                        --color: #0051b5;
                        --border-radius: 50px;
                        --box-shadow: none;
                        text-transform: none;
                        font-family: "Roboto", sans-serif;
                        font-weight: normal;
                        font-size: 14px;
                        height: 30px;
                        margin: 10px 0;
                    }

                    .rental-info-block {
                        display: flex;
                        align-items: center;

                        .rental-tag {
                            display: flex;
                            align-items: center;
                            font-family: "Roboto", sans-serif;
                            font-size: 14px;
                            color: #006dea;

                            ion-icon {
                                font-size: 15px;
                                margin-right: 5px;
                            }
                        }

                        .contract-price {
                            border-left: 1px solid #d3d3d3;
                            padding-left: 10px;
                            margin-left: 10px;
                        }
                    }
                }
            }

            .cmib-content {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                padding-top: 5px;

                .cmib-inner-box {
                    width: 50%;
                    margin-top: 10px;

                    &:nth-child(even) {
                        text-align: right;
                    }

                    .contract-residents-label {
                        font-family: "Roboto", sans-serif;
                        font-size: 16px;
                        color: #545454;

                        span {
                            font-family: "Poppins", sans-serif;
                            font-weight: 600;
                        }
                    }

                    .contract-ad-label {
                        display: flex;
                        flex-direction: column;
                        font-family: "Roboto", sans-serif;
                        font-size: 15px;
                        color: #545454;

                        span {
                            font-family: "Poppins", sans-serif;
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }

                    .contract-sd-label {
                        display: flex;
                        flex-direction: column;
                        font-family: "Roboto", sans-serif;
                        font-size: 15px;
                        color: #545454;

                        span {
                            font-family: "Poppins", sans-serif;
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }

                    .contract-mid-label {
                        display: flex;
                        flex-direction: column;
                        font-family: "Roboto", sans-serif;
                        font-size: 15px;
                        color: #545454;

                        span {
                            font-family: "Poppins", sans-serif;
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }

                    .contract-mod-label {
                        display: flex;
                        flex-direction: column;
                        font-family: "Roboto", sans-serif;
                        font-size: 15px;
                        color: #545454;

                        span {
                            font-family: "Poppins", sans-serif;
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }
                }

                .cmib-inner-box-1 {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .contract-residents-label {
                        font-size: 16px;
                        color: #545454;

                        span {
                            font-weight: 600;
                        }
                    }

                    .cr-info-box {
                        display: flex;
                        align-items: center;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        border-bottom: 1px dashed #d5d5d5;
                        padding-bottom: 10px;

                        &:last-child {
                            margin-bottom: 0;
                            padding-bottom: 0;
                            border: none;
                        }

                        ion-avatar {
                            width: 28px;
                            height: 28px;
                            border-radius: 50%;
                            margin-right: 10px;
                        }

                        ion-label {
                            font-size: 15px;
                            color: #545454;
                        }
                    }
                }
            }
        }
    }
}

.publish-btn {
    text-transform: capitalize;
    height: 45px;
    --border-radius: 50px;
    --background: #0077b5;
    font-size: 18px;
    font-weight: 400;
    --box-shadow: none;
    min-width: 120px;
    max-width: fit-content;
    margin: 5px auto;
    display: block;
}

.ml-auto {
    margin-left: auto !important;
}

#myTabBar {
    display: none !important;
}

@media only screen and (min-width: 320px) and (max-width: 393px) {
    .profile-content-box {
        .profile-contact-box {
            .pc-details-box {
                .pc-name {
                    min-width: 88% !important;
                    max-width: 89% !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .profile-content-box {
        .contract-card {
            padding: 16px 12px !important;

            ion-row {
                ion-col {
                    padding: 0px 5px !important;
                }
            }

            .cc-ir {
                ion-col {
                    padding: 0px !important;
                }
            }

            .rv-pr-bio-block {
                margin-top: 12px;
            }

            .contract-more-info-box {
                border: none !important;
                padding-left: 0px !important;
                margin-left: 0px !important;

                .cmib-header {
                    margin-top: 5px;
                }

                .cmib-content {
                    .cmib-inner-box {
                        width: 100%;
                        border-bottom: 1px solid #e3e3e3;
                        padding-bottom: 10px;
                        margin-bottom: 10px;

                        &:nth-child(even) {
                            text-align: left;
                        }

                        &:last-child {
                            border: none;
                            margin-bottom: 0;
                        }
                    }

                    .cmib-inner-box-1 {
                        width: 100%;
                        flex-direction: column;
                        margin-top: 10px !important;
                    }

                    .border-bottom {
                        border-bottom: 1px solid #e3e3e3;
                        padding-bottom: 10px;
                    }
                }
            }

            .rv-bbc-block {
                .rv-inner-box {
                    .rv-ib-row {
                        .rv-ib-col {
                            span {
                                font-size: 14px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 393px) {
    .profile-content-box {
        padding: 2px !important;
    }
}

@media only screen and (min-width: 394px) {
    .profile-content-box {
        .contract-card {
            .contract-more-info-box {
                .cmib-header {
                    .cmib-inner-box {
                        .rental-info-block {
                            .rental-tag {
                                font-size: 16px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .profile-content-box {
        .profile-moreinfo-sec {
            .multiple-pet-photos-block {
                .pet-photo-single-item {
                    .pet-photos-box {
                        display: flex !important;
                        flex-wrap: wrap !important;
                        align-items: center !important;
                    }
                }
            }
        }
    }

    .profile-content-box {
        ion-row {
            ion-col {
                padding: 0 10px 20px;
            }
        }

        .contract-card {
            padding: 5px !important;

            ion-row {
                ion-col {
                    padding: 5px !important;
                }
            }

            .rv-bbc-block {
                .rv-inner-box {
                    &:nth-child(2) {
                        border-right: 1px solid #e3e3e3;
                        border-left: 1px solid #e3e3e3;
                        padding-right: 15px;
                        padding-left: 15px;
                    }
                }
            }

            .contract-more-info-box {
                .cmib-content {
                    .cmib-inner-box-1 {
                        border-bottom: 1px dashed #c3c3c3;
                        padding-bottom: 10px;

                        &:first-child {
                            border: none;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .profile-moreinfo-sec {
        .multiple-pet-photos-block {
            flex-direction: row !important;
            flex-wrap: wrap;

            .pet-photo-single-item {
                width: 47% !important;
                margin: 15px 10px 0 !important;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .profile-moreinfo-sec {
        .multiple-pet-photos-block {
            flex-direction: row !important;
            flex-wrap: wrap;

            .pet-photo-single-item {
                width: 32% !important;
                margin: 15px 10px 0 !important;
            }
        }
    }
}

// .profile-content-box {
//     .pi-ans {
//         &:last-of-type {
//             padding-bottom: 0px !important;
//             border: none !important;
//         }
//     }
// }

.pb-zero {
    padding-bottom: 0 !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-zero {
    margin-top: 0 !important;
}

.p-zero {
    padding: 0 !important;
}

.add-new-item-block {
    display: flex;
    align-items: center;
    width: 100%;

    ion-input {
        margin-top: 0;
    }

    .remove-option-btn {
        font-size: 22px;
        color: #ed0101;
        margin-left: 15px;
    }
}

.add-new-item-button {
    --background: transparent;
    --box-shadow: none;
    --border-radius: 50px;
    --padding-start: 0;
    color: #0077b5;
    text-transform: none;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 17px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 15px;

    ion-icon {
        font-size: 24px;
        margin-right: 5px;
    }
}

ion-toggle {
    opacity: 1;
}

ion-radio {
    opacity: 1;
}

.w-100 {
    width: 100%;
}

.show-more {
    color: #0077b5;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

/*------------------------------------ RV codes ends here --------------------------------------*/

.temp {
    margin-right: auto;
    display: block;
    max-width: fit-content;
}
