.ion-header-inner-2 {
    position: relative;
    padding: 0;

    .header-ib {
        padding: 0 !important;

        ion-row {

            .page-name {
                padding-top: 15px !important;
                padding-left: 15px !important;
            }

            .sb-col {
                padding-top: 15px !important;
                padding-right: 15px !important;
            }

            .searchbar-col {
                padding-right: 15px !important;
                padding-left: 15px !important;

                .clife-search-bar {
                    margin-top: 15px !important;
                }
            }

        }

        .header-select-all-staff-box {
            display: flex;
            align-items: center;
            width: 100%;
            background: #fff;
            border: none;
            border-radius: 0;
            padding: 15px 20px;
            margin-top: 15px;
            margin-bottom: 0px;
            --padding-start: 0;
            --inner-padding-end: 0;
            --min-height: auto;

            ion-label {
                margin: 0 0 0 15px;
            }

            ion-toggle {
                --background: #acb4bf;
                --background-checked: #a8e1ff;
                --handle-background-checked: #0077b5;
                --handle-width: 20px;
                --handle-height: 20px;
                --handle-spacing: 3px;
                --handle-background: #ffffff;
                padding: 0;
                width: 45px;
                height: 25px;
                margin-right: 1px;
            }
        }
    }

    .save-btn {
        --background: rgba(135, 181, 255, 0.3) !important;
        --border-radius: 50px !important;
        --padding-start: 10px;
        --padding-end: 10px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --box-shadow: none !important;
        color: #fff !important;
        font-size: 25px;
        width: 45px;
        height: 45px;
        margin-left: 10px;
        margin-right: 0;
        margin-bottom: 0;
    }

    .header-select-all-staff-box {
        display: flex;
        align-items: center;
        width: 100%;
        background: #fff;
        border: none;
        border-radius: 0;
        padding: 15px 20px;
        margin-bottom: 10px;
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;

        ion-label {
            margin: 0 0 0 15px;
        }

        ion-toggle {
            --background: #acb4bf;
            --background-checked: #a8e1ff;
            --handle-background-checked: #0077b5;
            --handle-width: 20px;
            --handle-height: 20px;
            --handle-spacing: 3px;
            --handle-background: #ffffff;
            padding: 0;
            width: 45px;
            height: 25px;
            margin-right: 1px;
        }
    }
}

ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    // --padding-top: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background: #efefef;
    // min-height: 100vh;
    // z-index: 9999999;
}

.staff-info-container {
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;

    .staff-dp {
        width: 45px;
        height: 45px;
    }

    .staff-info-box {
        display: flex;
        flex-direction: column;
        padding-left: 15px;

        .staff-name {
            font-family: "Open Sans", sans-serif;
            font-size: 17px;
            font-weight: 600;
            color: #545454;
        }

        .designation-details-box {
            display: flex;

            ion-label {
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                color: #818181;
            }
        }
    }
}

.selected {
    border: 2px solid #0077b5;
}

@media only screen and (min-width: 768px) {
    .staff-info-container {
        margin-bottom: 0;
    }
}

ion-footer {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    .publish-btn {
        display: flex;
    }
}

.select-all-staff-box {
    // display: flex;
    // align-items: center;
    // width: 100%;
    // background: #fff;
    // border: 1px solid #dfdfdf;
    // border-radius: 10px;
    // padding: 15px;
    // margin-bottom: 10px;
    // --padding-start: 0;
    // --inner-padding-end: 0;
    // --min-height: auto;

    // display: flex;
    // align-items: center;
    // width: 100%;
    // background: transparent;
    // border: none;
    // border-radius: 10px;
    // padding: 0;
    // margin-bottom: 10px;
    // --padding-start: 0;
    // --inner-padding-end: 0;
    // --min-height: auto;

    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border: none;
    border-radius: 0;
    padding: 15px 20px;
    margin-bottom: 10px;
    --padding-start: 0;
    --inner-padding-end: 0;
    --min-height: auto;
    position: fixed;
    z-index: 999;
    top: 148px;
    left: 0;

    ion-label {
        margin: 0 0 0 15px;
    }

    ion-toggle {
        // --background: #c8cfda;
        // --background-checked: #dcf3ff;
        // --handle-background-checked: #0077b5;
        // --handle-width: 20px;
        // --handle-height: 20px;
        // --handle-spacing: 3px;
        // --handle-background: #ffffff;
        // padding: 0;
        // width: 45px;
        // height: 25px;
        // margin-right: 1px;
        --background: #acb4bf;
        --background-checked: #a8e1ff;
        --handle-background-checked: #0077b5;
        --handle-width: 20px;
        --handle-height: 20px;
        --handle-spacing: 3px;
        --handle-background: #ffffff;
        padding: 0;
        width: 45px;
        height: 25px;
        margin-right: 1px;
    }
}
