<ion-header class="ion-header-inner-2">

  <ion-toolbar mode="ios" color="none" lines="none" class="no-border">

    <ion-grid class="header-ib">

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
          <ion-label *ngIf="flag!==1">Select staff</ion-label>
          <ion-label *ngIf="flag==1">Conducted by</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end sb-col" *ngIf="flag!==1">
          <ion-button class="save-btn" (click)="save()">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col class="searchbar-col">

          <ion-searchbar class="clife-search-bar" placeholder="Search staff" (ionCancel)="cancel()"
            [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12">

          <ion-item lines="none" color="none" class="header-select-all-staff-box" *ngIf="flag!==1">
            <ion-toggle mode="ios" (ionChange)="selectAll($event)"></ion-toggle>
            <ion-label>Select all</ion-label>
          </ion-item>

        </ion-col>

        <ng-container *ngIf="flag==1">
          <ion-col size="12" class="mb-15"></ion-col>
        </ng-container>

      </ion-row>

    </ion-grid>

  </ion-toolbar>

  <!-- <ion-item lines="none" color="none" class="select-all-staff-box" *ngIf="flag!==1">
    <ion-toggle mode="ios" (ionChange)="selectAll($event)"></ion-toggle>
    <ion-label>Select all</ion-label>
  </ion-item> -->

</ion-header>

<ion-content>

  

  <ion-row *ngIf="flag==0" style="display: block;">

    <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12">
      <ion-item lines="none" color="none" class="select-all-staff-box">
        <ion-toggle mode="ios" (ionChange)="selectAll($event)"></ion-toggle>
        <ion-label>Select all</ion-label>
      </ion-item>
    </ion-col> -->

    <ng-container *ngIf="staffArray.length&&(staffArray|messagesearch: terms) as result">

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12" (click)="select(item)"
      *ngFor="let item of staffArray | messagesearch : terms">

      <div class="staff-info-container" [class.selected]="data.includes(item.user_id.toString())">

        <ion-avatar class="staff-dp">
          <img [src]="item.profile_pic">
        </ion-avatar>

        <div class="staff-info-box">

          <ion-label class="staff-name">
            {{item.name}}
          </ion-label>

          <!-- <span class="designation-details-box">
 
            <ion-label *ngIf="item.user_details!=null">
              {{item.user_details.title}}
            </ion-label>
 
            <ion-label *ngIf="item.user_type_id==1">
              Admin
            </ion-label>
 
          </span> -->

        </div>

      </div>

    </ion-col>


    <div *ngIf="result&&result.length==0">
      <ion-thumbnail
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-data-icon.svg">
      </ion-thumbnail>
  
      <ion-item lines="none" color="none" style="margin-top: 25px;">
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No Data Found</ion-label>
      </ion-item>
    </div>
  </ng-container>

  <div *ngIf="staffArray&&staffArray.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-data-icon.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Data Found</ion-label>
    </ion-item>
  </div>

  </ion-row>

  <ion-row *ngIf="flag==1" style="display: block;">
    <ng-container *ngIf="selected.length&&(selected|messagesearch: terms) as result">

    <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of selected | messagesearch : terms">

      <div class="staff-info-container">

        <ion-avatar class="staff-dp">
          <img [src]="item.profile_pic">
        </ion-avatar>

        <div class="staff-info-box">

          <ion-label class="staff-name">
            {{item.name}}
          </ion-label>

          <!-- <span class="designation-details-box">
 
            <ion-label *ngIf="item.user_details!=null">
              {{item.user_details.title}}
            </ion-label>
 
            <ion-label *ngIf="item.user_type_id==1">
              Admin
            </ion-label>
 
          </span> -->

        </div>

      </div>

    </ion-col>
    <div *ngIf="result&&result.length==0">
      <ion-thumbnail
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-data-icon.svg">
      </ion-thumbnail>
  
      <ion-item lines="none" color="none" style="margin-top: 25px;">
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No Data Found</ion-label>
      </ion-item>
    </div>
  </ng-container>

  <div *ngIf="selected&&selected.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-data-icon.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Data Found</ion-label>
    </ion-item>
  </div>

  </ion-row>

</ion-content>


<!-- <ion-footer *ngIf="flag==1">
  <ion-toolbar>
    <ion-button class="publish-btn" (click)="save()">Save
    </ion-button>
  </ion-toolbar>
 </ion-footer> -->