<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
          <ion-label>Declined Feedback</ion-label>
        </ion-col>
        <ion-col class="col-fit">

          <ion-icon class="header-close-btn" name="close-circle" (click)="cancel()"></ion-icon>

        </ion-col>
      </ion-row>

    </ion-grid>



  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-radio-group value="visible-to">

      <ion-item class="item-container" color="none" lines="none" (click)="select('Out of community')">
        <ion-label>Out of community</ion-label>
        <ion-radio mode='md' slot="start" value="out-of-community"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select('Had appointment')">
        <ion-label>Had appointment</ion-label>
        <ion-radio mode='md' slot="start" value="had-appointment"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select('Sleeping or napping')">
        <ion-label>Sleeping or napping</ion-label>
        <ion-radio mode='md' slot="start" value="sleeping-or-napping"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select('Had visitors')">
        <ion-label>Had visitors</ion-label>
        <ion-radio mode='md' slot="start" value="had-visitors"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select('Not interested')">
        <ion-label>Not interested</ion-label>
        <ion-radio mode='md' slot="start" value="not-interested"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select('Not feeling well')">
        <ion-label>Not feeling well</ion-label>
        <ion-radio mode='md' slot="start" value="not-feeling-well"></ion-radio>
      </ion-item>

      <ion-item class="item-container" color="none" lines="none" (click)="select('Other')">
        <ion-label>Other</ion-label>
        <ion-radio mode='md' slot="start" value="other"></ion-radio>
      </ion-item>

    </ion-radio-group>
    <ion-row *ngIf="show_reason">

      <ion-col class="opt-label" size="12">

        <ion-label>Enter feedback</ion-label>

      </ion-col>

      <ion-col size="12">

        <ion-input [(ngModel)]="other"></ion-input>

      </ion-col>

    </ion-row>
  </ion-list>

</ion-content>

<ion-footer>

  <ion-row class="d-flex-jc-center">
    <ion-col size="12">
      <ion-button (click)="dismiss()">Done</ion-button>
      <ion-button class="cancel-btn" (click)="cancel()">Cancel</ion-button>
    </ion-col>
  </ion-row>

</ion-footer>