<ion-header class="ion-header-inner-2">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
          <ion-label> Attendees</ion-label>
        </ion-col>

        
      </ion-row>

      <ion-row>

        <ion-col>

          <ion-searchbar class="clife-search-bar" placeholder="Search residents" (ionCancel)="cancel()"  [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="no-padding-inline-start-end">



    <ion-row *ngIf="( attendees | consumersearch : terms) as result">

      <ng-container *ngIf=" ( family | consumersearch : terms) as result1">

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngFor="let item of attendees | consumersearch : terms">

        <ion-row class="consumer-info-container other-attendees-sec" >
          
          <ion-col class="col-fit">

            <ion-avatar class="consumer-pic">
              <img [src]="item.user.profile_pic">
            </ion-avatar>

          </ion-col>

          <ion-col>
            
            <ion-label class="mark-attendance-consumer-info">

              {{item.user.name}}

              <span *ngIf="rv!==1">
                {{item.room}}
              </span>
              <span *ngIf="item.wing&&rv!==1">
                {{item.wing.name}}
              </span>

              <span *ngIf="item.property_details&&item.property_details.contract_details&&item.property_details.contract_details.property&&item.property_details.contract_details.property.location&&rv==1">
                {{item.property_details.contract_details.property.location.name}}
              </span>

            </ion-label>
          
          
            
          </ion-col>

        </ion-row>

      </ion-col>


      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngFor="let item of family| consumersearch : terms">

        <ion-row class="consumer-info-container other-attendees-sec" >
          
          <ion-col class="col-fit">

            <ion-avatar class="consumer-pic">
              <img [src]="item.el.user.profile_pic">
            </ion-avatar>

          </ion-col>

          <ion-col>
            
            <ion-label class="mark-attendance-consumer-info">

              {{item.user.name}}

              <span>
               {{item.el.relation}} - {{item.res}}
              </span>

            </ion-label>
          
          
            
          </ion-col>

        </ion-row>

      </ion-col>

      <div *ngIf="result.length==0&&result1.length==0" style="width: -webkit-fill-available;">
        <ion-thumbnail 
          style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
          <img src="assets/no-consumers-found.svg">
        </ion-thumbnail>
    
        <ion-item lines="none" color="none" style="margin-top: 25px;" >
          <ion-label
            style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
            No Attendee Found</ion-label>
        </ion-item>
      </div>
    </ng-container>
    </ion-row>

  </ion-grid>


</ion-content>