ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --background: #f1f1f1;
}

.consumer-info-container {
    border: none;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

@media only screen and (min-width:768px) {
    .consumer-info-container {
        min-height:unset !important;
    }
}