<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="dismiss()">
          </ion-icon>
          <ion-label>Filter</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="task-creation-form">

    <ion-col size="12" size-sm="12" size-md="6" size-lg="12" class="mb-15">

      <ion-label class="task-form-label">Filter by date </ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="date_filter">
        <ion-select-option value="0">Today</ion-select-option>
        <ion-select-option value="1">Yesterday</ion-select-option>
        <ion-select-option value="2">Last 7 days</ion-select-option>
        <ion-select-option value="3">Last 30 days</ion-select-option>
        <ion-select-option value="4">This Month</ion-select-option>
        <ion-select-option value="5">Last Month</ion-select-option>
        <ion-select-option value="6">Custom Range</ion-select-option>
      </ion-select>

    </ion-col>

    <ng-container *ngIf="date_filter==6">
    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15 n-bp" >

      <ion-label class="task-form-label">Select custom date range </ion-label>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15 n-bp">

      <ion-label class="task-form-label">Start date </ion-label>

      <span class="task-dt-box">

        <ion-datetime mode="md" displayFormat=" DD MMM YYYY" [min]="2021" [max]="2040" [(ngModel)]="sdate">
        </ion-datetime>

        <i class="las la-calendar"></i>

      </span>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15 n-bp">

      <ion-label class="task-form-label">End date </ion-label>

      <span class="task-dt-box">

        <ion-datetime mode="md" displayFormat=" DD MMM YYYY" [min]="2021" [max]="2040" [(ngModel)]="edate">
        </ion-datetime>

        <i class="las la-calendar"></i>

      </span>

    </ion-col>
  </ng-container>

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15">

      <ion-label class="task-form-label">Filter by risk rating</ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="risk">
        <ion-select-option value="3">All risk rating</ion-select-option>
        <ion-select-option value="2">High</ion-select-option>
        <ion-select-option value="1">Medium</ion-select-option>
        <ion-select-option value="0">Low</ion-select-option>
      </ion-select>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15">

      <ion-label class="task-form-label">Filter by Status</ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="status">
        <ion-select-option value="unresolved">All unresolved</ion-select-option>
        <ion-select-option value="0">Open</ion-select-option>
        <ion-select-option value="1">In progress</ion-select-option>
        <ion-select-option value="2">Third party</ion-select-option>
        <ion-select-option value="3">Closed</ion-select-option>
        <ion-select-option value="4">Overdue</ion-select-option>
      </ion-select>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15">

      <ion-label class="task-form-label">Filter by category</ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="category">
       
        <ion-select-option value="0">All category</ion-select-option>
        <ion-select-option value="1">Preventive</ion-select-option>
        <ion-select-option value="2">Corrective</ion-select-option>
      </ion-select>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15 n-bp">

      <ion-label class="task-form-label">Filter by Staff</ion-label>

      <ion-button class="task-select-resident-btn" (click)="openAssignedTo()" *ngIf="!assignedTo.length">
        <ion-icon name="add-outline"></ion-icon> Select staff
      </ion-button>

      <div class="task-sres-block" *ngIf="assignedTo.length">

        <div class="tsres-box">
          <ion-label> {{staff}}
            <!-- <ion-chip class="tsres-mc" *ngIf="assignedTo.length>2">+{{assignedTo.length-2}}</ion-chip> -->
          </ion-label>
        </div>

        <div class="tsres-controls-box" (click)="openAssignedTo()">

          <ion-button class="tsres-cb-edit-btn"><i class="las la-edit"></i></ion-button>
          <ion-button class="tsres-cb-remove-btn" (click)="removeUser()"><i class="las la-times"></i></ion-button>
        </div>

      </div>

    </ion-col>

  </ion-row>

</ion-content>

<ion-footer>

  <ion-item lines="none" color="none">

    <ion-button class="task-save-btn" (click)="save()">Apply</ion-button>

    <ion-button class="task-cancel-btn" (click)="dismiss()">Cancel</ion-button>

  </ion-item>

</ion-footer>