ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.task-creation-form {
    ion-col {
        border-bottom: 1px dashed #e3e3e3;
        padding-bottom: 20px !important;
    }

    .task-form-label {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #646464;
    }

    .rvf-checkbox-list {
        background: transparent !important;
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        ion-item {
            --padding-start: 0;
            --inner-padding-end: 0;
            --min-height: auto;
            margin: 0px;

            &:first-child {
                margin-left: 0;
            }

            ion-checkbox {
                margin-right: 10px;
                --border-width: 1px;
                --background-checked: #0077b5;
                --border-color-checked: #0077b5;
                --border-color: #ddd;
                --background: #efefef;
            }

            ion-label {
                color: #222;
                font-family: "Roboto", sans-serif;
                font-size: 16px;
            }
        }
    }

    .rvf-ic-radio-list {
        background: transparent !important;
        padding-top: 10px;

        ion-chip {
            --background: #f4f4f6;
            color: #5e606e;
            font-size: 16px;
            margin: 8px;
            min-height: 35px;
            border-radius: 50px;
            padding: 20px 20px;
        }

        ion-radio-group {
            display: flex;
            align-items: center;

            ion-item {
                --padding-start: 0;
                --inner-padding-end: 0;
                --min-height: auto;
                margin: 0 15px;

                &:first-child {
                    margin-left: 0;
                }

                ion-radio {
                    margin-right: 10px;
                    --border-width: 1px;
                    --color-checked: #0077b5;
                    margin-top: 0;
                    margin-bottom: 0;
                }

                ion-label {
                    color: #222;
                    font-size: 16px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    .task-dt-box {
        position: relative;
        display: inline-block;
        width: 100%;

        ion-datetime {
            --padding-start: 15px;
            --padding-end: 15px;
            color: #222;
            background: #efefef !important;
            border-radius: 10px;
            height: 50px;
            display: flex;
            align-items: center;
            margin-top: 15px;
        }

        i {
            font-size: 25px;
            color: #707070;
            position: absolute;
            right: 15px;
            // top: 52px;
            top:28px;
            z-index: 9999;
        }
    }

    ion-input {
        --padding-start: 15px;
        --padding-end: 15px;
        color: #222;
        background: #efefef !important;
        border-radius: 10px;
        height: 50px;
        margin-top: 15px;
    }

    ion-textarea {
        color: #222;
        background: #efefef !important;
        border-radius: 10px;
        min-height: 150px;
        --padding-start: 15px;
        --padding-end: 15px;
    }

    ion-select {
        color: #252525;
        background: #efefef;
        border-radius: 10px;
        min-height: 50px;
        margin-top: 15px;
        padding: 10px 20px 10px 15px;
    }

    .task-select-resident-btn {
        display: flex;
        max-width: fit-content;
        --background: transparent;
        --background-activated: transparent;
        --box-shadow: none;
        --padding-start: 0;
        color: #0077b5;
        text-transform: none;
        font-size: 16px;
        margin-top: 10px;
        height: auto;

        ion-icon {
            font-size: 22px;
            margin-right: 10px;
        }
    }

    .task-sres-block {
        display: flex;
       justify-content: space-between;
       align-items: center;
       margin-top: 10px;

       .tsres-box {
           max-width: 68%;

           ion-label {
               font-size: 16px;
               font-weight: 500;
               color: #222;
           }

           .tsres-mc {
               background: #d7e3f9;
               color: #4e70b1;
               min-width: 25px;
               min-height: 25px;
               font-size: 14px;
               border-radius: 50px;
               padding: 8px;
           }
       }

       .tsres-controls-box {
           width: 31%;
           display: flex;
           align-items: center;
           justify-content: right;

           .tsres-cb-edit-btn {
               --background: rgb(204 237 255);
               --border-radius: 50px;
               --box-shadow: none;
               --padding-start: 0;
               --padding-end: 0;
               color: #0077b5;
               min-width: 38px;
               max-width: 38px;
               height: 38px;
               font-size: 22px;
           }

           .tsres-cb-remove-btn {
               --background: rgb(255 223 221);
               --border-radius: 50px;
               --box-shadow: none;
               --padding-start: 0;
               --padding-end: 0;
               color: #f44336;
               min-width: 38px;
               max-width: 38px;
               height: 38px;
               font-size: 22px;
               margin-left: 15px;
           }
       }
   }
}

ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;

        .task-save-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #0077b5;
            color: #fff;
            text-transform: none;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }

        .task-cancel-btn {
            --border-radius: 50px;
            --box-shadow: none;
            --background: #8b8b8b;
            color: #fff;
            text-transform: none;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            min-width: 90px;
            margin: 10px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .task-creation-form {
        ion-col {
            padding: 10px;
        }

        .rvf-checkbox-list {
            justify-content: unset !important;

            ion-item {
                margin: 0 15px;
            }
        }

        ion-select {
            max-width: 320px;
        }
    }


}

.n-bp {
    border: none !important;
    padding-bottom: 0 !important;
}

.border-top {
    border-bottom: 0px !important;
    padding-bottom: 0 !important;
    border-top: 1px dashed #e3e3e3;
    padding-top: 10px;
    margin-top: 15px;
}
