<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
          <ion-label>Tagged Residents</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="data.length>0">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngFor="let item of data">

        <ion-row class="consumer-info-container">

          <ion-col class="col-fit" >

            <ion-avatar>
              <img [src]="item.profile_pic" *ngIf="item.profile_pic!=null">
              <img src="assets/user_pic.png" *ngIf="item.profile_pic==null">
            </ion-avatar>

          </ion-col>

          <ion-col>

            <ion-label>
              {{item.name}}

             
              <!-- <span *ngIf="item.user.user_type_id==6">
                {{item.relative.relation}}{{" - "}}{{item.relative.resident.name}}
              </span>

              <span *ngIf="item.user.user_type_id==5">
              Room No :{{item.user.resident.room}}
              </span> -->

            </ion-label>

          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>



  </ion-grid>
</ion-content>
