.ion-header-inner {
    background: #0077b5 !important;
}

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --background: #eee;
}

.dd-sec-label {
    font-size: 18px;
    font-weight: 500;
    margin: 5px;
    display: block;
    color: #222;
}

.dd-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    min-height: 160px;
    box-shadow: none !important;
    border: 1px solid #dfdfdf;

    .dd-menu-icon {
        width: 80px;
        height: 80px;
        margin: 0 auto 10px;
        display: block;
    }

    .dd-menu-label {
        // font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: #6c6c6c;
        text-align: center;
        display: block;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .dd-card {
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        min-height: 160px;

        .dd-menu-icon {
            width: 100px;
            height: 100px;
            margin: 0 auto 20px;
            display: block;
        }

        .dd-menu-label {
            font-size: 18px;
            color: #6c6c6c;
            text-align: center;
            display: block;
        }
    }

    .order-card {
        // margin: 50px;
        // min-height: 360px;
    }
}

.ribbon {
    width: 123px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 5px solid #2980b9;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 205px;
    padding: 2px 0;
    background-color: #e91e63;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    color: #fff;
    font-size: 12px;
    text-align: center;
}

/* top left*/
.ribbon-top-left {
    top: -10px;
    left: -10px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}

.ribbon-top-left span {
    right: -18px;
    top: 28px;
    transform: rotate(315deg);
}
