<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Dining dashboard</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" *ngIf="order">

        <ion-label class="dd-sec-label">Ordering</ion-label>

      </ion-col>

      <ion-col size-sm="6" size-md="4" size-lg="3" size="6" *ngIf="order">

        <ion-card class="dd-card order-card" [routerLink]="['/dining-take-order']">

          <img class="dd-menu-icon" src="assets/dining/take-order-icon.svg">

          <ion-label class="dd-menu-label">
            Take Order
          </ion-label>

        </ion-card>

      </ion-col>

      <ion-col size-sm="6" size-md="4" size-lg="3" size="6" *ngIf="view">

        <ion-card class="dd-card order-card" [routerLink]="['/dining-view-menu']">

          <img class="dd-menu-icon" src="assets/dining/view-menu.svg">

          <ion-label class="dd-menu-label">
            View Menu
          </ion-label>

        </ion-card>

      </ion-col>

      <ng-container *ngIf="serving">
      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-label class="dd-sec-label">Serving</ion-label>

      </ion-col>

      <ion-col size-sm="6" size-md="4" size-lg="3" size="6">

        <!-- <ion-card class="dd-card" [routerLink]=""> -->
          <ion-card class="dd-card" [routerLink]="['/din-choose-dt-mealtime']">
          <!-- <div class="ribbon ribbon-top-left"><span>Upcoming</span></div> -->
          <img class="dd-menu-icon" src="assets/dining/inroom-icon.svg">

          <ion-label class="dd-menu-label">
            In Room
          </ion-label>

        </ion-card>

      </ion-col>

      <ion-col size-sm="6" size-md="4" size-lg="3" size="6">

        <!-- <ion-card class="dd-card" [routerLink]=""> -->
          <ion-card class="dd-card" [routerLink]="['/din-choose-dt-mlt-da']">
          <!-- <div class="ribbon ribbon-top-left"><span>Upcoming</span></div> -->
          <img class="dd-menu-icon" src="assets/dining/dining-area-icon.svg">

          <ion-label class="dd-menu-label">
            Dining Area
          </ion-label>

        </ion-card>

      </ion-col>
    </ng-container>


    <ng-container *ngIf="meals">
      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-label class="dd-sec-label">Meal status</ion-label>

      </ion-col>

      <ion-col size-sm="6" size-md="4" size-lg="3" size="6">
        <!-- <ion-card class="dd-card" [routerLink]=""> -->
        <ion-card class="dd-card" [routerLink]="['/din-choose-dt-mlt-consumed']">
          <!-- <div class="ribbon ribbon-top-left"><span>Upcoming</span></div> -->
          <img class="dd-menu-icon" src="assets/dining/consumed-icon.svg">

          <ion-label class="dd-menu-label">
            Consumed
          </ion-label>

        </ion-card>

      </ion-col>
    </ng-container>

      <ng-container *ngIf="profile">
      <ion-col size-sm="12" size-md="12" size-lg="12" size="12">

        <ion-label class="dd-sec-label">Other</ion-label>

      </ion-col>

      <ion-col size-sm="6" size-md="4" size-lg="3" size="6">

        <ion-card class="dd-card" [routerLink]="['/din-choose-consumer']">

          <img class="dd-menu-icon" src="/assets/dining/diet-profile.svg">

          <ion-label class="dd-menu-label">
            Diet profile
          </ion-label>

        </ion-card>

      </ion-col>

    </ng-container>
    </ion-row>

  </ion-grid>

</ion-content>