<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Gallery</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="media.length>0">

    <ion-row>

      <ion-col size="6" size-sm="6" size-md="4" size-lg="3" *ngFor="let item of media" (click)="open(item)" class="cg-item">

        <img src="{{item.img}}">
        <div class="video-overlay" *ngIf="item.vid==1"></div>
        <div class="num_badge" *ngIf="item.vid==1">
          <ion-icon name="play" style="font-size: 50px;" ></ion-icon>
        </div>
      </ion-col>

      <!-- <ion-col size="12" size-sm="12" size-md="4" size-lg="3">

        <img src="assets/oldage.jpg">

      </ion-col>

      <ion-col size="12" size-sm="12" size-md="4" size-lg="3">

        <img src="assets/oldage.jpg">

      </ion-col>

      <ion-col size="12" size-sm="12" size-md="4" size-lg="3">

        <img src="assets/oldage.jpg">

      </ion-col>

      <ion-col size="12" size-sm="12" size-md="4" size-lg="3">

        <img src="assets/oldage.jpg">

      </ion-col>

      <ion-col size="12" size-sm="12" size-md="4" size-lg="3">

        <img src="assets/oldage.jpg">

      </ion-col>

      <ion-col size="12" size-sm="12" size-md="4" size-lg="3">

        <img src="assets/oldage.jpg">

      </ion-col> -->

    </ion-row>

  </ion-grid>
  <!-- <ion-item lines="none" color="none" *ngIf="media.length>20 && end<media.length">
    <ion-label style="width: 100%;text-align: center;" (click)="viewMore()" >View more</ion-label>
</ion-item> -->

<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="items.length>20 && end<items.length">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

  <div *ngIf="media.length==0">
    <ion-thumbnail 
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no_posts_found_img.svg">
    </ion-thumbnail>

    <ion-item lines="none" style="margin-top: 25px;" >
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No images/videos found</ion-label>
    </ion-item>
  </div>

</ion-content>

<!-- <ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="publish-btn" expand="block" (click)="finish()">
      <ion-icon name="checkmark-outline"></ion-icon> Finish
    </ion-button>
  </ion-toolbar>
</ion-footer> -->