ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;

  img {
    border-radius: 6px;
    width: 100%;
  }
}


.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.6);

  // color: #fff;

}

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.8;
  background: none !important;
}

.num_badge {
  // position: absolute;
  // top: 28%;
  // font-size: 25px;
  // width: 100%;
  // margin-left: 40%;
  // margin-right: 40%;
  // color: #fff;

  position: absolute;
  font-size: 25px;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-self: center;
  z-index: 9999;
  bottom: 0;
  top: 0;
  align-items: center;
  left: 0;
  right: 0;
}

.cg-item {
  height: 180px;
  object-fit: cover;
  margin-bottom: 10px;

  img {
    height: 180px;
    object-fit: cover;
  }
}