<!-- <ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="10">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>
            Choice for {{date}}
          
          </ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-start page-name" size="10">
          <ion-button class="hdr-btn">
            <ion-icon name="search-sharp"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <ion-segment [(ngModel)]="selectedList" class="fts-segment">

      <ion-segment-button class="seg-pending" value="1" (click)="changeView(1)">

        <ion-label>Pending
          <span class="pending-count">{{pending_count}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-completed" value="2" (click)="changeView(2)">

        <ion-label>Completed
          <span class="completed-count">{{completed_order}}</span>
        </ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-fab>

  <div *ngIf="selectedList==1">
  <div (click)="expand(item)" *ngFor="let item of wingArray">
  <div class="wing-sec">
    <ion-label>{{item.wing}}
      <span class="wing-member-count" *ngIf="item.expanded">{{pending.length}}</span>
    </ion-label>
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div>

 

  <ion-grid *ngIf="item.expanded">

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of pending">

        <ion-card class="dc-info-card" (click)="gotoOrder(item)">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img [src]="item.user.profile_pic">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                {{item.user.name}}
                <span>{{item.room}}</span>
              </ion-label>

              <div class="dm-user-status" >

                <div class="dm-us" *ngFor="let ml of servingTime">
                  <span class="dm-us-ind" [class.s-completed]="setServingTimeCompleted(item,ml.id)"
                  [class.s-skipped]="setServingTimeSkipped(item,ml.id)"
                  [class.s-pending]="setServingTimePending(item,ml.id)"></span>
                  <ion-label>
                    {{ml.abbr}}
                  </ion-label>
                </div>

               
              </div>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

    

    </ion-row>

  </ion-grid>

 

</div>
</div>
  



  <div *ngIf="selectedList==2">
    <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of completed">

        <ion-card class="dc-info-card" (click)="gotoOrder(item)">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img [src]="item.user.profile_pic">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                {{item.user.name}}
                <span>{{item.room}}</span>
              </ion-label>

              <div class="dm-user-status">

                <div class="dm-us" *ngFor="let ml of servingTime">
                  <span class="dm-us-ind" [class.s-completed]="setServingTimeCompleted(item,ml.id)"
                  [class.s-skipped]="setServingTimeSkipped(item,ml.id)"></span>
                  <ion-label>
                    {{ml.abbr}}
                  </ion-label>
                </div>

              </div>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>
    </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content> -->


<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="10">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>
            Menu for {{date}}
            <span> Place your order before - {{date}}, {{cutOff}}</span>
          </ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-start page-name" size="10" *ngIf="hide" (click)="search()">
          <ion-button class="hdr-btn">
            <ion-icon name="search-sharp"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

      <ion-row *ngIf="!hide">

        <ion-col>

          <ion-searchbar  class="clife-search-bar"  placeholder="Search residents" (ionChange)="searchResidents()"  (ionClear)="cancel()"  [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!terms">

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <ion-segment [(ngModel)]="selectedList" class="fts-segment" mode="md">

      <ion-segment-button class="seg-pending" value="1" (click)="changeView(1)">

        <ion-label>Pending
          <span class="pending-count">{{pending_count}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-completed" value="2" (click)="changeView(2)">

        <ion-label>Completed
          <span class="completed-count">{{completed_order}}</span>
        </ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-fab>

  <div *ngIf="selectedList==1">
  <div (click)="expand(item)" *ngFor="let item of wingArray">
  <div class="wing-sec">
    <ion-label>{{item.wing}}
      <span class="wing-member-count" *ngIf="item.expanded&&!terms">{{pending.length}}</span>
    </ion-label>
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div>

  <!-- <ion-card-content *ngIf="item.expanded"> -->

  <!-- <app-about-info [expanded1]="item.expanded"> -->

  <ion-grid *ngIf="item.expanded">

    <ion-row>
      <!-- <ng-container *ngIf="( pending |  consumersearch : terms) as result"> -->
      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" *ngFor="let item of pending">

        <ion-card class="dc-info-card" (click)="gotoOrder(item)">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img [src]="item.user.profile_pic">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">{{item.user.name}}
                <span>{{item.room}}</span>
              </ion-label>

              <div class="dm-user-status" >

                <div class="dm-us" *ngFor="let ml of servingTime">
                  <span class="dm-us-ind" [class.s-completed]="setServingTimeCompleted(item,ml.id)"
                  [class.s-skipped]="setServingTimeSkipped(item,ml.id)"
                  [class.s-pending]="setServingTimePending(item,ml.id)"></span>
                  <ion-label>
                    {{ml.abbr}}
                  </ion-label>
                </div>

                <!-- <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Mt
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Lu
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-pending"></span>
                  <ion-label>
                    At
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Dn
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-completed"></span>
                  <ion-label>
                    Su
                  </ion-label>
                </div> -->

              </div>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="6" size-lg="4" size="12" (click)="dietaryProfile()">

        <ion-card class="dc-info-card">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img src="/assets/dining/consumers/2.png">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                Jennifer 
                <span>113 B</span>
              </ion-label>

              <div class="dm-user-status">

                <div class="dm-us">
                  <span class="dm-us-ind s-completed"></span>
                  <ion-label>
                    Br
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Mt
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Lu
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-pending"></span>
                  <ion-label>
                    At
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Dn
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-completed"></span>
                  <ion-label>
                    Su
                  </ion-label>
                </div>

              </div>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="dc-info-card">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img src="/assets/dining/consumers/3.png">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                Mary John 
                <span>114 B</span>
              </ion-label>

              <div class="dm-user-status">

                <div class="dm-us">
                  <span class="dm-us-ind s-completed"></span>
                  <ion-label>
                    Br
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Mt
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Lu
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-pending"></span>
                  <ion-label>
                    At
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Dn
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-completed"></span>
                  <ion-label>
                    Su
                  </ion-label>
                </div>

              </div>

            </div>

          </ion-item>

        </ion-card>

      </ion-col> -->
      <ion-label class="no-result" *ngIf="pending.length==0&&!loading">No residents found</ion-label>
      <!-- <ion-spinner  class="no-result" color="primary" *ngIf="pending.length==0&&loading"></ion-spinner> -->
<!-- </ng-container> -->
    </ion-row>

  </ion-grid>

  <!-- </app-about-info> -->

<!-- </ion-card-content> -->

</div>
</div>
  <!-- <div class="wing-sec">
    <ion-label>Wing B
      <span class="wing-member-count">15</span>
    </ion-label>
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div>

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="dc-info-card">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img src="/assets/dining/consumers/1.png">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                Amelia Johnson
                <span>112 B</span>
              </ion-label>

              <div class="dm-user-status">

                <div class="dm-us">
                  <span class="dm-us-ind s-completed"></span>
                  <ion-label>
                    Br
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Mt
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Lu
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-pending"></span>
                  <ion-label>
                    At
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Dn
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-completed"></span>
                  <ion-label>
                    Su
                  </ion-label>
                </div>

              </div>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="dc-info-card">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img src="/assets/dining/consumers/2.png">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                Jennifer 
                <span>113 B</span>
              </ion-label>

              <div class="dm-user-status">

                <div class="dm-us">
                  <span class="dm-us-ind s-completed"></span>
                  <ion-label>
                    Br
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Mt
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Lu
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-pending"></span>
                  <ion-label>
                    At
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Dn
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-completed"></span>
                  <ion-label>
                    Su
                  </ion-label>
                </div>

              </div>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12">

        <ion-card class="dc-info-card">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img src="/assets/dining/consumers/3.png">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                Mary John 
                <span>114 B</span>
              </ion-label>

              <div class="dm-user-status">

                <div class="dm-us">
                  <span class="dm-us-ind s-completed"></span>
                  <ion-label>
                    Br
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Mt
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Lu
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-pending"></span>
                  <ion-label>
                    At
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-skipped"></span>
                  <ion-label>
                    Dn
                  </ion-label>
                </div>

                <div class="dm-us">
                  <span class="dm-us-ind s-completed"></span>
                  <ion-label>
                    Su
                  </ion-label>
                </div>

              </div>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid> -->



  <div *ngIf="selectedList==2">
    <ion-grid>

    <ion-row>
      <!-- <ng-container *ngIf="( completed |  consumersearch : terms) as result"> -->
      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of completed">

        <ion-card class="dc-info-card" (click)="gotoOrder(item)">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img [src]="item.user.profile_pic">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                {{item.user.name}}
                <span>{{item.room}}</span>
              </ion-label>

              <div class="dm-user-status">

                <div class="dm-us" *ngFor="let ml of servingTime">
                  <span class="dm-us-ind" [class.s-completed]="setServingTimeCompleted(item,ml.id)"
                  [class.s-skipped]="setServingTimeSkipped(item,ml.id)"></span>
                  <ion-label>
                    {{ml.abbr}}
                  </ion-label>
                </div>

              </div>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>
      <ion-label class="no-result" *ngIf="completed.length==0">No residents found</ion-label>
      
<!-- </ng-container> -->
    </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>

<ion-content *ngIf="terms">
  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec">

    <ion-segment [(ngModel)]="selectedList" class="fts-segment" mode="md">

      <ion-segment-button class="seg-pending" value="1" (click)="changeView(1)">

        <ion-label>Pending
          <span class="pending-count">{{pendingRes.length}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-completed" value="2" (click)="changeView(2)">

        <ion-label>Completed
          <span class="completed-count">{{completedRes.length}}</span>
        </ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-fab>

  <ion-grid >

    <ion-row *ngIf="selectedList==2">
     
      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of completedRes">

        <ion-card class="dc-info-card" (click)="gotoOrder(item)">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img [src]="item.user.profile_pic">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                {{item.user.name}}
                <span>{{item.room}}</span>
              </ion-label>

              <div class="dm-user-status">

                <div class="dm-us" *ngFor="let ml of servingTime">
                  <span class="dm-us-ind" [class.s-completed]="setServingTimeCompleted(item,ml.id)"
                  [class.s-skipped]="setServingTimeSkipped(item,ml.id)"></span>
                  <ion-label>
                    {{ml.abbr}}
                  </ion-label>
                </div>

              </div>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col size="12">
      <div *ngIf="completedRes.length==0">
        <ion-thumbnail 
          style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
          <img src="assets/no-consumers-found.svg">
        </ion-thumbnail>
    
        <ion-item lines="none" style="margin-top: 25px;" >
          <ion-label
            style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
            No Resident Found</ion-label>
        </ion-item>
      </div>
    </ion-col>
    </ion-row>


    <ion-row *ngIf="selectedList==1">
     
      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of pendingRes">

        <ion-card class="dc-info-card" (click)="gotoOrder(item)">

          <ion-item lines="none" color="none" class="dc-info-box">

            <ion-avatar class="dc-pic">
              <img [src]="item.user.profile_pic">
            </ion-avatar>

            <div class="dc-info">

              <ion-label class="dc-name">
                {{item.user.name}}
                <span>{{item.room}}</span>
              </ion-label>

              <div class="dm-user-status">

                <div class="dm-us" *ngFor="let ml of servingTime">
                  <span class="dm-us-ind" [class.s-completed]="setServingTimeCompleted(item,ml.id)"
                  [class.s-skipped]="setServingTimeSkipped(item,ml.id)"></span>
                  <ion-label>
                    {{ml.abbr}}
                  </ion-label>
                </div>

              </div>

            </div>

          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col size-sm="12">
      <div *ngIf="pendingRes.length==0">
        <ion-thumbnail 
          style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
          <img src="assets/no-consumers-found.svg">
        </ion-thumbnail>
    
        <ion-item lines="none" style="margin-top: 25px;" >
          <ion-label
            style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
            No Resident Found</ion-label>
        </ion-item>
      </div>
    </ion-col>
    </ion-row>


    </ion-grid>
</ion-content>