.ion-header-inner {
    background: #0077b5 !important;

    .hdr-btn {
        --background: #c7eafb;
        --border-radius: 50px;
        --padding-start: 8px;
        --padding-end: 8px;
        --box-shadow: none;
        color: #0077b5;
        width: 40px;
        height: 40px;
    }

    .page-name {
        ion-label {
            span {
                display: block;
                color: #c7eafb;
                // font-family: "Open Sans", sans-serif;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                line-height: 17px;
                margin-top: 4px;
            }
        }
    }
}

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 65px;
    --padding-bottom: 20px;
    --background: #eee;
}

.fixed-top-sec {
    padding: 10px 10px 0;

    .fts-segment {
        .seg-pending {
            min-width: 125px;
            max-width: fit-content;
            --color-checked: #ff7216;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                color: #ff7216;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .pending-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #ffe9db;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }

        .seg-completed {
            min-width: 150px;
            max-width: fit-content;
            --color-checked: #1aab4a;
            --indicator-height: 3px;
            --padding-start: 0;
            --padding-end: 0;
            padding-bottom: 5px;
            margin-left: 20px;

            ion-label {
                font-size: 18px;
                font-weight: 500;
                color: #1aab4a;
                letter-spacing: normal;
                margin-top: 0;
                margin-bottom: 0;

                .completed-count {
                    min-width: 35px;
                    min-height: 35px;
                    font-size: 16px;
                    padding: 5px;
                    background-color: #d2ffd9;
                    border-radius: 50px;
                    margin-left: 5px;
                    /* position: absolute; */
                    /* top: 0; */
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                }
            }
        }
    }
}

.wing-sec {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #d9d9d9;
    border: 1px solid #cfcfcf;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    // &:first-child {
    //     margin-top: 65px;
    // }

    ion-label {
        color: #656565;
        font-size: 18px;
        font-weight: 500;

        .wing-member-count {
            min-width: 35px;
            min-height: 35px;
            padding: 5px;
            color: #ffffff;
            background-color: #959595;
            border-radius: 50px;
            margin-left: 10px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            font-size: 16px;
        }
    }

    ion-icon {
        font-size: 25px;
        color: #656565;
        vertical-align: middle;
        align-self: center;
    }
}

ion-grid {
    padding: 0;
}

.dc-info-card {
    display: flex;
    padding: 15px;
    margin: 0;
    height: 100%;
    align-items: center;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;

    .dc-info-box {
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;

        .dc-pic {
            min-width: 87px;
            height: 87px;
            --border-radius: 10px;
            margin-top: 0;
            margin-bottom: 0;
        }

        .dc-info {
            margin-left: 20px;
            display: flex;
            flex-direction: column;

            .dc-name {
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 600;
                color: #252525;
                line-height: 22px;

                span {
                    font-family: "Roboto", sans-serif;
                    font-weight: normal;
                    display: block;
                    color: #808080;
                }
            }

            .dm-user-status {
                display: flex;
                // flex-wrap: wrap;
                margin-top: 5px;

                .dm-us {
                    padding: 0 7px;
                    position: relative;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 7px 0 0;
                    color: #1c1c20;

                    &:first-child {
                        padding-left: 0px;
                    }

                    &:last-child {
                        padding-right: 0px;
                    }

                    .s-completed {
                        background: #15b100 !important;
                    }

                    .s-skipped {
                        background: #fd8000 !important;
                    }

                    .s-pending {
                        background: #d1d1d1 !important;
                    }

                    .dm-us-ind {
                        width: 20px !important;
                        height: 5px;
                        background: #ccc;
                        display: inline-block;
                        border-radius: 4px;
                        margin: 0 0 5px;
                    }

                    ion-label {
                        line-height: 16px;
                        display: block;
                        // font-family: "Open Sans", sans-serif;
                        font-family: "Roboto", sans-serif;
                        font-size: 14px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
    .dc-info-card {
        .dc-info-box {
            .dc-info {
                .dm-user-status {
                    .dm-us {
                        .dm-us-ind {
                            width: 15px !important;
                            margin-bottom: 0 !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 375px) {
    .dc-info-card {
        .dc-info-box {
            .dc-info {
                .dm-user-status {
                    .dm-us {
                        padding: 0 5px !important;

                        &:first-child {
                            padding-left: 0px !important;
                        }

                        .dm-us-ind {
                            width: 18px !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .dc-info-card {
        .dc-info-box {
            .dc-info {
                .dm-user-status {
                    .dm-us {
                        .dm-us-ind {
                            width: 15px !important;
                            margin-bottom: 0 !important;
                        }
                    }
                }
            }
        }
    }
}

.no-result {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #000;
}
