<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="dismiss()">
          </ion-icon>
          <ion-label>Filter</ion-label>
        </ion-col>

        <!-- <ion-col class="col-fit ion-align-self-end">
          <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button>
          <ion-button class="filter-task-btn">
            <ion-icon name="funnel-outline"></ion-icon>
          </ion-button>
        </ion-col> -->

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="task-creation-form">

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15">

      <ion-label class="task-form-label">Type</ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" multiple="true" [(ngModel)]="type">
        
        <ion-select-option value="1">Notes</ion-select-option>
        <ion-select-option value="2">Email</ion-select-option>
        <ion-select-option value="3">Call</ion-select-option>
        <ion-select-option value="4">Health note</ion-select-option>
        <ion-select-option value="5">Observation note</ion-select-option>
        <ion-select-option value="8">Task note</ion-select-option>
      </ion-select>

      <!-- <ion-list color="none" class="rvf-checkbox-list">

       

        <ion-item lines="none" color="none">
          <ion-checkbox slot="start" value="1" (ionChange)="selectType($event)" [checked]="type.includes('1')"></ion-checkbox>
          <ion-label>Notes</ion-label>
        </ion-item>

        <ion-item lines="none" color="none" >
          <ion-checkbox slot="start" value="2" (ionChange)="selectType($event)" [checked]="type.includes('2')"></ion-checkbox>
          <ion-label>Email</ion-label>
        </ion-item>

        <ion-item lines="none" color="none" >
          <ion-checkbox slot="start" value="3" (ionChange)="selectType($event)" [checked]="type.includes('3')"></ion-checkbox>
          <ion-label>Call</ion-label>
        </ion-item>

        <ion-item lines="none" color="none" >
          <ion-checkbox slot="start" value="4" (ionChange)="selectType($event)" [checked]="type.includes('4')"></ion-checkbox>
          <ion-label>Health note</ion-label>
        </ion-item>

        <ion-item lines="none" color="none" >
          <ion-checkbox slot="start" value="5" (ionChange)="selectType($event)" [checked]="type.includes('5')"></ion-checkbox>
          <ion-label>Observation note</ion-label>
        </ion-item>

        <ion-item lines="none" color="none" >
          <ion-checkbox slot="start" value="8" (ionChange)="selectType($event)" [checked]="type.includes('8')"></ion-checkbox>
          <ion-label>Task note</ion-label>
        </ion-item>

      </ion-list> -->

    </ion-col>


    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15 n-bp">

      <ion-label class="task-form-label">Entered by</ion-label>

      <ion-list color="none" class="rvf-ic-radio-list">

        <ion-radio-group [(ngModel)]="user">

          <ion-item lines="none" color="none">
            <ion-radio value="0" mode="md"></ion-radio>
            <ion-label>All</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-radio value="1" mode="md"></ion-radio>
            <ion-label>A specific user</ion-label>
          </ion-item>

        </ion-radio-group>

      </ion-list>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15" *ngIf="user==1">

      <ion-label class="task-form-label">Select a user</ion-label>

      <ion-button class="task-select-resident-btn" (click)="openAssignedTo()">
        <ion-icon name="add-outline"></ion-icon> Select a user
      </ion-button>

      <div class="task-sres-block" *ngIf="assignedTo.length">

        <div class="tsres-box">
          <ion-label> {{staff}}
            <ion-chip class="tsres-mc" *ngIf="assignedTo.length>2">+{{assignedTo.length-2}}</ion-chip>
          </ion-label>
        </div>

        <div class="tsres-controls-box" >

          <ion-button class="tsres-cb-edit-btn" (click)="openAssignedTo()"><i class="las la-edit"></i></ion-button>
          <ion-button class="tsres-cb-remove-btn" (click)="removeUser()"><i class="las la-times"></i></ion-button>
        </div>

      </div>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="n-bp">

      <ion-label class="task-form-label">Time frame</ion-label>

      <ion-list color="none" class="rvf-ic-radio-list">

        <ion-radio-group [(ngModel)]="time_frame">

          <ion-item lines="none" color="none">
            <ion-radio value="0" mode="md"></ion-radio>
            <ion-label>All</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-radio value="1" mode="md"></ion-radio>
            <ion-label>Specific a time frame</ion-label>
          </ion-item>

        </ion-radio-group>

      </ion-list>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15" *ngIf="time_frame==1">

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="date_filter" placeholder="Please select a time frame">
        <ion-select-option value="0">Today</ion-select-option>
        <ion-select-option value="1">Yesterday</ion-select-option>
        <ion-select-option value="2">Last 7 days</ion-select-option>
        <ion-select-option value="3">Last 30 days</ion-select-option>
        <ion-select-option value="4">This Month</ion-select-option>
        <ion-select-option value="5">Last Month</ion-select-option>
        <ion-select-option value="6">Custom Range</ion-select-option>
      </ion-select>

    </ion-col>

    <ng-container *ngIf="date_filter==6&&time_frame==1">
    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15 n-bp">

      <ion-label class="task-form-label">Select custom date range </ion-label>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15 n-bp">

      <ion-label class="task-form-label">Start date </ion-label>

      <span class="task-dt-box">

        <ion-datetime mode="md" displayFormat=" DD MMM YYYY, hh: mm A" [min]="2021" [max]="2040" [(ngModel)]="sdate">
        </ion-datetime>

        <i class="las la-calendar"></i>

      </span>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" class="mb-15 n-bp">

      <ion-label class="task-form-label">End date </ion-label>

      <span class="task-dt-box">

        <ion-datetime mode="md" displayFormat=" DD MMM YYYY, hh: mm A" [min]="2021" [max]="2040" [(ngModel)]="edate">
        </ion-datetime>

        <i class="las la-calendar"></i>

      </span>

    </ion-col>
  </ng-container>

    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" class="mb-15 border-top">

      <ion-label class="task-form-label">Sort order</ion-label>

      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="order">
        <ion-select-option value="1">Newest to oldest</ion-select-option>
        <ion-select-option value="2">oldest to newest</ion-select-option>
        <!-- <ion-select-option value="2">Urgent</ion-select-option> -->
      </ion-select>

    </ion-col>


  </ion-row>

</ion-content>

<ion-footer>

  <ion-item lines="none" color="none">

    <ion-button class="task-save-btn" (click)="save()">Apply</ion-button>

    <ion-button class="task-cancel-btn" (click)="dismiss()">Cancel</ion-button>

  </ion-item>

</ion-footer>