.ion-header-inner-2 {
    ion-label {
        font-size: 20px;
        line-height: 22px;
    }
    .save-btn {
        --background: rgba(135, 181, 255, 0.3) !important;
        --border-radius: 50px !important;
        --padding-start: 10px;
        --padding-end: 10px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --box-shadow: none !important;
        color: #fff !important;
        font-size: 25px;
        width: 45px;
        height: 45px;
        margin-left: 10px;
        margin-right: 0;
        margin-bottom: 0;
    }
}

.header-buttons {
    ion-icon {
        background-color: #2d95cb;
        border-radius: 50px;
        max-width: 20px;
        max-height: 20px;
        padding: 9px;
        font-size: 18px;
        margin-left: 10px;

        &:first-child {
            margin-left: 0px;
        }
    }
}

ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --background: #f1f1f1;
}

@media only screen and (min-width: 768px) {
    .consumer-info-container {
        ion-avatar {
            width: 60px;
            height: 60px;
        }

        ion-col {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            justify-content: center;

            &:nth-child(2) {
                margin-left: 0px !important;
                margin-top: 15px;
                padding-left: 0px !important;
            }
        }
    }
}

.room-no {
    color: #545556;
    font-size: 15px;
}

.wing-name {
    color: #989898;
    font-size: 13px;
}

.consumer-info-container {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #fff;
    border: 1px solid #dfdfdf;
}

.cb-sel-contact {
    margin-bottom: 5px;
}

.p-zero {
    padding: 0;
}

.selected {
    border: 2px solid #0077b5;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-ios {
        padding-top: 15px;
    }
}
