<ion-header class="ion-header-inner-2">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
          <ion-label>Select Residents</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end" *ngIf="flag==2">
          <ion-button class="save-btn" (click)="submit()">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>

          <ion-searchbar class="clife-search-bar" placeholder="Search residents" (ionChange)="search()"  (ionCancel)="cancel()"
            [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="p-zero" *ngIf="consumers&&consumers.length">

    <ion-row>
      <ng-container >
        <ion-col size-sm="12" size-md="4" size-lg="4" size="12" *ngFor="let item of consumers">

          <ion-row class="consumer-info-container" (click)="select(item.user_id,item.name)"
            [class.selected]="selectedResidents(item.user_id)">

            <ion-col size-sm="4" size-md="12" size-lg="12" size="4" class="col-fit">

              <ion-avatar>
                <img [src]="item.photo" *ngIf="item.photo!=null">
                <img src="assets/user_pic.png" *ngIf="item.photo==null">
              </ion-avatar>

            </ion-col>

            <ion-col size-sm="8" size-md="12" size-lg="12" size="8">

              <ion-label>
                {{item.name}}

                <!-- <span class="room-no" >
                {{item.room}}
              </span> -->
                <!-- <span class="wing-name" *ngIf="item.wing">
                {{item.wing.name}}
              </span> -->

                <span class="room-no"
                  *ngIf="item.property_name">
                  {{item.property_name}}
                </span>
              </ion-label>

            </ion-col>

          </ion-row>

        </ion-col>

        <!-- <ion-col size="12" *ngIf="result.length==0">

          <div>
            <ion-thumbnail
              style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
              <img src="assets/no-consumers-found.svg">
            </ion-thumbnail>

            <ion-item lines="none" style="margin-top: 25px;">
              <ion-label
                style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
                No Resident Found</ion-label>
            </ion-item>
          </div>

        </ion-col> -->

      </ng-container>
    </ion-row>



  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <div *ngIf="consumers&&consumers.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-consumers-found.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Resident Found</ion-label>
    </ion-item>
  </div>


</ion-content>