ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

.selected {
  border-color: #0044ff !important;
}

@media only screen and (min-width: 768px) {
  .consumer-info-container {
    min-height: 185px;
    display: flex;
    height: 100%;
    align-content: center;
    flex-wrap: wrap;
  }
  .consumer-info-container .declined {
    border: 2px solid #EE0000;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    color: #EE0000;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .consumer-info-container ion-col:first-of-type {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .consumer-info-container ion-col:nth-of-type(2) {
    margin-bottom: 20px;
    align-self: center;
    padding-left: 0px !important;
    text-align: center;
  }
  .consumer-info-container .col3 {
    display: flex;
    margin-bottom: 0px !important;
  }
}

@media only screen and (min-width: 768px) {
  .consumer-info-container1 {
    display: block;
    height: 100%;
  }
  .consumer-info-container1 ion-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .consumer-info-container1 ion-col:last-of-type {
    margin-bottom: 0px;
  }
  .consumer-info-container1 ion-col ion-avatar {
    width: 80px;
    height: 80px;
  }
  .consumer-info-container1 ion-col:nth-child(2) {
    padding-left: 0px !important;
  }
  .consumer-info-container1 ion-col:nth-child(2) .mark-attendance-consumer-info {
    text-align: center;
    display: block;
  }
  .consumer-info-container1 .mark-attendance-options {
    display: flex;
    float: none;
    justify-content: center;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .consumer-info-container1 ion-col:nth-child(2) {
    padding-left: 10px !important;
    display: grid;
  }
  .consumer-relatives .consumer-rel ion-checkbox {
    width: 25px;
    height: 25px;
  }
  .consumer-info-container1 ion-col {
    padding: 0px !important;
    align-self: flex-start;
  }
  .consumer-info-container1 .mark-attendance-options {
    margin-top: 15px;
  }
  .consumer-info-container1 .d-block {
    padding-left: 10px;
  }
  .pleft15 {
    padding-left: 15px !important;
  }
  .consumer-info-container1 .consumer-rel {
    display: inline-flex !important;
    padding-left: 0px !important;
  }
  .consumer-info-container1 .consumer-rel:nth-child(2) {
    padding-left: 0px !important;
  }
  .consumer-info-container ion-col:nth-child(2) {
    padding-left: 10px !important;
    max-width: 120px;
    padding-right: 10px !important;
  }
  .consumer-info-container {
    border: 1px solid #C8C8C8;
    padding: 20px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.primary-rep {
  background-color: #E91E63;
  color: #fff !important;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 50px;
  padding: 3px 10px !important;
  margin-top: 10px;
  margin-bottom: 0px;
  display: block;
  font-size: 15px;
}

.reason {
  width: 100%;
  text-align: center;
  color: #2AC940;
}

.declined {
  color: #EE0000 !important;
}

.reason-attended {
  width: 100%;
  text-align: center;
  color: #2AC940;
  font-weight: normal !important;
  margin-top: 20px;
  display: block;
  border-top: 1px dashed #cacaca;
  padding-top: 10px;
}

.fixed-top {
  background-color: #fff;
  right: 0;
  left: 0;
  top: 0;
}

.category-selector {
  margin-bottom: 15px !important;
}

.category-selector ion-segment-button.segment-button-checked {
  padding-bottom: 0px !important;
}

.category-selector ion-segment-button {
  padding-bottom: 0px !important;
}
