<ion-header class="ion-header-inner-2">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" [routerLink]="['/activity-details',{act_id:act_id}]"></ion-icon>
          <ion-label>Mark Attendance</ion-label>
        </ion-col>

        <!-- <ion-col size="6">
          
        </ion-col> -->

        <ion-col class="col-fit header-buttons ion-align-self-end" size="4">

          <ion-icon src="assets/consumers-icon.svg" (click)="byGroup($event)"></ion-icon>

          <!-- <ion-icon name="funnel-outline" ></ion-icon> -->

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>

          <ion-searchbar class="clife-search-bar" placeholder="Search residents" (ionCancel)="cancel()"
            [(ngModel)]="terms"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top">

    <ion-segment mode="md" class="category-selector" [(ngModel)]="selected">
      <ion-segment-button value="1" (click)="segmentChange(1)">
        <ion-label>Residents</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" (click)="segmentChange(2)">
        <ion-label>Other Attendees</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="more-filters">

      <ion-item color="none" lines="none" class="clife-select" *ngIf="rv==0||rv==1&&limit_required==0">
        <ion-select placeholder="select" okText="Okay" cancelText="Dismiss" [(ngModel)]="selection"
          (ionChange)="select(selection)" interface="action-sheet">
          <ion-select-option value="1">All</ion-select-option>
          <ion-select-option value="2">Assigned</ion-select-option>
          <ion-select-option value="3">Unassigned</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" color="none" class="asac-item" *ngIf="rv==1&&limit_required==1">
  
        <ion-toggle class="asac-sa-toggle" mode="md" (ionChange)="selectToggle($event)" [checked]="selectAllStatus"></ion-toggle>
        <ion-label class="asac-sa-label">Select all</ion-label>

     </ion-item>

      <ion-item color="none" lines="none" class="clife-select mark-selected" *ngIf="sel_id.length>0||sel_fam.length>0">
        <ion-select placeholder="Mark selected as" okText="Okay" cancelText="Dismiss" [(ngModel)]="status"
          (ionChange)="mark(status)" interface="action-sheet">
          <!-- <ion-select-option value="mark-elected-as">Mark selected as</ion-select-option> -->
          <ion-select-option value="1">Attended</ion-select-option>
          <ion-select-option value="2">Declined</ion-select-option>
          <ion-select-option value="3">Remove attendance</ion-select-option>
        </ion-select>
      </ion-item>

    </div>

  </ion-fab>



  <ion-grid class="no-padding-inline-start-end mt-100" *ngIf="selected=='1'">

      
    <ng-container *ngIf="consumers.length&&(consumers|consumersearch2:terms) as result"> 
    <!----------------------------------------- Consumers section starts here --------------------------------------------->

    <ion-row >

      

      <ion-col size-sm="12" size-md="6" size-lg="4" size="12" *ngFor="let item of consumers | consumersearch2 : terms"
        (click)="selectConsumer(item)">

        <ion-row class="consumer-info-container" [class.selected]="sel_id.indexOf(item.con.user.user_id)>=0">

          <div class="cic-inner-box">

            <ion-col class="col-fit">

              <!-- <ion-icon class="assigned-icon-1" name="checkmark-outline" *ngIf="item.attendee"></ion-icon> -->

              <ion-avatar class="consumer-pic">
                <img [src]="item.con.user.profile_pic">
              </ion-avatar>

            </ion-col>

            <ion-col>

              <ion-label>

                {{item.con.user.name}}

                <span>
                  {{item.con.room}}
                </span>
                <span *ngIf="item.con.wing&&rv!==1">
                  {{item.con.wing.name}}
                </span>
                <span
                  *ngIf="item.con.property_details&&item.con.property_details.contract_details&&item.con.property_details.contract_details.property&&item.con.property_details.contract_details.property.location&&rv==1">
                  {{item.con.property_details.contract_details.property.location.name}}
                </span>
                <span class="assigned-icon-2" *ngIf="item.attendee==1&&!item.action">
                  <ion-icon name="checkmark-circle"></ion-icon> Assigned
                </span>

                <span class="waiting-list" *ngIf="item.attendee==2&&!item.action">
                  <ion-icon name="checkmark-circle"></ion-icon> Waiting list
                </span>
                <span class="assigned-icon-2" *ngIf="item.attendee==1&&item.action==1">
                  <ion-icon name="checkmark-circle"></ion-icon> Attended
                </span>
                <span class="assigned-icon-2 declined-reason" *ngIf="item.attendee==1&&item.action==2">
                  <ion-icon name="close-circle"></ion-icon> Declined
                </span>
              </ion-label>

            </ion-col>

          </div>

          <div class="act-ad-box" *ngIf="rv==0||rv==1&&limit_required==1&&item.attendee==1&&!item.action||rv==1&&limit_required==0">

            <ion-col size="12" class="col-fit ion-align-self-center col3" *ngIf="item.other!==1">

              <ion-icon name="checkmark-outline" class="attended" style="z-index:999" (click)="add(item)"></ion-icon>

              <ion-icon name="close-outline" class="declined" style="z-index:999" (click)="decline(item)"></ion-icon>

            </ion-col>

          </div>
          <ion-col size="12" *ngIf="item.reason!=null&&item.action!=0" class="act-attended-declined-reason-box">
            <ion-label class="reason-attended" [class.declined-reason]="item.action!=1">
              {{item.reason}}
            </ion-label>
          </ion-col>
          <ion-col size="12" *ngIf="item.other==1&&item.reason==null" class="act-attended-declined-reason-box">
            <ion-label class="reason-attended" style="color:#000">
              Attended another activity
            </ion-label>
          </ion-col>

        </ion-row>

      </ion-col>



    </ion-row>
    <div *ngIf="result.length==0">
      <ion-thumbnail 
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-consumers-found.svg">
      </ion-thumbnail>
  
      <ion-item lines="none" color="none" style="margin-top: 25px;" >
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No Resident Found</ion-label>
      </ion-item>
    </div>
  </ng-container>

    <div *ngIf="consumers.length==0">
      <ion-thumbnail 
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-consumers-found.svg">
      </ion-thumbnail>
  
      <ion-item lines="none" color="none" style="margin-top: 25px;" >
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No Resident Found</ion-label>
      </ion-item>
    </div>

  </ion-grid>
  <!----------------------------------------- Consumers section ends here --------------------------------------------->



  <!----------------------------------------- Other Attendees section starts here ------------------------------------->
  <ion-grid class="no-padding-inline-start-end mt-100" *ngIf="selected=='2'">
    <ng-container *ngIf="other.length&&(other|consumersearch:terms) as result"> 
    <ion-row>

      <ion-col *ngFor="let item of other | consumersearch : terms" size-sm="12" size-md="6" size-lg="6" size="12">

        <ion-row class="consumer-info-container1 other-attendees-sec" *ngIf="item.contacts.length>0">

          <ion-col class="col-fit">

            <ion-avatar class="consumer-pic">
              <img [src]="item.user.profile_pic">
            </ion-avatar>

          </ion-col>

          <ion-col class="d-block">

            <ion-label class="mark-attendance-consumer-info">

              {{item.user.name}}

              <span>
                {{item.room}}
              </span>

            </ion-label>

            <span class="mark-attendance-options">

              <ion-icon name="checkmark-outline" class="attended" (click)="attendedfam($event,item)"></ion-icon>

              <ion-icon name="close-outline" class="declined" (click)="declinedfam(item)"></ion-icon>

            </span>

            <ion-row class="consumer-relatives">

              <ion-col class="consumer-rel" size="12" *ngFor="let fam of item.contacts"
                [class.doNotShow]="fam.user.status==0" (click)="selectFam($event,fam)">
                <ion-icon class="assigned-icon" name="checkmark-outline"
                  *ngIf="act_atnd.includes(fam.user.user_id)"></ion-icon>
                <ion-checkbox [checked]="sel_fam.includes(fam.contact_user_id)"
                [class.doNotShow]="rv==1&&limit_required==1&&!act_atnd.includes(fam.user.user_id)"></ion-checkbox>
                <ion-label>{{fam.user.name}}

                  <span class="primary-rep" *ngIf="fam.is_primary==1">Primary</span>

                </ion-label>


              </ion-col>

            

            </ion-row>

          </ion-col>

        </ion-row>

      </ion-col>


    </ion-row>
    <div *ngIf="result.length==0">
      <ion-thumbnail 
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-consumers-found.svg">
      </ion-thumbnail>
  
      <ion-item lines="none" color="none" style="margin-top: 25px;" >
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No Data Found</ion-label>
      </ion-item>
    </div>
  </ng-container>

    <!----------------------------------------- Other Attendees section starts here ------------------------------------->
    <div *ngIf="other.length==0">
      <ion-thumbnail 
        style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
        <img src="assets/no-consumers-found.svg">
      </ion-thumbnail>
  
      <ion-item lines="none" color="none" style="margin-top: 25px;" >
        <ion-label
          style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
          No Data Found</ion-label>
      </ion-item>
    </div>

  </ion-grid>



</ion-content>