ion-content {
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 15px;
    --padding-bottom: 10px;
    --background: #f1f1f1;
}

.selected {
    border: 2px solid #0077b5 !important;
}

@media only screen and (min-width: 768px) {
    .consumer-info-container {
        // min-height: 185px;
        // display: grid;
        // height: 100%;
        // min-height: 185px;
        display: flex;
        height: 100%;
        align-content: center;
        flex-wrap: wrap;

        .declined {
            border: 2px solid #ee0000;
            border-radius: 50px;
            width: 25px;
            height: 25px;
            color: #ee0000;
            // margin-left: 30px;
            margin-left: 20px;
        }

        .act-attended-declined-reason-box {
            padding-left: 0 !important;
        }
    }

    // .primary-rep {
    //     margin-left: 10px;
    // }
}

@media only screen and (min-width: 1024px) {
    .consumer-info-container {
        ion-col:first-of-type {
            // margin-left: auto;
            // margin-right: auto;
            // margin-bottom: 20px;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
        }

        ion-col:nth-of-type(2) {
            margin-bottom: 20px;
            align-self: center;
            padding-left: 0px !important;
            // text-align: center;
            text-align: left;
            margin-left: 15px;
        }

        .col3 {
            display: flex;
            margin-bottom: 0px !important;
        }

        .cic-inner-box {
            ion-col {
                &:nth-child(2) {
                    margin-bottom: 0;
                    margin-right: auto;
                    padding-left: 15px !important;
                    max-width: 145px !important;
                    margin-left: 0;

                    ion-label {
                        white-space: pre-line;
                        word-break: break-word;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .consumer-info-container1 {
        display: block;
        height: 100%;

        ion-col {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 0px;
            }

            ion-avatar {
                width: 100px;
                height: 100px;
            }
        }

        ion-col:nth-child(2) {
            padding-left: 0px !important;

            .mark-attendance-consumer-info {
                text-align: center;
                display: block;
            }
        }

        .mark-attendance-options {
            display: flex;
            float: none;
            justify-content: center;
            margin-top: 20px;
        }

        .consumer-relatives {
            ion-col {
                display: flex;

                ion-label {
                    // display: flex;
                    align-self: center;

                    .primary-rep {
                        min-width: 60px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .consumer-info-container1 ion-col:nth-child(2) {
        padding-left: 10px !important;
        // display: grid;
    }

    .consumer-relatives .consumer-rel ion-checkbox {
        width: 25px;
        height: 25px;
    }

    .consumer-info-container1 ion-col {
        padding: 0px !important;
        align-self: flex-start;
    }

    .consumer-info-container1 .mark-attendance-options {
        margin-top: 15px;
    }

    .consumer-info-container1 .d-block {
        padding-left: 10px;
    }

    .pleft15 {
        padding-left: 15px !important;
    }

    .consumer-info-container1 .consumer-rel {
        display: inline-flex;
        padding-left: 0px !important;

        &:nth-child(2) {
            padding-left: 0px !important;
        }
    }

    .consumer-info-container ion-col:nth-child(2) {
        // padding-left: 10px !important;
        // max-width: 120px;
        // padding-right: 10px !important;
        padding-left: 0px !important;
        max-width: 140px;
        padding-right: 0px !important;
    }
}

.consumer-info-container {
    border: 1px solid #c8c8c8;
    padding: 20px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    ion-col {
        &:nth-child(2) {
            margin-right: auto;
            // padding-left: 15px !important;
            padding-left: 15px;
        }
    }

    .cic-inner-box {
        display: contents;

        ion-col {
            &:nth-child(2) {
                margin-right: auto;
                // padding-left: 15px !important;
                padding-left: 15px !important;
            }
        }
    }
}

.primary-rep {
    // background-color: #E91E63;
    // color: #fff !important;
    // max-width: -webkit-fit-content;
    // max-width: -moz-fit-content;
    // max-width: fit-content;
    // border-radius: 50px;
    // padding: 3px 10px !important;
    // margin-top: 10px;
    // margin-bottom: 0px;
    // display: block;
    // font-size: 15px;

    // background-color: #E91E63;
    // color: #fff !important;
    // max-width: -webkit-fit-content;
    // max-width: -moz-fit-content;
    // max-width: fit-content;
    // border-radius: 50px;
    // padding: 3px 10px !important;
    // margin-top: 5px !important;
    // margin-bottom: 0px;
    // display: flex !important;
    // font-size: 13px;
    // height: 20px;
    // justify-content: center;
    // align-items: center;

    background-color: #ffe0eb;
    color: #ff1263 !important;
    max-width: 60px;
    border-radius: 4px;
    padding: 3px 5px !important;
    margin-top: 5px !important;
    margin-bottom: 0px;
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.reason {
    width: 100%;
    text-align: center;
    color: #2ac940;
}

.declined {
    color: #ee0000 !important;
}

.reason-attended {
    width: 100%;
    text-align: center;
    color: #2ac940;
    font-family: "Roboto", sans-serif;
    font-weight: normal !important;
    margin-top: 20px;
    display: block;
    border-top: 1px dashed #cacaca;
    padding-top: 10px;
}

.fixed-top {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    right: 0;
    left: 0;
    top: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-selector {
    margin-bottom: 15px !important;

    ion-segment-button.segment-button-checked {
        padding-bottom: 0px !important;
    }

    ion-segment-button {
        padding-bottom: 0px !important;
    }
}

.more-filters {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 15px;

    .asac-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;

        .asac-sa-label {
            font-family: "Roboto", sans-serif !important;
            font-size: 15px;
            color: #252525;
            margin-left: 15px;
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 0;
        }

        .asac-sa-toggle {
            --handle-width: 20px;
            --handle-height: 20px;
            --handle-spacing: 3px;
            --background: #9c9c9c;
            --handle-background-checked: #0077b5;
            --background-checked: #b4defb;
            width: 50px;
            height: 26px;
            padding: 0;
        }
    }

    .clife-select {
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.consumer-info-container {
    border: 1px solid #f1f1f1;
    background: #fff;
    padding: 20px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.assigned-icon {
    position: absolute;
    right: 0;
    top: 0px;
    // background-color: #2AC940;
    // color: #fff;
    // border-radius: 50px;
    // padding: 2px;
    // display: inline-block;
    // vertical-align: middle;
    // margin-left: 10px;
    // position: unset;
}

.assigned-icon-1 {
    position: unset;
    margin-right: 7px;
    margin-left: -7px;
    background-color: #2ac940;
    color: #fff;
    border-radius: 50px;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
}

.consumer-pic {
    margin-left: 0px;
}

.p-zero {
    padding: 0;
}

.category-selector {
    border-bottom: 1px solid #dbdbdb !important;
}

.consumer-info-container1 {
    border: none;
    padding: 20px;
    border-radius: 10px;
    background: #fff;

    ion-avatar {
        width: 50px;
        height: 50px;
    }

    ion-label {
        line-height: 24px;
        display: block;

        span {
            // font-size: 15px;
            font-size: 12px;
            color: #707070;
            font-weight: 400 !important;
            // display: block;
            margin-top: 0;
        }
    }
}

.consumer-relatives {
    .consumer-rel {
        ion-item {
            --padding-start: 0px;
            --inner-padding-end: 0px;
            --min-height: auto;
        }

        ion-checkbox {
            margin: 0px;
            display: inline-block;
            vertical-align: middle;
            align-self: baseline;
            // --border-radius: 50px;
            --border-radius: 4px;
            --border-color: transparent;
            --background: #e5e5e5;
            opacity: 1;
        }
    }
}

.doNotShow {
    display: none !important;
}

.mark-attendance-options {
    display: inline-block;
    float: none;
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
    .consumer-relatives {
        ion-label {
            max-width: 175px;
        }
    }
}

@media only screen and (min-width: 361px) and (max-width: 414px) {
    .consumer-relatives {
        ion-label {
            max-width: 205px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .more-filters {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 15px;

        .clife-select {
            margin-left: 25px;
        }
    }

    .mobi-select-all-row {
        display: none;
    }

    .consumer-relatives {
        ion-label {
            max-width: 275px;
        }
    }

    .consumer-info-container {
        .cic-inner-box {
            ion-col {
                &:nth-child(2) {
                    margin-bottom: 0;
                    margin-right: auto;
                    padding-left: 15px !important;
                    max-width: 185px;
                }
            }
        }
    }
}

.consumer-info-container {
    .cic-inner-box {
        ion-label {
            white-space: pre-line;
            word-break: break-word;
        }
    }

    .act-ad-box {
        align-self: center;
        margin-right: 0;
    }
}
.waiting-list {
    color: #fd7500;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-top: 5px;

    ion-icon {
        font-size: 18px;
        margin-right: 4px;
    }
}
.assigned-icon-2 {
    color: #18a12b;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-top: 5px;

    ion-icon {
        font-size: 18px;
        margin-right: 4px;
    }
}

.consumer-rel {
    ion-item {
        display: flex;
        align-items: flex-start;
    }
}

.act-attended-declined-reason-box {
    padding-left: 0 !important;
}

.consumer-info-container1 {
    .consumer-relatives {
        .consumer-rel {
            border-bottom: 1px dashed #d1d1d1;
            padding-bottom: 15px !important;
            width: 100% !important;

            &:last-child {
                border: none !important;
                padding-bottom: 0 !important;
            }
        }
    }
}

.act-sa-card {
    margin: 0;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: none !important;
    padding: 15px;
    width: 100%;

    .asac-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: auto;

        .asac-sa-label {
            font-family: "Roboto", sans-serif !important;
            font-size: 15px;
            color: #252525;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;
        }

        .asac-sa-toggle {
            --handle-width: 20px;
            --handle-height: 20px;
            --handle-spacing: 2px;
            --background: #9c9c9c;
            --handle-background-checked: #0077b5;
            --background-checked: #b4defb;
            width: 50px;
            height: 25px;
            padding: 0;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
    .consumer-info-container {
        ion-col {
            &:nth-child(2) {
                max-width: 140px;
            }
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 375px) {
    .consumer-info-container {
        ion-col {
            &:nth-child(2) {
                max-width: 165px;
            }
        }
    }
}

@media only screen and (min-width: 390px) and (max-width: 393px) {
    .consumer-info-container {
        ion-col {
            &:nth-child(2) {
                max-width: 185px;
            }
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 414px) {
    .consumer-info-container {
        ion-col {
            &:nth-child(2) {
                max-width: 205px;
            }
        }
    }
}

.mobi-select-all-row {
    display: none;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .more-filters {
        .clife-select {
            ion-select {
                font-size: 14px !important;
            }
        } 
    } 
}
