<ion-content>
  <div class="ob-sec">
    <div class="ob-img-block">
      <img src="/assets/ob-thumb.svg" />
    </div>

    <div class="ob-other-det-block">
      <ion-label class="ob-sec-title">Notification settings</ion-label>

      <div class="form-info-block">

        <div class="fib-row">

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios" slot="start" [(ngModel)]="email"  (ionChange)="emailStatus($event)"></ion-checkbox>
            <ion-label>Happy to recieve Email</ion-label>
          </ion-item>

          <!-- <ion-item lines="none" color="none">
            <ion-checkbox mode="ios" slot="start" [(ngModel)]="sms"  (ionChange)="smsStatus($event)"></ion-checkbox>
            <ion-label>Happy to receive SMS</ion-label>
          </ion-item> -->

        </div>

        <ion-label class="ob-sub-title">Enable the actions you want to be notified about.</ion-label>


        <div class="fib-row">
          <ng-container *ngIf="email==1">
          

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios" slot="start" [(ngModel)]="message"  (ionChange)="messageStatus($event)"></ion-checkbox>
            <ion-label>New message</ion-label>
          </ion-item>

          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios" slot="start" [(ngModel)]="maintenance"  (ionChange)="maintenanceStatus($event)"></ion-checkbox>
            <ion-label>New comment for maintenance request</ion-label>
          </ion-item>

        </ng-container>
          <ion-item lines="none" color="none">
            <ion-checkbox mode="ios" slot="start" checked="true" (ionChange)="terms($event)"></ion-checkbox>
            <ion-label>I agree to the <a (click)="openTerms()">Terms and Conditions</a> and <a (click)="openTerms()">Privacy Policy*</a></ion-label>
          </ion-item>

        </div>
        

        <ion-button class="ob-proceed-btn" (click)="next()">
          Finish, Let's go
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>

        <ion-button class="ob-back-btn" (click)="back()">
          <ion-icon name="chevron-back-outline"></ion-icon>
          Back
        </ion-button>
      </div>

    </div>

    <!-- <p class="ob-powered-by">Powered by Centrim Life</p> -->
  </div>
</ion-content>
