ion-content {
  --background: #000;
}

.myOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.6);

  // color: #fff;

}


.close_icon {
  position: absolute;
  top: 50px;
  right: 10px;
  font-size: 40px !important;
  width: 100%;
  text-align: right;
  //   margin-left: auto;
  //   margin-right: 0px;
  color: #0077b5;
  z-index: 9999;

  ion-icon {
      background: #ffffff;
      border-radius: 50px;
  }
}


.send_icon {
  position: absolute;
  bottom: 15px;
  right: 10px;
  font-size: 40px !important;
  width: 100%;
  text-align: right;
  //   margin-left: auto;
  //   margin-right: 0px;
  color: #fff;
  z-index: 9999;
}

.message-attachment-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
}

.input_mic {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  max-height: 80px !important;
  // border: 5px solid rgb(255 255 255);
  border-radius: 50px;
}

@media only screen and (min-width:768px) {
  .message-attachment-container {
      img {
          height: 100vh;
          object-fit: scale-down;
          width: 100%;
      }
  }
}