@media (min-width: 768px) {
  .picker-wrapper.ion-overlay-wrapper.sc-ion-picker-md {
    max-width: 45%;
  }

  .picker-opts-right {
    justify-content: center;
  }

  .picker-opts-left {
    justify-content: center;
  }

  .picker-opt {
    font-size: 23px;
    font-weight: 500;
  }

  .publish-btn {
    max-width: 190px;
  }

  .publish-btn ion-icon {
    margin-right: 0;
  }

  .menu-ion-card {
    padding: 20px 10px;
    margin: 10px 5px !important;
    min-height: 165px;
  }

  .menu-ion-card img {
    width: 65px !important;
    height: 65px !important;
    max-width: 100%;
  }

  .menu-ion-card ion-label {
    font-size: 18px !important;
    color: #868686;
    text-align: center;
    display: block;
    margin-top: 12px;
  }

  .uf-container img {
    width: 68px !important;
    height: 68px !important;
  }

  .uf-container ion-label {
    font-size: 16px !important;
  }

  .tagged-consumers-container ion-avatar {
    width: 35px !important;
    height: 35px !important;
    margin-left: 15px !important;
  }

  .tagged-consumers-container ion-avatar:first-child {
    margin-left: 0px !important;
  }

  .tagged-consumers-container ion-label {
    margin-left: 15px !important;
    min-width: 35px !important;
    min-height: 35px !important;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex !important;
  }

  .activity-card {
    /* min-height: 215px; */
    min-height: 140px;
    margin: 0px 5px !important;
    height: 100%;
  }

  .calendar_card {
    max-width: 40% !important;
    margin: 0 auto !important;
  }

  .consumer-report-details ion-row ion-col {
    margin-bottom: 0px !important;
    border: none !important;
    padding-bottom: 0px !important;
  }

  .set-dprofile-alert-modal {
    --max-width: 35vw !important;
    --max-height: 50vh !important;
  }

  .dining-consumed-modal {
    --height: 80% !important;
  }

  .dining-consumed-modal .ion-header-inner {
    padding: 20px 15px 10px !important;
  }

  .dining-consumed-modal ion-content {
    --padding-start: 20px !important;
    --padding-end: 20px !important;
  }

  .din-consumed-options-sec ion-row ion-col .din-consumed-option-img {
    width: 60px !important;
    height: 60px !important;
    margin-bottom: 0;
  }

  .conversation_item_left {
    width: 80% !important;
  }

  .conversation_item_right {
    width: 80% !important;
  }

  .conversation_bordered img {
    height: 280px !important;
    -o-object-fit: cover !important;
    object-fit: cover !important;
    width: 350px !important;
    overflow: hidden !important;
  }

  .sign_in {
    --padding-start: 60px;
    --padding-end: 60px;
    --padding-top: 18px !important;
    --padding-bottom: 18px !important;
    font-size: 22px !important;
    max-width: fit-content;
  }

  .branch-select-modal .modal-wrapper {
    width: 60% !important;
  }

  .select-staff-modal .modal-wrapper {
    width: 60% !important;
  }

  .din-alertmodal-container .din-modal-btn-box .din-modal-continue-btn {
    min-width: 100px !important;
  }

  .din-alertmodal-container .din-modal-btn-box .din-modal-cancel-btn {
    min-width: 100px !important;
    margin-left: 25px !important;
  }

  .notfiy-modal {
    --width: 60vw !important;
  }

  .report-reason-modal {
    --width: 60vw !important;
  }

  .send-mail-warning-modal {
    --min-width: 30% !important;
    --max-width: 40% !important;
    --height: 30% !important;
  }

  .act-res-group-modal {
    --width: 50vw !important;
    --height: 60% !important;
  }

  .fwb-main-box {
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .c-timeline-block
    .c-timeline
    .ct-content
    .ct-content-inner
    .ct-ci-content
    .inner-details
    .ct-file-block
    .ctf-doc-item-box {
    max-width: fit-content;
    height: fit-content;
  }

  .c-timeline-block
    .c-timeline
    .ct-content
    .ct-content-inner
    .ct-ci-content
    .inner-details
    .ct-file-block {
    align-items: center;
  }

  .c-timeline-block
    .c-timeline
    .ct-content
    .ct-content-inner
    .ct-ci-content
    .inner-details
    .ct-ad-note-block
    .ctan-item
    .ctan-item-inner
    .an-ct-file-block {
    align-items: center;
  }

  .c-timeline-block
    .c-timeline
    .ct-content
    .ct-content-inner
    .ct-ci-content
    .inner-details
    .ct-ad-note-block
    .ctan-item
    .ctan-item-inner
    .an-ct-file-block
    .ctf-doc-item-box {
    max-width: fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 320px) {
  /* .story_head_container {
        margin-left: 7px !important;
    } */

  /* .profile_switch ion-avatar {
        margin-left: -12px !important;
    } */

  .display_none {
    display: none !important;
  }
}

/* @media (min-width:1024px) {

} */

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
  .consumer-info-container {
    border: 1px solid #c8c8c8;
    padding: 20px;
    border-radius: 10px;
    min-height: 123px;
  }

  .consumer-info-container div {
    align-self: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
  .consumer-info-container {
    min-height: 185px;
  }

  .consumer-info-container div {
    display: flex !important;
  }

  .consumer-info-container div:nth-of-type(2) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }

  .consumer-info-container ion-col {
    display: flex;
  }

  .d-block {
    display: block !important;
  }
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
  .header-buttons ion-icon {
    font-size: 16px !important;
  }

  .gender-type ion-segment-button {
    text-transform: inherit !important;
    min-width: 10px;
    margin-left: 10px;
  }

  .publish-btn {
    text-transform: inherit !important;
  }

  /* .dining-consumed-modal {
        --height: 65% !important;
    } */

  .menu-icons-container .col-fit {
    max-width: unset !important;
  }

  .gm-user .user-name {
    font-size: 18px !important;
  }

  .footer-items-sec .bottom-navbar-sec {
    gap: 35px !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .dining-consumed-modal {
    --border-radius: 0px !important;
  }

  .header-ios {
    padding-top: 15px !important;
  }

  ion-content.ios.overscroll.hydrated {
    .alternate-header {
      margin-top: 55px !important;
    }
  }
}

/* @media screen and (min-height: 640px) and (orientation: portrait) { 
    ...
} */

@media screen and (min-height: 768px) {
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .story-contents ion-label {
    white-space: nowrap;
  }
}

ion-label.fi-name {
  text-transform: lowercase;
  display: block;
}

ion-label.fi-name::first-letter {
  text-transform: uppercase !important;
  display: block;
}

ion-label.fi-name:first-letter {
  text-transform: uppercase !important;
  display: block;
}

ion-textarea.fi-comments {
  text-transform: lowercase;
  display: block;
}

ion-textarea.fi-comments::first-letter {
  text-transform: uppercase !important;
  display: block;
}

ion-textarea.fi-comments:first-letter {
  text-transform: uppercase !important;
  display: block;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .rv-edit-folder-modal {
    --height: 50vh !important;
  }

  ion-footer .mark-attendees-btn {
    font-size: 14px !important;
    margin-left: 0px !important;
    height: 38px !important;
  }

  ion-footer .mark-attendance-btn {
    font-size: 14px !important;
    margin-left: 0px !important;
    height: 38px !important;
  }

  .c-timeline-block
    .c-timeline
    .ct-content
    .ct-content-inner
    .ct-ci-content
    .inner-details
    .ct-ad-note-block
    .ctan-item
    .ctan-item-inner
    .an-ct-file-block
    .ctf-item-box
    .ct-file-icon {
    width: 100px !important;
    min-width: 100px !important;
    max-width: 100px !important;
    height: 100px !important;
    --border-radius: 4px !important;
  }
}

/* @media only screen and (min-width: 700px) and (max-width: 753px) {
  .sd-docs-row ion-col {
    max-width: fit-content !important;
  }
} */

@media only screen and (min-width: 700px) and (max-width: 800px) {
  .sec-align {
    position: absolute !important;
    top: 50% !important;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 80vw;
  }

  .feedback-white-box #cat ion-row {
    display: flex;
    justify-content: center;
  }

  .feedback-white-box #cat ion-row ion-col {
    max-width: fit-content !important;
    min-width: 180px;
  }

  .feedback-white-box .five-smiley ion-row {
    display: flex;
    justify-content: center;
  }

  .feedback-white-box .five-smiley ion-row ion-col {
    max-width: fit-content !important;
    min-width: 180px;
  }
}

@media only screen and (min-width: 700px) {
  .line-clamp p br + a {
    margin-top: -20px !important;
    display: flex !important;
  }

  .mc_image {
    max-width: 150px;
  }

  /* .footer-items-sec .bottom-navbar-sec {
    padding: 15px 10px 5px !important;
    gap: 100px !important;
  } */

  .footer-items-sec .bottom-navbar-sec {
    padding: 15px 10px 5px !important;
    justify-content: space-evenly !important;
  }

  .notify-modal {
    --width: 50% !important;
  }

  .reset_pass[_ngcontent-ske-c230] {
    max-width: fit-content;
    min-width: 220px;
  }

  .rv-quicklinks-modal .modal-wrapper.ion-overlay-wrapper {
    max-width: 50%;
  }

  .country-list-modal .modal-wrapper.ion-overlay-wrapper {
    max-width: 50%;
  }

  .add-new-allergy-modal .modal-wrapper.ion-overlay-wrapper {
    max-width: 50%;
  }

  .sd-docs-row ion-col {
    max-width: fit-content !important;
  }

  .rv-edit-folder-modal {
    --width: 60% !important;
  }

  .rv-note-type-modal {
    --width: 50% !important;
  }

  .profile-content-box
    ion-row
    ion-col
    .profile-moreinfo-sec
    ion-col
    .single-pet-holder
    .sph-content
    .pet-link-info-holder
    ion-row
    ion-col {
    padding: 10px !important;
    margin: 0 !important;
  }

  .profile-content-box
    ion-row
    ion-col
    .profile-moreinfo-sec
    ion-col
    .single-pet-holder
    .sph-content
    .pets-vd-btn {
    min-width: 130px;
    max-width: fit-content;
    height: 45px;
    margin: 0 auto 15px !important;
    font-size: 16px !important;
  }

  .rvp-link-residents-sec ion-row ion-row ion-col {
    padding: 10px !important;
    margin: 0 !important;
  }

  .add-pets-sec ion-row ion-col {
    padding: 10px;
    margin: 0 !important;
  }

  .profile-content-box ion-row ion-col .nb-holder ion-icon {
    font-size: 25px !important;
  }

  .profile-content-box
    ion-row
    ion-col
    .property-link-info-holder
    ion-row
    ion-col {
    padding: 10px !important;
    margin: 0 !important;
  }

  .edit-contact-modal .modal-wrapper {
    max-width: 60%;
  }

  .approve-invitation-modal .modal-wrapper {
    max-width: 60%;
  }

  .profile-content-box
    ion-row
    ion-col
    .profile-moreinfo-sec
    ion-col
    .single-pet-holder
    .sph-content
    .pet-thumb-holder
    .more-pet-count-btn {
    --background: #e9edef !important;
    --background-activated: #c1c9cd !important;
    color: #666 !important;
    height: 90px !important;
    margin: 0px 5px 0px !important;
  }

  .maintenance-list-sec .site-switch-holder {
    padding-top: 10px !important;
    padding-left: 10px !important;
  }

  .maintenance-list-sec ion-row ion-col {
    margin: 0 !important;
    padding: 10px;
  }

  .reset-password-sec .rp-form {
    margin: 0 auto;
    max-width: 320px;
    min-width: 320px;
  }

  .res-filter-modal .modal-wrapper {
    max-width: 50%;
  }

  .pets-link-resident-modal .modal-wrapper {
    max-width: 50%;
  }

  .rvp-link-residents-sec ion-row ion-col {
    margin-bottom: 10px;
    min-width: 100% !important;
  }
}

@media only screen and (min-width: 750px) {
  .conversation_bordered {
    height: unset !important;
    min-width: 350px !important;
    max-width: 350px !important;
    min-height: 200px !important;
    max-height: 200px !important;
  }

  .conversation_bordered img {
    width: 100%;
    height: 185px !important;
    object-fit: cover !important;
  }

  .conversation_bordered video {
    height: 185px !important;
    object-fit: cover;
  }
}
