<ion-content>
  <ion-item lines="none" style="margin-top: 50px;">
    <ion-avatar class="fgt_img">
      <img src="assets/network_tower.svg">
    </ion-avatar>
    
  </ion-item>
  <ion-item lines="none">
    <ion-label class="oops">
      Ooops !
      <span >
        Please check your connection<br>status and try again
      </span>
    </ion-label>
  </ion-item>
</ion-content>