<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>{{ser_time}} on {{date}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="sub">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12">

        <div class="fi-detail-img">

          <img [src]="sub.individualitem.image">

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="fi-info">

        <ion-label class="fi-name">{{sub.individualitem.item_name}}</ion-label>

        <!-- <ion-row>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

            <ion-label class="dining-inner-title">Quantity</ion-label>

            <ion-item lines="none" color="none" class="plus-minus">

              <ion-icon class="minus-icon" name="remove-outline"  item-right></ion-icon>

              <ion-input type="number" min="0"  readonly></ion-input>

              <ion-icon class="plus-icon" name="add-outline"  item-right></ion-icon>

            </ion-item>

          </ion-col>

          <ion-col size-sm="6" size-md="6" size-lg="6" size="6">

            <ion-label class="dining-inner-title">Size</ion-label>

            <ion-segment  class="fi-size-segment-btn">

              <ion-segment-button value="s">
                <ion-label>S</ion-label>
              </ion-segment-button>

              <ion-segment-button value="m">
                <ion-label>M</ion-label>
              </ion-segment-button>

              <ion-segment-button value="l">
                <ion-label>L</ion-label>
              </ion-segment-button>

            </ion-segment>


          </ion-col>

          

        </ion-row> -->

      </ion-col>

    </ion-row>

    <ion-row>

      <!-- <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20 borderline-top-bottom">

        <ion-label class="dining-inner-title">Texture</ion-label>

        <div class="fi-options-block">

          <ion-label class="fi-options four-et fi-options-selected">4 Extremely thick </ion-label>

          <ion-label class="fi-options three-mt">3 Moderately thick </ion-label>

          <ion-label class="fi-options two-mt">2 Mildly thick </ion-label>

          <ion-label class="fi-options one-st">1 Slightly thick </ion-label>

          <ion-label class="fi-options zt">0 Thin </ion-label>

        </div>

        <ion-label class="dining-inner-title mt-20">Options</ion-label>

        <span class="dining-inner-title-1">Sugar</span>

        <div class="fi-options-block">

          <ion-label class="fi-options fi-options-selected">No sugar</ion-label>

          <ion-label class="fi-options">1 sugar</ion-label>

          <ion-label class="fi-options">2 sugar</ion-label>

          <ion-label class="fi-options">1 sweetener</ion-label>

          <ion-label class="fi-options">2 sweetener</ion-label>

        </div>

        <span class="dining-inner-title-1">Milk</span>

        <div class="fi-options-block">

          <ion-label class="fi-options fi-options-selected">Animal milk</ion-label>

          <ion-label class="fi-options">Plant milk</ion-label>

        </div>

      </ion-col> -->
      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10" *ngIf="sub.individualitem.foodtexture&&sub.individualitem.foodtexture.length">
        <ion-label class="dining-inner-title">Texture</ion-label>
        <div *ngFor="let i of sub.individualitem.foodtexture" [class]="i.fdtexture.color">
          {{i.fdtexture.food_texture}}
        </div>
      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-10" *ngIf="sub.individualitem.alergies&&sub.individualitem.alergies.length">

        <ion-label class="dining-inner-title">Allergies</ion-label>

        <div class="allergies-block">

          <ion-chip class="allergy" *ngFor="let i of sub.individualitem.alergies">
            <i class="al-other" [class.al-celery]="i.alergy.alergy=='Celery'"
                      [class.al-crustaceans]="i.alergy.alergy=='Crustaceans'"
                      [class.al-glutten]="i.alergy.alergy=='Gluten'"
                      [class.al-lupin]="i.alergy.alergy=='Lupin'"
                      [class.al-molluscs]="i.alergy.alergy=='Molluscs'"
                      [class.al-mustard]="i.alergy.alergy=='Mustard'"
                      [class.al-peanut]="i.alergy.alergy=='Peanuts'"
                      [class.al-sesame]="i.alergy.alergy=='Sesame'"
                      [class.al-soy]="i.alergy.alergy=='Soya'"
                      [class.al-sulphite]="i.alergy.alergy=='Sulphites'"
                      [class.al-treenut]="i.alergy.alergy=='Treenuts'"
                      [class.al-wheat]="i.alergy.alergy=='Wheat'"></i>
            <ion-label>{{i.alergy.alergy}}</ion-label>
          </ion-chip>

        </div>

      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="din-sec-title" *ngIf="sub.individualitem.ingredientes&&sub.individualitem.ingredientes.length">

        <ion-label class="dining-inner-title">More information</ion-label>

        <ion-icon name="chevron-down-outline"></ion-icon>

      </ion-col>

      <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="mt-10" *ngIf="sub.individualitem.ingredientes&&sub.individualitem.ingredientes.length">

        <div class="ingredients-box">

          <span class="ib-title">Ingredients</span>

          <ng-container *ngFor="let ing of sub.individualitem.ingredientes">
          <ion-label  *ngIf="ing.ingredient">{{ing.ingredient.name}}
          </ion-label>
        </ng-container>
        </div>

      </ion-col>

      <!-- <ion-col size-sm="12" size-md="6" size-lg="6" size="12" class="mt-10">

        <div class="nutrition-info-box">

          <span class="ni-title">Nutritional Information (per serve)</span>

          <ion-label>Energy</ion-label>

          <ion-label>Protein</ion-label>

          <ion-label>Fat, Total</ion-label>

          <ion-label>Saturated fat</ion-label>

          <ion-label>Carbohydrate</ion-label>

          <ion-label>Sugars</ion-label>

          <ion-label>Sodium</ion-label>

        </div>

      </ion-col> -->

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-20" *ngIf="sub.individualitem.description">

        <ion-label class="dining-inner-title">Dsecription</ion-label>

        <!-- <ion-textarea class="fi-comments" rows="5"> </ion-textarea> -->

        <p class="fi-description">{{sub.individualitem.description}}</p>
      
      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>

<!-- <ion-footer>

  <ion-button class="save-btn">Save</ion-button>

  <ion-button class="cancel-btn">Cancel</ion-button>

</ion-footer> -->