<ion-content>
  <div class="ob-sec">
    <div class="ob-img-block">
      <img src="/assets/ob-thumb.svg" />
    </div>

    <div class="ob-other-det-block">
      <ion-label class="ob-sec-title">Please confirm your details.</ion-label>

      <div class="form-info-block">
        <div class="fib-row" (click)="selectImg()">
          <ion-avatar class="upload-pp-box" >
            <!-- <img src="/assets/photo-camera.svg" *ngIf="!img"/> -->
            <img src="{{img}}" />
          </ion-avatar>

          <ion-button class="camera-btn"><ion-icon name="camera-outline"></ion-icon></ion-button>

          <ion-label class="fib-label">Profile image</ion-label>
        </div>

        <div class="fib-grid">
          
          <div class="fib-row-1">
            <ion-label class="fib-label">Email <span>*</span></ion-label>

            <ion-input class="fib-input" [(ngModel)]="email" readonly></ion-input>
          </div>

          <div class="fib-row-1">
            <ion-label class="fib-label">Name <span>*</span></ion-label>

            <ion-input class="fib-input" [(ngModel)]="name"></ion-input>
          </div>

          <div class="fib-row-1">
            <ion-label class="fib-label">User name <span>*</span></ion-label>

            <ion-input class="fib-input" [(ngModel)]="uname"></ion-input>
          </div>

          <div class="fib-row-1">
            <ion-label class="fib-label">Phone number</ion-label>

            <ion-input class="fib-input" [(ngModel)]="phone" type="phone"></ion-input>
          </div>
        </div>

        <ion-button class="ob-proceed-btn" (click)="next()">
          Proceed to next step
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>

      </div>
      
    </div>

    <!-- <p class="ob-powered-by">Powered by Centrim Life</p> -->
  </div>
</ion-content>
