<!-- <ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          
          <ion-label>Reschedule</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>



  </ion-toolbar>
</ion-header> -->


<ion-content>

  <div class="content-sec">

    <ion-row>

      <ion-col size="12">

        <ion-label class="label-black bdate cblack">Booking Date<span class="asterisk">*</span></ion-label>

      </ion-col>

      <ion-col size="12" class="p-start-end-10">

        <ion-datetime mode="md" value="2020-10-31T15:43:40.394Z" displayFormat=" DD MMMM YYYY" [min]="minDate"
          display-timezone="utc" [(ngModel)]="date" (ionChange)="onChange($event)">
        </ion-datetime>

        <ion-icon class="cb-disable-calander-icon" name="calendar-clear-outline"></ion-icon>

      </ion-col>

    </ion-row>

    <ion-item lines="none" color="none" class="ts-availability">

      <ion-label>

        Available starting times for

        <span>{{dateString}}</span>

      </ion-label>

    </ion-item>

    <ion-chip class="cb-select-duration">

      <ion-label>Duration : </ion-label>
      <ion-select okText="Okay" cancelText="Dismiss" interface="action-sheet" [(ngModel)]="duration" (ionChange)="selectDuration()">

        <ion-select-option value="30">30 Minutes</ion-select-option>
        <ion-select-option value="60">60 Minutes</ion-select-option>
      </ion-select>

    </ion-chip>

    <div>

      <ion-row>

        <ion-col size-sm="4" size-md="4" size-lg="2" size="4" *ngFor="let item of slot">

          <ion-chip class="ts-green" [class.disable]="item.disable" [class.selected_slot]="item.slot==sel_time"
            (click)="bookcall(item)">
            <ion-label>{{item.slot}}</ion-label>
          </ion-chip>

        </ion-col>
      </ion-row>

    </div>

  </div>

</ion-content>

<ion-footer>

  <ion-toolbar>

    <div class="cb-footer-btns">

      <ion-button class="cb-continue-btn" (click)="confirm()" [disabled]="disableButton">Reschedule</ion-button>

      <ion-button class="cb-cancel-btn" (click)="cancel()">
        <ion-label>Cancel</ion-label>
      </ion-button>

    </div>

  </ion-toolbar>

</ion-footer>