// ion-content[scrolly=true] {
//     position: relative;
//     overflow: hidden;

//     ::-webkit-scrollbar {
//       display: none;
//     }
//   }

// //   div[scrollx=true] {
// //     overflow-x: auto;
// //   }

//   ion-content[scrolly=true] {
//     overflow-y: auto;
//   }

ion-toolbar {
    --border-width: 0px !important;
}

ion-select {
    border: 1px solid #dcdcdc;
    height: 50px;
    border-radius: 6px;
    max-width: 125px;
}

ion-datetime {
    color: #222;
    border: 1px solid #dcdcdc;
    height: 50px;
    border-radius: 6px;
}

.cb-disable-calander-icon {
    float: right;
    top: -35px;
    right: 10px;
    position: relative;
    font-size: 20px;
    color: #727272;
}

/*------------------------------- timeslot onclick -------------------------*/

.cb-timeslot-onclick {
    background-color: #44e85d;
    color: #fff !important;
    border: 0px;
}

/*------------------------------- timeslot onclick -------------------------*/

@media only screen and (min-width: 360px) and (max-width: 360px) {
    .ts-availability {
        // margin-top: 20px !important;
        margin-top: -14px !important;
    }

    .bdate {
        margin: 20px 10px;
        display: block;
    }

    ion-col {
        padding-inline-start: 0px;
        padding-inline-end: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .p-start-end-10 {
        padding-inline-start: 10px;
        padding-inline-end: 10px;
    }

    .content-sec {
        display: block;
        overflow-y: auto;
        height: 90vh;
    }
}

.cb-cancel-btn {
    ion-label {
        color: #868686;
    }
}

.cblack {
    font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    ion-content.ios.overscroll.hydrated {
        --padding-top: 50px !important;
    }
}
