<ion-header mode="md" class="ion-header-inner-2">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-icon name="arrow-back-outline" (click)="cancel()"></ion-icon>
          <ion-label>Alert</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <span class="ca-icon">
    <img src="assets/consent-alert-icon.svg">
  </span>

  <ion-item lines="none" color="none" style="padding:30px">
    <ion-label class="name">{{name}}
      <span class="message">
        has not consented to share their photo publicly. Are you sure to continue?
      </span>
    </ion-label>
  </ion-item>
</ion-content>

<ion-footer mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-col class="col-fit">
        <ion-button class="submit-btn" (click)="dismiss()">Proceed</ion-button>
      </ion-col>
      <ion-col class="col-fit">
        <ion-button class="cancel-btn" (click)="cancel()">Cancel </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>