.name {
  font-size: 25px;
  color: #ff0000;
  white-space: pre-line !important;
}

.message {
  color: #000 !important;
}

ion-button {
  --box-shadow: none !important;
  --background: #0077B5
;
  --border-radius: 50px;
  text-transform: none !important;
  font-weight: normal;
  font-size: 16px;
}
