.name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #ff0000;
    white-space: pre-line !important;
}

.message {
    color: #000 !important;
}

ion-button {
    --box-shadow: none !important;
    --background: #0077b5;
    --border-radius: 50px;
    text-transform: none !important;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.ion-header-inner-2 {
    min-height: 80px;
}

.ca-icon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


ion-footer {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;

    ion-button {
        --box-shadow: none !important;
        --background: #0077b5;
        --border-radius: 50px;
        text-transform: none !important;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        font-size: 16px;
        height: 45px;
        --padding-start: 30px;
        --padding-end: 30px;
    }

    .cancel-btn {
        --background: #9e9e9e;
        margin-left: 15px;
    }
}
