ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.din-alertmodal-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    .din-consumer-pic {
        width: 100px;
        height: 100px;
    }

    .din-consumer-name {
        font-size: 18px;
        font-weight: 600;
        color: #707070;
        line-height: 21px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #d9d9d9;
        width: 100%;

        span {
            font-size: 16px;
            font-weight: normal;
        }
    }

    .dprofile-icon {
        width: 80px;
        height: 80px;
    }

    .dprofile-info {
        color: #FF8000;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
    }

}