<ion-content>

  <div class="din-alertmodal-container">

    <ion-button class="modal-close-btn" (click)="dismiss()">
      <ion-icon  name="close-circle"></ion-icon>
    </ion-button>

    <ion-avatar class="din-consumer-pic">
      <img src="/assets/dining/consumers/2.png">
    </ion-avatar>

    <ion-label class="din-consumer-name">
      Jennifer
      <span>113 B, Apple Blossom</span>
    </ion-label>

    <img class="dprofile-icon" src="/assets/dining/dprofile-alert-icon.svg">

    <p class="dprofile-info">
      Please set the dietary profile for the resident before order can be placed
    </p>

  </div>

</ion-content>