.ion-header-inner-2 {
    .save-btn {
        --background: rgba(135, 181, 255, 0.3) !important;
        --border-radius: 50px !important;
        --padding-start: 10px;
        --padding-end: 10px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --box-shadow: none !important;
        color: #fff !important;
        font-size: 25px;
        width: 45px;
        height: 45px;
        margin-left: 10px;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
}
ion-content {
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --background: #efefef;
    min-height: 100vh;
    // z-index: 9999999;
}

.staff-info-container {
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;

    .staff-dp {
        width: 45px;
        height: 45px;
    }

    .staff-info-box {
        display: flex;
        flex-direction: column;
        padding-left: 15px;

        .staff-name {
            font-family: "Open Sans", sans-serif;
            font-size: 17px;
            font-weight: 600;
            color: #545454;
        }

        .designation-details-box {
            display: flex;

            ion-label {
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                color: #818181;
            }
        }
    }
}

.selected {
    border: 2px solid #0077b5;
}

@media only screen and (min-width: 768px) {
    .staff-info-container {
        margin-bottom: 0;
    }
}

ion-footer {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    .publish-btn {
        display: flex;
    }
}

.header-ios {
    --padding-top: 30px !important;
    padding-top: 45px !important;
    min-height: 170px !important;
}

.clife-search-bar {
    margin-top: 15px;
}