<ion-header class="ion-header-inner-2">

  <ion-toolbar color="none" lines="none" class="no-border">
 
     <ion-grid>
 
      <ion-row class="display-space-between">
 
        <ion-col class="col-fit ion-align-self-start page-name" >
          <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
          <ion-label>Select staff</ion-label>
        </ion-col>
 
        <ion-col class="col-fit ion-align-self-end" *ngIf="flag==1">
          <ion-button class="save-btn" (click)="save()">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
        </ion-col>
 
      </ion-row>
 
      <ion-row>
 
        <ion-col>
 
          <ion-searchbar class="clife-search-bar" placeholder="Search staff" (ionCancel)="cancel()"
            [(ngModel)]="terms"></ion-searchbar>
 
        </ion-col>
 
      </ion-row>
 
 
    </ion-grid>
 
  </ion-toolbar>
 
 </ion-header>
 
 <ion-content>
 
  <ng-container *ngIf="staff.length>0 && ( staff | messagesearch : terms) as result">

  <ion-row>
 
    <ion-col size-sm="12" size-md="6" size-lg="4" size="12" (click)="select(item)"
      *ngFor="let item of staff | messagesearch : terms">
 
      <div class="staff-info-container" [class.selected]="temp.includes(item.user_id)">
 
        <ion-avatar class="staff-dp">
          <img [src]="item.profile_pic">
        </ion-avatar>
 
        <div class="staff-info-box">
 
          <ion-label class="staff-name">
            {{item.name}}
          </ion-label>
 
          <span class="designation-details-box">
 
            <ion-label *ngIf="item.user_details!=null">
              {{item.user_details.title}}
            </ion-label>
 
            <ion-label *ngIf="item.user_type_id==1">
              Admin
            </ion-label>
 
          </span>
 
        </div>
 
      </div>
 
    </ion-col>
 
    <!-- <ion-col>
  
          <ion-item lines="none" color="none">
  
            <ion-label class="sender_name">
              {{item.name}}
            </ion-label>
  
  
  
          </ion-item>
  
  
  
          <ion-item lines="none" color="none">
  
            <ion-label *ngIf="item.user_details!=null">
              {{item.user_details.title}}
            </ion-label>
  
            <ion-label *ngIf="item.user_type_id==1">
              Admin
            </ion-label>
          </ion-item>
  
        </ion-col> -->
        

  </ion-row>

  <div *ngIf="result&&result.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-data-icon.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Data Found</ion-label>
    </ion-item>
  </div>

</ng-container>

  <div *ngIf="staff&&staff.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-data-icon.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Data Found</ion-label>
    </ion-item>
  </div>
 
</ion-content>
 
 
 <!-- <ion-footer *ngIf="flag==1">
  <ion-toolbar>
    <ion-button class="publish-btn" (click)="save()">Save
    </ion-button>
  </ion-toolbar>
 </ion-footer> -->