
<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" [routerLink]="['/resident-profile',{id:cid,flag:flag}]"></ion-icon>
          <ion-label>Feed for {{consumerName}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-item lines="none" color="none" class="ptb_15 feed-category-sec">

  <ion-grid class="story_category_selector">
    <ion-row>
      <ion-col width-50 style="text-align: center; color: #0077B5; font-size: 18px; font-weight: 500;"
        (click)="getContent()" *ngIf="!tabStatus">Feed</ion-col>

      <ion-col width-50 style="text-align: center; font-size: 18px; color:#8b8b8b" 
        (click)="getContent()" *ngIf="tabStatus">Feed</ion-col>

      <ion-col width-50 style="text-align: center;margin-left: -9px;font-size: 18px; color:#8b8b8b"
        (click)="getContent()" *ngIf="!tabStatus">Activity overview</ion-col>

      <ion-col width-50 style="text-align: center;margin-left: -9px;font-size: 18px; font-weight: 500;color: #0077B5;"
        (click)="getContent()" *ngIf="tabStatus">Activity overview</ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 style="text-align: center;">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#8b8b8b" *ngIf="tabStatus">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#0077B5" *ngIf="!tabStatus">
      </ion-col>
      <ion-col width-50 style="text-align: center;margin-left: -9px;">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#8b8b8b" *ngIf="!tabStatus">
        <hr style="border-bottom-style: solid;border-bottom-width: 2px;color:#0077B5" *ngIf="tabStatus">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>

<ion-content *ngIf="!tabStatus">
  <div *ngIf="user_post.length>0">
  <ion-card class="story-card" *ngFor="let item of user_post | slice:start:end;let idx = index">
    

    <ion-grid class="no_padding_inline">
      <div (click)="gotoDetails(item.id)">
      <ion-row style="flex-wrap: nowrap;">

        <ion-col class="col_fit" size="2">
          <ion-avatar class="profile_pic_thumb">
            <img [src]="item.icon">
          </ion-avatar>
        </ion-col>

        <ion-col class=" story_head_container" size="10">
          <ion-label text-wrap>
            <p class="story_heading ">{{item.title}}</p>
            <p > 
                <ion-row>
                  <ion-col class="author_name col_fit" *ngIf="item.post_type!=6">{{item.creator.name}}</ion-col>
                  <ion-col class="post_time" *ngIf="item.post_type!=6">{{item.activate_date | dateformat : 'MMMM DD, yyyy'}}</ion-col>
                  <ion-col class="author_name col_fit" *ngIf="item.post_type==6">{{item.activate_date | dateformat : 'MMMM DD, yyyy'}}</ion-col>
                  <ion-col style="margin-left: 15px; display: flex; align-items: center;" class="col_fit display_none" *ngIf="item.tagged_users.length">
                    <ion-icon class="c_tag" src="/assets/consumer_tag.svg"></ion-icon>
                    <ion-avatar >
                      <img [src]="item.tagged_users[0].profile_pic" *ngIf="item.tagged_users && item.tagged_users.length">
                    </ion-avatar>
                    <ion-avatar *ngIf="item.tagged_users.length>1">
                      <img [src]="item.tagged_users[1].profile_pic" *ngIf="item.tagged_users && item.tagged_users.length">
                    </ion-avatar>
                    <span *ngIf="item.tagged_users.length>2">+{{item.tagged_users.length-2}}</span>
                    
                  </ion-col>
                </ion-row>
            </p>
          </ion-label>
        </ion-col>
    
      </ion-row>
      
      <ion-row>

        <ion-col>
          
            <ion-card-content class="story_text" [innerHTML]="item.description" *ngIf="item.post_type!=6">
              
            </ion-card-content>
            <p style="margin-bottom: 10px;color:#d1d1d1;margin-top: -5px;" *ngIf="item.description.length >170 && item.post_type!=6 && item.description!=null">See More..</p>
            <ion-card-content *ngIf="item.post_type==6" [innerHTML]="item.activity_feedback">
              <!-- <img  src="assets/attended_btn.svg" style="margin-left: 10px;margin-top: 10px;"> -->
              </ion-card-content>
          

        </ion-col>

      </ion-row>

      <ion-row class="mb-10" *ngIf="item && item.images && item.images.length">

        <ion-col>

          <img [src]="item.images[0].post_attachment" style="width: 100%;" class="feed-media">

        </ion-col>

      </ion-row>
      <ion-row class="mb-10" *ngIf="item && item.images.length==0 && item.videos && item.videos.length">

        <ion-col>

          
          <img [src]="item.videos[0].thumbnail" style="width: 100%;" class="feed-media">
          <div class="video-overlay feed-media"></div>
          <div ><ion-icon name="play"  class="play_icon" ></ion-icon></div>

        </ion-col>

      </ion-row>

      </div>

      <ion-row class="comments_sep_stories">
        <ion-col  size="3">
          <ion-icon class="react_icons" src="assets/heart_icon.svg" *ngIf="item.liked==false " (click)="like(item)"></ion-icon>
          <ion-icon class="react_icons" src="assets/heart_icon_filled_red.svg" *ngIf="item.liked==true  " (click)="like(item)" ></ion-icon>
          <span class="likes">{{item.likes_count}}</span>

     

        </ion-col>

        <ion-col size="6" style="text-align: center;">
          <ion-icon class="react_icons" src="assets/comment_icon.svg"></ion-icon>

          <span class="comments">{{item.comment_count}}{{""}} Comments</span>
        </ion-col>
        <ion-col class="display_flexend" size="3">
          <ion-icon class="view-count-icon" name="eye-outline"></ion-icon>
          <span class="view-count">{{item.view_count}}</span>
        </ion-col>
      </ion-row>

      <ion-item lines="none" style="--min-height: auto; --padding-start: 0; --inner-padding-end: 0;" color="none" class="no_inline_margin" *ngIf="item.hide_comment==0">

        <ion-avatar class="profile_pic_thumb" *ngIf="user_img">
          <img [src]="user_img" >
        </ion-avatar>
        <ion-avatar class="profile_pic_thumb bg-green bg-lighten-4" *ngIf="!user_img">
          <ion-label style="margin-left: 8px;margin-top: 5px;font-size: 18px; font-weight: bold;">{{p_name}}</ion-label>
        </ion-avatar>

       
          <ion-input [(ngModel)]="commentText" placeholder="Add a comment..."  (click)="gotoDetails(item.id)" readonly></ion-input>

          

      </ion-item>
    
    </ion-grid>
 
  </ion-card>
</div>
<ion-item lines="none" color="none" *ngIf="user_post.length>20 && end<user_post.length">
  <ion-label style="width: 100%;text-align: center;" (click)="viewMore()" >View more</ion-label>
</ion-item>
<div *ngIf="user_post.length==0">
  <ion-thumbnail 
    style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
    <img src="assets/no_posts_found_img.svg">
  </ion-thumbnail>

  <ion-item lines="none" style="margin-top: 25px;" >
    <ion-label
      style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
      No posts found</ion-label>
  </ion-item>
</div>
</ion-content>


<ion-content *ngIf="tabStatus">
  <ion-item style="--padding-start: 0px; --min-height: auto !important;" lines="none" color="none" *ngIf="activity.length>0">
    <p class="activity_day">Recently attended</p>
  </ion-item>

  <ul class="timeline" *ngIf="activity.length>0">


    <li *ngFor="let item of activity">

      <ion-grid class="act_timeline_card no_padding_inline">
        <ion-row>
<!----------------------------------- attended activity date col ---------------------------------------------------->
          <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="display_grid">
            <ion-label class="act_time">{{item.activity_start_date | dateformat :'DD MMM yyyy'}} - {{item.start_time}}</ion-label>
            <p class="timeline_label" >{{item.title}}</p>
          </ion-col>
          <ion-col class="act_type" size="12" size-sm="12" size-md="3" size-lg="3">
            <!-- <img src="assets/physical_activity_icon.svg"> -->
            <ion-chip class="social_icon" *ngIf="item.type.type_name=='Social'">
              <i class="{{item.type.icon}}" style="margin-right:3px"></i>
              <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
             
              <ion-label>{{item.type.type_name}}</ion-label>
            </ion-chip>
            <ion-chip class="physical_icon" *ngIf="item.type.type_name=='Physical'">
              <i class="{{item.type.icon}}" style="margin-right:3px"></i>
              <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
             
              <ion-label>{{item.type.type_name}}</ion-label>
            </ion-chip>
            <ion-chip class="trip_icon" *ngIf="item.type.type_name=='Trip'">
              <i class="{{item.type.icon}}" style="margin-right:3px"></i>
              <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
             
              <ion-label>{{item.type.type_name}}</ion-label>
            </ion-chip>
            <ion-chip class="meeting_icon" *ngIf="item.type.type_name=='Meeting'">
              <i class="{{item.type.icon}}" style="margin-right:3px"></i>
              <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
             
              <ion-label>{{item.type.type_name}}</ion-label>
            </ion-chip>
            <ion-chip class="event_icon" *ngIf="item.type.type_name=='Event'">
              <i class="{{item.type.icon}}" style="margin-right:3px"></i>
              <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
             
              <ion-label>{{item.type.type_name}}</ion-label>
            </ion-chip>
            <ion-chip class="spiritual_icon" *ngIf="item.type.type_name=='Spiritual'">
              <i class="{{item.type.icon}}" style="margin-right:3px"></i>
              <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
             
              <ion-label>{{item.type.type_name}}</ion-label>
            </ion-chip>
            <ion-chip class="cognitive_icon" *ngIf="item.type.type_name=='Cognitive'">
              <i class="{{item.type.icon}}" style="margin-right:3px"></i>
              <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
             
              <ion-label>{{item.type.type_name}}</ion-label>
            </ion-chip>
            <ion-chip class="entertainment_icon" *ngIf="item.type.type_name=='Entertainment'">
              <i class="{{item.type.icon}}" style="margin-right:3px"></i>
              <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
             
              <ion-label>{{item.type.type_name}}</ion-label>
            </ion-chip>
            <ion-chip class="emotional_icon" *ngIf="item.type.type_name=='Emotional'">
              <i class="{{item.type.icon}}" style="margin-right:3px"></i>
              <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
             
              <ion-label>{{item.type.type_name}}</ion-label>
            </ion-chip>
            <ion-chip class="other_icon" *ngIf="item.type.type_name=='Other'">
              <i class="{{item.type.icon}}" style="margin-right:3px"></i>
              <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
             
              <ion-label>{{item.type.type_name}}</ion-label>
            </ion-chip>
          </ion-col>
         
        </ion-row>
      </ion-grid>

    </li>

    
</ul>


<ion-item style="width: 100%;margin-top:15px" lines="none" color="none" *ngIf="activity.length==0">
<ion-label style="width: 100%;text-align: center;color: dimgrey;" >No activities found</ion-label>
</ion-item>


</ion-content>



<style>
  ul.timeline {
    list-style-type: none;
    position: relative;
    top: 5px;
  }

  ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 9px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }

  ul.timeline>li {
    margin: 30px 0;
    padding-left: 30px;
  }

  ul.timeline>li:first-child {
    margin-top: 15px !important;
  }

  ul.timeline>li:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 2px;
    width: 10px;
    height: 10px;
    z-index: 400;
  }

  .timeline_label {
    font-size: 18px;
    font-weight: 500 !important;
    color: #1c1c1c;
    font-weight: normal;
    line-height: 25px;
    margin-block-start: 0;
    margin-block-end: 0px;
    margin-top: 8px;
  }


  
  .act_type ion-chip{
    margin-inline-start: 0;
    margin-bottom: 0;
    margin-inline-end: 0;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
  }

  @media (min-width: 768px) {

    /* .timeline p {
      display: inline-block !important;
      vertical-align: super !important;
      margin-right: 100px !important;
      margin-block-start: 0;
      margin-block-end: 0;
    } */


    /* .timeline img {
      float: right !important;
    } */

    .act_timeline_card {
      border-radius: 10px !important;
      border: 1px solid #dadada;
      /* background-color: #f7f7f7 !important; */
      /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important; */
      position: relative;
      padding-left: 5px !important;
      padding: 15px !important;
    }

    /* .act_timeline_card:before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 15px solid transparent;
      border-right: 15px solid #f7f7f7;
      border-top: 15px solid #f7f7f7;
      border-bottom: 15px solid transparent;
      left: -22px;
      top: 0px;
    } */

    .act_timeline_card ion-col.md {
      align-self: center;
      display: flex;
      /* justify-content: center; */
    }
.timeline_label{
  min-width: 163px;
}
  }



  @media (min-width: 314px) and (max-width: 767px) {

    .act_image {
      display: none !important;
    }
    .act_type {
    margin-top: 10px;
  }
  .act_time{
    margin-bottom: 10px;
  }

  }
</style>