ion-header {
  background-color: #0077b5 !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  padding: 10px 15px;

  ion-toolbar {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-end: 0px;

    // ion-grid {

    //     ion-row {
    //         ion-col {
    //             padding: 0px;
    //         }
    //     }
    // }
  }
}

ion-content {
  // --padding-start: 20px;
  // --padding-end: 20px;
  --padding-top: 5px;
  --padding-bottom: 10px;
}

.feed-category-sec {
  padding-top: 10px;
  background: #fff;
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 0px;
  --padding-bottom: 20px;
  --background: #fff;
}

ion-card {
  padding: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 1px;
}

.story-card {
  position: relative;
  padding: 15px 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-top: 0px;
  box-shadow: none !important;
  padding-bottom: 30px;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0 !important;
}

// ion-card-content {
//     // padding-inline-start: 0px;
//     // padding-inline-end: 0px;
//     padding-top: 15px;
//     padding-bottom: 15px;
// }
ion-card-content {
  // -webkit-padding-start: 0;
  // padding-inline-start: 0;
  // -webkit-padding-end: 0;
  // padding-inline-end: 0;
  padding: 10px 0px 15px !important;
  color: #626262;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

ion-input {
  border-radius: 6px;
  background: #f5f5f5;
  margin-left: 10px;
  margin-right: 0px;
  font-size: 15px !important;
  padding-left: 10px !important;
  min-height: 35px !important;
  --padding-top: 0px;
  --padding-end: 0;
  --padding-bottom: 0px;
  --padding-start: 0px;
}

.story_head_container {
  ion-avatar {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  // ion-avatar:nth-child(2) {
  //   position: absolute;
  //   left: 36px
  // }
  ion-avatar + ion-avatar {
    margin-left: -10px;
  }
}

.card-content-ios {
  padding-top: 15px;
  padding-bottom: 0px !important;
}

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  // z-index: 200;
  bottom: 0px;
  opacity: 0.8;
  background: none !important;
}

.play_icon {
  position: absolute;
  top: 40%;
  font-size: 60px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.view-count-icon {
  color: #a9a9a9;
  font-size: 24px !important;
}

.display_flexend {
  display: flex;
  justify-content: flex-end;
}

.view-count {
  font-size: 13px;
  color: #a9a9a9;
  margin-left: 10px;
  align-self: center;
  margin-top: -3px;
}

.no_inline_margin {
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}

div.item-native div.item-native::after {
  padding: 0px !important;
}

.no_padding_inline {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.no_padding_inline ion-row,
ion-col {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.story_head_container {
  // min-width: 68%;
  // margin-top: 20px;
  margin-left: 15px;
}

.story_heading {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #1c1c1c !important;
  line-height: 20px !important;
}

.author_name {
  font-family: "Roboto", sans-serif;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #a6a6a6 !important;
}

.post_time {
  font-family: "Roboto", sans-serif;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #a6a6a6 !important;
  margin-left: 20px;
}

.activity_time {
  font-family: "Roboto", sans-serif;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #a6a6a6 !important;
}

.story_pin {
  // position: absolute;
  margin-top: -16px;
  width: 23px;
  height: 29px;
  // left: 91%;
  float: right;
}

.story_text {
  color: #818181;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

.story_text p {
  color: #818181;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

//   .line-clamp {
//     display: -webkit-box;
//     -webkit-line-clamp: 4;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     max-height: 108px;
//     margin-bottom: 10px;
//     text-overflow: ellipsis;
//     word-break: break-word;
//   }

.comments_sep_stories {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px !important;
  margin-bottom: 15px;
}

.comments_sep_story_details {
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 10px !important;
  margin-bottom: 15px;
}

.likes {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #a6a6a6;
  margin-left: 10px;
  position: relative;
  top: -3px;
}

.comments {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #a6a6a6;
  margin-left: 10px;
  position: relative;
  top: -3px;
}

.user_comments {
  color: #5c5c5c !important;
  font-family: "Roboto", sans-serif;
  font-size: 15px !important;
  margin-left: 20px;
  line-height: 20px !important;
  padding-left: 20px;
}

.comment_username {
  margin-left: 20px;
  font-size: 12px !important;
  font-weight: normal !important;
  color: #a6a6a6 !important;
}

.comment_time {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #a6a6a6;
  margin-right: 8px !important;
}

.react_icons {
  width: 20px !important;
  height: 20px !important;
}

//   .more_btn {
//     background-image: url(assets/more.svg);
//     background-repeat: no-repeat;
//     position: relative;
//     left: 34px;
//   }

.sep_line {
  width: 95%;
  color: #c8c8c8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comments_default_user_avatar {
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background: #ccc;
  width: 30px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  ion-label {
    font-size: 18px;
    font-weight: bold;
  }
}

.bg-red.bg-lighten-4 {
  background-color: #ffcdd2 !important;
  color: #9742af !important;
}

.bg-red.bg-lighten-4.bg-glow {
  box-shadow: 0px 1px 20px 1px rgba(255, 205, 210, 0.6);
}

.bg-green.bg-lighten-4 {
  background-color: #e2ffee !important;
  color: #0b6a00 !important;
}

.bg-red.bg-lighten-4.bg-glow {
  box-shadow: 0px 1px 20px 1px rgba(226, 255, 238, 1);
}

.comments_container {
  // margin-top: 12px;
  margin-bottom: 15px;

  ion-col:first-child {
    // margin-right: 20px !important;
  }
}

.profile_pic_thumb {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.send_btn {
  width: 30px;
  height: 30px;
  // top: -4px;
  // position: relative;
  // margin-inline-end: 0
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .feed-media {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .feed-media {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
  }
}

.act_time {
  color: #5e5e5e;
  font-family: "Roboto", sans-serif;
}

.activity_day {
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #0077b5;
  text-align: center;
}

.story_category_selector {
  font-family: "Roboto", sans-serif;
}