<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()">
          </ion-icon>
          <ion-label>Activities</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end">
          <!-- <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button> -->
          <ion-button class="filter-task-btn" (click)="filter()">
            <ion-icon name="funnel-outline"></ion-icon>
          </ion-button>
          <!-- <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button> -->
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12">

          <ion-searchbar class="hdr-task-searchbar" (ionCancel)="cancel()" [(ngModel)]="terms"
          (ionChange)="search()"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec" *ngIf="count">

    <ion-segment class="fts-segment" scrollable  mode="md" (ionChange)="changeStatus($event)" value="{{status}}">

      <ion-segment-button class="seg-upcoming-activities" value="0">

        <ion-label>Upcoming activities
          <span class="uac">{{count.upcoming}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-attended-activities" value="1">

        <ion-label>Attended
          <span class="aac">{{count.attended}}</span>
        </ion-label>

      </ion-segment-button>

      <ion-segment-button class="seg-declined-activities" value="2">

        <ion-label>Declined
          <span class="dac">{{count.declined}}</span>
        </ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-fab>

  <ng-container *ngFor="let item of activity">

  <div class="ro-select-date-sec">

    <div class="ro-date-sec">

      <!-- <ion-icon name="chevron-back-outline"></ion-icon> -->

      <ion-label>{{item.date|dateformat:'DD MMM YYYY'}}</ion-label>

      <!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->

    </div>

    <!-- <ion-button class="ro-month-select-sec-btn">

      <i class="las la-calendar"></i>

    </ion-button> -->

  </div>


  <ion-row>

    <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="mt-15" *ngFor="let act of item.activity" >

      <ion-card class="st-item-card" (click)="showDetails(act)">

        <ion-card-header class="s-stype st-activity">

          <ion-label>
            <ion-icon name="time-outline"></ion-icon>
            {{act.start_time}} - {{act.end_time}}
          </ion-label>

          <ion-label>
            <ion-icon name="pulse-outline"></ion-icon>
            Activity
          </ion-label>

        </ion-card-header>

        <ion-card-content>

          <div class="mc-box">

            <ion-label>
             {{act.title}}
            </ion-label>

          </div>

          <div class="act-details-box">

            <ion-chip class="activity-type" [class.act-social]="act.type.type_name=='Social'"
            [class.act-physical]="act.type.type_name=='Physical'"
            [class.act-spiritual]="act.type.type_name=='Spiritual'"
            [class.act-emotional]="act.type.type_name=='Emotional'"
            [class.act-cognitive]="act.type.type_name=='Cognitive'" 
            [class.act-trip]="act.type.type_name=='Trip'"
            [class.act-entertainment]="act.type.type_name=='Entertainment'"
            [class.act-event]="act.type.type_name=='Event'" 
            [class.act-meeting]="act.type.type_name=='Meeting'"
            [class.act-other]="act.type.type_name=='Other'">
              <i class="{{act.type.icon}}"></i>
              <link rel="stylesheet"
                  href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
              <ion-label>{{act.type.type_name}}</ion-label>
            </ion-chip>

            <ion-label class="act-status as-declined" *ngIf="act.assigned_residents[0].action==2">
              <ion-icon name="close-circle-sharp"></ion-icon>
              Declined
            </ion-label>
            <ion-label class="act-status as-attended" *ngIf="act.assigned_residents[0].action==1">
              <ion-icon name="checkmark-circle"></ion-icon>
              Attended
            </ion-label>
            <ion-label class="act-status as-attended" *ngIf="!act.assigned_residents[0].action">
              <ion-icon name="ellipse" class="assigned-icon"></ion-icon>
              Assigned
            </ion-label>

          </div>

          <div class="activity-comment" *ngIf="act.assigned_residents[0].reason">

            <ion-label>
              {{act.assigned_residents[0].reason}}
            </ion-label>

          </div>

        </ion-card-content>


      </ion-card>

    </ion-col>


  </ion-row>





</ng-container>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="activity.length">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

<div *ngIf="activity.length==0">
  <ion-thumbnail
    style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
    <img src="assets/no-data-icon.svg">
  </ion-thumbnail>

  <ion-item lines="none" color="none" style="margin-top: 25px;">
    <ion-label
      style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
      No Data Found</ion-label>
  </ion-item>
</div>

</ion-content>