.comment-text {
    font-weight: normal;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 0px 8px !important;
    border-radius: 6px !important;
    white-space: pre-line !important;
    text-align: center;
    color: #6c6c6c;
}
