<ion-item lines="none" style="margin-top: 25px;width: 100%;">
  <ion-label
    style="font-weight: 500;margin-right: auto;margin-left: auto; margin-top:0;margin-bottom:0; text-align: center;align-self: center;font-size:20px;color: #252525;"
    color="primary">Comments</ion-label>
</ion-item>

<ion-item lines="none" color="none" style="margin-top: 5px;width:100%;margin-bottom: 10px;">
  <ion-label class="comment-text">{{data}}</ion-label>
</ion-item>