ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 30px;
    --padding-bottom: 30px;
}

.email-warning-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100vh;

    .ews-thumb {
        width: 80px;
    }

    .ews-title {
        font-size: 18px;
        font-weight: 600;
        color: #252525;
        margin-top: 15px;
    }

    .ews-description {
        font-family: "Roboto", sans-serif !important;
        font-size: 16px;
        color: #252525;
        text-align: center;
        line-height: 25px;
        margin-top: 15px;
    }

    .ews-close-btn {
        --background: #0077b5;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 25px;
        --padding-end: 25px;
        color: #fff;
        text-transform: none;
        font-size: 15px;
        font-weight: normal;
    }
}
