<ion-content>

  <div class="email-warning-sec">

    <img src="/assets/email-warning-icon.svg">

    <ion-label class="ews-title">Email ID already exists</ion-label>

    <p class="ews-description">
      Another Resident has been registered with the same email iD, if this resident shares the same email ID, please
      select 'Do not have an email' and enter the email ID in the communication email field.
    </p>

    <ion-button class="modal-close-btn" (click)="close()">Close</ion-button>

  </div>


</ion-content>