<ion-item lines="none" style="margin-top: 25px;width: 100%;">
  <ion-label
    style="font-weight: 500;margin-right: auto;margin-left: auto;text-align: center;align-self: center;font-size:20px"
    color="primary">Additional visitors</ion-label>
</ion-item>

<ion-card class="rel_details_card" >
 
  <ion-label class="relprofile_consumer_name1" *ngFor="let item of data">{{item.name}}</ion-label>
 
</ion-card>
