ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    // --background: #eee;
    font-family: "Open Sans", sans-serif;
}

.post-category-sec {
    --padding-start: 0px;
    --inner-padding-end: 0px;

    ion-chip {
        padding: 10px 18px;
        height: 40px;
        background: #f3f3f3;
        border-radius: 50px;

        ion-icon {
            font-size: 25px;
            color: #707070;
        }

        i {
            font-size: 25px;
            color: #707070;
        }

        ion-label {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            color: #707070;
            white-space: pre-line;
            word-break: break-word;
            margin-left: 10px;
        }
    }

    .chip-story {
        ion-label {
            margin-left: 0px;
        }
    }

    .chip-announcement {
        margin-left: 12px;

        ion-label {
            margin-left: 5px;
        }
    }

    .story-selected {
        background-color: #ffe9e9;

        ion-icon {
            color: #c65c5c !important;
        }

        ion-label {
            color: #c65c5c !important;
        }
    }

    .annoucement-selected {
        background: #fcdbff !important;

        i {
            color: #ac37b7 !important;
        }

        ion-label {
            color: #ac37b7 !important;
        }
    }
}

$light-grey: #ececec;
$clouds: #ecf0f1;

.story-checked {
    input[type="radio"]:checked {
        // margin: 0;
        --color-checked: #c65c5c !important;
        // filter: hue-rotate(541deg) !important;
        // width: 20px;
        // height: 18px;
    }
}

.announcement-checked {
    input[type="radio"] {
        margin: 0;
        --color-checked: #c65c5c !important;
        filter: hue-rotate(430deg) !important;
        width: 20px;
        height: 18px;
    }
}

.consumer-about-info {
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
}

// Layout
.row {
    display: flex;

    .col {
        flex: 1;

        &:last-child {
            margin-left: 0;
        }
    }
}

/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;

    &-label {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        // background: $light-grey;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: normal;
        cursor: pointer;
        color: #707070;

        /* Icon */
        &:hover {
            background: transparent;
        }

        &::after {
            content: "❯";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all 0.35s;
            color: #9a9a9a;
            transform: rotate(90deg);
            align-self: center;
        }
    }

    &-content {
        max-height: 0;
        padding: 0 1em;
        color: $light-grey;
        background: white;
        transition: all 0.35s;
    }

    &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: $light-grey;
        cursor: pointer;

        &:hover {
            background: darken($light-grey, 10%);
        }
    }
}

// :checked
input:checked {
    + .tab-label {
        background: transparent;

        &::after {
            transform: rotate(-90deg);
        }
    }

    ~ .tab-content {
        max-height: 100vh;
        padding: 0em 1em;
    }
}

.uploaded-images-container {
    // margin-top: 20px;
    // display: block;
    margin-top: 5px;
    width: 100%;

    ion-col {
        margin-right: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border-radius: 8px;
        border: 1px solid #d9e3f1;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;

        ion-label {
            color: #000;
            max-width: 88%;
            white-space: pre-wrap;
            word-break: break-word;
        }
    }
}

.uploaded-image {
    width: 80px;
    height: 80px;

    img {
        border-radius: 4px;
    }
}

.remove-img {
    // width: 23px;
    // height: 23px;
    // position: absolute;
    // top: 0px;
    // left: 48px;
    // z-index: 999;
    width: 23px;
    height: 23px;
    width: 23px;
    height: 23px;
    position: absolute;
    background: #ffff;
    border-radius: 50px;
    top: -5px;
    right: -5px;
    z-index: 999;
}

.remove-file {
    width: 23px;
    height: 23px;
    position: absolute;
    // top: 5px;
    top: 10px;
    right: 8px;
    z-index: 999;
    color: #c00009;
}

.uploaded-data {
    margin: 10px;

    .uploaded-image {
        width: 50px;
        height: 50px;

        ion-icon {
            font-size: 25px;
            color: #c00009;
        }
    }
}

.upload-files {
    margin-bottom: 0px !important;
    margin-top: 20px;
}

.uploaded-doc-container {
    margin-top: 15px;
    width: 100%;

    ion-col {
        margin-right: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border-radius: 8px;
        border: 1px solid #d9e3f1;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;

        ion-label {
            font-size: 15px;
            color: #000;

            i {
                font-size: 18px;
                margin-right: 5px;
            }
        }

        span {
            display: flex;

            .remove-file {
                position: unset !important;
            }
        }
    }
}

.ufile-btn {
    --box-shadow: none;
    --background: #e5f6ff;
    --border-radius: 50px;
    --background-activated: #95daff;
    --padding-start: 8px;
    --padding-end: 12px;
    color: #5888a1;
    text-transform: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    margin: 0;
    max-width: initial;

    ion-icon {
        font-size: 28px;
        // margin: 0px 5px;
        margin: 0 3px 0 0px;
    }
}

ion-radio-group {
    ion-item {
        --min-height: auto;
        --inner-padding-end: 0;
        --padding-start: 0;
        display: inline-flex;
    }
}

.story-button1 {
    background-color: #ffe9e9;
    color: #c65c5c;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 50px;
    --min-height: auto;
    --padding-start: 0;
    --inner-padding-end: 0;
    max-width: fit-content;
    // height: 35px;
    display: inline-flex;

    ion-item {
        ion-radio {
            margin: 0;
            --color-checked: #c65c5c;
            // filter: hue-rotate(541deg);
            width: 20px;
            height: 18px;
        }

        ion-label {
            margin: 0px 0px 0px 10px;
            color: #c65c5c;
        }
    }
}

.announcement {
    background-color: #fcdbff;
    color: #ac37b7;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 50px;
    --min-height: auto;
    --padding-start: 0;
    --inner-padding-end: 0;
    max-width: fit-content;
    // height: 35px;
    display: inline-flex;
    margin-left: 20px;

    ion-item {
        ion-radio {
            margin: 0;
            --color-checked: #ac37b7;
            // filter: hue-rotate(430deg);
            width: 20px;
            height: 18px;
        }

        ion-label {
            margin: 0px 0px 0px 10px;
            color: #ac37b7;
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 360px) {
    .remove-img {
        width: 23px;
        height: 23px;
        position: absolute;
        background: #ffff;
        border-radius: 50px;
        // top: -5px;
        // right: -20px;
        top: -10px;
        right: -8px;
        z-index: 999;
    }
}

ion-toggle {
    --background: #c8cfda;
    --background-checked: #dcf3ff;
    --handle-background-checked: #0077b5;
    --handle-width: 20px;
    --handle-height: 20px;
    --handle-spacing: 3px;
    --handle-background: #ffffff;
    padding: 0;
}

.ca-toggle-switch {
    float: right;
    width: 55px;
    height: 25px;
    padding-inline: 0;
}

.tag-consumers {
    margin-bottom: 0px !important;

    ion-col {
        display: flex;
        align-items: center;

        .thumb-icon {
            color: #707070;
            font-size: 28px;
        }

        ion-label {
            color: #222;
            font-size: 16px;
            margin-left: 10px;
        }

        .arrow-icon {
            color: #999999;
            font-size: 22px;
            margin-left: auto;
        }
    }
}

.vtc {
    display: flex;
    align-items: center;
    color: #a4a4a4;
    font-size: 15px;
    // padding-left: 57px;
    padding-left: 38px;
    position: absolute;
    top: -7px;

    ion-icon {
        font-size: 18px;
        margin-left: 5px;
    }

    .vs-count {
        margin: 0px 0px 0px 10px;
        --padding-top: 5px;
        --padding-end: 5px;
        --padding-bottom: 5px;
        --padding-start: 5px;
        --background: rgb(255 0 85 / 15%);
        color: #e91e63;
        border-radius: 50px;
        font-size: 15px;
        font-weight: normal;
        min-width: 30px;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.sep-border {
    border-bottom: 1px dashed #dedede;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.consumer-about-info {
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: none;
    border: 1px solid #dfdfdf;

    .consumer-about-form {
        ion-datetime {
            background: #f3f3f3;
            border: none;
            border-radius: 10px;
            color: #1c1c1c !important;
            --padding-start: 15px;
            --padding-end: 15px;
            font-family: "Open Sans", sans-serif;
            margin-top: 0;
        }

        .act-select-category {
            .opt-label {
                ion-label {
                    font-family: "Open Sans", sans-serif;
                    color: #222;
                }
            }

            ion-item {
                ion-select {
                    background: #f3f3f3;
                    border-radius: 10px;
                    border: none;
                    color: #222;
                    height: 50px;
                    --placeholder-opacity: 0.6;
                    --padding-start: 15px;
                    --padding-end: 15px;
                    font-family: "Open Sans", sans-serif;
                    margin-top: 2px;
                    width: 100%;
                }
            }
        }
    }
}

ion-footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fff;

    .publish-btn {
        text-transform: capitalize;
        --border-radius: 50px;
        --background: #0077b5;
        --box-shadow: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        width: auto;
        height: 55px;
        max-width: 95%;
    }
}

ion-input {
    color: #222;
}

@media only screen and (min-width: 768px) {
    .uploaded-doc-container {
        ion-col {
            max-width: fit-content !important;
            margin: 5px !important;
        }
    }

    ion-footer {
        .publish-btn {
            max-width: 12%;
            height: 50px;
        }
    }
}

.footer-ios {
    padding-bottom: 0 !important;
}