<ion-content>

  <span class="thanks-info-container">


      <img src="assets/centrimlife-logo-inner.svg" class="img">


      <ion-label class="fgt_head">
        Thank You!!
        <!-- <span *ngIf="data!=1">
          Your feedback helps us to improve our service<br>Our staff get back to you to follow up
        </span> -->
        <span >
          Your feedback helps us to improve our service
        </span>
      </ion-label>


  </span>

</ion-content>
