ion-content {
    --padding-start:20px;
    --padding-end:20px;
    --padding-top:20px;
    --padding-bottom:20px;
}

.img {
    width: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.thanks-info-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.fgt_head {
    span {
        font-family: "Roboto", sans-serif;
        font-size: 18px !important;
    }
}

