<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="dismiss()">
          </ion-icon>
          <ion-label>Update password</ion-label>
        </ion-col>


      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="rv-add-contact-form">

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="rvac-form-label">New password<span class="asterisk">*</span></ion-label>

      <ion-input [(ngModel)]="newPassword"></ion-input>

    </ion-col>

    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" class="mb-15">

      <ion-label class="rvac-form-label">Confirm password<span class="asterisk">*</span></ion-label>

      <ion-input [(ngModel)]="confirmPassword"></ion-input>

    </ion-col>

  </ion-row>

</ion-content>


<ion-footer>

  <ion-item lines="none" color="none">

    <ion-button class="rvac-save-btn" (click)="update()">Update</ion-button>

    <ion-button class="rvac-cancel-btn" (click)="dismiss()">Cancel</ion-button>

  </ion-item>

</ion-footer>