<div class="inner-content">

  <ion-row>

    <ion-col size="12" (click)="dismiss(1)" *ngIf="maintenance_view">

      <ion-card class="ql-options-card">

        <div class="qloc-icon-box qloc-icon-box-1">
          <i class="las la-tools"></i>
        </div>

        <ion-label class="qloc-label">Create Maintenance request</ion-label>

      </ion-card>

    </ion-col>

    <ion-col size="12" (click)="dismiss(2)">

      <ion-card class="ql-options-card">

        <div class="qloc-icon-box qloc-icon-box-2">
          <i class="las la-plus"></i>
        </div>

        <ion-label class="qloc-label">Create service request</ion-label>

        <ion-chip class="beta-tag">Beta</ion-chip>

      </ion-card>

    </ion-col>

    <ion-col size="12" (click)="dismiss(3)" *ngIf="feedback">

      <ion-card class="ql-options-card">

        <div class="qloc-icon-box qloc-icon-box-3">
          <ion-icon name="star-outline"></ion-icon>
        </div>

        <ion-label class="qloc-label">Add feedback</ion-label>

      </ion-card>

    </ion-col>

    <ion-col size="12" (click)="dismiss(4)">

      <ion-card class="ql-options-card">

        <div class="qloc-icon-box qloc-icon-box-4">
          <i class="las la-exclamation-triangle"></i>
        </div>

        <ion-label class="qloc-label">Add incident</ion-label>

        <ion-chip class="beta-tag">Beta</ion-chip>

      </ion-card>

    </ion-col>

    <ion-col size="12" (click)="dismiss(5)" *ngIf="act_view">

      <ion-card class="ql-options-card">

        <div class="qloc-icon-box qloc-icon-box-5">
          <ion-icon name="calendar-clear-outline"></ion-icon>
        </div>

        <ion-label class="qloc-label">Book activity</ion-label>

      </ion-card>

    </ion-col>

    <ion-col size="12" (click)="dismiss(6)" *ngIf="task_view">

      <ion-card class="ql-options-card">

        <div class="qloc-icon-box qloc-icon-box-6">
          <ion-icon name="clipboard-outline"></ion-icon>
        </div>

        <ion-label class="qloc-label">Create task</ion-label>

      </ion-card>

    </ion-col>

    <ion-col size="12" (click)="dismiss(7)">

      <ion-card class="ql-options-card">

        <div class="qloc-icon-box qloc-icon-box-7">
          <i class="las la-door-open"></i>
        </div>

        <ion-label class="qloc-label">Mark away</ion-label>

      </ion-card>

    </ion-col>

  </ion-row>

</div>
