ion-header {
    .create-task-btn {
        --background: rgba(135, 181, 255, 0.3) !important;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 0;
        --padding-end: 0;
        width: 45px;
        height: 45px;
    }

    .filter-task-btn {
        --background: rgba(135, 181, 255, 0.3) !important;
        --box-shadow: none;
        --border-radius: 50px;
        --padding-start: 0;
        --padding-end: 0;
        width: 45px;
        height: 45px;
        margin-left: 15px;

        ion-icon,
        i {
            font-size: 25px;
        }
    }

    .hdr-task-searchbar {
        border-radius: 10px;
        background: #fff;
        color: #222;
        margin-top: 10px;
        padding: 10px;
        max-height: 48px;
    }
}

ion-content {
    --padding-start: 2px;
    --padding-end: 5px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    // --background: #efefef;
}

.custom-padding {
    --padding-top: 45px;
}

/*------------------------------------------- rv styles starts here ----------------------------------*/

.c-timeline-block {
    padding-left: 25px;

    .c-timeline {
        .c-timeline-date {
            font-size: 16px;
            font-weight: 600;
            color: #0077b5;
            margin-bottom: 20px;
            display: block;
        }

        .ct-content {
            background-color: #fff;
            border: 1px solid #d9e3f1;
            border-radius: 8px;
            position: relative;
            margin-bottom: 30px;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                top: 19px;
                left: -19px;
                border-left: 2px dotted #d9e3f1;
                height: 100%;
            }

            .ct-content-inner {
                position: relative;
                padding: 0px 0 10px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -29px;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background: #ccc;
                    border: 4px solid #ffffff;
                }

                .ct-ci-title {
                    // display: flex;
                    // flex-wrap: wrap;
                    // align-items: center;
                    // padding: 8px 12px;
                    // background: #eaeaea;
                    // border-radius: 6px 6px 0 0;

                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 8px 12px;
                    background: transparent;
                    border-radius: 6px 6px 0 0;
                    color: #840056 !important;
                    border-bottom: 1px solid #d9e3f1;

                    .ai-name {
                        width: 100%;
                        padding-right: 8px;
                        // margin-bottom: 2px;
                        margin-bottom: 0px;
                        display: flex;
                        align-items: center;
                        position: relative;

                        ion-icon {
                            font-size: 20px;
                            margin-right: 10px;
                        }

                        .health-plus-icon {
                            font-size: 11px;
                            position: absolute;
                            left: 4px;
                            top: 9px;
                        }

                        span {
                            font-weight: 600;
                        }
                    }

                    .ai-time {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        color: #545454;

                        .ai-cb {
                            padding-right: 0;
                            flex-grow: 1;
                            font-size: 14px;

                            i {
                                font-size: 18px;
                                margin-right: 5px;
                                position: relative;
                                top: 2px;
                            }

                            span {
                                font-family: "Open Sans", sans-serif;
                            }
                        }

                        .ai-dt {
                            padding-right: 0;
                            flex-grow: 5;
                            font-size: 14px;
                            margin-left: 10px;

                            i {
                                font-size: 18px;
                                margin-right: 2px;
                                position: relative;
                                top: 2px;
                            }

                            span {
                                font-family: "Open Sans", sans-serif;
                            }
                        }

                        .ai-options {
                            position: absolute;
                            top: 8px;
                            right: 4px;

                            ion-icon {
                                font-size: 20px;
                                color: #858585 !important;
                            }
                        }
                    }
                }

                .ct-ci-content {
                    // padding: 12px 15px;
                    padding: 0;

                    .inner-details {
                        p {
                            color: #252525;
                            font-size: 16px;
                            // font-family: "Open Sans", sans-serif;
                            font-family: "Roboto", sans-serif;
                            margin: 0 0 0px;
                            padding: 10px 15px 0;
                            line-height: 24px;
                        }

                        .ct-file-block {
                            display: flex;
                            flex-wrap: wrap;
                            padding: 15px 15px 0;
                            margin: 0;

                            .ctf-img-item-box {
                                // width: 25%;
                                width: 100%;
                                max-width: fit-content;
                                // margin: 10px 15px 10px;
                                padding: 5px;
                                margin: 5px;
                                display: flex;
                                align-items: center;
                                border: 1px solid #d9e3f1;
                                border-radius: 10px;

                                // &:nth-child(even) {
                                //     margin: auto 15px;
                                // }

                                // &:last-child {
                                //     margin-bottom: 0px;
                                // }

                                .ct-img-avatar {
                                    width: 100px;
                                    height: 100px;
                                    --border-radius: 6px;

                                    img {
                                        max-width: 100%;
                                    }
                                }

                                .ct-file-name {
                                    font-family: "Open Sans", sans-serif;
                                    font-size: 15px;
                                    color: #252525;
                                    margin-left: 10px;
                                    max-width: 75%;
                                }

                                .ct-file-download-icon {
                                    font-size: 25px;
                                    color: #979797;
                                    margin-left: 10px;
                                }
                            }

                            .ctf-doc-item-box {
                                // width: 25%;
                                // margin: 10px 15px 10px;
                                width: 100%;
                                padding: 10px;
                                margin: 5px;
                                display: flex;
                                align-items: center;
                                border: 1px solid #d9e3f1;
                                border-radius: 10px;

                                // &:nth-child(even) {
                                //     margin: auto 15px;
                                // }

                                // &:last-child {
                                //     margin-bottom: 0px;
                                // }

                                .ct-doc-icon {
                                    // width: 32px;
                                    // height: 32px;
                                    // --border-radius: 6px;
                                    width: 32px;
                                    height: 32px;
                                    --border-radius: 0px;

                                    img {
                                        max-width: 100%;
                                    }
                                }

                                .ct-file-name {
                                    font-family: "Roboto", sans-serif !important;
                                    font-size: 15px;
                                    color: #252525;
                                    margin-left: 10px;
                                    max-width: 75%;
                                }

                                .ct-file-download-icon {
                                    font-size: 25px;
                                    color: #979797;
                                    margin-left: auto;
                                }
                            }
                        }

                        .ai-time {
                            // width: 100%;
                            // display: flex;
                            // flex-wrap: wrap;
                            // justify-content: flex-start;
                            // color: #545454;
                            width: 95%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            color: #545454;
                            padding: 5px 5px 0;
                            border-top: 1px solid #d9e3f1;
                            margin: 10px auto 0;

                            .ai-cb {
                                padding-right: 0;
                                flex-grow: 1;
                                font-size: 14px;

                                i {
                                    font-size: 18px;
                                    margin-right: 5px;
                                    position: relative;
                                    top: 2px;
                                }

                                span {
                                    // font-family: "Open Sans", sans-serif;
                                    font-family: "Roboto", sans-serif;
                                    font-size: 13px;
                                }
                            }

                            .ai-dt {
                                padding-right: 0;
                                flex-grow: 5;
                                font-size: 14px;
                                margin-left: 10px;

                                i {
                                    font-size: 18px;
                                    margin-right: 2px;
                                    position: relative;
                                    top: 2px;
                                }

                                span {
                                    // font-family: "Open Sans", sans-serif;
                                    font-family: "Roboto", sans-serif;
                                    font-size: 13px;
                                }
                            }

                            .ai-options {
                                position: absolute;
                                top: 10px;
                                right: 5px;

                                ion-icon {
                                    font-size: 20px;
                                    color: #858585 !important;
                                }
                            }
                        }

                        .ct-additional-note-count-block {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            border-top: 1px solid #d9e3f1;
                            margin-top: 10px;
                            padding: 10px 15px 0px;

                            ion-icon {
                                font-size: 22px;
                                color: #0077b5;
                            }

                            ion-label {
                                font-family: "Open Sans", sans-serif;
                                font-size: 15px;
                                color: #0077b5;
                                margin-left: 5px;

                                span {
                                    font-weight: 700;
                                    font-size: 17px;
                                }
                            }
                        }

                        .ct-ad-note-block {
                            border-top: 1px dashed #d9d9d9;
                            // margin-top: 18px;
                            margin-top: 10px;
                            padding-top: 10px;
                            padding-left: 15px;
                            padding-right: 15px;
                            padding-bottom: 4px;

                            .ctan-title {
                                .ctt-head-label {
                                    font-family: "Open Sans", sans-serif;
                                    font-size: 17px;
                                    color: #7e7e7e;
                                }
                            }

                            .ctan-item {
                                margin-top: 10px;
                                margin-bottom: 10px;

                                .ctan-item-inner {
                                    padding: 10px 15px;
                                    border: 1px solid #f3f3f3;
                                    border-radius: 6px;
                                    background: #fafafa;

                                    p {
                                        font-family: "Open Sans", sans-serif;
                                        font-size: 16px;
                                        color: #252525;
                                        margin: 0 0 5px;
                                        padding-top: 0;
                                        padding-left: 0;
                                        padding-bottom: 0;
                                        line-height: 24px;
                                    }

                                    .an-ct-file-block {
                                        display: flex;
                                        flex-wrap: wrap;
                                        padding: 0px;
                                        margin: 0px;
                                        // gap: 10px;

                                        .ctf-img-item-box {
                                            width: 100%;
                                            max-width: fit-content;
                                            padding: 5px;
                                            margin: 5px;
                                            display: flex;
                                            align-items: center;
                                            border: 1px solid #d9e3f1;
                                            border-radius: 10px;
                                            position: relative;

                                            // &:nth-child(even) {
                                            //     margin: auto 5px;
                                            // }

                                            // &:last-child {
                                            //     margin-bottom: 0px;
                                            // }

                                            .ct-img-avatar {
                                                // width: 32px;
                                                // height: 32px;
                                                // --border-radius: 6px;
                                                width: 100px;
                                                min-width: 100px;
                                                max-width: 100px;
                                                height: 100px;
                                                --border-radius: 6px;

                                                img {
                                                    max-width: 100%;
                                                }
                                            }

                                            .ct-file-name {
                                                font-family: "Open Sans", sans-serif;
                                                font-size: 15px;
                                                color: #252525;
                                                margin-left: 10px;
                                                max-width: 75%;
                                            }

                                            .ct-file-download-icon {
                                                font-size: 25px;
                                                min-width: 25px;
                                                max-width: 25px;
                                                color: #979797;
                                                margin-left: 10px;
                                            }

                                            .ctf-mo-icon {
                                                font-size: 15px;
                                                color: #575656 !important;
                                                position: absolute;
                                                z-index: 9999;
                                                right: 8px;
                                                top: 8px;
                                                background: #fff;
                                                border-radius: 50px;
                                                padding: 5px;
                                            }
                                        }

                                        .ctf-doc-item-box {
                                            width: 100%;
                                            padding: 10px;
                                            margin: 5px 0;
                                            display: flex;
                                            align-items: center;
                                            border: 1px solid #d9e3f1;
                                            border-radius: 10px;

                                            // &:nth-child(even) {
                                            //     margin: auto 5px;
                                            // }

                                            // &:last-child {
                                            //     margin-bottom: 0px;
                                            // }

                                            .ct-doc-icon {
                                                // width: 32px;
                                                // height: 32px;
                                                // --border-radius: 6px;
                                                width: 32px;
                                                min-width: 32px;
                                                max-width: 32px;
                                                height: 32px;
                                                --border-radius: 0px;

                                                img {
                                                    max-width: 100%;
                                                }
                                            }

                                            .ct-file-name {
                                                font-family: "Roboto", sans-serif !important;
                                                font-size: 15px;
                                                color: #252525;
                                                margin-left: 10px;
                                                max-width: 75%;
                                            }

                                            .ct-file-download-icon {
                                                font-size: 25px;
                                                min-width: 25px;
                                                max-width: 25px;
                                                color: #979797;
                                                margin-left: auto;
                                            }

                                            .ctf-mo-icon {
                                                font-size: 20px;
                                                min-width: 18px;
                                                color: #858585 !important;
                                                margin-left: 5px;
                                                margin-right: -5px;
                                            }
                                        }

                                        & + .an-info {
                                            margin-top: 10px;
                                        }
                                    }

                                    .an-info {
                                        display: flex;
                                        align-items: center;
                                        flex-wrap: wrap;
                                        color: #75808b;
                                        font-family: "Roboto", sans-serif !important;
                                        font-size: 15px;

                                        .ani-cb {
                                            margin-right: 15px;

                                            i {
                                                margin-right: 5px;
                                            }

                                            span {
                                                font-family: "Roboto", sans-serif !important;
                                            }
                                        }

                                        .ani-dt {
                                            display: flex;
                                            align-items: center;

                                            i {
                                                font-size: 17px;
                                                margin-right: 0px;
                                            }

                                            span {
                                                font-size: 13px;
                                                font-family: "Roboto", sans-serif !important;
                                                margin-left: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .obs-note {
            .ct-content-inner {
                &::before {
                    background: #ff00bd !important;
                }

                .ct-ci-title {
                    // background: #ffe2f5 !important;
                    // color: #840056 !important;
                    background: #ffffff;
                    color: #840056 !important;
                    border-bottom: 1px solid #d9e3f1;
                }

                .ai-time {
                    .ai-options {
                        ion-icon {
                            font-size: 20px !important;
                            color: #840056 !important;
                        }
                    }
                }
            }
        }

        .health-note {
            .ct-content-inner {
                &::before {
                    background: #c000ff !important;
                }

                .ct-ci-title {
                    // background: #f7e8ff !important;
                    // color: #5b0079 !important;

                    background: #ffffff;
                    color: #840056 !important;
                    border-bottom: 1px solid #d9e3f1;
                }

                .ai-time {
                    .ai-options {
                        ion-icon {
                            font-size: 20px !important;
                            color: #5b0079 !important;
                        }
                    }
                }
            }
        }

        .call-note {
            .ct-content-inner {
                &::before {
                    background: #ff4d4d !important;
                }

                .ct-ci-title {
                    // background: #FBDCDC !important;
                    // color: #7B0809 !important;

                    background: #ffffff;
                    color: #840056 !important;
                    border-bottom: 1px solid #d9e3f1;
                }

                .ai-time {
                    .ai-options {
                        ion-icon {
                            font-size: 20px !important;
                            color: #7b0809 !important;
                        }
                    }
                }
            }
        }

        .email-note {
            .ct-content-inner {
                &::before {
                    background: #ffa84c !important;
                }

                .ct-ci-title {
                    // background: #FFECD8 !important;
                    // color: #783A00 !important;

                    background: #ffffff;
                    color: #840056 !important;
                    border-bottom: 1px solid #d9e3f1;
                }

                .ai-time {
                    .ai-options {
                        ion-icon {
                            font-size: 20px !important;
                            color: #783a00 !important;
                        }
                    }
                }
            }
        }

        .general-note {
            .ct-content-inner {
                &::before {
                    background: #006ed0 !important;
                }

                .ct-ci-title {
                    // background: #CCF5FA !important;
                    // color: #006A77 !important;

                    background: #ffffff;
                    color: #840056 !important;
                    border-bottom: 1px solid #d9e3f1;
                }

                .ai-time {
                    .ai-options {
                        ion-icon {
                            font-size: 20px !important;
                            color: #006a77 !important;
                        }
                    }
                }
            }
        }

        .task-note {
            .ct-content-inner {
                &::before {
                    background: #2dcd7a !important;
                }

                .ct-ci-title {
                    // background: #CCF5FA !important;
                    // color: #006A77 !important;

                    background: #ffffff;
                    color: #840056 !important;
                    border-bottom: 1px solid #d9e3f1;
                }

                .ai-time {
                    .ai-options {
                        ion-icon {
                            font-size: 20px !important;
                            color: #006a77 !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .c-timeline-block {
        .c-timeline {
            .ct-content {
                .ct-content-inner {
                    .ct-ci-title {
                        flex-wrap: nowrap !important;

                        .ai-name {
                            width: 35% !important;
                        }

                        .ai-time {
                            width: 65% !important;
                            display: flex;
                            justify-content: flex-end;
                            max-width: fit-content;
                            margin-left: auto;
                            margin-right: 20px;

                            .ai-dt {
                                margin-left: 15px;
                            }

                            .ai-options {
                                top: 12px !important;
                            }
                        }
                    }

                    .ct-ci-content {
                        .inner-details {
                            .ct-file-block {
                                // margin: 20px 15px;

                                .ctf-item-box {
                                    width: 100%;
                                    // margin: 10px 10px 10px 0;
                                    margin: 5px;
                                    max-width: fit-content;

                                    ion-avatar {
                                        width: 34px !important;
                                        height: 35px !important;
                                        --border-radius: 15px !important;
                                    }

                                    .ct-file-name {
                                        max-width: 100%;
                                    }

                                    .ct-file-download-icon {
                                        margin-left: 15px;
                                    }
                                }
                            }

                            .ai-time {
                                width: 98% !important;

                                .ai-cb {
                                    max-width: fit-content;
                                }

                                .ai-dt {
                                    margin-left: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.rv-res-note-show-more {
    color: #0077b5;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.rv-res-note-show-less {
    color: #0077b5;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.fixed-top-sec {
    // padding: 0 10px;
    padding: 0 10px;
    flex-direction: column;
    border: 1px solid #e7e7e7;

    .show-result-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 5px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;

        .srb-inner-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .srb-left-sec {
                display: flex;
                align-items: center;
                margin-top: 5px;

                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    color: #464855;
                    white-space: nowrap;
                    margin: 0;
                }

                // .filter-results {
                //     font-family: "Roboto", sans-serif;
                //     font-size: 13px;
                //     font-weight: 600;
                //     color: #464855;
                //     white-space: nowrap;
                //     padding-left: 5px;
                // }
            }

            .srb-right-sec {
                display: flex;
                align-items: center;
                // border-left: 1px solid #6c6c6c;
                // padding-left: 8px;
                margin-top: 5px;

                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    color: #464855;
                    margin: 0;
                }

                ion-icon {
                    color: #c13333;
                    // background: #ffd3d3;
                    border-radius: 50px;
                    // padding: 3px;
                    padding: 0 0 0 3px;
                    width: 15px;
                    height: 15px;
                }
            }

            .filtered-results-box {
                .filtered-results {
                    font-family: "Roboto", sans-serif;
                    font-size: 13px;
                    font-weight: 500;
                    color: #252525;
                    white-space: pre-line;
                }
            }
        }
    }
}

/*------------------------------------------- rv styles ends here ----------------------------------*/
