<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name">
          <ion-icon name="arrow-back-outline" (click)="back()">
          </ion-icon>
          <ion-label>Notes</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end">
          <ion-button class="create-task-btn" (click)="createNote()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
          <ion-button class="filter-task-btn" (click)="noteFilter()">
            <!-- <ion-icon name="funnel-outline"></ion-icon> -->
            <i class="las la-filter"></i>
          </ion-button>
          <!-- <ion-button class="create-task-btn">
            <ion-icon name="add"></ion-icon>
          </ion-button> -->
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12">

          <ion-searchbar class="hdr-task-searchbar" (ionCancel)="cancel()" [(ngModel)]="terms"
            (ionChange)="search()"></ion-searchbar>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [class.custom-padding]="filter==1">

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="fixed-top-sec" *ngIf="filter==1">

    <div class="show-result-box">

      <div class="srb-inner-row">

        <!-- <div class="srb-left-sec">
			  <p>Results for : </p>
			</div> -->

        <div class="srb-right-sec">
          <p>Showing filtered results </p>
          <ion-icon name="close-sharp" (click)="removeFilter()"></ion-icon>
        </div>

      </div>

      <!-- <div class="srb-inner-row">

        <div class="filtered-results-box">



        </div>

      </div> -->

    </div>

  </ion-fab>

  <ion-row>

    <ion-col size="12">

      <div class="c-timeline-block">

        <div class="c-timeline">
          <ng-container *ngFor="let note of notes;let idx=index">

            <ion-label class="c-timeline-date">{{note.date|dateformat:'DD MMM YYYY'}}</ion-label>

            <div class="ct-content" *ngFor="let item of note.notes" [class.general-note]="item.note_type==1"
              [class.email-note]="item.note_type==2" [class.call-note]="item.note_type==3"
              [class.health-note]="item.note_type==4" [class.obs-note]="item.note_type==5"
              [class.dietary-note]="item.note_type==6" [class.other-note]="item.note_type==7"
              [class.task-note]="item.note_type==8">

              <div class="ct-content-inner">

                <div class="ct-ci-title">

                  <div class="ai-name">

                    <ion-icon name="document-text-outline"></ion-icon>

                    <span *ngIf="item.note_type==1">Note</span>
                    <span *ngIf="item.note_type==2">Email</span>
                    <span *ngIf="item.note_type==3">Logged a call</span>
                    <span *ngIf="item.note_type==4">Health Note</span>
                    <span *ngIf="item.note_type==5">Observation Note</span>
                    <span *ngIf="item.note_type==6">Dietary Note</span>
                    <span *ngIf="item.note_type==7">Other Note</span>
                    <span *ngIf="item.note_type==8">Task</span>

                  </div>

                  <!-- <div class="ai-time">

                  <div class="ai-cb" *ngIf="item.creator">
                    <i class="las la-user-edit"></i>
                    <span>{{item.creator.name}}</span>
                  </div>

                  <div class="ai-dt">
                    <i class="las la-clock"></i>
                    <span> {{item.event_date|dateformat:'DD MMM YYYY, hh:mm A'}}</span>
                  </div>

                  <div class="ai-options" (click)="options($event,item)">
                    <ion-icon name="ellipsis-vertical"></ion-icon>
                  </div>

                </div> -->

                </div>

                <div class="ct-ci-content">

                  <div class="inner-details">

                    <p *ngIf="item.note.length<=175">{{item.note}}</p>




                    <ng-container *ngIf="item.note.length>175">
                      <p id="{{'p1'+idx}}">{{item.note.substring(0,175)}}<span class="rv-res-note-show-more"
                          (click)="ShowContent('p1','p2',idx,'')">{{' '}}Show more...</span></p>
                      <p id="{{'p2'+idx}}" style="display:none">{{item.note}}<span class="rv-res-note-show-less"
                          (click)="ShowContent('p2','p1',idx,'')">{{' '}}Show less</span></p>
                    </ng-container>


                    <p *ngIf="item.event_date">Event date & time : {{formatDate(item.event_date,2)}}
                    </p>

                    <div class="ct-file-block" *ngIf="item.attachments&&item.attachments.length">

                      <ng-container *ngFor="let file of item.attachments" >
                        
                        <div class="ctf-img-item-box" (click)="open($event,file.note_attachment)" *ngIf="file.note_attachment.includes('.jpg')||file.note_attachment.includes('.jpeg')||file.note_attachment.includes('.png')">

                          <ion-avatar class="ct-img-avatar">
                            <img [src]="file.note_attachment">
                          </ion-avatar>

                        </div>
                        
                        <div class="ctf-doc-item-box" (click)="open($event,file.note_attachment)" *ngIf="file.note_attachment.includes('.pdf')||file.note_attachment.includes('.doc')||file.note_attachment.includes('.docx')||file.note_attachment.includes('.xls')||file.note_attachment.includes('.xlsx')">
                          
                          <ion-avatar class="ct-doc-icon">

                            <img class="rv-res-doc-icon" src="/assets/residents/doc-thumb.svg"
                              *ngIf="file.note_attachment.includes('.doc')||file.note_attachment.includes('.docx')">
                            <img class="rv-res-doc-icon" src="/assets/residents/pdf-thumb.svg"
                              *ngIf="file.note_attachment.includes('.pdf')">
                            <img class="rv-res-doc-icon" src="/assets/residents/excel-thumb.svg"
                              *ngIf="file.note_attachment.includes('.xlsx')||file.note_attachment.includes('.xls')">
                          </ion-avatar>

                          <ion-label class="ct-file-name">

                            {{getDocName(file.note_attachment)}}
                          </ion-label>

                          <ion-icon class="ct-file-download-icon" name="arrow-down-circle-sharp"></ion-icon>

                        </div>

                      </ng-container>

                    </div>

                    <div class="ai-time">

                      <div class="ai-cb" *ngIf="item.creator">
                        <i class="las la-user-edit"></i>
                        <span>{{item.creator.name}}</span>
                      </div>

                      <div class="ai-dt" *ngIf="item.created_time">
                        <i class="las la-clock"></i>
                        <span> {{formatDate(item.created_time,1)}}</span>
                      </div>

                      <div class="ai-options" (click)="options($event,item,1)">
                        <ion-icon name="ellipsis-vertical"></ion-icon>
                      </div>

                    </div>

                    <div class="ct-additional-note-count-block" *ngIf="item.additional&&item.additional.length"
                      (click)="expandItem(item)">

                      <ion-icon name="ellipsis-horizontal-circle-sharp"></ion-icon>

                      <ion-label>
                        <ng-container *ngIf="!item.expanded">Show</ng-container>
                        <ng-container *ngIf="item.expanded">Hide</ng-container>
                        <span> {{item.additional.length}}</span> Additional notes
                      </ion-label>

                    </div>

                    <div class="ct-ad-note-block" *ngIf="item.expanded">

                      <div class="ctan-title">

                        <ion-label class="ctt-head-label">Additional note</ion-label>

                      </div>

                      <div class="ctan-item" *ngFor="let add of item.additional;let i=index">

                        <div class="ctan-item-inner">

                          <p *ngIf="add.additonal_note.length<=175">{{add.additonal_note}} </p>

                          <ng-container *ngIf="add.additonal_note.length>175">
                            <p id="{{'a1'+idx+i}}">{{add.additonal_note.substring(0,175)}}<span style="color:#0077b5"
                                (click)="ShowContent('a1','a2',idx,i)">{{' '}}Show more...</span></p>
                            <p id="{{'a2'+idx+i}}" style="display:none">{{add.additonal_note}}<span
                                style="color:#0077b5" (click)="ShowContent('a2','a1',idx,i)">{{' '}}Show less</span></p>
                          </ng-container>



                          <div class="an-ct-file-block" *ngIf="add.attachments&&add.attachments.length">

                            <ng-container *ngFor="let file of add.attachments" >

                              <div class="ctf-img-item-box" (click)="open($event,file.attachment)" *ngIf="file.attachment.includes('.jpg')||file.attachment.includes('.jpeg')||file.attachment.includes('.png')">

                                <ion-avatar class="ct-img-avatar">
                                  <img [src]="file.attachment">
                                </ion-avatar>

                                <ion-icon class="ctf-mo-icon" name="ellipsis-vertical"
                                  (click)="options($event,file,2);$event.stopPropagation()"></ion-icon>

                              </div>

                              <div class="ctf-doc-item-box" (click)="open($event,file.attachment)" *ngIf="file.attachment.includes('.pdf')||file.attachment.includes('.doc')||file.attachment.includes('.docx')||file.attachment.includes('.xls')||file.attachment.includes('.xlsx')">

                                <ion-avatar class="ct-doc-icon">
                                  <img class="rv-res-doc-icon" src="/assets/residents/doc-thumb.svg"
                                    *ngIf="file.attachment.includes('.doc')||file.attachment.includes('.docx')">
                                  <img class="rv-res-doc-icon" src="/assets/residents/pdf-thumb.svg"
                                    *ngIf="file.attachment.includes('.pdf')">
                                  <img class="rv-res-doc-icon" src="/assets/residents/excel-thumb.svg"
                                    *ngIf="file.attachment.includes('.xlsx')||file.attachment.includes('.xls')">
                                </ion-avatar>
                                <ion-label class="ct-file-name">

                                  {{getDocName(file.attachment)}}
                                </ion-label>

                                <ion-icon class="ct-file-download-icon" name="arrow-down-circle-sharp"></ion-icon>

                                <ion-icon class="ctf-mo-icon" name="ellipsis-vertical"
                                  (click)="options($event,file,2);$event.stopPropagation()"></ion-icon>

                              </div>
                            </ng-container>

                          </div>




                          <div class="an-info">

                            <div class="ani-cb" *ngIf="add.creator">
                              <i class="las la-user-edit"></i>
                              <span>{{add.creator.name}}</span>
                            </div>

                            <div class="ani-dt">

                              <i class="las la-clock"></i>

                              <span> {{add.created_time|dateformat:'DD MMM YYYY'}}</span>

                            </div>

                          </div>

                        </div>

                      </div>



                    </div>



                  </div>

                </div>

              </div>

            </div>

          </ng-container>




        </div>

      </div>


    </ion-col>

  </ion-row>


  <div *ngIf="notes.length==0">
    <ion-thumbnail
      style="margin-left: auto;margin-right: auto;align-self: center;margin-top: 30px;margin-bottom: auto;height: 250px;width: 250px;">
      <img src="assets/no-data-icon.svg">
    </ion-thumbnail>

    <ion-item lines="none" color="none" style="margin-top: 25px;">
      <ion-label
        style="font-weight: 400;margin-right: auto;margin-left: auto;text-align: center;align-self: center;color:dimgray">
        No Data Found</ion-label>
    </ion-item>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="notes.length">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>