<div #expandWrapper class='expand-wrapper' [class.collapsed]="!expanded1">
  <ng-content></ng-content>
</div>
<div class='expand-wrapper' [class.collapsed]="!expanded2">
  <ng-content></ng-content>
</div>
<div class='expand-wrapper' [class.collapsed]="!expanded3">
  <ng-content></ng-content>
</div>
<div class='expand-wrapper' [class.collapsed]="!expanded4">
  <ng-content></ng-content>
</div>
<div class='expand-wrapper' [class.collapsed]="!expanded5">
  <ng-content></ng-content>
</div>
