<ion-header class="ion-header-inner">
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="12">
          <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
          <ion-label>Add Note</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="rv-note-creation-form">

    <ion-row>

      <!-- <ion-col class="opt-label" size="12">
        <ion-label>Choose an option</ion-label>
      </ion-col>

      <ion-col size="12" class="note-type-sec">

        <ion-chip class="general-note" (click)="setNoteType(1)" [class.selected-note-type]="note-type==1">
          <ion-icon name="create-outline"></ion-icon>
          <ion-label>Note</ion-label>
        </ion-chip>

        <ion-chip class="email-note" (click)="setNoteYype(2)" [class.selected-note-type]="note-type==2">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label>Email</ion-label>
        </ion-chip>

        <ion-chip class="call-note" (click)="setNoteType(3)" [class.selected-note-type]="note-type==3">
          <ion-icon name="call-outline"></ion-icon>
          <ion-label>Call</ion-label>
        </ion-chip>

        <ion-chip class="health-note" (click)="setNoteType(4)" [class.selected-note-type]="note-type==4">
          <ion-icon name="document-outline"></ion-icon>
          <ion-icon class="health-plus-icon" name="add-outline"></ion-icon>
          <ion-label>Health Note</ion-label>
        </ion-chip>

        <ion-chip class="observation-note" (click)="setNoteType(5)" [class.selected-note-type]="note-type==5">
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>Observation Note</ion-label>
        </ion-chip>

      </ion-col> -->

      <ion-col class="opt-label" size="12">
        <ion-label>Add note<span class="asterisk">*</span></ion-label>
      </ion-col>

      <ion-col size="12">

        <ion-textarea rows="6" placeholder="Write notes here" [(ngModel)]="note"></ion-textarea>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col class="opt-label" size="12">
        <ion-label>Event date & time</ion-label>
      </ion-col>

      <ion-col size="12">

        <span class="rv-event-dt-picker-box">
          <ion-datetime mode="md"   displayFormat=" DD MMM YYYY, hh:mm A" placeholder="Please select date & time"
             [(ngModel)]="date">
          </ion-datetime>
          <ion-icon name="time-outline"></ion-icon>
        </span>

      </ion-col>

    </ion-row>

    <ion-row *ngIf="details&&details.contract_details&&details.contract_details.all_residents&&details.contract_details.all_residents.length>1">

      <ion-item lines="none" color="none" class="rv-companion-note-box">
      
        <ion-label class="custom-label1 cl-1">Add for {{getCompanian(details.contract_details.all_residents,id)}} </ion-label>

        <ion-toggle [(ngModel)]="add_for_all" [checked]="add_for_all==1" (ionChange)="change($event)">
        </ion-toggle>
        
      </ion-item>
    </ion-row>

    <ion-row  (click)="selectImage()" >

      <ion-col size="12" class="d-flex-ai-center">

        <ion-icon name="attach-outline" class="add-img-icon"></ion-icon>

        <ion-label class="add-img-label">Add images</ion-label>

      </ion-col>

    </ion-row>

    <ion-row class="uploaded-images-container" *ngIf="imageResponse.length">

      <ion-col size="3" class="col_fit uploaded-data" *ngFor="let img of imageResponse;let i=index">

        <ion-thumbnail class="uploaded-image">
          <img [src]="img">
          <ion-icon name="close-circle" class="remove-img" (click)="removeImg(i)"></ion-icon>
        </ion-thumbnail>

      </ion-col>


    </ion-row>

  </ion-grid>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="publish-btn" (click)="addNote()">
       Add Note
    </ion-button>
  </ion-toolbar>
</ion-footer>