ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.uploaded-images-container {
    margin-top: 20px;

    ion-col {
        margin-right: 15px;
        margin-bottom: 20px;
    }
}

.uploaded-data {
    margin: 10px;

    .uploaded-image {
        width: 72px;
        height: 72px;
        position: relative;
        border: 1px solid #e4e4e4;
        border-radius: 6px;

        img {
            border-radius: 6px;
        }

        .remove-img {
            position: absolute;
            top: -13px;
            right: -10px;
            z-index: 999;
            font-size: 25px;
            color: #c30009;
            background: #fff;
            border-radius: 50px;
        }
    }
}

.add-img-icon {
    float: left;
    font-size: 28px;
    color: #0077b5;
    vertical-align: middle;
    transform: rotate(45deg);
}

.add-img-label {
    float: left;
    margin-left: 10px;
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #222;
}

.publish-btn {
    text-transform: capitalize;
    height: 45px;
    --border-radius: 50px;
    --background: #0077B5;
    font-size: 18px;
    font-weight: 400;
    --box-shadow: none;
    max-width: fit-content;
    margin: 10px auto;
    display: block;
}

ion-textarea {
    background: #f3f3f3 !important;
    color: #252525 !important;
}

ion-datetime {
    background: #f3f3f3 !important;
    color: #858585 !important;
}

.opt-label {
    // font-family: "Open Sans", sans-serif !important;
    font-family: "Roboto", sans-serif !important;
}

.rv-companion-note-box {
    --padding-start: 5px;
    --inner-padding-end: 5px;
    align-items: center;
    display: flex;
    width: 100%;


    ion-checkbox {
        vertical-align: middle;
        --border-radius: 6px;
        --border-color: #fff;
        --background: #e6e6e6;
        --background-checked: #0077b5;
        --border-color-checked: #0077b5;
        width: 32px;
        height: 32px;
    }

    ion-label {
        font-family: "Roboto", sans-serif !important;
        font-size: 15px;
        color:#252525;
        margin-left: 5px;
        padding-right: 5px;
    }

    ion-toggle {
        --background: #c8cfda;
        --background-checked: #dcf3ff;
        --handle-background-checked: #0077b5;
        --handle-width: 20px;
        --handle-height: 20px;
        --handle-spacing: 3px;
        --handle-background: #ffffff;
        padding: 0;
        width: 55px;
        height: 28px;
        margin-right: 1px;
        margin-left: auto;
    }
}

ion-footer {
    background: #fff;
}

.footer-ios {
    padding-bottom: 0 !important;
}