<ion-content>

  <div class="din-alertmodal-container">

    <ion-button class="modal-close-btn" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>


    <img class="copy-previouschoice-icon" src="/assets/dining/copy-previous-choice-icon.svg">

    <p class="cpc-info">
      Are you sure you want to select the same choice for this menu period as you choose in the previous menu period.
    </p>

    <div class="din-notes">
      <ion-label>PN: </ion-label>
      <ion-label class="ml-5">
         Any current selections made
        will be overridden
      </ion-label>
    </div>

    <div class="din-modal-btn-box">

      <ion-button class="din-modal-continue-btn" [routerLink]="['/dining-menu-change']"> Continue </ion-button>

      <ion-button class="din-modal-cancel-btn"> Cancel </ion-button>

    </div>


  </div>

</ion-content>