ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 0px;
}

.din-alertmodal-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    .copy-previouschoice-icon {
        width: 150px;
        height: 100px;
    }

    .cpc-info {
        color: #FF8000;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #d9d9d9;
    }

    .din-notes {
        font-size: 16px;
        line-height: 20px;
        display: flex;
    }
}

ion-button.modal-close-btn.ios.button.button-solid.ion-activatable.ion-focusable.hydrated {
    top: 45px;
}