<!-- <ion-item style="margin-top: 15px;" lines="none" (click)="select (item)" *ngFor="let item of group">
  <ion-label class="act_filter">{{item.name}}</ion-label>
</ion-item>

<hr class="filter_sep"> -->

<ion-header mode="md" class="ion-header-inner">
  
  <ion-toolbar color="none" lines="none" class="no-border">

    <ion-grid>

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-start page-name" size="8">
          <ion-label>Select group</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-end page-close" (click)="dismiss()">
          <ion-icon name="close-circle"></ion-icon>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-toolbar>

</ion-header>

<div class="inner-content">

  <ion-item class="act-res-group-item" lines="none" color="none" (click)="select (item)" *ngFor="let item of group">
    <ion-label class="act-res-group-name">{{item.name}}</ion-label>
  </ion-item>

</div>