<!-- <ion-item style="margin-top: 15px;" lines="none" (click)="select (item)" *ngFor="let item of group">
  <ion-label class="act_filter">{{item.name}}</ion-label>
</ion-item>

<hr class="filter_sep"> -->

<!-- <ion-header mode="md" class="ion-header-inner">
  
  <ion-toolbar color="none" lines="none" class="no-border">

      <ion-row class="display-space-between">

        <ion-col class="col-fit ion-align-self-center page-name" size="8">
          <ion-label>Select group</ion-label>
        </ion-col>

        <ion-col class="col-fit ion-align-self-center page-close" (click)="dismiss()">
          <ion-icon name="close-circle"></ion-icon>
        </ion-col>

      </ion-row>

  </ion-toolbar>

</ion-header> -->

<ion-header mode="md" class="ion-header-inner">

  <ion-grid>

    <ion-row>

      <ion-col size-sm="12" size-md="12" size-lg="12" size="12" class="page_title">

        <ion-text>Select group</ion-text>

      </ion-col>

      <ion-icon class="page-close-btn" name="close-circle-sharp" (click)="dismiss()"></ion-icon>

    </ion-row>

  </ion-grid>

</ion-header>

<div class="inner-content">

  <ion-item class="act-res-group-item" lines="none" color="none" (click)="select (item)" *ngFor="let item of group">
    <ion-label class="act-res-group-name">{{item.name}}</ion-label>
  </ion-item>

</div>