// .ion-header-inner {
//     min-height: auto !important;

//     ion-toolbar {
//         --min-height: auto !important;

//         .page-name {

//             ion-label {
//                 font-size: 17px;
//             }
            
//         }

//         .page-close {
//             min-height: 32px;
//             max-height: 35px;
//             display: flex;
//             align-items: center;

//             ion-icon {
//                 font-size: 30px;
//                 color: #fff;
//             }
//         }
//     }
// }

ion-header {
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    position: relative;
    padding: 10px 10px 10px;

    ion-grid {
        ion-row {
            position: relative;

            .page_title {
                font-family: "Roboto", sans-serif !important;
                font-size: 18px !important;
                // font-weight: 500 !important;

                ion-icon {
                    vertical-align: middle;
                    font-size: 25px;
                }

                ion-text {
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }

            .page-close-btn {
                font-size: 32px;
                color: #fff;
                vertical-align: middle;
                position: absolute;
                right: 5px;
                top: -4px;
            }
        }
    }
}

ion-content {
    --background: #f1f1f1;
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
}

.inner-content {
    background: #f1f1f1;
    padding: 15px;
}

.act-res-group-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --min-height: auto;
    background: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 15px;
    min-height: 50px;
    display: flex;
    align-items: center;

    .act-res-group-name {
        font-size: 15px;
        color: #000;
    }
}

.header-ios {
    padding-top: 15px !important;
}   