ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-checkbox {
  --border-radius: 50px;
}

.consumer-info-container ion-col:nth-child(3) {
  padding-left: 15px !important;
}
