ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-checkbox {
    width: 25px;
    height: 25px;
    --border-radius: 50px;
    --border-width: 0px;
    --background: #e5e5e5;
    --checkmark-width: 2;
    --background-checked: #0077b5;
}


.consumer-info-container {
    ion-col:nth-child(3) {
        padding-left: 15px !important;
    }
}

.ai-status-label {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 15px;
    display: block;
}

ion-footer {
    ion-toolbar {
        .cb-footer-btns {
            .cb-continue-btn {
                ion-label {
                    color: #fff;
                }
            }

            .cb-cancel-btn {
                ion-label {
                    color: #5e5e5e;
                }
            }
        }
    }
}